<h2>Austen Word Frequency Form Test</h2>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#one" aria-controls="home" role="tab" data-toggle="tab">Pride and Prejudice</a>
  </li>
  <li role="presentation">
    <a href="#two" aria-controls="settings" role="tab" data-toggle="tab">Persuasion</a>
  </li>
  <li role="presentation">
    <a href="#three" aria-controls="messages" role="tab" data-toggle="tab">Northanger Abbey</a>
  </li>
  <li role="presentation">
    <a href="#four" aria-controls="settings" role="tab" data-toggle="tab">Sense and Sensibility</a>
  </li>
  <li role="presentation">
    <a href="#five" aria-controls="settings" role="tab" data-toggle="tab">Emma</a>
  </li>
  <li role="presentation">
    <a href="#six" aria-controls="profile" role="tab" data-toggle="tab">Mansfield Park</a>
  </li>
</ul>

<div class="tab-content">

  <div class="panel-group tab-pane active" id="one" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingZero">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
            Characters
          </a>
        </h4>
      </div>
      <div id="collapseZero" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingZero">
        <div class="panel-body">
          <a class="btn btn-default" onclick="myFunction()" role="button">Mr. Bennet</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Mrs. Bennet</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Jane Bennet</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Elizabeth Bennet</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Mary Bennet</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Lydia Bennet</a>
          
          <a class="btn btn-default" onclick="myFunction()" role="button">Kitty Bennet</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Charlotte Lucas</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Lady Lucas</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Sir William Lucas</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Maria Lucas</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Mr. Darcy</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Mr. Bingley</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Miss Bingley</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Mrs. Hurst</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Mr. Hurst</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Mr. Collins</a>
          
          <a class="btn btn-default" onclick="myFunction()" role="button">Mr. Wickham</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Mr. Gardiner</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Mrs. Gardiner</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Colonel Fitzwilliam</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Mrs. Reynolds</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Character Type
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <a class="btn btn-default" onclick="myFunction()" role="button">cad</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">fool</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">heir</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">hero</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">narrator</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">neutral</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Sex
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <a class="btn btn-default" onclick="myFunction()" role="button">female</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">male</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Marriage Status
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <a class="btn btn-default" onclick="myFunction()" role="button">married</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">mda</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">unmarried</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">widowed</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Class Status
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
          <a class="btn btn-default" onclick="myFunction()" role="button">apothecary</a>
            <a class="btn btn-default" onclick="myFunction()" role="button">aristocrat</a>
            <a class="btn btn-default" onclick="myFunction()" role="button">gentry</a>
            <a class="btn btn-default" onclick="myFunction()" role="button">landed gentry</a>
            <a class="btn btn-default" onclick="myFunction()" role="button">professional class</a>
            <a class="btn btn-default" onclick="myFunction()" role="button">working class</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            Character Narrations
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator</a>
          <a class="btn btn-default" onclick="myFunction2()" role="button">Narrator as Mr. Bennet</a>
          <a class="btn btn-default" onclick="myFunction3()" role="button">Narrator as Mrs. Bennet</a>
          <a class="btn btn-default" onclick="myFunction4()" role="button">Narrator as Jane Bennet</a>
          <a class="btn btn-default" onclick="myFunction5()" role="button">Narrator as Elizabeth Bennet</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Mary Bennet</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Lydia Bennet</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Kitty Bennet</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Charlotte Lucas</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Lady Lucas</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Sir William Lucas</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Maria Lucas</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Mr. Darcy</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Mr. Bingley</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Miss Bingley</a>
          <a class="btn btn-default" onclick="myFunction()" role="button">Narrator as Mrs. Hurst</a>
        </div>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="two">
    
  </div><!-- /tab-pane two -->
  <div role="tabpanel" class="tab-pane" id="three">
    
  </div><!-- /tab-pane three -->
  <div role="tabpanel" class="tab-pane" id="four">
    
  </div><!-- /tab-pane four -->
  <div role="tabpanel" class="tab-pane" id="five">
    
  </div><!-- /tab-pane five -->
  <div role="tabpanel" class="tab-pane" id="six">
    
  </div><!-- /tab-pane six -->


    <script>
      $(document).ready(function() {
        var container = $(".text-display-container");
        var textarea_num = 0;
        var max_textareas = 3;
        $("#add-thing").click(function() {
          removeExtraTextareas(function() {
            var textarea = newTextArea(textarea_num).hide();
            container.append(textarea);
            textarea.show(600);
            textarea_num++;
          });
        });

        function removeExtraTextareas(onRemoved) {
          var things = $(".frequency_text");
          if (things.length >= max_textareas ) {
            things.first().hide(600, function() {
              things.first().remove();
              onRemoved();
            });
          } else {
            onRemoved();
          }
        };

        function newTextArea(number) {
          var textarea = $('<textarea id="textarea_'+number+'" class="frequency_text" readonly=true rows=12></textarea>');
          var sampleText = "listened\reagerly\rran\robserving\rbow\rdrove\rembarrassment\rfinished\rhall\rpronounced\rthrew\rwhisper\rexclaimed\rprotested\rrelieved\rwarmth\rapproach\rblushed\rcoffee\rglance\rrose\rsucceeded\raccompanied\racross\ragitation"
          textarea.append("Austen Frequency " + number + "\r" + sampleText);
          return textarea;
        };
      });
    </script>

    <button id="add-thing">Click to add more textual goodness</button>

    <h3>Austen Frequency Stuff</h3>
    <div class="text-display-container">
    </div>
  </div>