

     
    
        

                <h3>Chapter 29</h3>

                <p>
                    <span id="said_no_01925" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Before the house-maid had
                        lit their fire the next day, or the sun gained any power over a cold, gloomy
                        morning in January, Marianne, only half dressed, was kneeling against one of
                        the window-seats for the sake of all the little light she could command from
                        it, and writing as fast as a continual flow of tears would permit her. In
                        this situation, Elinor, roused from sleep by her agitation and sobs, first
                        perceived her; and after observing her for a few moments with silent
                        anxiety, said, in a tone of the most considerate gentleness,</span>
                </p>

                <p>
                    <span id="said_no_01926" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Marianne, may I
                        ask-?"</span>
                </p>

                <p>
                    
                        <span id="said_no_01927" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"No, Elinor,"</span>
                        <span id="said_no_01928" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she replied,</span>
                        <span id="said_no_01929" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top"> "ask nothing; you will
                            soon know all."</span>
                    
                </p>

                <p>
                    <span id="said_no_01930" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The sort of desperate
                        calmness with which this was said, lasted no longer than while she spoke,
                        and was immediately followed by a return of the same excessive affliction.
                        It was some minutes before she could go on with her letter, and the frequent
                        bursts of grief which still obliged her, at intervals, to withhold her pen,
                        were proofs enough of her feeling how more than probable it was that she was
                        writing for the last time to Willoughby.</span>
                </p>

                <p>
                    <span id="said_no_01931" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor paid her every quiet
                        and unobtrusive attention in her power; and she would have tried to sooth
                        and tranquilize her still more, had not</span>
                    <span id="said_no_01932" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne entreated
                        her,</span>
                    <span id="said_no_01933" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">with all the eagerness of
                        the most nervous irritability,</span>
                    <span id="said_no_01934" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_mari" data-placement="auto top">not to speak to her
                        for the world.</span>
                    <span id="said_no_01935" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">In such circumstances, it
                        was better for both that they should not be long together; and the restless
                        state of Marianne's mind not only prevented her from remaining in the room a
                        moment after she was dressed, but requiring at once solitude and continual
                        change of place, made her wander about the house till breakfast time,
                        avoiding the sight of every body.</span>
                </p>

                <p>
                    <span id="said_no_01936" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">At breakfast she neither
                        ate, nor attempted to eat any thing; and Elinor's attention was then all
                        employed, not in urging her, not in pitying her, nor in appearing to regard
                        her, but in endeavouring to engage Mrs. Jennings's notice entirely to
                        herself.</span>
                </p>

                <p>
                    <span id="said_no_01937" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">As this was a favourite meal
                        with Mrs. Jennings, it lasted a considerable time, and they were just
                        setting themselves, after it, round the common working table, when a letter
                        was delivered to Marianne, which she eagerly caught from the servant, and,
                        turning of a death-like paleness, instantly ran out of the room. Elinor, who
                        saw as plainly by this, as if she had seen the direction, that</span>
                    <span id="said_no_01938" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">it must come from
                        Willoughby,</span>
                    <span id="said_no_01939" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">felt immediately such a
                        sickness at heart as made her hardly able to hold up her head, and sat in
                        such a general tremour as made her fear it impossible to escape Mrs.
                        Jennings's notice. That good lady, however, saw only that Marianne had
                        received a letter from Willoughby, which appeared to her a very good joke,
                        and which she treated accordingly,</span>
                    <span id="said_no_01940" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_jenn" data-placement="auto top">by hoping,</span>
                    <span id="said_no_01941" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">with a laugh, that</span>
                    <span id="said_no_01942" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_jenn" data-placement="auto top">she would find it to
                        her liking.</span>
                    <span id="said_no_01943" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Of Elinor's distress, she
                        was too busily employed in measuring lengths of worsted for her rug, to see
                        any thing at all; and calmly continuing her talk, as soon as Marianne
                        disappeared, she said,</span>
                </p>

                <p>
                    <span id="said_no_01944" class="said" data-toggle="tooltip" title="Mrs Jennings" data-placement="auto top">"Upon my word, I never saw a
                        young woman so desperately in love in my life! MY girls were nothing to her,
                        and yet they used to be foolish enough; but as for Miss Marianne, she is
                        quite an altered creature. I hope, from the bottom of my heart, he won't
                        keep her waiting much longer, for it is quite grievous to see her look so
                        ill and forlorn. Pray, when are they to be married?"</span>
                </p>

                <p>
                    <span id="said_no_01945" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor, though never less
                        disposed to speak than at that moment, obliged herself to answer such an
                        attack as this, and, therefore, trying to smile, replied,</span>
                    <span id="said_no_01946" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"And have you really, Ma'am,
                        talked yourself into a persuasion of my sister's being engaged to Mr.
                        Willoughby? I thought it had been only a joke, but so serious a question
                        seems to imply more; and I must beg, therefore, that you will not deceive
                        yourself any longer. I do assure you that nothing would surprise me more
                        than to hear of their being going to be married."</span>
                </p>

                <p>
                    <span id="said_no_01947" class="said" data-toggle="tooltip" title="Mrs Jennings" data-placement="auto top">"For shame, for shame, Miss
                        Dashwood! how can you talk so? Don't we all know that it must be a match,
                        that they were over head and ears in love with each other from the first
                        moment they met? Did not I see them together in Devonshire every day, and
                        all day long; and did not I know that your sister came to town with me on
                        purpose to buy wedding clothes? Come, come, this won't do. Because you are
                        so sly about it yourself, you think nobody else has any senses; but it is no
                        such thing, I can tell you, for it has been known all over town this ever so
                        long. I tell every body of it and so does Charlotte."</span>
                </p>

                <p>
                    
                        <span id="said_no_01948" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Indeed, Ma'am," </span>
                        <span id="said_no_01949" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor, very
                            seriously,</span>
                        <span id="said_no_01950" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "you are mistaken.
                            Indeed, you are doing a very unkind thing in spreading the report, and
                            you will find that you have though you will not believe me now."</span>
                    
                </p>

                <p>
                    <span id="said_no_01951" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Jennings laughed again,
                        but Elinor had not spirits to say more, and eager at all events to know what
                        Willoughby had written, hurried away to their room, where, on opening the
                        door, she saw Marianne stretched on the bed, almost choked by grief, one
                        letter in her hand, and two or three others laying by her. Elinor drew near,
                        but without saying a word; and seating herself on the bed, took her hand,
                        kissed her affectionately several times, and then gave way to a burst of
                        tears, which at first was scarcely less violent than Marianne's. The latter,
                        though unable to speak, seemed to feel all the tenderness of this behaviour,
                        and after some time thus spent in joint affliction, she put all the letters
                        into Elinor's hands; and then covering her face with her handkerchief,
                        almost screamed with agony. Elinor, who knew that such grief, shocking as it
                        was to witness it, must have its course, watched by her till this excess of
                        suffering had somewhat spent itself, and then turning eagerly to
                        Willoughby's letter, read as follows:</span>
                </p>

                <p>
                    <span id="said_no_01952" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"Bond Street, January.<br></br>
                        "MY DEAR MADAM,</span>
                </p>

                <p>
                    <span id="said_no_01953" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"I have just had the honour
                        of receiving your letter, for which I beg to return my sincere
                        acknowledgments. I am much concerned to find there was anything in my
                        behaviour last night that did not meet your approbation; and though I am
                        quite at a loss to discover in what point I could be so unfortunate as to
                        offend you, I entreat your forgiveness of what I can assure you to have been
                        perfectly unintentional. I shall never reflect on my former acquaintance
                        with your family in Devonshire without the most grateful pleasure, and
                        flatter myself it will not be broken by any mistake or misapprehension of my
                        actions. My esteem for your whole family is very sincere; but if I have been
                        so unfortunate as to give rise to a belief of more than I felt, or meant to
                        express, I shall reproach myself for not having been more guarded in my
                        professions of that esteem. That I should ever have meant more you will
                        allow to be impossible, when you understand that my affections have been
                        long engaged elsewhere, and it will not be many weeks, I believe, before
                        this engagement is fulfilled. It is with great regret that I obey your
                        commands in returning the letters with which I have been honoured from you,
                        and the lock of hair, which you so obligingly bestowed on me.</span>
                </p>

                <p>
                    <span id="said_no_01954" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"I am, dear Madam, "Your
                        most obedient "humble servant, "JOHN WILLOUGHBY."</span>
                </p>

                <p>
                    <span id="said_no_01955" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">With what indignation such a
                        letter as this must be read by Miss Dashwood, may be imagined. Though aware,
                        before she began it, that it must bring a confession of his inconstancy, and
                        confirm their separation for ever, she was not aware that such language
                        could be suffered to announce it;</span>
                    <span id="said_no_01956" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">nor could she have
                        supposed</span>
                    <span id="said_no_01957" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">Willoughby capable of
                        departing so far from the appearance of every honourable and delicate
                        feeling — so far from the common decorum of a gentleman, as to send a
                        letter so impudently cruel: a letter which, instead of bringing with his
                        desire of a release any professions of regret, acknowledged no breach of
                        faith, denied all peculiar affection whatever — a letter of which
                        every line was an insult, and which proclaimed its writer to be deep in
                        hardened villainy.</span>
                </p>

                <p>
                    <span id="said_no_01958" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She paused over it for some
                        time with indignant astonishment; then read it again and again; but every
                        perusal only served to increase her abhorrence of the man, and so bitter
                        were her feelings against him, that she dared not trust herself to speak,
                        lest she might wound Marianne still deeper by treating their disengagement,
                        not as a loss to her of any possible good but as an escape from the worst
                        and most irremediable of all evils, a connection, for life, with an
                        unprincipled man, as a deliverance the most real, a blessing the most
                        important.</span>
                </p>

                <p>
                    <span id="said_no_01959" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">In her earnest meditations
                        on the contents of the letter, on the depravity of that mind which could
                        dictate it, and probably, on the very different mind of a very different
                        person, who had no other connection whatever with the affair than what her
                        heart gave him with every thing that passed, Elinor forgot the immediate
                        distress of her sister, forgot that she had three letters on her lap yet
                        unread, and so entirely forgot how long she had been in the room, that when
                        on hearing a carriage drive up to the door, she went to the window to see
                        who could be coming so unreasonably early, she was all astonishment to
                        perceive Mrs. Jennings's chariot, which she knew had not been ordered till
                        one. Determined not to quit Marianne, though hopeless of contributing, at
                        present, to her ease, she hurried away to excuse herself from attending Mrs.
                        Jennings, on account of her sister being indisposed. Mrs. Jennings, with a
                        thoroughly good-humoured concern for its cause, admitted the excuse most
                        readily, and Elinor, after seeing her safe off, returned to Marianne, whom
                        she found attempting to rise from the bed, and whom she reached just in time
                        to prevent her from falling on the floor, faint and giddy from a long want
                        of proper rest and food; for it was many days since she had any appetite,
                        and many nights since she had really slept; and now, when her mind was no
                        longer supported by the fever of suspense, the consequence of all this was
                        felt in an aching head, a weakened stomach, and a general nervous faintness.
                        A glass of wine, which Elinor procured for her directly, made her more
                        comfortable, and she was at last able to express some sense of her kindness,
                        by saying,</span>
                </p>

                <p>
                    <span id="said_no_01960" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Poor Elinor! how unhappy I
                        make you!"</span>
                </p>

                <p>
                    
                        <span id="said_no_01961" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I only wish,"</span>
                        <span id="said_no_01962" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied her
                            sister,</span>
                        <span id="said_no_01963" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"there were any thing I
                            COULD do, which might be of comfort to you."</span>
                    
                </p>

                <p>
                    <span id="said_no_01964" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">This, as every thing else
                        would have been, was too much for Marianne, who could only exclaim, in the
                        anguish of her heart,</span>
                    <span id="said_no_01965" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Oh! Elinor, I am miserable,
                        indeed,"</span>
                    <span id="said_no_01966" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">before her voice was
                        entirely lost in sobs.</span>
                </p>

                <p>
                    <span id="said_no_01967" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor could no longer
                        witness this torrent of unresisted grief in silence.</span>
                </p>

                <p>
                    
                        <span id="said_no_01968" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Exert yourself, dear
                            Marianne," </span>
                        <span id="said_no_01969" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she cried,</span>
                        <span id="said_no_01970" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"if you would not kill
                            yourself and all who love you. Think of your mother; think of her misery
                            while YOU suffer: for her sake you must exert yourself."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01971" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"I cannot, I cannot," </span>
                        <span id="said_no_01972" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Marianne;</span>
                        <span id="said_no_01973" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"leave me, leave me, if
                            I distress you; leave me, hate me, forget me! but do not torture me so.
                            Oh! how easy for those, who have no sorrow of their own to talk of
                            exertion! Happy, happy Elinor, YOU cannot have an idea of what I
                            suffer."</span>
                    
                </p>

                <p>
                    <span id="said_no_01974" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Do you call ME happy,
                        Marianne? Ah! if you knew! — And can you believe me to be so, while I
                        see you so wretched!"</span>
                </p>

                <p>
                    
                        <span id="said_no_01975" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Forgive me, forgive
                            me," </span>
                        <span id="said_no_01976" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">throwing her arms round
                            her sister's neck;</span>
                        <span id="said_no_01977" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"I know you feel for me;
                            I know what a heart you have; but yet you are — you must be happy;
                            Edward loves you — what, oh what, can do away such happiness as
                            that?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01978" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Many, many circumstances," </span>
                    <span id="said_no_01979" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor,
                        solemnly.</span>
                </p>

                <p>
                    
                        <span id="said_no_01980" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"No, no, no,"</span>
                        <span id="said_no_01981" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Marianne
                            wildly,</span>
                        <span id="said_no_01982" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"he loves you, and only
                            you. You CAN have no grief."</span>
                    
                </p>

                <p>
                    <span id="said_no_01983" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I can have no pleasure while
                        I see you in this state."</span>
                </p>

                <p>
                    <span id="said_no_01984" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"And you will never see me
                        otherwise. Mine is a misery which nothing can do away."</span>
                </p>

                <p>
                    <span id="said_no_01985" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"You must not talk so,
                        Marianne. Have you no comforts? no friends? Is your loss such as leaves no
                        opening for consolation? Much as you suffer now, think of what you would
                        have suffered if the discovery of his character had been delayed to a later
                        period — if your engagement had been carried on for months and months,
                        as it might have been, before he chose to put an end to it. Every additional
                        day of unhappy confidence, on your side, would have made the blow more
                        dreadful."</span>
                </p>

                <p>
                    
                        <span id="said_no_01986" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Engagement!"</span>
                        <span id="said_no_01987" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Marianne,</span>
                        <span id="said_no_01988" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"there has been no
                            engagement."</span>
                    
                </p>

                <p>
                    <span id="said_no_01989" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"No engagement!"</span>
                </p>

                <p>
                    <span id="said_no_01990" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"No, he is not so unworthy
                        as you believe him. He has broken no faith with me."</span>
                </p>

                <p>
                    <span id="said_no_01991" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"But he told you that he
                        loved you."</span>
                </p>

                <p>
                    <span id="said_no_01992" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Yes — no —
                        never absolutely. It was every day implied, but never professedly declared.
                        Sometimes I thought it had been — but it never was."</span>
                </p>

                <p>
                    <span id="said_no_01993" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Yet you wrote to him?"
                        — </span>
                </p>

                <p>
                    <span id="said_no_01994" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Yes — could that be
                        wrong after all that had passed? — But I cannot talk."</span>
                </p>

                <p>
                    <span id="said_no_01995" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor said no more, and
                        turning again to the three letters which now raised a much stronger
                        curiosity than before, directly ran over the contents of all. The first,
                        which was what her sister had sent him on their arrival in town, was to this
                        effect.</span>
                </p>

                <p>
                    <span id="said_no_01996" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">Berkeley Street,
                        January.</span>
                </p>

                <p>
                    <span id="said_no_01997" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"How surprised you will be,
                        Willoughby, on receiving this; and I think you will feel something more than
                        surprise, when you know that I am in town. An opportunity of coming hither,
                        though with Mrs. Jennings, was a temptation we could not resist. I wish you
                        may receive this in time to come here to-night, but I will not depend on it.
                        At any rate I shall expect you to-morrow. For the present, adieu.</span>
                </p>

                <p>
                    <span id="said_no_01998" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"M.D."</span>
                </p>

                <p>
                    <span id="said_no_01999" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Her second note, which had
                        been written on the morning after the dance at the Middletons', was in these
                        words: —</span>
                </p>

                <p>
                    <span id="said_no_02000" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"I cannot express my
                        disappointment in having missed you the day before yesterday, nor my
                        astonishment at not having received any answer to a note which I sent you
                        above a week ago. I have been expecting to hear from you, and still more to
                        see you, every hour of the day. Pray call again as soon as possible, and
                        explain the reason of my having expected this in vain. You had better come
                        earlier another time, because we are generally out by one. We were last
                        night at Lady Middleton's, where there was a dance. I have been told that
                        you were asked to be of the party. But could it be so? You must be very much
                        altered indeed since we parted, if that could be the case, and you not
                        there. But I will not suppose this possible, and I hope very soon to receive
                        your personal assurance of its being otherwise.</span>
                </p>

                <p>
                    <span id="said_no_02001" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"M.D."</span>
                </p>

                <p>
                    <span id="said_no_02002" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The contents of her last
                        note to him were these: —</span>
                </p>

                <p>
                    <span id="said_no_02003" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"What am I to imagine,
                        Willoughby, by your behaviour last night? Again I demand an explanation of
                        it. I was prepared to meet you with the pleasure which our separation
                        naturally produced, with the familiarity which our intimacy at Barton
                        appeared to me to justify. I was repulsed indeed! I have passed a wretched
                        night in endeavouring to excuse a conduct which can scarcely be called less
                        than insulting; but though I have not yet been able to form any reasonable
                        apology for your behaviour, I am perfectly ready to hear your justification
                        of it. You have perhaps been misinformed, or purposely deceived, in
                        something concerning me, which may have lowered me in your opinion. Tell me
                        what it is, explain the grounds on which you acted, and I shall be
                        satisfied, in being able to satisfy you. It would grieve me indeed to be
                        obliged to think ill of you; but if I am to do it, if I am to learn that you
                        are not what we have hitherto believed you, that your regard for us all was
                        insincere, that your behaviour to me was intended only to deceive, let it be
                        told as soon as possible. My feelings are at present in a state of dreadful
                        indecision; I wish to acquit you, but certainty on either side will be ease
                        to what I now suffer. If your sentiments are no longer what they were, you
                        will return my notes, and the lock of my hair which is in your
                        possession.</span>
                </p>

                <p>
                    <span id="said_no_02004" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"M.D."</span>
                </p>

                <p>
                    <span id="said_no_02005" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">That such letters, so full
                        of affection and confidence, could have been so answered, Elinor, for
                        Willoughby's sake, would have been unwilling to believe. But her
                        condemnation of him did not blind her to the impropriety of their having
                        been written at all; and she was silently grieving over the imprudence which
                        had hazarded such unsolicited proofs of tenderness, not warranted by
                        anything preceding, and most severely condemned by the event, when Marianne,
                        perceiving that she had finished the letters,</span>
                    <span id="said_no_02006" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">observed to her that</span>
                    <span id="said_no_02007" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_mari" data-placement="auto top">they contained
                        nothing but what any one would have written in the same situation.</span>
                </p>

                <p>
                    
                        <span id="said_no_02008" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"I felt myself," </span>
                        <span id="said_no_02009" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she added,</span>
                        <span id="said_no_02010" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"to be as solemnly
                            engaged to him, as if the strictest legal covenant had bound us to each
                            other."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02011" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I can believe it," </span>
                        <span id="said_no_02012" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor;</span>
                        <span id="said_no_02013" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"but unfortunately he did
                            not feel the same."</span>
                    
                </p>

                <p>
                    <span id="said_no_02014" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"He DID feel the same,
                        Elinor — for weeks and weeks he felt it. I know he did. Whatever may
                        have changed him now, (and nothing but the blackest art employed against me
                        can have done it), I was once as dear to him as my own soul could wish. This
                        lock of hair, which now he can so readily give up, was begged of me with the
                        most earnest supplication. Had you seen his look, his manner, had you heard
                        his voice at that moment! Have you forgot the last evening of our being
                        together at Barton? The morning that we parted too! When</span>
                    <span id="said_no_02015" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">he told me that</span>
                    <span id="said_no_02016" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Marianne Dashwood speaking as Willoughby" data-placement="auto top">it might be many
                        weeks before we met again —</span>
                    <span id="said_no_02017" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">his distress — can I
                        ever forget his distress?"</span>
                </p>

                <p>
                    <span id="said_no_02018" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">For a moment or two she
                        could say no more; but when this emotion had passed away, she added, in a
                        firmer tone,</span>
                </p>

                <p>
                    <span id="said_no_02019" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Elinor, I have been cruelly
                        used; but not by Willoughby."</span>
                </p>

                <p>
                    <span id="said_no_02020" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Dearest Marianne, who but
                        himself? By whom can he have been instigated?"</span>
                </p>

                <p>
                    <span id="said_no_02021" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"By all the world, rather
                        than by his own heart. I could rather believe every creature of my
                        acquaintance leagued together to ruin me in his opinion, than believe his
                        nature capable of such cruelty. This woman of whom he writes — whoever
                        she be — or any one, in short, but your own dear self, mama, and
                        Edward, may have been so barbarous to bely me. Beyond you three, is there a
                        creature in the world whom I would not rather suspect of evil than
                        Willoughby, whose heart I know so well?"</span>
                </p>

                <p>
                    <span id="said_no_02022" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor would not contend,
                        and only replied,</span>
                    <span id="said_no_02023" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Whoever may have been so
                        detestably your enemy, let them be cheated of their malignant triumph, my
                        dear sister, by seeing how nobly the consciousness of your own innocence and
                        good intentions supports your spirits. It is a reasonable and laudable pride
                        which resists such malevolence."</span>
                </p>

                <p>
                    
                        <span id="said_no_02024" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"No, no," </span>
                        <span id="said_no_02025" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Marianne,</span>
                        <span id="said_no_02026" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"misery such as mine has
                            no pride. I care not who knows that I am wretched. The triumph of seeing
                            me so may be open to all the world. Elinor, Elinor, they who suffer
                            little may be proud and independent as they like — may resist
                            insult, or return mortification — but I cannot. I must feel
                            — I must be wretched — and they are welcome to enjoy the
                            consciousness of it that can."</span>
                    
                </p>

                <p>
                    <span id="said_no_02027" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"But for my mother's sake and
                        mine — "</span>
                </p>

                <p>
                    <span id="said_no_02028" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"I would do more than for my
                        own. But to appear happy when I am so miserable — Oh! who can require
                        it?"</span>
                </p>

                <p>
                    <span id="said_no_02029" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Again they were both silent.
                        Elinor was employed in walking thoughtfully from the fire to the window,
                        from the window to the fire, without knowing that she received warmth from
                        one, or discerning objects through the other; and Marianne, seated at the
                        foot of the bed, with her head leaning against one of its posts, again took
                        up Willoughby's letter, and, after shuddering over every sentence, exclaimed
                        — </span>
                </p>

                <p>
                    
                        <span id="said_no_02030" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"It is too much! Oh,
                            Willoughby, Willoughby, could this be yours! Cruel, cruel —
                            nothing can acquit you. Elinor, nothing can. Whatever he might have
                            heard against me — ought he not to have suspended his belief?
                            ought he not to have told me of it, to have given me the power of
                            clearing myself?</span>
                        <span id="said_no_02031" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Marianne Dashwood speaking as Willoughby" data-placement="auto top">'The lock of
                            hair, </span>
                        <span id="said_no_02032" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">(repeating it from the
                            letter,)</span>
                        <span id="said_no_02033" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Marianne Dashwood speaking as Willoughby" data-placement="auto top"> which you so
                            obligingly bestowed on me'</span>
                        <span id="said_no_02034" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">— That is
                            unpardonable. Willoughby, where was your heart when you wrote those
                            words? Oh, barbarously insolent! — Elinor, can he be
                            justified?"</span>
                    
                </p>

                <p>
                    <span id="said_no_02035" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"No, Marianne, in no possible
                        way."</span>
                </p>

                <p>
                    <span id="said_no_02036" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"And yet this woman —
                        who knows what her art may have been? — how long it may have been
                        premeditated, and how deeply contrived by her! — Who is she? —
                        Who can she be? — Whom did I ever hear him talk of as young and
                        attractive among his female acquaintance? — Oh! no one, no one —
                        he talked to me only of myself."</span>
                </p>

                <p>
                    <span id="said_no_02037" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Another pause ensued;
                        Marianne was greatly agitated, and it ended thus.</span>
                </p>

                <p>
                    <span id="said_no_02038" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Elinor, I must go home. I
                        must go and comfort mama. Can not we be gone to-morrow?"</span>
                </p>

                <p>
                    <span id="said_no_02039" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"To-morrow, Marianne!"</span>
                </p>

                <p>
                    <span id="said_no_02040" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Yes, why should I stay
                        here? I came only for Willoughby's sake — and now who cares for me?
                        Who regards me?"</span>
                </p>

                <p>
                    <span id="said_no_02041" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"It would be impossible to go
                        to-morrow. We owe Mrs. Jennings much more than civility; and civility of the
                        commonest kind must prevent such a hasty removal as that."</span>
                </p>

                <p>
                    <span id="said_no_02042" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Well then, another day or
                        two, perhaps; but I cannot stay here long, I cannot stay to endure the
                        questions and remarks of all these people. The Middletons and Palmers
                        — how am I to bear their pity? The pity of such a woman as Lady
                        Middleton! Oh, what would HE say to that!"</span>
                </p>

                <p>
                    <span id="said_no_02043" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor advised her to lie
                        down again, and for a moment she did so; but no attitude could give her
                        ease; and in restless pain of mind and body she moved from one posture to
                        another, till growing more and more hysterical, her sister could with
                        difficulty keep her on the bed at all, and for some time was fearful of
                        being constrained to call for assistance. Some lavender drops, however,
                        which she was at length persuaded to take, were of use; and from that time
                        till Mrs. Jennings returned, she continued on the bed quiet and
                        motionless.</span>
                </p>
            
    <div class="footnotes"> </div>
