

     
    
        

                <h3>Chapter 13</h3>

                <p>
                    <span id="said_no_00512" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Their intended excursion to
                        Whitwell turned out very different from what Elinor had expected. She was
                        prepared to be wet through, fatigued, and frightened; but the event was
                        still more unfortunate, for they did not go at all.</span>
                </p>

                <p>
                    <span id="said_no_00513" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">By ten o'clock the whole
                        party was assembled at the park, where they were to breakfast. The morning
                        was rather favourable, though it had rained all night, as the clouds were
                        then dispersing across the sky, and the sun frequently appeared. They were
                        all in high spirits and good humour, eager to be happy, and determined to
                        submit to the greatest inconveniences and hardships rather than be
                        otherwise.</span>
                </p>

                <p>
                    <span id="said_no_00514" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">While they were at breakfast
                        the letters were brought in. Among the rest there was one for Colonel
                        Brandon; — he took it, looked at the direction, changed colour, and
                        immediately left the room.</span>
                </p>

                <p>
                    <span id="said_no_00515" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"What is the matter with
                        Brandon?" </span>
                    <span id="said_no_00516" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Sir John.</span>
                </p>

                <p>
                    <span id="said_no_00517" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Nobody could tell.</span>
                </p>

                <p>
                    
                        <span id="said_no_00518" class="said" data-toggle="tooltip" title="Lady Middleton" data-placement="auto top">"I hope he has had no
                            bad news," </span>
                        <span id="said_no_00519" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Lady
                            Middleton.</span>
                        <span id="said_no_00520" class="said" data-toggle="tooltip" title="Lady Middleton" data-placement="auto top"> "It must be something
                            extraordinary that could make Colonel Brandon leave my breakfast table
                            so suddenly."</span>
                    
                </p>

                <p>
                    <span id="said_no_00521" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">In about five minutes he
                        returned.</span>
                </p>

                <p>
                    <span id="said_no_00522" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"No bad news, Colonel, I
                        hope;" </span>
                    <span id="said_no_00523" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Mrs. Jennings, as soon
                        as he entered the room.</span>
                </p>

                <p>
                    <span id="said_no_00524" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"None at all, ma'am, I thank
                        you."</span>
                </p>

                <p>
                    <span id="said_no_00525" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"Was it from Avignon? I hope
                        it is not to say that your sister is worse."</span>
                </p>

                <p>
                    <span id="said_no_00526" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"No, ma'am. It came from
                        town, and is merely a letter of business."</span>
                </p>

                <p>
                    <span id="said_no_00527" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"But how came the hand to
                        discompose you so much, if it was only a letter of business? Come, come,
                        this won't do, Colonel; so let us hear the truth of it."</span>
                </p>

                <p>
                    
                        <span id="said_no_00528" class="said" data-toggle="tooltip" title="Lady Middleton" data-placement="auto top">"My dear madam," </span>
                        <span id="said_no_00529" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Lady
                            Middleton,</span>
                        <span id="said_no_00530" class="said" data-toggle="tooltip" title="Lady Middleton" data-placement="auto top">"recollect what you are
                            saying."</span>
                    
                </p>

                <p>
                    <span id="said_no_00531" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"Perhaps it is to tell you
                        that your cousin Fanny is married?"</span>
                    <span id="said_no_00532" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs. Jennings, without
                        attending to her daughter's reproof.</span>
                </p>

                <p>
                    <span id="said_no_00533" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"No, indeed, it is
                        not."</span>
                </p>

                <p>
                    <span id="said_no_00534" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"Well, then, I know who it
                        is from, Colonel. And I hope she is well."</span>
                </p>

                <p>
                    <span id="said_no_00535" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"Whom do you mean, ma'am?" </span>
                    <span id="said_no_00536" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said he, colouring a
                        little.</span>
                </p>

                <p>
                    <span id="said_no_00537" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"Oh! you know who I
                        mean."</span>
                </p>

                <p>
                    
                        <span id="said_no_00538" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"I am particularly
                            sorry, ma'am," </span>
                        <span id="said_no_00539" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said he, addressing
                            Lady Middleton,</span>
                        <span id="said_no_00540" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top"> "that I should receive
                            this letter today, for it is on business which requires my immediate
                            attendance in town."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00541" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"In town!" </span>
                        <span id="said_no_00542" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Mrs.
                            Jennings.</span>
                        <span id="said_no_00543" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top"> "What can you have to
                            do in town at this time of year?"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00544" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"My own loss is
                            great,"</span>
                        <span id="said_no_00545" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">he continued, </span>
                        <span id="said_no_00546" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"in being obliged to
                            leave so agreeable a party; but I am the more concerned, as I fear my
                            presence is necessary to gain your admittance at Whitwell."</span>
                    
                </p>

                <p>
                    <span id="said_no_00547" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">What a blow upon them all
                        was this!</span>
                </p>

                <p>
                    
                        <span id="said_no_00548" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"But if you write a note
                            to the housekeeper, Mr. Brandon," </span>
                        <span id="said_no_00549" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Marianne,
                            eagerly,</span>
                        <span id="said_no_00550" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top"> "will it not be
                            sufficient?"</span>
                    
                </p>

                <p>
                    <span id="said_no_00551" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">He shook his head.</span>
                </p>

                <p>
                    
                        <span id="said_no_00552" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"We must go," </span>
                        <span id="said_no_00553" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Sir
                            John.—</span>
                        <span id="said_no_00554" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top"> "It shall not be put
                            off when we are so near it. You cannot go to town till tomorrow,
                            Brandon, that is all."</span>
                    
                </p>

                <p>
                    <span id="said_no_00555" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"I wish it could be so
                        easily settled. But it is not in my power to delay my journey for one
                        day!"</span>
                </p>

                <p>
                    
                        <span id="said_no_00556" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"If you would but let us
                            know what your business is," </span>
                        <span id="said_no_00557" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs. Jennings, </span>
                        <span id="said_no_00558" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"we might see whether it
                            could be put off or not."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00559" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"You would not be six
                            hours later," </span>
                        <span id="said_no_00560" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Willoughby,</span>
                        <span id="said_no_00561" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"if you were to defer
                            your journey till our return."</span>
                    
                </p>

                <p>
                    <span id="said_no_00562" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"I cannot afford to lose ONE
                        hour." —</span>
                </p>

                <p>
                    <span id="said_no_00563" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor then heard Willoughby
                        say, in a low voice to Marianne, </span>
                    <span id="said_no_00564" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"There are some people who
                        cannot bear a party of pleasure. Brandon is one of them. He was afraid of
                        catching cold I dare say, and invented this trick for getting out of it. I
                        would lay fifty guineas the letter was of his own writing."</span>
                </p>

                <p>
                    <span id="said_no_00565" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"I have no doubt of it," </span>
                    <span id="said_no_00566" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Marianne.</span>
                </p>

                <p>
                    
                        <span id="said_no_00567" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"There is no persuading
                            you to change your mind, Brandon, I know of old," </span>
                        <span id="said_no_00568" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Sir John,</span>
                        <span id="said_no_00569" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top"> "when once you are
                            determined on anything. But, however, I hope you will think better of
                            it. Consider, here are the two Miss Careys come over from Newton, the
                            three Miss Dashwoods walked up from the cottage, and Mr. Willoughby got
                            up two hours before his usual time, on purpose to go to
                            Whitwell."</span>
                    
                </p>

                <p>
                    <span id="said_no_00570" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Colonel Brandon again
                        repeated his sorrow at being the cause of disappointing the party; but at
                        the same time declared it to be unavoidable.</span>
                </p>

                <p>
                    <span id="said_no_00571" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Well, then, when will you
                        come back again?"</span>
                </p>

                <p>
                    
                        <span id="said_no_00572" class="said" data-toggle="tooltip" title="Lady Middleton" data-placement="auto top">"I hope we shall see
                            you at Barton,"</span>
                        <span id="said_no_00573" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">added her
                            ladyship,</span>
                        <span id="said_no_00574" class="said" data-toggle="tooltip" title="Lady Middleton" data-placement="auto top">"as soon as you can
                            conveniently leave town; and we must put off the party to Whitwell till
                            you return."</span>
                    
                </p>

                <p>
                    <span id="said_no_00575" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"You are very obliging. But
                        it is so uncertain, when I may have it in my power to return, that I dare
                        not engage for it at all."</span>
                </p>

                <p>
                    
                        <span id="said_no_00576" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Oh! he must and shall
                            come back," </span>
                        <span id="said_no_00577" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> cried Sir John.</span>
                        <span id="said_no_00578" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top"> "If he is not here by
                            the end of the week, I shall go after him."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00579" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"Ay, so do, Sir John," </span>
                        <span id="said_no_00580" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Mrs.
                            Jennings,</span>
                        <span id="said_no_00581" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top"> "and then perhaps you
                            may find out what his business is."</span>
                    
                </p>

                <p>
                    <span id="said_no_00582" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"I do not want to pry into
                        other men's concerns. I suppose it is something he is ashamed of."</span>
                </p>

                <p>
                    <span id="said_no_00583" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Colonel Brandon's horses
                        were announced.</span>
                </p>

                <p>
                    <span id="said_no_00584" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"You do not go to town on
                        horseback, do you?" </span>
                    <span id="said_no_00585" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">added Sir John.</span>
                </p>

                <p>
                    <span id="said_no_00586" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"No. Only to Honiton. I
                        shall then go post."</span>
                </p>

                <p>
                    <span id="said_no_00587" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Well, as you are resolved
                        to go, I wish you a good journey. But you had better change your
                        mind."</span>
                </p>

                <p>
                    <span id="said_no_00588" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"I assure you it is not in
                        my power."</span>
                </p>

                <p>
                    <span id="said_no_00589" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">He then took leave of the
                        whole party.</span>
                </p>

                <p>
                    <span id="said_no_00590" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"Is there no chance of my
                        seeing you and your sisters in town this winter, Miss Dashwood?"</span>
                </p>

                <p>
                    <span id="said_no_00591" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I am afraid, none at
                        all."</span>
                </p>

                <p>
                    <span id="said_no_00592" class="said" data-toggle="tooltip" title="Colonel Brandon" data-placement="auto top">"Then I must bid you
                        farewell for a longer time than I should wish to do."</span>
                </p>

                <p>
                    <span id="said_no_00593" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">To Marianne, he merely bowed
                        and said nothing.</span>
                </p>

                <p>
                    
                        <span id="said_no_00594" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"Come Colonel," </span>
                        <span id="said_no_00595" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs.
                            Jennings,</span>
                        <span id="said_no_00596" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top"> "before you go, do let
                            us know what you are going about."</span>
                    
                </p>

                <p>
                    <span id="said_no_00597" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">He wished her a good
                        morning, and, attended by Sir John, left the room.</span>
                </p>

                <p>
                    <span id="said_no_00598" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The complaints and
                        lamentations which politeness had hitherto restrained, now burst forth
                        universally; and they all agreed again and again how provoking it was to be
                        so disappointed.</span>
                </p>

                <p>
                    <span id="said_no_00599" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"I can guess what his
                        business is, however," </span>
                    <span id="said_no_00600" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs. Jennings
                        exultingly.</span>
                </p>

                <p>
                    <span id="said_no_00601" class="said" data-toggle="tooltip" title="&#34;Almost everybody&#34;" data-placement="auto top">"Can you,
                        ma'am?"</span>
                    <span id="said_no_00602" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said almost every
                        body.</span>
                </p>

                <p>
                    <span id="said_no_00603" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"Yes; it is about Miss
                        Williams, I am sure."</span>
                </p>

                <p>
                    <span id="said_no_00604" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"And who is Miss
                        Williams?"</span>
                    <span id="said_no_00605" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">asked Marianne.</span>
                </p>

                <p>
                    
                        <span id="said_no_00606" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"What! do not you know
                            who Miss Williams is? I am sure you must have heard of her before. She
                            is a relation of the Colonel's, my dear; a very near relation. We will
                            not say how near, for fear of shocking the young ladies."</span>
                        <span id="said_no_00607" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Then, lowering her voice
                            a little, she said to Elinor,</span>
                        <span id="said_no_00608" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top"> "She is his natural
                            daughter." </span>
                    
                </p>

                <p>
                    <span id="said_no_00609" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Indeed!"</span>
                </p>

                <p>
                    <span id="said_no_00610" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"Oh, yes; and as like him as
                        she can stare. I dare say the Colonel will leave her all his
                        fortune."</span>
                </p>

                <p>
                    <span id="said_no_00611" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">When Sir John returned, </span>
                    <span id="said_no_00612" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">he joined most heartily in
                        the general regret on so unfortunate an event;</span>
                    <span id="said_no_00613" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> concluding</span>
                    <span id="said_no_00614" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">however by observing,</span>
                    <span id="said_no_00615" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">that</span>
                    <span id="said_no_00616" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_sirj" data-placement="auto top">as they were all got
                        together, they must do something by way of being happy;</span>
                    <span id="said_no_00617" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and after some consultation
                        it was agreed, that although happiness could only be enjoyed at Whitwell,
                        they might procure a tolerable composure of mind by driving about the
                        country. The carriages were then ordered; Willoughby's was first, and
                        Marianne never looked happier than when she got into it. He drove through
                        the park very fast, and they were soon out of sight; and nothing more of
                        them was seen till their return, which did not happen till after the return
                        of all the rest. They both seemed delighted with their drive; but said only
                        in general terms that they had kept in the lanes, while the others went on
                        the downs.</span>
                </p>

                <p>
                    <span id="said_no_00618" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">It was settled that there
                        should be a dance in the evening, and that every body should be extremely
                        merry all day long. Some more of the Careys came to dinner, and they had the
                        pleasure of sitting down nearly twenty to table, which Sir John observed
                        with great contentment. Willoughby took his usual place between the two
                        elder Miss Dashwoods. Mrs. Jennings sat on Elinor's right hand; and they had
                        not been long seated, before she leant behind her and Willoughby, and said
                        to Marianne, loud enough for them both to hear,</span>
                    <span id="said_no_00619" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"I have found you out in
                        spite of all your tricks. I know where you spent the morning."</span>
                </p>

                <p>
                    <span id="said_no_00620" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> Marianne coloured, and
                        replied very hastily,</span>
                    <span id="said_no_00621" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Where, pray?"—</span>
                </p>

                <p>
                    
                        <span id="said_no_00622" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"Did not you know," </span>
                        <span id="said_no_00623" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Willoughby,</span>
                        <span id="said_no_00624" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"that we had been out in
                            my curricle?"</span>
                    
                </p>

                <p>
                    <span id="said_no_00625" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"Yes, yes, Mr. Impudence, I
                        know that very well, and I was determined to find out WHERE you had been to.
                        — I hope you like your house, Miss Marianne. It is a very large one, I
                        know; and when I come to see you, I hope you will have new-furnished it, for
                        it wanted it very much when I was there six years ago."</span>
                </p>

                <p>
                    <span id="said_no_00626" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne turned away in
                        great confusion. Mrs. Jennings laughed heartily; and Elinor found that in
                        her resolution to know where they had been, she had actually made her own
                        woman enquire of Mr. Willoughby's groom; and that she had by that method
                        been informed that they had gone to Allenham, and spent a considerable time
                        there in walking about the garden and going all over the house.</span>
                </p>

                <p>
                    <span id="said_no_00627" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor could hardly believe
                        this to be true, as it seemed very unlikely that Willoughby should propose,
                        or Marianne consent, to enter the house while Mrs. Smith was in it, with
                        whom Marianne had not the smallest acquaintance.</span>
                </p>

                <p>
                    <span id="said_no_00628" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">As soon as they left the
                        dining-room, Elinor enquired of her about it; and great was her surprise
                        when she found that every circumstance related by Mrs. Jennings was
                        perfectly true. Marianne was quite angry with her for doubting it.</span>
                </p>

                <p>
                    <span id="said_no_00629" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Why should you imagine,
                        Elinor, that we did not go there, or that we did not see the house? Is not
                        it what you have often wished to do yourself?"</span>
                </p>

                <p>
                    <span id="said_no_00630" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Yes, Marianne, but I would
                        not go while Mrs. Smith was there, and with no other companion than Mr.
                        Willoughby."</span>
                </p>

                <p>
                    <span id="said_no_00631" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Mr. Willoughby however is
                        the only person who can have a right to shew that house; and as he went in
                        an open carriage, it was impossible to have any other companion. I never
                        spent a pleasanter morning in my life."</span>
                </p>

                <p>
                    
                        <span id="said_no_00632" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I am afraid," </span>
                        <span id="said_no_00633" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> replied Elinor,</span>
                        <span id="said_no_00634" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"that the pleasantness of
                            an employment does not always evince its propriety."</span>
                    
                </p>

                <p>
                    <span id="said_no_00635" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"On the contrary, nothing
                        can be a stronger proof of it, Elinor; for if there had been any real
                        impropriety in what I did, I should have been sensible of it at the time,
                        for we always know when we are acting wrong, and with such a conviction I
                        could have had no pleasure."</span>
                </p>

                <p>
                    <span id="said_no_00636" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"But, my dear Marianne, as it
                        has already exposed you to some very impertinent remarks, do you not now
                        begin to doubt the discretion of your own conduct?"</span>
                </p>

                <p>
                    <span id="said_no_00637" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"If the impertinent remarks
                        of Mrs. Jennings are to be the proof of impropriety in conduct, we are all
                        offending every moment of our lives. I value not her censure any more than I
                        should do her commendation. I am not sensible of having done anything wrong
                        in walking over Mrs. Smith's grounds, or in seeing her house. They will one
                        day be Mr. Willoughby's, and —"</span>
                </p>

                <p>
                    <span id="said_no_00638" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"If they were one day to be
                        your own, Marianne, you would not be justified in what you have
                        done."</span>
                </p>

                <p>
                    <span id="said_no_00639" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She blushed at this hint;
                        but it was even visibly gratifying to her; and after a ten minutes' interval
                        of earnest thought, she came to her sister again, and said with great good
                        humour,</span>
                    <span id="said_no_00640" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Perhaps, Elinor, it WAS
                        rather ill-judged in me to go to Allenham; but Mr. Willoughby wanted
                        particularly to shew me the place; and it is a charming house, I assure you.
                        — There is one remarkably pretty sitting room up stairs; of a nice
                        comfortable size for constant use, and with modern furniture it would be
                        delightful. It is a corner room, and has windows on two sides. On one side
                        you look across the bowling-green, behind the house, to a beautiful hanging
                        wood, and on the other you have a view of the church and village, and,
                        beyond them, of those fine bold hills that we have so often admired. I did
                        not see it to advantage, for nothing could be more forlorn than the
                        furniture, — but if it were newly fitted up — a couple of
                        hundred pounds, Willoughby says, would make it one of the pleasantest
                        summer-rooms in England."</span>
                </p>

                <p>
                    <span id="said_no_00641" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Could Elinor have listened
                        to her without interruption from the others, she would have described every
                        room in the house with equal delight.</span>
                </p>
            
    <div class="footnotes"> </div>
