

     
    
        

                <h3>Chapter 19</h3>


                <p>
                    <span id="said_no_01005" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Edward remained a week at
                        the cottage; he was earnestly pressed by Mrs. Dashwood to stay longer; but,
                        as if he were bent only on self-mortification, he seemed resolved to be gone
                        when his enjoyment among his friends was at the height. His spirits, during
                        the last two or three days, though still very unequal, were greatly improved
                        — he grew more and more partial to the house and environs —
                        never spoke of going away without a sigh — declared his time to be
                        wholly disengaged — even doubted to what place he should go when he
                        left them — but still, go he must. Never had any week passed so
                        quickly — he could hardly believe it to be gone. He said so
                        repeatedly; other things he said too, which marked the turn of his feelings
                        and gave the lie to his actions.</span>
                    <span id="said_no_01006" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_edw" data-placement="auto top">He had no pleasure at
                        Norland; he detested being in town;</span>
                    <span id="said_no_01007" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">but either to Norland or
                        London, he must go.</span>
                    <span id="said_no_01008" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_edw" data-placement="auto top">He valued their
                        kindness beyond any thing, and his greatest happiness was in being with
                        them.</span>
                    <span id="said_no_01009" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Yet, he must leave them at
                        the end of a week, in spite of their wishes and his own, and without any
                        restraint on his time.</span>
                </p>

                <p>
                    <span id="said_no_01010" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor placed all that was
                        astonishing in this way of acting to his mother's account; and it was happy
                        for her that he had a mother whose character was so imperfectly known to
                        her, as to be the general excuse for every thing strange on the part of her
                        son. Disappointed, however, and vexed as she was, and sometimes displeased
                        with his uncertain behaviour to herself, she was very well disposed on the
                        whole to regard his actions with all the candid allowances and generous
                        qualifications, which had been rather more painfully extorted from her, for
                        Willoughby's service, by her mother. His want of spirits, of openness, and
                        of consistency, were most usually attributed to his want of independence,
                        and his better knowledge of Mrs. Ferrars's disposition and designs. The
                        shortness of his visit, the steadiness of his purpose in leaving them,
                        originated in the same fettered inclination, the same inevitable necessity
                        of temporizing with his mother. The old well-established grievance of duty
                        against will, parent against child, was the cause of all. She would have
                        been glad to know when these difficulties were to cease, this opposition was
                        to yield, — when Mrs. Ferrars would be reformed, and her son be at
                        liberty to be happy. But from such vain wishes she was forced to turn for
                        comfort to the renewal of her confidence in Edward's affection, to the
                        remembrance of every mark of regard in look or word which fell from him
                        while at Barton, and above all to that flattering proof of it which he
                        constantly wore round his finger.</span>
                </p>

                <p>
                    
                        <span id="said_no_01011" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"I think, Edward," </span>
                        <span id="said_no_01012" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Mrs. Dashwood, as
                            they were at breakfast the last morning,</span>
                        <span id="said_no_01013" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top"> "you would be a happier
                            man if you had any profession to engage your time and give an interest
                            to your plans and actions. Some inconvenience to your friends, indeed,
                            might result from it — you would not be able to give them so much
                            of your time. But </span>
                        <span id="said_no_01014" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> (with a smile)</span>
                        <span id="said_no_01015" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top"> you would be materially
                            benefited in one particular at least — you would know where to go
                            when you left them."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01016" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"I do assure you," </span>
                        <span id="said_no_01017" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> he replied,</span>
                        <span id="said_no_01018" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top"> "that I have long
                            thought on this point, as you think now. It has been, and is, and
                            probably will always be a heavy misfortune to me, that I have had no
                            necessary business to engage me, no profession to give me employment, or
                            afford me any thing like independence. But unfortunately my own nicety,
                            and the nicety of my friends, have made me what I am, an idle, helpless
                            being. We never could agree in our choice of a profession. I always
                            preferred the church, as I still do. But that was not smart enough for
                            my family. They recommended the army. That was a great deal too smart
                            for me. The law was allowed to be genteel enough; many young men, who
                            had chambers in the Temple, made a very good appearance in the first
                            circles, and drove about town in very knowing gigs. But I had no
                            inclination for the law, even in this less abstruse study of it, which
                            my family approved. As for the navy, it had fashion on its side, but I
                            was too old when the subject was first started to enter it — and,
                            at length, as there was no necessity for my having any profession at
                            all, as I might be as dashing and expensive without a red coat on my
                            back as with one, idleness was pronounced on the whole to be most
                            advantageous and honourable, and a young man of eighteen is not in
                            general so earnestly bent on being busy as to resist the solicitations
                            of his friends to do nothing. I was therefore entered at Oxford and have
                            been properly idle ever since."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01019" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"The consequence of
                            which, I suppose, will be,"</span>
                        <span id="said_no_01020" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Mrs.
                            Dashwood,</span>
                        <span id="said_no_01021" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"since leisure has not
                            promoted your own happiness, that your sons will be brought up to as
                            many pursuits, employments, professions, and trades as
                            Columella's."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01022" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"They will be brought
                            up," </span>
                        <span id="said_no_01023" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said he, in a serious
                            accent,</span>
                        <span id="said_no_01024" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top"> "to be as unlike myself
                            as is possible. In feeling, in action, in condition, in every
                            thing."</span>
                    
                </p>

                <p>
                    <span id="said_no_01025" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"Come, come; this is all an
                        effusion of immediate want of spirits, Edward. You are in a melancholy
                        humour, and fancy that any one unlike yourself must be happy. But remember
                        that the pain of parting from friends will be felt by every body at times,
                        whatever be their education or state. Know your own happiness. You want
                        nothing but patience — or give it a more fascinating name, call it
                        hope. Your mother will secure to you, in time, that independence you are so
                        anxious for; it is her duty, and it will, it must ere long become her
                        happiness to prevent your whole youth from being wasted in discontent. How
                        much may not a few months do?"</span>
                </p>

                <p>
                    
                        <span id="said_no_01026" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"I think,"</span>
                        <span id="said_no_01027" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> replied Edward,</span>
                        <span id="said_no_01028" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top"> "that I may defy many
                            months to produce any good to me."</span>
                    
                </p>

                <p>
                    <span id="said_no_01029" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">This desponding turn of
                        mind, though it could not be communicated to Mrs. Dashwood, gave additional
                        pain to them all in the parting, which shortly took place, and left an
                        uncomfortable impression on Elinor's feelings especially, which required
                        some trouble and time to subdue. But as it was her determination to subdue
                        it, and to prevent herself from appearing to suffer more than what all her
                        family suffered on his going away, she did not adopt the method so
                        judiciously employed by Marianne, on a similar occasion, to augment and fix
                        her sorrow, by seeking silence, solitude and idleness. Their means were as
                        different as their objects, and equally suited to the advancement of
                        each.</span>
                </p>

                <p>
                    <span id="said_no_01030" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor sat down to her
                        drawing-table as soon as he was out of the house, busily employed herself
                        the whole day, neither sought nor avoided the mention of his name, appeared
                        to interest herself almost as much as ever in the general concerns of the
                        family, and if, by this conduct, she did not lessen her own grief, it was at
                        least prevented from unnecessary increase, and her mother and sisters were
                        spared much solicitude on her account.</span>
                </p>

                <p>
                    <span id="said_no_01031" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Such behaviour as this, so
                        exactly the reverse of her own, appeared no more meritorious to Marianne,
                        than her own had seemed faulty to her. The business of self-command she
                        settled very easily; —</span>
                    <span id="said_no_01032" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_mari" data-placement="auto top">with strong
                        affections it was impossible, with calm ones it could have no merit.</span>
                    <span id="said_no_01033" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">That her sister's affections
                        WERE calm, she dared not deny, though she blushed to acknowledge it; and of
                        the strength of her own, she gave a very striking proof, by still loving and
                        respecting that sister, in spite of this mortifying conviction.</span>
                </p>

                <p>
                    <span id="said_no_01034" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Without shutting herself up
                        from her family, or leaving the house in determined solitude to avoid them,
                        or lying awake the whole night to indulge meditation, Elinor found every day
                        afforded her leisure enough to think of Edward, and of Edward's behaviour,
                        in every possible variety which the different state of her spirits at
                        different times could produce, — with tenderness, pity, approbation,
                        censure, and doubt. There were moments in abundance, when, if not by the
                        absence of her mother and sisters, at least by the nature of their
                        employments, conversation was forbidden among them, and every effect of
                        solitude was produced. Her mind was inevitably at liberty; her thoughts
                        could not be chained elsewhere; and the past and the future, on a subject so
                        interesting, must be before her, must force her attention, and engross her
                        memory, her reflection, and her fancy.</span>
                </p>

                <p>
                    <span id="said_no_01035" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">From a reverie of this kind,
                        as she sat at her drawing-table, she was roused one morning, soon after
                        Edward's leaving them, by the arrival of company. She happened to be quite
                        alone. The closing of the little gate, at the entrance of the green court in
                        front of the house, drew her eyes to the window, and she saw a large party
                        walking up to the door. Amongst them were Sir John and Lady Middleton and
                        Mrs. Jennings, but there were two others, a gentleman and lady, who were
                        quite unknown to her. She was sitting near the window, and as soon as Sir
                        John perceived her, he left the rest of the party to the ceremony of
                        knocking at the door, and stepping across the turf, obliged her to open the
                        casement to speak to him, though the space was so short between the door and
                        the window, as to make it hardly possible to speak at one without being
                        heard at the other.</span>
                </p>

                <p>
                    
                        <span id="said_no_01036" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Well," </span>
                        <span id="said_no_01037" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said he,</span>
                        <span id="said_no_01038" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"we have brought you
                            some strangers. How do you like them?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01039" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Hush! they will hear
                        you."</span>
                </p>

                <p>
                    <span id="said_no_01040" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Never mind if they do. It
                        is only the Palmers. Charlotte is very pretty, I can tell you. You may see
                        her if you look this way."</span>
                </p>

                <p>
                    <span id="said_no_01041" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">As Elinor was certain of
                        seeing her in a couple of minutes, without taking that liberty, she begged
                        to be excused.</span>
                </p>

                <p>
                    <span id="said_no_01042" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Where is Marianne? Has she
                        run away because we are come? I see her instrument is open."</span>
                </p>

                <p>
                    <span id="said_no_01043" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"She is walking, I
                        believe."</span>
                </p>

                <p>
                    <span id="said_no_01044" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">They were now joined by Mrs.
                        Jennings, who had not patience enough to wait till the door was opened
                        before she told HER story. She came hallooing to the window,</span>
                    <span id="said_no_01045" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"How do you do, my dear? How
                        does Mrs. Dashwood do? And where are your sisters? What! all alone! you will
                        be glad of a little company to sit with you. I have brought my other son and
                        daughter to see you. Only think of their coming so suddenly! I thought I
                        heard a carriage last night, while we were drinking our tea, but it never
                        entered my head that it could be them. I thought of nothing but whether it
                        might not be Colonel Brandon come back again; so I said to Sir John, I do
                        think I hear a carriage; perhaps it is Colonel Brandon come back again"
                        —</span>
                </p>

                <p>
                    <span id="said_no_01046" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor was obliged to turn
                        from her, in the middle of her story, to receive the rest of the party; Lady
                        Middleton introduced the two strangers; Mrs. Dashwood and Margaret came down
                        stairs at the same time, and they all sat down to look at one another, while
                        Mrs. Jennings continued her story as she walked through the passage into the
                        parlour, attended by Sir John.</span>
                </p>

                <p>
                    <span id="said_no_01047" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Palmer was several
                        years younger than Lady Middleton, and totally unlike her in every respect.
                        She was short and plump, had a very pretty face, and the finest expression
                        of good humour in it that could possibly be. Her manners were by no means so
                        elegant as her sister's, but they were much more prepossessing. She came in
                        with a smile, smiled all the time of her visit, except when she laughed, and
                        smiled when she went away. Her husband was a grave looking young man of five
                        or six and twenty, with an air of more fashion and sense than his wife, but
                        of less willingness to please or be pleased. He entered the room with a look
                        of self-consequence, slightly bowed to the ladies, without speaking a word,
                        and, after briefly surveying them and their apartments, took up a newspaper
                        from the table, and continued to read it as long as he staid.</span>
                </p>

                <p>
                    <span id="said_no_01048" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Palmer, on the
                        contrary, who was strongly endowed by nature with a turn for being uniformly
                        civil and happy, was hardly seated before her admiration of the parlour and
                        every thing in it burst forth.</span>
                </p>

                <p>
                    
                        <span id="said_no_01049" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Well! what a delightful
                            room this is! I never saw anything so charming! Only think, Mama, how it
                            is improved since I was here last! I always thought it such a sweet
                            place, ma'am! </span>
                        <span id="said_no_01050" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> (turning to Mrs.
                            Dashwood)</span>
                        <span id="said_no_01051" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">but you have made it so
                            charming! Only look, sister, how delightful every thing is! How I should
                            like such a house for myself! Should not you, Mr. Palmer?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01052" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mr. Palmer made her no
                        answer, and did not even raise his eyes from the newspaper.</span>
                </p>

                <p>
                    
                        <span id="said_no_01053" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Mr. Palmer does not
                            hear me," </span>
                        <span id="said_no_01054" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said she, laughing; </span>
                        <span id="said_no_01055" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"he never does
                            sometimes. It is so ridiculous!"</span>
                    
                </p>

                <p>
                    <span id="said_no_01056" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">This was quite a new idea to
                        Mrs. Dashwood; she had never been used to find wit in the inattention of any
                        one, and could not help looking with surprise at them both.</span>
                </p>

                <p>
                    <span id="said_no_01057" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Jennings, in the
                        meantime, talked on as loud as she could, and continued her account of their
                        surprise, the evening before, on seeing their friends, without ceasing till
                        every thing was told. Mrs. Palmer laughed heartily at the recollection of
                        their astonishment, and</span>
                    <span id="said_no_01058" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">every body agreed,</span>
                    <span id="said_no_01059" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">two or three times over,
                        that</span>
                    <span id="said_no_01060" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_all" data-placement="auto top">it had been quite an
                        agreeable surprise.</span>
                </p>

                <p>
                    
                        <span id="said_no_01061" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"You may believe how
                            glad we all were to see them," </span>
                        <span id="said_no_01062" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> added Mrs. Jennings,
                            leaning forward towards Elinor, and speaking in a low voice as if she
                            meant to be heard by no one else, though they were seated on different
                            sides of the room;</span>
                        <span id="said_no_01063" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"but, however, I can't
                            help wishing they had not travelled quite so fast, nor made such a long
                            journey of it, for they came all round by London upon account of some
                            business, for you know </span>
                        <span id="said_no_01064" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">(nodding significantly
                            and pointing to her daughter)</span>
                        <span id="said_no_01065" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">it was wrong in her
                            situation. I wanted her to stay at home and rest this morning, but she
                            would come with us; she longed so much to see you all!"</span>
                    
                </p>

                <p>
                    <span id="said_no_01066" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Palmer</span>
                    <span id="said_no_01067" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">laughed, and</span>
                    <span id="said_no_01068" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said</span>
                    <span id="said_no_01069" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_mrsp" data-placement="auto top">it would not do her
                        any harm.</span>
                </p>

                <p>
                    <span id="said_no_01070" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"She expects to be confined
                        in February," </span>
                    <span id="said_no_01071" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> continued Mrs.
                        Jennings.</span>
                </p>

                <p>
                    <span id="said_no_01072" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Lady Middleton could no
                        longer endure such a conversation, and therefore exerted herself to ask Mr.
                        Palmer</span>
                    <span id="said_no_01073" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_ladym" data-placement="auto top">if there was any
                        news in the paper.</span>
                </p>

                <p>
                    <span id="said_no_01074" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top">"No, none at all,"</span>
                    <span id="said_no_01075" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> he replied, and read
                        on.</span>
                </p>

                <p>
                    
                        <span id="said_no_01076" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Here comes
                            Marianne,"</span>
                        <span id="said_no_01077" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> cried Sir John.</span>
                        <span id="said_no_01078" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top"> "Now, Palmer, you shall
                            see a monstrous pretty girl."</span>
                    
                </p>

                <p>
                    <span id="said_no_01079" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">He immediately went into the
                        passage, opened the front door, and ushered her in himself.</span>
                    <span id="said_no_01080" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Jennings asked
                        her,</span>
                    <span id="said_no_01081" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">as soon as she
                        appeared,</span>
                    <span id="said_no_01082" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_jenn" data-placement="auto top">if she had not been
                        to Allenham;</span>
                    <span id="said_no_01083" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and Mrs. Palmer laughed so
                        heartily at the question, as to show she understood it. Mr. Palmer looked up
                        on her entering the room, stared at her some minutes, and then returned to
                        his newspaper. Mrs. Palmer's eye was now caught by the drawings which hung
                        round the room. She got up to examine them.</span>
                </p>

                <p>
                    <span id="said_no_01084" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Oh! dear, how beautiful
                        these are! Well! how delightful! Do but look, mama, how sweet! I declare
                        they are quite charming; I could look at them for ever." </span>
                    <span id="said_no_01085" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> And then sitting down
                        again, she very soon forgot that there were any such things in the
                        room.</span>
                </p>

                <p>
                    <span id="said_no_01086" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">When Lady Middleton rose to
                        go away, Mr. Palmer rose also, laid down the newspaper, stretched himself
                        and looked at them all around.</span>
                </p>

                <p>
                    <span id="said_no_01087" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"My love, have you been
                        asleep?"</span>
                    <span id="said_no_01088" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said his wife,
                        laughing.</span>
                </p>

                <p>
                    <span id="said_no_01089" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">He</span>
                    <span id="said_no_01090" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">made her no answer; and
                        only</span>
                    <span id="said_no_01091" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">observed,</span>
                    <span id="said_no_01092" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">after again examining the
                        room,</span>
                    <span id="said_no_01093" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">that</span>
                    <span id="said_no_01094" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_mrp" data-placement="auto top">it was very low
                        pitched, and that the ceiling was crooked.</span>
                    <span id="said_no_01095" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">He then made his bow, and
                        departed with the rest.</span>
                </p>

                <p>
                    <span id="said_no_01096" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Sir John had been very
                        urgent with them all to spend the next day at the park. Mrs. Dashwood, who
                        did not chuse to dine with them oftener than they dined at the cottage,
                        absolutely refused on her own account;</span>
                    <span id="said_no_01097" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_mrsd" data-placement="auto top">her daughters might
                        do as they pleased.</span>
                    <span id="said_no_01098" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">But they had no curiosity to
                        see how Mr. and Mrs. Palmer ate their dinner, and no expectation of pleasure
                        from them in any other way. They attempted, therefore, likewise, to excuse
                        themselves;</span>
                    <span id="said_no_01099" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_elimari" data-placement="auto top">the weather was
                        uncertain, and not likely to be good.</span>
                    <span id="said_no_01100" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">But Sir John would not be
                        satisfied —</span>
                    <span id="said_no_01101" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_sirj" data-placement="auto top">the carriage should
                        be sent for them and they must come.</span>
                    <span id="said_no_01102" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Lady Middleton too, though
                        she did not press their mother, pressed them. Mrs. Jennings and Mrs. Palmer
                        joined their entreaties, all seemed equally anxious to avoid a family party;
                        and the young ladies were obliged to yield.</span>
                </p>

                <p>
                    
                        <span id="said_no_01103" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Why should they ask
                            us?" </span>
                        <span id="said_no_01104" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Marianne, as soon
                            as they were gone.</span>
                        <span id="said_no_01105" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"The rent of this
                            cottage is said to be low; but we have it on very hard terms, if we are
                            to dine at the park whenever any one is staying either with them, or
                            with us."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01106" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"They mean no less to be
                            civil and kind to us now," </span>
                        <span id="said_no_01107" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor,</span>
                        <span id="said_no_01108" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"by these frequent
                            invitations, than by those which we received from them a few weeks ago.
                            The alteration is not in them, if their parties are grown tedious and
                            dull. We must look for the change elsewhere."</span>
                    
                </p>
            
    <div class="footnotes"> </div>
