

     
    
        

                <h3>Chapter 35</h3>

                <p>
                    <span id="said_no_02489" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor's curiosity to see
                        Mrs. Ferrars was satisfied. —</span>
                    <span id="said_no_02490" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">She had found in her
                        every thing that could tend to make a farther connection between the
                        families undesirable. —</span>
                    <span id="said_no_02491" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She had seen enough of her
                        pride, her meanness, and her determined prejudice against herself, to
                        comprehend all the difficulties that must have perplexed the engagement, and
                        retarded the marriage, of Edward and herself, had he been otherwise free;
                        — and</span>
                    <span id="said_no_02492" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">she had seen almost
                        enough to be thankful for her OWN sake, that one greater obstacle preserved
                        her from suffering under any other of Mrs. Ferrars's creation, preserved her
                        from all dependence upon her caprice, or any solicitude for her good
                        opinion.</span>
                    <span id="said_no_02493" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Or at least, if she did not
                        bring herself quite to rejoice in Edward's being fettered to Lucy, she
                        determined, that</span>
                    <span id="said_no_02494" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">had Lucy been more
                        amiable, she OUGHT to have rejoiced.</span>
                </p>

                <p>
                    <span id="said_no_02495" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She wondered that</span>
                    <span id="said_no_02496" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">Lucy's spirits could
                        be so very much elevated by the civility of Mrs. Ferrars; — that her
                        interest and her vanity should so very much blind her as to make the
                        attention which seemed only paid her because she was NOT ELINOR, appear a
                        compliment to herself — or to allow her to derive encouragement from a
                        preference only given her, because her real situation was unknown.</span>
                    <span id="said_no_02497" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">But that it was so, had not
                        only been declared by Lucy's eyes at the time, but was declared over again
                        the next morning more openly, for at her particular desire, Lady Middleton
                        set her down in Berkeley Street on the chance of seeing Elinor alone,</span>
                    <span id="said_no_02498" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">to tell her</span>
                    <span id="said_no_02499" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_lucy" data-placement="auto top">how happy she
                        was.</span>
                </p>

                <p>
                    <span id="said_no_02500" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The chance proved a lucky
                        one, for a message from Mrs. Palmer soon after she arrived, carried Mrs.
                        Jennings away.</span>
                </p>

                <p>
                    
                        <span id="said_no_02501" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"My dear friend," </span>
                        <span id="said_no_02502" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Lucy, as soon as
                            they were by themselves,</span>
                        <span id="said_no_02503" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I come to talk to you
                            of my happiness. Could anything be so flattering as Mrs. Ferrars's way
                            of treating me yesterday? So exceeding affable as she was! — You
                            know how I dreaded the thoughts of seeing her; — but the very
                            moment I was introduced, there was such an affability in her behaviour
                            as really should seem to say, she had quite took a fancy to me. Now was
                            not it so? — You saw it all; and was not you quite struck with
                            it?"</span>
                    
                </p>

                <p>
                    <span id="said_no_02504" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"She was certainly very civil
                        to you."</span>
                </p>

                <p>
                    <span id="said_no_02505" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Civil! — Did you see
                        nothing but only civility? — I saw a vast deal more. Such kindness as
                        fell to the share of nobody but me! — No pride, no hauteur, and your
                        sister just the same — all sweetness and affability!"</span>
                </p>

                <p>
                    <span id="said_no_02506" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor wished to talk of
                        something else, but Lucy still pressed her to own that she had reason for
                        her happiness; and Elinor was obliged to go on. — </span>
                </p>

                <p>
                    
                        <span id="said_no_02507" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Undoubtedly, if they had
                            known your engagement,"</span>
                        <span id="said_no_02508" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_02509" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"nothing could be more
                            flattering than their treatment of you; — but as that was not the
                            case" —</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02510" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I guessed you would say
                            so," — </span>
                        <span id="said_no_02511" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Lucy quickly
                            —</span>
                        <span id="said_no_02512" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"but there was no reason
                            in the world why Mrs. Ferrars should seem to like me, if she did not,
                            and her liking me is every thing. You shan't talk me out of my
                            satisfaction. I am sure it will all end well, and there will be no
                            difficulties at all, to what I used to think. Mrs. Ferrars is a charming
                            woman, and so is your sister. They are both delightful women, indeed!
                            — I wonder I should never hear you say how agreeable Mrs. Dashwood
                            was!"</span>
                    
                </p>

                <p>
                    <span id="said_no_02513" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">To this Elinor had no answer
                        to make, and did not attempt any.</span>
                </p>

                <p>
                    <span id="said_no_02514" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Are you ill, Miss Dashwood?
                        — you seem low — you don't speak; — sure you an't
                        well."</span>
                </p>

                <p>
                    <span id="said_no_02515" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I never was in better
                        health."</span>
                </p>

                <p>
                    <span id="said_no_02516" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I am glad of it with all my
                        heart; but really you did not look it. I should be sorry to have YOU ill;
                        you, that have been the greatest comfort to me in the world! — Heaven
                        knows what I should have done without your friendship." — </span>
                </p>

                <p>
                    <span id="said_no_02517" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor tried to make a civil
                        answer, though doubting her own success. But it seemed to satisfy Lucy, for
                        she directly replied,</span>
                </p>

                <p>
                    <span id="said_no_02518" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Indeed I am perfectly
                        convinced of your regard for me, and next to Edward's love, it is the
                        greatest comfort I have. — Poor Edward! — But now there is one
                        good thing, we shall be able to meet, and meet pretty often, for Lady
                        Middleton's delighted with Mrs. Dashwood, so we shall be a good deal in
                        Harley Street, I dare say, and Edward spends half his time with his sister
                        — besides, Lady Middleton and Mrs. Ferrars will visit now; — and
                        Mrs. Ferrars and your sister were both so good to say more than once, they
                        should always be glad to see me. — They are such charming women!
                        — I am sure if ever you tell your sister what I think of her, you
                        cannot speak too high."</span>
                </p>

                <p>
                    <span id="said_no_02519" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">But Elinor would not give
                        her any encouragement to hope that she SHOULD tell her sister. Lucy
                        continued.</span>
                </p>

                <p>
                    <span id="said_no_02520" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I am sure I should have
                        seen it in a moment, if Mrs. Ferrars had took a dislike to me. If she had
                        only made me a formal courtesy, for instance, without saying a word, and
                        never after had took any notice of me, and never looked at me in a pleasant
                        way — you know what I mean — if I had been treated in that
                        forbidding sort of way, I should have gave it all up in despair. I could not
                        have stood it. For where she DOES dislike, I know it is most
                        violent."</span>
                </p>

                <p>
                    <span id="said_no_02521" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor was prevented from
                        making any reply to this civil triumph, by the door's being thrown open, the
                        servant's announcing Mr. Ferrars, and Edward's immediately walking
                        in.</span>
                </p>

                <p>
                    <span id="said_no_02522" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">It was a very awkward
                        moment; and the countenance of each shewed that it was so. They all looked
                        exceedingly foolish; and Edward seemed to have as great an inclination to
                        walk out of the room again, as to advance farther into it. The very
                        circumstance, in its unpleasantest form, which they would each have been
                        most anxious to avoid, had fallen on them. — They were not only all
                        three together, but were together without the relief of any other person.
                        The ladies recovered themselves first. It was not Lucy's business to put
                        herself forward, and the appearance of secrecy must still be kept up. She
                        could therefore only LOOK her tenderness, and after slightly addressing him,
                        said no more.</span>
                </p>

                <p>
                    <span id="said_no_02523" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">But Elinor had more to do;
                        and so anxious was she, for his sake and her own, to do it well, that she
                        forced herself, after a moment's recollection, to welcome him, with a look
                        and manner that were almost easy, and almost open; and another struggle,
                        another effort still improved them. She would not allow the presence of
                        Lucy, nor the consciousness of some injustice towards herself, to deter her
                        from</span>
                    <span id="said_no_02524" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">saying that</span>
                    <span id="said_no_02525" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">she was happy to see
                        him,</span>
                    <span id="said_no_02526" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and that</span>
                    <span id="said_no_02527" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">she had very much
                        regretted being from home, when he called before in Berkeley Street.</span>
                    <span id="said_no_02528" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She would not be frightened
                        from paying him those attentions which, as a friend and almost a relation,
                        were his due, by the observant eyes of Lucy, though she soon perceived them
                        to be narrowly watching her.</span>
                </p>

                <p>
                    <span id="said_no_02529" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Her manners gave some
                        re-assurance to Edward, and he had courage enough to sit down; but his
                        embarrassment still exceeded that of the ladies in a proportion, which the
                        case rendered reasonable, though his sex might make it rare; for his heart
                        had not the indifference of Lucy's, nor could his conscience have quite the
                        ease of Elinor's.</span>
                </p>

                <p>
                    <span id="said_no_02530" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Lucy, with a demure and
                        settled air, seemed determined to make no contribution to the comfort of the
                        others, and would not say a word; and almost every thing that WAS said,
                        proceeded from Elinor, who was obliged to volunteer all the information
                        about her mother's health, their coming to town, &amp;c. which Edward ought
                        to have inquired about, but never did.</span>
                </p>

                <p>
                    <span id="said_no_02531" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Her exertions did not stop
                        here; for she soon afterwards felt herself so heroically disposed as to
                        determine, under pretence of fetching Marianne, to leave the others by
                        themselves; and she really did it, and THAT in the handsomest manner, for
                        she loitered away several minutes on the landing-place, with the most
                        high-minded fortitude, before she went to her sister. When that was once
                        done, however, it was time for the raptures of Edward to cease; for
                        Marianne's joy hurried her into the drawing-room immediately. Her pleasure
                        in seeing him was like every other of her feelings, strong in itself, and
                        strongly spoken. She met him with a hand that would be taken, and a voice
                        that expressed the affection of a sister.</span>
                </p>

                <p>
                    
                        <span id="said_no_02532" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Dear Edward!" </span>
                        <span id="said_no_02533" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she cried,</span>
                        <span id="said_no_02534" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top"> "this is a moment of
                            great happiness! — This would almost make amends for every
                            thing?"</span>
                    
                </p>

                <p>
                    <span id="said_no_02535" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Edward tried to return her
                        kindness as it deserved, but before such witnesses he dared not say half
                        what he really felt. Again they all sat down, and for a moment or two all
                        were silent; while Marianne was looking with the most speaking tenderness,
                        sometimes at Edward and sometimes at Elinor, regretting only that their
                        delight in each other should be checked by Lucy's unwelcome presence. Edward
                        was the first to speak, and it was to notice Marianne's altered looks, and
                        express his fear of</span>
                    <span id="said_no_02536" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_edw" data-placement="auto top">her not finding
                        London agree with her.</span>
                </p>

                <p>
                    
                        <span id="said_no_02537" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Oh, don't think of
                            me!"</span>
                        <span id="said_no_02538" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she replied with
                            spirited earnestness, though her eyes were filled with tears as she
                            spoke,</span>
                        <span id="said_no_02539" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"don't think of MY
                            health. Elinor is well, you see. That must be enough for us
                            both."</span>
                    
                </p>

                <p>
                    <span id="said_no_02540" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">This remark was not
                        calculated to make Edward or Elinor more easy, nor to conciliate the good
                        will of Lucy, who looked up at Marianne with no very benignant
                        expression.</span>
                </p>

                <p>
                    <span id="said_no_02541" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"Do you like London?" </span>
                    <span id="said_no_02542" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Edward, willing to say
                        any thing that might introduce another subject.</span>
                </p>

                <p>
                    <span id="said_no_02543" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Not at all. I expected much
                        pleasure in it, but I have found none. The sight of you, Edward, is the only
                        comfort it has afforded; and thank Heaven! you are what you always
                        were!"</span>
                </p>

                <p>
                    <span id="said_no_02544" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She paused — no one
                        spoke.</span>
                </p>

                <p>
                    
                        <span id="said_no_02545" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"I think, Elinor," </span>
                        <span id="said_no_02546" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she presently
                            added,</span>
                        <span id="said_no_02547" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"we must employ Edward
                            to take care of us in our return to Barton. In a week or two, I suppose,
                            we shall be going; and, I trust, Edward will not be very unwilling to
                            accept the charge."</span>
                    
                </p>

                <p>
                    <span id="said_no_02548" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Poor Edward muttered
                        something, but what it was, nobody knew, not even himself. But Marianne, who
                        saw his agitation, and could easily trace it to whatever cause best pleased
                        herself, was perfectly satisfied, and soon talked of something else.</span>
                </p>

                <p>
                    <span id="said_no_02549" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"We spent such a day,
                        Edward, in Harley Street yesterday! So dull, so wretchedly dull! — But
                        I have much to say to you on that head, which cannot be said now."</span>
                </p>

                <p>
                    <span id="said_no_02550" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">And with this admirable
                        discretion did she defer the assurance of her finding their mutual relatives
                        more disagreeable than ever, and of her being particularly disgusted with
                        his mother, till they were more in private.</span>
                </p>

                <p>
                    <span id="said_no_02551" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"But why were you not there,
                        Edward? — Why did you not come?"</span>
                </p>

                <p>
                    <span id="said_no_02552" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"I was engaged
                        elsewhere."</span>
                </p>

                <p>
                    <span id="said_no_02553" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Engaged! But what was that,
                        when such friends were to be met?"</span>
                </p>

                <p>
                    
                        <span id="said_no_02554" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Perhaps, Miss
                            Marianne," </span>
                        <span id="said_no_02555" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Lucy, eager to
                            take some revenge on her,</span>
                        <span id="said_no_02556" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"you think young men
                            never stand upon engagements, if they have no mind to keep them, little
                            as well as great."</span>
                    
                </p>

                <p>
                    <span id="said_no_02557" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor was very angry, but
                        Marianne seemed entirely insensible of the sting; for she calmly
                        replied,</span>
                </p>

                <p>
                    <span id="said_no_02558" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Not so, indeed; for,
                        seriously speaking, I am very sure that conscience only kept Edward from
                        Harley Street. And I really believe he HAS the most delicate conscience in
                        the world; the most scrupulous in performing every engagement, however
                        minute, and however it may make against his interest or pleasure. He is the
                        most fearful of giving pain, of wounding expectation, and the most incapable
                        of being selfish, of any body I ever saw. Edward, it is so, and I will say
                        it. What! are you never to hear yourself praised! — Then you must be
                        no friend of mine; for those who will accept of my love and esteem, must
                        submit to my open commendation."</span>
                </p>

                <p>
                    <span id="said_no_02559" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The nature of her
                        commendation, in the present case, however, happened to be particularly
                        ill-suited to the feelings of two thirds of her auditors, and was so very
                        unexhilarating to Edward, that he very soon got up to go away.</span>
                </p>

                <p>
                    
                        <span id="said_no_02560" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Going so soon!" </span>
                        <span id="said_no_02561" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Marianne;</span>
                        <span id="said_no_02562" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top"> "my dear Edward, this
                            must not be."</span>
                    
                </p>

                <p>
                    <span id="said_no_02563" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">And drawing him a little
                        aside,</span>
                    <span id="said_no_02564" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she whispered her
                        persuasion that</span>
                    <span id="said_no_02565" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_mari" data-placement="auto top">Lucy could not stay
                        much longer.</span>
                    <span id="said_no_02566" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">But even this encouragement
                        failed, for he would go; and Lucy, who would have outstaid him, had his
                        visit lasted two hours, soon afterwards went away.</span>
                </p>

                <p>
                    
                        <span id="said_no_02567" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"What can bring her here
                            so often?" </span>
                        <span id="said_no_02568" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Marianne, on her
                            leaving them.</span>
                        <span id="said_no_02569" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Could not she see that
                            we wanted her gone! — how teazing to Edward!"</span>
                    
                </p>

                <p>
                    <span id="said_no_02570" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Why so? — we were all
                        his friends, and Lucy has been the longest known to him of any. It is but
                        natural that he should like to see her as well as ourselves."</span>
                </p>

                <p>
                    <span id="said_no_02571" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne looked at her
                        steadily, and said,</span>
                    <span id="said_no_02572" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"You know, Elinor, that this
                        is a kind of talking which I cannot bear. If you only hope to have your
                        assertion contradicted, as I must suppose to be the case, you ought to
                        recollect that I am the last person in the world to do it. I cannot descend
                        to be tricked out of assurances, that are not really wanted."</span>
                </p>

                <p>
                    <span id="said_no_02573" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She then left the room; and
                        Elinor dared not follow her to say more, for bound as she was by her promise
                        of secrecy to Lucy, she could give no information that would convince
                        Marianne; and painful as the consequences of her still continuing in an
                        error might be, she was obliged to submit to it.</span>
                    <span id="said_no_02574" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">All that she could hope,
                        was that</span>
                    <span id="said_no_02575" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">Edward would not
                        often expose her or himself to the distress of hearing Marianne's mistaken
                        warmth, nor to the repetition of any other part of the pain that had
                        attended their recent meeting —</span>
                    <span id="said_no_02576" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and this she had every
                        reason to expect.</span>
                </p>
            
    <div class="footnotes"> </div>
