

     
    
        

                <h3>Chapter 22</h3>

                <p>
                    <span id="said_no_01348" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne, who had never much
                        toleration for any thing like impertinence, vulgarity, inferiority of parts,
                        or even difference of taste from herself, was at this time particularly
                        ill-disposed, from the state of her spirits, to be pleased with the Miss
                        Steeles, or to encourage their advances; and to the invariable coldness of
                        her behaviour towards them, which checked every endeavour at intimacy on
                        their side, Elinor principally attributed that preference of herself which
                        soon became evident in the manners of both, but especially of Lucy, who
                        missed no opportunity of engaging her in conversation, or of striving to
                        improve their acquaintance by an easy and frank communication of her
                        sentiments.</span>
                </p>

                <p>
                    <span id="said_no_01349" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Lucy was naturally clever;
                        her remarks were often just and amusing; and as a companion for half an hour
                        Elinor frequently found her agreeable; but her powers had received no aid
                        from education: she was ignorant and illiterate; and her deficiency of all
                        mental improvement, her want of information in the most common particulars,
                        could not be concealed from Miss Dashwood, in spite of her constant
                        endeavour to appear to advantage.</span>
                    <span id="said_no_01350" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor saw,</span>
                    <span id="said_no_01351" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and pitied her for,</span>
                    <span id="said_no_01352" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">the neglect of
                        abilities which education might have rendered so respectable;</span>
                    <span id="said_no_01353" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">but</span>
                    <span id="said_no_01354" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she saw,</span>
                    <span id="said_no_01355" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">with less tenderness of
                        feeling,</span>
                    <span id="said_no_01356" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">the thorough want of
                        delicacy, of rectitude, and integrity of mind, which her attentions, her
                        assiduities, her flatteries at the Park betrayed;</span>
                    <span id="said_no_01357" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and she</span>
                    <span id="said_no_01358" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">could have no lasting
                        satisfaction in the company of a person who joined insincerity with
                        ignorance; whose want of instruction prevented their meeting in conversation
                        on terms of equality, and whose conduct toward others made every shew of
                        attention and deference towards herself perfectly valueless.</span>
                </p>

                <p>
                    
                        <span id="said_no_01359" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"You will think my
                            question an odd one, I dare say," </span>
                        <span id="said_no_01360" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Lucy to her one
                            day, as they were walking together from the park to the cottage
                            —</span>
                        <span id="said_no_01361" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"but pray, are you
                            personally acquainted with your sister-in-law's mother, Mrs.
                            Ferrars?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01362" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor DID think</span>
                    <span id="said_no_01363" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">the question a very
                        odd one,</span>
                    <span id="said_no_01364" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and her countenance
                        expressed it, as</span>
                    <span id="said_no_01365" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she answered that</span>
                    <span id="said_no_01366" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">she had never seen
                        Mrs. Ferrars.</span>
                </p>

                <p>
                    
                        <span id="said_no_01367" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Indeed!" </span>
                        <span id="said_no_01368" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Lucy;</span>
                        <span id="said_no_01369" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I wonder at that, for I
                            thought you must have seen her at Norland sometimes. Then, perhaps, you
                            cannot tell me what sort of a woman she is?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01370" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"No,"</span>
                    
                        <span id="said_no_01371" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">returned Elinor,
                            cautious of giving her real opinion of Edward's mother, and not very
                            desirous of satisfying what seemed impertinent curiosity —</span>
                        <span id="said_no_01372" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I know nothing of
                            her."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01373" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I am sure you think me
                            very strange, for enquiring about her in such a way," </span>
                        <span id="said_no_01374" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Lucy, eyeing Elinor
                            attentively as she spoke;</span>
                        <span id="said_no_01375" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"but perhaps there may
                            be reasons — I wish I might venture; but however I hope you will
                            do me the justice of believing that I do not mean to be
                            impertinent."</span>
                    
                </p>

                <p>
                    <span id="said_no_01376" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor made her a civil
                        reply, and they walked on for a few minutes in silence. It was broken by
                        Lucy?, who renewed the subject again by saying, with some hesitation,</span>
                </p>

                <p>
                    <span id="said_no_01377" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I cannot bear to have you
                        think me impertinently curious. I am sure I would rather do any thing in the
                        world than be thought so by a person whose good opinion is so well worth
                        having as yours. And I am sure I should not have the smallest fear of
                        trusting YOU; indeed, I should be very glad of your advice how to manage in
                        such an uncomfortable situation as I am; but, however, there is no occasion
                        to trouble YOU. I am sorry you do not happen to know Mrs. Ferrars."</span>
                </p>

                <p>
                    
                        <span id="said_no_01378" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I am sorry I do NOT," </span>
                        <span id="said_no_01379" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor, in great
                            astonishment,</span>
                        <span id="said_no_01380" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "if it could be of any
                            use to YOU to know my opinion of her. But really I never understood that
                            you were at all connected with that family, and therefore I am a little
                            surprised, I confess, at so serious an inquiry into her
                            character."</span>
                    
                </p>

                <p>
                    <span id="said_no_01381" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I dare say you are, and I
                        am sure I do not at all wonder at it. But if I dared tell you all, you would
                        not be so much surprised. Mrs. Ferrars is certainly nothing to me at present
                        — but the time MAY come — how soon it will come must depend upon
                        herself — when we may be very intimately connected."</span>
                </p>

                <p>
                    <span id="said_no_01382" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She looked down as she said
                        this, amiably bashful, with only one side glance at her companion to observe
                        its effect on her. </span>
                </p>

                <p>
                    
                        <span id="said_no_01383" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Good heavens!" </span>
                        <span id="said_no_01384" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Elinor,</span>
                        <span id="said_no_01385" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"what do you mean? Are
                            you acquainted with Mr. Robert Ferrars? Can you be?" </span>
                    
                    <span id="said_no_01386" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">And she did not feel much
                        delighted with the idea of such a sister-in-law.</span>
                </p>

                <p>
                    
                        <span id="said_no_01387" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"No,"</span>
                        <span id="said_no_01388" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Lucy,</span>
                        <span id="said_no_01389" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top"> "not to Mr. ROBERT
                            Ferrars — I never saw him in my life; but," </span>
                        <span id="said_no_01390" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">fixing her eyes upon
                            Elinor, </span>
                        <span id="said_no_01391" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"to his eldest
                            brother."</span>
                    
                </p>

                <p>
                    <span id="said_no_01392" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">What felt Elinor at that
                        moment? Astonishment, that would have been as painful as it was strong, had
                        not an immediate disbelief of the assertion attended it. She turned towards
                        Lucy in silent amazement, unable to divine the reason or object of such a
                        declaration; and though her complexion varied, she stood firm in
                        incredulity, and felt in no danger of an hysterical fit, or a swoon.</span>
                </p>

                <p><span id="said_no_01393" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"You may well be
                            surprised,"</span>
                        <span id="said_no_01394" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">continued Lucy;</span>
                        <span id="said_no_01395" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top"> "for to be sure you
                            could have had no idea of it before; for I dare say he never dropped the
                            smallest hint of it to you or any of your family; because it was always
                            meant to be a great secret, and I am sure has been faithfully kept so by
                            me to this hour. Not a soul of all my relations know of it but Anne, and
                            I never should have mentioned it to you, if I had not felt the greatest
                            dependence in the world upon your secrecy; and I really thought my
                            behaviour in asking so many questions about Mrs. Ferrars must seem so
                            odd, that it ought to be explained. And I do not think Mr. Ferrars can
                            be displeased, when he knows I have trusted you, because I know he has
                            the highest opinion in the world of all your family, and looks upon
                            yourself and the other Miss Dashwoods quite as his own
                        sisters."</span> —<span id="said_no_01396" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She paused.</span></p>

                <p>
                    <span id="said_no_01397" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor for a few moments
                        remained silent. Her astonishment at what she heard was at first too great
                        for words; but at length forcing herself to speak, and to speak cautiously,
                        she said, with calmness of manner, which tolerably well concealed her
                        surprise and solicitude — </span>
                    <span id="said_no_01398" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"May I ask if your engagement
                        is of long standing?"</span>
                </p>

                <p>
                    <span id="said_no_01399" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"We have been engaged these
                        four years."</span>
                </p>

                <p>
                    <span id="said_no_01400" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Four years!"</span>
                </p>

                <p>
                    <span id="said_no_01401" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Yes."</span>
                </p>

                <p>
                    <span id="said_no_01402" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor, though greatly
                        shocked, still felt unable to believe it.</span>
                </p>

                <p>
                    
                        <span id="said_no_01403" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I did not know," </span>
                        <span id="said_no_01404" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_01405" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "that you were even
                            acquainted till the other day."</span>
                    
                </p>

                <p>
                    <span id="said_no_01406" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Our acquaintance, however,
                        is of many years date. He was under my uncle's care, you know, a
                        considerable while."</span>
                </p>

                <p>
                    <span id="said_no_01407" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Your uncle!"</span>
                </p>

                <p>
                    <span id="said_no_01408" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Yes; Mr. Pratt. Did you
                        never hear him talk of Mr. Pratt?"</span>
                </p>

                <p>
                    <span id="said_no_01409" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I think I have,"</span>
                    <span id="said_no_01410" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Elinor, with an
                        exertion of spirits, which increased with her increase of emotion.</span>
                </p>

                <p>
                    <span id="said_no_01411" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"He was four years with my
                        uncle, who lives at Longstaple, near Plymouth. It was there our acquaintance
                        begun, for my sister and me was often staying with my uncle, and it was
                        there our engagement was formed, though not till a year after he had quitted
                        as a pupil; but he was almost always with us afterwards. I was very
                        unwilling to enter into it, as you may imagine, without the knowledge and
                        approbation of his mother; but I was too young, and loved him too well, to
                        be so prudent as I ought to have been. — Though you do not know him so
                        well as me, Miss Dashwood, you must have seen enough of him to be sensible
                        he is very capable of making a woman sincerely attached to him."</span>
                </p>

                <p>
                    
                        <span id="said_no_01412" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Certainly," </span>
                        <span id="said_no_01413" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">answered Elinor, without
                            knowing what she said; but after a moment's reflection, she added, with
                            revived security of Edward's honour and love, and her companion's
                            falsehood —</span>
                        <span id="said_no_01414" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Engaged to Mr. Edward
                            Ferrars! — I confess myself so totally surprised at what you tell
                            me, that really — I beg your pardon; but surely there must be some
                            mistake of person or name. We cannot mean the same Mr. Ferrars."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01415" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"We can mean no other," </span>
                        <span id="said_no_01416" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Lucy,
                            smiling.</span>
                        <span id="said_no_01417" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top"> "Mr. Edward Ferrars,
                            the eldest son of Mrs. Ferrars, of Park Street, and brother of your
                            sister-in-law, Mrs. John Dashwood, is the person I mean; you must allow
                            that I am not likely to be deceived as to the name of the man on who all
                            my happiness depends."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01418" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"It is strange,"</span>
                        <span id="said_no_01419" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Elinor, in a
                            most painful perplexity,</span>
                        <span id="said_no_01420" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "that I should never
                            have heard him even mention your name."</span>
                    
                </p>

                <p>
                    <span id="said_no_01421" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"No; considering our
                        situation, it was not strange. Our first care has been to keep the matter
                        secret. — You knew nothing of me, or my family, and, therefore, there
                        could be no OCCASION for ever mentioning my name to you; and, as he was
                        always particularly afraid of his sister's suspecting any thing, THAT was
                        reason enough for his not mentioning it."</span>
                </p>

                <p>
                    <span id="said_no_01422" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She was silent. —
                        Elinor's security sunk; but her self-command did not sink with it.</span>
                </p>

                <p>
                    <span id="said_no_01423" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Four years you have been
                        engaged," </span>
                    <span id="said_no_01424" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said she with a firm
                        voice.</span>
                </p>

                <p>
                    
                        <span id="said_no_01425" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Yes; and heaven knows
                            how much longer we may have to wait. Poor Edward! It puts him quite out
                            of heart." </span>
                        <span id="said_no_01426" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Then taking a small
                            miniature from her pocket, she added,</span>
                        <span id="said_no_01427" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top"> "To prevent the
                            possibility of mistake, be so good as to look at this face. It does not
                            do him justice, to be sure, but yet I think you cannot be deceived as to
                            the person it was drew for. — I have had it above these three
                            years."</span>
                    
                </p>

                <p>
                    <span id="said_no_01428" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She put it into her hands as
                        she spoke; and when Elinor saw the painting, whatever other doubts her fear
                        of a too hasty decision, or her wish of detecting falsehood might suffer to
                        linger in her mind, she could have none of its being Edward's face. She
                        returned it almost instantly, acknowledging the likeness.</span>
                </p>

                <p>
                    
                        <span id="said_no_01429" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I have never been
                            able," </span>
                        <span id="said_no_01430" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">continued Lucy,</span>
                        <span id="said_no_01431" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"to give him my picture
                            in return, which I am very much vexed at, for he has been always so
                            anxious to get it! But I am determined to set for it the very first
                            opportunity."</span>
                    
                </p>

                <p>
                    <span id="said_no_01432" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"You are quite in the
                        right,"</span>
                    <span id="said_no_01433" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Elinor calmly. They
                        then proceeded a few paces in silence. Lucy spoke first.</span>
                </p>

                <p>
                    <span id="said_no_01434" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I am sure,"</span>
                        <span id="said_no_01435" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said she</span>, <span id="said_no_01436" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I have no doubt in the
                            world of your faithfully keeping this secret, because you must know of
                            what importance it is to us, not to have it reach his mother; for she
                            would never approve of it, I dare say. I shall have no fortune, and I
                            fancy she is an exceeding proud woman."</span>
                </p>

                <p>
                    
                        <span id="said_no_01437" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I certainly did not seek
                            your confidence,"</span>
                        <span id="said_no_01438" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor; </span>
                        <span id="said_no_01439" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "but you do me no more
                            than justice in imagining that I may be depended on. Your secret is safe
                            with me; but pardon me if I express some surprise at so unnecessary a
                            communication. You must at least have felt that my being acquainted with
                            it could not add to its safety."</span>
                    
                </p>

                <p>
                    <span id="said_no_01440" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">As she said this, she looked
                        earnestly at Lucy, hoping to discover something in her countenance; perhaps
                        the falsehood of the greatest part of what she had been saying; but Lucy's
                        countenance suffered no change.</span>
                </p>

                <p>
                    
                        <span id="said_no_01441" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I was afraid you would
                            think I was taking a great liberty with you,"</span>
                        <span id="said_no_01442" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said she,</span>
                        <span id="said_no_01443" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top"> "in telling you all
                            this. I have not known you long to be sure, personally at least, but I
                            have known you and all your family by description a great while; and as
                            soon as I saw you, I felt almost as if you was an old acquaintance.
                            Besides in the present case, I really thought some explanation was due
                            to you after my making such particular inquiries about Edward's mother;
                            and I am so unfortunate, that I have not a creature whose advice I can
                            ask. Anne is the only person that knows of it, and she has no judgment
                            at all; indeed, she does me a great deal more harm than good, for I am
                            in constant fear of her betraying me. She does not know how to hold her
                            tongue, as you must perceive, and I am sure I was in the greatest fright
                            in the world t'other day, when Edward's name was mentioned by Sir John,
                            lest she should out with it all. You can't think how much I go through
                            in my mind from it altogether. I only wonder that I am alive after what
                            I have suffered for Edward's sake these last four years. Every thing in
                            such suspense and uncertainty; and seeing him so seldom — we can
                            hardly meet above twice a-year. I am sure I wonder my heart is not quite
                            broke."</span>
                    
                </p>

                <p>
                    <span id="said_no_01444" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Here she took out her
                        handkerchief; but Elinor did not feel very compassionate.</span>
                </p>

                <p>
                    
                        <span id="said_no_01445" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Sometimes." </span>
                        <span id="said_no_01446" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">continued Lucy, after
                            wiping her eyes,</span>
                        <span id="said_no_01447" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I think whether it
                            would not be better for us both to break off the matter entirely." </span>
                        <span id="said_no_01448" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> As she said this, she
                            looked directly at her companion.</span>
                        <span id="said_no_01449" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top"> "But then at other
                            times I have not resolution enough for it. — I cannot bear the
                            thoughts of making him so miserable, as I know the very mention of such
                            a thing would do. And on my own account too — so dear as he is to
                            me — I don't think I could be equal to it. What would you advise
                            me to do in such a case, Miss Dashwood? What would you do
                            yourself?"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01450" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Pardon me," </span>
                        <span id="said_no_01451" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Elinor, startled
                            by the question;</span>
                        <span id="said_no_01452" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"but I can give you no
                            advice under such circumstances. Your own judgment must direct
                            you."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01453" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"To be sure," </span>
                        <span id="said_no_01454" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">continued Lucy, after a
                            few minutes silence on both sides, </span>
                        <span id="said_no_01455" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"his mother must provide
                            for him sometime or other; but poor Edward is so cast down by it! Did
                            you not think him dreadful low-spirited when he was at Barton? He was so
                            miserable when he left us at Longstaple, to go to you, that I was afraid
                            you would think him quite ill."</span>
                    
                </p>

                <p>
                    <span id="said_no_01456" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Did he come from your
                        uncle's, then, when he visited us?"</span>
                </p>

                <p>
                    <span id="said_no_01457" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Oh, yes; he had been
                        staying a fortnight with us. Did you think he came directly from
                        town?"</span>
                </p>

                <p>
                    
                        <span id="said_no_01458" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"No," </span>
                        <span id="said_no_01459" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Elinor, most
                            feelingly sensible of every fresh circumstance in favour of Lucy's
                            veracity;</span>
                        <span id="said_no_01460" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I remember</span>
                        <span id="said_no_01461" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">he told us, that</span>
                        <span id="said_no_01462" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Elinor Dashwood speaking as Edward Ferrars" data-placement="auto top">he had been
                            staying a fortnight with some friends near Plymouth." </span>
                        <span id="said_no_01463" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> She remembered too, her
                            own surprise at the time, at his mentioning nothing farther of those
                            friends, at his total silence with respect even to their names.</span>
                    
                </p>

                <p>
                    <span id="said_no_01464" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Did not you think him sadly
                        out of spirits?" </span>
                    <span id="said_no_01465" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">repeated Lucy.</span>
                </p>

                <p>
                    <span id="said_no_01466" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"We did, indeed, particularly
                        so when he first arrived."</span>
                </p>

                <p>
                    
                        <span id="said_no_01467" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"I begged him to exert
                            himself for fear you should suspect what was the matter; but it made him
                            so melancholy, not being able to stay more than a fortnight with us, and
                            seeing me so much affected. — Poor fellow! — I am afraid it
                            is just the same with him now; for he writes in wretched spirits. I
                            heard from him just before I left Exeter;" </span>
                        <span id="said_no_01468" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> taking a letter from
                            her pocket and carelessly showing the direction to Elinor. </span>
                        <span id="said_no_01469" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"You know his hand, I
                            dare say, a charming one it is; but that is not written so well as
                            usual. — He was tired, I dare say, for he had just filled the
                            sheet to me as full as possible."</span>
                    
                </p>

                <p>
                    <span id="said_no_01470" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor saw that it WAS his
                        hand, and she could doubt no longer.</span>
                    <span id="said_no_01471" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">This picture,</span>
                    <span id="said_no_01472" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she had allowed herself to
                        believe,</span>
                    <span id="said_no_01473" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">might have been
                        accidentally obtained; it might not have been Edward's gift; but a
                        correspondence between them by letter, could subsist only under a positive
                        engagement, could be authorised by nothing else;</span>
                    <span id="said_no_01474" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">for a few moments, she was
                        almost overcome — her heart sunk within her, and she could hardly
                        stand; but exertion was indispensably necessary; and she struggled so
                        resolutely against the oppression of her feelings, that her success was
                        speedy, and for the time complete.</span>
                </p>

                <p>
                    
                        <span id="said_no_01475" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Writing to each
                            other,"</span>
                        <span id="said_no_01476" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Lucy, returning the
                            letter into her pocket,</span>
                        <span id="said_no_01477" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"is the only comfort we
                            have in such long separations. Yes, I have one other comfort in his
                            picture, but poor Edward has not even THAT. If he had but my
                            picture,</span>
                        <span id="said_no_01478" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">he says</span>
                        <span id="said_no_01479" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Lucy Steele speaking as Edward Ferrars" data-placement="auto top">he should be
                            easy.</span>
                        <span id="said_no_01480" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">I gave him a lock of my
                            hair set in a ring when he was at Longstaple last, and</span>
                        <span id="said_no_01481" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Lucy Steele speaking as Edward Ferrars" data-placement="auto top">that was some
                            comfort to him,</span>
                        <span id="said_no_01482" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">he said,</span>
                        <span id="said_no_01483" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Lucy Steele speaking as Edward Ferrars" data-placement="auto top">but not equal to
                            a picture.</span>
                        <span id="said_no_01484" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">Perhaps you might notice
                            the ring when you saw him?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01485" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I did,"</span>
                    <span id="said_no_01486" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor, with a
                        composure of voice, under which was concealed an emotion and distress beyond
                        any thing she had ever felt before. She was mortified, shocked,
                        confounded.</span>
                </p>

                <p>
                    <span id="said_no_01487" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Fortunately for her, they
                        had now reached the cottage, and the conversation could be continued no
                        farther. After sitting with them a few minutes, the Miss Steeles returned to
                        the Park, and Elinor was then at liberty to think and be wretched.</span>
                </p>


                <div class="note"> [At this point in the first and second editions, Volume 1 ends.] </div>


            
    <div class="footnotes"> </div>
