

     
    
        

                <h3>Chapter 34</h3>

                <p>
                    <span id="said_no_02398" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. John Dashwood had so
                        much confidence in her husband's judgment, that she waited the very next day
                        both on Mrs. Jennings and her daughter; and her confidence was rewarded by
                        finding even the former, even the woman with whom her sisters were staying,
                        by no means unworthy her notice; and as for Lady Middleton,</span>
                    <span id="said_no_02399" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she found her</span>
                    <span id="said_no_02400" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_fan" data-placement="auto top"> one of the most
                        charming women in the world!</span>
                </p>

                <p>
                    <span id="said_no_02401" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Lady Middleton was equally
                        pleased with Mrs. Dashwood. There was a kind of cold hearted selfishness on
                        both sides, which mutually attracted them; and they sympathised with each
                        other in an insipid propriety of demeanor, and a general want of
                        understanding.</span>
                </p>

                <p>
                    <span id="said_no_02402" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The same manners, however,
                        which recommended Mrs. John Dashwood to the good opinion of Lady Middleton
                        did not suit the fancy of Mrs. Jennings, and to HER she appeared nothing
                        more than a little proud-looking woman of uncordial address, who met her
                        husband's sisters without any affection, and almost without having anything
                        to say to them; for of the quarter of an hour bestowed on Berkeley Street,
                        she sat at least seven minutes and a half in silence.</span>
                </p>

                <p>
                    <span id="said_no_02403" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor wanted very much to
                        know, though she did not chuse to ask, whether Edward was then in town; but
                        nothing would have induced Fanny voluntarily to mention his name before her,
                        till able to tell her that his marriage with Miss Morton was resolved on, or
                        till her husband's expectations on Colonel Brandon were answered; because
                        she believed them still so very much attached to each other, that they could
                        not be too sedulously divided in word and deed on every occasion. The
                        intelligence however, which SHE would not give, soon flowed from another
                        quarter. Lucy came very shortly to claim Elinor's compassion on being unable
                        to see Edward, though he had arrived in town with Mr. and Mrs.
                        Dashwood.</span>
                    <span id="said_no_02404" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_lucy" data-placement="auto top">He dared not come to
                        Bartlett's Buildings for fear of detection, and though their mutual
                        impatience to meet, was not to be told, they could do nothing at present but
                        write.</span>
                </p>

                <p>
                    <span id="said_no_02405" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Edward assured them himself
                        of his being in town, within a very short time, by twice calling in Berkeley
                        Street. Twice was his card found on the table, when they returned from their
                        morning's engagements. Elinor was pleased that he had called; and still more
                        pleased that she had missed him.</span>
                </p>

                <p>
                    <span id="said_no_02406" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The Dashwoods were so
                        prodigiously delighted with the Middletons, that, though not much in the
                        habit of giving anything, they determined to give them — a dinner; and
                        soon after their acquaintance began, invited them to dine in Harley Street,
                        where they had taken a very good house for three months. Their sisters and
                        Mrs. Jennings were invited likewise, and John Dashwood was careful to secure
                        Colonel Brandon, who, always glad to be where the Miss Dashwoods were,
                        received his eager civilities with some surprise, but much more pleasure.
                        They were to meet Mrs. Ferrars; but Elinor could not learn whether her sons
                        were to be of the party. The expectation of seeing HER, however, was enough
                        to make her interested in the engagement; for though she could now meet
                        Edward's mother without that strong anxiety which had once promised to
                        attend such an introduction, though she could now see her with perfect
                        indifference as to her opinion of herself, her desire of being in company
                        with Mrs. Ferrars, her curiosity to know what she was like, was as lively as
                        ever.</span>
                </p>

                <p>
                    <span id="said_no_02407" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The interest with which she
                        thus anticipated the party, was soon afterwards increased, more powerfully
                        than pleasantly, by her hearing that the Miss Steeles were also to be at
                        it.</span>
                </p>

                <p>
                    <span id="said_no_02408" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">So well had they recommended
                        themselves to Lady Middleton, so agreeable had their assiduities made them
                        to her, that though Lucy was certainly not so elegant, and her sister not
                        even genteel, she was as ready as Sir John to ask them to spend a week or
                        two in Conduit Street; and it happened to be particularly convenient to the
                        Miss Steeles, as soon as the Dashwoods' invitation was known, that their
                        visit should begin a few days before the party took place.</span>
                </p>

                <p>
                    <span id="said_no_02409" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Their claims to the notice
                        of Mrs. John Dashwood, as the nieces of the gentleman who for many years had
                        had the care of her brother, might not have done much, however, towards
                        procuring them seats at her table; but as Lady Middleton's guests they must
                        be welcome; and Lucy, who had long wanted to be personally known to the
                        family, to have a nearer view of their characters and her own difficulties,
                        and to have an opportunity of endeavouring to please them, had seldom been
                        happier in her life, than she was on receiving Mrs. John Dashwood's
                        card.</span>
                </p>

                <p>
                    <span id="said_no_02410" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">On Elinor its effect was
                        very different.</span>
                    <span id="said_no_02411" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She began immediately to
                        determine, that</span>
                    <span id="said_no_02412" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">Edward who lived with
                        his mother, must be asked as his mother was, to a party given by his sister;
                        and to see him for the first time, after all that passed, in the company of
                        Lucy! —</span>
                    <span id="said_no_02413" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">she hardly knew how
                        she could bear it!</span>
                </p>

                <p>
                    <span id="said_no_02414" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">These apprehensions,
                        perhaps, were not founded entirely on reason, and certainly not at all on
                        truth. They were relieved however, not by her own recollection, but by the
                        good will of Lucy, who believed herself to be inflicting a severe
                        disappointment when</span>
                    <span id="said_no_02415" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she told her that</span>
                    <span id="said_no_02416" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_lucy" data-placement="auto top">Edward certainly
                        would not be in Harley Street on Tuesday,</span>
                    <span id="said_no_02417" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and even hoped to be
                        carrying the pain still farther by persuading her that</span>
                    <span id="said_no_02418" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_lucy" data-placement="auto top">he was kept away by
                        the extreme affection for herself, which he could not conceal when they were
                        together.</span>
                </p>

                <p>
                    <span id="said_no_02419" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The important Tuesday came
                        that was to introduce the two young ladies to this formidable
                        mother-in-law.</span>
                </p>

                <p>
                    
                        <span id="said_no_02420" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"Pity me, dear Miss
                            Dashwood!" </span>
                        <span id="said_no_02421" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Lucy, as they
                            walked up the stairs together — for the Middletons arrived so
                            directly after Mrs. Jennings, that they all followed the servant at the
                            same time —</span>
                        <span id="said_no_02422" class="said" data-toggle="tooltip" title="Lucy Steele" data-placement="auto top">"There is nobody here
                            but you, that can feel for me. — I declare I can hardly stand.
                            Good gracious! — In a moment I shall see the person that all my
                            happiness depends on — that is to be my mother!" — </span>
                    
                </p>

                <p>
                    <span id="said_no_02423" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor could have given her
                        immediate relief by suggesting the possibility of its being Miss Morton's
                        mother, rather than her own, whom they were about to behold; but instead of
                        doing that,</span>
                    <span id="said_no_02424" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she assured her,</span>
                    <span id="said_no_02425" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and with great
                        sincerity,</span>
                    <span id="said_no_02426" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">that</span>
                    <span id="said_no_02427" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">she did pity her
                        —</span>
                    <span id="said_no_02428" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">to the utter amazement of
                        Lucy, who, though really uncomfortable herself, hoped at least to be an
                        object of irrepressible envy to Elinor.</span>
                </p>

                <p>
                    <span id="said_no_02429" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Ferrars was a little,
                        thin woman, upright, even to formality, in her figure, and serious, even to
                        sourness, in her aspect. Her complexion was sallow; and her features small,
                        without beauty, and naturally without expression; but a lucky contraction of
                        the brow had rescued her countenance from the disgrace of insipidity, by
                        giving it the strong characters of pride and ill nature. She was not a woman
                        of many words; for, unlike people in general, she proportioned them to the
                        number of her ideas; and of the few syllables that did escape her, not one
                        fell to the share of Miss Dashwood, whom she eyed with the spirited
                        determination of disliking her at all events.</span>
                </p>

                <p>
                    <span id="said_no_02430" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor could not NOW be made
                        unhappy by this behaviour. — A few months ago it would have hurt her
                        exceedingly; but it was not in Mrs. Ferrars' power to distress her by it
                        now; — and the difference of her manners to the Miss Steeles, a
                        difference which seemed purposely made to humble her more, only amused
                        her.</span>
                    <span id="said_no_02431" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She could not but smile to
                        see</span>
                    <span id="said_no_02432" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">the graciousness of
                        both mother and daughter towards the very person —</span>
                    <span id="said_no_02433" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">for Lucy was particularly
                        distinguished —</span>
                    <span id="said_no_02434" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">whom of all others,
                        had they known as much as she did, they would have been most anxious to
                        mortify;</span>
                    <span id="said_no_02435" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">while she herself, who had
                        comparatively no power to wound them, sat pointedly slighted by both. But
                        while she smiled at a graciousness so misapplied, she could not reflect on
                        the mean-spirited folly from which it sprung, nor observe the studied
                        attentions with which the Miss Steeles courted its continuance, without
                        thoroughly despising them all four.</span>
                </p>

                <p>
                    <span id="said_no_02436" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Lucy was all exultation on
                        being so honorably distinguished; and Miss Steele wanted only to be teazed
                        about Dr. Davies to be perfectly happy.</span>
                </p>

                <p>
                    <span id="said_no_02437" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The dinner was a grand one,
                        the servants were numerous, and every thing bespoke the Mistress's
                        inclination for show, and the Master's ability to support it. In spite of
                        the improvements and additions which were making to the Norland estate, and
                        in spite of its owner having once been within some thousand pounds of being
                        obliged to sell out at a loss, nothing gave any symptom of that indigence
                        which he had tried to infer from it; — no poverty of any kind, except
                        of conversation, appeared — but there, the deficiency was
                        considerable. John Dashwood had not much to say for himself that was worth
                        hearing, and his wife had still less. But there was no peculiar disgrace in
                        this; for it was very much the case with the chief of their visitors, who
                        almost all laboured under one or other of these disqualifications for being
                        agreeable — Want of sense, either natural or improved — want of
                        elegance — want of spirits — or want of temper.</span>
                </p>

                <p>
                    <span id="said_no_02438" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">When the ladies withdrew to
                        the drawing-room after dinner, this poverty was particularly evident, for
                        the gentlemen HAD supplied the discourse with some variety — the
                        variety of politics, inclosing land, and breaking horses — but then it
                        was all over; and one subject only engaged the ladies till coffee came in,
                        which was the comparative heights of Harry Dashwood, and Lady Middleton's
                        second son William, who were nearly of the same age.</span>
                </p>

                <p>
                    <span id="said_no_02439" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Had both the children been
                        there, the affair might have been determined too easily by measuring them at
                        once; but as Harry only was present, it was all conjectural assertion on
                        both sides; and every body had a right to be equally positive in their
                        opinion, and to repeat it over and over again as often as they liked.</span>
                </p>

                <p>
                    <span id="said_no_02440" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The parties stood
                        thus:</span>
                </p>

                <p>
                    <span id="said_no_02441" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The two mothers, though each
                        really convinced that her own son was the tallest, politely decided in
                        favour of the other.</span>
                </p>

                <p>
                    <span id="said_no_02442" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The two grandmothers, with
                        not less partiality, but more sincerity, were equally earnest in support of
                        their own descendant.</span>
                </p>

                <p>
                    <span id="said_no_02443" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Lucy,</span>
                    <span id="said_no_02444" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">who was hardly less anxious
                        to please one parent than the other,</span>
                    <span id="said_no_02445" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">thought</span>
                    <span id="said_no_02446" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_lucy" data-placement="auto top">the boys were both
                        remarkably tall for their age, and could not conceive that there could be
                        the smallest difference in the world between them;</span>
                    <span id="said_no_02447" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and Miss Steele, with yet
                        greater address gave it, as fast as she could, in favour of each.</span>
                </p>

                <p>
                    <span id="said_no_02448" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor, having once
                        delivered her opinion on William's side, by which she offended Mrs. Ferrars
                        and Fanny still more, did not see the necessity of enforcing it by any
                        farther assertion; and Marianne, when called on for hers, offended them all,
                        by</span>
                    <span id="said_no_02449" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">declaring that</span>
                    <span id="said_no_02450" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_mari" data-placement="auto top">she had no opinion to
                        give, as she had never thought about it.</span>
                </p>

                <p>
                    <span id="said_no_02451" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Before her removing from
                        Norland, Elinor had painted a very pretty pair of screens for her
                        sister-in-law, which being now just mounted and brought home, ornamented her
                        present drawing room; and these screens, catching the eye of John Dashwood
                        on his following the other gentlemen into the room, were officiously handed
                        by him to Colonel Brandon for his admiration.</span>
                </p>

                <p>
                    
                        <span id="said_no_02452" class="said" data-toggle="tooltip" title="John Dashwood" data-placement="auto top">"These are done by my
                            eldest sister," </span>
                        <span id="said_no_02453" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said he;</span>
                        <span id="said_no_02454" class="said" data-toggle="tooltip" title="John Dashwood" data-placement="auto top">"and you, as a man of
                            taste, will, I dare say, be pleased with them. I do not know whether you
                            have ever happened to see any of her performances before, but she is in
                            general reckoned to draw extremely well."</span>
                    
                </p>

                <p>
                    <span id="said_no_02455" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The Colonel, though
                        disclaiming all pretensions to connoisseurship, warmly admired the screens,
                        as he would have done any thing painted by Miss Dashwood; and on the
                        curiosity of the others being of course excited, they were handed round for
                        general inspection. Mrs. Ferrars, not aware of their being Elinor's work,
                        particularly requested to look at them; and after they had received
                        gratifying testimony of Lady Middletons's approbation, Fanny presented them
                        to her mother,</span>
                    <span id="said_no_02456" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">considerately informing
                        her,</span>
                    <span id="said_no_02457" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">at the same time,</span>
                    <span id="said_no_02458" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">that</span>
                    <span id="said_no_02459" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_fan" data-placement="auto top">they were done by Miss
                        Dashwood.</span>
                </p>

                <p><span id="said_no_02460" class="said" data-toggle="tooltip" title="Mrs. Ferrars" data-placement="auto top">"Hum" —</span>
                        <span id="said_no_02461" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs. Ferrars
                            —</span>
                        <span id="said_no_02462" class="said" data-toggle="tooltip" title="Mrs. Ferrars" data-placement="auto top">"very pretty,"
                        </span>— <span id="said_no_02463" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and
                        without regarding them at all, returned them to her daughter.</span></p>

                <p>
                    <span id="said_no_02464" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Perhaps</span>
                    <span id="said_no_02465" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Fanny thought</span>
                    <span id="said_no_02466" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">for a moment</span>
                    <span id="said_no_02467" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">that</span>
                    <span id="said_no_02468" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_fan" data-placement="auto top">her mother had been
                        quite rude enough, —</span>
                    <span id="said_no_02469" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">for, colouring a little, she
                        immediately said,</span>
                </p>

                <p>
                    <span id="said_no_02470" class="said" data-toggle="tooltip" title="Fanny Dashwood" data-placement="auto top">"They are very pretty, ma'am
                        — an't they?" </span>
                    <span id="said_no_02471" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">But then again, the dread of
                        having been too civil, too encouraging herself, probably came over her, for
                        she presently added,</span>
                </p>

                <p>
                    <span id="said_no_02472" class="said" data-toggle="tooltip" title="Fanny Dashwood" data-placement="auto top">"Do you not think they are
                        something in Miss Morton's style of painting, Ma'am? — She DOES paint
                        most delightfully! — How beautifully her last landscape is
                        done!"</span>
                </p>

                <p>
                    <span id="said_no_02473" class="said" data-toggle="tooltip" title="Mrs. Ferrars" data-placement="auto top">"Beautifully indeed! But SHE
                        does every thing well."</span>
                </p>

                <p>
                    <span id="said_no_02474" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne could not bear
                        this. — She was already greatly displeased with Mrs. Ferrars; and such
                        ill-timed praise of another, at Elinor's expense, though she had not any
                        notion of what was principally meant by it, provoked her immediately to say
                        with warmth,</span>
                </p>

                <p>
                    <span id="said_no_02475" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"This is admiration of a
                        very particular kind! — what is Miss Morton to us? — who knows,
                        or who cares, for her? — it is Elinor of whom WE think and
                        speak."</span>
                </p>

                <p>
                    <span id="said_no_02476" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">And so saying, she took the
                        screens out of her sister-in-law's hands, to admire them herself as they
                        ought to be admired.</span>
                </p>

                <p>
                    <span id="said_no_02477" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Ferrars looked
                        exceedingly angry, and drawing herself up more stiffly than ever, pronounced
                        in retort this bitter philippic,</span>
                    <span id="said_no_02478" class="said" data-toggle="tooltip" title="Mrs. Ferrars" data-placement="auto top">"Miss Morton is Lord
                        Morton's daughter."</span>
                </p>

                <p>
                    <span id="said_no_02479" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Fanny looked very angry too,
                        and her husband was all in a fright at his sister's audacity. Elinor was
                        much more hurt by Marianne's warmth than she had been by what produced it;
                        but Colonel Brandon's eyes, as they were fixed on Marianne, declared that he
                        noticed only what was amiable in it, the affectionate heart which could not
                        bear to see a sister slighted in the smallest point.</span>
                </p>

                <p>
                    <span id="said_no_02480" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne's feelings did not
                        stop here. The cold insolence of Mrs. Ferrars's general behaviour to her
                        sister, seemed, to her, to foretell such difficulties and distresses to
                        Elinor, as her own wounded heart taught her to think of with horror; and
                        urged by a strong impulse of affectionate sensibility, she moved after a
                        moment, to her sister's chair, and putting one arm round her neck, and one
                        cheek close to hers, said in a low, but eager, voice,</span>
                </p>

                <p>
                    <span id="said_no_02481" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Dear, dear Elinor, don't
                        mind them. Don't let them make YOU unhappy."</span>
                </p>

                <p>
                    <span id="said_no_02482" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She could say no more; her
                        spirits were quite overcome, and hiding her face on Elinor's shoulder, she
                        burst into tears. Every body's attention was called, and almost every body
                        was concerned. — Colonel Brandon rose up and went to them without
                        knowing what he did. — Mrs. Jennings, with a very intelligent</span>
                    <span id="said_no_02483" class="said" data-toggle="tooltip" title="Mrs Jennings" data-placement="auto top">"Ah! poor dear," </span>
                    <span id="said_no_02484" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">immediately gave her her
                        salts; and Sir John felt so desperately enraged against the author of this
                        nervous distress, that he instantly changed his seat to one close by Lucy
                        Steele, and gave her, in a whisper, a brief account of the whole shocking
                        affair.</span>
                </p>

                <p>
                    <span id="said_no_02485" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">In a few minutes, however,
                        Marianne was recovered enough to put an end to the bustle, and sit down
                        among the rest; though her spirits retained the impression of what had
                        passed, the whole evening.</span>
                </p>

                <p>
                    
                        <span id="said_no_02486" class="said" data-toggle="tooltip" title="John Dashwood" data-placement="auto top">"Poor Marianne!" </span>
                        <span id="said_no_02487" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said her brother to
                            Colonel Brandon, in a low voice, as soon as he could secure his
                            attention, —</span>
                        <span id="said_no_02488" class="said" data-toggle="tooltip" title="John Dashwood" data-placement="auto top">"She has not such good
                            health as her sister, — she is very nervous, — she has not
                            Elinor's constitution; — and one must allow that there is
                            something very trying to a young woman who HAS BEEN a beauty in the loss
                            of her personal attractions. You would not think it perhaps, but
                            Marianne WAS remarkably handsome a few months ago; quite as handsome as
                            Elinor. — Now you see it is all gone."</span>
                    
                </p>
            
    <div class="footnotes"> </div>
