

     
    
        

                <h3>Chapter 20</h3>

                <p>
                    <span id="said_no_01109" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">As the Miss Dashwoods
                        entered the drawing-room of the park the next day, at one door, Mrs. Palmer
                        came running in at the other, looking as good humoured and merry as before.
                        She took them all most affectionately by the hand, and expressed great
                        delight in seeing them again.</span>
                </p>

                <p>
                    
                        <span id="said_no_01110" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"I am so glad to see
                            you!" </span>
                        <span id="said_no_01111" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said she, seating
                            herself between Elinor and Marianne,</span>
                        <span id="said_no_01112" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"for it is so bad a day
                            I was afraid you might not come, which would be a shocking thing, as we
                            go away again tomorrow. We must go, for the Westons come to us next week
                            you know. It was quite a sudden thing our coming at all, and I knew
                            nothing of it till the carriage was coming to the door, and then</span>
                        <span id="said_no_01113" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">Mr. Palmer asked
                            me</span>
                        <span id="said_no_01114" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Mrs. Palmer speaking as Mr. Palmer" data-placement="auto top">if I would go
                            with him to Barton.</span>
                        <span id="said_no_01115" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">He is so droll! He never
                            tells me any thing! I am so sorry we cannot stay longer; however we
                            shall meet again in town very soon, I hope."</span>
                    
                </p>

                <p>
                    <span id="said_no_01116" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">They were obliged to put an
                        end to such an expectation.</span>
                </p>

                <p>
                    
                        <span id="said_no_01117" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Not go to town!"</span>
                        <span id="said_no_01118" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Mrs. Palmer, with
                            a laugh,</span>
                        <span id="said_no_01119" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"I shall be quite
                            disappointed if you do not. I could get the nicest house in world for
                            you, next door to ours, in Hanover-square. You must come, indeed. I am
                            sure I shall be very happy to chaperon you at any time till I am
                            confined, if Mrs. Dashwood should not like to go into public."</span>
                    
                </p>

                <p>
                    <span id="said_no_01120" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">They thanked her; but were
                        obliged to resist all her entreaties.</span>
                </p>

                <p>
                    
                        <span id="said_no_01121" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Oh, my love,"</span>
                        <span id="said_no_01122" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Mrs. Palmer to her
                            husband, who just then entered the room —</span>
                        <span id="said_no_01123" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"you must help me to
                            persuade the Miss Dashwoods to go to town this winter."</span>
                    
                </p>

                <p>
                    <span id="said_no_01124" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Her love made no answer; and
                        after slightly bowing to the ladies, began complaining of the
                        weather.</span>
                </p>

                <p>
                    
                        <span id="said_no_01125" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top">"How horrid all this is!" </span>
                        <span id="said_no_01126" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said he. </span>
                        <span id="said_no_01127" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top">"Such weather makes every
                            thing and every body disgusting. Dullness is as much produced within
                            doors as without, by rain. It makes one detest all one's acquaintance.
                            What the devil does Sir John mean by not having a billiard room in his
                            house? How few people know what comfort is! Sir John is as stupid as the
                            weather."</span>
                    
                </p>

                <p>
                    <span id="said_no_01128" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The rest of the company soon
                        dropt in.</span>
                </p>

                <p>
                    
                        <span id="said_no_01129" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"I am afraid, Miss
                            Marianne," </span>
                        <span id="said_no_01130" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Sir John,</span>
                        <span id="said_no_01131" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"you have not been able
                            to take your usual walk to Allenham today."</span>
                    
                </p>

                <p>
                    <span id="said_no_01132" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne looked very grave
                        and said nothing.</span>
                </p>

                <p>
                    
                        <span id="said_no_01133" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Oh, don't be so sly
                            before us," </span>
                        <span id="said_no_01134" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs. Palmer;</span>
                        <span id="said_no_01135" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"for we know all about
                            it, I assure you; and I admire your taste very much, for I think he is
                            extremely handsome. We do not live a great way from him in the country,
                            you know. Not above ten miles, I dare say."</span>
                    
                </p>

                <p>
                    <span id="said_no_01136" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top">"Much nearer thirty," </span>
                    <span id="said_no_01137" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said her husband.</span>
                </p>

                <p>
                    <span id="said_no_01138" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Ah, well! there is not much
                        difference. I never was at his house; but they say it is a sweet pretty
                        place."</span>
                </p>

                <p>
                    <span id="said_no_01139" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top">"As vile a spot as I ever saw
                        in my life,"</span>
                    <span id="said_no_01140" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mr. Palmer.</span>
                </p>

                <p>
                    <span id="said_no_01141" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne remained perfectly
                        silent, though her countenance betrayed her interest in what was
                        said.</span>
                </p>

                <p>
                    
                        <span id="said_no_01142" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Is it very
                            ugly?"</span>
                        <span id="said_no_01143" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">continued Mrs. Palmer
                            —</span>
                        <span id="said_no_01144" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"then it must be some
                            other place that is so pretty I suppose."</span>
                    
                </p>

                <p>
                    <span id="said_no_01145" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">When they were seated in the
                        dining room, Sir John observed with regret that they were only eight all
                        together.</span>
                </p>

                <p>
                    
                        <span id="said_no_01146" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"My dear," </span>
                        <span id="said_no_01147" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said he to his
                            lady,</span>
                        <span id="said_no_01148" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top"> "it is very provoking
                            that we should be so few. Why did not you ask the Gilberts to come to us
                            today?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01149" class="said" data-toggle="tooltip" title="Lady Middleton" data-placement="auto top">"Did not I tell you, Sir
                        John, when you spoke to me about it before, that it could not be done? They
                        dined with us last."</span>
                </p>

                <p>
                    
                        <span id="said_no_01150" class="said" data-toggle="tooltip" title="Mrs Jennings" data-placement="auto top">"You and I, Sir John," </span>
                        <span id="said_no_01151" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs.
                            Jennings,</span>
                        <span id="said_no_01152" class="said" data-toggle="tooltip" title="Mrs Jennings" data-placement="auto top">"should not stand upon
                            such ceremony."</span>
                    
                </p>

                <p>
                    <span id="said_no_01153" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top">"Then you would be very
                        ill-bred,"</span>
                    <span id="said_no_01154" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Mr. Palmer.</span>
                </p>

                <p>
                    
                        <span id="said_no_01155" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"My love you contradict
                            every body," </span>
                        <span id="said_no_01156" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said his wife with her
                            usual laugh.</span>
                        <span id="said_no_01157" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top"> "Do you know that you
                            are quite rude?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01158" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top">"I did not know I
                        contradicted any body in calling your mother ill-bred."</span>
                </p>

                <p>
                    
                        <span id="said_no_01159" class="said" data-toggle="tooltip" title="Mrs Jennings" data-placement="auto top">"Ay, you may abuse me as
                            you please," </span>
                        <span id="said_no_01160" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said the good-natured
                            old lady,</span>
                        <span id="said_no_01161" class="said" data-toggle="tooltip" title="Mrs Jennings" data-placement="auto top">"you have taken
                            Charlotte off my hands, and cannot give her back again. So there I have
                            the whip hand of you."</span>
                    
                </p>

                <p>
                    <span id="said_no_01162" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Charlotte</span>
                    <span id="said_no_01163" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">laughed heartily to think
                        that her husband could not get rid of her; and exultingly</span>
                    <span id="said_no_01164" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said,</span>
                    <span id="said_no_01165" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.004.nar_mrsp" data-placement="auto top">she did not care how
                        cross he was to her, as they must live together.</span>
                    <span id="said_no_01166" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">It was impossible for any
                        one to be more thoroughly good-natured, or more determined to be happy than
                        Mrs. Palmer. The studied indifference, insolence, and discontent of her
                        husband gave her no pain; and when he scolded or abused her, she was highly
                        diverted.</span>
                </p>

                <p>
                    
                        <span id="said_no_01167" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Mr. Palmer is so
                            droll!"</span>
                        <span id="said_no_01168" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said she, in a whisper,
                            to Elinor.</span>
                        <span id="said_no_01169" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top"> "He is always out of
                            humour."</span>
                    
                </p>

                <p>
                    <span id="said_no_01170" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor was not inclined,
                        after a little observation, to give him credit for being so genuinely and
                        unaffectedly ill-natured or ill-bred as he wished to appear.</span>
                    <span id="said_no_01171" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">His temper might
                        perhaps be a little soured by finding, like many others of his sex, that
                        through some unaccountable bias in favour of beauty, he was the husband of a
                        very silly woman, —</span>
                    <span id="said_no_01172" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">but she knew that</span>
                    <span id="said_no_01173" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">this kind of blunder
                        was too common for any sensible man to be lastingly hurt by it. — It
                        was rather a wish of distinction,</span>
                    <span id="said_no_01174" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she believed,</span>
                    <span id="said_no_01175" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">which produced his
                        contemptuous treatment of every body, and his general abuse of every thing
                        before him. It was the desire of appearing superior to other people. The
                        motive was too common to be wondered at; but the means, however they might
                        succeed by establishing his superiority in ill-breeding, were not likely to
                        attach any one to him except his wife.</span>
                </p>

                <p>
                    
                        <span id="said_no_01176" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Oh, my dear Miss
                            Dashwood," </span>
                        <span id="said_no_01177" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs. Palmer soon
                            afterwards,</span>
                        <span id="said_no_01178" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top"> "I have got such a
                            favour to ask of you and your sister. Will you come and spend some time
                            at Cleveland this Christmas? Now, pray do, — and come while the
                            Westons are with us. You cannot think how happy I shall be! It will be
                            quite delightful! — My love," </span>
                        <span id="said_no_01179" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">applying to her
                            husband,</span>
                        <span id="said_no_01180" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"don't you long to have
                            the Miss Dashwoods come to Cleveland?"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01181" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top">"Certainly,"</span>
                        <span id="said_no_01182" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">he replied, with a sneer
                            —</span>
                        <span id="said_no_01183" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top">"I came into Devonshire
                            with no other view."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01184" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"There now,"
                            —</span>
                        <span id="said_no_01185" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said his lady,</span>
                        <span id="said_no_01186" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"you see Mr. Palmer
                            expects you; so you cannot refuse to come."</span>
                    
                </p>

                <p>
                    <span id="said_no_01187" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">They both eagerly and
                        resolutely declined her invitation.</span>
                </p>

                <p>
                    <span id="said_no_01188" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"But indeed you must and
                        shall come. I am sure you will like it of all things. The Westons will be
                        with us, and it will be quite delightful. You cannot think what a sweet
                        place Cleveland is; and we are so gay now, for Mr. Palmer is always going
                        about the country canvassing against the election; and so many people came
                        to dine with us that I never saw before, it is quite charming! But, poor
                        fellow! it is very fatiguing to him! for he is forced to make every body
                        like him."</span>
                </p>

                <p>
                    <span id="said_no_01189" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor could hardly keep her
                        countenance as she assented to the hardship of such an obligation.</span>
                </p>

                <p>
                    
                        <span id="said_no_01190" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"How charming it will
                            be," </span>
                        <span id="said_no_01191" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Charlotte,</span>
                        <span id="said_no_01192" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"when he is in
                            Parliament! — won't it? How I shall laugh! It will be so
                            ridiculous to see all his letters directed to him with an M.P. —
                            But do you know,</span>
                        <span id="said_no_01193" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">he says,</span>
                        <span id="said_no_01194" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Mrs. Palmer speaking as Mr. Palmer" data-placement="auto top">he will never
                            frank for me?</span>
                        <span id="said_no_01195" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">He declares</span>
                        <span id="said_no_01196" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Mrs. Palmer speaking as Mr. Palmer" data-placement="auto top">he won't.</span>
                        <span id="said_no_01197" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">Don't you, Mr.
                            Palmer?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01198" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mr. Palmer took no notice of
                        her.</span>
                </p>

                <p>
                    
                        <span id="said_no_01199" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"He cannot bear writing,
                            you know,"</span>
                        <span id="said_no_01200" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she continued
                            —</span>
                        <span id="said_no_01201" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"he says</span>
                        <span id="said_no_01202" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Mrs. Palmer speaking as Mr. Palmer" data-placement="auto top">it is quite
                            shocking."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01203" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top">"No," </span>
                        <span id="said_no_01204" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said he,</span>
                        <span id="said_no_01205" class="said" data-toggle="tooltip" title="Mr. Palmer" data-placement="auto top"> "I never said any thing
                            so irrational. Don't palm all your abuses of languages upon me."</span>
                    
                </p>

                <p>
                    <span id="said_no_01206" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"There now; you see how
                        droll he is. This is always the way with him! Sometimes he won't speak to me
                        for half a day together, and then he comes out with something so droll
                        — all about any thing in the world."</span>
                </p>

                <p>
                    <span id="said_no_01207" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She surprised Elinor very
                        much as they returned into the drawing-room, by asking her whether she did
                        not like Mr. Palmer excessively.</span>
                </p>

                <p>
                    
                        <span id="said_no_01208" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Certainly," </span>
                        <span id="said_no_01209" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor;</span>
                        <span id="said_no_01210" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "he seems very
                            agreeable."</span>
                    
                </p>

                <p>
                    <span id="said_no_01211" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Well — I am so glad
                        you do. I thought you would, he is so pleasant; and Mr. Palmer is
                        excessively pleased with you and your sisters I can tell you, and you can't
                        think how disappointed he will be if you don't come to Cleveland. — I
                        can't imagine why you should object to it."</span>
                </p>

                <p>
                    <span id="said_no_01212" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor was again obliged to
                        decline her invitation; and by changing the subject, put a stop to her
                        entreaties. She thought it probable that as they lived in the same county,
                        Mrs. Palmer might be able to give some more particular account of
                        Willoughby's general character, than could be gathered from the Middletons'
                        partial acquaintance with him; and she was eager to gain from any one, such
                        a confirmation of his merits as might remove the possibility of fear from
                        Marianne.</span>
                    <span id="said_no_01213" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She began by
                        inquiring</span>
                    <span id="said_no_01214" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_eli" data-placement="auto top">if they saw much of
                        Mr. Willoughby at Cleveland, and whether they were intimately acquainted
                        with him.</span>
                </p>

                <p>
                    <span id="said_no_01215" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Oh dear, yes; I know
                            him extremely well,"</span>
                        <span id="said_no_01216" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Mrs.
                            Palmer;</span> — <span id="said_no_01217" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Not that I ever spoke to him, indeed; but I have seen him
                            for ever in town. Somehow or other I never happened to be staying at
                            Barton while he was at Allenham. Mama saw him here once before; —
                            but I was with my uncle at Weymouth. However, I dare say we should have
                            seen a great deal of him in Somersetshire, if it had not happened very
                            unluckily that we should never have been in the country together. He is
                            very little at Combe, I believe; but if he were ever so much there, I do
                            not think Mr. Palmer would visit him, for he is in the opposition, you
                            know, and besides it is such a way off. I know why you inquire about
                            him, very well; your sister is to marry him. I am monstrous glad of it,
                            for then I shall have her for a neighbour you know."</span>
                </p>

                <p>
                    
                        <span id="said_no_01218" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Upon my word," </span>
                        <span id="said_no_01219" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Elinor,</span>
                        <span id="said_no_01220" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"you know much more of
                            the matter than I do, if you have any reason to expect such a
                            match."</span>
                    
                </p>

                <p>
                    <span id="said_no_01221" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Don't pretend to deny it,
                        because you know it is what every body talks of. I assure you I heard of it
                        in my way through town."</span>
                </p>

                <p>
                    <span id="said_no_01222" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"My dear Mrs. Palmer!"</span>
                </p>

                <p>
                    <span id="said_no_01223" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Upon my honour I did.
                        — I met Colonel Brandon Monday morning in Bond-street, just before we
                        left town, and he told me of it directly."</span>
                </p>

                <p>
                    <span id="said_no_01224" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"You surprise me very much.
                        Colonel Brandon tell you of it! Surely you must be mistaken. To give such
                        intelligence to a person who could not be interested in it, even if it were
                        true, is not what I should expect Colonel Brandon to do."</span>
                </p>

                <p>
                    <span id="said_no_01225" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"But I do assure you it was
                        so, for all that, and I will tell you how it happened. When we met him, he
                        turned back and walked with us; and so we began talking of my brother and
                        sister, and one thing and another, and I said to him, 'So, Colonel, there is
                        a new family come to Barton cottage, I hear, and mama sends me word they are
                        very pretty, and that one of them is going to be married to Mr. Willoughby
                        of Combe Magna. Is it true, pray? for of course you must know, as you have
                        been in Devonshire so lately.'"</span>
                </p>

                <p>
                    <span id="said_no_01226" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"And what did the Colonel
                        say?"</span>
                </p>

                <p>
                    <span id="said_no_01227" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Oh — he did not say
                        much; but he looked as if he knew it to be true, so from that moment I set
                        it down as certain. It will be quite delightful, I declare! When is it to
                        take place?"</span>
                </p>

                <p>
                    <span id="said_no_01228" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Mr. Brandon was very well I
                        hope?"</span>
                </p>

                <p>
                    <span id="said_no_01229" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Oh! yes, quite well; and so
                        full of your praises, he did nothing but say fine things of you."</span>
                </p>

                <p>
                    <span id="said_no_01230" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I am flattered by his
                        commendation. He seems an excellent man; and I think him uncommonly
                        pleasing."</span>
                </p>

                <p>
                    <span id="said_no_01231" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"So do I. — He is such
                        a charming man, that it is quite a pity he should be so grave and so
                        dull.</span>
                    <span id="said_no_01232" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">Mama says</span>
                    <span id="said_no_01233" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Mrs. Palmer speaking as Mrs. Jennings" data-placement="auto top">HE was in love with
                        your sister too.</span>
                    <span id="said_no_01234" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">— I assure you it was
                        a great compliment if he was, for he hardly ever falls in love with any
                        body."</span>
                </p>

                <p>
                    <span id="said_no_01235" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Is Mr. Willoughby much known
                        in your part of Somersetshire?" </span>
                    <span id="said_no_01236" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor.</span>
                </p>

                <p>
                    <span id="said_no_01237" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Oh! yes, extremely well;
                        that is, I do not believe many people are acquainted with him, because Combe
                        Magna is so far off; but they all think him extremely agreeable I assure
                        you. Nobody is more liked than Mr. Willoughby wherever he goes, and so you
                        may tell your sister. She is a monstrous lucky girl to get him, upon my
                        honour; not but that he is much more lucky in getting her, because she is so
                        very handsome and agreeable, that nothing can be good enough for her.
                        However, I don't think her hardly at all handsomer than you, I assure you;
                        for I think you both excessively pretty, and so does Mr. Palmer too I am
                        sure, though we could not get him to own it last night."</span>
                </p>

                <p>
                    <span id="said_no_01238" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Palmer's information
                        respecting Willoughby was not very material; but any testimony in his
                        favour, however small, was pleasing to her.</span>
                </p>

                <p>
                    
                        <span id="said_no_01239" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"I am so glad we are got
                            acquainted at last," </span>
                        <span id="said_no_01240" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">continued Charlotte.
                            —</span>
                        <span id="said_no_01241" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"And now I hope we shall
                            always be great friends. You can't think how much I longed to see you!
                            It is so delightful that you should live at the cottage! Nothing can be
                            like it, to be sure! And I am so glad your sister is going to be well
                            married! I hope you will be a great deal at Combe Magna. It is a sweet
                            place, by all accounts."</span>
                    
                </p>

                <p>
                    <span id="said_no_01242" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"You have been long
                        acquainted with Colonel Brandon, have not you?"</span>
                </p>

                <p>
                    
                        <span id="said_no_01243" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Yes, a great while;
                            ever since my sister married. — He was a particular friend of Sir
                            John's. I believe," </span>
                        <span id="said_no_01244" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">she added in a low
                            voice,</span>
                        <span id="said_no_01245" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top"> "he would have been
                            very glad to have had me, if he could. Sir John and Lady Middleton
                            wished it very much. But mama did not think the match good enough for
                            me, otherwise Sir John would have mentioned it to the Colonel, and we
                            should have been married immediately."</span>
                    
                </p>

                <p>
                    <span id="said_no_01246" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Did not Colonel Brandon know
                        of Sir John's proposal to your mother before it was made? Had he never owned
                        his affection to yourself?"</span>
                </p>

                <p>
                    <span id="said_no_01247" class="said" data-toggle="tooltip" title="Mrs. Palmer" data-placement="auto top">"Oh, no; but if mama had not
                        objected to it, I dare say he would have liked it of all things. He had not
                        seen me then above twice, for it was before I left school. However, I am
                        much happier as I am. Mr. Palmer is the kind of man I like."</span>
                </p>
            
    <div class="footnotes"> </div>
