

     
    
        

                <h3>Chapter 17</h3>

                <p>
                    <span id="said_no_00838" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Dashwood was surprised
                        only for a moment at seeing him; for his coming to Barton was, in her
                        opinion, of all things the most natural. Her joy and expression of regard
                        long outlived her wonder. He received the kindest welcome from her; and
                        shyness, coldness, reserve could not stand against such a reception. They
                        had begun to fail him before he entered the house, and they were quite
                        overcome by the captivating manners of Mrs. Dashwood. Indeed a man could not
                        very well be in love with either of her daughters, without extending the
                        passion to her; and Elinor had the satisfaction of seeing him soon become
                        more like himself. His affections seemed to reanimate towards them all, and
                        his interest in their welfare again became perceptible. He was not in
                        spirits, however; he praised their house, admired its prospect, was
                        attentive, and kind; but still he was not in spirits. The whole family
                        perceived it, and Mrs. Dashwood, attributing it to some want of liberality
                        in his mother, sat down to table indignant against all selfish
                        parents.</span>
                </p>

                <p>
                    
                        <span id="said_no_00839" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"What are Mrs. Ferrars's
                            views for you at present, Edward?" </span>
                        <span id="said_no_00840" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said she, when dinner
                            was over and they had drawn round the fire;</span>
                        <span id="said_no_00841" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"are you still to be a
                            great orator in spite of yourself?"</span>
                    
                </p>

                <p>
                    <span id="said_no_00842" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"No. I hope my mother is now
                        convinced that I have no more talents than inclination for a public
                        life!"</span>
                </p>

                <p>
                    <span id="said_no_00843" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"But how is your fame to be
                        established? for famous you must be to satisfy all your family; and with no
                        inclination for expense, no affection for strangers, no profession, and no
                        assurance, you may find it a difficult matter."</span>
                </p>

                <p>
                    <span id="said_no_00844" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"I shall not attempt it. I
                        have no wish to be distinguished; and have every reason to hope I never
                        shall. Thank Heaven! I cannot be forced into genius and eloquence."</span>
                </p>

                <p>
                    <span id="said_no_00845" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"You have no ambition, I
                        well know. Your wishes are all moderate."</span>
                </p>

                <p>
                    <span id="said_no_00846" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"As moderate as those of the
                        rest of the world, I believe. I wish as well as every body else to be
                        perfectly happy; but, like every body else it must be in my own way.
                        Greatness will not make me so."</span>
                </p>

                <p>
                    
                        <span id="said_no_00847" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Strange that it would!" </span>
                        <span id="said_no_00848" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> cried Marianne.</span>
                        <span id="said_no_00849" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"What have wealth or
                            grandeur to do with happiness?"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00850" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Grandeur has but
                            little," </span>
                        <span id="said_no_00851" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Elinor,</span>
                        <span id="said_no_00852" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "but wealth has much to
                            do with it."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00853" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Elinor, for shame!" </span>
                        <span id="said_no_00854" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Marianne,</span>
                        <span id="said_no_00855" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top"> "money can only give
                            happiness where there is nothing else to give it. Beyond a competence,
                            it can afford no real satisfaction, as far as mere self is
                            concerned."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00856" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Perhaps,"</span>
                        <span id="said_no_00857" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Elinor,
                            smiling,</span>
                        <span id="said_no_00858" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "we may come to the same
                            point. YOUR competence and MY wealth are very much alike, I dare say;
                            and without them, as the world goes now, we shall both agree that every
                            kind of external comfort must be wanting. Your ideas are only more noble
                            than mine. Come, what is your competence?"</span>
                    
                </p>

                <p>
                    <span id="said_no_00859" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"About eighteen hundred or
                        two thousand a year; not more than THAT."</span>
                </p>

                <p>
                    <span id="said_no_00860" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor laughed.</span>
                    <span id="said_no_00861" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"TWO thousand a year! ONE is
                        my wealth! I guessed how it would end."</span>
                </p>

                <p>
                    
                        <span id="said_no_00862" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"And yet two thousand
                            a-year is a very moderate income," </span>
                        <span id="said_no_00863" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Marianne. </span>
                        <span id="said_no_00864" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"A family cannot well be
                            maintained on a smaller. I am sure I am not extravagant in my demands. A
                            proper establishment of servants, a carriage, perhaps two, and hunters,
                            cannot be supported on less."</span>
                    
                </p>

                <p>
                    <span id="said_no_00865" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor smiled again, to hear
                        her sister describing so accurately their future expenses at Combe
                        Magna.</span>
                </p>

                <p>
                    <span id="said_no_00866" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"Hunters!"</span><span id="said_no_00867" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> repeated Edward</span>
                            —<span id="said_no_00868" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"but why must
                            you have hunters? Every body does not hunt."</span>
                </p>

                <p>
                    <span id="said_no_00869" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne coloured as she
                        replied,</span>
                    <span id="said_no_00870" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"But most people do."</span>
                </p>

                <p>
                    
                        <span id="said_no_00871" class="said" data-toggle="tooltip" title="Margaret Dashwood" data-placement="auto top">"I wish," </span>
                        <span id="said_no_00872" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Margaret, striking
                            out a novel thought,</span>
                        <span id="said_no_00873" class="said" data-toggle="tooltip" title="Margaret Dashwood" data-placement="auto top">"that somebody would
                            give us all a large fortune apiece!"</span>
                    
                </p>

                <p>
                    <span id="said_no_00874" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Oh that they would!"</span>
                    <span id="said_no_00875" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> cried Marianne, her eyes
                        sparkling with animation, and her cheeks glowing with the delight of such
                        imaginary happiness.</span>
                </p>

                <p>
                    
                        <span id="said_no_00876" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"We are all unanimous in
                            that wish, I suppose," </span>
                        <span id="said_no_00877" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Elinor,</span>
                        <span id="said_no_00878" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"in spite of the
                            insufficiency of wealth."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00879" class="said" data-toggle="tooltip" title="Margaret Dashwood" data-placement="auto top">"Oh dear!" </span>
                        <span id="said_no_00880" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> cried Margaret,</span>
                        <span id="said_no_00881" class="said" data-toggle="tooltip" title="Margaret Dashwood" data-placement="auto top">"how happy I should be!
                            I wonder what I should do with it!"</span>
                    
                </p>

                <p>
                    <span id="said_no_00882" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne looked as if she
                        had no doubt on that point.</span>
                </p>

                <p>
                    
                        <span id="said_no_00883" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"I should be puzzled to
                            spend so large a fortune myself," </span>
                        <span id="said_no_00884" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs. Dashwood, </span>
                        <span id="said_no_00885" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"if my children were all
                            to be rich my help."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00886" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"You must begin your
                            improvements on this house,"</span>
                        <span id="said_no_00887" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> observed Elinor,</span>
                        <span id="said_no_00888" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "and your difficulties
                            will soon vanish."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00889" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"What magnificent orders
                            would travel from this family to London," </span>
                        <span id="said_no_00890" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Edward, </span>
                        <span id="said_no_00891" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"in such an event! What a
                            happy day for booksellers, music-sellers, and print-shops! You, Miss
                            Dashwood, would give a general commission for every new print of merit
                            to be sent you — and as for Marianne, I know her greatness of
                            soul, there would not be music enough in London to content her. And
                            books! — Thomson, Cowper, Scott — she would buy them all
                            over and over again: she would buy up every copy, I believe, to prevent
                            their falling into unworthy hands; and she would have every book that
                            tells her how to admire an old twisted tree. Should not you, Marianne?
                            Forgive me, if I am very saucy. But I was willing to shew you that I had
                            not forgot our old disputes."</span>
                    
                </p>

                <p>
                    <span id="said_no_00892" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"I love to be reminded of
                        the past, Edward — whether it be melancholy or gay, I love to recall
                        it — and you will never offend me by talking of former times. You are
                        very right in supposing how my money would be spent — some of it, at
                        least — my loose cash would certainly be employed in improving my
                        collection of music and books."</span>
                </p>

                <p>
                    <span id="said_no_00893" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"And the bulk of your fortune
                        would be laid out in annuities on the authors or their heirs."</span>
                </p>

                <p>
                    <span id="said_no_00894" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"No, Edward, I should have
                        something else to do with it."</span>
                </p>

                <p>
                    <span id="said_no_00895" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"Perhaps, then, you would
                        bestow it as a reward on that person who wrote the ablest defence of your
                        favourite maxim,</span>
                    <span id="said_no_00896" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">that</span>
                    <span id="said_no_00897" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Edward Ferrars speaking as Marianne Dashwood" data-placement="auto top">no one can ever be
                        in love more than once in their life —</span>
                    <span id="said_no_00898" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">your opinion on that point is
                        unchanged, I presume?"</span>
                </p>

                <p>
                    <span id="said_no_00899" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Undoubtedly. At my time of
                        life opinions are tolerably fixed. It is not likely that I should now see or
                        hear any thing to change them."</span>
                </p>

                <p>
                    
                        <span id="said_no_00900" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Marianne is as steadfast
                            as ever, you see," </span>
                        <span id="said_no_00901" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor,</span>
                        <span id="said_no_00902" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "she is not at all
                            altered."</span>
                    
                </p>

                <p>
                    <span id="said_no_00903" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"She is only grown a little
                        more grave than she was."</span>
                </p>

                <p>
                    
                        <span id="said_no_00904" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Nay, Edward," </span>
                        <span id="said_no_00905" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Marianne,</span>
                        <span id="said_no_00906" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top"> "you need not reproach
                            me. You are not very gay yourself."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00907" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"Why should you think
                            so!" </span>
                        <span id="said_no_00908" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied he, with a
                            sigh.</span>
                        <span id="said_no_00909" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top"> "But gaiety never was a
                            part of MY character." </span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00910" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Nor do I think it a part
                            of Marianne's,"</span>
                        <span id="said_no_00911" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor; </span>
                        <span id="said_no_00912" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I should hardly call her
                            a lively girl — she is very earnest, very eager in all she does
                            — sometimes talks a great deal and always with animation —
                            but she is not often really merry."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00913" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"I believe you are
                            right," </span>
                        <span id="said_no_00914" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> he replied, </span>
                        <span id="said_no_00915" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"and yet I have always
                            set her down as a lively girl."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00916" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I have frequently
                            detected myself in such kind of mistakes,"</span>
                        <span id="said_no_00917" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Elinor,</span>
                        <span id="said_no_00918" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "in a total
                            misapprehension of character in some point or other: fancying people so
                            much more gay or grave, or ingenious or stupid than they really are, and
                            I can hardly tell why or in what the deception originated. Sometimes one
                            is guided by what they say of themselves, and very frequently by what
                            other people say of them, without giving oneself time to deliberate and
                            judge."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00919" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"But I thought it was
                            right, Elinor," </span>
                        <span id="said_no_00920" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Marianne, </span>
                        <span id="said_no_00921" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"to be guided wholly by
                            the opinion of other people. I thought our judgments were given us
                            merely to be subservient to those of neighbours. This has always been
                            your doctrine, I am sure."</span>
                    
                </p>

                <p>
                    <span id="said_no_00922" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"No, Marianne, never. My
                        doctrine has never aimed at the subjection of the understanding. All I have
                        ever attempted to influence has been the behaviour. You must not confound my
                        meaning. I am guilty, I confess, of having often wished you to treat our
                        acquaintance in general with greater attention; but when have I advised you
                        to adopt their sentiments or to conform to their judgment in serious
                        matters?"</span>
                </p>

                <p>
                    
                        <span id="said_no_00923" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"You have not been able
                            to bring your sister over to your plan of general civility,"</span>
                        <span id="said_no_00924" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Edward to
                            Elinor,</span>
                        <span id="said_no_00925" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"Do you gain no
                            ground?"</span>
                    
                </p>

                <p>
                    <span id="said_no_00926" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Quite the contrary,"</span>
                    <span id="said_no_00927" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> replied Elinor, looking
                        expressively at Marianne.</span>
                </p>

                <p>
                    
                        <span id="said_no_00928" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"My judgment,"</span>
                        <span id="said_no_00929" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> he returned,</span>
                        <span id="said_no_00930" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"is all on your side of
                            the question; but I am afraid my practice is much more on your sister's.
                            I never wish to offend, but I am so foolishly shy, that I often seem
                            negligent, when I am only kept back by my natural awkwardness. I have
                            frequently thought that I must have been intended by nature to be fond
                            of low company, I am so little at my ease among strangers of
                            gentility!"</span>
                    
                </p>

                <p>
                    <span id="said_no_00931" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Marianne has not shyness to
                        excuse any inattention of hers," </span>
                    <span id="said_no_00932" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Elinor.</span>
                </p>

                <p>
                    
                        <span id="said_no_00933" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"She knows her own worth
                            too well for false shame," </span>
                        <span id="said_no_00934" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> replied Edward.</span>
                        <span id="said_no_00935" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"Shyness is only the
                            effect of a sense of inferiority in some way or other. If I could
                            persuade myself that my manners were perfectly easy and graceful, I
                            should not be shy."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00936" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"But you would still be
                            reserved," </span>
                        <span id="said_no_00937" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Marianne,</span>
                        <span id="said_no_00938" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"and that is
                            worse."</span>
                    
                </p>

                <p>
                    <span id="said_no_00939" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Edward started
                        —</span>
                    <span id="said_no_00940" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"Reserved! Am I reserved,
                        Marianne?"</span>
                </p>

                <p>
                    <span id="said_no_00941" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Yes, very."</span>
                </p>

                <p>
                    
                        <span id="said_no_00942" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top">"I do not understand
                            you," </span>
                        <span id="said_no_00943" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> replied he,
                            colouring.</span>
                        <span id="said_no_00944" class="said" data-toggle="tooltip" title="Edward Ferrars" data-placement="auto top"> "Reserved! — how,
                            in what manner? What am I to tell you? What can you suppose?"</span>
                    
                </p>

                <p>
                    <span id="said_no_00945" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor looked surprised at
                        his emotion; but trying to laugh off the subject, she said to him, </span>
                    <span id="said_no_00946" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Do not you know my sister
                        well enough to understand what she means? Do not you know she calls every
                        one reserved who does not talk as fast, and admire what she admires as
                        rapturously as herself?"</span>
                </p>

                <p>
                    <span id="said_no_00947" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Edward made no answer. His
                        gravity and thoughtfulness returned on him in their fullest extent —
                        and he sat for some time silent and dull.</span>
                </p>
            
    <div class="footnotes"> </div>
