

     
    
        

                <h3>Chapter 14</h3>

                <p>
                    <span id="said_no_00642" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The sudden termination of
                        Colonel Brandon's visit at the park, with his steadiness in concealing its
                        cause, filled the mind, and raised the wonder of Mrs. Jennings for two or
                        three days; she was a great wonderer, as every one must be who takes a very
                        lively interest in all the comings and goings of all their
                        acquaintance.</span>
                    <span id="said_no_00643" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She wondered,</span>
                    <span id="said_no_00644" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">with little
                        intermission</span>
                    <span id="said_no_00645" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.004.nar_jenn" data-placement="auto top">what could be the
                        reason of it;</span>
                    <span id="said_no_00646" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">was sure there must be some
                        bad news, and thought over every kind of distress that could have befallen
                        him, with a fixed determination that he should not escape them all.</span>
                </p>

                <p>
                    
                        <span id="said_no_00647" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"Something very
                            melancholy must be the matter, I am sure," </span>
                        <span id="said_no_00648" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said she. </span>
                        <span id="said_no_00649" class="said" data-toggle="tooltip" title="Mrs. Jennings" data-placement="auto top">"I could see it in his
                            face. Poor man! I am afraid his circumstances may be bad. The estate at
                            Delaford was never reckoned more than two thousand a year, and his
                            brother left everything sadly involved. I do think he must have been
                            sent for about money matters, for what else can it be? I wonder whether
                            it is so. I would give anything to know the truth of it. Perhaps it is
                            about Miss Williams and, by the bye, I dare say it is, because he looked
                            so conscious when I mentioned her. May be she is ill in town; nothing in
                            the world more likely, for I have a notion she is always rather sickly.
                            I would lay any wager it is about Miss Williams. It is not so very
                            likely he should be distressed in his circumstances NOW, for he is a
                            very prudent man, and to be sure must have cleared the estate by this
                            time. I wonder what it can be! May be his sister is worse at Avignon,
                            and has sent for him over. His setting off in such a hurry seems very
                            like it. Well, I wish him out of all his trouble with all my heart, and
                            a good wife into the bargain."</span>
                    
                </p>

                <p>
                    <span id="said_no_00650" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">So wondered, so talked Mrs.
                        Jennings. Her opinion varying with every fresh conjecture, and all seeming
                        equally probable as they arose. Elinor, though she felt really interested in
                        the welfare of Colonel Brandon, could not bestow all the wonder on his going
                        so suddenly away, which Mrs. Jennings was desirous of her feeling; for
                        besides that the circumstance did not in her opinion justify such lasting
                        amazement or variety of speculation, her wonder was otherwise disposed of.
                        It was engrossed by the extraordinary silence of her sister and Willoughby
                        on the subject, which they must know to be peculiarly interesting to them
                        all. As this silence continued, every day made it appear more strange and
                        more incompatible with the disposition of both. Why they should not openly
                        acknowledge to her mother and herself, what their constant behaviour to each
                        other declared to have taken place, Elinor could not imagine.</span>
                </p>

                <p>
                    <span id="said_no_00651" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She could easily conceive
                        that marriage might not be immediately in their power; for though Willoughby
                        was independent, there was no reason to believe him rich. His estate had
                        been rated by Sir John at about six or seven hundred a year; but he lived at
                        an expense to which that income could hardly be equal, and he had himself
                        often complained of his poverty. But for this strange kind of secrecy
                        maintained by them relative to their engagement, which in fact concealed
                        nothing at all, she could not account; and it was so wholly contradictory to
                        their general opinions and practice, that a doubt sometimes entered her mind
                        of their being really engaged, and this doubt was enough to prevent her
                        making any inquiry of Marianne.</span>
                </p>

                <p>
                    <span id="said_no_00652" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Nothing could be more
                        expressive of attachment to them all, than Willoughby's behaviour. To
                        Marianne it had all the distinguishing tenderness which a lover's heart
                        could give, and to the rest of the family it was the affectionate attention
                        of a son and a brother. The cottage seemed to be considered and loved by him
                        as his home; many more of his hours were spent there than at Allenham; and
                        if no general engagement collected them at the park, the exercise which
                        called him out in the morning was almost certain of ending there, where the
                        rest of the day was spent by himself at the side of Marianne, and by his
                        favourite pointer at her feet.</span>
                </p>

                <p>
                    <span id="said_no_00653" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">One evening in particular,
                        about a week after Colonel Brandon left the country, his heart seemed more
                        than usually open to every feeling of attachment to the objects around him;
                        and on Mrs. Dashwood's happening to mention her design of improving the
                        cottage in the spring, he warmly opposed every alteration of a place which
                        affection had established as perfect with him.</span>
                </p>

                <p>
                    
                        <span id="said_no_00654" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"What!" </span>
                        <span id="said_no_00655" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">he exclaimed
                            —</span>
                        <span id="said_no_00656" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"Improve this dear
                            cottage! No. THAT I will never consent to. Not a stone must be added to
                            its walls, not an inch to its size, if my feelings are regarded."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00657" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"Do not be alarmed," </span>
                        <span id="said_no_00658" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Miss
                            Dashwood,</span>
                        <span id="said_no_00659" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"nothing of the kind will be
                            done; for my mother will never have money enough to attempt it."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00660" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"I am heartily glad of
                            it," </span>
                        <span id="said_no_00661" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">he cried.</span>
                        <span id="said_no_00662" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"May she always be poor,
                            if she can employ her riches no better."</span>
                    
                </p>

                <p>
                    <span id="said_no_00663" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"Thank you, Willoughby. But
                        you may be assured that I would not sacrifice one sentiment of local
                        attachment of yours, or of any one whom I loved, for all the improvements in
                        the world. Depend upon it that whatever unemployed sum may remain, when I
                        make up my accounts in the spring, I would even rather lay it uselessly by
                        than dispose of it in a manner so painful to you. But are you really so
                        attached to this place as to see no defect in it?"</span>
                </p>

                <p>
                    
                        <span id="said_no_00664" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"I am," </span>
                        <span id="said_no_00665" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said he.</span>
                        <span id="said_no_00666" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top"> "To me it is faultless.
                            Nay, more, I consider it as the only form of building in which happiness
                            is attainable, and were I rich enough I would instantly pull Combe down,
                            and build it up again in the exact plan of this cottage."</span>
                    
                </p>

                <p>
                    <span id="said_no_00667" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"With dark narrow stairs and
                        a kitchen that smokes, I suppose," </span>
                    <span id="said_no_00668" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Elinor.</span>
                </p>

                <p>
                    
                        <span id="said_no_00669" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"Yes," </span>
                        <span id="said_no_00670" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> cried he in the same
                            eager tone,</span>
                        <span id="said_no_00671" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"with all and every
                            thing belonging to it; — in no one convenience or INconvenience
                            about it, should the least variation be perceptible. Then, and then
                            only, under such a roof, I might perhaps be as happy at Combe as I have
                            been at Barton."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00672" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"I flatter myself," </span>
                        <span id="said_no_00673" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">replied Elinor, </span>
                        <span id="said_no_00674" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"that even under the
                            disadvantage of better rooms and a broader staircase, you will hereafter
                            find your own house as faultless as you now do this."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00675" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"There certainly are
                            circumstances," </span>
                        <span id="said_no_00676" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Willoughby, </span>
                        <span id="said_no_00677" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"which might greatly
                            endear it to me; but this place will always have one claim of my
                            affection, which no other can possibly share."</span>
                    
                </p>

                <p>
                    <span id="said_no_00678" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Dashwood looked with
                        pleasure at Marianne, whose fine eyes were fixed so expressively on
                        Willoughby, as plainly denoted how well she understood him.</span>
                </p>

                <p>
                    
                        <span id="said_no_00679" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"How often did I wish," </span>
                        <span id="said_no_00680" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> added he,</span>
                        <span id="said_no_00681" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"when I was at Allenham
                            this time twelvemonth, that Barton cottage were inhabited! I never
                            passed within view of it without admiring its situation, and grieving
                            that no one should live in it. How little did I then think that the very
                            first news I should hear from Mrs. Smith, when I next came into the
                            country, would be that</span>
                        <span id="said_no_00682" class="said indirect said_tooltip certainty_1" data-toggle="tooltip" title="Willoughby speaking as Mrs. Smith" data-placement="auto top">Barton cottage
                            was taken:</span>
                        <span id="said_no_00683" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">and I felt an immediate
                            satisfaction and interest in the event, which nothing but a kind of
                            prescience of what happiness I should experience from it, can account
                            for. Must it not have been so, Marianne?" </span>
                        <span id="said_no_00684" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">speaking to her in a
                            lowered voice. Then continuing his former tone, he said, </span>
                        <span id="said_no_00685" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"And yet this house you
                            would spoil, Mrs. Dashwood? You would rob it of its simplicity by
                            imaginary improvement! and this dear parlour in which our acquaintance
                            first began, and in which so many happy hours have been since spent by
                            us together, you would degrade to the condition of a common entrance,
                            and every body would be eager to pass through the room which has
                            hitherto contained within itself more real accommodation and comfort
                            than any other apartment of the handsomest dimensions in the world could
                            possibly afford."</span>
                    
                </p>

                <p>
                    <span id="said_no_00686" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Dashwood again assured
                        him that</span>
                    <span id="said_no_00687" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_mrsd" data-placement="auto top">no alteration of the
                        kind should be attempted.</span>
                </p>

                <p>
                    
                        <span id="said_no_00688" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top">"You are a good
                            woman,"</span>
                        <span id="said_no_00689" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> he warmly
                            replied.</span>
                        <span id="said_no_00690" class="said" data-toggle="tooltip" title="Willoughby" data-placement="auto top"> "Your promise makes me
                            easy. Extend it a little farther, and it will make me happy. Tell me
                            that not only your house will remain the same, but that I shall ever
                            find you and yours as unchanged as your dwelling; and that you will
                            always consider me with the kindness which has made everything belonging
                            to you so dear to me."</span>
                    
                </p>

                <p>
                    <span id="said_no_00691" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The promise was readily
                        given, and Willoughby's behaviour during the whole of the evening declared
                        at once his affection and happiness.</span>
                </p>

                <p>
                    
                        <span id="said_no_00692" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"Shall we see you
                            tomorrow to dinner?"</span>
                        <span id="said_no_00693" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Mrs. Dashwood,
                            when he was leaving them.</span>
                        <span id="said_no_00694" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top"> "I do not ask you to
                            come in the morning, for we must walk to the park, to call on Lady
                            Middleton."</span>
                    
                </p>

                <p>
                    <span id="said_no_00695" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">He engaged to be with them
                        by four o'clock.</span>
                </p>
            
    <div class="footnotes"> </div>
