

     
    
        

                <h3>Chapter 9</h3>

                <p>
                    <span id="said_no_00291" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The Dashwoods were now
                        settled at Barton with tolerable comfort to themselves. The house and the
                        garden, with all the objects surrounding them, were now become familiar, and
                        the ordinary pursuits which had given to Norland half its charms were
                        engaged in again with far greater enjoyment than Norland had been able to
                        afford, since the loss of their father. Sir John Middleton, who called on
                        them every day for the first fortnight, and who was not in the habit of
                        seeing much occupation at home, could not conceal his amazement on finding
                        them always employed.</span>
                </p>

                <p>
                    <span id="said_no_00292" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Their visitors, except those
                        from Barton Park, were not many; for, in spite of Sir John's urgent
                        entreaties that they would mix more in the neighbourhood, and repeated
                        assurances of his carriage being always at their service, the independence
                        of Mrs. Dashwood's spirit overcame the wish of society for her children; and
                        she was resolute in declining to visit any family beyond the distance of a
                        walk. There were but few who could be so classed; and it was not all of them
                        that were attainable. About a mile and a half from the cottage, along the
                        narrow winding valley of Allenham, which issued from that of Barton, as
                        formerly described, the girls had, in one of their earliest walks,
                        discovered an ancient respectable looking mansion which, by reminding them a
                        little of Norland, interested their imagination and made them wish to be
                        better acquainted with it. But they learnt, on enquiry, that its possessor,
                        an elderly lady of very good character, was unfortunately too infirm to mix
                        with the world, and never stirred from home.</span>
                </p>

                <p>
                    <span id="said_no_00293" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The whole country about them
                        abounded in beautiful walks. The high downs which invited them from almost
                        every window of the cottage to seek the exquisite enjoyment of air on their
                        summits, were a happy alternative when the dirt of the valleys beneath shut
                        up their superior beauties; and towards one of these hills did Marianne and
                        Margaret one memorable morning direct their steps, attracted by the partial
                        sunshine of a showery sky, and unable longer to bear the confinement which
                        the settled rain of the two preceding days had occasioned. The weather was
                        not tempting enough to draw the two others from their pencil and their book,
                        in spite of</span>
                    <span id="said_no_00294" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Marianne's declaration
                        that</span>
                    <span id="said_no_00295" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_mari" data-placement="auto top">the day would be
                        lastingly fair, and that every threatening cloud would be drawn off from
                        their hills;</span>
                    <span id="said_no_00296" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">and the two girls set off
                        together.</span>
                </p>

                <p>
                    <span id="said_no_00297" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">They gaily ascended the
                        downs, rejoicing in their own penetration at every glimpse of blue sky; and
                        when they caught in their faces the animating gales of a high south-westerly
                        wind, they pitied the fears which had prevented their mother and Elinor from
                        sharing such delightful sensations.</span>
                </p>

                <p>
                    
                        <span id="said_no_00298" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Is there a felicity in
                            the world," </span>
                        <span id="said_no_00299" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Marianne, </span>
                        <span id="said_no_00300" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"superior to this?
                            — Margaret, we will walk here at least two hours."</span>
                    
                </p>

                <p>
                    <span id="said_no_00301" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Margaret agreed, and they
                        pursued their way against the wind, resisting it with laughing delight for
                        about twenty minutes longer, when suddenly the clouds united over their
                        heads, and a driving rain set full in their face. — Chagrined and
                        surprised, they were obliged, though unwillingly, to turn back, for no
                        shelter was nearer than their own house. One consolation however remained
                        for them, to which the exigence of the moment gave more than usual
                        propriety; it was that of running with all possible speed down the steep
                        side of the hill which led immediately to their garden gate.</span>
                </p>

                <p>
                    <span id="said_no_00302" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">They set off. Marianne had
                        at first the advantage, but a false step brought her suddenly to the ground;
                        and Margaret, unable to stop herself to assist her, was involuntarily
                        hurried along, and reached the bottom in safety.</span>
                </p>

                <p>
                    <span id="said_no_00303" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">A gentleman carrying a gun,
                        with two pointers playing round him, was passing up the hill and within a
                        few yards of Marianne, when her accident happened. He put down his gun and
                        ran to her assistance. She had raised herself from the ground, but her foot
                        had been twisted in her fall, and she was scarcely able to stand. The
                        gentleman offered his services; and perceiving that her modesty declined
                        what her situation rendered necessary, took her up in his arms without
                        farther delay, and carried her down the hill. Then passing through the
                        garden, the gate of which had been left open by Margaret, he bore her
                        directly into the house, whither Margaret was just arrived, and quitted not
                        his hold till he had seated her in a chair in the parlour.</span>
                </p>

                <p>
                    <span id="said_no_00304" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Elinor and her mother rose
                        up in amazement at their entrance, and while the eyes of both were fixed on
                        him with an evident wonder and a secret admiration which equally sprung from
                        his appearance, he apologized for his intrusion by relating its cause, in a
                        manner so frank and so graceful that his person, which was uncommonly
                        handsome, received additional charms from his voice and expression. Had he
                        been even old, ugly, and vulgar, the gratitude and kindness of Mrs. Dashwood
                        would have been secured by any act of attention to her child; but the
                        influence of youth, beauty, and elegance, gave an interest to the action
                        which came home to her feelings.</span>
                </p>

                <p>
                    <span id="said_no_00305" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">She thanked him again and
                        again; and, with a sweetness of address which always attended her, invited
                        him to be seated. But this he declined, as he was dirty and wet.</span>
                    <span id="said_no_00306" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Mrs. Dashwood then begged
                        to know</span>
                    <span id="said_no_00307" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.004.nar_mrsd" data-placement="auto top">to whom she was
                        obliged.</span>
                    <span id="said_no_00308" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_will" data-placement="auto top">His name,</span>
                    <span id="said_no_00309" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">he replied,</span>
                    <span id="said_no_00310" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.004.nar_mrsd" data-placement="auto top">was Willoughby, and
                        his present home was at Allenham, from whence he hoped she would allow him
                        the honour of calling tomorrow to enquire after Miss Dashwood.</span>
                    <span id="said_no_00311" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">The honour was readily
                        granted, and he then departed, to make himself still more interesting, in
                        the midst of a heavy rain.</span>
                </p>

                <p>
                    <span id="said_no_00312" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">His manly beauty and more
                        than common gracefulness were instantly the theme of general admiration, and
                        the laugh which his gallantry raised against Marianne received particular
                        spirit from his exterior attractions. — Marianne herself had seen less
                        of his person than the rest, for the confusion which crimsoned over her
                        face, on his lifting her up, had robbed her of the power of regarding him
                        after their entering the house. But she had seen enough of him to join in
                        all the admiration of the others, and with an energy which always adorned
                        her praise. His person and air were equal to what her fancy had ever drawn
                        for the hero of a favourite story; and in his carrying her into the house
                        with so little previous formality, there was a rapidity of thought which
                        particularly recommended the action to her. Every circumstance belonging to
                        him was interesting. His name was good, his residence was in their favourite
                        village, and she soon found out that of all manly dresses a shooting-jacket
                        was the most becoming. Her imagination was busy, her reflections were
                        pleasant, and the pain of a sprained ankle was disregarded.</span>
                </p>

                <p>
                    <span id="said_no_00313" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Sir John called on them as
                        soon as the next interval of fair weather that morning allowed him to get
                        out of doors; and Marianne's accident being related to him,</span>
                    <span id="said_no_00314" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">he was eagerly asked</span>
                    <span id="said_no_00315" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_mrsd" data-placement="auto top">whether he knew any
                        gentleman of the name of Willoughby at Allenham.</span>
                </p>

                <p>
                    
                        <span id="said_no_00316" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Willoughby!" </span>
                        <span id="said_no_00317" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">cried Sir John;</span>
                        <span id="said_no_00318" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"what, is HE in the
                            country? That is good news however; I will ride over tomorrow, and ask
                            him to dinner on Thursday."</span>
                    
                </p>

                <p>
                    <span id="said_no_00319" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"You know him then," </span>
                    <span id="said_no_00320" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs. Dashwood.</span>
                </p>

                <p>
                    <span id="said_no_00321" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Know him! to be sure I do.
                        Why, he is down here every year."</span>
                </p>

                <p>
                    <span id="said_no_00322" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"And what sort of a young
                        man is he?"</span>
                </p>

                <p>
                    <span id="said_no_00323" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"As good a kind of fellow as
                        ever lived, I assure you. A very decent shot, and there is not a bolder
                        rider in England."</span>
                </p>

                <p>
                    
                        <span id="said_no_00324" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"And is that all you can
                            say for him?"</span>
                        <span id="said_no_00325" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> cried Marianne,
                            indignantly.</span>
                        <span id="said_no_00326" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"But what are his
                            manners on more intimate acquaintance? What his pursuits, his talents,
                            and genius?"</span>
                    
                </p>

                <p>
                    <span id="said_no_00327" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Sir John was rather
                        puzzled</span>
                </p>

                <p>
                    
                        <span id="said_no_00328" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Upon my soul,"</span>
                        <span id="said_no_00329" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said he,</span>
                        <span id="said_no_00330" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"I do not know much
                            about him as to all THAT. But he is a pleasant, good humoured fellow,
                            and has got the nicest little black bitch of a pointer I ever saw. Was
                            she out with him today?"</span>
                    
                </p>

                <p>
                    <span id="said_no_00331" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">But Marianne could no more
                        satisfy him as to the colour of Mr. Willoughby's pointer, than he could
                        describe to her the shades of his mind.</span>
                </p>

                <p>
                    
                        <span id="said_no_00332" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top">"But who is he?" </span>
                        <span id="said_no_00333" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Elinor. </span>
                        <span id="said_no_00334" class="said" data-toggle="tooltip" title="Elinor Dashwood" data-placement="auto top"> "Where does he come
                            from? Has he a house at Allenham?"</span>
                    
                </p>

                <p>
                    <span id="said_no_00335" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">On this point Sir John could
                        give more certain intelligence; and</span>
                    <span id="said_no_00336" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">he told them that</span>
                    <span id="said_no_00337" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_sirj" data-placement="auto top">Mr. Willoughby had
                        no property of his own in the country;</span>
                    <span id="said_no_00338" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">that</span>
                    <span id="said_no_00339" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.004.nar_sirj" data-placement="auto top">he resided there
                        only while he was visiting the old lady at Allenham Court, to whom he was
                        related, and whose possessions he was to inherit;</span>
                    <span id="said_no_00340" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">adding,</span>
                    <span id="said_no_00341" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Yes, yes, he is very well
                        worth catching I can tell you, Miss Dashwood; he has a pretty little estate
                        of his own in Somersetshire besides; and if I were you, I would not give him
                        up to my younger sister, in spite of all this tumbling down hills. Miss
                        Marianne must not expect to have all the men to herself. Brandon will be
                        jealous, if she does not take care."</span>
                </p>

                <p>
                    
                        <span id="said_no_00342" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top">"I do not believe," </span>
                        <span id="said_no_00343" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">said Mrs. Dashwood, with
                            a good humoured smile,</span>
                        <span id="said_no_00344" class="said" data-toggle="tooltip" title="Mrs. Dashwood" data-placement="auto top"> "that Mr. Willoughby
                            will be incommoded by the attempts of either of MY daughters towards
                            what you call CATCHING him. It is not an employment to which they have
                            been brought up. Men are very safe with us, let them be ever so rich. I
                            am glad to find, however, from what you say, that he is a respectable
                            young man, and one whose acquaintance will not be ineligible."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00345" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"He is as good a sort of
                            fellow, I believe, as ever lived," </span>
                        <span id="said_no_00346" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">repeated Sir John. </span>
                        <span id="said_no_00347" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"I remember last
                            Christmas at a little hop at the park, he danced from eight o'clock till
                            four, without once sitting down."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00348" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"Did he indeed?" </span>
                        <span id="said_no_00349" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> cried Marianne with
                            sparkling eyes,</span>
                        <span id="said_no_00350" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"and with elegance, with
                            spirit?"</span>
                    
                </p>

                <p>
                    <span id="said_no_00351" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Yes; and he was up again at
                        eight to ride to covert."</span>
                </p>

                <p>
                    <span id="said_no_00352" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"That is what I like; that
                        is what a young man ought to be. Whatever be his pursuits, his eagerness in
                        them should know no moderation, and leave him no sense of fatigue."</span>
                </p>

                <p>
                    
                        <span id="said_no_00353" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Aye, aye, I see how it
                            will be,"</span>
                        <span id="said_no_00354" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Sir John,</span>
                        <span id="said_no_00355" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top"> "I see how it will be.
                            You will be setting your cap at him now, and never think of poor
                            Brandon."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00356" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top">"That is an expression,
                            Sir John," </span>
                        <span id="said_no_00357" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top"> said Marianne,
                            warmly,</span>
                        <span id="said_no_00358" class="said" data-toggle="tooltip" title="Marianne Dashwood" data-placement="auto top"> "which I particularly
                            dislike. I abhor every common-place phrase by which wit is intended; and
                            'setting one's cap at a man,' or 'making a conquest,' are the most
                            odious of all. Their tendency is gross and illiberal; and if their
                            construction could ever be deemed clever, time has long ago destroyed
                            all its ingenuity."</span>
                    
                </p>

                <p>
                    <span id="said_no_00359" class="said" data-toggle="tooltip" title="aus.004.nar" data-placement="auto top">Sir John did not much
                        understand this reproof; but he laughed as heartily as if he did, and then
                        replied,</span>
                </p>

                <p>
                    <span id="said_no_00360" class="said" data-toggle="tooltip" title="Sir John Middleton" data-placement="auto top">"Ay, you will make conquests
                        enough, I dare say, one way or other. Poor Brandon! he is quite smitten
                        already, and he is very well worth setting your cap at, I can tell you, in
                        spite of all this tumbling about and spraining of ankles."</span>
                </p>
            
    <div class="footnotes"> </div>
