
   
  
    
        <h3>Chapter 38</h3>
        <p>
          <span id="said_no_03924" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The novelty of travelling, and the
            happiness of being with William, soon produced their natural effect on Fanny's spirits,
            when Mansfield Park was fairly left behind; and by the time their first stage was ended,
            and they were to quit Sir Thomas's carriage, she was able to take leave of the old
            coachman, and send back proper messages, with cheerful looks.</span>
        </p>
        <p>
          <span id="said_no_03925" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Of pleasant talk between the brother
            and sister there was no end. Everything supplied an amusement to the high glee of
            William's mind, and he was full of frolic and joke in the intervals of their
            higher-toned subjects, all of which ended, if they did not begin, in praise of the
            Thrush, conjectures how she would be employed, schemes for an action with some superior
            force, which (supposing the first lieutenant out of the way, and William was not very
            merciful to the first lieutenant) was to give himself the next step as soon as possible,
            or speculations upon prize-money, which was to be generously distributed at home, with
            only</span>
          <span id="said_no_03926" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">the reservation of</span>
          <span id="said_no_03927" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_will" data-placement="auto top">
            enough to make the little
            cottage comfortable, in which he and Fanny were to pass all their middle and later life
            together.</span>
        </p>
        <p>
          <span id="said_no_03928" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny's immediate concerns, as far as
            they involved Mr. Crawford, made no part of their conversation.</span>
          <span id="said_no_03929" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">William</span>
          <span id="said_no_03930" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">knew what had passed, and from his
            heart</span>
          <span id="said_no_03931" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">lamented that</span>
          <span id="said_no_03932" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_will" data-placement="auto top">
            his sister's feelings
            should be so cold towards a man whom he must consider as the first of human
            characters;</span>
          <span id="said_no_03933" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">but he was of an age to be all for
            love, and therefore unable to blame; and knowing her wish on the subject, he would not
            distress her by the slightest allusion.</span>
        </p>
        <p>
          <span id="said_no_03934" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She had reason to suppose herself not
            yet forgotten by Mr. Crawford. She had heard repeatedly from his sister within the three
            weeks which had passed since their leaving Mansfield, and in each letter there had been
            a few lines from himself, warm and determined like his speeches. It was a correspondence
            which Fanny found quite as unpleasant as she had feared. Miss Crawford's style of
            writing, lively and affectionate, was itself an evil, independent of what she was thus
            forced into reading from the brother's pen, for Edmund would never rest till she had
            read the chief of the letter to him; and then she had to listen to his admiration of her
            language, and the warmth of her attachments. There had, in fact, been so much of
            message, of allusion, of recollection, so much of Mansfield in every letter, that Fanny
            could not but suppose it meant for him to hear; and to find herself forced into a
            purpose of that kind, compelled into a correspondence which was bringing her the
            addresses of the man she did not love, and obliging her to administer to the adverse
            passion of the man she did, was cruelly mortifying. Here, too, her present removal
            promised advantage.</span>
          <span id="said_no_03935" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            When no longer under the
            same roof with Edmund, she trusted that Miss Crawford would have no motive for writing
            strong enough to overcome the trouble, and</span>
          <span id="said_no_03936" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_03937" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            at Portsmouth their
            correspondence would dwindle into nothing.</span>
        </p>
        <p>
          <span id="said_no_03938" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">With such thoughts as these, among ten
            hundred others, Fanny proceeded in her journey safely and cheerfully, and as
            expeditiously as could rationally be hoped in the dirty month of February. They entered
            Oxford, but she could take only a hasty glimpse of Edmund's college as they passed
            along, and made no stop anywhere till they reached Newbury, where a comfortable meal,
            uniting dinner and supper, wound up the enjoyments and fatigues of the day.</span>
        </p>
        <p>
          <span id="said_no_03939" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The next morning saw them off again at
            an early hour; and with no events, and no delays, they regularly advanced, and were in
            the environs of Portsmouth while there was yet daylight for Fanny to look around her,
            and wonder at the new buildings. They passed the drawbridge, and entered the town; and
            the light was only beginning to fail as, guided by William's powerful voice, they were
            rattled into a narrow street, leading from the High Street, and drawn up before the door
            of a small house now inhabited by Mr. Price.</span>
        </p>
        <p><span id="said_no_03940" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny was all agitation and flutter;
            all hope and apprehension. The moment they stopped, a trollopy-looking maidservant,
            seemingly in waiting for them at the door, stepped forward, and more intent on telling
            the news than giving them any help, immediately began with, </span>
          <span id="said_no_03941" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"The Thrush is gone out of harbour,
            please sir, and one of the officers has been here to—"</span>
          <span id="said_no_03942" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She was interrupted by a fine tall boy
            of eleven years old, who, rushing out of the house, pushed the maid aside, and while
            William was opening the chaise-door himself, called out,</span>
          <span id="said_no_03943" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"You are just in time. We have been
            looking for you this half-hour. The Thrush went out of harbour this morning. I saw her.
            It was a beautiful sight. And they think she will have her orders in a day or two. And
            Mr. Campbell was here at four o'clock to ask for you: he has got one of the Thrush's
            boats, and is going off to her at six, and hoped you would be here in time to go with
            him." </span></p>
        <p>
          <span id="said_no_03944" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">A stare or two at Fanny, as William
            helped her out of the carriage, was all the voluntary notice which this brother
            bestowed; but he made no objection to her kissing him, though still entirely engaged in
            detailing farther particulars of the Thrush's going out of harbour, in which he had a
            strong right of interest, being to commence his career of seamanship in her at this very
            time.</span>
        </p>
        <p>
          <span id="said_no_03945" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Another moment and Fanny was in the
            narrow entrance-passage of the house, and in her mother's arms, who met her there with
            looks of true kindness, and with features which Fanny loved the more, because they
            brought her aunt Bertram's before her, and there were her two sisters: Susan, a
            well-grown fine girl of fourteen, and Betsey, the youngest of the family, about five—
            both glad to see her in their way, though with no advantage of manner in receiving her.
            But manner Fanny did not want.</span>
          <span id="said_no_03946" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            Would they but love her,
            she should be satisfied.</span>
        </p>
        <p>
          <span id="said_no_03947" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She was then taken into a parlour, so
            small that her first conviction was of its being only a passage-room to something
            better, and she stood for a moment expecting to be invited on; but when she saw there
            was no other door, and that there were signs of habitation before her, she called back
            her thoughts, reproved herself, and grieved lest they should have been suspected. Her
            mother, however, could not stay long enough to suspect anything. She was gone again to
            the street-door, to welcome William.</span>
          <span id="said_no_03948" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"Oh! my dear William, how glad I am to
            see you. But have you heard about the Thrush? She is gone out of harbour already; three
            days before we had any thought of it; and I do not know what I am to do about Sam's
            things, they will never be ready in time; for she may have her orders to-morrow,
            perhaps. It takes me quite unawares. And now you must be off for Spithead too. Campbell
            has been here, quite in a worry about you; and now what shall we do? I thought to have
            had such a comfortable evening with you, and here everything comes upon me at
            once."</span>
        </p>
        <p>
          <span id="said_no_03949" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Her son</span>
          <span id="said_no_03950" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">answered cheerfully,</span>
          <span id="said_no_03951" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">telling her that</span>
          <span id="said_no_03952" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_will" data-placement="auto top">
            everything was always for
            the best;</span>
          <span id="said_no_03953" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and making light of his own
            inconvenience in being obliged to hurry away so soon.</span>
        </p>
        <p>
          <span id="said_no_03954" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"To be sure, I had much rather she had
            stayed in harbour, that I might have sat a few hours with you in comfort; but as there
            is a boat ashore, I had better go off at once, and there is no help for it. Whereabouts
            does the Thrush lay at Spithead? Near the Canopus? But no matter; here's Fanny in the
            parlour, and why should we stay in the passage? Come, mother, you have hardly looked at
            your own dear Fanny yet."</span>
        </p>
        <p>
          <span id="said_no_03955" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">In they both came, and Mrs. Price
            having kindly kissed her daughter again, and commented a little on her growth, began
            with very natural solicitude to feel for their fatigues and wants as travellers.</span>
        </p>
        <p>
          <span id="said_no_03956" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"Poor dears! how tired you must both
            be! and now, what will you have? I began to think you would never come. Betsey and I
            have been watching for you this half-hour. And when did you get anything to eat? And
            what would you like to have now? I could not tell whether you would be for some meat, or
            only a dish of tea, after your journey, or else I would have got something ready. And
            now I am afraid Campbell will be here before there is time to dress a steak, and we have
            no butcher at hand. It is very inconvenient to have no butcher in the street. We were
            better off in our last house. Perhaps you would like some tea as soon as it can be
            got."</span>
        </p>
        <p>
          <span id="said_no_03957" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">They both declared</span>
          <span id="said_no_03958" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.006.nar_willfanny" data-placement="auto top">
            they should prefer
            it to anything. </span>
          <span id="said_no_03959" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"Then, Betsey, my dear, run into the
            kitchen and see if Rebecca has put the water on; and tell her to bring in the tea-things
            as soon as she can. I wish we could get the bell mended; but Betsey is a very handy
            little messenger."</span>
        </p>
        <p>
          <span id="said_no_03960" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Betsey went with alacrity, proud to
            shew her abilities before her fine new sister.</span>
        </p>
        <p>
          
            <span id="said_no_03961" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"Dear me!"</span>
            <span id="said_no_03962" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">continued the anxious mother, </span>
            <span id="said_no_03963" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"what a sad fire we have got, and I
              dare say you are both starved with cold. Draw your chair nearer, my dear. I cannot
              think what Rebecca has been about. I am sure I told her to bring some coals half an
              hour ago. Susan, you should have taken care of the fire."</span>
          
        </p>
        <p>
          
            <span id="said_no_03964" class="said" data-toggle="tooltip" title="Susan Price" data-placement="auto top">"I was upstairs, mama, moving my
              things,"</span>
            <span id="said_no_03965" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Susan, in a fearless,
              self-defending tone, which startled Fanny. </span>
            <span id="said_no_03966" class="said" data-toggle="tooltip" title="Susan Price" data-placement="auto top">"You know you had but just settled
              that my sister Fanny and I should have the other room; and I could not get Rebecca to
              give me any help."</span>
          
        </p>
        <p>
          <span id="said_no_03967" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Farther discussion was prevented by
            various bustles: first, the driver came to be paid; then there was a squabble between
            Sam and Rebecca about the manner of carrying up his sister's trunk, which he would
            manage all his own way; and lastly, in walked Mr. Price himself, his own loud voice
            preceding him, as with something of the oath kind he kicked away his son's port-manteau
            and his daughter's bandbox in the passage, and called out for a candle; no candle was
            brought, however, and he walked into the room.</span>
        </p>
        <p>
          <span id="said_no_03968" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny with doubting feelings had risen
            to meet him, but sank down again on finding herself undistinguished in the dusk, and
            unthought of. With a friendly shake of his son's hand, and an eager voice, he instantly
            began— </span>
          <span id="said_no_03969" class="said" data-toggle="tooltip" title="Mr. Price" data-placement="auto top">"Ha! welcome back, my boy. Glad to see
            you. Have you heard the news? The Thrush went out of harbour this morning. Sharp is the
            word, you see! By G—, you are just in time! The doctor has been here inquiring for you:
            he has got one of the boats, and is to be off for Spithead by six, so you had better go
            with him. I have been to Turner's about your mess; it is all in a way to be done. I
            should not wonder if you had your orders to-morrow: but you cannot sail with this wind,
            if you are to cruise to the westward; and</span>
          <span id="said_no_03970" class="said" data-toggle="tooltip" title="Mr. Price" data-placement="auto top">Captain Walsh thinks</span>
          <span id="said_no_03971" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Mr. Price speaking as Captain Walsh" data-placement="auto top">
            you will certainly have
            a cruise to the westward, with the Elephant.</span>
          <span id="said_no_03972" class="said" data-toggle="tooltip" title="Mr. Price" data-placement="auto top">By G—, I wish you may! But old</span>
          <span id="said_no_03973" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Scholey was saying, just now,
            that</span>
          <span id="said_no_03974" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Mr. Price speaking as Mr. Scholey" data-placement="auto top">
            he thought you would
            be sent first to the Texel.</span>
          <span id="said_no_03975" class="said" data-toggle="tooltip" title="Mr. Price" data-placement="auto top">Well, well, we are ready, whatever
            happens. But by G—, you lost a fine sight by not being here in the morning to see the
            Thrush go out of harbour! I would not have been out of the way for a thousand pounds.
            Old</span>
          <span id="said_no_03976" class="said" data-toggle="tooltip" title="Mr. Price" data-placement="auto top">Scholey</span>
          <span id="said_no_03977" class="said" data-toggle="tooltip" title="Mr. Price" data-placement="auto top">ran in at breakfast-time,</span>
          <span id="said_no_03978" class="said" data-toggle="tooltip" title="Mr. Price" data-placement="auto top">to say</span>
          <span id="said_no_03979" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Mr. Price speaking as Mr. Scholey" data-placement="auto top">
            she had slipped her
            moorings and was coming out,</span>
          <span id="said_no_03980" class="said" data-toggle="tooltip" title="Mr. Price" data-placement="auto top">I jumped up, and made but two steps to
            the platform. If ever there was a perfect beauty afloat, she is one; and there she lays
            at Spithead, and anybody in England would take her for an eight-and-twenty. I was upon
            the platform two hours this afternoon looking at her. She lays close to the Endymion,
            between her and the Cleopatra, just to the eastward of the sheer hulk."</span>
        </p>
        <p>
          
            <span id="said_no_03981" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"Ha!"</span>
            <span id="said_no_03982" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">cried William, </span>
            <span id="said_no_03983" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"<em>that's</em> just
              where I should have put her myself. It's the best berth at Spithead. But here is my
              sister, sir; here is Fanny,"</span>
            <span id="said_no_03984" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">turning and leading her forward; </span>
            <span id="said_no_03985" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"it is so dark you do not see
              her."</span>
          
        </p>
        <p>
          <span id="said_no_03986" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">With an acknowledgment that he had
            quite forgot her,</span>
          <span id="said_no_03987" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Price now received his daughter;
            and having given her a cordial hug, and</span>
          <span id="said_no_03988" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">observed that</span>
          <span id="said_no_03989" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrp" data-placement="auto top">
            she was grown into a
            woman, and he supposed would be wanting a husband soon,</span>
          <span id="said_no_03990" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">seemed very much inclined to forget
            her again. Fanny shrunk back to her seat, with feelings sadly pained by his language and
            his smell of spirits; and he talked on only to his son, and only of the Thrush, though
            William, warmly interested as he was in that subject, more than once tried to make his
            father think of Fanny, and her long absence and long journey.</span>
        </p>
        <p>
          <span id="said_no_03991" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">After sitting some time longer, a
            candle was obtained; but as there was still no appearance of tea, nor, from Betsey's
            reports from the kitchen, much hope of any under a considerable period,</span>
          <span id="said_no_03992" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">William determined</span>
          <span id="said_no_03993" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_will" data-placement="auto top">
            to go and change his
            dress, and make the necessary preparations for his removal on board directly, that he
            might have his tea in comfort afterwards.</span>
        </p>
        <p>
          <span id="said_no_03994" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">As he left the room,</span>
          <span id="said_no_03995" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">two rosy-faced boys,</span>
          <span id="said_no_03996" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">ragged and dirty, about eight and nine
            years old, rushed into it just released from school, and coming eagerly to see their
            sister, and</span>
          <span id="said_no_03997" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">tell that</span>
          <span id="said_no_03998" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_tompcharp" data-placement="auto top">
            the Thrush was gone
            out of harbour;</span>
          <span id="said_no_03999" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Tom and Charles. Charles had been born
            since Fanny's going away, but Tom she had often helped to nurse, and now felt a
            particular pleasure in seeing again. Both were kissed very tenderly, but Tom she wanted
            to keep by her, to try to trace the features of the baby she had loved, and talked to,
            of his infant preference of herself. Tom, however, had no mind for such treatment: he
            came home not to stand and be talked to, but to run about and make a noise; and both
            boys had soon burst from her, and slammed the parlour-door till her temples
            ached.</span>
        </p>
        <p>
          <span id="said_no_04000" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She had now seen all that were at
            home; there remained only two brothers between herself and Susan, one of whom was a
            clerk in a public office in London, and the other midshipman on board an Indiaman. But
            though she had <em>seen</em> all the members of the family, she had not
            yet <em>heard</em> all the noise they could make. Another quarter of an
            hour brought her a great deal more. William was soon calling out from the landing-place
            of the second story for his mother and for Rebecca. He was in distress for something
            that he had left there, and did not find again. A key was mislaid, Betsey accused of
            having got at his new hat, and some slight, but essential alteration of his uniform
            waistcoat, which he had been promised to have done for him, entirely neglected.</span>
        </p>
        <p>
          <span id="said_no_04001" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Price, Rebecca, and Betsey all
            went up to defend themselves, all talking together, but Rebecca loudest, and the job was
            to be done as well as it could in a great hurry; William trying in vain to send Betsey
            down again, or keep her from being troublesome where she was; the whole of which, as
            almost every door in the house was open, could be plainly distinguished in the parlour,
            except when drowned at intervals by the superior noise of Sam, Tom, and Charles chasing
            each other up and down stairs, and tumbling about and hallooing.</span>
        </p>
        <p>
          <span id="said_no_04002" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny was almost stunned. The
            smallness of the house and thinness of the walls brought everything so close to her,
            that, added to the fatigue of her journey, and all her recent agitation, she hardly knew
            how to bear it. <em>Within</em> the room all was tranquil enough, for
            Susan having disappeared with the others, there were soon only her father and herself
            remaining; and he, taking out a newspaper, the accustomary loan of a neighbour, applied
            himself to studying it, without seeming to recollect her existence. The solitary candle
            was held between himself and the paper, without any reference to her possible
            convenience; but she had nothing to do, and was glad to have the light screened from her
            aching head, as she sat in bewildered, broken, sorrowful contemplation.</span>
        </p>
        <p>
          <span id="said_no_04003" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            She was at home. But,
            alas! it was not such a home, she had not such a welcome, as—</span>
          <span id="said_no_04004" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she checked herself;</span>
          <span id="said_no_04005" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            she was unreasonable.
            What right had she to be of importance to her family? She could have none, so long lost
            sight of! William's concerns must be dearest, they always had been, and he had every
            right. Yet to have so little said or asked about herself, to have scarcely an inquiry
            made after Mansfield! It did pain her to have Mansfield forgotten; the friends who had
            done so much —the dear, dear friends! But here, one subject swallowed up all the rest.
            Perhaps it must be so. The destination of the Thrush must be now preeminently
            interesting. A day or two might shew the difference. <em>She</em> only was
            to blame. Yet</span>
          <span id="said_no_04006" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she thought</span>
          <span id="said_no_04007" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            it would not have been
            so at Mansfield. No, in her uncle's house there would have been a consideration of times
            and seasons, a regulation of subject, a propriety, an attention towards everybody which
            there was not here.</span>
        </p>
        <p>
          <span id="said_no_04008" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The only interruption which thoughts
            like these received for nearly half an hour was from a sudden burst of her father's, not
            at all calculated to compose them. At a more than ordinary pitch of thumping and
            hallooing in the passage, he exclaimed,</span>
          <span id="said_no_04009" class="said" data-toggle="tooltip" title="Mr. Price" data-placement="auto top">"Devil take those young dogs! How they
            are singing out! Ay, Sam's voice louder than all the rest! That boy is fit for a
            boatswain. Holla, you there! Sam, stop your confounded pipe, or I shall be after
            you."</span>
        </p>
        <p>
          <span id="said_no_04010" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">This threat was so palpably
            disregarded, that though within five minutes afterwards the three boys all burst into
            the room together and sat down,</span>
          <span id="said_no_04011" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny could not consider</span>
          <span id="said_no_04012" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            it as a proof of
            anything more than their being for the time thoroughly fagged,</span>
          <span id="said_no_04013" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">which their hot faces and panting
            breaths seemed to prove, especially as they were still kicking each other's shins, and
            hallooing out at sudden starts immediately under their father's eye.</span>
        </p>
        <p>
          <span id="said_no_04014" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The next opening of the door brought
            something more welcome: it was for the tea-things, which she had begun almost to despair
            of seeing that evening. Susan and an attendant girl, whose inferior appearance informed
            Fanny, to her great surprise, that she had previously seen the upper servant, brought in
            everything necessary for the meal; Susan looking, as she put the kettle on the fire and
            glanced at her sister, as if divided between the agreeable triumph of shewing her
            activity and usefulness, and the dread of being thought to demean herself by such an
            office.</span>
          <span id="said_no_04015" class="said" data-toggle="tooltip" title="Susan Price" data-placement="auto top">"She had been into the
            kitchen,"</span>
          <span id="said_no_04016" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she said, </span>
          <span id="said_no_04017" class="said" data-toggle="tooltip" title="Susan Price" data-placement="auto top">"to hurry Sally and help make the
            toast, and spread the bread and butter, or she did not know when they should have got
            tea, and she was sure her sister must want something after her journey."</span>
        </p>
        <p>
          <span id="said_no_04018" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny was very thankful.</span>
          <span id="said_no_04019" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She could not but own that</span>
          <span id="said_no_04020" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            she should be very glad
            of a little tea,</span>
          <span id="said_no_04021" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and Susan immediately set about making
            it, as if pleased to have the employment all to herself; and with only a little
            unnecessary bustle, and some few injudicious attempts at keeping her brothers in better
            order than she could, acquitted herself very well. Fanny's spirit was as much refreshed
            as her body; her head and heart were soon the better for such well-timed
            kindness.</span>
          <span id="said_no_04022" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            Susan had an open,
            sensible countenance; she was like William,</span>
          <span id="said_no_04023" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and Fanny hoped to find her like him
            in disposition and goodwill towards herself.</span>
        </p>
        <p>
          <span id="said_no_04024" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">In this more placid state of things
            William reentered, followed not far behind by his mother and Betsey. He, complete in his
            lieutenant's uniform, looking and moving all the taller, firmer, and more graceful for
            it, and with the happiest smile over his face, walked up directly to Fanny, who, rising
            from her seat, looked at him for a moment in speechless admiration, and then threw her
            arms round his neck to sob out her various emotions of pain and pleasure.</span>
        </p>
        <p>
          <span id="said_no_04025" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Anxious not to appear unhappy, she
            soon recovered herself; and wiping away her tears, was able to notice and admire all the
            striking parts of his dress; listening with reviving spirits to</span>
          <span id="said_no_04026" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">his cheerful hopes of</span>
          <span id="said_no_04027" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_will" data-placement="auto top">
            being on shore some part
            of every day before they sailed, and even of getting her to Spithead to see the
            sloop.</span>
        </p>
        <p>
          <span id="said_no_04028" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The next bustle brought in Mr.
            Campbell, the surgeon of the Thrush, a very well-behaved young man, who came to call for
            his friend, and for whom there was with some contrivance found a chair, and with some
            hasty washing of the young tea-maker's, a cup and saucer; and after another quarter of
            an hour of earnest talk between the gentlemen, noise rising upon noise, and bustle upon
            bustle, men and boys at last all in motion together, the moment came for setting off;
            everything was ready, William took leave, and all of them were gone; for the three boys,
            in spite of their mother's entreaty, determined to see their brother and Mr. Campbell to
            the sally-port; and Mr. Price walked off at the same time to carry back his neighbour's
            newspaper.</span>
        </p>
        <p>
          <span id="said_no_04029" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Something like tranquillity might now
            be hoped for; and accordingly, when Rebecca had been prevailed on to carry away the
            tea-things, and Mrs. Price had walked about the room some time looking for a
            shirt-sleeve, which Betsey at last hunted out from a drawer in the kitchen, the small
            party of females were pretty well composed, and</span>
          <span id="said_no_04030" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">the mother having lamented again
            over</span>
          <span id="said_no_04031" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_mrsp" data-placement="auto top">
            the impossibility of
            getting Sam ready in time,</span>
          <span id="said_no_04032" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was at leisure to think of her eldest
            daughter and the friends she had come from.</span>
        </p>
        <p>
          <span id="said_no_04033" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">A few inquiries began: but one of the
            earliest—</span>
          <span id="said_no_04034" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"How did sister Bertram manage about
            her servants?" "Was she as much plagued as herself to get tolerable servants?"—</span>
          <span id="said_no_04035" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">soon led her mind away from
            Northamptonshire, and fixed it on her own domestic grievances, and</span>
          <span id="said_no_04036" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrsp" data-placement="auto top">
            the shocking character of
            all the Portsmouth servants, of whom</span>
          <span id="said_no_04037" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she believed</span>
          <span id="said_no_04038" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrsp" data-placement="auto top">
            her own two were the very
            worst,</span>
          <span id="said_no_04039" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">engrossed her completely. The Bertrams
            were all forgotten in detailing the faults of Rebecca, against whom Susan had also much
            to depose, and little Betsey a great deal more, and who did seem so thoroughly without a
            single recommendation, that</span>
          <span id="said_no_04040" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny could not help modestly
            presuming that</span>
          <span id="said_no_04041" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            her mother meant to part
            with her when her year was up.</span>
        </p>
        <p>
          
            <span id="said_no_04042" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"Her year!"</span>
            <span id="said_no_04043" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> cried Mrs. Price;</span>
            <span id="said_no_04044" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"I am sure I hope I shall be rid of
              her before she has staid a year, for that will not be up till November. Servants are
              come to such a pass, my dear, in Portsmouth, that it is quite a miracle if one keeps
              them more than half a year. I have no hope of ever being settled; and if I was to part
              with Rebecca, I should only get something worse. And yet I do not think I am a very
              difficult mistress to please; and I am sure the place is easy enough, for there is
              always a girl under her, and I often do half the work myself."</span>
          
        </p>
        <p>
          <span id="said_no_04045" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny was silent; but not from being
            convinced that there might not be a remedy found for some of these evils. As she now sat
            looking at Betsey, she could not but think particularly of another sister, a very pretty
            little girl, whom she had left there not much younger when she went into
            Northamptonshire, who had died a few years afterwards. There had been something
            remarkably amiable about her. Fanny in those early days had preferred her to Susan; and
            when the news of her death had at last reached Mansfield, had for a short time been
            quite afflicted. The sight of Betsey brought the image of little Mary back again, but
            she would not have pained her mother by alluding to her for the world. While considering
            her with these ideas, Betsey, at a small distance, was holding out something to catch
            her eyes, meaning to screen it at the same time from Susan's.</span>
        </p>
        <p>
          
            <span id="said_no_04046" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"What have you got there, my
              love?"</span>
            <span id="said_no_04047" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Fanny; </span>
            <span id="said_no_04048" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"come and shew it to me."</span>
          
        </p>
        <p>
          <span id="said_no_04049" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">It was a silver knife. Up jumped
            Susan, claiming it as her own, and trying to get it away; but the child ran to her
            mother's protection, and Susan could only reproach, which she did very warmly, and
            evidently hoping to interest Fanny on her side. </span>
          <span id="said_no_04050" class="said" data-toggle="tooltip" title="Susan Price" data-placement="auto top">"It was very hard that she was not to
            have her <em>own</em> knife; it was her own knife; little sister Mary had
            left it to her upon her deathbed, and she ought to have had it to keep herself long ago.
            But mama kept it from her, and was always letting Betsey get hold of it; and the end of
            it would be that Betsey would spoil it, and get it for her own, though mama had <em>promised</em> her that Betsey should not have it in her own
            hands."</span>
        </p>
        <p>
          <span id="said_no_04051" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny was quite shocked. Every feeling
            of duty, honour, and tenderness was wounded by her sister's speech and her mother's
            reply.</span>
        </p>
        <p>
          
            <span id="said_no_04052" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"Now, Susan,"</span>
            <span id="said_no_04053" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">cried Mrs. Price, in a complaining
              voice,</span>
            <span id="said_no_04054" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"now, how can you be so cross? You
              are always quarrelling about that knife. I wish you would not be so quarrelsome. Poor
              little Betsey; how cross Susan is to you! But you should not have taken it out, my
              dear, when I sent you to the drawer. You know I told you not to touch it, because
              Susan is so cross about it. I must hide it another time, Betsey. Poor Mary little
              thought it would be such a bone of contention when she gave it me to keep, only two
              hours before she died. Poor little soul! she could but just speak to be heard, and she
              said so prettily,</span>
            <span id="said_no_04055" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Mrs. Price speaking as Mary Crawford" data-placement="auto top">
              'Let sister Susan have
              my knife, mama, when I am dead and buried.'</span>
            <span id="said_no_04056" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">Poor little dear! she was so fond of
              it, Fanny, that she would have it lay by her in bed, all through her illness. It was
              the gift of her good godmother, old Mrs. Admiral Maxwell, only six weeks before she
              was taken for death. Poor little sweet creature! Well, she was taken away from evil to
              come. My own Betsey"</span>
            <span id="said_no_04057" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">(fondling her), </span>
            <span id="said_no_04058" class="said" data-toggle="tooltip" title="Mrs. Price" data-placement="auto top">"<em>you</em> have not
              the luck of such a good godmother. Aunt Norris lives too far off to think of such
              little people as you."</span>
          
        </p>
        <p>
          <span id="said_no_04059" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny had indeed nothing to convey
            from aunt</span>
          <span id="said_no_04060" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Norris,</span>
          <span id="said_no_04061" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">but a message</span>
          <span id="said_no_04062" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">to say</span>
          <span id="said_no_04063" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_fanny_mrsn" data-placement="auto top">
            she hoped that her
            god-daughter was a good girl, and learnt her book.</span>
          <span id="said_no_04064" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">There had been at one moment a slight
            murmur in the drawing-room at Mansfield Park about sending her a prayer-book; but no
            second sound had been heard of such a purpose. Mrs. Norris, however, had gone home and
            taken down two old prayer-books of her husband with that idea; but, upon examination,
            the ardour of generosity went off.</span>
          <span id="said_no_04065" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrsn" data-placement="auto top">
            One was found to have too
            small a print for a child's eyes, and the other to be too cumbersome for her to carry
            about.</span>
        </p>
        <p>
          <span id="said_no_04066" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny, fatigued and fatigued again,
            was thankful to accept the first invitation of going to bed; and before Betsey had
            finished her cry at being allowed to sit up only one hour extraordinary in honour of
            sister, she was off, leaving all below in confusion and noise again; the boys begging
            for toasted cheese, her father calling out for his rum and water, and Rebecca never
            where she ought to be.</span>
        </p>
        <p>
          <span id="said_no_04067" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">There was nothing to raise her spirits
            in the confined and scantily furnished chamber that she was to share with Susan. The
            smallness of the rooms above and below, indeed, and the narrowness of the passage and
            staircase, struck her beyond her imagination. She soon learned to think with respect of
            her own little attic at Mansfield Park, in <em>that</em> house reckoned
            too small for anybody's comfort.</span>
        </p>
      
  <div class="footnotes"> </div>
