
   
  
    
        <h3>Chapter 26</h3>
        <p>
          <span id="said_no_02536" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">William's desire of seeing Fanny dance
            made more than a momentary impression on his uncle. The hope of an opportunity, which
            Sir Thomas had then given, was not given to be thought of no more. He remained steadily
            inclined to gratify so amiable a feeling;</span>
          <span id="said_no_02537" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            to gratify anybody else
            who might wish to see Fanny dance, and to give pleasure to the young people in
            general;</span>
          <span id="said_no_02538" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and having thought the matter over,
            and taken his resolution in quiet independence, the result of it appeared the next
            morning at breakfast, when, after recalling and commending what his nephew had said, he
            added, </span>
          <span id="said_no_02539" class="said" data-toggle="tooltip" title="Sir Thomas Bertram" data-placement="auto top">"I do not like, William, that you
            should leave Northamptonshire without this indulgence. It would give me pleasure to see
            you both dance. You spoke of the balls at Northampton. Your cousins have occasionally
            attended them; but they would not altogether suit us now. The fatigue would be too much
            for your aunt. I believe we must not think of a Northampton ball. A dance at home would
            be more eligible; and if—"</span>
        </p>
        <p>
          
            <span id="said_no_02540" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"Ah, my dear Sir Thomas!"</span>
            <span id="said_no_02541" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">interrupted Mrs. Norris, </span>
            <span id="said_no_02542" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"I knew what was coming. I knew what
              you were going to say. If dear Julia were at home, or dearest Mrs. Rushworth at
              Sotherton, to afford a reason, an occasion for such a thing, you would be tempted to
              give the young people a dance at Mansfield. I know you would. If <em>they</em> were at home to grace the ball, a ball you would have this very
              Christmas. Thank your uncle, William, thank your uncle!"</span>
          
        </p>
        <p>
          
            <span id="said_no_02543" class="said" data-toggle="tooltip" title="Sir Thomas Bertram" data-placement="auto top">"My daughters,"</span>
            <span id="said_no_02544" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> replied Sir Thomas, gravely
              interposing, </span>
            <span id="said_no_02545" class="said" data-toggle="tooltip" title="Sir Thomas Bertram" data-placement="auto top">"have their pleasures at Brighton,
              and I hope are very happy; but the dance which I think of giving at Mansfield will be
              for their cousins. Could we be all assembled, our satisfaction would undoubtedly be
              more complete, but the absence of some is not to debar the others of
              amusement."</span>
          
        </p>
        <p>
          <span id="said_no_02546" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Norris had not another word to
            say. She saw decision in his looks, and her surprise and vexation required some minutes'
            silence to be settled into composure.</span>
          <span id="said_no_02547" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_mrsn" data-placement="auto top">
            A ball at such a time! His
            daughters absent and herself not consulted!</span>
          <span id="said_no_02548" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">There was comfort, however, soon at
            hand.</span>
          <span id="said_no_02549" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrsn" data-placement="auto top">
            
            <em>She</em> must be the doer of everything: Lady Bertram would of course
            be spared all thought and exertion, and it would all fall upon <em>her</em>. She should have to do the honours of the evening;</span>
          <span id="said_no_02550" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and this reflection quickly restored
            so much of her good-humour as enabled her to join in with the others, before their
            happiness and thanks were all expressed.</span>
        </p>
        <p>
          <span id="said_no_02551" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund, William, and Fanny did, in
            their different ways, look and speak as much grateful pleasure in the promised ball as
            Sir Thomas could desire.</span>
          <span id="said_no_02552" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund's feelings were for the other
            two.</span>
          <span id="said_no_02553" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            His father had never
            conferred a favour or shewn a kindness more to his satisfaction.</span>
        </p>
        <p>
          <span id="said_no_02554" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Lady Bertram was perfectly quiescent
            and contented, and had no objections to make. Sir Thomas engaged for its giving her very
            little trouble; and</span>
          <span id="said_no_02555" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she assured him </span>
          <span id="said_no_02556" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"that she was not at all afraid of
            the trouble; indeed, she could not imagine there would be any."</span>
        </p>
        <p>
          <span id="said_no_02557" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Norris was ready with her
            suggestions</span>
          <span id="said_no_02558" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrsn" data-placement="auto top">
             as to the rooms he would
            think fittest to be used,</span>
          <span id="said_no_02559" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">but found it all prearranged; and when
            she would have conjectured and hinted about the day, it appeared that the day was
            settled too.</span>
          <span id="said_no_02560" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas</span>
          <span id="said_no_02561" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">had been amusing himself with shaping
            a very complete outline of the business; and as soon as she would listen quietly, could
            read his list of the families to be invited, from whom he calculated,</span>
          <span id="said_no_02562" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            with all necessary
            allowance for the shortness of the notice, to collect young people enough to form twelve
            or fourteen couple:</span>
          <span id="said_no_02563" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and could detail the considerations
            which had induced him</span>
          <span id="said_no_02564" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            to fix on the 22nd as the
            most eligible day.</span>
          <span id="said_no_02565" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            William was required to be
            at Portsmouth on the 24th; the 22nd would therefore be the last day of his visit; but
            where the days were so few it would be unwise to fix on any earlier.</span>
          <span id="said_no_02566" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Norris was obliged to be
            satisfied with thinking just the same, and</span>
          <span id="said_no_02567" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">with</span>
          <span id="said_no_02568" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrsn" data-placement="auto top">
            having been on the point
            of proposing the 22nd herself, as by far the best day for the purpose.</span>
        </p>
        <p>
          <span id="said_no_02569" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The ball was now a settled thing, and
            before the evening a proclaimed thing to all whom it concerned. Invitations were sent
            with despatch, and many a young lady went to bed that night with her head full of happy
            cares as well as Fanny.</span>
          <span id="said_no_02570" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">To her</span>
          <span id="said_no_02571" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">the cares were sometimes almost beyond
            the happiness; for young and inexperienced, with small means of choice and no confidence
            in her own taste, the</span>
          <span id="said_no_02572" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            "how she should be
            dressed"</span>
          <span id="said_no_02573" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was a point of painful
            solicitude;</span>
          <span id="said_no_02574" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and</span>
          <span id="said_no_02575" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            the almost solitary
            ornament in her possession, a very pretty amber cross which William had brought her from
            Sicily,</span>
          <span id="said_no_02576" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was the greatest distress of
            all,</span>
          <span id="said_no_02577" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            for she had nothing but a
            bit of ribbon to fasten it to; and though she had worn it in that manner once, would it
            be allowable at such a time in the midst of all the rich ornaments which she supposed
            all the other young ladies would appear in? And yet not to wear it! William had wanted
            to buy her a gold chain too, but the purchase had been beyond his means, and therefore
            not to wear the cross might be mortifying him.</span>
          <span id="said_no_02578" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">These were anxious considerations;
            enough to sober her spirits even under the prospect of a ball given principally for her
            gratification.</span>
        </p>
        <p><span id="said_no_02579" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The preparations meanwhile went on,
            and Lady Bertram continued to sit on her sofa without any inconvenience from them. She
            had some extra visits from the housekeeper, and her maid was rather hurried in making up
            a new dress for her: Sir Thomas gave orders, and Mrs. Norris ran about; but all this
            gave <em>her</em> no trouble, and as she had foreseen,</span> "there was,
          in fact, no trouble in the business." </p>
        <p>
          <span id="said_no_02580" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund was at this time particularly
            full of cares: his mind being deeply occupied in the consideration of two important
            events now at hand, which were to fix his fate in life— ordination and matrimony— events
            of such a serious character as to make the ball, which would be very quickly followed by
            one of them, appear of less moment in his eyes than in those of any other person in the
            house. On the 23rd he was going to a friend near Peterborough, in the same situation as
            himself, and they were to receive ordination in the course of the Christmas week.</span>
          <span id="said_no_02581" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            Half his destiny would then
            be determined, but the other half might not be so very smoothly wooed. His duties would
            be established, but the wife who was to share, and animate, and reward those duties,
            might yet be unattainable.</span>
          <span id="said_no_02582" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He knew his own mind, but he was not
            always perfectly assured of knowing Miss Crawford's.</span>
          <span id="said_no_02583" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            There were points on which
            they did not quite agree; there were moments in which she did not seem propitious; and
            though trusting altogether to her affection, so far as to be resolved— almost resolved
            —on bringing it to a decision within a very short time, as soon as the variety of
            business before him were arranged, and he knew what he had to offer her,</span>
          <span id="said_no_02584" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he had many anxious feelings, many
            doubting hours as to the result. His conviction of her regard for him was sometimes very
            strong; he could look back on a long course of encouragement, and she was as perfect in
            disinterested attachment as in everything else. But at other times doubt and alarm
            intermingled with his hopes; and when</span>
          <span id="said_no_02585" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he thought of</span>
          <span id="said_no_02586" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            her acknowledged
            disinclination for privacy and retirement, her decided preference of a London
            life,</span>
          <span id="said_no_02587" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            what could he expect but a
            determined rejection?</span>
          <span id="said_no_02588" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            unless it were an
            acceptance even more to be deprecated, demanding such sacrifices of situation and
            employment on his side as conscience must forbid.</span>
        </p>
        <p>
          <span id="said_no_02589" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            The issue of all depended on
            one question. Did she love him well enough to forego what had used to be essential
            points? Did she love him well enough to make them no longer essential?</span>
          <span id="said_no_02590" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">And this question, which he was
            continually repeating to himself, though oftenest answered with a</span>
          <span id="said_no_02591" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes,"</span>
          <span id="said_no_02592" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">had sometimes its</span>
          <span id="said_no_02593" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"No."</span>
        </p>
        <p>
          <span id="said_no_02594" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Miss Crawford was soon to leave
            Mansfield, and on this circumstance the "no" and the "yes" had been very recently in
            alternation.</span>
          <span id="said_no_02595" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He had seen</span>
          <span id="said_no_02596" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            her eyes sparkle as</span>
          <span id="said_no_02597" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she spoke of</span>
          <span id="said_no_02598" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            the dear friend's letter,
            which claimed a long visit from her in London,</span>
          <span id="said_no_02599" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and</span>
          <span id="said_no_02600" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">of</span>
          <span id="said_no_02601" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            the kindness of Henry, in
            engaging to remain where he was till January, that he might convey her thither;</span>
          <span id="said_no_02602" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he had heard her speak of the pleasure
            of such a journey with an animation which had "no" in every tone.</span>
          <span id="said_no_02603" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            But this had occurred on
            the first day of its being settled, within the first hour of the burst of such
            enjoyment, when nothing but the friends she was to visit was before her.</span>
          <span id="said_no_02604" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            He had since heard her
            express herself differently, with other feelings, more chequered feelings: </span>
          <span id="said_no_02605" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he had heard her tell Mrs. Grant
            that</span>
          <span id="said_no_02606" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            she should leave her with
            regret;</span>
          <span id="said_no_02607" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_02608" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            she began to believe
            neither the friends nor the pleasures she was going to were worth those she left
            behind;</span>
          <span id="said_no_02609" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and</span>
          <span id="said_no_02610" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_02611" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            though she felt she must
            go, and knew she should enjoy herself when once away, she was already looking forward to
            being at Mansfield again.</span>
          <span id="said_no_02612" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            Was there not a "yes" in all
            this?</span>
        </p>
        <p>
          <span id="said_no_02613" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">With such matters to ponder over, and
            arrange, and re-arrange, Edmund could not, on his own account, think very much of the
            evening which the rest of the family were looking forward to with a more equal degree of
            strong interest. Independent of his two cousins' enjoyment in it, the evening was to him
            of no higher value than any other appointed meeting of the two families might be. In
            every meeting there was a hope of receiving farther confirmation of Miss Crawford's
            attachment; but the whirl of a ballroom, perhaps, was not particularly favourable to the
            excitement or expression of serious feelings. To engage her early for the two first
            dances was all the command of individual happiness which he felt in his power, and the
            only preparation for the ball which he could enter into, in spite of all that was
            passing around him on the subject, from morning till night.</span>
        </p>
        <p>
          <span id="said_no_02614" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Thursday was the day of the ball; and
            on Wednesday morning Fanny, still unable to satisfy herself as to what she ought to
            wear, determined to seek the counsel of the more enlightened, and apply to Mrs. Grant
            and her sister, whose acknowledged taste would certainly bear her blameless; and as
            Edmund and William were gone to Northampton, and she had reason to think Mr. Crawford
            likewise out, she walked down to the Parsonage without much fear of wanting an
            opportunity for private discussion; and the privacy of such a discussion was a most
            important part of it to Fanny, being more than half-ashamed of her own
            solicitude.</span>
        </p>
        <p><span id="said_no_02615" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She met Miss Crawford within a few
            yards of the Parsonage, just setting out to call on her, and as it seemed to her that
            her friend, though obliged to insist on turning back, was unwilling to lose her
            walk,</span>
          <span id="said_no_02616" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she explained her business at once,
            and observed, that</span>
          <span id="said_no_02617" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            if she would be so kind
            as to give her opinion, it might be all talked over as well without doors as
            within.</span>
          <span id="said_no_02618" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Miss Crawford</span>
          <span id="said_no_02619" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">appeared gratified by the application,
            and after a moment's thought,</span>
          <span id="said_no_02620" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">urged</span>
          <span id="said_no_02621" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
             Fanny's returning with
            her in a much more cordial manner than before,</span>
          <span id="said_no_02622" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and proposed</span>
          <span id="said_no_02623" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            their going up into her
            room, where they might have a comfortable coze, without disturbing Dr. and Mrs. Grant,
            who were together in the drawing-room.</span>
          <span id="said_no_02624" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">It was just the plan to suit Fanny;
            and with a great deal of gratitude on her side for such ready and kind attention, they
            proceeded indoors, and upstairs, and were soon deep in the interesting subject. Miss
            Crawford, pleased with the appeal, gave her all her best judgment and taste, made
            everything easy by her suggestions, and tried to make everything agreeable by her
            encouragement. The dress being settled in all its grander parts—</span>
            <span id="said_no_02625" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"But what shall you have by way of
              necklace?"</span>
            <span id="said_no_02626" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Miss Crawford.</span>
            <span id="said_no_02627" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Shall not you wear your brother's
              cross?"</span>
            <span id="said_no_02628" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> And as she spoke she was undoing a
              small parcel, which Fanny had observed in her hand when they met. Fanny acknowledged
              her wishes and doubts on this point:</span>
            <span id="said_no_02629" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
              she did not know how
              either to wear the cross, or to refrain from wearing it.</span>
            <span id="said_no_02630" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She was answered by having a small
              trinket-box placed before her, and</span>
            <span id="said_no_02631" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">being requested</span>
            <span id="said_no_02632" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
              to chuse from among
              several gold chains and necklaces.</span>
            <span id="said_no_02633" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Such had been the parcel with which
              Miss Crawford was provided, and such the object of her intended visit: and in the
              kindest manner</span>
            <span id="said_no_02634" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she now urged</span>
            <span id="said_no_02635" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
              Fanny's taking one for
              the cross and to keep for her sake,</span>
            <span id="said_no_02636" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">saying everything she could think of
              to obviate the scruples which were making Fanny start back at first with a look of
              horror at the proposal.</span></p>
        <p>
          
            <span id="said_no_02637" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"You see what a collection I
              have,"</span>
            <span id="said_no_02638" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said she;</span>
            <span id="said_no_02639" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"more by half than I ever use or
              think of. I do not offer them as new. I offer nothing but an old necklace. You must
              forgive the liberty, and oblige me."</span>
          
        </p>
        <p>
          <span id="said_no_02640" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny still resisted, and from her
            heart.</span>
          <span id="said_no_02641" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            The gift was too
            valuable.</span>
          <span id="said_no_02642" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">But Miss Crawford persevered, and
            argued the case with so much affectionate earnestness through all the heads of William
            and the cross, and the ball, and herself, as to be finally successful.</span>
          <span id="said_no_02643" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny found herself obliged to yield,
            that</span>
          <span id="said_no_02644" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            she might not be accused
            of pride or indifference, or some other littleness;</span>
          <span id="said_no_02645" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and having with modest reluctance
            given her consent, proceeded to make the selection. She looked and looked,</span>
          <span id="said_no_02646" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">longing</span>
          <span id="said_no_02647" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            to know which might be
            least valuable;</span>
          <span id="said_no_02648" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and was determined in her choice at
            last, by fancying there was one necklace more frequently placed before her eyes than the
            rest. It was of gold, prettily worked; and though Fanny would have preferred a longer
            and a plainer chain as more adapted for her purpose, she hoped, in fixing on this, to be
            chusing what Miss Crawford least wished to keep. Miss Crawford smiled her perfect
            approbation; and hastened to complete the gift by putting the necklace round her, and
            making her see how well it looked. Fanny had not a word to say against its becomingness,
            and, excepting what remained of her scruples, was exceedingly pleased with an
            acquisition so very apropos. She would rather, perhaps, have been obliged to some other
            person.</span>
          <span id="said_no_02649" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            But this was an unworthy
            feeling.</span>
          <span id="said_no_02650" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            Miss Crawford had
            anticipated her wants with a kindness which proved her a real friend. </span>
          
            <span id="said_no_02651" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"When I wear this necklace I shall
              always think of you,"</span>
            <span id="said_no_02652" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said she, </span>
            <span id="said_no_02653" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"and feel how very kind you
              were."</span>
          
        </p>
        <p>
          
            <span id="said_no_02654" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"You must think of somebody else
              too, when you wear that necklace,"</span>
            <span id="said_no_02655" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">replied Miss Crawford. </span>
            <span id="said_no_02656" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"You must think of Henry, for it was
              his choice in the first place. He gave it to me, and with the necklace I make over to
              you all the duty of remembering the original giver. It is to be a family remembrancer.
              The sister is not to be in your mind without bringing the brother too."</span>
          
        </p>
        <p>
          <span id="said_no_02657" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny, in great astonishment and
            confusion, would have returned the present instantly.</span>
          <span id="said_no_02658" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            To take what had been the
            gift of another person, of a brother too, impossible! it must not be!</span>
          <span id="said_no_02659" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and with an eagerness and
            embarrassment quite diverting to her companion, she laid down the necklace again on its
            cotton, and seemed resolved either to take another or none at all. Miss Crawford thought
            she had never seen a prettier consciousness. </span>
          
            <span id="said_no_02660" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"My dear child,"</span>
            <span id="said_no_02661" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said she, laughing,</span>
            <span id="said_no_02662" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"what are you afraid of? Do you
              think Henry will claim the necklace as mine, and fancy you did not come honestly by
              it? or are you imagining he would be too much flattered by seeing round your lovely
              throat an ornament which his money purchased three years ago, before he knew there was
              such a throat in the world? or perhaps"—</span>
            <span id="said_no_02663" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> looking archly—</span>
            <span id="said_no_02664" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"you suspect a confederacy between
              us, and that what I am now doing is with his knowledge and at his desire?"</span>
          
        </p>
        <p>
          <span id="said_no_02665" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> the deepest blushes Fanny protested
            against such a thought.</span>
        </p>
        <p>
          
            <span id="said_no_02666" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Well, then,"</span>
            <span id="said_no_02667" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> replied Miss Crawford more
              seriously, but without at all believing her, </span>
            <span id="said_no_02668" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"to convince me that you suspect no
              trick, and are as unsuspicious of compliment as I have always found you, take the
              necklace and say no more about it. Its being a gift of my brother's need not make the
              smallest difference in your accepting it, as I assure you it makes none in my
              willingness to part with it. He is always giving me something or other. I have such
              innumerable presents from him that it is quite impossible for me to value or for him
              to remember half. And as for this necklace, I do not suppose I have worn it six times:
              it is very pretty, but I never think of it; and though you would be most heartily
              welcome to any other in my trinket-box, you have happened to fix on the very one
              which, if I have a choice, I would rather part with and see in your possession than
              any other. Say no more against it, I entreat you. Such a trifle is not worth half so
              many words."</span>
          
        </p>
        <p>
          <span id="said_no_02669" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny dared not make any farther
            opposition; and with renewed but less happy thanks accepted the necklace again, for
            there was an expression in Miss Crawford's eyes which she could not be satisfied
            with.</span>
        </p>
        <p>
          <span id="said_no_02670" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">It was impossible for her to be
            insensible of Mr. Crawford's change of manners. She had long seen it.</span>
          <span id="said_no_02671" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            He evidently tried to
            please her: he was gallant, he was attentive, he was something like what he had been to
            her cousins: he wanted, she supposed, to cheat her of her tranquillity as he had cheated
            them; and whether he might not have some concern in this necklace— she could not be
            convinced that he had not,</span>
          <span id="said_no_02672" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            for Miss Crawford,
            complaisant as a sister, was careless as a woman and a friend.</span>
        </p>
        <p>
          <span id="said_no_02673" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Reflecting and doubting, and feeling
            that the possession of what she had so much wished for did not bring much satisfaction,
            she now walked home again, with a change rather than a diminution of cares since her
            treading that path before.</span>
        </p>
      
  <div class="footnotes"> </div>
