
   
  
    
        <h3>Chapter 11</h3>
        <p>
          <span id="said_no_01078" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The day at Sotherton, with all its
            imperfections, afforded the Miss Bertrams much more agreeable feelings than were derived
            from the letters from Antigua, which soon afterwards reached Mansfield. It was much
            pleasanter to think of Henry Crawford than of their father; and to think of their father
            in England again within a certain period, which these letters obliged them to do, was a
            most unwelcome exercise.</span>
        </p>
        <p>
          <span id="said_no_01079" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">November was the black month fixed for
            his return. Sir Thomas wrote of it with as much decision as experience and anxiety could
            authorise. His business was so nearly concluded as to justify him in proposing to take
            his passage in the September packet, and he consequently looked forward with the hope of
            being with his beloved family again early in November.</span>
        </p>
        <p>
          <span id="said_no_01080" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Maria was more to be pitied than
            Julia; for to her the father brought a husband, and the return of the friend most
            solicitous for her happiness would unite her to the lover, on whom she had chosen that
            happiness should depend. It was a gloomy prospect, and all she could do was to throw a
            mist over it, and hope when the mist cleared away she should see something else.</span>
          <span id="said_no_01081" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_maria" data-placement="auto top">
            It would hardly be <em>early</em> in November, there were generally delays, a bad passage or
              <em>something</em>;</span>
          <span id="said_no_01082" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that favouring <em>something</em></span>
          <span id="said_no_01083" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">which everybody who shuts their eyes
            while they look, or their understandings while they reason, feels the comfort of.</span>
          <span id="said_no_01084" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_maria" data-placement="auto top">
            It would probably be the
            middle of November at least; the middle of November was three months off. Three months
            comprised thirteen weeks. Much might happen in thirteen weeks.</span>
        </p>
        <p>
          <span id="said_no_01085" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas would have been deeply
            mortified by a suspicion of half that his daughters felt on the subject of his return,
            and would hardly have found consolation in a knowledge of the interest it excited in the
            breast of another young lady. Miss Crawford, on walking up with her brother to spend the
            evening at Mansfield Park, heard the good news; and though seeming to have no concern in
            the affair beyond politeness, and to have vented all her feelings in a quiet
            congratulation, heard it with an attention not so easily satisfied. Mrs. Norris gave the
            particulars of the letters, and the subject was dropt; but after tea, as Miss Crawford
            was standing at an open window with Edmund and Fanny looking out on a twilight scene,
            while the Miss Bertrams, Mr. Rushworth, and Henry Crawford were all busy with candles at
            the pianoforte, she suddenly revived it by turning round towards the group, and saying, </span>
          <span id="said_no_01086" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"How happy Mr. Rushworth looks! He is
            thinking of November."</span>
        </p>
        <p>
          <span id="said_no_01087" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund looked round at Mr. Rushworth
            too, but had nothing to say.</span>
        </p>
        <p>
          <span id="said_no_01088" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Your father's return will be a very
            interesting event."</span>
        </p>
        <p>
          <span id="said_no_01089" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"It will, indeed, after such an absence;
            an absence not only long, but including so many dangers."</span>
        </p>
        <p>
          <span id="said_no_01090" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"It will be the forerunner also of
            other interesting events: your sister's marriage, and your taking orders."</span>
        </p>
        <p>
          <span id="said_no_01091" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes."</span>
        </p>
        <p>
          
            <span id="said_no_01092" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Don't be affronted,"</span>
            <span id="said_no_01093" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said she, laughing,</span>
            <span id="said_no_01094" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"but it does put me in mind of some
              of the old heathen heroes, who, after performing great exploits in a foreign land,
              offered sacrifices to the gods on their safe return."</span>
          
        </p>
        <p>
          
            <span id="said_no_01095" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"There is no sacrifice in the
              case,"</span>
            <span id="said_no_01096" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">replied Edmund, with a serious
              smile, and glancing at the pianoforte again; </span>
            <span id="said_no_01097" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"it is entirely her own doing."</span>
          
        </p>
        <p>
          <span id="said_no_01098" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Oh yes I know it is. I was merely
            joking. She has done no more than what every young woman would do; and I have no doubt
            of her being extremely happy. My other sacrifice, of course, you do not
            understand."</span>
        </p>
        <p>
          <span id="said_no_01099" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"My taking orders, I assure you, is
            quite as voluntary as Maria's marrying."</span>
        </p>
        <p>
          <span id="said_no_01100" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"It is fortunate that your inclination
            and your father's convenience should accord so well. There is a very good living kept
            for you, I understand, hereabouts."</span>
        </p>
        <p>
          <span id="said_no_01101" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Which you suppose has biassed
            me?"</span>
        </p>
        <p>
          <span id="said_no_01102" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"But <em>that</em> I am
            sure it has not,"</span>
          <span id="said_no_01103" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> cried Fanny.</span>
        </p>
        <p>
          <span id="said_no_01104" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Thank you for your good word, Fanny,
            but it is more than I would affirm myself. On the contrary, the knowing that there was
            such a provision for me probably did bias me. Nor can I think it wrong that it should.
            There was no natural disinclination to be overcome, and I see no reason why a man should
            make a worse clergyman for knowing that he will have a competence early in life. I was
            in safe hands. I hope I should not have been influenced myself in a wrong way, and I am
            sure my father was too conscientious to have allowed it. I have no doubt that I was
            biased, but I think it was blamelessly."</span>
        </p>
        <p>
          
            <span id="said_no_01105" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"It is the same sort of
              thing,"</span>
            <span id="said_no_01106" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Fanny, after a short pause, </span>
            <span id="said_no_01107" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"as for the son of an admiral to go
              into the navy, or the son of a general to be in the army, and nobody sees anything
              wrong in that. Nobody wonders that they should prefer the line where their friends can
              serve them best, or suspects them to be less in earnest in it than they
              appear."</span>
          
        </p>
        <p>
          <span id="said_no_01108" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"No, my dear Miss Price, and for
            reasons good. The profession, either navy or army, is its own justification. It has
            everything in its favour: heroism, danger, bustle, fashion. Soldiers and sailors are
            always acceptable in society. Nobody can wonder that men are soldiers and
            sailors."</span>
        </p>
        <p>
          
            <span id="said_no_01109" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"But the motives of a man who takes
              orders with the certainty of preferment may be fairly suspected, you think?"</span>
            <span id="said_no_01110" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Edmund.</span>
            <span id="said_no_01111" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"To be justified in your eyes, he must
              do it in the most complete uncertainty of any provision."</span>
          
        </p>
        <p>
          <span id="said_no_01112" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"What! take orders without a living!
            No; that is madness indeed; absolute madness."</span>
        </p>
        <p>
          <span id="said_no_01113" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Shall I ask you how the church is to be
            filled, if a man is neither to take orders with a living nor without? No; for you
            certainly would not know what to say. But I must beg some advantage to the clergyman
            from your own argument. As he cannot be influenced by those feelings which you rank
            highly as temptation and reward to the soldier and sailor in their choice of a
            profession, as heroism, and noise, and fashion, are all against him, he ought to be less
            liable to the suspicion of wanting sincerity or good intentions in the choice of
            his."</span>
        </p>
        <p>
          <span id="said_no_01114" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Oh! no doubt he is very sincere in
            preferring an income ready made, to the trouble of working for one; and has the best
            intentions of doing nothing all the rest of his days but eat, drink, and grow fat. It is
            indolence, Mr. Bertram, indeed. Indolence and love of ease; a want of all laudable
            ambition, of taste for good company, or of inclination to take the trouble of being
            agreeable, which make men clergymen. A clergyman has nothing to do but be slovenly and
            selfish —read the newspaper, watch the weather, and quarrel with his wife. His curate
            does all the work, and the business of his own life is to dine."</span>
        </p>
        <p><span id="said_no_01115" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"There are such clergymen, no doubt,
            but I think they are not so common as to justify Miss Crawford in esteeming it their
            general character. I suspect that in this comprehensive and (may I say) commonplace
            censure, you are not judging from yourself, but from prejudiced persons, whose opinions
            you have been in the habit of hearing. It is impossible that your own observation can
            have given you much knowledge of the clergy. You can have been personally acquainted
            with very few of a set of men you condemn so conclusively. You are speaking what you
            have been told at your uncle's table."</span></p>
        <p>
          <span id="said_no_01116" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I speak what appears to me the
            general opinion; and where an opinion is general, it is usually correct. Though <em>I</em> have not seen much of the domestic lives of clergymen, it is seen
            by too many to leave any deficiency of information."</span>
        </p>
        <p><span id="said_no_01117" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Where any one body of educated men, of
            whatever denomination, are condemned indiscriminately, there must be a deficiency of
            information, or (smiling) of something else. Your uncle, and his brother admirals,
            perhaps knew little of clergymen beyond the chaplains whom, good or bad, they were
            always wishing away."</span></p>
        <p><span id="said_no_01118" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Poor William! He has met with great
            kindness from the chaplain of the Antwerp,"</span>
          <span id="said_no_01119" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was a tender apostrophe of Fanny's,
            very much to the purpose of her own feelings if not of the conversation.</span></p>
        <p>
          
            <span id="said_no_01120" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I have been so little addicted to
              take my opinions from my uncle,"</span>
            <span id="said_no_01121" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Miss Crawford, </span>
            <span id="said_no_01122" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"that I can hardly suppose— and
              since you push me so hard, I must observe, that I am not entirely without the means of
              seeing what clergymen are, being at this present time the guest of my own brother, Dr.
              Grant. And though Dr. Grant is most kind and obliging to me, and though he is really a
              gentleman, and, I dare say, a good scholar and clever, and often preaches good
              sermons, and is very respectable, <em>I</em> see him to be an indolent,
              selfish <em>bon</em>
              <em>vivant</em>, who must have his palate consulted in everything; who
              will not stir a finger for the convenience of any one; and who, moreover, if the cook
              makes a blunder, is out of humour with his excellent wife. To own the truth, Henry and
              I were partly driven out this very evening by a disappointment about a green goose,
              which he could not get the better of. My poor sister was forced to stay and bear
              it."</span>
          
        </p>
        <p>
          <span id="said_no_01123" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I do not wonder at your disapprobation,
            upon my word. It is a great defect of temper, made worse by a very faulty habit of
            self-indulgence; and to see your sister suffering from it must be exceedingly painful to
            such feelings as yours. Fanny, it goes against us. We cannot attempt to defend Dr.
            Grant."</span>
        </p>
        <p>
          
            <span id="said_no_01124" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"No,"</span>
            <span id="said_no_01125" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">replied Fanny, </span>
            <span id="said_no_01126" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"but we need not give up his
              profession for all that; because, whatever profession Dr. Grant had chosen, he would
              have taken a— not a good temper into it; and as he must, either in the navy or army,
              have had a great many more people under his command than he has now, I think more
              would have been made unhappy by him as a sailor or soldier than as a clergyman.
              Besides, I cannot but suppose that whatever there may be to wish otherwise in Dr.
              Grant would have been in a greater danger of becoming worse in a more active and
              worldly profession, where he would have had less time and obligation— where he might
              have escaped that knowledge of himself, the <em>frequency</em>, at
              least, of that knowledge which it is impossible he should escape as he is now. A man—
              a sensible man like Dr. Grant, cannot be in the habit of teaching others their duty
              every week, cannot go to church twice every Sunday, and preach such very good sermons
              in so good a manner as he does, without being the better for it himself. It must make
              him think; and I have no doubt that he oftener endeavours to restrain himself than he
              would if he had been anything but a clergyman."</span>
          
        </p>
        <p>
          <span id="said_no_01127" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"We cannot prove to the contrary, to
            be sure; but I wish you a better fate, Miss Price, than to be the wife of a man whose
            amiableness depends upon his own sermons; for though he may preach himself into a
            good-humour every Sunday, it will be bad enough to have him quarrelling about green
            geese from Monday morning till Saturday night."</span>
        </p>
        <p>
          
            <span id="said_no_01128" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I think the man who could often
              quarrel with Fanny,"</span>
            <span id="said_no_01129" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Edmund affectionately, </span>
            <span id="said_no_01130" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"must be beyond the reach of any
              sermons."</span>
          
        </p>
        <p>
          <span id="said_no_01131" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny turned farther into the window;
            and Miss Crawford had only time to say, in a pleasant manner, </span>
          <span id="said_no_01132" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I fancy Miss Price has been more used
            to deserve praise than to hear it";</span>
          <span id="said_no_01133" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">when, being earnestly invited by the
            Miss Bertrams to join in a glee, she tripped off to the instrument, leaving Edmund
            looking after her in an ecstasy of admiration of all her many virtues, from her obliging
            manners down to her light and graceful tread.</span>
        </p>
        <p>
          
            <span id="said_no_01134" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"There goes good-humour, I am
              sure,"</span>
            <span id="said_no_01135" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said he presently.</span>
            <span id="said_no_01136" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"There goes a temper which would never
              give pain! How well she walks! and how readily she falls in with the inclination of
              others! joining them the moment she is asked. What a pity,"</span>
            <span id="said_no_01137" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he added, after an instant's
              reflection,</span>
            <span id="said_no_01138" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"that she should have been in such
              hands!"</span>
          
        </p>
        <p>
          <span id="said_no_01139" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny agreed to it, and had the
            pleasure of seeing him continue at the window with her, in spite of the expected glee;
            and of having his eyes soon turned, like hers, towards the scene without, where all that
            was solemn, and soothing, and lovely, appeared in the brilliancy of an unclouded night,
            and the contrast of the deep shade of the woods. Fanny spoke her feelings. </span>
          
            <span id="said_no_01140" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Here's harmony!"</span>
            <span id="said_no_01141" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said she; </span>
            <span id="said_no_01142" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"here's repose! Here's what may
              leave all painting and all music behind, and what poetry only can attempt to describe!
              Here's what may tranquillise every care, and lift the heart to rapture! When I look
              out on such a night as this, I feel as if there could be neither wickedness nor sorrow
              in the world; and there certainly would be less of both if the sublimity of Nature
              were more attended to, and people were carried more out of themselves by contemplating
              such a scene."</span>
          
        </p>
        <p>
          <span id="said_no_01143" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I like to hear your enthusiasm, Fanny.
            It is a lovely night, and they are much to be pitied who have not been taught to feel,
            in some degree, as you do; who have not, at least, been given a taste for Nature in
            early life. They lose a great deal."</span>
        </p>
        <p>
          <span id="said_no_01144" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"<em>You</em> taught me
            to think and feel on the subject, cousin."</span>
        </p>
        <p>
          <span id="said_no_01145" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I had a very apt scholar. There's
            Arcturus looking very bright."</span>
        </p>
        <p>
          <span id="said_no_01146" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Yes, and the Bear. I wish I could
            see Cassiopeia."</span>
        </p>
        <p>
          <span id="said_no_01147" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"We must go out on the lawn for that.
            Should you be afraid?"</span>
        </p>
        <p>
          <span id="said_no_01148" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Not in the least. It is a great
            while since we have had any star-gazing."</span>
        </p>
        <p><span id="said_no_01149" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes; I do not know how it has
              happened."</span>
            <span id="said_no_01150" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The glee began. </span>
            <span id="said_no_01151" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"We will stay till this is finished,
              Fanny,"</span>
            <span id="said_no_01152" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said he, turning his back on the
              window; and as it advanced, she had the mortification of seeing him advance too,
              moving forward by gentle degrees towards the instrument, and when it ceased, he was
              close by the singers, among the most urgent in requesting to hear the glee
              again.</span></p>
        <p>
          <span id="said_no_01153" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny sighed alone at the window till
            scolded away by Mrs. Norris's threats of catching cold.</span>
        </p>
      
  <div class="footnotes"> </div>
