
   
  
    
        <h3>Chapter 35</h3>
        <p>
          <span id="said_no_03626" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund had determined that</span>
          <span id="said_no_03627" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            it belonged entirely to
            Fanny to chuse whether her situation with regard to Crawford should be mentioned between
            them or not; and</span>
          <span id="said_no_03628" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_03629" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            if she did not lead the
            way, it should never be touched on by him;</span>
          <span id="said_no_03630" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">but after a day or two of mutual
            reserve, he was induced by his father to change his mind, and try what his influence
            might do for his friend.</span>
        </p>
        <p>
          <span id="said_no_03631" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">A day, and a very early day, was
            actually fixed for the Crawfords' departure; and</span>
          <span id="said_no_03632" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas thought</span>
          <span id="said_no_03633" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            it might be as well to
            make one more effort for the young man before he left Mansfield, that all his
            professions and vows of unshaken attachment might have as much hope to sustain them as
            possible.</span>
        </p>
        <p>
          <span id="said_no_03634" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas was most cordially anxious
            for the perfection of Mr. Crawford's character in that point. He wished him to be a
            model of constancy; and fancied the best means of effecting it would be by not trying
            him too long.</span>
        </p>
        <p>
          <span id="said_no_03635" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund was not unwilling to be
            persuaded to engage in the business; he wanted to know Fanny's feelings.</span>
          <span id="said_no_03636" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            She had been used to
            consult him in every difficulty, and he loved her too well to bear to be denied her
            confidence now; he hoped to be of service to her, he thought he must be of service to
            her; whom else had she to open her heart to? If she did not need counsel, she must need
            the comfort of communication. Fanny estranged from him, silent and reserved, was an
            unnatural state of things; a state which he must break through,</span>
          <span id="said_no_03637" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and which he could easily learn to
            think she was wanting him to break through.</span>
        </p>
        <p><span id="said_no_03638" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I will speak to her, sir: I will take
            the first opportunity of speaking to her alone,"</span>
          <span id="said_no_03639" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was the result of such thoughts as
            these; and upon</span>
          <span id="said_no_03640" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas's information of</span>
          <span id="said_no_03641" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            her being at that very
            time walking alone in the shrubbery,</span>
          <span id="said_no_03642" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he instantly joined her.</span></p>
        <p>
          
            <span id="said_no_03643" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I am come to walk with you,
              Fanny,"</span>
            <span id="said_no_03644" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said he. </span>
            <span id="said_no_03645" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Shall I?"</span>
            <span id="said_no_03646" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Drawing her arm within his. </span>
            <span id="said_no_03647" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"It is a long while since we have had
              a comfortable walk together."</span>
          
        </p>
        <p>
          <span id="said_no_03648" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She assented to it all rather by look
            than word. Her spirits were low.</span>
        </p>
        <p>
          
            <span id="said_no_03649" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"But, Fanny,"</span>
            <span id="said_no_03650" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> he presently added,</span>
            <span id="said_no_03651" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"in order to have a comfortable walk,
              something more is necessary than merely pacing this gravel together. You must talk to
              me. I know you have something on your mind. I know what you are thinking of. You
              cannot suppose me uninformed. Am I to hear of it from everybody but Fanny
              herself?"</span>
          
        </p>
        <p>
          <span id="said_no_03652" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny, at once agitated and dejected,
            replied, </span>
          <span id="said_no_03653" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"If you hear of it from everybody,
            cousin, there can be nothing for me to tell."</span>
        </p>
        <p>
          <span id="said_no_03654" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Not of facts, perhaps; but of feelings,
            Fanny. No one but you can tell me them. I do not mean to press you, however. If it is
            not what you wish yourself, I have done. I had thought it might be a relief."</span>
        </p>
        <p>
          <span id="said_no_03655" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I am afraid we think too differently
            for me to find any relief in talking of what I feel."</span>
        </p>
        <p>
          <span id="said_no_03656" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Do you suppose that we think
            differently? I have no idea of it. I dare say that, on a comparison of our opinions,
            they would be found as much alike as they have been used to be: to the point— I consider
            Crawford's proposals as most advantageous and desirable, if you could return his
            affection. I consider it as most natural that all your family should wish you could
            return it; but that, as you cannot, you have done exactly as you ought in refusing him.
            Can there be any disagreement between us here?"</span>
        </p>
        <p>
          <span id="said_no_03657" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Oh no! But I thought you blamed me.
            I thought you were against me. This is such a comfort!"</span>
        </p>
        <p>
          <span id="said_no_03658" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"This comfort you might have had sooner,
            Fanny, had you sought it. But how could you possibly suppose me against you? How could
            you imagine me an advocate for marriage without love? Were I even careless in general on
            such matters, how could you imagine me so where your happiness was at stake?"</span>
        </p>
        <p>
          <span id="said_no_03659" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"My uncle thought me wrong, and I
            knew he had been talking to you."</span>
        </p>
        <p>
          <span id="said_no_03660" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"As far as you have gone, Fanny, I think
            you perfectly right. I may be sorry, I may be surprised— though hardly <em>that</em>, for you had not had time to attach yourself —but I think you perfectly
            right. Can it admit of a question? It is disgraceful to us if it does. You did not love
            him; nothing could have justified your accepting him."</span>
        </p>
        <p>
          <span id="said_no_03661" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny had not felt so comfortable for
            days and days.</span>
        </p>
        <p>
          <span id="said_no_03662" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"So far your conduct has been faultless,
            and they were quite mistaken who wished you to do otherwise. But the matter does not end
            here. Crawford's is no common attachment; he perseveres, with the hope of creating that
            regard which had not been created before. This, we know, must be a work of time. But" </span>
          <span id="said_no_03663" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">(with an affectionate smile)</span>
          <span id="said_no_03664" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top"> "let him succeed at last, Fanny, let
            him succeed at last. You have proved yourself upright and disinterested, prove yourself
            grateful and tender-hearted; and then you will be the perfect model of a woman which I
            have always believed you born for."</span>
        </p>
        <p>
          <span id="said_no_03665" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Oh! never, never, never! he never
            will succeed with me."</span>
          <span id="said_no_03666" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> And she spoke with a warmth which
            quite astonished Edmund, and which she blushed at the recollection of herself, when she
            saw his look, and heard him reply, </span>
          <span id="said_no_03667" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Never! Fanny!—so very determined and
            positive! This is not like yourself, your rational self."</span>
        </p>
        <p>
          
            <span id="said_no_03668" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I mean,"</span>
            <span id="said_no_03669" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she cried, sorrowfully correcting
              herself, </span>
            <span id="said_no_03670" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"that I <em>think</em> I never shall, as far as the future can be answered for; I think I never
              shall return his regard."</span>
          
        </p>
        <p>
          <span id="said_no_03671" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I must hope better things. I am aware,
            more aware than Crawford can be, that the man who means to make you love him (you having
            due notice of his intentions) must have very uphill work, for there are all your early
            attachments and habits in battle array; and before he can get your heart for his own use
            he has to unfasten it from all the holds upon things animate and inanimate, which so
            many years' growth have confirmed, and which are considerably tightened for the moment
            by the very idea of separation. I know that the apprehension of being forced to quit
            Mansfield will for a time be arming you against him. I wish he had not been obliged to
            tell you what he was trying for. I wish he had known you as well as I do, Fanny. Between
            us, I think we should have won you. My theoretical and his practical knowledge together
            could not have failed. He should have worked upon my plans. I must hope, however, that
            time, proving him (as I firmly believe it will) to deserve you by his steady affection,
            will give him his reward. I cannot suppose that you have not the <em>wish</em> to love him— the natural wish of gratitude. You must have some feeling of
            that sort. You must be sorry for your own indifference."</span>
        </p>
        <p>
          
            <span id="said_no_03672" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"We are so totally unlike,"</span>
            <span id="said_no_03673" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Fanny, avoiding a direct
              answer,</span>
            <span id="said_no_03674" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"we are so very, very different in
              all our inclinations and ways, that I consider it as quite impossible we should ever
              be tolerably happy together, even if I <em>could</em> like him. There
              never were two people more dissimilar. We have not one taste in common. We should be
              miserable."</span>
          
        </p>
        <p>
          <span id="said_no_03675" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"You are mistaken, Fanny. The
            dissimilarity is not so strong. You are quite enough alike. You <em>have</em> tastes in common. You have moral and literary tastes in common. You have
            both warm hearts and benevolent feelings; and, Fanny, who that heard him read, and saw
            you listen to Shakespeare the other night, will think you unfitted as companions? You
            forget yourself: there is a decided difference in your tempers, I allow. He is lively,
            you are serious; but so much the better: his spirits will support yours. It is your
            disposition to be easily dejected and to fancy difficulties greater than they are. His
            cheerfulness will counteract this. He sees difficulties nowhere: and his pleasantness
            and gaiety will be a constant support to you. Your being so far unlike, Fanny, does not
            in the smallest degree make against the probability of your happiness together: do not
            imagine it. I am myself convinced that it is rather a favourable circumstance. I am
            perfectly persuaded that the tempers had better be unlike: I mean unlike in the flow of
            the spirits, in the manners, in the inclination for much or little company, in the
            propensity to talk or to be silent, to be grave or to be gay. Some opposition here is, I
            am thoroughly convinced, friendly to matrimonial happiness. I exclude extremes, of
            course; and a very close resemblance in all those points would be the likeliest way to
            produce an extreme. A counteraction, gentle and continual, is the best safeguard of
            manners and conduct."</span>
        </p>
        <p>
          <span id="said_no_03676" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Full well could Fanny guess where his
            thoughts were now:</span>
          <span id="said_no_03677" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
             Miss Crawford's power
            was all returning. He had been speaking of her cheerfully from the hour of his coming
            home. His avoiding her was quite at an end. He had dined at the Parsonage only the
            preceding day.</span>
        </p>
        <p>
          <span id="said_no_03678" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">After leaving him to his happier
            thoughts for some minutes, Fanny, feeling it due to herself, returned to Mr. Crawford,
            and said,</span>
          <span id="said_no_03679" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"It is not merely in <em>temper</em> that I consider him as totally unsuited to myself; though,
            in <em>that</em> respect, I think the difference between us too great,
            infinitely too great: his spirits often oppress me; but there is something in him which
            I object to still more. I must say, cousin, that I cannot approve his character. I have
            not thought well of him from the time of the play. I then saw him behaving, as it
            appeared to me, so very improperly and unfeelingly— I may speak of it now because it is
            all over— so improperly by poor Mr. Rushworth, not seeming to care how he exposed or
            hurt him, and paying attentions to my cousin Maria, which —in short, at the time of the
            play, I received an impression which will never be got over."</span>
        </p>
        <p>
          
            <span id="said_no_03680" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"My dear Fanny,"</span>
            <span id="said_no_03681" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">replied Edmund, scarcely hearing her
              to the end, </span>
            <span id="said_no_03682" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"let us not, any of us, be judged by
              what we appeared at that period of general folly. The time of the play is a time which
              I hate to recollect. Maria was wrong, Crawford was wrong, we were all wrong together;
              but none so wrong as myself. Compared with me, all the rest were blameless. I was
              playing the fool with my eyes open."</span>
          
        </p>
        <p>
          
            <span id="said_no_03683" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"As a bystander," </span>
            <span id="said_no_03684" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Fanny,</span>
            <span id="said_no_03685" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"perhaps I saw more than you did;
              and I do think that Mr. Rushworth was sometimes very jealous."</span>
          
        </p>
        <p>
          <span id="said_no_03686" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Very possibly. No wonder. Nothing could
            be more improper than the whole business. I am shocked whenever I think that Maria could
            be capable of it; but, if she could undertake the part, we must not be surprised at the
            rest."</span>
        </p>
        <p>
          <span id="said_no_03687" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Before the play, I am much mistaken
            if <em>Julia</em> did not think he was paying her attentions."</span>
        </p>
        <p>
          <span id="said_no_03688" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Julia! I have heard before from some
            one of his being in love with Julia; but I could never see anything of it. And, Fanny,
            though I hope I do justice to my sisters' good qualities, I think it very possible that
            they might, one or both, be more desirous of being admired by Crawford, and might shew
            that desire rather more unguardedly than was perfectly prudent. I can remember that they
            were evidently fond of his society; and with such encouragement, a man like Crawford,
            lively, and it may be, a little unthinking, might be led on to— there could be nothing
            very striking, because it is clear that he had no pretensions: his heart was reserved
            for you. And I must say, that its being for you has raised him inconceivably in my
            opinion. It does him the highest honour; it shews his proper estimation of the blessing
            of domestic happiness and pure attachment. It proves him unspoilt by his uncle. It
            proves him, in short, everything that I had been used to wish to believe him, and feared
            he was not."</span>
        </p>
        <p>
          <span id="said_no_03689" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I am persuaded that he does not
            think, as he ought, on serious subjects."</span>
        </p>
        <p>
          <span id="said_no_03690" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Say, rather, that he has not thought at
            all upon serious subjects, which I believe to be a good deal the case. How could it be
            otherwise, with such an education and adviser? Under the disadvantages, indeed, which
            both have had, is it not wonderful that they should be what they are? Crawford's <em>feelings</em>, I am ready to acknowledge, have hitherto been too much
            his guides. Happily, those feelings have generally been good. You will supply the rest;
            and a most fortunate man he is to attach himself to such a creature— to a woman who,
            firm as a rock in her own principles, has a gentleness of character so well adapted to
            recommend them. He has chosen his partner, indeed, with rare felicity. He will make you
            happy, Fanny; I know he will make you happy; but you will make him everything."</span>
        </p>
        <p>
          
            <span id="said_no_03691" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I would not engage in such a
              charge,"</span>
            <span id="said_no_03692" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> cried Fanny, in a shrinking accent; </span>
            <span id="said_no_03693" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"in such an office of high
              responsibility!"</span>
          
        </p>
        <p>
          <span id="said_no_03694" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"As usual, believing yourself unequal to
            anything! fancying everything too much for you! Well, though I may not be able to
            persuade you into different feelings, you will be persuaded into them, I trust. I
            confess myself sincerely anxious that you may. I have no common interest in Crawford's
            well-doing. Next to your happiness, Fanny, his has the first claim on me. You are aware
            of my having no common interest in Crawford."</span>
        </p>
        <p>
          <span id="said_no_03695" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny was too well aware of it to have
            anything to say; and they walked on together some fifty yards in mutual silence and
            abstraction. Edmund first began again—</span>
        </p>
        <p>
          <span id="said_no_03696" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I was very much pleased by her manner
            of speaking of it yesterday, particularly pleased, because I had not depended upon her
            seeing everything in so just a light. I knew she was very fond of you; but yet I was
            afraid of her not estimating your worth to her brother quite as it deserved, and of her
            regretting that he had not rather fixed on some woman of distinction or fortune. I was
            afraid of the bias of those worldly maxims, which she has been too much used to hear.
            But it was very different. She spoke of you, Fanny, just as she ought. She desires the
            connexion as warmly as your uncle or myself. We had a long talk about it. I should not
            have mentioned the subject, though very anxious to know her sentiments; but I had not
            been in the room five minutes before she began introducing it with all that openness of
            heart, and sweet peculiarity of manner, that spirit and ingenuousness which are so much
            a part of herself. Mrs. Grant laughed at her for her rapidity."</span>
        </p>
        <p>
          <span id="said_no_03697" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Was Mrs. Grant in the room,
            then?"</span>
        </p>
        <p>
          <span id="said_no_03698" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes, when I reached the house I found
            the two sisters together by themselves; and when once we had begun, we had not done with
            you, Fanny, till Crawford and Dr. Grant came in."</span>
        </p>
        <p>
          <span id="said_no_03699" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"It is above a week since I saw Miss
            Crawford."</span>
        </p>
        <p>
          <span id="said_no_03700" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes, she laments it; yet owns it may
            have been best. You will see her, however, before she goes. She is very angry with you,
            Fanny; you must be prepared for that. She calls herself very angry, but you can imagine
            her anger. It is the regret and disappointment of a sister, who thinks her brother has a
            right to everything he may wish for, at the first moment. She is hurt, as you would be
            for William; but she loves and esteems you with all her heart."</span>
        </p>
        <p>
          <span id="said_no_03701" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I knew she would be very angry with
            me."</span>
        </p>
        <p>
          
            <span id="said_no_03702" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"My dearest Fanny,"</span>
            <span id="said_no_03703" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">cried Edmund, pressing her arm
              closer to him,</span>
            <span id="said_no_03704" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"do not let the idea of her anger
              distress you. It is anger to be talked of rather than felt. Her heart is made for love
              and kindness, not for resentment. I wish you could have overheard her tribute of
              praise; I wish you could have seen her countenance, when she said that you <em>should</em> be Henry's wife. And I observed that she always spoke of
              you as 'Fanny,' which she was never used to do; and it had a sound of most sisterly
              cordiality."</span>
          
        </p>
        <p>
          <span id="said_no_03705" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"And Mrs. Grant, did she say —did she
            speak; was she there all the time?"</span>
        </p>
        <p>
          <span id="said_no_03706" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes, she was agreeing exactly with her
            sister. The surprise of your refusal, Fanny, seems to have been unbounded. That you
            could refuse such a man as Henry Crawford seems more than they can understand. I said
            what I could for you; but in good truth, as they stated the case —you must prove
            yourself to be in your senses as soon as you can by a different conduct; nothing else
            will satisfy them. But this is teasing you. I have done. Do not turn away from
            me."</span>
        </p>
        <p>
          <span id="said_no_03707" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I <em>should</em>
              have thought,"</span>
            <span id="said_no_03708" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Fanny, after a pause of
              recollection and exertion, </span>
            <span id="said_no_03709" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"that every woman must have felt
              the possibility of a man's not being approved, not being loved by some one of her sex
              at least, let him be ever so generally agreeable. Let him have all the perfections in
              the world, I think it ought not to be set down as certain that a man must be
              acceptable to every woman he may happen to like himself. But, even supposing it is so,
              allowing Mr. Crawford to have all the claims which his sisters think he has, how was I
              to be prepared to meet him with any feeling answerable to his own? He took me wholly
              by surprise. I had not an idea that his behaviour to me before had any meaning; and
              surely I was not to be teaching myself to like him only because he was taking what
              seemed very idle notice of me. In my situation, it would have been the extreme of
              vanity to be forming expectations on Mr. Crawford. I am sure his sisters, rating him
              as they do, must have thought it so, supposing he had meant nothing. How, then, was I
              to be— to be in love with him the moment he said he was with me? How was I to have an
              attachment at his service, as soon as it was asked for? His sisters should consider me
              as well as him. The higher his deserts, the more improper for me ever to have thought
              of him. And, and—we think very differently of the nature of women, if they can imagine
              a woman so very soon capable of returning an affection as this seems to
            imply."</span>
        </p>
        <p>
          <span id="said_no_03710" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"My dear, dear Fanny, now I have the
            truth. I know this to be the truth; and most worthy of you are such feelings. I had
            attributed them to you before. I thought I could understand you. You have now given
            exactly the explanation which I ventured to make for you to your friend and Mrs. Grant,
            and they were both better satisfied, though your warm-hearted friend was still run away
            with a little by the enthusiasm of her fondness for Henry. I told them that you were of
            all human creatures the one over whom habit had most power and novelty least; and that
            the very circumstance of the novelty of Crawford's addresses was against him. Their
            being so new and so recent was all in their disfavour; that you could tolerate nothing
            that you were not used to; and a great deal more to the same purpose, to give them a
            knowledge of your character. Miss Crawford made us laugh by her plans of encouragement
            for her brother. She meant to urge him to persevere in the hope of being loved in time,
            and of having his addresses most kindly received at the end of about ten years' happy
            marriage."</span>
        </p>
        <p>
          <span id="said_no_03711" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny could with difficulty give the
            smile that was here asked for. Her feelings were all in revolt. She feared she had been
            doing wrong: saying too much, overacting the caution which she had been fancying
            necessary; in guarding against one evil, laying herself open to another; and to have
            Miss Crawford's liveliness repeated to her at such a moment, and on such a subject, was
            a bitter aggravation.</span>
        </p>
        <p>
          <span id="said_no_03712" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund</span>
          <span id="said_no_03713" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">saw weariness and distress in her
            face, and immediately</span>
          <span id="said_no_03714" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">resolved</span>
          <span id="said_no_03715" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top"> to forbear all farther discussion; and not even to mention
            the name of Crawford again, except as it might be connected with what <em>must</em> be agreeable to her.</span>
          <span id="said_no_03716" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">On this principle, he soon afterwards
            observed—</span>
          <span id="said_no_03717" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"They go on Monday. You are sure,
            therefore, of seeing your friend either to-morrow or Sunday. They really go on Monday;
            and I was within a trifle of being persuaded to stay at Lessingby till that very day! I
            had almost promised it. What a difference it might have made! Those five or six days
            more at Lessingby might have been felt all my life."</span>
        </p>
        <p>
          <span id="said_no_03718" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"You were near staying there?"</span>
        </p>
        <p>
          <span id="said_no_03719" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Very. I was most kindly pressed, and
            had nearly consented. Had I received any letter from Mansfield, to tell me how you were
            all going on, I believe I should certainly have staid; but I knew nothing that had
            happened here for a fortnight, and felt that I had been away long enough."</span>
        </p>
        <p>
          <span id="said_no_03720" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"You spent your time pleasantly
            there?"</span>
        </p>
        <p>
          <span id="said_no_03721" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes; that is, it was the fault of my
            own mind if I did not. They were all very pleasant. I doubt their finding me so. I took
            uneasiness with me, and there was no getting rid of it till I was in Mansfield
            again."</span>
        </p>
        <p>
          <span id="said_no_03722" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"The Miss Owens— you liked them, did
            not you?"</span>
        </p>
        <p>
          <span id="said_no_03723" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes, very well. Pleasant,
            good-humoured, unaffected girls. But I am spoilt, Fanny, for common female society.
            Good-humoured, unaffected girls will not do for a man who has been used to sensible
            women. They are two distinct orders of being. You and Miss Crawford have made me too
            nice."</span>
        </p>
        <p>
          <span id="said_no_03724" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Still, however, Fanny was oppressed
            and wearied; he saw it in her looks, it could not be talked away; and attempting it no
            more, he led her directly, with the kind authority of a privileged guardian, into the
            house.</span>
        </p>
      
  <div class="footnotes"> </div>
