
   
  
    
        <h3>Chapter 9</h3>
        <p>
          <span id="said_no_00792" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Rushworth was at the door to
            receive his fair lady; and the whole party were welcomed by him with due attention. In
            the drawing-room they were met with equal cordiality by the mother, and Miss Bertram had
            all the distinction with each that she could wish. After the business of arriving was
            over, it was first necessary to eat, and the doors were thrown open to admit them
            through one or two intermediate rooms into the appointed dining-parlour, where a
            collation was prepared with abundance and elegance. Much was said, and much was ate, and
            all went well. The particular object of the day was then considered. How would Mr.
            Crawford like, in what manner would he chuse, to take a survey of the grounds? Mr.
            Rushworth mentioned his curricle.</span>
          <span id="said_no_00793" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Crawford suggested</span>
          <span id="said_no_00794" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            the greater
            desirableness of some carriage which might convey more than two.</span>
          <span id="said_no_00795" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"To be depriving themselves of the
            advantage of other eyes and other judgments, might be an evil even beyond the loss of
            present pleasure."</span>
        </p>
        <p>
          <span id="said_no_00796" class="said" data-toggle="tooltip" title="aus.006.nar_mrsr" data-placement="auto top">Mrs. Rushworth proposed
            that</span>
          <span id="said_no_00797" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrsr" data-placement="auto top">
            the chaise should be
            taken also;</span>
          <span id="said_no_00798" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">but this was scarcely received as an
            amendment: the young ladies neither smiled nor spoke.</span>
          <span id="said_no_00799" class="said" data-toggle="tooltip" title="aus.006.nar_mrsr" data-placement="auto top">Her next proposition, of</span>
          <span id="said_no_00800" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrsr" data-placement="auto top">
            shewing the house to such
            of them as had not been there before,</span>
          <span id="said_no_00801" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was more acceptable, for Miss Bertram
            was pleased to have its size displayed, and all were glad to be doing something.</span>
        </p>
        <p>
          <span id="said_no_00802" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The whole party rose accordingly, and
            under Mrs. Rushworth's guidance were shewn through a number of rooms, all lofty, and
            many large, and amply furnished in the taste of fifty years back, with shining floors,
            solid mahogany, rich damask, marble, gilding, and carving, each handsome in its way. Of
            pictures there were abundance, and some few good, but the larger part were family
            portraits, no longer anything to anybody but Mrs. Rushworth, who had been at great pains
            to learn all that the housekeeper could teach, and was now almost equally well qualified
            to shew the house. On the present occasion she addressed herself chiefly to Miss
            Crawford and Fanny, but there was no comparison in the willingness of their attention;
            for Miss Crawford, who had seen scores of great houses, and cared for none of them, had
            only the appearance of civilly listening, while Fanny, to whom everything was almost as
            interesting as it was new, attended with unaffected earnestness to all that Mrs.
            Rushworth could relate of the family in former times, its rise and grandeur, regal
            visits and loyal efforts, delighted to connect anything with history already known, or
            warm her imagination with scenes of the past.</span>
        </p>
        <p>
          <span id="said_no_00803" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The situation of the house excluded
            the possibility of much prospect from any of the rooms; and while Fanny and some of the
            others were attending Mrs. Rushworth, Henry Crawford was looking grave and shaking his
            head at the windows. Every room on the west front looked across a lawn to the beginning
            of the avenue immediately beyond tall iron palisades and gates.</span>
        </p>
        <p>
          
            <span id="said_no_00804" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Having visited many more rooms than
              could be supposed to be of any other use than to contribute to the window-tax, and
              find employment for housemaids, </span>
            <span id="said_no_00805" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"Now,"</span>
            <span id="said_no_00806" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Mrs. Rushworth, </span>
            <span id="said_no_00807" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"we are coming to the chapel, which
              properly we ought to enter from above, and look down upon; but as we are quite among
              friends, I will take you in this way, if you will excuse me."</span>
          
        </p>
        <p>
          <span id="said_no_00808" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">They entered. Fanny's imagination had
            prepared her for something grander than a mere spacious, oblong room, fitted up for the
            purpose of devotion: with nothing more striking or more solemn than the profusion of
            mahogany, and the crimson velvet cushions appearing over the ledge of the family gallery
            above. </span>
          
            <span id="said_no_00809" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I am disappointed,"</span>
            <span id="said_no_00810" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said she, in a low voice, to Edmund. </span>
            <span id="said_no_00811" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"This is not my idea of a chapel.
              There is nothing awful here, nothing melancholy, nothing grand. Here are no aisles, no
              arches, no inscriptions, no banners. No banners, cousin, to be 'blown by the night
              wind of heaven.' No signs that a 'Scottish monarch sleeps below.'"</span>
          
        </p>
        <p>
          <span id="said_no_00812" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"You forget, Fanny, how lately all this
            has been built, and for how confined a purpose, compared with the old chapels of castles
            and monasteries. It was only for the private use of the family. They have been buried, I
            suppose, in the parish church. <em>There</em> you must look for the
            banners and the achievements."</span>
        </p>
        <p>
          <span id="said_no_00813" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"It was foolish of me not to think of
            all that; but I am disappointed."</span>
        </p>
        <p>
          <span id="said_no_00814" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Rushworth began her
            relation.</span>
          <span id="said_no_00815" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"This chapel was fitted up as you see
            it, in James the Second's time. Before that period, as I understand, the pews were only
            wainscot; and there is some reason to think that the linings and cushions of the pulpit
            and family seat were only purple cloth; but this is not quite certain. It is a handsome
            chapel, and was formerly in constant use both morning and evening. Prayers were always
            read in it by the domestic chaplain, within the memory of many; but the late Mr.
            Rushworth left it off."</span>
        </p>
        <p>
          <span id="said_no_00816" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Every generation has its
            improvements,"</span>
          <span id="said_no_00817" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Miss Crawford, with a smile, to
            Edmund.</span>
        </p>
        <p>
          <span id="said_no_00818" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Rushworth was gone to repeat her
            lesson to Mr. Crawford; and Edmund, Fanny, and Miss Crawford remained in a cluster
            together.</span>
        </p>
        <p>
          
            <span id="said_no_00819" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"It is a pity,"</span>
            <span id="said_no_00820" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">cried Fanny, </span>
            <span id="said_no_00821" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"that the custom should have been
              discontinued. It was a valuable part of former times. There is something in a chapel
              and chaplain so much in character with a great house, with one's ideas of what such a
              household should be! A whole family assembling regularly for the purpose of prayer is
              fine!"</span>
          
        </p>
        <p>
          
            <span id="said_no_00822" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Very fine indeed,"</span>
            <span id="said_no_00823" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Miss Crawford, laughing. </span>
            <span id="said_no_00824" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"It must do the heads of the family
              a great deal of good to force all the poor housemaids and footmen to leave business
              and pleasure, and say their prayers here twice a day, while they are inventing excuses
              themselves for staying away."</span>
          
        </p>
        <p>
          
            <span id="said_no_00825" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"<em>That</em> is hardly
              Fanny's idea of a family assembling,"</span>
            <span id="said_no_00826" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Edmund. </span>
            <span id="said_no_00827" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"If the master and mistress do <em>not</em> attend themselves, there must be more harm than good in the
              custom."</span>
          
        </p>
        <p>
          <span id="said_no_00828" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"At any rate, it is safer to leave
            people to their own devices on such subjects. Everybody likes to go their own way— to
            chuse their own time and manner of devotion. The obligation of attendance, the
            formality, the restraint, the length of time— altogether it is a formidable thing, and
            what nobody likes; and if the good people who used to kneel and gape in that gallery
            could have foreseen that the time would ever come when men and women might lie another
            ten minutes in bed, when they woke with a headache, without danger of reprobation,
            because chapel was missed, they would have jumped with joy and envy. Cannot you imagine
            with what unwilling feelings the former belles of the house of Rushworth did many a time
            repair to this chapel? The young Mrs. Eleanors and Mrs. Bridgets— starched up into
            seeming piety, but with heads full of something very different— especially if the poor
            chaplain were not worth looking at— and, in those days, I fancy parsons were very
            inferior even to what they are now."</span>
        </p>
        <p>
          <span id="said_no_00829" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">For a few moments she was unanswered.
            Fanny coloured and looked at Edmund, but felt too angry for speech; and he needed a
            little recollection before he could say, </span>
          <span id="said_no_00830" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Your lively mind can hardly be serious
            even on serious subjects. You have given us an amusing sketch, and human nature cannot
            say it was not so. We must all feel <em>at</em>
            <em>times</em> the difficulty of fixing our thoughts as we could wish; but
            if you are supposing it a frequent thing, that is to say, a weakness grown into a habit
            from neglect, what could be expected from the <em>private</em> devotions
            of such persons? Do you think the minds which are suffered, which are indulged in
            wanderings in a chapel, would be more collected in a closet?"</span>
        </p>
        <p>
          <span id="said_no_00831" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Yes, very likely. They would have two
            chances at least in their favour. There would be less to distract the attention from
            without, and it would not be tried so long."</span>
        </p>
        <p>
          <span id="said_no_00832" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"The mind which does not struggle
            against itself under <em>one</em> circumstance, would find objects to
            distract it in the <em>other</em>, I believe; and the influence of the
            place and of example may often rouse better feelings than are begun with. The greater
            length of the service, however, I admit to be sometimes too hard a stretch upon the
            mind. One wishes it were not so; but I have not yet left Oxford long enough to forget
            what chapel prayers are."</span>
        </p>
        <p>
          <span id="said_no_00833" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">While this was passing, the rest of
            the party being scattered about the chapel, Julia called Mr. Crawford's attention to her
            sister, by saying,</span>
          <span id="said_no_00834" class="said" data-toggle="tooltip" title="Julia Bertram" data-placement="auto top">"Do look at Mr. Rushworth and Maria,
            standing side by side, exactly as if the ceremony were going to be performed. Have not
            they completely the air of it?"</span>
        </p>
        <p>
          <span id="said_no_00835" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Crawford smiled his acquiescence,
            and stepping forward to Maria, said, in a voice which she only could hear, </span>
          <span id="said_no_00836" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I do not like to see Miss Bertram so
            near the altar."</span>
        </p>
        <p>
          <span id="said_no_00837" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Starting, the lady instinctively moved
            a step or two, but recovering herself in a moment, affected to laugh, and asked him, in
            a tone not much louder, </span>
          <span id="said_no_00838" class="said" data-toggle="tooltip" title="Maria Bertram" data-placement="auto top">"If he would give her away?"</span>
        </p>
        <p>
          <span id="said_no_00839" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I am afraid I should do it very
            awkwardly,"</span>
          <span id="said_no_00840" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was his reply, with a look of
            meaning.</span>
        </p>
        <p>
          <span id="said_no_00841" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Julia, joining them at the moment,
            carried on the joke.</span>
        </p>
        <p>
          <span id="said_no_00842" class="said" data-toggle="tooltip" title="Julia Bertram" data-placement="auto top">"Upon my word, it is really a pity
            that it should not take place directly, if we had but a proper licence, for here we are
            altogether, and nothing in the world could be more snug and pleasant."</span>
          <span id="said_no_00843" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">And she talked and laughed about it
            with so little caution as to catch the comprehension of Mr. Rushworth and his mother,
            and expose her sister to the whispered gallantries of her lover, while Mrs. Rushworth
            spoke with proper smiles and dignity of its being a most happy event to her whenever it
            took place.</span>
        </p>
        <p>
          
            <span id="said_no_00844" class="said" data-toggle="tooltip" title="Julia Bertram" data-placement="auto top">"If Edmund were but in
              orders!"</span>
            <span id="said_no_00845" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">cried Julia, and running to where he
              stood with Miss Crawford and Fanny: </span>
            <span id="said_no_00846" class="said" data-toggle="tooltip" title="Julia Bertram" data-placement="auto top">"My dear Edmund, if you were but in
              orders now, you might perform the ceremony directly. How unlucky that you are not
              ordained; Mr. Rushworth and Maria are quite ready."</span>
          
        </p>
        <p><span id="said_no_00847" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Miss Crawford's countenance, as Julia
            spoke, might have amused a disinterested observer. She looked almost aghast under the
            new idea she was receiving. Fanny pitied her.</span>
          <span id="said_no_00848" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"How distressed she will be at what
            she said just now,"</span>
          <span id="said_no_00849" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> passed across her mind.</span></p>
        <p>
          
            <span id="said_no_00850" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Ordained!"</span>
            <span id="said_no_00851" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Miss Crawford; </span>
            <span id="said_no_00852" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"what, are you to be a
              clergyman?"</span>
          
        </p>
        <p>
          <span id="said_no_00853" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes; I shall take orders soon after my
            father's return—probably at Christmas."</span>
        </p>
        <p><span id="said_no_00854" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Miss Crawford, rallying her spirits,
            and recovering her complexion, replied only,</span>
          <span id="said_no_00855" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"If I had known this before, I would
            have spoken of the cloth with more respect,"</span>
          <span id="said_no_00856" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and turned the subject.</span></p>
        <p>
          <span id="said_no_00857" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The chapel was soon afterwards left to
            the silence and stillness which reigned in it, with few interruptions, throughout the
            year. Miss Bertram, displeased with her sister, led the way, and all seemed to feel that
            they had been there long enough.</span>
        </p>
        <p>
          
            <span id="said_no_00858" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The lower part of the house had been
              now entirely shewn, and Mrs. Rushworth, never weary in the cause, would have proceeded
              towards the principal staircase, and taken them through all the rooms above, if her
              son had not interposed with a doubt of there being time enough. </span>
            <span id="said_no_00859" class="said" data-toggle="tooltip" title="Mr. Rushworth" data-placement="auto top">"For if,"</span>
            <span id="said_no_00860" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said he, with the sort of
              self-evident proposition which many a clearer head does not always avoid, </span>
            <span id="said_no_00861" class="said" data-toggle="tooltip" title="Mr. Rushworth" data-placement="auto top">"we are <em>too</em>
              long going over the house, we shall not have time for what is to be done out of doors.
              It is past two, and we are to dine at five."</span>
          
        </p>
        <p>
          <span id="said_no_00862" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Rushworth submitted; and the
            question of surveying the grounds, with the who and the how, was likely to be more fully
            agitated, and Mrs. Norris was beginning to arrange by what junction of carriages and
            horses most could be done, when the young people, meeting with an outward door,
            temptingly open on a flight of steps which led immediately to turf and shrubs, and all
            the sweets of pleasure-grounds, as by one impulse, one wish for air and liberty, all
            walked out.</span>
        </p>
        <p>
          
            <span id="said_no_00863" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"Suppose we turn down here for the
              present,"</span>
            <span id="said_no_00864" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Mrs. Rushworth, civilly taking
              the hint and following them. </span>
            <span id="said_no_00865" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"Here are the greatest number of our
              plants, and here are the curious pheasants."</span>
          
        </p>
        <p>
          
            <span id="said_no_00866" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"Query,"</span>
            <span id="said_no_00867" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Mr. Crawford, looking round
              him,</span>
            <span id="said_no_00868" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"whether we may not find something
              to employ us here before we go farther? I see walls of great promise. Mr. Rushworth,
              shall we summon a council on this lawn?"</span>
          
        </p>
        <p>
          
            <span id="said_no_00869" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"James,"</span>
            <span id="said_no_00870" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Mrs. Rushworth to her son, </span>
            <span id="said_no_00871" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"I believe the wilderness will be
              new to all the party. The Miss Bertrams have never seen the wilderness yet."</span>
          
        </p>
        <p>
          <span id="said_no_00872" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">No objection was made, but for some
            time there seemed no inclination to move in any plan, or to any distance. All were
            attracted at first by the plants or the pheasants, and all dispersed about in happy
            independence. Mr. Crawford was the first to move forward to examine the capabilities of
            that end of the house. The lawn, bounded on each side by a high wall, contained beyond
            the first planted area a bowling-green, and beyond the bowling-green a long terrace
            walk, backed by iron palisades, and commanding a view over them into the tops of the
            trees of the wilderness immediately adjoining. It was a good spot for fault-finding. Mr.
            Crawford was soon followed by Miss Bertram and Mr. Rushworth; and when, after a little
            time, the others began to form into parties, these three were found in busy consultation
            on the terrace by Edmund, Miss Crawford, and Fanny, who seemed as naturally to unite,
            and who, after a short participation of their regrets and difficulties, left them and
            walked on. The remaining three, Mrs. Rushworth, Mrs. Norris, and Julia, were still far
            behind; for Julia, whose happy star no longer prevailed, was obliged to keep by the side
            of Mrs. Rushworth, and restrain her impatient feet to that lady's slow pace, while her
            aunt, having fallen in with the housekeeper, who was come out to feed the pheasants, was
            lingering behind in gossip with her. Poor Julia, the only one out of the nine not
            tolerably satisfied with their lot, was now in a state of complete penance, and as
            different from the Julia of the barouche-box as could well be imagined. The politeness
            which she had been brought up to practise as a duty made it impossible for her to
            escape; while the want of that higher species of self-command, that just consideration
            of others, that knowledge of her own heart, that principle of right, which had not
            formed any essential part of her education, made her miserable under it.</span>
        </p>
        <p>
          
            <span id="said_no_00873" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"This is insufferably hot,"</span>
            <span id="said_no_00874" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Miss Crawford, when they had
              taken one turn on the terrace, and were drawing a second time to the door in the
              middle which opened to the wilderness. </span>
            <span id="said_no_00875" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Shall any of us object to being
              comfortable? Here is a nice little wood, if one can but get into it. What happiness if
              the door should not be locked! but of course it is; for in these great places the
              gardeners are the only people who can go where they like."</span>
          
        </p>
        <p>
          <span id="said_no_00876" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The door, however, proved not to be
            locked, and they were all agreed in turning joyfully through it, and leaving the
            unmitigated glare of day behind. A considerable flight of steps landed them in the
            wilderness, which was a planted wood of about two acres, and though chiefly of larch and
            laurel, and beech cut down, and though laid out with too much regularity, was darkness
            and shade, and natural beauty, compared with the bowling-green and the terrace. They all
            felt the refreshment of it, and for some time could only walk and admire. At length,
            after a short pause, Miss Crawford began with, </span>
          <span id="said_no_00877" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"So you are to be a clergyman, Mr.
            Bertram. This is rather a surprise to me."</span>
        </p>
        <p>
          <span id="said_no_00878" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Why should it surprise you? You must
            suppose me designed for some profession, and might perceive that I am neither a lawyer,
            nor a soldier, nor a sailor."</span>
        </p>
        <p>
          <span id="said_no_00879" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Very true; but, in short, it had not
            occurred to me. And you know there is generally an uncle or a grandfather to leave a
            fortune to the second son."</span>
        </p>
        <p>
          
            <span id="said_no_00880" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"A very praiseworthy practice,"</span>
            <span id="said_no_00881" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Edmund, </span>
            <span id="said_no_00882" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"but not quite universal. I am one of
              the exceptions, and <em>being</em> one, must do something for
              myself."</span>
          
        </p>
        <p>
          <span id="said_no_00883" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"But why are you to be a clergyman? I
            thought <em>that</em> was always the lot of the youngest, where there were
            many to chuse before him."</span>
        </p>
        <p>
          <span id="said_no_00884" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Do you think the church itself never
            chosen, then?"</span>
        </p>
        <p>
          <span id="said_no_00885" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"<em>Never</em> is a
            black word. But yes, in the <em>never</em> of conversation, which means
              <em>not</em>
            <em>very</em>
            <em>often</em>, I do think it. For what is to be done in the church? Men
            love to distinguish themselves, and in either of the other lines distinction may be
            gained, but not in the church. A clergyman is nothing."</span>
        </p>
        <p>
          <span id="said_no_00886" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"The <em>nothing</em> of
            conversation has its gradations, I hope, as well as the <em>never</em>. A
            clergyman cannot be high in state or fashion. He must not head mobs, or set the ton in
            dress. But I cannot call that situation nothing which has the charge of all that is of
            the first importance to mankind, individually or collectively considered, temporally and
            eternally, which has the guardianship of religion and morals, and consequently of the
            manners which result from their influence. No one here can call the <em>office</em> nothing. If the man who holds it is so, it is by the neglect of his duty,
            by foregoing its just importance, and stepping out of his place to appear what he ought
            not to appear."</span>
        </p>
        <p>
          <span id="said_no_00887" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"<em>You</em> assign
            greater consequence to the clergyman than one has been used to hear given, or than I can
            quite comprehend. One does not see much of this influence and importance in society, and
            how can it be acquired where they are so seldom seen themselves? How can two sermons a
            week, even supposing them worth hearing, supposing the preacher to have the sense to
            prefer Blair's to his own, do all that you speak of? govern the conduct and fashion the
            manners of a large congregation for the rest of the week? One scarcely sees a clergyman
            out of his pulpit."</span>
        </p>
        <p>
          <span id="said_no_00888" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"<em>You</em> are speaking
            of London, <em>I</em> am speaking of the nation at large."</span>
        </p>
        <p>
          <span id="said_no_00889" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"The metropolis, I imagine, is a
            pretty fair sample of the rest."</span>
        </p>
        <p>
          <span id="said_no_00890" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Not, I should hope, of the proportion
            of virtue to vice throughout the kingdom. We do not look in great cities for our best
            morality. It is not there that respectable people of any denomination can do most good;
            and it certainly is not there that the influence of the clergy can be most felt. A fine
            preacher is followed and admired; but it is not in fine preaching only that a good
            clergyman will be useful in his parish and his neighbourhood, where the parish and
            neighbourhood are of a size capable of knowing his private character, and observing his
            general conduct, which in London can rarely be the case. The clergy are lost there in
            the crowds of their parishioners. They are known to the largest part only as preachers.
            And with regard to their influencing public manners, Miss Crawford must not
            misunderstand me, or suppose I mean to call them the arbiters of good-breeding, the
            regulators of refinement and courtesy, the masters of the ceremonies of life. The <em>manners</em> I speak of might rather be called <em>conduct</em>, perhaps, the result of good principles; the effect, in short, of those
            doctrines which it is their duty to teach and recommend; and it will, I believe, be
            everywhere found, that as the clergy are, or are not what they ought to be, so are the
            rest of the nation."</span>
        </p>
        <p>
          <span id="said_no_00891" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Certainly,"</span>
          <span id="said_no_00892" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Fanny, with gentle
            earnestness.</span>
        </p>
        <p>
          
            <span id="said_no_00893" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"There,"</span>
            <span id="said_no_00894" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">cried Miss Crawford, </span>
            <span id="said_no_00895" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"you have quite convinced Miss Price
              already."</span>
          
        </p>
        <p>
          <span id="said_no_00896" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I wish I could convince Miss Crawford
            too."</span>
        </p>
        <p>
          
            <span id="said_no_00897" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I do not think you ever
              will,"</span>
            <span id="said_no_00898" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said she, with an arch smile; </span>
            <span id="said_no_00899" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I am just as much surprised now as
              I was at first that you should intend to take orders. You really are fit for something
              better. Come, do change your mind. It is not too late. Go into the law."</span>
          
        </p>
        <p>
          <span id="said_no_00900" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Go into the law! With as much ease as I
            was told to go into this wilderness."</span>
        </p>
        <p>
          <span id="said_no_00901" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Now you are going to say something
            about law being the worst wilderness of the two, but I forestall you; remember, I have
            forestalled you."</span>
        </p>
        <p>
          <span id="said_no_00902" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"You need not hurry when the object is
            only to prevent my saying a <em>bon</em>
            <em>mot</em>, for there is not the least wit in my nature. I am a very
            matter-of-fact, plain-spoken being, and may blunder on the borders of a repartee for
            half an hour together without striking it out."</span>
        </p>
        <p>
          <span id="said_no_00903" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">A general silence succeeded. Each was
            thoughtful. Fanny made the first interruption by saying, </span>
          <span id="said_no_00904" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I wonder that I should be tired with
            only walking in this sweet wood; but the next time we come to a seat, if it is not
            disagreeable to you, I should be glad to sit down for a little while."</span>
        </p>
        <p>
          
            <span id="said_no_00905" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"My dear Fanny,"</span>
            <span id="said_no_00906" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">cried Edmund, immediately drawing
              her arm within his, </span>
            <span id="said_no_00907" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"how thoughtless I have been! I hope
              you are not very tired. Perhaps,"</span>
            <span id="said_no_00908" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> turning to Miss Crawford, </span>
            <span id="said_no_00909" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"my other companion may do me the
              honour of taking an arm."</span>
          
        </p>
        <p>
          <span id="said_no_00910" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Thank you, but I am not at all
            tired."</span>
          <span id="said_no_00911" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She took it, however, as she spoke,
            and the gratification of having her do so, of feeling such a connexion for the first
            time, made him a little forgetful of Fanny.</span>
          
            <span id="said_no_00912" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"You scarcely touch me,"</span>
            <span id="said_no_00913" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said he.</span>
            <span id="said_no_00914" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"You do not make me of any use. What a
              difference in the weight of a woman's arm from that of a man! At Oxford I have been a
              good deal used to have a man lean on me for the length of a street, and you are only a
              fly in the comparison."</span>
          
        </p>
        <p>
          <span id="said_no_00915" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I am really not tired, which I almost
            wonder at; for we must have walked at least a mile in this wood. Do not you think we
            have?"</span>
        </p>
        <p>
          <span id="said_no_00916" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Not half a mile,"</span>
          <span id="said_no_00917" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was his sturdy answer; for he was not
            yet so much in love as to measure distance, or reckon time, with feminine
            lawlessness.</span>
        </p>
        <p>
          <span id="said_no_00918" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Oh! you do not consider how much we
            have wound about. We have taken such a very serpentine course, and the wood itself must
            be half a mile long in a straight line, for we have never seen the end of it yet since
            we left the first great path."</span>
        </p>
        <p>
          <span id="said_no_00919" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"But if you remember, before we left
            that first great path, we saw directly to the end of it. We looked down the whole vista,
            and saw it closed by iron gates, and it could not have been more than a furlong in
            length."</span>
        </p>
        <p>
          <span id="said_no_00920" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Oh! I know nothing of your furlongs,
            but I am sure it is a very long wood, and that we have been winding in and out ever
            since we came into it; and therefore, when I say that we have walked a mile in it, I
            must speak within compass."</span>
        </p>
        <p>
          
            <span id="said_no_00921" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"We have been exactly a quarter of an
              hour here,"</span>
            <span id="said_no_00922" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Edmund, taking out his watch. </span>
            <span id="said_no_00923" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Do you think we are walking four
              miles an hour?"</span>
          
        </p>
        <p>
          <span id="said_no_00924" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Oh! do not attack me with your watch.
            A watch is always too fast or too slow. I cannot be dictated to by a watch."</span>
        </p>
        <p>
          <span id="said_no_00925" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">A few steps farther brought them out
            at the bottom of the very walk they had been talking of; and standing back, well shaded
            and sheltered, and looking over a ha-ha into the park, was a comfortable-sized bench, on
            which they all sat down.</span>
        </p>
        <p>
          
            <span id="said_no_00926" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I am afraid you are very tired,
              Fanny,"</span>
            <span id="said_no_00927" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Edmund, observing her;</span>
            <span id="said_no_00928" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"why would not you speak sooner? This
              will be a bad day's amusement for you if you are to be knocked up. Every sort of
              exercise fatigues her so soon, Miss Crawford, except riding."</span>
          
        </p>
        <p>
          <span id="said_no_00929" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"How abominable in you, then, to let
            me engross her horse as I did all last week! I am ashamed of you and of myself, but it
            shall never happen again."</span>
        </p>
        <p>
          <span id="said_no_00930" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"<em>Your</em>
            attentiveness and consideration makes me more sensible of my own neglect. Fanny's
            interest seems in safer hands with you than with me."</span>
        </p>
        <p>
          <span id="said_no_00931" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"That she should be tired now,
            however, gives me no surprise; for there is nothing in the course of one's duties so
            fatiguing as what we have been doing this morning: seeing a great house, dawdling from
            one room to another, straining one's eyes and one's attention, hearing what one does not
            understand, admiring what one does not care for. It is generally allowed to be the
            greatest bore in the world, and Miss Price has found it so, though she did not know
            it."</span>
        </p>
        <p>
          
            <span id="said_no_00932" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I shall soon be rested,"</span>
            <span id="said_no_00933" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Fanny; </span>
            <span id="said_no_00934" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"to sit in the shade on a fine day,
              and look upon verdure, is the most perfect refreshment."</span>
          
        </p>
        <p>
          <span id="said_no_00935" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">After sitting a little while Miss
            Crawford was up again.</span>
          
            <span id="said_no_00936" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I must move,"</span>
            <span id="said_no_00937" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said she; </span>
            <span id="said_no_00938" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"resting fatigues me. I have looked
              across the ha-ha till I am weary. I must go and look through that iron gate at the
              same view, without being able to see it so well."</span>
          
        </p>
        <p>
          <span id="said_no_00939" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund left the seat likewise. <span id="said_no_00940" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Now, Miss Crawford, if you will look up
              the walk, you will convince yourself that it cannot be half a mile long, or half half
              a mile."</span></span>
        </p>
        <p>
          
            <span id="said_no_00941" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"It is an immense distance,"</span>
            <span id="said_no_00942" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said she; </span>
            <span id="said_no_00943" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I see <em>that</em>
              with a glance."</span>
          
        </p>
        <p>
          <span id="said_no_00944" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He still reasoned with her, but in
            vain. She would not calculate, she would not compare. She would only smile and assert.
            The greatest degree of rational consistency could not have been more engaging, and they
            talked with mutual satisfaction. At last it was agreed that they should endeavour to
            determine the dimensions of the wood by walking a little more about it.</span>
          <span id="said_no_00945" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_edmary" data-placement="auto top">
            They would go to one
            end of it, in the line they were then in— for there was a straight green walk along the
            bottom by the side of the ha-ha— and perhaps turn a little way in some other direction,
            if it seemed likely to assist them, and be back in a few minutes.</span>
          <span id="said_no_00946" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny said</span>
          <span id="said_no_00947" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            she was rested,</span>
          <span id="said_no_00948" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and would have moved too, but this was
            not suffered.</span>
          <span id="said_no_00949" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund urged</span>
          <span id="said_no_00950" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            her remaining where she
            was</span>
          <span id="said_no_00951" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">with an earnestness which she could
            not resist, and she was left on the bench to think with pleasure of her cousin's care,
            but with great regret that she was not stronger. She watched them till they had turned
            the corner, and listened till all sound of them had ceased.</span>
        </p>
      
  <div class="footnotes"> </div>
