
   
  
    
        <h3>Chapter 5</h3>
        <p>
          <span id="said_no_00325" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The young people were pleased with
            each other from the first. On each side there was much to attract, and their
            acquaintance soon promised as early an intimacy as good manners would warrant. Miss
            Crawford's beauty did her no disservice with the Miss Bertrams. They were too handsome
            themselves to dislike any woman for being so too, and were almost as much charmed as
            their brothers with her lively dark eye, clear brown complexion, and general prettiness.
            Had she been tall, full formed, and fair, it might have been more of a trial: but as it
            was, there could be no comparison; and she was most allowably a sweet, pretty girl,
            while they were the finest young women in the country.</span>
        </p>
        <p>
          <span id="said_no_00326" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Speaking together Maria Bertram and Julia Bertram" data-placement="auto top">Her brother was not handsome: no, when they first saw him he
            was absolutely plain, black and plain; but still he was the gentleman, with a pleasing
            address.</span>
          <span id="said_no_00327" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The second meeting proved him not so
            very plain:</span>
          <span id="said_no_00328" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Speaking together Maria Bertram and Julia Bertram" data-placement="auto top">he was plain, to be sure, but then he had so much
            countenance, and his teeth were so good, and he was so well made, that one soon forgot
            he was plain;</span>
          <span id="said_no_00329" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and after a third interview, after
            dining in company with him at the Parsonage, he was no longer allowed to be called so by
            anybody. He was, in fact, the most agreeable young man the sisters had ever known, and
            they were equally delighted with him. Miss Bertram's engagement made him in equity the
            property of Julia, of which Julia was fully aware; and before he had been at Mansfield a
            week, she was quite ready to be fallen in love with.</span>
        </p>
        <p>
          <span id="said_no_00330" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Maria's notions on the subject were
            more confused and indistinct. She did not want to see or understand. </span>
          <span id="said_no_00331" class="said" data-toggle="tooltip" title="Maria Bertram" data-placement="auto top">"There could be no harm in her liking
            an agreeable man— everybody knew her situation —Mr. Crawford must take care of
            himself."</span>
          <span id="said_no_00332" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Crawford did not mean to be in any
            danger! the Miss Bertrams were worth pleasing, and were ready to be pleased; and he
            began with no object but of making them like him. He did not want them to die of love;
            but with sense and temper which ought to have made him judge and feel better, he allowed
            himself great latitude on such points.</span>
        </p>
        <p>
          
            <span id="said_no_00333" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I like your Miss Bertrams
              exceedingly, sister,"</span>
            <span id="said_no_00334" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said he, as he returned from
              attending them to their carriage after the said dinner visit; </span>
            <span id="said_no_00335" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"they are very elegant, agreeable
              girls."</span>
          
        </p>
        <p><span id="said_no_00336" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"So they are indeed, and I am
            delighted to hear you say it. But you like Julia best."</span></p>
        <p>
          <span id="said_no_00337" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"Oh yes! I like Julia best."</span>
        </p>
        <p><span id="said_no_00338" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"But do you really? for Miss Bertram
            is in general thought the handsomest."</span></p>
        <p>
          <span id="said_no_00339" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"So I should suppose. She has the
            advantage in every feature, and I prefer her countenance; but I like Julia best; Miss
            Bertram is certainly the handsomest, and I have found her the most agreeable, but I
            shall always like Julia best, because you order me."</span>
        </p>
        <p><span id="said_no_00340" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I shall not talk to you, Henry, but
            I know you <em>will</em> like her best at last."</span></p>
        <p>
          <span id="said_no_00341" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"Do not I tell you that I like her
            best <em>at</em>
            <em>first</em>?"</span>
        </p>
        <p><span id="said_no_00342" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"And besides, Miss Bertram is
            engaged. Remember that, my dear brother. Her choice is made."</span></p>
        <p>
          <span id="said_no_00343" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"Yes, and I like her the better for
            it. An engaged woman is always more agreeable than a disengaged. She is satisfied with
            herself. Her cares are over, and she feels that she may exert all her powers of pleasing
            without suspicion. All is safe with a lady engaged: no harm can be done."</span>
        </p>
        <p><span id="said_no_00344" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Why, as to that, Mr. Rushworth is a
            very good sort of young man, and it is a great match for her."</span></p>
        <p>
          <span id="said_no_00345" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"But Miss Bertram does not care three
            straws for him; <em>that</em> is your opinion of your intimate friend. <em>I</em> do not subscribe to it. I am sure Miss Bertram is very much
            attached to Mr. Rushworth. I could see it in her eyes, when he was mentioned. I think
            too well of Miss Bertram to suppose she would ever give her hand without her
            heart."</span>
        </p>
        <p>
          <span id="said_no_00346" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"Mary, how shall we manage
            him?"</span>
        </p>
        <p>
          <span id="said_no_00347" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"We must leave him to himself, I
            believe. Talking does no good. He will be taken in at last."</span>
        </p>
        <p>
          <span id="said_no_00348" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"But I would not have him <em>taken</em>
            <em>in</em>; I would not have him duped; I would have it all fair and
            honourable."</span>
        </p>
        <p>
          <span id="said_no_00349" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Oh dear! let him stand his chance and
            be taken in. It will do just as well. Everybody is taken in at some period or
            other."</span>
        </p>
        <p><span id="said_no_00350" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"Not always in marriage, dear
            Mary."</span></p>
        <p><span id="said_no_00351" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"In marriage especially. With all due
            respect to such of the present company as chance to be married, my dear Mrs. Grant,
            there is not one in a hundred of either sex who is not taken in when they marry. Look
            where I will, I see that it <em>is</em> so; and I feel that it <em>must</em> be so, when I consider that it is, of all transactions, the
            one in which people expect most from others, and are least honest
          themselves."</span></p>
        <p><span id="said_no_00352" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"Ah! You have been in a bad school
            for matrimony, in Hill Street."</span></p>
        <p><span id="said_no_00353" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"My poor aunt had certainly little
            cause to love the state; but, however, speaking from my own observation, it is a
            manoeuvring business. I know so many who have married in the full expectation and
            confidence of some one particular advantage in the connexion, or accomplishment, or good
            quality in the person, who have found themselves entirely deceived, and been obliged to
            put up with exactly the reverse. What is this but a take in?"</span></p>
        <p>
          <span id="said_no_00354" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"My dear child, there must be a little
            imagination here. I beg your pardon, but I cannot quite believe you. Depend upon it, you
            see but half. You see the evil, but you do not see the consolation. There will be little
            rubs and disappointments everywhere, and we are all apt to expect too much; but then, if
            one scheme of happiness fails, human nature turns to another; if the first calculation
            is wrong, we make a second better: we find comfort somewhere—and those evil-minded
            observers, dearest Mary, who make much of a little, are more taken in and deceived than
            the parties themselves."</span>
        </p>
        <p>
          <span id="said_no_00355" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Well done, sister! I honour your <em>esprit du corps</em>. When I am a wife, I mean to be just as staunch
            myself; and I wish my friends in general would be so too. It would save me many a
            heartache."</span>
        </p>
        <p>
          <span id="said_no_00356" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"You are as bad as your brother, Mary;
            but we will cure you both. Mansfield shall cure you both, and without any taking in.
            Stay with us, and we will cure you."</span>
        </p>
        <p>
          <span id="said_no_00357" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The Crawfords, without wanting to be
            cured, were very willing to stay. Mary was satisfied with the Parsonage as a present
            home, and Henry equally ready to lengthen his visit. He had come, intending to spend
            only a few days with them; but Mansfield promised well, and there was nothing to call
            him elsewhere. It delighted Mrs. Grant to keep them both with her, and Dr. Grant was
            exceedingly well contented to have it so: a talking pretty young woman like Miss
            Crawford is always pleasant society to an indolent, stay-at-home man; and Mr. Crawford's
            being his guest was an excuse for drinking claret every day.</span>
        </p>
        <p>
          <span id="said_no_00358" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The Miss Bertrams' admiration of Mr.
            Crawford was more rapturous than anything which Miss Crawford's habits made her likely
            to feel.</span>
          <span id="said_no_00359" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She acknowledged,</span>
          <span id="said_no_00360" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">however,</span>
          <span id="said_no_00361" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_00362" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            the Mr. Bertrams were
            very fine young men,</span>
          <span id="said_no_00363" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_00364" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            two such young men were
            not often seen together even in London,</span>
          <span id="said_no_00365" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and</span>
          <span id="said_no_00366" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_00367" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            their manners,
            particularly those of the eldest, were very good. <em>He</em> had been
            much in London, and had more liveliness and gallantry than Edmund, and must, therefore,
            be preferred; and, indeed, his being the eldest was another strong claim. She had felt
            an early presentiment that she <em>should</em> like the eldest best. She
            knew it was her way.</span>
        </p>
        <p>
          <span id="said_no_00368" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Tom Bertram must have been thought
            pleasant, indeed, at any rate; he was the sort of young man to be generally liked, his
            agreeableness was of the kind to be oftener found agreeable than some endowments of a
            higher stamp, for he had easy manners, excellent spirits, a large acquaintance, and a
            great deal to say; and the reversion of Mansfield Park, and a baronetcy, did no harm to
            all this.</span>
          <span id="said_no_00369" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Miss Crawford soon felt that</span>
          <span id="said_no_00370" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            he and his situation
            might do.</span>
          <span id="said_no_00371" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She looked about her with due
            consideration, and found almost everything in his favour:</span>
          <span id="said_no_00372" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            a park, a real park, five
            miles round, a spacious modern-built house, so well placed and well screened as to
            deserve to be in any collection of engravings of gentlemen's seats in the kingdom, and
            wanting only to be completely new furnished— pleasant sisters, a quiet mother, and an
            agreeable man himself— with the advantage of being tied up from much gaming at present
            by a promise to his father, and of being Sir Thomas hereafter. It might do very well;
            she believed she should accept him;</span>
          <span id="said_no_00373" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and she began accordingly to interest
            herself a little about the horse which he had to run at the B—— races.</span>
        </p>
        <p>
          <span id="said_no_00374" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">These races were to call him away not
            long after their acquaintance began; and as it appeared that the family did not, from
            his usual goings on, expect him back again for many weeks, it would bring his passion to
            an early proof. Much was said on his side to induce her to attend the races, and schemes
            were made for a large party to them, with all the eagerness of inclination, but it would
            only do to be talked of.</span>
        </p>
        <p>
          <span id="said_no_00375" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">And Fanny, what was <em>she</em> doing and thinking all this while? and what was <em>her</em>
            opinion of the newcomers? Few young ladies of eighteen could be less called on to speak
            their opinion than Fanny. In a quiet way, very little attended to, she paid her tribute
            of admiration to Miss Crawford's beauty; but as she still continued to think Mr.
            Crawford very plain, in spite of her two cousins having repeatedly proved the contrary,
            she never mentioned <em>him</em>. The notice, which she excited herself,
            was to this effect. </span>
          
            <span id="said_no_00376" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I begin now to understand you all,
              except Miss Price,"</span>
            <span id="said_no_00377" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Miss Crawford, as she was
              walking with the Mr. Bertrams. </span>
            <span id="said_no_00378" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Pray, is she out, or is she not? I
              am puzzled. She dined at the Parsonage, with the rest of you, which seemed like being
                <em>out</em>; and yet she says so little, that I can hardly suppose
              she <em>is</em>."</span>
          
        </p>
        <p>
          <span id="said_no_00379" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund, to whom this was chiefly
            addressed, replied, </span>
          <span id="said_no_00380" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I believe I know what you mean, but I
            will not undertake to answer the question. My cousin is grown up. She has the age and
            sense of a woman, but the outs and not outs are beyond me."</span>
        </p>
        <p>
          <span id="said_no_00381" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"And yet, in general, nothing can be
            more easily ascertained. The distinction is so broad. Manners as well as appearance are,
            generally speaking, so totally different. Till now, I could not have supposed it
            possible to be mistaken as to a girl's being out or not. A girl not out has always the
            same sort of dress: a close bonnet, for instance; looks very demure, and never says a
            word. You may smile, but it is so, I assure you; and except that it is sometimes carried
            a little too far, it is all very proper. Girls should be quiet and modest. The most
            objectionable part is, that the alteration of manners on being introduced into company
            is frequently too sudden. They sometimes pass in such very little time from reserve to
            quite the opposite— to confidence! <em>That</em> is the faulty part of the
            present system. One does not like to see a girl of eighteen or nineteen so immediately
            up to every thing —and perhaps when one has seen her hardly able to speak the year
            before. Mr. Bertram, I dare say <em>you</em> have sometimes met with such
            changes."</span>
        </p>
        <p>
          <span id="said_no_00382" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"I believe I have, but this is hardly
            fair; I see what you are at. You are quizzing me and Miss Anderson."</span>
        </p>
        <p>
          <span id="said_no_00383" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"No, indeed. Miss Anderson! I do not
            know who or what you mean. I am quite in the dark. But I <em>will</em>
            quiz you with a great deal of pleasure, if you will tell me what about."</span>
        </p>
        <p>
          <span id="said_no_00384" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"Ah! you carry it off very well, but I
            cannot be quite so far imposed on. You must have had Miss Anderson in your eye, in
            describing an altered young lady. You paint too accurately for mistake. It was exactly
            so. The Andersons of Baker Street. We were speaking of them the other day, you know.
            Edmund, you have heard me mention Charles Anderson. The circumstance was precisely as
            this lady has represented it. When Anderson first introduced me to his family, about two
            years ago, his sister was not <em>out</em>, and I could not get her to
            speak to me. I sat there an hour one morning waiting for Anderson, with only her and a
            little girl or two in the room, the governess being sick or run away, and the mother in
            and out every moment with letters of business, and I could hardly get a word or a look
            from the young lady —nothing like a civil answer— she screwed up her mouth, and turned
            from me with such an air! I did not see her again for a twelvemonth. She was then <em>out</em>. I met her at Mrs. Holford's, and did not recollect her. She
            came up to me, claimed me as an acquaintance, stared me out of countenance; and talked
            and laughed till I did not know which way to look. I felt that I must be the jest of the
            room at the time, and Miss Crawford, it is plain, has heard the story."</span>
        </p>
        <p><span id="said_no_00385" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"And a very pretty story it is, and
            with more truth in it, I dare say, than does credit to Miss Anderson. It is too common a
            fault. Mothers certainly have not yet got quite the right way of managing their
            daughters. I do not know where the error lies. I do not pretend to set people right, but
            I do see that they are often wrong."</span></p>
        <p>
          <span id="said_no_00386" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"Those who are showing the world
              what female manners <em>should</em> be,"</span>
            <span id="said_no_00387" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Mr. Bertram gallantly,</span>
            <span id="said_no_00388" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"are doing a great deal to set them
              right."</span>
        </p>
        <p>
          
            <span id="said_no_00389" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"The error is plain enough,"</span>
            <span id="said_no_00390" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said the less courteous Edmund; </span>
            <span id="said_no_00391" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"such girls are ill brought up. They
              are given wrong notions from the beginning. They are always acting upon motives of
              vanity, and there is no more real modesty in their behaviour <em>before</em> they appear in public than afterwards."</span>
          
        </p>
        <p>
          
            <span id="said_no_00392" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I do not know,"</span>
            <span id="said_no_00393" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">replied Miss Crawford hesitatingly. </span>
            <span id="said_no_00394" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Yes, I cannot agree with you there.
              It is certainly the modestest part of the business. It is much worse to have girls not
              out give themselves the same airs and take the same liberties as if they were, which I
              have seen done. That is worse than anything—quite disgusting!"</span>
          
        </p>
        <p>
          
            <span id="said_no_00395" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"Yes, <em>that</em> is
              very inconvenient indeed,"</span>
            <span id="said_no_00396" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Mr. Bertram.</span>
            <span id="said_no_00397" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"It leads one astray; one does not
              know what to do. The close bonnet and demure air you describe so well (and nothing was
              ever juster), tell one what is expected; but I got into a dreadful scrape last year
              from the want of them. I went down to Ramsgate for a week with a friend last
              September, just after my return from the West Indies. My friend Sneyd —you have heard
              me speak of Sneyd, Edmund —his father, and mother, and sisters, were there, all new to
              me. When we reached Albion Place they were out; we went after them, and found them on
              the pier: Mrs. and the two Miss Sneyds, with others of their acquaintance. I made my
              bow in form; and as Mrs. Sneyd was surrounded by men, attached myself to one of her
              daughters, walked by her side all the way home, and made myself as agreeable as I
              could; the young lady perfectly easy in her manners, and as ready to talk as to
              listen. I had not a suspicion that I could be doing anything wrong. They looked just
              the same: both well-dressed, with veils and parasols like other girls; but I
              afterwards found that I had been giving all my attention to the youngest, who was not
                <em>out</em>, and had most excessively offended the eldest. Miss
              Augusta ought not to have been noticed for the next six months; and Miss Sneyd, I
              believe, has never forgiven me."</span>
          
        </p>
        <p>
          <span id="said_no_00398" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"That was bad indeed. Poor Miss Sneyd.
            Though I have no younger sister, I feel for her. To be neglected before one's time must
            be very vexatious; but it was entirely the mother's fault. Miss Augusta should have been
            with her governess. Such half-and-half doings never prosper. But now I must be satisfied
            about Miss Price. Does she go to balls? Does she dine out every where, as well as at my
            sister's?"</span>
        </p>
        <p>
          
            <span id="said_no_00399" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"No,"</span>
            <span id="said_no_00400" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">replied Edmund;</span>
            <span id="said_no_00401" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I do not think she has ever been to a
              ball. My mother seldom goes into company herself, and dines nowhere but with Mrs.
              Grant, and Fanny stays at home with <em>her</em>."</span>
          
        </p>
        <p>
          <span id="said_no_00402" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Oh! then the point is clear. Miss
            Price is not out."</span>
        </p>
      
  <div class="footnotes"> </div>
