
   
  
    
        <h3>Chapter 17</h3>
        <p>
          <span id="said_no_01604" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">It was, indeed, a triumphant day to
            Mr. Bertram and Maria. Such a victory over Edmund's discretion had been beyond their
            hopes, and was most delightful.</span>
          <span id="said_no_01605" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_tommaria" data-placement="auto top">
            There was no longer
            anything to disturb them in their darling project,</span>
          <span id="said_no_01606" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and</span>
          <span id="said_no_01607" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">they congratulated each other in
            private on the</span>
          <span id="said_no_01608" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_tommaria" data-placement="auto top">
            jealous weakness to
            which they attributed the change,</span>
          <span id="said_no_01609" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">with all the glee of feelings
            gratified in every way.</span>
          <span id="said_no_01610" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_tommaria" data-placement="auto top">
             Edmund might still
            look grave, and say he did not like the scheme in general, and must disapprove the play
            in particular; their point was gained: he was to act, and he was driven to it by the
            force of selfish inclinations only. Edmund had descended from that moral elevation which
            he had maintained before,</span>
          <span id="said_no_01611" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and they were both as much the better
            as the happier for the descent.</span>
        </p>
        <p>
          <span id="said_no_01612" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">They behaved very well, however, to
              <em>him</em> on the occasion, betraying no exultation beyond the lines
            about the corners of the mouth, and seemed to think it as great an escape to be quit of
            the intrusion of Charles Maddox, as if they had been forced into admitting him against
            their inclination.</span>
          <span id="said_no_01613" class="said" data-toggle="tooltip" title="Speaking together Maria Bertram and Tom Bertram" data-placement="auto top">"To have it quite in their own
            family circle was what they had particularly wished. A stranger among them would have
            been the destruction of all their comfort";</span>
          <span id="said_no_01614" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and when Edmund, pursuing that idea,
            gave a hint of his hope as to the limitation of the audience, they were ready, in the
            complaisance of the moment, to promise anything. It was all good-humour and
            encouragement. Mrs. Norris offered to contrive his dress,</span>
          <span id="said_no_01615" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Yates assured him that</span>
          <span id="said_no_01616" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_yates" data-placement="auto top">
             Anhalt's last scene
            with the Baron admitted a good deal of action and emphasis,</span>
          <span id="said_no_01617" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and Mr. Rushworth undertook to count
            his speeches.</span>
        </p>
        <p>
          
            <span id="said_no_01618" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"Perhaps,"</span>
            <span id="said_no_01619" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Tom, </span>
            <span id="said_no_01620" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"Fanny may be more disposed to oblige
              us now. Perhaps you may persuade <em>her</em>."</span>
          
        </p>
        <p><span id="said_no_01621" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"No, she is quite determined. She
            certainly will not act."</span></p>
        <p><span id="said_no_01622" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"Oh! very well."</span>
          <span id="said_no_01623" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">And not another word was said; but
            Fanny felt herself again in danger, and her indifference to the danger was beginning to
            fail her already.</span>
        </p>
        <p>
          <span id="said_no_01624" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">There were not fewer smiles at the
            Parsonage than at the Park on this change in Edmund; Miss Crawford looked very lovely in
            hers, and entered with such an instantaneous renewal of cheerfulness into the whole
            affair as could have but one effect on him.</span>
          <span id="said_no_01625" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"He was certainly right in respecting
            such feelings; he was glad he had determined on it."</span>
          <span id="said_no_01626" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">And the morning wore away in
            satisfactions very sweet, if not very sound. One advantage resulted from it to Fanny: at
            the earnest request of Miss Crawford, Mrs. Grant had, with her usual good-humour, agreed
            to undertake the part for which Fanny had been wanted; and this was all that occurred to
            gladden <em>her</em> heart during the day; and even this, when imparted by
            Edmund,</span>
          <span id="said_no_01627" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">brought a pang with it,</span>
          <span id="said_no_01628" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            for it was Miss Crawford
            to whom she was obliged— it was Miss Crawford whose kind exertions were to excite her
            gratitude, and whose merit in making them was spoken of with a glow of admiration. She
            was safe; but peace and safety were unconnected here.</span>
          <span id="said_no_01629" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Her mind had been never farther from
            peace. She could not feel that she had done wrong herself, but she was disquieted in
            every other way. Her heart and her judgment were equally against Edmund's decision: she
            could not acquit his unsteadiness, and his happiness under it made her wretched. She was
            full of jealousy and agitation. Miss Crawford came with looks of gaiety which seemed an
            insult, with friendly expressions towards herself which she could hardly answer calmly.
            Everybody around her was gay and busy, prosperous and important; each had their object
            of interest, their part, their dress, their favourite scene, their friends and
            confederates: all were finding employment in consultations and comparisons, or diversion
            in the playful conceits they suggested. She alone was sad and insignificant: she had no
            share in anything; she might go or stay; she might be in the midst of their noise, or
            retreat from it to the solitude of the East room, without being seen or missed.</span>
          <span id="said_no_01630" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She could almost think</span>
          <span id="said_no_01631" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            anything would have been
            preferable to this. Mrs. Grant was of consequence: <em>her</em>
            good-nature had honourable mention; her taste and her time were considered; her presence
            was wanted; she was sought for, and attended, and praised;</span>
          <span id="said_no_01632" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and Fanny was at first in some danger
            of envying her the character she had accepted. But reflection brought better
            feelings,</span>
          <span id="said_no_01633" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and shewed her that</span>
          <span id="said_no_01634" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Grant was entitled to respect,
            which could never have belonged to <em>her</em>; and that, had</span>
          <span id="said_no_01635" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
             she received even the
            greatest,</span>
          <span id="said_no_01636" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            she could never have
            been easy in joining a scheme which, considering only her uncle, she must condemn
            altogether.</span>
        </p>
        <p>
          <span id="said_no_01637" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny's heart was not absolutely the
            only saddened one amongst them, as she soon began to acknowledge to herself. Julia was a
            sufferer too, though not quite so blamelessly.</span>
        </p>
        <p>
          <span id="said_no_01638" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Henry Crawford had trifled with her
            feelings; but she had very long allowed and even sought his attentions, with a jealousy
            of her sister so reasonable as ought to have been their cure; and now that the
            conviction of his preference for Maria had been forced on her, she submitted to it
            without any alarm for Maria's situation, or any endeavour at rational tranquillity for
            herself. She either sat in gloomy silence, wrapt in such gravity as nothing could
            subdue, no curiosity touch, no wit amuse; or allowing the attentions of Mr. Yates, was
            talking with forced gaiety to him alone, and ridiculing the acting of the others.</span>
        </p>
        <p>
          <span id="said_no_01639" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">For a day or two after the affront was
            given, Henry Crawford had endeavoured to do it away by the usual attack of gallantry and
            compliment, but he had not cared enough about it to persevere against a few repulses;
            and becoming soon too busy with his play to have time for more than one flirtation, he
            grew indifferent to the quarrel, or rather thought it a lucky occurrence, as quietly
            putting an end to what might ere long have raised expectations in more than Mrs. Grant.
            She was not pleased to see Julia excluded from the play, and sitting by disregarded; but
            as it was not a matter which really involved her happiness, as Henry must be the best
            judge of his own, and as</span>
          <span id="said_no_01640" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he did assure her,</span>
          <span id="said_no_01641" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">with a most persuasive smile,</span>
          <span id="said_no_01642" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_01643" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            neither he nor Julia had
            ever had a serious thought of each other,</span>
          <span id="said_no_01644" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she could only</span>
          <span id="said_no_01645" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">renew her former caution as to the
            elder sister,</span>
          <span id="said_no_01646" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_mrsg" data-placement="auto top">
            entreat him not to risk
            his tranquillity by too much admiration there,</span>
          <span id="said_no_01647" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and then gladly take her share in
            anything that brought cheerfulness to the young people in general, and that did so
            particularly promote the pleasure of the two so dear to her.</span>
        </p>
        <p>
          <span id="said_no_01648" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"I rather wonder Julia is not in love
            with Henry,"</span>
          <span id="said_no_01649" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> was her observation to Mary.</span>
        </p>
        <p>
          
            <span id="said_no_01650" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I dare say she is,"</span>
            <span id="said_no_01651" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">replied Mary coldly.</span>
            <span id="said_no_01652" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I imagine both sisters are."</span>
          
        </p>
        <p>
          <span id="said_no_01653" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"Both! no, no, that must not be. Do
            not give him a hint of it. Think of Mr. Rushworth!"</span>
        </p>
        <p>
          <span id="said_no_01654" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"You had better tell Miss Bertram to
            think of Mr. Rushworth. It may do <em>her</em> some good. I often think of
            Mr. Rushworth's property and independence, and wish them in other hands; but I never
            think of him. A man might represent the county with such an estate; a man might escape a
            profession and represent the county."</span>
        </p>
        <p>
          <span id="said_no_01655" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"I dare say he <em>will</em> be in parliament soon. When Sir Thomas comes, I dare say he will be in for
            some borough, but there has been nobody to put him in the way of doing anything
            yet."</span>
        </p>
        <p>
          
            <span id="said_no_01656" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Sir Thomas is to achieve many
              mighty things when he comes home,"</span>
            <span id="said_no_01657" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Mary, after a pause. </span>
            <span id="said_no_01658" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Do you remember Hawkins Browne's
              'Address to Tobacco,' in imitation of Pope?—</span>
          
        </p>
        <span id="said_no_01659" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">
          <div class="lg">
            <div class="l">Blest leaf! whose aromatic gales dispense </div>
            <div class="l">To Templars modesty, to Parsons sense. </div>
           </div>
          <p>I will parody them— </p>
          <div class="lg">
            <div class="l">Blest Knight! whose dictatorial looks dispense </div>
            <div class="l">To Children affluence, to Rushworth sense. </div>
           </div></span>
        <p><span id="said_no_01660" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">Will not that do, Mrs. Grant?
            Everything seems to depend upon Sir Thomas's return."</span></p>
        <p><span id="said_no_01661" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"You will find his consequence very
            just and reasonable when you see him in his family, I assure you. I do not think we do
            so well without him. He has a fine dignified manner, which suits the head of such a
            house, and keeps everybody in their place. Lady Bertram seems more of a cipher now than
            when he is at home; and nobody else can keep Mrs. Norris in order. But, Mary, do not
            fancy that Maria Bertram cares for Henry. I am sure <em>Julia</em> does
            not, or she would not have flirted as she did last night with Mr. Yates; and though he
            and Maria are very good friends, I think she likes Sotherton too well to be
            inconstant."</span></p>
        <p><span id="said_no_01662" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I would not give much for Mr.
            Rushworth's chance if Henry stept in before the articles were signed."</span></p>
        <p><span id="said_no_01663" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"If you have such a suspicion,
            something must be done; and as soon as the play is all over, we will talk to him
            seriously and make him know his own mind; and if he means nothing, we will send him off,
            though he is Henry, for a time."</span></p>
        <p>
          <span id="said_no_01664" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Julia <em>did</em>
            suffer, however, though Mrs. Grant discerned it not, and though it escaped the notice of
            many of her own family likewise. She had loved, she did love still, and she had all the
            suffering which a warm temper and a high spirit were likely to endure under the
            disappointment of a dear, though irrational hope, with a strong sense of ill-usage. Her
            heart was sore and angry, and she was capable only of angry consolations. The sister
            with whom she was used to be on easy terms was now become her greatest enemy: they were
            alienated from each other; and Julia was not superior to the hope of some distressing
            end to the attentions which were still carrying on there, some punishment to Maria for
            conduct so shameful towards herself as well as towards Mr. Rushworth. With no material
            fault of temper, or difference of opinion, to prevent their being very good friends
            while their interests were the same, the sisters, under such a trial as this, had not
            affection or principle enough to make them merciful or just, to give them honour or
            compassion. Maria felt her triumph, and pursued her purpose, careless of Julia; and
            Julia could never see Maria distinguished by Henry Crawford without trusting that it
            would create jealousy, and bring a public disturbance at last.</span>
        </p>
        <p>
          <span id="said_no_01665" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny saw and pitied much of this in
            Julia; but there was no outward fellowship between them. Julia made no communication,
            and Fanny took no liberties. They were two solitary sufferers, or connected only by
            Fanny's consciousness.</span>
        </p>
        <p>
          <span id="said_no_01666" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The inattention of the two brothers
            and the aunt to Julia's discomposure, and their blindness to its true cause, must be
            imputed to the fullness of their own minds. They were totally preoccupied. Tom was
            engrossed by the concerns of his theatre, and saw nothing that did not immediately
            relate to it. Edmund, between his theatrical and his real part, between Miss Crawford's
            claims and his own conduct, between love and consistency, was equally unobservant; and
            Mrs. Norris was too busy in contriving and directing the general little matters of the
            company, superintending their various dresses with economical expedient, for which
            nobody thanked her, and saving, with delighted integrity, half a crown here and there to
            the absent Sir Thomas, to have leisure for watching the behaviour, or guarding the
            happiness of his daughters.</span>
        </p>
      
  <div class="footnotes"> </div>
