
   
  
    
        <h3>Chapter 12</h3>
        <p>
          <span id="said_no_01154" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas was to return in November,
            and his eldest son had duties to call him earlier home. The approach of September
            brought tidings of Mr. Bertram, first in a letter to the gamekeeper and then in a letter
            to Edmund; and by the end of August he arrived himself, to be gay, agreeable, and
            gallant again as occasion served, or Miss Crawford demanded; to tell of races and
            Weymouth, and parties and friends, to which she might have listened six weeks before
            with some interest, and altogether to give her the fullest conviction, by the power of
            actual comparison, of her preferring his younger brother.</span>
        </p>
        <p>
          <span id="said_no_01155" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">It was very vexatious, and she was
            heartily sorry for it; but so it was; and so far from now meaning to marry the elder,
            she did not even want to attract him beyond what the simplest claims of conscious beauty
            required:</span>
          <span id="said_no_01156" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            his lengthened absence
            from Mansfield, without anything but pleasure in view, and his own will to consult, made
            it perfectly clear that he did not care about her; and his indifference was so much more
            than equalled by her own,</span>
          <span id="said_no_01157" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            that were he now to step
            forth the owner of Mansfield Park, the Sir Thomas complete, which he was to be in time,
            she did not believe she could accept him.</span>
        </p>
        <p>
          <span id="said_no_01158" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The season and duties which brought
            Mr. Bertram back to Mansfield took Mr. Crawford into Norfolk. Everingham could not do
            without him in the beginning of September. He went for a fortnight— a fortnight of such
            dullness to the Miss Bertrams as ought to have put them both on their guard, and made
            even Julia admit, in her jealousy of her sister, the absolute necessity of distrusting
            his attentions, and wishing him not to return; and a fortnight of sufficient leisure, in
            the intervals of shooting and sleeping, to have convinced the gentleman that he ought to
            keep longer away, had he been more in the habit of examining his own motives, and of
            reflecting to what the indulgence of his idle vanity was tending; but, thoughtless and
            selfish from prosperity and bad example, he would not look beyond the present moment.
            The sisters, handsome, clever, and encouraging, were an amusement to his sated mind; and
            finding nothing in Norfolk to equal the social pleasures of Mansfield, he gladly
            returned to it at the time appointed, and was welcomed thither quite as gladly by those
            whom he came to trifle with further.</span>
        </p>
        <p>
          <span id="said_no_01159" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Maria, with only Mr. Rushworth to
            attend to her, and doomed to the repeated details of his day's sport, good or bad, his
            boast of his dogs, his jealousy of his neighbours, his doubts of their qualifications,
            and his zeal after poachers, subjects which will not find their way to female feelings
            without some talent on one side or some attachment on the other, had missed Mr. Crawford
            grievously; and Julia, unengaged and unemployed, felt all the right of missing him much
            more. Each sister believed herself the favourite. Julia might be justified in so doing
            by the hints of Mrs. Grant, inclined to credit what she wished, and Maria by the hints
            of Mr. Crawford himself. Everything returned into the same channel as before his
            absence; his manners being to each so animated and agreeable as to lose no ground with
            either, and just stopping short of the consistence, the steadiness, the solicitude, and
            the warmth which might excite general notice.</span>
        </p>
        <p>
          <span id="said_no_01160" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny was the only one of the party
            who found anything to dislike; but since the day at Sotherton, she could never see Mr.
            Crawford with either sister without observation, and seldom without wonder or censure;
            and had her confidence in her own judgment been equal to her exercise of it in every
            other respect, had she been sure that she was seeing clearly, and judging candidly, she
            would probably have made some important communications to her usual confidant. As it
            was, however, she only hazarded a hint, and the hint was lost. </span>
          
            <span id="said_no_01161" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I am rather surprised,"</span>
            <span id="said_no_01162" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_01163" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"that Mr. Crawford should come back
              again so soon, after being here so long before, full seven weeks; for I had understood
              he was so very fond of change and moving about, that I thought something would
              certainly occur, when he was once gone, to take him elsewhere. He is used to much
              gayer places than Mansfield."</span>
          
        </p>
        <p>
          
            <span id="said_no_01164" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"It is to his credit,"</span>
            <span id="said_no_01165" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was Edmund's answer; </span>
            <span id="said_no_01166" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"and I dare say it gives his sister
              pleasure. She does not like his unsettled habits."</span>
          
        </p>
        <p>
          <span id="said_no_01167" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"What a favourite he is with my
            cousins!"</span>
        </p>
        <p>
          <span id="said_no_01168" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes, his manners to women are such as
            must please. Mrs. Grant, I believe, suspects him of a preference for Julia; I have never
            seen much symptom of it, but I wish it may be so. He has no faults but what a serious
            attachment would remove."</span>
        </p>
        <p>
          
            <span id="said_no_01169" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"If Miss Bertram were not
              engaged,"</span>
            <span id="said_no_01170" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Fanny cautiously,</span>
            <span id="said_no_01171" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I could sometimes almost think
              that he admired her more than Julia."</span>
          
        </p>
        <p>
          <span id="said_no_01172" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Which is, perhaps, more in favour of
            his liking Julia best, than you, Fanny, may be aware; for I believe it often happens
            that a man, before he has quite made up his own mind, will distinguish the sister or
            intimate friend of the woman he is really thinking of more than the woman herself.
            Crawford has too much sense to stay here if he found himself in any danger from Maria;
            and I am not at all afraid for her, after such a proof as she has given that her
            feelings are not strong."</span>
        </p>
        <p>
          <span id="said_no_01173" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny supposed</span>
          <span id="said_no_01174" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            she must have been
            mistaken,</span>
          <span id="said_no_01175" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and</span>
          <span id="said_no_01176" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">meant to</span>
          <span id="said_no_01177" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            think differently in
            future;</span>
          <span id="said_no_01178" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">but with all that submission to Edmund
            could do, and all the help of the coinciding looks and hints which she occasionally
            noticed in some of the others, and which seemed to say that Julia was Mr. Crawford's
            choice, she knew not always what to think. She was privy, one evening, to the hopes of
            her aunt Norris on the subject, as well as to her feelings, and the feelings of Mrs.
            Rushworth, on a point of some similarity, and could not help wondering as she listened;
            and</span>
          <span id="said_no_01179" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">glad</span>
          <span id="said_no_01180" class="said fid said_tooltip certainty_2" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            would she have been not
            to be obliged to listen,</span>
          <span id="said_no_01181" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">for it was while all the other young
            people were dancing, and</span>
          <span id="said_no_01182" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she sitting,</span>
          <span id="said_no_01183" class="said fid said_tooltip certainty_2" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            most unwillingly,</span>
          <span id="said_no_01184" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">among the chaperons at the fire,
            longing for the re-entrance of her elder cousin, on whom all her own hopes of a partner
            then depended. It was Fanny's first ball, though without the preparation or splendour of
            many a young lady's first ball, being the thought only of the afternoon, built on the
            late acquisition of a violin player in the servants' hall, and the possibility of
            raising five couple with the help of Mrs. Grant and a new intimate friend of Mr.
            Bertram's just arrived on a visit. It had, however, been a very happy one to Fanny
            through four dances, and she was quite grieved to be losing even a quarter of an hour.
            While waiting and wishing, looking now at the dancers and now at the door, this dialogue
            between the two above-mentioned ladies was forced on her—</span>
        </p>
        <p>
          
            <span id="said_no_01185" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"I think, ma'am,"</span>
            <span id="said_no_01186" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Mrs. Norris, her eyes directed
              towards Mr. Rushworth and Maria, who were partners for the second time, </span>
            <span id="said_no_01187" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"we shall see some happy faces again
              now."</span>
          
        </p>
        <p>
          
            <span id="said_no_01188" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"Yes, ma'am, indeed,"</span>
            <span id="said_no_01189" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">replied the other, with a stately
              simper,</span>
            <span id="said_no_01190" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"there will be some satisfaction in
              looking on <em>now</em>, and I think it was rather a pity they should
              have been obliged to part. Young folks in their situation should be excused complying
              with the common forms. I wonder my son did not propose it."</span>
          
        </p>
        <p>
          <span id="said_no_01191" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"I dare say he did, ma'am. Mr.
            Rushworth is never remiss. But dear Maria has such a strict sense of propriety, so much
            of that true delicacy which one seldom meets with nowadays, Mrs. Rushworth— that wish of
            avoiding particularity! Dear ma'am, only look at her face at this moment; how different
            from what it was the two last dances!"</span>
        </p>
        <p>
          <span id="said_no_01192" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Miss Bertram did indeed look happy,
            her eyes were sparkling with pleasure, and she was speaking with great animation, for
            Julia and her partner, Mr. Crawford, were close to her; they were all in a cluster
            together. How she had looked before, Fanny could not recollect, for she had been dancing
            with Edmund herself, and had not thought about her.</span>
        </p>
        <p>
          <span id="said_no_01193" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Norris continued, </span>
          <span id="said_no_01194" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"It is quite delightful, ma'am, to see
            young people so properly happy, so well suited, and so much the thing! I cannot but
            think of dear Sir Thomas's delight. And what do you say, ma'am, to the chance of another
            match? Mr. Rushworth has set a good example, and such things are very catching."</span>
        </p>
        <p>
          <span id="said_no_01195" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Rushworth, who saw nothing but
            her son, was quite at a loss.</span>
        </p>
        <p>
          <span id="said_no_01196" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"The couple above, ma'am. Do you see
            no symptoms there?"</span>
        </p>
        <p>
          <span id="said_no_01197" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"Oh dear! Miss Julia and Mr. Crawford.
            Yes, indeed, a very pretty match. What is his property?"</span>
        </p>
        <p>
          <span id="said_no_01198" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"Four thousand a year."</span>
        </p>
        <p>
          <span id="said_no_01199" class="said" data-toggle="tooltip" title="Mrs. Rushworth" data-placement="auto top">"Very well. Those who have not more
            must be satisfied with what they have. Four thousand a year is a pretty estate, and he
            seems a very genteel, steady young man, so I hope Miss Julia will be very happy."</span>
        </p>
        <p>
          <span id="said_no_01200" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"It is not a settled thing, ma'am,
            yet. We only speak of it among friends. But I have very little doubt it <em>will</em> be. He is growing extremely particular in his
            attentions."</span>
        </p>
        <p>
          <span id="said_no_01201" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny could listen no farther.
            Listening and wondering were all suspended for a time, for Mr. Bertram was in the room
            again; and though feeling it would be a great honour to be asked by him, she thought it
            must happen. He came towards their little circle; but instead of asking her to dance,
            drew a chair near her, and gave her an account of the present state of a sick horse, and
            the opinion of the groom, from whom he had just parted. Fanny found that it was not to
            be, and in the modesty of her nature immediately felt that she had been unreasonable in
            expecting it. When he had told of his horse, he took a newspaper from the table, and
            looking over it, said in a languid way, </span>
          
            <span id="said_no_01202" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"If you want to dance, Fanny, I will
              stand up with you."</span>
            <span id="said_no_01203" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">With more than equal civility the
              offer was declined;</span>
            <span id="said_no_01204" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
              she did not wish to
              dance. </span>
            <span id="said_no_01205" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"I am glad of it,"</span>
            <span id="said_no_01206" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said he, in a much brisker tone, and
              throwing down the newspaper again,</span>
            <span id="said_no_01207" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"for I am tired to death. I only
              wonder how the good people can keep it up so long. They had need be <em>all</em> in love, to find any amusement in such folly; and so they are, I fancy. If
              you look at them you may see they are so many couple of lovers— all but Yates and Mrs.
              Grant —and, between ourselves, she, poor woman, must want a lover as much as any one
              of them. A desperate dull life hers must be with the doctor,"</span>
            <span id="said_no_01208" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">making a sly face as he spoke
              towards the chair of the latter, who proving, however, to be close at his elbow, made
              so instantaneous a change of expression and subject necessary, as Fanny, in spite of
              everything, could hardly help laughing at. </span>
            <span id="said_no_01209" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"A strange business this in America,
              Dr. Grant! What is your opinion? I always come to you to know what I am to think of
              public matters."</span>
          
        </p>
        <p>
          
            <span id="said_no_01210" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"My dear Tom,"</span>
            <span id="said_no_01211" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">cried his aunt soon afterwards, </span>
            <span id="said_no_01212" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"as you are not dancing, I dare say
              you will have no objection to join us in a rubber; shall you?"</span>
            <span id="said_no_01213" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Then leaving her seat, and coming to
              him to enforce the proposal, added in a whisper, </span>
            <span id="said_no_01214" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"We want to make a table for Mrs.
              Rushworth, you know. Your mother is quite anxious about it, but cannot very well spare
              time to sit down herself, because of her fringe. Now, you and I and Dr. Grant will
              just do; and though <em>we</em> play but half-crowns, you know, you may
              bet half-guineas with <em>him</em>."</span>
          
        </p>
        <p>
          
            <span id="said_no_01215" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"I should be most happy,"</span>
            <span id="said_no_01216" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">replied he aloud, and jumping up
              with alacrity, </span>
            <span id="said_no_01217" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"it would give me the greatest
              pleasure; but that I am this moment going to dance."</span>
            <span id="said_no_01218" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Come, Fanny, taking her hand, </span>
            <span id="said_no_01219" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"do not be dawdling any longer, or
              the dance will be over."</span>
          
        </p>
        <p>
          <span id="said_no_01220" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny was led off very willingly,
            though it was impossible for her to feel much gratitude towards her cousin, or
            distinguish, as he certainly did, between the selfishness of another person and his
            own.</span>
        </p>
        <p>
          
            <span id="said_no_01221" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"A pretty modest request upon my
              word,"</span>
            <span id="said_no_01222" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he indignantly exclaimed as they
              walked away. </span>
            <span id="said_no_01223" class="said" data-toggle="tooltip" title="Tom Bertram" data-placement="auto top">"To want to nail me to a card-table
              for the next two hours with herself and Dr. Grant, who are always quarrelling, and
              that poking old woman, who knows no more of whist than of algebra. I wish my good aunt
              would be a little less busy! And to ask me in such a way too! without ceremony, before
              them all, so as to leave me no possibility of refusing. <em>That</em> is
              what I dislike most particularly. It raises my spleen more than anything, to have the
              pretence of being asked, of being given a choice, and at the same time addressed in
              such a way as to oblige one to do the very thing, whatever it be! If I had not luckily
              thought of standing up with you I could not have got out of it. It is a great deal too
              bad. But when my aunt has got a fancy in her head, nothing can stop her."</span>
          
        </p>
      
  <div class="footnotes"> </div>
