
   
  
    
        <h3>Chapter 25</h3>
        <p>
          <span id="said_no_02362" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The intercourse of the two families
            was at this period more nearly restored to what it had been in the autumn, than any
            member of the old intimacy had thought ever likely to be again. The return of Henry
            Crawford, and the arrival of William Price, had much to do with it, but much was still
            owing to Sir Thomas's more than toleration of the neighbourly attempts at the Parsonage.
            His mind, now disengaged from the cares which had pressed on him at first, was at
            leisure to find the Grants and their young inmates really worth visiting; and though
            infinitely above scheming or contriving for any the most advantageous matrimonial
            establishment that could be among the apparent possibilities of any one most dear to
            him, and disdaining even as a littleness the being quick-sighted on such points,</span>
          <span id="said_no_02363" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he could not avoid perceiving,</span>
          <span id="said_no_02364" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">in a grand and careless way,</span>
          <span id="said_no_02365" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_02366" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            Mr. Crawford was somewhat
            distinguishing his niece—</span>
          <span id="said_no_02367" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">nor perhaps refrain (though
            unconsciously) from giving a more willing assent to invitations on that account.</span>
        </p>
        <p>
          <span id="said_no_02368" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">His readiness, however, in agreeing to
            dine at the Parsonage, when the general invitation was at last hazarded, after many
            debates and many doubts as to whether it were worth while, "because Sir Thomas seemed so
            ill inclined, and Lady Bertram was so indolent!" proceeded from good-breeding and
            goodwill alone, and had nothing to do with Mr. Crawford, but as being one in an
            agreeable group: for it was in the course of that very visit that</span>
          <span id="said_no_02369" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he first began to think that</span>
          <span id="said_no_02370" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            any one in the habit of
            such idle observations <em>would</em>
            <em>have</em>
            <em>thought</em> that Mr. Crawford was the admirer of Fanny Price.</span>
        </p>
        <p>
          <span id="said_no_02371" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The meeting was generally felt to be a
            pleasant one, being composed in a good proportion of those who would talk and those who
            would listen; and the dinner itself was elegant and plentiful, according to the usual
            style of the Grants, and too much according to the usual habits of all to raise any
            emotion except in</span>
          <span id="said_no_02372" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Norris,</span>
          <span id="said_no_02373" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">who could never behold either the wide
            table or the number of dishes on it with patience, and who did always contrive to
            experience some evil from the passing of the servants behind her chair, and</span>
          <span id="said_no_02374" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">to bring away some fresh conviction
            of</span>
          <span id="said_no_02375" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_mrsn" data-placement="auto top">
            its being impossible
            among so many dishes but that some must be cold.</span>
        </p>
        <p>
          <span id="said_no_02376" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">In the evening</span>
          <span id="said_no_02377" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">it was found,</span>
          <span id="said_no_02378" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">according to the predetermination of
            Mrs. Grant and her sister,</span>
          <span id="said_no_02379" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_02380" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_mrgmary" data-placement="auto top">
            after making up the
            whist-table there would remain sufficient for a round game,</span>
          <span id="said_no_02381" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and everybody being as perfectly
            complying and without a choice as on such occasions they always are, speculation was
            decided on almost as soon as whist; and Lady Bertram soon found herself in the critical
            situation of being applied to for her own choice between the games, and being required
            either to draw a card for whist or not. She hesitated. Luckily Sir Thomas was at
            hand.</span>
        </p>
        <p>
          <span id="said_no_02382" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"What shall I do, Sir Thomas? Whist
            and speculation; which will amuse me most?"</span>
        </p>
        <p>
          <span id="said_no_02383" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas,</span>
          <span id="said_no_02384" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">after a moment's thought,</span>
          <span id="said_no_02385" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">recommended</span>
          <span id="said_no_02386" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            speculation.</span>
          <span id="said_no_02387" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> He was a whist player himself, and
            perhaps might feel that it would not much amuse him to have her for a partner.</span>
        </p>
        <p>
          
            <span id="said_no_02388" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"Very well,"</span>
            <span id="said_no_02389" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was her ladyship's contented answer; </span>
            <span id="said_no_02390" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"then speculation, if you please,
              Mrs. Grant. I know nothing about it, but Fanny must teach me."</span>
          
        </p>
        <p>
          <span id="said_no_02391" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Here</span>
          <span id="said_no_02392" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny interposed,</span>
          <span id="said_no_02393" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">however, with anxious protestations of
            her own equal ignorance;</span>
          <span id="said_no_02394" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            she had never played the
            game nor seen it played in her life;</span>
          <span id="said_no_02395" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and Lady Bertram felt a moment's
            indecision again; but upon</span>
          <span id="said_no_02396" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> everybody's assuring her that</span>
          <span id="said_no_02397" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_everybody" data-placement="auto top">
            nothing could be so
            easy,</span>
          <span id="said_no_02398" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">that</span>
          <span id="said_no_02399" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_everybody" data-placement="auto top">
            it was the easiest game
            on the cards,</span>
          <span id="said_no_02400" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and</span>
          <span id="said_no_02401" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Henry Crawford's</span>
          <span id="said_no_02402" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">stepping forward with a</span>
          <span id="said_no_02403" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">most earnest request</span>
          <span id="said_no_02404" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            to be allowed to sit
            between her ladyship and Miss Price, and teach them both,</span>
          <span id="said_no_02405" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">it was so settled; and Sir Thomas,
            Mrs. Norris, and Dr. and Mrs. Grant being seated at the table of prime intellectual
            state and dignity, the remaining six, under Miss Crawford's direction, were arranged
            round the other. It was a fine arrangement for Henry Crawford, who was close to Fanny,
            and with his hands full of business, having two persons' cards to manage as well as his
            own; for though it was impossible for Fanny not to feel herself mistress of the rules of
            the game in three minutes, he had yet to inspirit her play, sharpen her avarice, and
            harden her heart, which, especially in any competition with William, was a work of some
            difficulty; and as for Lady Bertram, he must continue in charge of all her fame and
            fortune through the whole evening; and if quick enough to keep her from looking at her
            cards when the deal began, must direct her in whatever was to be done with them to the
            end of it.</span>
        </p>
        <p>
          <span id="said_no_02406" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He was in high spirits, doing
            everything with happy ease, and preeminent in all the lively turns, quick resources, and
            playful impudence that could do honour to the game; and the round table was altogether a
            very comfortable contrast to the steady sobriety and orderly silence of the
            other.</span>
        </p>
        <p>
          <span id="said_no_02407" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Twice had Sir Thomas inquired into the
            enjoyment and success of his lady, but in vain; no pause was long enough for the time
            his measured manner needed; and very little of her state could be known till Mrs. Grant
            was able, at the end of the first rubber, to go to her and pay her compliments.</span>
        </p>
        <p>
          <span id="said_no_02408" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"I hope your ladyship is pleased with
            the game."</span>
        </p>
        <p>
          <span id="said_no_02409" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"Oh dear, yes! very entertaining
            indeed. A very odd game. I do not know what it is all about. I am never to see my cards;
            and Mr. Crawford does all the rest."</span>
        </p>
        <p>
          <span id="said_no_02410" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"Bertram,"</span>
            <span id="said_no_02411" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Crawford, some time afterwards,
              taking the opportunity of a little languor in the game, </span>
            <span id="said_no_02412" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I have never told you what
              happened to me yesterday in my ride home."</span>
            <span id="said_no_02413" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
              They had been hunting
              together, and were in the midst of a good run, and at some distance from Mansfield,
              when his horse being found to have flung a shoe, Henry Crawford had been obliged to
              give up, and make the best of his way back.</span>
            <span id="said_no_02414" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I told you I lost my way after
              passing that old farmhouse with the yew-trees, because I can never bear to ask; but I
              have not told you that, with my usual luck— for I never do wrong without gaining by it
              —I found myself in due time in the very place which I had a curiosity to see. I was
              suddenly, upon turning the corner of a steepish downy field, in the midst of a retired
              little village between gently rising hills; a small stream before me to be forded, a
              church standing on a sort of knoll to my right— which church was strikingly large and
              handsome for the place, and not a gentleman or half a gentleman's house to be seen
              excepting one —to be presumed the Parsonage —within a stone's throw of the said knoll
              and church. I found myself, in short, in Thornton Lacey."</span>
        </p>
        <p>
          
            <span id="said_no_02415" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"It sounds like it,"</span>
            <span id="said_no_02416" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Edmund; </span>
            <span id="said_no_02417" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"but which way did you turn after
              passing Sewell's farm?"</span>
          
        </p>
        <p>
          <span id="said_no_02418" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I answer no such irrelevant and
            insidious questions; though were I to answer all that you could put in the course of an
            hour, you would never be able to prove that it was <em>not</em> Thornton
            Lacey— for such it certainly was."</span>
        </p>
        <p>
          <span id="said_no_02419" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"You inquired, then?"</span>
        </p>
        <p>
          <span id="said_no_02420" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"No, I never inquire. But I <em>told</em> a man mending a hedge that it was Thornton Lacey, and he
            agreed to it."</span>
        </p>
        <p>
          <span id="said_no_02421" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"You have a good memory. I had forgotten
            having ever told you half so much of the place."</span>
        </p>
        <p>
          <span id="said_no_02422" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Thornton Lacey was the name of his
            impending living, as Miss Crawford well knew; and her interest in a negotiation for
            William Price's knave increased.</span>
        </p>
        <p>
          
            <span id="said_no_02423" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Well,"</span>
            <span id="said_no_02424" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">continued Edmund, </span>
            <span id="said_no_02425" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"and how did you like what you
              saw?"</span>
          
        </p>
        <p>
          <span id="said_no_02426" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"Very much indeed. You are a lucky
            fellow. There will be work for five summers at least before the place is
            liveable."</span>
        </p>
        <p>
          <span id="said_no_02427" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"No, no, not so bad as that. The
            farmyard must be moved, I grant you; but I am not aware of anything else. The house is
            by no means bad, and when the yard is removed, there may be a very tolerable approach to
            it."</span>
        </p>
        <p>
          <span id="said_no_02428" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"The farmyard must be cleared away
            entirely, and planted up to shut out the blacksmith's shop. The house must be turned to
            front the east instead of the north— the entrance and principal rooms, I mean, must be
            on that side, where the view is really very pretty; I am sure it may be done. And <em>there</em> must be your approach, through what is at present the garden.
            You must make a new garden at what is now the back of the house; which will be giving it
            the best aspect in the world, sloping to the south-east. The ground seems precisely
            formed for it. I rode fifty yards up the lane, between the church and the house, in
            order to look about me; and saw how it might all be. Nothing can be easier. The meadows
            beyond what <em>will</em>
            <em>be</em> the garden, as well as what now <em>is</em>,
            sweeping round from the lane I stood in to the north-east, that is, to the principal
            road through the village, must be all laid together, of course; very pretty meadows they
            are, finely sprinkled with timber. They belong to the living, I suppose; if not, you
            must purchase them. Then the stream— something must be done with the stream; but I could
            not quite determine what. I had two or three ideas."</span>
        </p>
        <p>
          
            <span id="said_no_02429" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"And I have two or three ideas
              also,"</span>
            <span id="said_no_02430" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Edmund, </span>
            <span id="said_no_02431" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"and one of them is, that very little
              of your plan for Thornton Lacey will ever be put in practice. I must be satisfied with
              rather less ornament and beauty. I think the house and premises may be made
              comfortable, and given the air of a gentleman's residence, without any very heavy
              expense, and that must suffice me; and, I hope, may suffice all who care about
              me."</span>
          
        </p>
        <p>
          <span id="said_no_02432" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Miss Crawford, a little suspicious and
            resentful of a certain tone of voice, and a certain half-look attending the last
            expression of his hope, made a hasty finish of her dealings with William Price; and
            securing his knave at an exorbitant rate, exclaimed, </span>
          <span id="said_no_02433" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"There, I will stake my last like a
            woman of spirit. No cold prudence for me. I am not born to sit still and do nothing. If
            I lose the game, it shall not be from not striving for it."</span>
        </p>
        <p>
          <span id="said_no_02434" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The game was hers, and only did not
            pay her for what she had given to secure it. Another deal proceeded, and Crawford began
            again about Thornton Lacey.</span>
        </p>
        <p>
          
            <span id="said_no_02435" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"My plan may not be the best
              possible: I had not many minutes to form it in; but you must do a good deal. The place
              deserves it, and you will find yourself not satisfied with much less than it is
              capable of. (Excuse me, your ladyship must not see your cards. There, let them lie
              just before you.) The place deserves it, Bertram. You talk of giving it the air of a
              gentleman's residence. <em>That</em> will be done by the removal of the
              farmyard; for, independent of that terrible nuisance, I never saw a house of the kind
              which had in itself so much the air of a gentleman's residence, so much the look of a
              something above a mere parsonage-house— above the expenditure of a few hundreds a
              year. It is not a scrambling collection of low single rooms, with as many roofs as
              windows; it is not cramped into the vulgar compactness of a square farmhouse: it is a
              solid, roomy, mansion-like looking house, such as one might suppose a respectable old
              country family had lived in from generation to generation, through two centuries at
              least, and were now spending from two to three thousand a year in."</span>
            <span id="said_no_02436" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> Miss Crawford listened, and Edmund
              agreed to this. </span>
            <span id="said_no_02437" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"The air of a gentleman's
              residence, therefore, you cannot but give it, if you do anything. But it is capable of
              much more. (Let me see, Mary; Lady Bertram bids a dozen for that queen; no, no, a
              dozen is more than it is worth. Lady Bertram does not bid a dozen. She will have
              nothing to say to it. Go on, go on.) By some such improvements as I have suggested (I
              do not really require you to proceed upon my plan, though, by the bye, I doubt
              anybody's striking out a better) you may give it a higher character. You may raise it
              into a <em>place</em>. From being the mere gentleman's residence, it
              becomes, by judicious improvement, the residence of a man of education, taste, modern
              manners, good connexions. All this may be stamped on it; and that house receive such
              an air as to make its owner be set down as the great landholder of the parish by every
              creature travelling the road; especially as there is no real squire's house to dispute
              the point —a circumstance, between ourselves, to enhance the value of such a situation
              in point of privilege and independence beyond all calculation. <em>You</em> think with me, I hope"</span>
            <span id="said_no_02438" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">(turning with a softened voice to
              Fanny).</span>
            <span id="said_no_02439" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"Have you ever seen the
              place?"</span>
          
        </p>
        <p>
          <span id="said_no_02440" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny gave a quick negative, and tried
            to hide her interest in the subject by an eager attention to her brother, who was
            driving as hard a bargain, and imposing on her as much as he could; but Crawford pursued
            with </span>
          
            <span id="said_no_02441" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"No, no, you must not part with the
              queen. You have bought her too dearly, and your brother does not offer half her value.
              No, no, sir, hands off, hands off. Your sister does not part with the queen. She is
              quite determined. The game will be yours,"</span>
            <span id="said_no_02442" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">turning to her again; </span>
            <span id="said_no_02443" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"it will certainly be
              yours."</span>
          
        </p>
        <p>
          
            <span id="said_no_02444" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"And Fanny had much rather it were
              William's,"</span>
            <span id="said_no_02445" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Edmund, smiling at her. </span>
            <span id="said_no_02446" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Poor Fanny! not allowed to cheat
              herself as she wishes!"</span>
          
        </p>
        <p>
          
            <span id="said_no_02447" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Mr. Bertram,"</span>
            <span id="said_no_02448" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Miss Crawford, a few minutes
              afterwards, </span>
            <span id="said_no_02449" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"you know Henry to be such a capital
              improver, that you cannot possibly engage in anything of the sort at Thornton Lacey
              without accepting his help. Only think how useful he was at Sotherton! Only think what
              grand things were produced there by our all going with him one hot day in August to
              drive about the grounds, and see his genius take fire. There we went, and there we
              came home again; and what was done there is not to be told!"</span>
          
        </p>
        <p>
          <span id="said_no_02450" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny's eyes were turned on Crawford
            for a moment with an expression more than grave— even reproachful; but on catching his,
            were instantly withdrawn. With something of consciousness he shook his head at his
            sister, and laughingly replied, </span>
          
            <span id="said_no_02451" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I cannot say there was much done
              at Sotherton; but it was a hot day, and we were all walking after each other, and
              bewildered."</span>
            <span id="said_no_02452" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">As soon as a general buzz gave him
              shelter, he added, in a low voice, directed solely at Fanny, </span>
            <span id="said_no_02453" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I should be sorry to have my
              powers of <em>planning</em> judged of by the day at Sotherton. I see
              things very differently now. Do not think of me as I appeared then."</span>
          
        </p>
        <p>
          <span id="said_no_02454" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sotherton was a word to catch Mrs.
            Norris, and being just then in the happy leisure which followed securing the odd trick
            by Sir Thomas's capital play and her own against Dr. and Mrs. Grant's great hands, she
            called out, in high good-humour, </span>
          <span id="said_no_02455" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"Sotherton! Yes, that is a place,
            indeed, and we had a charming day there. William, you are quite out of luck; but the
            next time you come, I hope dear Mr. and Mrs. Rushworth will be at home, and I am sure I
            can answer for your being kindly received by both. Your cousins are not of a sort to
            forget their relations, and Mr. Rushworth is a most amiable man. They are at Brighton
            now, you know; in one of the best houses there, as Mr. Rushworth's fine fortune gives
            them a right to be. I do not exactly know the distance, but when you get back to
            Portsmouth, if it is not very far off, you ought to go over and pay your respects to
            them; and I could send a little parcel by you that I want to get conveyed to your
            cousins."</span>
        </p>
        <p>
          <span id="said_no_02456" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"I should be very happy, aunt; but
            Brighton is almost by Beachey Head; and if I could get so far, I could not expect to be
            welcome in such a smart place as that— poor scrubby midshipman as I am."</span>
        </p>
        <p>
          <span id="said_no_02457" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Norris was beginning an eager
            assurance of the affability he might depend on, when she was stopped by Sir Thomas's
            saying with authority,</span>
          <span id="said_no_02458" class="said" data-toggle="tooltip" title="Sir Thomas Bertram" data-placement="auto top">"I do not advise your going to
            Brighton, William, as I trust you may soon have more convenient opportunities of
            meeting; but my daughters would be happy to see their cousins anywhere; and you will
            find Mr. Rushworth most sincerely disposed to regard all the connexions of our family as
            his own."</span>
        </p>
        <p><span id="said_no_02459" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"I would rather find him private
            secretary to the First Lord than anything else,"</span> was William's only answer, in an
          undervoice, not meant to reach far, and the subject dropped.</p>
        <p>
          <span id="said_no_02460" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">As yet Sir Thomas had seen nothing to
            remark in Mr. Crawford's behaviour; but when the whist-table broke up at the end of the
            second rubber, and leaving Dr. Grant and Mrs. Norris to dispute over their last play, he
            became a looker-on at the other, he found his niece the object of attentions, or rather
            of professions, of a somewhat pointed character.</span>
        </p>
        <p>
          <span id="said_no_02461" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Henry Crawford was in the first glow
            of another scheme about Thornton Lacey; and not being able to catch Edmund's ear, was
            detailing it to his fair neighbour with a look of considerable earnestness.</span>
          <span id="said_no_02462" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">His scheme was</span>
          <span id="said_no_02463" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            to rent the house
            himself the following winter, that he might have a home of his own in that
            neighbourhood; and it was not merely for the use of it in the hunting-season</span>
          <span id="said_no_02464" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">(as he was then telling her),</span>
          <span id="said_no_02465" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            though <em>that</em> consideration had certainly some weight, feeling as he did that, in spite
            of all Dr. Grant's very great kindness, it was impossible for him and his horses to be
            accommodated where they now were without material inconvenience;</span>
          <span id="said_no_02466" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            but his attachment to
            that neighbourhood did not depend upon one amusement or one season of the year: he had
            set his heart upon having a something there that he could come to at any time, a little
            homestall at his command, where all the holidays of his year might be spent, and he
            might find himself continuing, improving, and <em>perfecting</em> that
            friendship and intimacy with the Mansfield Park family which was increasing in value to
            him every day.</span>
          <span id="said_no_02467" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas heard and was not
            offended.</span>
          <span id="said_no_02468" class="said certainty_1" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            There was no want of
            respect in the young man's address; and Fanny's reception of it was so proper and
            modest, so calm and uninviting, that he had nothing to censure in her.</span>
          <span id="said_no_02469" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She said little, assented only here
            and there, and betrayed no inclination either of appropriating any part of the
            compliment to herself, or of strengthening his views in favour of Northamptonshire.
            Finding by whom he was observed, Henry Crawford addressed himself on the same subject to
            Sir Thomas, in a more everyday tone, but still with feeling.</span>
        </p>
        <p>
          <span id="said_no_02470" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I want to be your neighbour, Sir
            Thomas, as you have, perhaps, heard me telling Miss Price. May I hope for your
            acquiescence, and for your not influencing your son against such a tenant?"</span>
        </p>
        <p>
          <span id="said_no_02471" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas, politely bowing,
            replied,</span>
          <span id="said_no_02472" class="said" data-toggle="tooltip" title="Sir Thomas Bertram" data-placement="auto top">"It is the only way, sir, in which I
            could <em>not</em> wish you established as a permanent neighbour; but I
            hope, and believe, that Edmund will occupy his own house at Thornton Lacey. Edmund, am I
            saying too much?"</span>
        </p>
        <p>
          <span id="said_no_02473" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund, on this appeal, had first to
            hear what was going on; but, on understanding the question, was at no loss for an
            answer.</span>
        </p>
        <p>
          <span id="said_no_02474" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Certainly, sir, I have no idea but of
            residence. But, Crawford, though I refuse you as a tenant, come to me as a friend.
            Consider the house as half your own every winter, and we will add to the stables on your
            own improved plan, and with all the improvements of your improved plan that may occur to
            you this spring."</span>
        </p>
        <p>
          
            <span id="said_no_02475" class="said" data-toggle="tooltip" title="Sir Thomas Bertram" data-placement="auto top">"We shall be the losers,"</span>
            <span id="said_no_02476" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">continued Sir Thomas.</span>
            <span id="said_no_02477" class="said" data-toggle="tooltip" title="Sir Thomas Bertram" data-placement="auto top">"His going, though only eight miles,
              will be an unwelcome contraction of our family circle; but I should have been deeply
              mortified if any son of mine could reconcile himself to doing less. It is perfectly
              natural that you should not have thought much on the subject, Mr. Crawford. But a
              parish has wants and claims which can be known only by a clergyman constantly
              resident, and which no proxy can be capable of satisfying to the same extent. Edmund
              might, in the common phrase, do the duty of Thornton, that is, he might read prayers
              and preach, without giving up Mansfield Park: he might ride over every Sunday, to a
              house nominally inhabited, and go through divine service; he might be the clergyman of
              Thornton Lacey every seventh day, for three or four hours, if that would content him.
              But it will not. He knows that human nature needs more lessons than a weekly sermon
              can convey; and that if he does not live among his parishioners, and prove himself, by
              constant attention, their well-wisher and friend, he does very little either for their
              good or his own."</span>
          
        </p>
        <p>
          <span id="said_no_02478" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Crawford bowed his
            acquiescence.</span>
        </p>
        <p>
          
            <span id="said_no_02479" class="said" data-toggle="tooltip" title="Sir Thomas Bertram" data-placement="auto top">"I repeat again,"</span>
            <span id="said_no_02480" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">added Sir Thomas, </span>
            <span id="said_no_02481" class="said" data-toggle="tooltip" title="Sir Thomas Bertram" data-placement="auto top">"that Thornton Lacey is the only
              house in the neighbourhood in which I should <em>not</em> be happy to
              wait on Mr. Crawford as occupier."</span>
          
        </p>
        <p>
          <span id="said_no_02482" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Crawford bowed his thanks.</span>
        </p>
        <p>
          <span id="said_no_02483" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Sir Thomas,"</span>
            <span id="said_no_02484" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Edmund, </span>
            <span id="said_no_02485" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"undoubtedly understands the duty of a
              parish priest. We must hope his son may prove that <em>he</em> knows it
              too."</span>
        </p>
        <p>
          <span id="said_no_02486" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Whatever effect Sir Thomas's little
            harangue might really produce on Mr. Crawford, it raised some awkward sensations in two
            of the others, two of his most attentive listeners— Miss Crawford and Fanny.</span>
          <span id="said_no_02487" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">One of whom,</span>
          <span id="said_no_02488" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">having never before understood that
            Thornton was so soon and so completely to be his home,</span>
          <span id="said_no_02489" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was pondering</span>
          <span id="said_no_02490" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">with downcast eyes on</span>
          <span id="said_no_02491" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            what it would be <em>not</em> to see Edmund every day;</span>
          <span id="said_no_02492" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and</span>
          <span id="said_no_02493" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">the other,</span>
          <span id="said_no_02494" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">startled from the agreeable fancies
            she had been previously indulging on the strength of her brother's description,</span>
          <span id="said_no_02495" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">no longer able,</span>
          <span id="said_no_02496" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">in the picture she had been forming of
            a future Thornton,</span>
          <span id="said_no_02497" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">to shut out</span>
          <span id="said_no_02498" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            the church, sink the
            clergyman, and see only the respectable, elegant, modernised, and occasional residence
            of a man of independent fortune,</span>
          <span id="said_no_02499" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">was considering Sir Thomas, with
            decided ill-will,</span>
          <span id="said_no_02500" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            as the destroyer of all
            this,</span>
          <span id="said_no_02501" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and suffering the more from that
            involuntary forbearance which his character and manner commanded, and from not daring to
            relieve herself by a single attempt at throwing ridicule on his cause.</span>
        </p>
        <p>
          <span id="said_no_02502" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">All the agreeable of <em>her</em> speculation was over for that hour.</span>
          <span id="said_no_02503" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">
            It was time to have done
            with cards, if sermons prevailed;</span>
          <span id="said_no_02504" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and she was glad to find it necessary
            to come to a conclusion, and be able to refresh her spirits by a change of place and
            neighbour.</span>
        </p>
        <p>
          <span id="said_no_02505" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The chief of the party were now
            collected irregularly round the fire, and waiting the final break-up. William and Fanny
            were the most detached. They remained together at the otherwise deserted card-table,
            talking very comfortably, and not thinking of the rest, till some of the rest began to
            think of them. Henry Crawford's chair was the first to be given a direction towards
            them, and he sat silently observing them for a few minutes; himself, in the meanwhile,
            observed by Sir Thomas, who was standing in chat with Dr. Grant.</span>
        </p>
        <p>
          
            <span id="said_no_02506" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"This is the assembly night,"</span>
            <span id="said_no_02507" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said William. </span>
            <span id="said_no_02508" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"If I were at Portsmouth I should be
              at it, perhaps."</span>
          
        </p>
        <p>
          <span id="said_no_02509" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"But you do not wish yourself at
            Portsmouth, William?"</span>
        </p>
        <p>
          <span id="said_no_02510" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"No, Fanny, that I do not. I shall
            have enough of Portsmouth and of dancing too, when I cannot have you. And I do not know
            that there would be any good in going to the assembly, for I might not get a partner.
            The Portsmouth girls turn up their noses at anybody who has not a commission. One might
            as well be nothing as a midshipman. One <em>is</em> nothing, indeed. You
            remember the Gregorys; they are grown up amazing fine girls, but they will hardly speak
            to <em>me</em>, because Lucy is courted by a lieutenant."</span>
        </p>
        <p>
          
            <span id="said_no_02511" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Oh! shame, shame! But never mind
              it, William"</span>
            <span id="said_no_02512" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">(her own cheeks in a glow of
              indignation as she spoke). </span>
            <span id="said_no_02513" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"It is not worth minding. It is no
              reflection on <em>you</em>; it is no more than what the greatest
              admirals have all experienced, more or less, in their time. You must think of that,
              you must try to make up your mind to it as one of the hardships which fall to every
              sailor's share, like bad weather and hard living, only with this advantage, that there
              will be an end to it, that there will come a time when you will have nothing of that
              sort to endure. When you are a lieutenant! only think, William, when you are a
              lieutenant, how little you will care for any nonsense of this kind."</span>
          
        </p>
        <p>
          <span id="said_no_02514" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"I begin to think I shall never be a
            lieutenant, Fanny. Everybody gets made but me."</span>
        </p>
        <p>
          <span id="said_no_02515" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Oh! my dear William, do not talk so;
            do not be so desponding. My uncle says nothing, but I am sure he will do everything in
            his power to get you made. He knows, as well as you do, of what consequence it
            is."</span>
        </p>
        <p>
          <span id="said_no_02516" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She was checked by the sight of her
            uncle much nearer to them than she had any suspicion of, and each found it necessary to
            talk of something else.</span>
        </p>
        <p>
          <span id="said_no_02517" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"Are you fond of dancing,
            Fanny?"</span>
        </p>
        <p>
          <span id="said_no_02518" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Yes, very; only I am soon
            tired."</span>
        </p>
        <p>
          
            <span id="said_no_02519" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"I should like to go to a ball with
              you and see you dance. Have you never any balls at Northampton? I should like to see
              you dance, and I'd dance with you if you <em>would</em>, for nobody
              would know who I was here, and I should like to be your partner once more. We used to
              jump about together many a time, did not we? when the hand-organ was in the street? I
              am a pretty good dancer in my way, but I dare say you are a better."</span>
            <span id="said_no_02520" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">And turning to his uncle, who was
              now close to them, </span>
            <span id="said_no_02521" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"Is not Fanny a very good dancer,
              sir?"</span>
          
        </p>
        <p>
          <span id="said_no_02522" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny, in dismay at such an
            unprecedented question, did not know which way to look, or how to be prepared for the
            answer. Some very grave reproof, or at least the coldest expression of indifference,
            must be coming to distress her brother, and sink her to the ground. But, on the
            contrary, it was no worse than, </span>
          <span id="said_no_02523" class="said" data-toggle="tooltip" title="William Price" data-placement="auto top">"I am sorry to say that I am unable to
            answer your question. I have never seen Fanny dance since she was a little girl; but I
            trust we shall both think she acquits herself like a gentlewoman when we do see her,
            which, perhaps, we may have an opportunity of doing ere long."</span>
        </p>
        <p>
          <span id="said_no_02524" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I have had the pleasure of
              seeing your sister dance, Mr. Price,"</span>
            <span id="said_no_02525" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Henry Crawford, leaning
              forward, </span>
            <span id="said_no_02526" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"and will engage to answer every
              inquiry which you can make on the subject, to your entire satisfaction. But I
              believe"</span>
            <span id="said_no_02527" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> (seeing Fanny looked
              distressed)</span>
            <span id="said_no_02528" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"it must be at some other time.
              There is <em>one</em> person in company who does not like to have Miss
              Price spoken of."</span>
        </p>
        <p>
          <span id="said_no_02529" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">True enough, he had once seen Fanny
            dance; and it was equally true that he would now have answered for her gliding about
            with quiet, light elegance, and in admirable time; but, in fact,</span>
          <span id="said_no_02530" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            he could not for the
            life of him recall what her dancing had been,</span>
          <span id="said_no_02531" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and rather took it for granted that
            she had been present than remembered anything about her.</span>
        </p>
        <p>
          <span id="said_no_02532" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He passed, however, for an admirer of
            her dancing; and Sir Thomas, by no means displeased, prolonged the conversation on
            dancing in general, and was so well engaged in describing the balls of Antigua, and
            listening to what his nephew could relate of the different modes of dancing which had
            fallen within his observation, that he had not heard his carriage announced, and was
            first called to the knowledge of it by the bustle of Mrs. Norris.</span>
        </p>
        <p><span id="said_no_02533" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"Come, Fanny, Fanny, what are you
            about? We are going. Do not you see your aunt is going? Quick, quick! I cannot bear to
            keep good old Wilcox waiting. You should always remember the coachman and horses. My
            dear Sir Thomas, we have settled it that the carriage should come back for you, and
            Edmund and William."</span></p>
        <p>
          <span id="said_no_02534" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas could not dissent, as it
            had been his own arrangement, previously communicated to his wife and sister; but <em>that</em> seemed forgotten by Mrs. Norris, who must fancy that she
            settled it all herself.</span>
        </p>
        <p>
          <span id="said_no_02535" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny's last feeling in the visit was
            disappointment: for the shawl which Edmund was quietly taking from the servant to bring
            and put round her shoulders was seized by Mr. Crawford's quicker hand, and she was
            obliged to be indebted to his more prominent attention.</span>
        </p>
      
  <div class="footnotes"> </div>
