
   
  
    
        <h3>Chapter 47</h3>
        <p>
          <span id="said_no_04596" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">It had been a miserable party, each of
            the three believing themselves most miserable. Mrs. Norris, however, as most attached to
            Maria, was really the greatest sufferer. Maria was her first favourite, the dearest of
            all;</span>
          <span id="said_no_04597" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_mrsn" data-placement="auto top">
            the match had been her
            own contriving,</span>
          <span id="said_no_04598" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">as she had been wont with such pride
            of heart to feel and say, and this conclusion of it almost overpowered her.</span>
        </p>
        <p>
          <span id="said_no_04599" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She was an altered creature, quieted,
            stupefied, indifferent to everything that passed. The being left with her sister and
            nephew, and all the house under her care, had been an advantage entirely thrown away;
            she had been unable to direct or dictate, or even fancy herself useful. When really
            touched by affliction, her active powers had been all benumbed; and neither Lady Bertram
            nor Tom had received from her the smallest support or attempt at support. She had done
            no more for them than they had done for each other. They had been all solitary,
            helpless, and forlorn alike; and now the arrival of the others only established her
            superiority in wretchedness.</span>
          <span id="said_no_04600" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrsn" data-placement="auto top">
            Her companions were
            relieved, but there was no good for <em>her</em>.</span>
          <span id="said_no_04601" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund was almost as welcome to his
            brother as Fanny to her aunt; but Mrs. Norris, instead of having comfort from either,
            was but the more irritated by the sight of the person whom, in the blindness of her
            anger, she could have charged as the daemon of the piece.</span>
          <span id="said_no_04602" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_mrsn" data-placement="auto top">
            Had Fanny accepted Mr.
            Crawford this could not have happened.</span>
        </p>
        <p>
          <span id="said_no_04603" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Susan too was a grievance. She had not
            spirits to notice her in more than a few repulsive looks,</span>
          <span id="said_no_04604" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">but she felt</span>
          <span id="said_no_04605" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_mrsn" data-placement="auto top">
            her as a spy, and an
            intruder, and an indigent niece,</span>
          <span id="said_no_04606" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and everything most odious. By her
            other aunt, Susan was received with quiet kindness. Lady Bertram could not give her much
            time, or many words, but</span>
          <span id="said_no_04607" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she felt</span>
          <span id="said_no_04608" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_ladyb" data-placement="auto top">
            her, as Fanny's sister,
            to have a claim at Mansfield,</span>
          <span id="said_no_04609" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and was ready to kiss and like her;
            and Susan was more than satisfied,</span>
          <span id="said_no_04610" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">for she came perfectly aware
            that</span>
          <span id="said_no_04611" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_susan" data-placement="auto top">
            nothing but ill-humour
            was to be expected from aunt Norris;</span>
          <span id="said_no_04612" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and was so provided with happiness, so
            strong in that best of blessings, an escape from many certain evils, that she could have
            stood against a great deal more indifference than she met with from the others.</span>
        </p>
        <p>
          <span id="said_no_04613" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She was now left a good deal to
            herself, to get acquainted with the house and grounds as she could, and spent her days
            very happily in so doing, while those who might otherwise have attended to her were shut
            up, or wholly occupied each with the person quite dependent on them, at this time, for
            everything like comfort; Edmund trying to bury his own feelings in exertions for the
            relief of his brother's, and Fanny devoted to her aunt Bertram, returning to every
            former office with more than former zeal, and</span>
          <span id="said_no_04614" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">thinking</span>
          <span id="said_no_04615" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            she could never do
            enough for one who seemed so much to want her.</span>
        </p>
        <p>
          <span id="said_no_04616" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">To talk over the dreadful business
            with Fanny, talk and lament, was all Lady Bertram's consolation. To be listened to and
            borne with, and hear the voice of kindness and sympathy in return, was everything that
            could be done for her. To be otherwise comforted was out of the question. The case
            admitted of no comfort. Lady Bertram did not think deeply, but, guided by Sir Thomas,
            she thought justly on all important points; and she saw, therefore, in all its enormity,
            what had happened, and neither endeavoured herself, nor required Fanny to advise her, to
            think little of guilt and infamy.</span>
        </p>
        <p>
          <span id="said_no_04617" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Her affections were not acute, nor was
            her mind tenacious. After a time, Fanny found it not impossible to direct her thoughts
            to other subjects, and revive some interest in the usual occupations; but whenever Lady
            Bertram <em>was</em> fixed on the event, she could see it only in one
            light, as comprehending the loss of a daughter, and a disgrace never to be wiped
            off.</span>
        </p>
        <p>
          <span id="said_no_04618" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny learnt from her all the
            particulars which had yet transpired. Her aunt was no very methodical narrator, but with
            the help of some letters to and from Sir Thomas, and what she already knew herself, and
            could reasonably combine, she was soon able to understand quite as much as she wished of
            the circumstances attending the story.</span>
        </p>
        <p>
          <span id="said_no_04619" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Rushworth had gone, for the
            Easter holidays, to Twickenham, with a family whom she had just grown intimate with: a
            family of lively, agreeable manners, and probably of morals and discretion to suit, for
            to <em>their</em> house Mr. Crawford had constant access at all times. His
            having been in the same neighbourhood Fanny already knew. Mr. Rushworth had been gone at
            this time to Bath, to pass a few days with his mother, and bring her back to town, and
            Maria was with these friends without any restraint, without even Julia; for Julia had
            removed from Wimpole Street two or three weeks before, on a visit to some relations of
            Sir Thomas; a removal which her father and mother were now disposed to attribute to some
            view of convenience on Mr. Yates's account. Very soon after the Rushworths' return to
            Wimpole Street, Sir Thomas had received a letter from an old and most particular friend
            in London,</span>
          <span id="said_no_04620" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">who</span>
          <span id="said_no_04621" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">hearing and witnessing a good deal to
            alarm him in that quarter, wrote to</span>
          <span id="said_no_04622" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrh" data-placement="auto top">
            recommend Sir Thomas's
            coming to London himself, and using his influence with his daughter to put an end to the
            intimacy which was already exposing her to unpleasant remarks, and evidently making Mr.
            Rushworth uneasy.</span>
        </p>
        <p>
          <span id="said_no_04623" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas was preparing to act upon
            this letter, without communicating its contents to any creature at Mansfield, when it
            was followed by another, sent express from the same friend,</span>
          <span id="said_no_04624" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> to break to him</span>
          <span id="said_no_04625" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_mrh" data-placement="auto top">
            the almost desperate
            situation in which affairs then stood with the young people. Mrs. Rushworth had left her
            husband's house: Mr. Rushworth had been in great anger and distress to <em>him</em> (Mr. Harding) for his advice;</span>
          <span id="said_no_04626" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Harding</span>
          <span id="said_no_04627" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrh" data-placement="auto top">
            feared there had been <em>at</em>
            <em>least</em> very flagrant indiscretion. The maidservant of Mrs.
            Rushworth, senior, threatened alarmingly. He was doing all in his power to quiet
            everything, with the hope of Mrs. Rushworth's return, but was so much counteracted in
            Wimpole Street by the influence of Mr. Rushworth's mother, that the worst consequences
            might be apprehended.</span>
        </p>
        <p>
          <span id="said_no_04628" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">This dreadful communication could not
            be kept from the rest of the family. Sir Thomas set off, Edmund would go with him, and
            the others had been left in a state of wretchedness, inferior only to what followed the
            receipt of the next letters from London. Everything was by that time public beyond a
            hope. The servant of Mrs. Rushworth, the mother, had exposure in her power, and
            supported by her mistress, was not to be silenced. The two ladies, even in the short
            time they had been together, had disagreed; and the bitterness of the elder against her
            daughter-in-law might perhaps arise almost as much from the personal disrespect with
            which she had herself been treated as from sensibility for her son.</span>
        </p>
        <p>
          <span id="said_no_04629" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">However that might be, she was
            unmanageable. But had she been less obstinate, or of less weight with her son, who was
            always guided by the last speaker, by the person who could get hold of and shut him up,
            the case would still have been hopeless, for Mrs. Rushworth did not appear again, and
            there was every reason to conclude her to be concealed somewhere with Mr. Crawford, who
            had quitted his uncle's house, as for a journey, on the very day of her absenting
            herself.</span>
        </p>
        <p>
          <span id="said_no_04630" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas, however, remained yet a
            little longer in town, in the hope of discovering and snatching her from farther vice,
            though all was lost on the side of character.</span>
        </p>
        <p>
          <span id="said_no_04631" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"><em>His</em> present
            state Fanny could hardly bear to think of. There was but one of his children who was not
            at this time a source of misery to him. Tom's complaints had been greatly heightened by
            the shock of his sister's conduct, and his recovery so much thrown back by it, that even
            Lady Bertram had been struck by the difference, and all her alarms were regularly sent
            off to her husband; and Julia's elopement, the additional blow which had met him on his
            arrival in London, though its force had been deadened at the moment, must, she knew, be
            sorely felt. She saw that it was. His letters expressed how much he deplored it. Under
            any circumstances it would have been an unwelcome alliance; but to have it so
            clandestinely formed, and such a period chosen for its completion, placed Julia's
            feelings in a most unfavourable light, and severely aggravated the folly of her
            choice.</span>
          <span id="said_no_04632" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He called</span>
          <span id="said_no_04633" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_ladyb_sirt" data-placement="auto top">
            it a bad thing,
            done in the worst manner, and at the worst time; and though Julia was yet as more
            pardonable than Maria as folly than vice, he could not but regard the step she had taken
            as opening the worst probabilities of a conclusion hereafter like her sister's.</span>
          <span id="said_no_04634" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Such was his opinion of the set into
            which she had thrown herself.</span>
        </p>
        <p>
          <span id="said_no_04635" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny felt</span>
          <span id="said_no_04636" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">for him most acutely.</span>
          <span id="said_no_04637" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            He could have no comfort
            but in Edmund. Every other child must be racking his heart. His displeasure against
            herself</span>
          <span id="said_no_04638" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she trusted, reasoning differently
            from Mrs. Norris,</span>
          <span id="said_no_04639" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            would now be done away.
              <em>She</em> should be justified. Mr. Crawford would have fully
            acquitted her conduct in refusing him; but this, though most material to herself, would
            be poor consolation to Sir Thomas. Her uncle's displeasure was terrible to her; but what
            could her justification or her gratitude and attachment do for him? His stay must be on
            Edmund alone.</span>
        </p>
        <p>
          <span id="said_no_04640" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She was mistaken, however, in
            supposing that Edmund gave his father no present pain. It was of a much less poignant
            nature than what the others excited; but</span>
          <span id="said_no_04641" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Sir Thomas was considering</span>
          <span id="said_no_04642" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_sirt" data-placement="auto top">
            his happiness as very
            deeply involved in the offence of his sister and friend; cut off by it, as he must be,
            from the woman whom he had been pursuing with undoubted attachment and strong
            probability of success; and who, in everything but this despicable brother, would have
            been so eligible a connexion.</span>
          <span id="said_no_04643" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He was aware of what Edmund must be
            suffering on his own behalf, in addition to all the rest, when they were in town: he had
            seen or conjectured his feelings; and, having reason to think that one interview with
            Miss Crawford had taken place, from which Edmund derived only increased distress, had
            been as anxious on that account as on others to get him out of town, and had engaged him
            in taking Fanny home to her aunt, with a view to his relief and benefit, no less than
            theirs. Fanny was not in the secret of her uncle's feelings, Sir Thomas not in the
            secret of Miss Crawford's character. Had he been privy to her conversation with his son,
            he would not have wished her to belong to him, though her twenty thousand pounds had
            been forty.</span>
        </p>
        <p>
          <span id="said_no_04644" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            That Edmund must be for
            ever divided from Miss Crawford</span>
          <span id="said_no_04645" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">did not admit of a doubt with
            Fanny;</span>
          <span id="said_no_04646" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            and yet, till she knew
            that he felt the same, her own conviction was insufficient.</span>
          <span id="said_no_04647" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She thought he did, but she wanted to
            be assured of it.</span>
          <span id="said_no_04648" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            If he would now speak to
            her with the unreserve which had sometimes been too much for her before, it would be
            most consoling; but <em>that</em></span>
          <span id="said_no_04649" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she found</span>
          <span id="said_no_04650" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            was not to be. She
            seldom saw him: never alone. He probably avoided being alone with her. What was to be
            inferred? That his judgment submitted to all his own peculiar and bitter share of this
            family affliction, but that it was too keenly felt to be a subject of the slightest
            communication. This must be his state. He yielded, but it was with agonies which did not
            admit of speech. Long, long would it be ere Miss Crawford's name passed his lips again,
            or she could hope for a renewal of such confidential intercourse as had been.</span>
        </p>
        <p>
          <span id="said_no_04651" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">It <em>was</em> long.
            They reached Mansfield on Thursday, and it was not till Sunday evening that Edmund began
            to talk to her on the subject. Sitting with her on Sunday evening— a wet Sunday evening
            —the very time of all others when, if a friend is at hand, the heart must be opened, and
            everything told; no one else in the room, except his mother, who, after hearing an
            affecting sermon, had cried herself to sleep, it was impossible not to speak; and so,
            with the usual beginnings, hardly to be traced as to what came first, and</span>
          <span id="said_no_04652" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">the usual declaration that</span>
          <span id="said_no_04653" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            if she would listen to him
            for a few minutes, he should be very brief, and certainly never tax her kindness in the
            same way again; she need not fear a repetition; it would be a subject prohibited
            entirely:</span>
          <span id="said_no_04654" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he entered upon the luxury of relating
            circumstances and sensations of the first interest to himself, to one of whose
            affectionate sympathy he was quite convinced.</span>
        </p>
        <p>
          <span id="said_no_04655" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">How Fanny listened, with what
            curiosity and concern, what pain and what delight, how the agitation of his voice was
            watched, and how carefully her own eyes were fixed on any object but himself, may be
            imagined. The opening was alarming.</span>
          <span id="said_no_04656" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            He had seen Miss Crawford.
            He had been invited to see her. He had received a note from Lady Stornaway to beg him to
            call; and regarding it as what was meant to be the last, last interview of friendship,
            and investing her with all the feelings of shame and wretchedness which Crawford's
            sister ought to have known, he had gone to her in such a state of mind, so softened, so
            devoted,</span>
          <span id="said_no_04657" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">as made it for a few moments
            impossible to Fanny's fears that it should be the last. But as he proceeded in his
            story, these fears were over.</span>
          <span id="said_no_04658" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            She had met him,</span>
          <span id="said_no_04659" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he said,</span>
          <span id="said_no_04660" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            with a serious— certainly a
            serious —even an agitated air; but before he had been able to speak one intelligible
            sentence, she had introduced the subject in a manner which he owned had shocked
            him.</span>
          <span id="said_no_04661" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"'I heard you were in town,' said she;
            'I wanted to see you. Let us talk over this sad business. What can equal the folly of
            our two relations?' I could not answer, but I believe my looks spoke. She felt reproved.
            Sometimes how quick to feel! With a graver look and voice she then added,</span>
          <span id="said_no_04662" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
            'I do not mean to defend
            Henry at your sister's expense.'</span>
          <span id="said_no_04663" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">So she began, but how she went on,
            Fanny, is not fit, is hardly fit to be repeated to you. I cannot recall all her words. I
            would not dwell upon them if I could. Their substance was great anger at the <em>folly</em> of each.</span>
          <span id="said_no_04664" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">She reprobated</span>
          <span id="said_no_04665" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
            her brother's folly in
            being drawn on by a woman whom he had never cared for, to do what must lose him the
            woman he adored; but still more the folly of poor Maria, in sacrificing such a
            situation, plunging into such difficulties, under the idea of being really loved by a
            man who had long ago made his indifference clear.</span>
          <span id="said_no_04666" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">Guess what I must have felt. To hear the
            woman whom —no harsher name than folly given! So voluntarily, so freely, so coolly to
            canvass it! No reluctance, no horror, no feminine, shall I say, no modest loathings?
            This is what the world does. For where, Fanny, shall we find a woman whom nature had so
            richly endowed? Spoilt, spoilt!"</span>
        </p>
        <p>
          <span id="said_no_04667" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">After a little reflection, he went on
            with a sort of desperate calmness.</span>
          <span id="said_no_04668" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I will tell you everything, and then
            have done for ever. She saw it only as folly, and that folly stamped only by
            exposure.</span>
          <span id="said_no_04669" class="said certainty_3" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
            The want of common
            discretion, of caution: his going down to Richmond for the whole time of her being at
            Twickenham; her putting herself in the power of a servant;</span>
          <span id="said_no_04670" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">it was the detection, in short— oh,
            Fanny! it was the detection, not the offence, which she reprobated. It was the
            imprudence which had brought things to extremity, and obliged her brother to give up
            every dearer plan in order to fly with her."</span>
        </p>
        <p>
          <span id="said_no_04671" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He stopt.</span>
          
            <span id="said_no_04672" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"And what,"</span>
            <span id="said_no_04673" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Fanny (believing herself
              required to speak),</span>
            <span id="said_no_04674" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"what could you say?"</span>
          
        </p>
        <p>
          <span id="said_no_04675" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Nothing, nothing to be understood. I
            was like a man stunned. She went on, began to talk of you; yes, then she began to talk
            of you,</span>
          <span id="said_no_04676" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">regretting,</span>
          <span id="said_no_04677" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">as well she might,</span>
          <span id="said_no_04678" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
            the loss of such a
            —.</span>
          <span id="said_no_04679" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">There she spoke very rationally. But she
            has always done justice to you.</span>
          <span id="said_no_04680" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
            'He has thrown
            away,'</span>
          <span id="said_no_04681" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">said she,</span>
          <span id="said_no_04682" class="said certainty1" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
            'such a woman as he will
            never see again. She would have fixed him; she would have made him happy for
            ever.'</span>
          <span id="said_no_04683" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">My dearest Fanny, I am giving you, I
            hope, more pleasure than pain by this retrospect of what might have been—but what never
            can be now. You do not wish me to be silent? If you do, give me but a look, a word, and
            I have done."</span>
        </p>
        <p>
          <span id="said_no_04684" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">No look or word was given.</span>
        </p>
        <p>
          
            <span id="said_no_04685" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Thank God,"</span>
            <span id="said_no_04686" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said he. </span>
            <span id="said_no_04687" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"We were all disposed to wonder, but
              it seems to have been the merciful appointment of Providence that the heart which knew
              no guile should not suffer. She spoke of you with high praise and warm affection; yet,
              even here, there was alloy, a dash of evil; for in the midst of it she could
              exclaim,</span>
            <span id="said_no_04688" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
              'Why would not she have
              him? It is all her fault. Simple girl! I shall never forgive her. Had she accepted him
              as she ought, they might now have been on the point of marriage, and Henry would have
              been too happy and too busy to want any other object. He would have taken no pains to
              be on terms with Mrs. Rushworth again. It would have all ended in a regular standing
              flirtation, in yearly meetings at Sotherton and Everingham.'</span>
            <span id="said_no_04689" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">Could you have believed it possible?
              But the charm is broken. My eyes are opened."</span>
          
        </p>
        <p>
          
            <span id="said_no_04690" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Cruel!"</span>
            <span id="said_no_04691" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Fanny, </span>
            <span id="said_no_04692" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"quite cruel. At such a moment to
              give way to gaiety, to speak with lightness, and to you! Absolute cruelty."</span>
          
        </p>
        <p>
          <span id="said_no_04693" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Cruelty, do you call it? We differ
            there. No, hers is not a cruel nature. I do not consider her as meaning to wound my
            feelings. The evil lies yet deeper: in her total ignorance, unsuspiciousness of there
            being such feelings; in a perversion of mind which made it natural to her to treat the
            subject as she did. She was speaking only as she had been used to hear others speak, as
            she imagined everybody else would speak. Hers are not faults of temper. She would not
            voluntarily give unnecessary pain to any one, and though I may deceive myself, I cannot
            but think that for me, for my feelings, she would— Hers are faults of principle, Fanny;
            of blunted delicacy and a corrupted, vitiated mind. Perhaps it is best for me, since it
            leaves me so little to regret. Not so, however. Gladly would I submit to all the
            increased pain of losing her, rather than have to think of her as I do. I told her
            so."</span>
        </p>
        <p>
          <span id="said_no_04694" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Did you?"</span>
        </p>
        <p>
          <span id="said_no_04695" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Yes; when I left her I told her
            so."</span>
        </p>
        <p>
          <span id="said_no_04696" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"How long were you together?"</span>
        </p>
        <p>
          
            <span id="said_no_04697" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Five-and-twenty minutes. Well,</span>
            <span id="said_no_04698" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">she went on to say that</span>
            <span id="said_no_04699" class="said certainty_5" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
              what remained now to be
              done was to bring about a marriage between them.</span>
            <span id="said_no_04700" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">She spoke of it, Fanny, with a
              steadier voice than I can."</span>
            <span id="said_no_04701" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He was obliged to pause more than
              once as he continued. </span>
            <span id="said_no_04702" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"'We must persuade Henry to marry
              her,' said she; 'and what with honour, and the certainty of having shut himself out
              for ever from Fanny, I do not despair of it. Fanny he must give up. I do not think
              that even <em>he</em> could now hope to succeed with one of her stamp,
              and therefore I hope we may find no insuperable difficulty. My influence, which is not
              small shall all go that way; and when once married, and properly supported by her own
              family, people of respectability as they are, she may recover her footing in society
              to a certain degree. In some circles, we know, she would never be admitted, but with
              good dinners, and large parties, there will always be those who will be glad of her
              acquaintance; and there is, undoubtedly, more liberality and candour on those points
              than formerly. What I advise is, that your father be quiet. Do not let him injure his
              own cause by interference. Persuade him to let things take their course. If by any
              officious exertions of his, she is induced to leave Henry's protection, there will be
              much less chance of his marrying her than if she remain with him. I know how he is
              likely to be influenced. Let Sir Thomas trust to his honour and compassion, and it may
              all end well; but if he get his daughter away, it will be destroying the chief
              hold.'"</span>
          
        </p>
        <p>
          <span id="said_no_04703" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">After repeating this, Edmund was so
            much affected that Fanny, watching him with silent, but most tender concern, was almost
            sorry that the subject had been entered on at all. It was long before he could speak
            again. At last, </span>
          
            <span id="said_no_04704" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Now, Fanny,"</span>
            <span id="said_no_04705" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said he, </span>
            <span id="said_no_04706" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I shall soon have done. I have told
              you the substance of all that she said. As soon as I could speak, I replied that I had
              not supposed it possible, coming in such a state of mind into that house as I had
              done, that anything could occur to make me suffer more, but that she had been
              inflicting deeper wounds in almost every sentence. That though I had, in the course of
              our acquaintance, been often sensible of some difference in our opinions, on points,
              too, of some moment, it had not entered my imagination to conceive the difference
              could be such as she had now proved it. That the manner in which she treated the
              dreadful crime committed by her brother and my sister (with whom lay the greater
              seduction I pretended not to say), but the manner in which she spoke of the crime
              itself, giving it every reproach but the right; considering its ill consequences only
              as they were to be braved or overborne by a defiance of decency and impudence in
              wrong; and last of all, and above all, recommending to us a compliance, a compromise,
              an acquiescence in the continuance of the sin, on the chance of a marriage which,
              thinking as I now thought of her brother, should rather be prevented than sought; all
              this together most grievously convinced me that I had never understood her before, and
              that, as far as related to mind, it had been the creature of my own imagination, not
              Miss Crawford, that I had been too apt to dwell on for many months past. That,
              perhaps, it was best for me; I had less to regret in sacrificing a friendship,
              feelings, hopes which must, at any rate, have been torn from me now. And yet, that I
              must and would confess that, could I have restored her to what she had appeared to me
              before, I would infinitely prefer any increase of the pain of parting, for the sake of
              carrying with me the right of tenderness and esteem. This is what I said, the purport
              of it; but, as you may imagine, not spoken so collectedly or methodically as I have
              repeated it to you. She was astonished, exceedingly astonished — more than astonished.
              I saw her change countenance. She turned extremely red. I imagined I saw a mixture of
              many feelings: a great, though short struggle; half a wish of yielding to truths, half
              a sense of shame, but habit, habit carried it. She would have laughed if she could. It
              was a sort of laugh, as</span>
            <span id="said_no_04707" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">she answered,</span>
            <span id="said_no_04708" class="said certainty_9" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
              'A pretty good lecture,
              upon my word. Was it part of your last sermon? At this rate you will soon reform
              everybody at Mansfield and Thornton Lacey; and when I hear of you next, it may be as a
              celebrated preacher in some great society of Methodists, or as a missionary into
              foreign parts.'</span>
            <span id="said_no_04709" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">She tried to speak carelessly, but she
              was not so careless as she wanted to appear. I only said in reply, that from my heart
              I wished her well, and earnestly hoped that she might soon learn to think more justly,
              and not owe the most valuable knowledge we could any of us acquire, the knowledge of
              ourselves and of our duty, to the lessons of affliction, and immediately left the
              room. I had gone a few steps, Fanny, when I heard the door open behind me.</span>
            <span id="said_no_04710" class="said certainty_5" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
              'Mr. Bertram,'</span>
            <span id="said_no_04711" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">said she.</span>
            <span id="said_no_04712" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">I looked back.</span>
            <span id="said_no_04713" class="said certainty_5" data-toggle="tooltip" title="Edmund Bertram speaking as Mary Crawford" data-placement="auto top">
              'Mr. Bertram,'</span>
            <span id="said_no_04714" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">said she,</span>
            <span id="said_no_04715" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">with a smile; but it was a smile
              ill-suited to the conversation that had passed, a saucy playful smile, seeming to
              invite in order to subdue me; at least it appeared so to me. I resisted; it was the
              impulse of the moment to resist, and still walked on. I have since, sometimes, for a
              moment, regretted that I did not go back, but I know I was right, and such has been
              the end of our acquaintance. And what an acquaintance has it been! How have I been
              deceived! Equally in brother and sister deceived! I thank you for your patience,
              Fanny. This has been the greatest relief, and now we will have done."</span>
          
        </p>
        <p>
          <span id="said_no_04716" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">And such was Fanny's dependence on his
            words, that for five minutes she thought they <em>had</em> done. Then,
            however, it all came on again, or something very like it, and nothing less than Lady
            Bertram's rousing thoroughly up could really close such a conversation. Till that
            happened,</span>
          <span id="said_no_04717" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">they continued to talk of</span>
          <span id="said_no_04718" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_edfanny" data-placement="auto top">
            Miss Crawford alone,
            and how she had attached him, and how delightful nature had made her, and how excellent
            she would have been, had she fallen into good hands earlier.</span>
          <span id="said_no_04719" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny, now at liberty to speak openly,
            felt more than justified in adding to his knowledge of her real character, by some hint
            of what share his brother's state of health might be supposed to have in her wish for a
            complete reconciliation. This was not an agreeable intimation. Nature resisted it for a
            while. It would have been a vast deal pleasanter to have had her more disinterested in
            her attachment; but his vanity was not of a strength to fight long against
            reason.</span>
          <span id="said_no_04720" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He submitted to</span>
          <span id="said_no_04721" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            believe that Tom's illness
            had influenced her,</span>
          <span id="said_no_04722" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">only reserving for himself</span>
          <span id="said_no_04723" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">this consoling thought, that</span>
          <span id="said_no_04724" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            considering the many
            counteractions of opposing habits, she had certainly been <em>more</em>
            attached to him than could have been expected, and for his sake been more near doing
            right.</span>
          <span id="said_no_04725" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny thought exactly the same; and
            they were also quite agreed in their opinion of</span>
          <span id="said_no_04726" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_edfanny" data-placement="auto top">
            the lasting effect,
            the indelible impression, which such a disappointment must make on his mind.</span>
          <span id="said_no_04727" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            Time would undoubtedly
            abate somewhat of his sufferings, but still it was a sort of thing which he never could
            get entirely the better of; and as to his ever meeting with any other woman who could—
            it was too impossible to be named but with indignation. Fanny's friendship was all that
            he had to cling to.</span>
        </p>
      
  <div class="footnotes"> </div>
