
   
  
    
        <h3>Chapter 31</h3>
        <p>
          <span id="said_no_03083" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Henry Crawford was at Mansfield Park
            again the next morning, and at an earlier hour than common visiting warrants. The two
            ladies were together in the breakfast-room, and, fortunately for him, Lady Bertram was
            on the very point of quitting it as he entered. She was almost at the door, and not
            chusing by any means to take so much trouble in vain, she still went on, after a civil
            reception, a short sentence about</span>
          <span id="said_no_03084" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_ladyb" data-placement="auto top">
            being waited for,</span>
          <span id="said_no_03085" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and a</span>
          <span id="said_no_03086" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"Let Sir Thomas know"</span>
          <span id="said_no_03087" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">to the servant.</span>
        </p>
        <p>
          <span id="said_no_03088" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Henry, overjoyed to have her go, bowed
            and watched her off, and without losing another moment, turned instantly to Fanny, and,
            taking out some letters, said, with a most animated look,</span>
          <span id="said_no_03089" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I must acknowledge myself infinitely
            obliged to any creature who gives me such an opportunity of seeing you alone: I have
            been wishing it more than you can have any idea. Knowing as I do what your feelings as a
            sister are, I could hardly have borne that any one in the house should share with you in
            the first knowledge of the news I now bring. He is made. Your brother is a lieutenant. I
            have the infinite satisfaction of congratulating you on your brother's promotion. Here
            are the letters which announce it, this moment come to hand. You will, perhaps, like to
            see them."</span>
        </p>
        <p>
          <span id="said_no_03090" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny could not speak, but he did not
            want her to speak. To see the expression of her eyes, the change of her complexion, the
            progress of her feelings, their doubt, confusion, and felicity, was enough. She took the
            letters as he gave them.</span>
          <span id="said_no_03091" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The first was from the Admiral to
            inform his nephew, in a few words, of</span>
          <span id="said_no_03092" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_ad" data-placement="auto top">
            his having succeeded in the
            object he had undertaken, the promotion of young Price,</span>
          <span id="said_no_03093" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and enclosing two more, one from the
            Secretary of the First Lord to a friend, whom the Admiral had set to work in the
            business, the other from that friend to himself,</span>
          <span id="said_no_03094" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">by which it appeared that</span>
          <span id="said_no_03095" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_sirc" data-placement="auto top">
            his lordship had the very
            great happiness of attending to the recommendation of Sir Charles; that Sir Charles was
            much delighted in having such an opportunity of proving his regard for Admiral Crawford,
            and that the circumstance of Mr. William Price's commission as Second Lieutenant of H.M.
            Sloop Thrush being made out was spreading general joy through a wide circle of great
            people.</span>
        </p>
        <p>
          <span id="said_no_03096" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">While her hand was trembling under
            these letters, her eye running from one to the other, and her heart swelling with
            emotion, Crawford thus continued, with unfeigned eagerness, to express his interest in
            the event—</span>
        </p>
        <p>
          
            <span id="said_no_03097" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"I will not talk of my own
              happiness,"</span>
            <span id="said_no_03098" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said he,</span>
            <span id="said_no_03099" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"great as it is, for I think only
              of yours. Compared with you, who has a right to be happy? I have almost grudged myself
              my own prior knowledge of what you ought to have known before all the world. I have
              not lost a moment, however. The post was late this morning, but there has not been
              since a moment's delay. How impatient, how anxious, how wild I have been on the
              subject, I will not attempt to describe; how severely mortified, how cruelly
              disappointed, in not having it finished while I was in London! I was kept there from
              day to day in the hope of it, for nothing less dear to me than such an object would
              have detained me half the time from Mansfield. But though my uncle entered into my
              wishes with all the warmth I could desire, and exerted himself immediately, there were
              difficulties from the absence of one friend, and the engagements of another, which at
              last I could no longer bear to stay the end of, and knowing in what good hands I left
              the cause, I came away on Monday, trusting that many posts would not pass before I
              should be followed by such very letters as these. My uncle, who is the very best man
              in the world, has exerted himself, as I knew he would, after seeing your brother. He
              was delighted with him. I would not allow myself yesterday to say how delighted, or to
              repeat half that the Admiral said in his praise. I deferred it all till his praise
              should be proved the praise of a friend, as this day <em>does</em> prove
              it. <em>Now</em> I may say that even I could not require William Price
              to excite a greater interest, or be followed by warmer wishes and higher commendation,
              than were most voluntarily bestowed by my uncle after the evening they had passed
              together."</span>
          
        </p>
        <p>
          
            <span id="said_no_03100" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Has this been all <em>your</em> doing, then?"</span>
            <span id="said_no_03101" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> cried Fanny. </span>
            <span id="said_no_03102" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Good heaven! how very, very kind!
              Have you really— was it by <em>your</em> desire? I beg your pardon, but
              I am bewildered. Did Admiral Crawford apply? How was it? I am stupefied."</span>
          
        </p>
        <p>
          <span id="said_no_03103" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Henry was most happy to make it more
            intelligible, by beginning at an earlier stage, and explaining very particularly what he
            had done.</span>
          <span id="said_no_03104" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            His last journey to
            London had been undertaken with no other view than that of introducing her brother in
            Hill Street, and prevailing on the Admiral to exert whatever interest he might have for
            getting him on. This had been his business. He had communicated it to no creature: he
            had not breathed a syllable of it even to Mary; while uncertain of the issue, he could
            not have borne any participation of his feelings, but this had been his business;</span>
          <span id="said_no_03105" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and he spoke with such a glow of what
            his solicitude had been, and used such strong expressions, was so abounding in
            the</span>
          <span id="said_no_03106" class="said certainty_8" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            <em>deepest</em>
            <em>interest</em></span>
          <span id="said_no_03107" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">, in</span>
          <span id="said_no_03108" class="said certainty_8" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            <em>twofold</em>
            <em>motives</em></span>
          <span id="said_no_03109" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">, in</span>
          <span id="said_no_03110" class="said certainty_8" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            <em>views</em>
            <em>and</em>
            <em>wishes</em>
            <em>more</em>
            <em>than</em>
            <em>could</em>
            <em>be</em>
            <em>told</em></span>
          <span id="said_no_03111" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">, that Fanny could not have remained
            insensible of his drift, had she been able to attend; but her heart was so full and her
            senses still so astonished, that she could listen but imperfectly even to what he told
            her of William, and saying only when he paused, </span>
          
            <span id="said_no_03112" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"How kind! how very kind! Oh, Mr.
              Crawford, we are infinitely obliged to you! Dearest, dearest William!"</span>
            <span id="said_no_03113" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She jumped up and moved in haste
              towards the door, crying out,</span>
            <span id="said_no_03114" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I will go to my uncle. My uncle
              ought to know it as soon as possible."</span>
          
          <span id="said_no_03115" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">But this could not be suffered. The
            opportunity was too fair, and his feelings too impatient. He was after her immediately. </span>
          <span id="said_no_03116" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"She must not go, she must allow him
            five minutes longer,"</span>
          <span id="said_no_03117" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> and he took her hand and led her back
            to her seat, and was in the middle of his farther explanation, before she had suspected
            for what she was detained. When she did understand it, however, and found herself
            expected to believe that</span>
          <span id="said_no_03118" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            she had created
            sensations which his heart had never known before, and that everything he had done for
            William was to be placed to the account of his excessive and unequalled attachment to
            her,</span>
          <span id="said_no_03119" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> she was exceedingly distressed, and
            for some moments unable to speak.</span>
          <span id="said_no_03120" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She considered it</span>
          <span id="said_no_03121" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            all as nonsense, as mere
            trifling and gallantry, which meant only to deceive for the hour;</span>
          <span id="said_no_03122" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            she could not but feel
            that it was treating her improperly and unworthily, and in such a way as she had not
            deserved; but it was like himself, and entirely of a piece with what she had seen
            before;</span>
          <span id="said_no_03123" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and she would not allow herself to
            shew half the displeasure she felt, because he had been conferring an obligation, which
            no want of delicacy on his part could make a trifle to her. While her heart was still
            bounding with joy and gratitude on William's behalf, she could not be severely resentful
            of anything that injured only herself; and after having twice drawn back her hand, and
            twice attempted in vain to turn away from him, she got up, and said only, with much
            agitation, </span>
          <span id="said_no_03124" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Don't, Mr. Crawford, pray don't! I
            beg you would not. This is a sort of talking which is very unpleasant to me. I must go
            away. I cannot bear it."</span>
          <span id="said_no_03125" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">But he was still talking on,
            describing his affection, soliciting a return, and, finally, in words so plain as to
            bear but one meaning even to her, offering himself, hand, fortune, everything, to her
            acceptance. It was so; he had said it. Her astonishment and confusion increased; and
            though still not knowing how to suppose him serious, she could hardly stand. He pressed
            for an answer.</span>
        </p>
        <p>
          
            <span id="said_no_03126" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"No, no, no!"</span>
            <span id="said_no_03127" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she cried, hiding her face.</span>
            <span id="said_no_03128" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"This is all nonsense. Do not
              distress me. I can hear no more of this. Your kindness to William makes me more
              obliged to you than words can express; but I do not want, I cannot bear, I must not
              listen to such— No, no, don't think of me. But you are <em>not</em>
              thinking of me. I know it is all nothing."</span>
          
        </p>
        <p>
          <span id="said_no_03129" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She had burst away from him, and at
            that moment Sir Thomas was heard speaking to a servant in his way towards the room they
            were in. It was no time for farther assurances or entreaty, though to part with her at a
            moment when her modesty alone seemed, to his sanguine and preassured mind, to stand in
            the way of the happiness he sought, was a cruel necessity. She rushed out at an opposite
            door from the one her uncle was approaching, and was walking up and down the East room
            in the utmost confusion of contrary feeling, before Sir Thomas's politeness or apologies
            were over, or he had reached the beginning of the joyful intelligence which his visitor
            came to communicate.</span>
        </p>
        <p>
          <span id="said_no_03130" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She was feeling, thinking, trembling
            about everything; agitated, happy, miserable, infinitely obliged, absolutely
            angry.</span>
          <span id="said_no_03131" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            It was all beyond belief!
            He was inexcusable, incomprehensible! But such were his habits that he could do nothing
            without a mixture of evil. He had previously made her the happiest of human beings, and
            now he had insulted— she knew not what to say, how to class, or how to regard it. She
            would not have him be serious, and yet what could excuse the use of such words and
            offers, if they meant but to trifle?</span>
        </p>
        <p>
          <span id="said_no_03132" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            But William was a
            lieutenant. <em>That</em> was a fact beyond a doubt, and without an alloy.
            She would think of it for ever and forget all the rest. Mr. Crawford would certainly
            never address her so again: he must have seen how unwelcome it was to her; and in that
            case, how gratefully she could esteem him for his friendship to William!</span>
        </p>
        <p>
          <span id="said_no_03133" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She would not stir farther from the
            East room than the head of the great staircase, till she had satisfied herself of Mr.
            Crawford's having left the house; but when convinced of his being gone, she was eager to
            go down and be with her uncle, and have all the happiness of his joy as well as her own,
            and all the benefit of his information or his conjectures as to what would now be
            William's destination. Sir Thomas was as joyful as she could desire, and very kind and
            communicative; and she had so comfortable a talk with him about William as to make her
            feel as if nothing had occurred to vex her, till she found, towards the close, that Mr.
            Crawford was engaged to return and dine there that very day. This was a most unwelcome
            hearing, for</span>
          <span id="said_no_03134" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            though he might think
            nothing of what had passed, it would be quite distressing to her to see him again so
            soon.</span>
        </p>
        <p>
          <span id="said_no_03135" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She tried to get the better of it;
            tried very hard, as the dinner hour approached, to feel and appear as usual; but it was
            quite impossible for her not to look most shy and uncomfortable when their visitor
            entered the room. She could not have supposed it in the power of any concurrence of
            circumstances to give her so many painful sensations on the first day of hearing of
            William's promotion.</span>
        </p>
        <p>
          <span id="said_no_03136" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Crawford was not only in the room—
            he was soon close to her.</span>
          <span id="said_no_03137" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            He had a note to deliver
            from his sister.</span>
          <span id="said_no_03138" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny could not look at him, but there
            was no consciousness of past folly in his voice. She opened her note immediately, glad
            to have anything to do, and happy, as she read it, to feel that the fidgetings of her
            aunt Norris, who was also to dine there, screened her a little from view.</span>
        </p>
        
          
            <p>
              
                <span id="said_no_03139" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"My dear Fanny,—for so I may now
                  always call you, to the infinite relief of a tongue that has been stumbling at <em>Miss</em>
                  <em>Price</em> for at least the last six weeks— I cannot let my
                  brother go without sending you a few lines of general congratulation, and giving
                  my most joyful consent and approval. Go on, my dear Fanny, and without fear; there
                  can be no difficulties worth naming. I chuse to suppose that the assurance of my
                  consent will be something; so you may smile upon him with your sweetest smiles
                  this afternoon, and send him back to me even happier than he goes.—Yours
                  affectionately, M. C."</span>
              
            </p>
          
        
        <p>
          <span id="said_no_03140" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">These were not expressions to do Fanny
            any good; for though she read in too much haste and confusion to form the clearest
            judgment of Miss Crawford's meaning,</span>
          <span id="said_no_03141" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            it was evident that she
            meant to compliment her on her brother's attachment, and even to <em>appear</em> to believe it serious.</span>
          <span id="said_no_03142" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She did not know what to do, or what
            to think. There was wretchedness in the idea of its being serious; there was perplexity
            and agitation every way. She was distressed whenever Mr. Crawford spoke to her, and he
            spoke to her much too often; and she was afraid there was a something in his voice and
            manner in addressing her very different from what they were when he talked to the
            others. Her comfort in that day's dinner was quite destroyed: she could hardly eat
            anything; and when Sir Thomas good-humouredly observed that joy had taken away her
            appetite, she was ready to sink with shame, from the dread of Mr. Crawford's
            interpretation; for though nothing could have tempted her to turn her eyes to the right
            hand, where he sat, she felt that <em>his</em> were immediately directed
            towards her.</span>
        </p>
        <p>
          <span id="said_no_03143" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She was more silent than ever. She
            would hardly join even when William was the subject, for his commission came all from
            the right hand too, and there was pain in the connexion.</span>
        </p>
        <p>
          <span id="said_no_03144" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She thought Lady Bertram sat longer
            than ever, and began to be in despair of ever getting away; but at last they were in the
            drawing-room, and she was able to think as she would, while her aunts finished the
            subject of William's appointment in their own style.</span>
        </p>
        <p>
          <span id="said_no_03145" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Norris seemed as much delighted
            with the saving it would be to Sir Thomas as with any part of it.</span>
          <span id="said_no_03146" class="said certainty1" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">
            "<em>Now</em>
            William would be able to keep himself, which would make a vast difference to his uncle,
            for it was unknown how much he had cost his uncle; and, indeed, it would make some
            difference in <em>her</em> presents too. She was very glad that she had
            given William what she did at parting, very glad, indeed, that it had been in her power,
            without material inconvenience, just at that time to give him something rather
            considerable; that is, for <em>her</em>, with <em>her</em>
            limited means, for now it would all be useful in helping to fit up his cabin. She knew
            he must be at some expense, that he would have many things to buy, though to be sure his
            father and mother would be able to put him in the way of getting everything very cheap;
            but she was very glad she had contributed her mite towards it."</span>
        </p>
        <p>
          <span id="said_no_03147" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"I am glad you gave him
              something considerable,"</span> said Lady Bertram, with most unsuspicious calmness,
              <span id="said_no_03148" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"for <em>I</em>
              gave him only 10."</span>
        </p>
        <p>
          
            <span id="said_no_03149" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"Indeed!"</span>
            <span id="said_no_03150" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">cried Mrs. Norris, reddening.</span>
            <span id="said_no_03151" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"Upon my word, he must have gone off
              with his pockets well lined, and at no expense for his journey to London
              either!"</span>
          
        </p>
        <p>
          <span id="said_no_03152" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"Sir Thomas told me 10 would be
            enough."</span>
        </p>
        <p>
          <span id="said_no_03153" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Norris, being not at all inclined
            to question its sufficiency, began to take the matter in another point.</span>
        </p>
        <p>
          
            <span id="said_no_03154" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"It is amazing,"</span>
            <span id="said_no_03155" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said she, </span>
            <span id="said_no_03156" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"how much young people cost their
              friends, what with bringing them up and putting them out in the world! They little
              think how much it comes to, or what their parents, or their uncles and aunts, pay for
              them in the course of the year. Now, here are my sister Price's children; take them
              all together, I dare say nobody would believe what a sum they cost Sir Thomas every
              year, to say nothing of what <em>I</em> do for them."</span>
          
        </p>
        <p>
          <span id="said_no_03157" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"Very true, sister, as you say. But,
            poor things! they cannot help it; and you know it makes very little difference to Sir
            Thomas. Fanny, William must not forget my shawl if he goes to the East Indies; and I
            shall give him a commission for anything else that is worth having. I wish he may go to
            the East Indies, that I may have my shawl. I think I will have two shawls,
            Fanny."</span>
        </p>
        <p>
          <span id="said_no_03158" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny,</span>
          <span id="said_no_03159" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">meanwhile, speaking only when she
            could not help it, was very earnestly</span>
          <span id="said_no_03160" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">trying to understand what Mr. and
            Miss Crawford were at.</span>
          <span id="said_no_03161" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            There was everything in
            the world <em>against</em> their being serious but his words and manner.
            Everything natural, probable, reasonable, was against it; all their habits and ways of
            thinking, and all her own demerits.</span>
          <span id="said_no_03162" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
             How could <em>she</em> have excited serious attachment in a man who had seen so many,
            and been admired by so many, and flirted with so many, infinitely her superiors; who
            seemed so little open to serious impressions, even where pains had been taken to please
            him; who thought so slightly, so carelessly, so unfeelingly on all such points; who was
            everything to everybody, and seemed to find no one essential to him? And farther, how
            could it be supposed that his sister, with all her high and worldly notions of
            matrimony, would be forwarding anything of a serious nature in such a quarter? Nothing
            could be more unnatural in either.</span>
          <span id="said_no_03163" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny was ashamed of her own
            doubts.</span>
          <span id="said_no_03164" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            Everything might be
            possible rather than serious attachment, or serious approbation of it toward her.</span>
          <span id="said_no_03165" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She had quite convinced herself of
            this before Sir Thomas and Mr. Crawford joined them. The difficulty was in maintaining
            the conviction quite so absolutely after Mr. Crawford was in the room; for once or twice
            a look seemed forced on her which she did not know how to class among the common
            meaning; in any other man, at least, she would have said that it meant something very
            earnest, very pointed. But she still tried to believe it</span>
          <span id="said_no_03166" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            no more than what he
            might often have expressed towards her cousins and fifty other women.</span>
        </p>
        <p>
          <span id="said_no_03167" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She thought he was wishing to speak to
            her unheard by the rest. She fancied he was trying for it the whole evening at
            intervals, whenever Sir Thomas was out of the room, or at all engaged with Mrs. Norris,
            and she carefully refused him every opportunity.</span>
        </p>
        <p>
          <span id="said_no_03168" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">At last— it seemed an at last to
            Fanny's nervousness, though not remarkably late— he began to talk of going away; but the
            comfort of the sound was impaired by his turning to her the next moment, and
            saying,</span>
          <span id="said_no_03169" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"Have you nothing to send to Mary? No
            answer to her note? She will be disappointed if she receives nothing from you. Pray
            write to her, if it be only a line."</span>
        </p>
        <p>
          
            <span id="said_no_03170" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Oh yes! certainly,"</span>
            <span id="said_no_03171" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> cried Fanny, rising in haste, the
              haste of embarrassment and of wanting to get away— </span>
            <span id="said_no_03172" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I will write directly."</span>
          
        </p>
        <p>
          <span id="said_no_03173" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She went accordingly to the table,
            where she was in the habit of writing for her aunt, and prepared her materials without
            knowing what in the world to say. She had read Miss Crawford's note only once, and how
            to reply to anything so imperfectly understood was most distressing. Quite unpractised
            in such sort of note-writing, had there been time for scruples and fears as to style she
            would have felt them in abundance: but something must be instantly written; and with
            only one decided feeling, that of</span>
          <span id="said_no_03174" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            wishing not to appear to
            think anything really intended,</span>
          <span id="said_no_03175" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">she wrote thus, in great trembling
            both of spirits and hand—</span>
        </p>
        <p>
          <span id="said_no_03176" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I am very much obliged to you, my
            dear Miss Crawford, for your kind congratulations, as far as they relate to my dearest
            William. The rest of your note I know means nothing; but I am so unequal to anything of
            the sort, that I hope you will excuse my begging you to take no farther notice. I have
            seen too much of Mr. Crawford not to understand his manners; if he understood me as
            well, he would, I dare say, behave differently. I do not know what I write, but it would
            be a great favour of you never to mention the subject again. With thanks for the honour
            of your note, I remain, dear Miss Crawford, etc., etc."</span>
        </p>
        <p>
          <span id="said_no_03177" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The conclusion was scarcely
            intelligible from increasing fright, for she found that Mr. Crawford, under pretence of
            receiving the note, was coming towards her.</span>
        </p>
        <p>
          
            <span id="said_no_03178" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"You cannot think I mean to hurry
              you,"</span>
            <span id="said_no_03179" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said he, in an undervoice,
              perceiving the amazing trepidation with which she made up the note,</span>
            <span id="said_no_03180" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"you cannot think I have any such
              object. Do not hurry yourself, I entreat."</span>
          
        </p>
        <p>
          <span id="said_no_03181" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Oh! I thank you; I have quite done,
            just done; it will be ready in a moment; I am very much obliged to you; if you will be
            so good as to give <em>that</em> to Miss Crawford."</span>
        </p>
        <p>
          <span id="said_no_03182" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The note was held out, and must be
            taken; and as she instantly and with averted eyes walked towards the fireplace, where
            sat the others, he had nothing to do but to go in good earnest.</span>
        </p>
        <p>
          <span id="said_no_03183" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny thought</span>
          <span id="said_no_03184" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            she had never known a
            day of greater agitation, both of pain and pleasure; but happily the pleasure was not of
            a sort to die with the day; for every day would restore the knowledge of William's
            advancement, whereas the pain, she hoped, would return no more.</span>
          <span id="said_no_03185" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            She had no doubt that
            her note must appear excessively ill-written, that the language would disgrace a child,
            for her distress had allowed no arrangement; but at least it would assure them both of
            her being neither imposed on nor gratified by Mr. Crawford's attentions.</span>
        </p>
      
  <div class="footnotes"> </div>
