
   
  
    
        <h3>Chapter 6</h3>
        <p>
          <span id="said_no_00403" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Bertram set off for————, and Miss
            Crawford was prepared to find a great chasm in their society, and to miss him decidedly
            in the meetings which were now becoming almost daily between the families; and on their
            all dining together at the Park soon after his going, she retook her chosen place near
            the bottom of the table, fully expecting to feel a most melancholy difference in the
            change of masters.</span>
          <span id="said_no_00404" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mary" data-placement="auto top">It would be a very flat business,
            she was sure.</span>
          <span id="said_no_00405" class="said indirect said_tooltip intro_to_fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">
            In comparison with his
            brother, Edmund would have nothing to say. The soup would be sent round in a most
            spiritless manner, wine drank without any smiles or agreeable trifling, and the venison
            cut up without supplying one pleasant anecdote of any former haunch, or a single
            entertaining story, about "my friend such a one."</span>
          <span id="said_no_00406" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">She must try to find amusement in what
            was passing at the upper end of the table, and in observing Mr. Rushworth, who was now
            making his appearance at Mansfield for the first time since the Crawfords' arrival. He
            had been visiting a friend in the neighbouring county, and that friend having recently
            had his grounds laid out by an improver, Mr. Rushworth was returned with his head full
            of the subject, and very eager to be improving his own place in the same way; and though
            not saying much to the purpose, could talk of nothing else. The subject had been already
            handled in the drawing-room; it was revived in the dining-parlour. Miss Bertram's
            attention and opinion was evidently his chief aim; and though her deportment showed
            rather conscious superiority than any solicitude to oblige him, the mention of Sotherton
            Court, and the ideas attached to it, gave her a feeling of complacency, which prevented
            her from being very ungracious.</span>
        </p>
        <p>
          
            <span id="said_no_00407" class="said" data-toggle="tooltip" title="Mr. Rushworth" data-placement="auto top">"I wish you could see
              Compton,"</span>
            <span id="said_no_00408" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said he;</span>
            <span id="said_no_00409" class="said" data-toggle="tooltip" title="Mr. Rushworth" data-placement="auto top">"it is the most complete thing! I
              never saw a place so altered in my life. I told Smith I did not know where I was. The
              approach <em>now</em>, is one of the finest things in the country: you
              see the house in the most surprising manner. I declare, when I got back to Sotherton
              yesterday, it looked like a prison —quite a dismal old prison."</span>
          
        </p>
        <p>
          
            <span id="said_no_00410" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"Oh, for shame!"</span>
            <span id="said_no_00411" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">cried Mrs. Norris. </span>
            <span id="said_no_00412" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"A prison indeed? Sotherton Court is
              the noblest old place in the world."</span>
          
        </p>
        <p>
          <span id="said_no_00413" class="said" data-toggle="tooltip" title="Mr. Rushworth" data-placement="auto top">"It wants improvement, ma'am, beyond
            anything. I never saw a place that wanted so much improvement in my life; and it is so
            forlorn that I do not know what can be done with it."</span>
        </p>
        <p>
          
            <span id="said_no_00414" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"No wonder that Mr. Rushworth should
              think so at present,"</span>
            <span id="said_no_00415" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Mrs. Grant to Mrs. Norris, with
              a smile;</span>
            <span id="said_no_00416" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"but depend upon it, Sotherton will
              have <em>every</em> improvement in time which his heart can
              desire."</span>
          
        </p>
        <p>
          
            <span id="said_no_00417" class="said" data-toggle="tooltip" title="Mr. Rushworth" data-placement="auto top">"I must try to do something with
              it,"</span>
            <span id="said_no_00418" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Mr. Rushworth,</span>
            <span id="said_no_00419" class="said" data-toggle="tooltip" title="Mr. Rushworth" data-placement="auto top">"but I do not know what. I hope I
              shall have some good friend to help me."</span>
          
        </p>
        <p>
          
            <span id="said_no_00420" class="said" data-toggle="tooltip" title="Maria Bertram" data-placement="auto top">"Your best friend upon such an
              occasion,"</span>
            <span id="said_no_00421" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Miss Bertram calmly,</span>
            <span id="said_no_00422" class="said" data-toggle="tooltip" title="Maria Bertram" data-placement="auto top">"would be Mr. Repton, I
              imagine."</span>
          
        </p>
        <p>
          <span id="said_no_00423" class="said" data-toggle="tooltip" title="Mr. Rushworth" data-placement="auto top">"That is what I was thinking of. As he
            has done so well by Smith, I think I had better have him at once. His terms are five
            guineas a day."</span>
        </p>
        <p>
          
            <span id="said_no_00424" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"Well, and if they were <em>ten</em>,"</span>
            <span id="said_no_00425" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> cried Mrs. Norris, </span>
            <span id="said_no_00426" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"I am sure <em>you</em> need not regard it. The expense need not be any impediment. If I were you,
              I should not think of the expense. I would have everything done in the best style, and
              made as nice as possible. Such a place as Sotherton Court deserves everything that
              taste and money can do. You have space to work upon there, and grounds that will well
              reward you. For my own part, if I had anything within the fiftieth part of the size of
              Sotherton, I should be always planting and improving, for naturally I am excessively
              fond of it. It would be too ridiculous for me to attempt anything where I am now, with
              my little half acre. It would be quite a burlesque. But if I had more room, I should
              take a prodigious delight in improving and planting. We did a vast deal in that way at
              the Parsonage: we made it quite a different place from what it was when we first had
              it. You young ones do not remember much about it, perhaps; but if dear Sir Thomas were
              here, he could tell you what improvements we made: and a great deal more would have
              been done, but for poor Mr. Norris's sad state of health. He could hardly ever get
              out, poor man, to enjoy anything, and <em>that</em> disheartened me from
              doing several things that Sir Thomas and I used to talk of. If it had not been for <em>that</em>, we should have carried on the garden wall, and made the
              plantation to shut out the churchyard, just as Dr. Grant has done. We were always
              doing something as it was. It was only the spring twelvemonth before Mr. Norris's
              death that we put in the apricot against the stable wall, which is now grown such a
              noble tree, and getting to such perfection, sir,"</span>
          
          <span id="said_no_00427" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">addressing herself then to Dr.
            Grant.</span>
        </p>
        <p>
          
            <span id="said_no_00428" class="said" data-toggle="tooltip" title="Dr. Grant" data-placement="auto top">"The tree thrives well, beyond a
              doubt, madam,"</span>
            <span id="said_no_00429" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> replied Dr. Grant.</span>
            <span id="said_no_00430" class="said" data-toggle="tooltip" title="Dr. Grant" data-placement="auto top">"The soil is good; and I never pass
              it without regretting that the fruit should be so little worth the trouble of
              gathering."</span>
          
        </p>
        <p><span id="said_no_00431" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"Sir, it is a Moor Park, we bought it
            as a Moor Park, and it cost us— that is, it was a present from Sir Thomas, but I saw the
            bill—and I know it cost seven shillings, and was charged as a Moor Park."</span></p>
        <p>
          
            <span id="said_no_00432" class="said" data-toggle="tooltip" title="Dr. Grant" data-placement="auto top">"You were imposed on, ma'am,"</span>
            <span id="said_no_00433" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">replied Dr. Grant: </span>
            <span id="said_no_00434" class="said" data-toggle="tooltip" title="Dr. Grant" data-placement="auto top">"these potatoes have as much the
              flavour of a Moor Park apricot as the fruit from that tree. It is an insipid fruit at
              the best; but a good apricot is eatable, which none from my garden are."</span>
          
        </p>
        <p>
          
            <span id="said_no_00435" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"The truth is, ma'am,"</span>
            <span id="said_no_00436" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Mrs. Grant, pretending to
              whisper across the table to Mrs. Norris, </span>
            <span id="said_no_00437" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"that Dr. Grant hardly knows what
              the natural taste of our apricot is: he is scarcely ever indulged with one, for it is
              so valuable a fruit; with a little assistance, and ours is such a remarkably large,
              fair sort, that what with early tarts and preserves, my cook contrives to get them
              all."</span>
          
        </p>
        <p>
          <span id="said_no_00438" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Norris, who had begun to redden,
            was appeased; and, for a little while, other subjects took place of the improvements of
            Sotherton. Dr. Grant and Mrs. Norris were seldom good friends; their acquaintance had
            begun in dilapidations, and their habits were totally dissimilar.</span>
        </p>
        <p>
          <span id="said_no_00439" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">After a short interruption Mr.
            Rushworth began again.</span>
          <span id="said_no_00440" class="said" data-toggle="tooltip" title="Mr. Rushworth" data-placement="auto top">"Smith's place is the admiration of
            all the country; and it was a mere nothing before Repton took it in hand. I think I
            shall have Repton."</span>
        </p>
        <p>
          
            <span id="said_no_00441" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"Mr. Rushworth,"</span>
            <span id="said_no_00442" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Lady Bertram,</span>
            <span id="said_no_00443" class="said" data-toggle="tooltip" title="Lady Bertram" data-placement="auto top">"if I were you, I would have a very
              pretty shrubbery. One likes to get out into a shrubbery in fine weather."</span>
          
        </p>
        <p>
          <span id="said_no_00444" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Rushworth was eager to assure her
            ladyship of his acquiescence, and tried to make out something complimentary; but,
            between his submission to <em>her</em> taste, and his having always
            intended the same himself, with the superadded objects of professing attention to the
            comfort of ladies in general, and of insinuating that there was one only whom he was
            anxious to please, he grew puzzled, and Edmund was glad to put an end to his speech by a
            proposal of wine. Mr. Rushworth, however, though not usually a great talker, had still
            more to say on the subject next his heart. </span>
          <span id="said_no_00445" class="said" data-toggle="tooltip" title="Mr. Rushworth" data-placement="auto top">"Smith has not much above a hundred
            acres altogether in his grounds, which is little enough, and makes it more surprising
            that the place can have been so improved. Now, at Sotherton we have a good seven
            hundred, without reckoning the water meadows; so that I think, if so much could be done
            at Compton, we need not despair. There have been two or three fine old trees cut down,
            that grew too near the house, and it opens the prospect amazingly, which makes me think
            that Repton, or anybody of that sort, would certainly have the avenue at Sotherton down:
            the avenue that leads from the west front to the top of the hill, you know,"</span>
          <span id="said_no_00446" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">turning to Miss Bertram particularly
            as he spoke. But Miss Bertram thought it most becoming to reply—</span>
        </p>
        <p>
          <span id="said_no_00447" class="said" data-toggle="tooltip" title="Maria Bertram" data-placement="auto top">"The avenue! Oh! I do not recollect
            it. I really know very little of Sotherton."</span>
        </p>
        <p>
          <span id="said_no_00448" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny, who was sitting on the other
            side of Edmund, exactly opposite Miss Crawford, and who had been attentively listening,
            now looked at him, and said in a low voice—</span>
        </p>
        <p>
          <span id="said_no_00449" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Cut down an avenue! What a pity!
            Does it not make you think of Cowper? 'Ye fallen avenues, once more I mourn your fate
            unmerited.'"</span>
        </p>
        <p>
          <span id="said_no_00450" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">He smiled as he answered, </span>
          <span id="said_no_00451" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I am afraid the avenue stands a bad
            chance, Fanny."</span>
        </p>
        <p><span id="said_no_00452" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"I should like to see Sotherton
            before it is cut down, to see the place as it is now, in its old state; but I do not
            suppose I shall."</span></p>
        <p><span id="said_no_00453" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">Have you never been there? No, you
            never can; and, unluckily, it is out of distance for a ride. I wish we could contrive
            it."</span></p>
        <p><span id="said_no_00454" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"Oh! it does not signify. Whenever I
            do see it, you will tell me how it has been altered."</span></p>
        <p>
          
            <span id="said_no_00455" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I collect,"</span>
            <span id="said_no_00456" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Miss Crawford, </span>
            <span id="said_no_00457" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"that Sotherton is an old place, and
              a place of some grandeur. In any particular style of building?"</span>
          
        </p>
        <p><span id="said_no_00458" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"The house was built in Elizabeth's
            time, and is a large, regular, brick building; heavy, but respectable looking, and has
            many good rooms. It is ill placed. It stands in one of the lowest spots of the park; in
            that respect, unfavourable for improvement. But the woods are fine, and there is a
            stream, which, I dare say, might be made a good deal of. Mr. Rushworth is quite right, I
            think, in meaning to give it a modern dress, and I have no doubt that it will be all
            done extremely well."</span></p>
        <p>
          <span id="said_no_00459" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Miss Crawford listened with
            submission, and said to herself, </span>
          <span id="said_no_00460" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"He is a well-bred man; he makes the
            best of it."</span>
        </p>
        <p><span id="said_no_00461" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I do not wish to influence Mr.
            Rushworth,"</span>
          <span id="said_no_00462" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">he continued;</span>
          <span id="said_no_00463" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"but, had I a place to new fashion, I
            should not put myself into the hands of an improver. I would rather have an inferior
            degree of beauty, of my own choice, and acquired progressively. I would rather abide by
            my own blunders than by his."</span></p>
        <p><span id="said_no_00464" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"<em>You</em> would
            know what you were about, of course; but that would not suit <em>me</em>.
            I have no eye or ingenuity for such matters, but as they are before me; and had I a
            place of my own in the country, I should be most thankful to any Mr. Repton who would
            undertake it, and give me as much beauty as he could for my money; and I should never
            look at it till it was complete."</span></p>
        <p>
          <span id="said_no_00465" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"It would be delightful to <em>me</em> to see the progress of it all,"</span>
          <span id="said_no_00466" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Fanny.</span>
        </p>
        <p>
          <span id="said_no_00467" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Ay, you have been brought up to it.
            It was no part of my education; and the only dose I ever had, being administered by not
            the first favourite in the world, has made me consider improvements <em>in
              hand</em> as the greatest of nuisances. Three years ago the Admiral, my honoured
            uncle, bought a cottage at Twickenham for us all to spend our summers in; and my aunt
            and I went down to it quite in raptures; but it being excessively pretty, it was soon
            found necessary to be improved, and for three months we were all dirt and confusion,
            without a gravel walk to step on, or a bench fit for use. I would have everything as
            complete as possible in the country, shrubberies and flower-gardens, and rustic seats
            innumerable: but it must all be done without my care. Henry is different; he loves to be
            doing."</span>
        </p>
        <p>
          <span id="said_no_00468" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund was sorry to hear Miss
            Crawford, whom he was much disposed to admire, speak so freely of her uncle. It did not
            suit his sense of propriety, and he was silenced, till induced by further smiles and
            liveliness to put the matter by for the present.</span>
        </p>
        <p><span id="said_no_00469" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Mr. Bertram,"</span>
          <span id="said_no_00470" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said she, </span>
          <span id="said_no_00471" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I have tidings of my harp at last. I
            am assured that it is safe at Northampton; and there it has probably been these ten
            days, in spite of the solemn assurances we have so often received to the contrary."
            Edmund expressed his pleasure and surprise. "The truth is, that our inquiries were too
            direct; we sent a servant, we went ourselves: this will not do seventy miles from
            London; but this morning we heard of it in the right way. It was seen by some farmer,
            and he told the miller, and the miller told the butcher, and the butcher's son-in-law
            left word at the shop."</span></p>
        <p><span id="said_no_00472" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"I am very glad that you have heard of
            it, by whatever means, and hope there will be no further delay."</span></p>
        <p><span id="said_no_00473" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I am to have it to-morrow; but how
            do you think it is to be conveyed? Not by a wagon or cart: oh no! nothing of that kind
            could be hired in the village. I might as well have asked for porters and a
            handbarrow."</span></p>
        <p><span id="said_no_00474" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"You would find it difficult, I dare
            say, just now, in the middle of a very late hay harvest, to hire a horse and
            cart?"</span></p>
        <p><span id="said_no_00475" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I was astonished to find what a
            piece of work was made of it! To want a horse and cart in the country seemed impossible,
            so I told my maid to speak for one directly; and as I cannot look out of my
            dressing-closet without seeing one farmyard, nor walk in the shrubbery without passing
            another, I thought it would be only ask and have, and was rather grieved that I could
            not give the advantage to all. Guess my surprise, when I found that I had been asking
            the most unreasonable, most impossible thing in the world; had offended all the farmers,
            all the labourers, all the hay in the parish! As for Dr. Grant's bailiff, I believe I
            had better keep out of <em>his</em> way; and my brother-in-law himself,
            who is all kindness in general, looked rather black upon me when he found what I had
            been at."</span></p>
        <p><span id="said_no_00476" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"You could not be expected to have
            thought on the subject before; but when you <em>do</em> think of it, you
            must see the importance of getting in the grass. The hire of a cart at any time might
            not be so easy as you suppose: our farmers are not in the habit of letting them out;
            but, in harvest, it must be quite out of their power to spare a horse."</span></p>
        <p><span id="said_no_00477" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I shall understand all your ways in
            time; but, coming down with the true London maxim, that everything is to be got with
            money, I was a little embarrassed at first by the sturdy independence of your country
            customs. However, I am to have my harp fetched to-morrow.Henry, who is good-nature
            itself, has offered to fetch it in his barouche. Will it not be honourably
            conveyed?"</span></p>
        <p>
          <span id="said_no_00478" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund spoke of</span>
          <span id="said_no_00479" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            the harp as his favourite
            instrument,</span>
          <span id="said_no_00480" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and</span>
          <span id="said_no_00481" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">hoped to</span>
          <span id="said_no_00482" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_ed" data-placement="auto top">
            be soon allowed to hear
            her.</span>
          <span id="said_no_00483" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny</span>
          <span id="said_no_00484" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_fanny" data-placement="auto top">
            had never heard the harp
            at all, and wished for it very much.</span>
        </p>
        <p>
          
            <span id="said_no_00485" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"I shall be most happy to play to
              you both,"</span>
            <span id="said_no_00486" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Miss Crawford;</span>
            <span id="said_no_00487" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"at least as long as you can like to
              listen: probably much longer, for I dearly love music myself, and where the natural
              taste is equal the player must always be best off, for she is gratified in more ways
              than one. Now, Mr. Bertram, if you write to your brother, I entreat you to tell him
              that my harp is come: he heard so much of my misery about it. And you may say, if you
              please, that I shall prepare my most plaintive airs against his return, in compassion
              to his feelings, as I know his horse will lose."</span>
          
        </p>
        <p><span id="said_no_00488" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"If I write, I will say whatever you
            wish me; but I do not, at present, foresee any occasion for writing."</span></p>
        <p><span id="said_no_00489" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"No, I dare say, nor if he were to be
            gone a twelvemonth, would you ever write to him, nor he to you, if it could be helped.
            The occasion would never be foreseen. What strange creatures brothers are! You would not
            write to each other but upon the most urgent necessity in the world; and when obliged to
            take up the pen to say that such a horse is ill, or such a relation dead, it is done in
            the fewest possible words. You have but one style among you. I know it perfectly. Henry,
            who is in every other respect exactly what a brother should be, who loves me, consults
            me, confides in me, and will talk to me by the hour together, has never yet turned the
            page in a letter; and very often it is nothing more than</span>—<span id="said_no_00490" class="said indirect said_tooltip certainty_3" data-toggle="tooltip" title="Mary Crawford speaking as Henry Crawford" data-placement="auto top">
            'Dear Mary, I am just
            arrived. Bath seems full, and everything as usual. Yours sincerely.' That is the true
            manly style; that is a complete brother's letter."</span></p>
        <p>
          
            <span id="said_no_00491" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"When they are at a distance from
              all their family,"</span>
            <span id="said_no_00492" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Fanny, colouring for William's
              sake, </span>
            <span id="said_no_00493" class="said" data-toggle="tooltip" title="Fanny Price" data-placement="auto top">"they can write long
              letters."</span>
          
        </p>
        <p>
          
            <span id="said_no_00494" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Miss Price has a brother at
              sea,"</span>
            <span id="said_no_00495" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> said Edmund, </span>
            <span id="said_no_00496" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"whose excellence as a correspondent
              makes her think you too severe upon us."</span>
          
        </p>
        <p><span id="said_no_00497" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"At sea, has she? In the king's
            service, of course?"</span>
        </p>
        <p>
          <span id="said_no_00498" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Fanny would rather have had Edmund
            tell the story, but his determined silence obliged her to relate her brother's
            situation: her voice was animated in speaking of his profession, and the foreign
            stations he had been on; but she could not mention the number of years that he had been
            absent without tears in her eyes. Miss Crawford civilly wished him an early
            promotion.</span>
        </p>
        <p>
          
            <span id="said_no_00499" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Do you know anything of my cousin's
              captain?"</span>
            <span id="said_no_00500" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Edmund; </span>
            <span id="said_no_00501" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"Captain Marshall? You have a large
              acquaintance in the navy, I conclude?"</span>
          
        </p>
        <p><span id="said_no_00502" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Among admirals, large enough;
            but,"</span>
          <span id="said_no_00503" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">with an air of grandeur,</span>
          <span id="said_no_00504" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"we know very little of the inferior
            ranks. Post-captains may be very good sort of men, but they do not belong to <em>us</em>. Of various admirals I could tell you a great deal: of them and
            their flags, and the gradation of their pay, and their bickerings and jealousies. But,
            in general, I can assure you that they are all passed over, and all very ill used.
            Certainly, my home at my uncle's brought me acquainted with a circle of admirals. Of <em>Rears</em> and <em>Vices</em> I saw enough. Now do not be
            suspecting me of a pun, I entreat."</span></p>
        <p>
          <span id="said_no_00505" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund again felt grave, and only
            replied, </span>
          <span id="said_no_00506" class="said" data-toggle="tooltip" title="Edmund Bertram" data-placement="auto top">"It is a noble profession."</span>
        </p>
        <p><span id="said_no_00507" class="said" data-toggle="tooltip" title="Mary Crawford" data-placement="auto top">"Yes, the profession is well enough
            under two circumstances: if it make the fortune, and there be discretion in spending it;
            but, in short, it is not a favourite profession of mine. It has never worn an amiable
            form to <em>me</em>."</span></p>
        <p>
          <span id="said_no_00508" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Edmund reverted to the harp, and was
            again very happy in the prospect of hearing her play.</span>
        </p>
        <p>
          <span id="said_no_00509" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">The subject of improving grounds,
            meanwhile, was still under consideration among the others; and Mrs. Grant could not help
            addressing her brother, though it was calling his attention from Miss Julia
            Bertram.</span>
        </p>
        <p>
          <span id="said_no_00510" class="said" data-toggle="tooltip" title="Mrs. Grant" data-placement="auto top">"My dear Henry, have <em>you</em> nothing to say? You have been an improver yourself, and from what I hear of
            Everingham, it may vie with any place in England. Its natural beauties, I am sure, are
            great. Everingham, as it <em>used</em> to be, was perfect in my
            estimation: such a happy fall of ground, and such timber! What would I not give to see
            it again?"</span>
        </p>
        <p>
          
            <span id="said_no_00511" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"Nothing could be so gratifying to
              me as to hear your opinion of it,"</span>
            <span id="said_no_00512" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top"> was his answer; </span>
            <span id="said_no_00513" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"but I fear there would be some
              disappointment: you would not find it equal to your present ideas. In extent, it is a
              mere nothing; you would be surprised at its insignificance; and, as for improvement,
              there was very little for me to do —too little: I should like to have been busy much
              longer."</span>
          
        </p>
        <p>
          <span id="said_no_00514" class="said" data-toggle="tooltip" title="Julia Bertram" data-placement="auto top">"You are fond of the sort of
            thing?"</span>
          <span id="said_no_00515" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Julia.</span>
        </p>
        <p>
          <span id="said_no_00516" class="said" data-toggle="tooltip" title="Henry Crawford" data-placement="auto top">"Excessively; but what with the
            natural advantages of the ground, which pointed out, even to a very young eye, what
            little remained to be done, and my own consequent resolutions, I had not been of age
            three months before Everingham was all that it is now. My plan was laid at Westminster,
            a little altered, perhaps, at Cambridge, and at one-and-twenty executed. I am inclined
            to envy Mr. Rushworth for having so much happiness yet before him. I have been a
            devourer of my own."</span>
        </p>
        <p>
          <span id="said_no_00517" class="said" data-toggle="tooltip" title="Julia Bertram" data-placement="auto top">"Those who see quickly, will
              resolve quickly, and act quickly,"</span>
            <span id="said_no_00518" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">said Julia.</span>
            <span id="said_no_00519" class="said" data-toggle="tooltip" title="Julia Bertram" data-placement="auto top">"<em>You</em> can
              never want employment. Instead of envying Mr. Rushworth, you should assist him with
              your opinion."</span>
        </p>
        <p>
          <span id="said_no_00520" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mrs. Grant</span>, <span id="said_no_00521" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">hearing the latter part of this speech,
            enforced it warmly,</span>
          <span id="said_no_00522" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">persuaded that</span>
          <span id="said_no_00523" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_mrsg" data-placement="auto top">
            no judgment could be
            equal to her brother's;</span>
          <span id="said_no_00524" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and as</span>
          <span id="said_no_00525" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Miss Bertram</span>
          <span id="said_no_00526" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">caught at the idea likewise, and gave
            it her full support,</span>
          <span id="said_no_00527" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">declaring that,</span>
          <span id="said_no_00528" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_maria" data-placement="auto top">
            in her opinion, it was
            infinitely better to consult with friends and disinterested advisers, than immediately
            to throw the business into the hands of a professional man,</span>
          <span id="said_no_00529" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Rushworth was very ready
            to</span>
          <span id="said_no_00530" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_rush" data-placement="auto top">
            request the favour of Mr.
            Crawford's assistance;</span>
          <span id="said_no_00531" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">and Mr. Crawford, after properly
            depreciating his own abilities, </span>
          <span id="said_no_00532" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_henry" data-placement="auto top">
            was quite at his service
            in any way that could be useful.</span>
          <span id="said_no_00533" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Mr. Rushworth then began to
            propose</span>
          <span id="said_no_00534" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.006.nar_rush" data-placement="auto top">
            Mr. Crawford's doing him
            the honour of coming over to Sotherton, and taking a bed there;</span>
          <span id="said_no_00535" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">when Mrs. Norris, as if reading in her
            two nieces' minds their little approbation of a plan which was to take Mr. Crawford
            away, interposed with an amendment.</span>
        </p>
        <p>
          <span id="said_no_00536" class="said" data-toggle="tooltip" title="Mrs. Norris" data-placement="auto top">"There can be no doubt of Mr.
            Crawford's willingness; but why should not more of us go? Why should not we make a
            little party? Here are many that would be interested in your improvements, my dear Mr.
            Rushworth, and that would like to hear Mr. Crawford's opinion on the spot, and that
            might be of some small use to you with <em>their</em> opinions; and, for
            my own part, I have been long wishing to wait upon your good mother again; nothing but
            having no horses of my own could have made me so remiss; but now I could go and sit a
            few hours with Mrs. Rushworth, while the rest of you walked about and settled things,
            and then we could all return to a late dinner here, or dine at Sotherton, just as might
            be most agreeable to your mother, and have a pleasant drive home by moonlight. I dare
            say Mr. Crawford would take my two nieces and me in his barouche, and Edmund can go on
            horseback, you know, sister, and Fanny will stay at home with you."</span>
        </p>
        <p>
          <span id="said_no_00537" class="said" data-toggle="tooltip" title="aus.006.nar" data-placement="auto top">Lady Bertram made no objection; and
            every one concerned in the going was forward in expressing their ready concurrence,
            excepting Edmund, who heard it all and said nothing.</span>
        </p>
      
  <div class="footnotes"> </div>
