<?xml version="1.0"?>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="all_novels_speakerData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#all_novels_speakerData_body" aria-expanded="true" aria-controls="all_novels_speakerData_body">Character Direct Speech</a>
      </h4>
    </div>
    <div id="all_novels_speakerData_body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="all_novels_speakerData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.001.nar" role="button" data="all_novels">Narrator (Pride And Prejudice)</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar" role="button" data="all_novels">Narrator (Mansfield Park)</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar" role="button" data="all_novels">Narrator (Emma)</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar" role="button" data="all_novels">Narrator (Sense And Sensibility)</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar" role="button" data="all_novels">Narrator (Persuasion)</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar" role="button" data="all_novels">Narrator (Northanger Abbey)</a>
        <a class="btn btn-default btn-xs" href="#aus.005.emma" role="button" data="all_novels">Emma Woodhouse</a>
        <a class="btn btn-default btn-xs" href="#aus.001.eliz" role="button" data="all_novels">Elizabeth Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.004.eli" role="button" data="all_novels">Elinor Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.003.cat" role="button" data="all_novels">Catherine Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.006.ed" role="button" data="all_novels">Edmund Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.005.george" role="button" data="all_novels">Mr. Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mary" role="button" data="all_novels">Mary Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.fanny" role="button" data="all_novels">Fanny Price</a>
        <a class="btn btn-default btn-xs" href="#aus.004.mari" role="button" data="all_novels">Marianne Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.005.frank" role="button" data="all_novels">Frank Churchill</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrsb" role="button" data="all_novels">Mrs. Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.005.hari" role="button" data="all_novels">Harriet Smith</a>
        <a class="btn btn-default btn-xs" href="#aus.001.dar" role="button" data="all_novels">Mr. Darcy</a>
        <a class="btn btn-default btn-xs" href="#aus.002.anne" role="button" data="all_novels">Anne Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.001.jane" role="button" data="all_novels">Jane Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb" role="button" data="all_novels">Miss Bates</a>
        <a class="btn btn-default btn-xs" href="#aus.003.til" role="button" data="all_novels">Henry Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.006.henry" role="button" data="all_novels">Henry Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrb" role="button" data="all_novels">Mr. Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.003.isa" role="button" data="all_novels">Isabella Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrsw" role="button" data="all_novels">Mrs. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.004.jenn" role="button" data="all_novels">Mrs Jennings</a>
        <a class="btn btn-default btn-xs" href="#aus.005.wood" role="button" data="all_novels">Mr. Woodhouse</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrse" role="button" data="all_novels">Mrs. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrsg" role="button" data="all_novels">Mrs. Gardiner</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrsn" role="button" data="all_novels">Mrs. Norris</a>
        <a class="btn btn-default btn-xs" href="#aus.004.john" role="button" data="all_novels">John Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.lucy" role="button" data="all_novels">Lucy Steele</a>
        <a class="btn btn-default btn-xs" href="#aus.006.ladyb" role="button" data="all_novels">Lady Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.004.will" role="button" data="all_novels">Willoughby</a>
        <a class="btn btn-default btn-xs" href="#aus.005.west" role="button" data="all_novels">Mr. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.003.john" role="button" data="all_novels">John Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mary" role="button" data="all_novels">Mary Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.004.mrsd" role="button" data="all_novels">Mrs. Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.002.went" role="button" data="all_novels">Captain Wentworth</a>
        <a class="btn btn-default btn-xs" href="#aus.001.coll" role="button" data="all_novels">Mr. Collins</a>
        <a class="btn btn-default btn-xs" href="#aus.006.sirt" role="button" data="all_novels">Sir Thomas Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.001.msb" role="button" data="all_novels">Miss Bingley</a>
        <a class="btn btn-default btn-xs" href="#aus.004.edw" role="button" data="all_novels">Edward Ferrars</a>
        <a class="btn btn-default btn-xs" href="#aus.003.ele" role="button" data="all_novels">Eleanor Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.005.jane" role="button" data="all_novels">Jane Fairfax</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsa" role="button" data="all_novels">Mrs. Allen</a>
        <a class="btn btn-default btn-xs" href="#aus.005.elt" role="button" data="all_novels">Mr. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.002.smith" role="button" data="all_novels">Mrs. Smith</a>
        <a class="btn btn-default btn-xs" href="#aus.004.bran" role="button" data="all_novels">Colonel Brandon</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nancy" role="button" data="all_novels">Nancy Steele</a>
        <a class="btn btn-default btn-xs" href="#aus.006.tom" role="button" data="all_novels">Tom Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.001.wick" role="button" data="all_novels">Mr. Wickham</a>
        <a class="btn btn-default btn-xs" href="#aus.001.deb" role="button" data="all_novels">Lady Catherine de Bourgh</a>
        <a class="btn btn-default btn-xs" href="#aus.001.lyd" role="button" data="all_novels">Lydia Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.004.mrsp" role="button" data="all_novels">Mrs. Palmer</a>
        <a class="btn btn-default btn-xs" href="#aus.005.john" role="button" data="all_novels">John Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.001.bing" role="button" data="all_novels">Mr. Bingley</a>
        <a class="btn btn-default btn-xs" href="#aus.002.sirwalt" role="button" data="all_novels">Sir Walter Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.006.maria" role="button" data="all_novels">Maria Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.004.sirj" role="button" data="all_novels">Sir John Middleton</a>
        <a class="btn btn-default btn-xs" href="#aus.002.char" role="button" data="all_novels">Charles Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.admr" role="button" data="all_novels">Admiral Croft</a>
        <a class="btn btn-default btn-xs" href="#aus.005.isa" role="button" data="all_novels">Isabella Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.006.rush" role="button" data="all_novels">Mr. Rushworth</a>
        <a class="btn btn-default btn-xs" href="#aus.003.jam" role="button" data="all_novels">James Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrsg" role="button" data="all_novels">Mrs. Grant</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrg" role="button" data="all_novels">Mr. Gardiner</a>
        <a class="btn btn-default btn-xs" href="#aus.001.char" role="button" data="all_novels">Charlotte Lucas</a>
        <a class="btn btn-default btn-xs" href="#aus.006.julia" role="button" data="all_novels">Julia Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.002.harv" role="button" data="all_novels">Captain Harville</a>
        <a class="btn btn-default btn-xs" href="#aus.001.fitz" role="button" data="all_novels">Colonel Fitzwilliam</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mrel" role="button" data="all_novels">Mr. Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mrsc" role="button" data="all_novels">Mrs. Croft</a>
        <a class="btn btn-default btn-xs" href="#aus.004.fan" role="button" data="all_novels">Fanny Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mrsmus" role="button" data="all_novels">Mrs. Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.eliz" role="button" data="all_novels">Elizabeth Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.003.gen" role="button" data="all_novels">General Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.002.lruss" role="button" data="all_novels">Lady Russell</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsm" role="button" data="all_novels">Mrs. Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.006.will" role="button" data="all_novels">William Price</a>
        <a class="btn btn-default btn-xs" href="#aus.001.rey" role="button" data="all_novels">Mrs. Reynolds</a>
        <a class="btn btn-default btn-xs" href="#aus.002.loui" role="button" data="all_novels">Louisa Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.004.ladym" role="button" data="all_novels">Lady Middleton</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrp" role="button" data="all_novels">Mr. Price</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrsp" role="button" data="all_novels">Mrs. Price</a>
        <a class="btn btn-default btn-xs" href="#aus.002.shep" role="button" data="all_novels">Mr. Shepherd</a>
        <a class="btn btn-default btn-xs" href="#aus.004.thom" role="button" data="all_novels">Thomas</a>
        <a class="btn btn-default btn-xs" href="#aus.001.kit" role="button" data="all_novels">Kitty Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.sirl" role="button" data="all_novels">Sir William Lucas</a>
        <a class="btn btn-default btn-xs" href="#aus.004.mrp" role="button" data="all_novels">Mr. Palmer</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrsr" role="button" data="all_novels">Mrs. Rushworth</a>
        <a class="btn btn-default btn-xs" href="#aus.006.yates" role="button" data="all_novels">Mr. Yates</a>
        <a class="btn btn-default btn-xs" href="#aus.004.rob" role="button" data="all_novels">Mr Robert Ferrars</a>
        <a class="btn btn-default btn-xs" href="#aus.002.clay" role="button" data="all_novels">Mrs. Clay</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mary" role="button" data="all_novels">Mary Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.002.henr" role="button" data="all_novels">Henrietta Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.unknownlady" role="button" data="all_novels">Lady</a>
        <a class="btn btn-default btn-xs" href="#aus.006.maju" role="button" data="all_novels">Speaking together Maria Bertram and Julia Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrsc" role="button" data="all_novels">Mrs. Cole</a>
        <a class="btn btn-default btn-xs" href="#aus.006.drg" role="button" data="all_novels">Dr. Grant</a>
        <a class="btn btn-default btn-xs" href="#aus.006.susan" role="button" data="all_novels">Susan Price</a>
        <a class="btn btn-default btn-xs" href="#aus.002.waiter" role="button" data="all_novels">waiter</a>
        <a class="btn btn-default btn-xs" href="#aus.002.innskeep" role="button" data="all_novels">innskeeper</a>
        <a class="btn btn-default btn-xs" href="#aus.001.boyl" role="button" data="all_novels">A young Lucas boy</a>
        <a class="btn btn-default btn-xs" href="#aus.002.marychar" role="button" data="all_novels">Speaking together Mary Musgrove and Charles Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mpsoc" role="button" data="all_novels">Mansfield Park society</a>
        <a class="btn btn-default btn-xs" href="#aus.002.dick" role="button" data="all_novels">Mr. Richard Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.harvmrsharv" role="button" data="all_novels">Speaking together Captain Harville and Mrs. Harville</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mrsmusmrmushenr" role="button" data="all_novels">Speaking together Mrs. Musgrove , Mr. Musgrove and Henrietta Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.005.femalegroup" role="button" data="all_novels">female group</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrcmrsc" role="button" data="all_novels">Speaking together Mr. Cole and Mrs. Cole</a>
        <a class="btn btn-default btn-xs" href="#aus.005.perry" role="button" data="all_novels">Mr. Perry</a>
        <a class="btn btn-default btn-xs" href="#aus.006.news" role="button" data="all_novels">Newspaper</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="all_novels_indirectData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#all_novels_indirectData_body" aria-expanded="true" aria-controls="all_novels_indirectData_body">Character Indirect Diction</a>
      </h4>
    </div>
    <div id="all_novels_indirectData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="all_novels_indirectData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.005.nar_emma" role="button" data="all_novels">Narrator as Emma Woodhouse</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_eliz" role="button" data="all_novels">Narrator as Elizabeth Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_anne" role="button" data="all_novels">Narrator as Anne Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_fanny" role="button" data="all_novels">Narrator as Fanny Price</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_cat" role="button" data="all_novels">Narrator as Miss Catherine Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_eli" role="button" data="all_novels">Narrator as Elinor Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_ed" role="button" data="all_novels">Narrator as Edmund Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_sirt" role="button" data="all_novels">Narrator as Sir Thomas Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_mrsb" role="button" data="all_novels">Narrator as Mrs. Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_henry" role="button" data="all_novels">Narrator as Henry Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_dar" role="button" data="all_novels">Narrator as Mr. Darcy</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_lruss" role="button" data="all_novels">Narrator as Lady Russell</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_mrsn" role="button" data="all_novels">Narrator as Mrs. Norris</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_gen" role="button" data="all_novels">Narrator as General Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_frank" role="button" data="all_novels">Narrator as Frank Churchill</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_mary" role="button" data="all_novels">Narrator as Mary Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_coll" role="button" data="all_novels">Narrator as Mr. Collins</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_jenn" role="button" data="all_novels">Narrator as Mrs. Jennings</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_george" role="button" data="all_novels">Narrator as Mr Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_hari" role="button" data="all_novels">Narrator as Harriet Smith</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_sirwalt" role="button" data="all_novels">Narrator as Sir Walter Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_went" role="button" data="all_novels">Narrator as Captain Wentworth</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_mari" role="button" data="all_novels">Narrator as Marianne Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_mrsd" role="button" data="all_novels">Narrator as Mrs. Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_wood" role="button" data="all_novels">Narrator as Mr. Woodhouse</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_char" role="button" data="all_novels">Narrator as Charles Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_mrsw" role="button" data="all_novels">Narrator as Mrs. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_eliz" role="button" data="all_novels">Narrator as Elizabeth Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_john" role="button" data="all_novels">Narrator as John Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_til" role="button" data="all_novels">Narrator as Henry Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_fan" role="button" data="all_novels">Narrator as Fanny Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_mrb" role="button" data="all_novels">Narrator as Mr. Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mary" role="button" data="all_novels">Narrator as Mary Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_elt" role="button" data="all_novels">Narrator as Mr. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_west" role="button" data="all_novels">Narrator as Mr. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_maria" role="button" data="all_novels">Narrator as Maria Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_mrg" role="button" data="all_novels">Narrator as Mr. Gardiner</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_char" role="button" data="all_novels">Narrator as Charlotte Lucas</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mrel" role="button" data="all_novels">Narrator as Mr. Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_shep" role="button" data="all_novels">Narrator as Mr. Shepherd</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_ele" role="button" data="all_novels">Narrator as Eleanor Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_isa" role="button" data="all_novels">Narrator as Isabella Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_john" role="button" data="all_novels">Narrator as John Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_deb" role="button" data="all_novels">Narrator as Lady Catherine de Bourgh</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_lyd" role="button" data="all_novels">Narrator as Lydia Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.006.ed_mary" role="button" data="all_novels">Edmund Bertram speaking as Mary Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mary_henry" role="button" data="all_novels">Mary Crawford speaking as Henry Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_mrsp" role="button" data="all_novels">Narrator as Mrs. Price</a>
        <a class="btn btn-default btn-xs" href="#aus.005.wood_perry" role="button" data="all_novels">Mr. Woodhouse speaking as Mr. Perry</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_tom" role="button" data="all_novels">Narrator as Tom Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_mrsg" role="button" data="all_novels">Narrator as Mrs. Gardiner</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_mrsp" role="button" data="all_novels">Narrator as Mrs. Phillips</a>
        <a class="btn btn-default btn-xs" href="#aus.004.john_mrsf" role="button" data="all_novels">John Dashwood speaking as Mrs. Ferrars</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_will" role="button" data="all_novels">Narrator as Mr William Price</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_john" role="button" data="all_novels">Narrator as John Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_mrse" role="button" data="all_novels">Narrator as Mrs. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_msb" role="button" data="all_novels">Narrator as Miss Bates</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_yates" role="button" data="all_novels">Narrator as Mr John Yates</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrsw_jane" role="button" data="all_novels">Mrs. Weston speaking as Jane Fairfax</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_ladym" role="button" data="all_novels">Narrator as Lady Mary Middleton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.frank_jane" role="button" data="all_novels">Frank Churchill speaking as Jane Fairfax</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_mrsb" role="button" data="all_novels">Miss Bates speaking as Mrs. Bates</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_rey" role="button" data="all_novels">Narrator as Mrs. Reynolds</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_chayt" role="button" data="all_novels">Narrator as Charles Hayter</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_marychar" role="button" data="all_novels">Narrator as Charles Musgrove and Mary Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_mar" role="button" data="all_novels">Narrator as Maria Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_rob" role="button" data="all_novels">Narrator as Robert Ferrars</a>
        <a class="btn btn-default btn-xs" href="#aus.005.west_frank" role="button" data="all_novels">Mr. Weston speaking as Frank Churchill</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsa_mrsh" role="button" data="all_novels">Mrs. Allen speaking as Mrs. Hughes</a>
        <a class="btn btn-default btn-xs" href="#aus.004.thom_lucy" role="button" data="all_novels">Thomas speaking as Lucy Steele</a>
        <a class="btn btn-default btn-xs" href="#aus.005.isa_mrwing" role="button" data="all_novels">Isabella Knightley speaking as Mr. Wingfield</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_mrse" role="button" data="all_novels">Miss Bates speaking as Mrs. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_susan" role="button" data="all_novels">Narrator as Miss Susan Price</a>
        <a class="btn btn-default btn-xs" href="#aus.005.hari_rob" role="button" data="all_novels">Harriet Smith speaking as Robert Martin</a>
        <a class="btn btn-default btn-xs" href="#aus.005.isa_west" role="button" data="all_novels">Isabella Knightley speaking as Mr. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrse_elt" role="button" data="all_novels">Mrs. Elton speaking as Mr. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_patty_lark_mrshodges" role="button" data="all_novels">Miss Bates speaking as Miss Patty speaking as Mrs. Hodges</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_perry" role="button" data="all_novels">Narrator as Mr. Perry</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_mrh" role="button" data="all_novels">Narrator as Mr Harding</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_gov" role="button" data="all_novels">Narrator as governess</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_sirwalteliz_mrel" role="button" data="all_novels">Narrator as Sir Walter Elliott and Elizabeth Elliott as Mr. Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_smith" role="button" data="all_novels">Narrator as Mrs. Smith</a>
        <a class="btn btn-default btn-xs" href="#aus.005.emma_msb" role="button" data="all_novels">Emma Woodhouse speaking as Miss Bates</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_mrsw" role="button" data="all_novels">Miss Bates speaking as Mrs. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_mrsc" role="button" data="all_novels">Narrator as Mrs. Cole</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrp_scholey" role="button" data="all_novels">Mr. Price speaking as Mr. Scholey</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_maju" role="button" data="all_novels">Narrator as Maria Bertram and Julia Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.002.loui_mrsmusmrmus" role="button" data="all_novels">Lousia Musgrove speaking as Mr. Musgrove and Mrs. Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_anne_went" role="button" data="all_novels">Narrator as Anne Elliot as Captain Wentworth</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mrrob" role="button" data="all_novels">Narrator as Mr Robinson</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mrsclruss" role="button" data="all_novels">Narrator as Mrs. Croft and Lady Russell</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_surg" role="button" data="all_novels">Narrator as surgeon</a>
        <a class="btn btn-default btn-xs" href="#aus.002.smith_mrel" role="button" data="all_novels">Mrs. Smith speaking as Mr. Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.waiter_servant" role="button" data="all_novels">Waiter speaking as servant</a>
        <a class="btn btn-default btn-xs" href="#aus.005.emma_isa" role="button" data="all_novels">Emma Woodhouse speaking as Isabella Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_patty_lark" role="button" data="all_novels">Miss Bates speaking as Miss Patty speaking as Mr William Larkins</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_emmageorge" role="button" data="all_novels">Narrator as George Knightley and Emma Woodhouse</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_hari_nash_perry" role="button" data="all_novels">Narrator as Harriet Smith as Miss Nash as Mr. Perry</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrp_captw" role="button" data="all_novels">Mr. Price speaking as Captain Walsh</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_edhenry" role="button" data="all_novels">Narrator as Edmund Bertram and Henry Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_sirc" role="button" data="all_novels">Narrator as Sir Charles</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="all_novels_traitData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#all_novels_traitData_body" aria-expanded="true" aria-controls="all_novels_traitData_body">Trait: Character Type</a>
      </h4>
    </div>
    <div id="all_novels_traitData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="all_novels_traitData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#narrator" role="button" data="all_novels">narrator</a>
        <a class="btn btn-default btn-xs" href="#fool" role="button" data="all_novels">fool</a>
        <a class="btn btn-default btn-xs" href="#heroine" role="button" data="all_novels">heroine</a>
        <a class="btn btn-default btn-xs" href="#hero" role="button" data="all_novels">hero</a>
        <a class="btn btn-default btn-xs" href="#neutral" role="button" data="all_novels">neutral</a>
        <a class="btn btn-default btn-xs" href="#cad" role="button" data="all_novels">cad</a>
        <a class="btn btn-default btn-xs" href="#heir" role="button" data="all_novels">heir</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="all_novels_genderData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#all_novels_genderData_body" aria-expanded="true" aria-controls="all_novels_genderData_body">Trait: Character Sex</a>
      </h4>
    </div>
    <div id="all_novels_genderData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="all_novels_genderData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#female" role="button" data="all_novels">female</a>
        <a class="btn btn-default btn-xs" href="#male" role="button" data="all_novels">male</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="all_novels_maritalStateData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#all_novels_maritalStateData_body" aria-expanded="true" aria-controls="all_novels_maritalStateData_body">Trait: Character Marriage Status</a>
      </h4>
    </div>
    <div id="all_novels_maritalStateData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="all_novels_maritalStateData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#unmarried" role="button" data="all_novels">unmarried</a>
        <a class="btn btn-default btn-xs" href="#married" role="button" data="all_novels">married</a>
        <a class="btn btn-default btn-xs" href="#widowed" role="button" data="all_novels">widowed</a>
        <a class="btn btn-default btn-xs" href="#mda" role="button" data="all_novels">mda</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="all_novels_socecStatusData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#all_novels_socecStatusData_body" aria-expanded="true" aria-controls="all_novels_socecStatusData_body">Trait: Character Class Status</a>
      </h4>
    </div>
    <div id="all_novels_socecStatusData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="all_novels_socecStatusData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#landed_gentry" role="button" data="all_novels">landed gentry</a>
        <a class="btn btn-default btn-xs" href="#gentry" role="button" data="all_novels">gentry</a>
        <a class="btn btn-default btn-xs" href="#professional_class" role="button" data="all_novels">professional class</a>
        <a class="btn btn-default btn-xs" href="#aristocrat" role="button" data="all_novels">aristocrat</a>
        <a class="btn btn-default btn-xs" href="#working_class" role="button" data="all_novels">working class</a>
        <a class="btn btn-default btn-xs" href="#servant" role="button" data="all_novels">servant</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="all_novels_ageData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#all_novels_ageData_body" aria-expanded="true" aria-controls="all_novels_ageData_body">Trait: Character Age</a>
      </h4>
    </div>
    <div id="all_novels_ageData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="all_novels_ageData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#out" role="button" data="all_novels">out</a>
        <a class="btn btn-default btn-xs" href="#middle-aged" role="button" data="all_novels">middle-aged</a>
        <a class="btn btn-default btn-xs" href="#young_married" role="button" data="all_novels">young married</a>
        <a class="btn btn-default btn-xs" href="#old" role="button" data="all_novels">old</a>
        <a class="btn btn-default btn-xs" href="#child" role="button" data="all_novels">child</a>
        <a class="btn btn-default btn-xs" href="#young" role="button" data="all_novels">young</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="all_novels_occupationData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#all_novels_occupationData_body" aria-expanded="true" aria-controls="all_novels_occupationData_body">Trait: Character Occupation</a>
      </h4>
    </div>
    <div id="all_novels_occupationData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="all_novels_occupationData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#clergyman" role="button" data="all_novels">clergyman</a>
        <a class="btn btn-default btn-xs" href="#soldier" role="button" data="all_novels">soldier</a>
        <a class="btn btn-default btn-xs" href="#naval_officer" role="button" data="all_novels">naval officer</a>
        <a class="btn btn-default btn-xs" href="#lawyer" role="button" data="all_novels">lawyer</a>
        <a class="btn btn-default btn-xs" href="#baronet" role="button" data="all_novels">baronet</a>
        <a class="btn btn-default btn-xs" href="#servant" role="button" data="all_novels">servant</a>
        <a class="btn btn-default btn-xs" href="#waiter" role="button" data="all_novels">waiter</a>
        <a class="btn btn-default btn-xs" href="#innskeeper" role="button" data="all_novels">innskeeper</a>
        <a class="btn btn-default btn-xs" href="#doctor" role="button" data="all_novels">doctor</a>
      </div>
    </div>
  </div>
</div>
