<div class="panel-group"
     id="accordion"
     role="tablist"
     aria-multiselectable="true">
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="all_novels_characters_heading">
         <h4 class="panel-title">
            <a class=""
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#all_novels_characters_body"
               aria-expanded="true"
               aria-controls="all_novels_characters_body">Characters</a>
         </h4>
      </div>
      <div id="all_novels_characters_body"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="all_novels_characters_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.001.mrb"
               role="button"
               data="all_novels">Mr. Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.mrsb"
               role="button"
               data="all_novels">Mrs. Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.jane"
               role="button"
               data="all_novels">Jane Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.eliz"
               role="button"
               data="all_novels">Elizabeth Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.mary"
               role="button"
               data="all_novels">Mary Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.lyd"
               role="button"
               data="all_novels">Lydia Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.kit"
               role="button"
               data="all_novels">Kitty Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.char"
               role="button"
               data="all_novels">Charlotte Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.ladyl"
               role="button"
               data="all_novels">Lady Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.sirl"
               role="button"
               data="all_novels">Sir William Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.marl"
               role="button"
               data="all_novels">Maria Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.dar"
               role="button"
               data="all_novels">Mr. Darcy</a>
            <a class="btn btn-default"
               href="#aus.001.bing"
               role="button"
               data="all_novels">Mr. Bingley</a>
            <a class="btn btn-default"
               href="#aus.001.msb"
               role="button"
               data="all_novels">Miss Bingley</a>
            <a class="btn btn-default"
               href="#aus.001.mrsh"
               role="button"
               data="all_novels">Mrs. Hurst</a>
            <a class="btn btn-default"
               href="#aus.001.mrh"
               role="button"
               data="all_novels">Mr. Hurst</a>
            <a class="btn btn-default"
               href="#aus.001.coll"
               role="button"
               data="all_novels">Mr. Collins</a>
            <a class="btn btn-default"
               href="#aus.001.wick"
               role="button"
               data="all_novels">Mr. Wickham</a>
            <a class="btn btn-default"
               href="#aus.001.mrg"
               role="button"
               data="all_novels">Mr. Gardiner</a>
            <a class="btn btn-default"
               href="#aus.001.mrsg"
               role="button"
               data="all_novels">Mrs. Gardiner</a>
            <a class="btn btn-default"
               href="#aus.001.fitz"
               role="button"
               data="all_novels">Colonel Fitzwilliam</a>
            <a class="btn btn-default"
               href="#aus.001.rey"
               role="button"
               data="all_novels">Mrs. Reynolds</a>
            <a class="btn btn-default"
               href="#aus.002.sirwalt"
               role="button"
               data="all_novels">Sir Walter Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.eliz"
               role="button"
               data="all_novels">Elizabeth Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.mary"
               role="button"
               data="all_novels">Mary Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.char"
               role="button"
               data="all_novels">Charles Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.anne"
               role="button"
               data="all_novels">Anne Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.lruss"
               role="button"
               data="all_novels">Lady Russell</a>
            <a class="btn btn-default"
               href="#aus.002.shep"
               role="button"
               data="all_novels">Mr. Shepherd</a>
            <a class="btn btn-default"
               href="#aus.002.clay"
               role="button"
               data="all_novels">Mrs. Clay</a>
            <a class="btn btn-default"
               href="#aus.002.mrmus"
               role="button"
               data="all_novels">Mr. Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.mrsc"
               role="button"
               data="all_novels">Mrs. Croft</a>
            <a class="btn btn-default"
               href="#aus.002.admr"
               role="button"
               data="all_novels">Admiral Croft</a>
            <a class="btn btn-default"
               href="#aus.002.loui"
               role="button"
               data="all_novels">Louisa Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.went"
               role="button"
               data="all_novels">Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.henr"
               role="button"
               data="all_novels">Henrietta Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.chayt"
               role="button"
               data="all_novels">Charles Hayter</a>
            <a class="btn btn-default"
               href="#aus.002.harv"
               role="button"
               data="all_novels">Captain Harville</a>
            <a class="btn btn-default"
               href="#aus.002.mrsharv"
               role="button"
               data="all_novels">Mrs. Harville</a>
            <a class="btn btn-default"
               href="#aus.002.mrel"
               role="button"
               data="all_novels">Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.smith"
               role="button"
               data="all_novels">Mrs. Smith</a>
            <a class="btn btn-default"
               href="#aus.002.rooke"
               role="button"
               data="all_novels">Nurse Rooke</a>
            <a class="btn btn-default"
               href="#aus.002.mrsmus"
               role="button"
               data="all_novels">Mrs. Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.benw"
               role="button"
               data="all_novels">Captain Benwick</a>
            <a class="btn btn-default"
               href="#aus.003.cat"
               role="button"
               data="all_novels">Catherine Morland</a>
            <a class="btn btn-default"
               href="#aus.003.mrsm"
               role="button"
               data="all_novels">Mrs. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.mrm"
               role="button"
               data="all_novels">Mr. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.mrsa"
               role="button"
               data="all_novels">Mrs. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.mra"
               role="button"
               data="all_novels">Mr. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.til"
               role="button"
               data="all_novels">Henry Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.isa"
               role="button"
               data="all_novels">Isabella Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mrst"
               role="button"
               data="all_novels">Mrs. Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.john"
               role="button"
               data="all_novels">John Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.jam"
               role="button"
               data="all_novels">James Morland</a>
            <a class="btn btn-default"
               href="#aus.003.ele"
               role="button"
               data="all_novels">Eleanor Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.gen"
               role="button"
               data="all_novels">General Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.anne"
               role="button"
               data="all_novels">Anne Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mar"
               role="button"
               data="all_novels">Maria Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.cap"
               role="button"
               data="all_novels">Frederick Tilney</a>
            <a class="btn btn-default"
               href="#aus.004.mrsd"
               role="button"
               data="all_novels">Mrs. Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.eli"
               role="button"
               data="all_novels">Elinor Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.mari"
               role="button"
               data="all_novels">Marianne Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.john"
               role="button"
               data="all_novels">John Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.edw"
               role="button"
               data="all_novels">Edward Ferrars</a>
            <a class="btn btn-default"
               href="#aus.004.nancy"
               role="button"
               data="all_novels">Nancy Steele</a>
            <a class="btn btn-default"
               href="#aus.004.lucy"
               role="button"
               data="all_novels">Lucy Steele</a>
            <a class="btn btn-default"
               href="#aus.004.will"
               role="button"
               data="all_novels">Willoughby</a>
            <a class="btn btn-default"
               href="#aus.004.bran"
               role="button"
               data="all_novels">Colonel Brandon</a>
            <a class="btn btn-default"
               href="#aus.004.jenn"
               role="button"
               data="all_novels">Mrs Jennings</a>
            <a class="btn btn-default"
               href="#aus.004.fan"
               role="button"
               data="all_novels">Fanny Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.marg"
               role="button"
               data="all_novels">Margaret Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.mrsf"
               role="button"
               data="all_novels">Mrs. Ferrars</a>
            <a class="btn btn-default"
               href="#aus.004.sirj"
               role="button"
               data="all_novels">Sir John Middleton</a>
            <a class="btn btn-default"
               href="#aus.004.ladym"
               role="button"
               data="all_novels">Lady Middleton</a>
            <a class="btn btn-default"
               href="#aus.004.smith"
               role="button"
               data="all_novels">Mrs Smith</a>
            <a class="btn btn-default"
               href="#aus.004.mrsp"
               role="button"
               data="all_novels">Mrs. Palmer</a>
            <a class="btn btn-default"
               href="#aus.004.mrp"
               role="button"
               data="all_novels">Mr. Palmer</a>
            <a class="btn btn-default"
               href="#aus.004.rob"
               role="button"
               data="all_novels">Mr Robert Ferrars</a>
            <a class="btn btn-default"
               href="#aus.005.wood"
               role="button"
               data="all_novels">Mr. Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.emma"
               role="button"
               data="all_novels">Emma Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.perry"
               role="button"
               data="all_novels">Mr. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.mrsp"
               role="button"
               data="all_novels">Mrs. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.george"
               role="button"
               data="all_novels">Mr. Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.hari"
               role="button"
               data="all_novels">Harriet Smith</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw"
               role="button"
               data="all_novels">Mrs. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.elt"
               role="button"
               data="all_novels">Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.rob"
               role="button"
               data="all_novels">Robert Martin</a>
            <a class="btn btn-default"
               href="#aus.005.isa"
               role="button"
               data="all_novels">Isabella Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.john"
               role="button"
               data="all_novels">John Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.west"
               role="button"
               data="all_novels">Mr. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.frank"
               role="button"
               data="all_novels">Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.msb"
               role="button"
               data="all_novels">Miss Bates</a>
            <a class="btn btn-default"
               href="#aus.005.jane"
               role="button"
               data="all_novels">Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.mrsg"
               role="button"
               data="all_novels">Mrs. Goddard</a>
            <a class="btn btn-default"
               href="#aus.005.mrsc"
               role="button"
               data="all_novels">Mrs. Cole</a>
            <a class="btn btn-default"
               href="#aus.005.mrsb"
               role="button"
               data="all_novels">Mrs. Bates</a>
            <a class="btn btn-default"
               href="#aus.006.sirt"
               role="button"
               data="all_novels">Sir Thomas Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.mrsn"
               role="button"
               data="all_novels">Mrs. Norris</a>
            <a class="btn btn-default"
               href="#aus.006.ladyb"
               role="button"
               data="all_novels">Lady Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.mrsp"
               role="button"
               data="all_novels">Mrs. Price</a>
            <a class="btn btn-default"
               href="#aus.006.ed"
               role="button"
               data="all_novels">Edmund Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.fanny"
               role="button"
               data="all_novels">Fanny Price</a>
            <a class="btn btn-default"
               href="#aus.006.mrsg"
               role="button"
               data="all_novels">Mrs. Grant</a>
            <a class="btn btn-default"
               href="#aus.006.mary"
               role="button"
               data="all_novels">Mary Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.henry"
               role="button"
               data="all_novels">Henry Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.maria"
               role="button"
               data="all_novels">Maria Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.tom"
               role="button"
               data="all_novels">Tom Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.rush"
               role="button"
               data="all_novels">Mr. Rushworth</a>
            <a class="btn btn-default"
               href="#aus.006.drg"
               role="button"
               data="all_novels">Dr. Grant</a>
            <a class="btn btn-default"
               href="#aus.006.julia"
               role="button"
               data="all_novels">Julia Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.mrsr"
               role="button"
               data="all_novels">Mrs. Rushworth</a>
            <a class="btn btn-default"
               href="#aus.006.yates"
               role="button"
               data="all_novels">Mr. Yates</a>
            <a class="btn btn-default"
               href="#aus.006.will"
               role="button"
               data="all_novels">William Price</a>
            <a class="btn btn-default"
               href="#aus.006.susan"
               role="button"
               data="all_novels">Susan Price</a>
            <a class="btn btn-default"
               href="#aus.006.mrp"
               role="button"
               data="all_novels">Mr. Price</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="all_novels_character_type_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#all_novels_character_type_body"
               aria-expanded="false"
               aria-controls="all_novels_character_type_body">Character Type</a>
         </h4>
      </div>
      <div id="all_novels_character_type_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="all_novels_character_type_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#cad"
               role="button"
               data="all_novels">cad</a>
            <a class="btn btn-default"
               href="#fool"
               role="button"
               data="all_novels">fool</a>
            <a class="btn btn-default"
               href="#heir"
               role="button"
               data="all_novels">heir</a>
            <a class="btn btn-default"
               href="#hero"
               role="button"
               data="all_novels">hero</a>
            <a class="btn btn-default"
               href="#heroine"
               role="button"
               data="all_novels">heroine</a>
            <a class="btn btn-default"
               href="#narrator"
               role="button"
               data="all_novels">narrator</a>
            <a class="btn btn-default"
               href="#neutral"
               role="button"
               data="all_novels">neutral</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="all_novels_sex_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#all_novels_sex_body"
               aria-expanded="false"
               aria-controls="all_novels_sex_body">Sex</a>
         </h4>
      </div>
      <div id="all_novels_sex_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="all_novels_sex_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#female"
               role="button"
               data="all_novels">female</a>
            <a class="btn btn-default"
               href="#male"
               role="button"
               data="all_novels">male</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="all_novels_marriage_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#all_novels_marriage_status_body"
               aria-expanded="false"
               aria-controls="all_novels_marriage_status_body">Marriage Status</a>
         </h4>
      </div>
      <div id="all_novels_marriage_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="all_novels_marriage_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#married"
               role="button"
               data="all_novels">married</a>
            <a class="btn btn-default"
               href="#mda"
               role="button"
               data="all_novels">mda</a>
            <a class="btn btn-default"
               href="#unmarried"
               role="button"
               data="all_novels">unmarried</a>
            <a class="btn btn-default"
               href="#widowed"
               role="button"
               data="all_novels">widowed</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="all_novels_class_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#all_novels_class_status_body"
               aria-expanded="false"
               aria-controls="all_novels_class_status_body">Class status</a>
         </h4>
      </div>
      <div id="all_novels_class_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="all_novels_class_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#apothecary"
               role="button"
               data="all_novels">apothecary</a>
            <a class="btn btn-default"
               href="#aristocrat"
               role="button"
               data="all_novels">aristocrat</a>
            <a class="btn btn-default"
               href="#gentry"
               role="button"
               data="all_novels">gentry</a>
            <a class="btn btn-default"
               href="#landed_gentry"
               role="button"
               data="all_novels">landed gentry</a>
            <a class="btn btn-default"
               href="#professional_class"
               role="button"
               data="all_novels">professional class</a>
            <a class="btn btn-default"
               href="#working_class"
               role="button"
               data="all_novels">working class</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="all_novels_age_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#all_novels_age_body"
               aria-expanded="false"
               aria-controls="all_novels_age_body">Age</a>
         </h4>
      </div>
      <div id="all_novels_age_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="all_novels_age_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#child"
               role="button"
               data="all_novels">child</a>
            <a class="btn btn-default"
               href="#deceased"
               role="button"
               data="all_novels">deceased</a>
            <a class="btn btn-default"
               href="#middle-aged"
               role="button"
               data="all_novels">middle-aged</a>
            <a class="btn btn-default"
               href="#old"
               role="button"
               data="all_novels">old</a>
            <a class="btn btn-default"
               href="#out"
               role="button"
               data="all_novels">out</a>
            <a class="btn btn-default"
               href="#young_married"
               role="button"
               data="all_novels">young married</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="all_novels_occupation_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#all_novels_occupation_body"
               aria-expanded="false"
               aria-controls="all_novels_occupation_body">Occupation</a>
         </h4>
      </div>
      <div id="all_novels_occupation_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="all_novels_occupation_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#baronet"
               role="button"
               data="all_novels">baronet</a>
            <a class="btn btn-default"
               href="#clergyman"
               role="button"
               data="all_novels">clergyman</a>
            <a class="btn btn-default"
               href="#doctor"
               role="button"
               data="all_novels">doctor</a>
            <a class="btn btn-default"
               href="#farmer"
               role="button"
               data="all_novels">farmer</a>
            <a class="btn btn-default"
               href="#lawyer"
               role="button"
               data="all_novels">lawyer</a>
            <a class="btn btn-default"
               href="#naval_officer"
               role="button"
               data="all_novels">naval officer</a>
            <a class="btn btn-default"
               href="#nurse"
               role="button"
               data="all_novels">nurse</a>
            <a class="btn btn-default"
               href="#servant"
               role="button"
               data="all_novels">servant</a>
            <a class="btn btn-default"
               href="#soldier"
               role="button"
               data="all_novels">soldier</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="all_novels_indirect_diction_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#all_novels_indirect_diction_body"
               aria-expanded="false"
               aria-controls="all_novels_indirect_diction_body">Indirect Diction</a>
         </h4>
      </div>
      <div id="all_novels_indirect_diction_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="all_novels_indirect_diction_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.002.admr_shep"
               role="button"
               data="all_novels">Admiral Croft speaking as Mr. Shepherd</a>
            <a class="btn btn-default"
               href="#aus.002.mary_char"
               role="button"
               data="all_novels">Mary Musgrove speaking as Charles Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.mary_mrsmus"
               role="button"
               data="all_novels">Mary Musgrove speaking as Mrs. Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.mary_mrsc"
               role="button"
               data="all_novels">Mary Musgrove speaking as Mrs. Croft</a>
            <a class="btn btn-default"
               href="#aus.002.anne_went"
               role="button"
               data="all_novels">Anne Elliot speaking as Captain Frederick Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.mary_went"
               role="button"
               data="all_novels">Mary Musgrove speaking as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.admr_went"
               role="button"
               data="all_novels">Admiral Croft speaking as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.mary_mrsharv"
               role="button"
               data="all_novels">Mary Musgrove speaking as Mrs. Harville</a>
            <a class="btn btn-default"
               href="#aus.002.smith_mrel"
               role="button"
               data="all_novels">Mrs. Smith speaking as Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.smith_rooke"
               role="button"
               data="all_novels">Mrs. Smith speaking as Nurse Rooke</a>
            <a class="btn btn-default"
               href="#aus.002.mary_benw"
               role="button"
               data="all_novels">Mary Musgrove speaking as Captain Benwick</a>
            <a class="btn btn-default"
               href="#aus.002.char_benw"
               role="button"
               data="all_novels">Charles Musgrove speaking as Captain Benwick</a>
            <a class="btn btn-default"
               href="#aus.003.isa_jam"
               role="button"
               data="all_novels">Isabella Thorpe speaking as Mr James Morland</a>
            <a class="btn btn-default"
               href="#aus.003.isa_john"
               role="button"
               data="all_novels">Isabella Thorpe speaking as Mr. John Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.isa_mrst"
               role="button"
               data="all_novels">Isabella Thorpe speaking as Mrs. Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mrsa_mrst"
               role="button"
               data="all_novels">Mrs. Allen speaking as Mrs. Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mrsa_til"
               role="button"
               data="all_novels">Mrs. Allen speaking as Henry Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.john_til"
               role="button"
               data="all_novels">John Thorpe speaking as Henry Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.mrsa_mra"
               role="button"
               data="all_novels">Mrs. Allen speaking as Mr. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.jam_isa"
               role="button"
               data="all_novels">James Morland speaking as Isabella Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mrsh_isa"
               role="button"
               data="all_novels">Mrs. Hughes speaking as Isabella Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mrsm_mrm"
               role="button"
               data="all_novels">Mrs. Morland speaking as Mr. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.isa_cat"
               role="button"
               data="all_novels">Isabella Thorpe speaking as Catherine Morland</a>
            <a class="btn btn-default"
               href="#aus.003.cat_mrsa"
               role="button"
               data="all_novels">Catherine Morland speaking as Mrs. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.mrsm_mrsa"
               role="button"
               data="all_novels">Mrs. Morland speaking as Mrs. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.cat_mrsm"
               role="button"
               data="all_novels">Catherine Morland speaking as Mrs. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.mrsa_mrsm"
               role="button"
               data="all_novels">Mrs. Allen speaking as Mrs. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.mar_john"
               role="button"
               data="all_novels">Maria Thorpe speaking as John Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.john_gen"
               role="button"
               data="all_novels">John Thorpe speaking as General Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.john_ele"
               role="button"
               data="all_novels">John Morland speaking as Eleanor Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.isa_cap"
               role="button"
               data="all_novels">Isabella Thorpe speaking as Frederick Tilney</a>
            <a class="btn btn-default"
               href="#aus.004.jenn_eli"
               role="button"
               data="all_novels">Mrs. Jennings speaking as Elinor Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.edw_mari"
               role="button"
               data="all_novels">Edward Ferrars speaking as Marianne Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.mrsd_eli"
               role="button"
               data="all_novels">Mrs. Dashwood speaking as Elinor Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.john_edw"
               role="button"
               data="all_novels">John Dashwood speaking as Edward Ferrars</a>
            <a class="btn btn-default"
               href="#aus.004.nancy_edw"
               role="button"
               data="all_novels">Nancy Steele speaking as Edward Ferrars</a>
            <a class="btn btn-default"
               href="#aus.004.lucy_edw"
               role="button"
               data="all_novels">Lucy Steele speaking as Edward Ferrars</a>
            <a class="btn btn-default"
               href="#aus.004.mari_nancy"
               role="button"
               data="all_novels">Marianne Dashwood speaking as Nancy Steele</a>
            <a class="btn btn-default"
               href="#aus.004.eli_marg"
               role="button"
               data="all_novels">Elinor Dashwood speaking as Margaret Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.mari_will"
               role="button"
               data="all_novels">Marianne Dashwood speaking as Willoughby</a>
            <a class="btn btn-default"
               href="#aus.004.eli_will"
               role="button"
               data="all_novels">Elinor Dashwood speaking as Willoughby</a>
            <a class="btn btn-default"
               href="#aus.004.jenn_nancy"
               role="button"
               data="all_novels">Mrs. Jennings speaking as Nancy Steele</a>
            <a class="btn btn-default"
               href="#aus.004.eli_edw"
               role="button"
               data="all_novels">Elinor Dashwood speaking as Edward Ferrars</a>
            <a class="btn btn-default"
               href="#aus.004.jenn_john"
               role="button"
               data="all_novels">Mrs. Jennings speaking as John Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.eli_bran"
               role="button"
               data="all_novels">Elinor Dashwood speaking as Colonel Brandon</a>
            <a class="btn btn-default"
               href="#aus.004.john_mrsf"
               role="button"
               data="all_novels">John Dashwood speaking as Mrs. Ferrars</a>
            <a class="btn btn-default"
               href="#aus.004.nancy_ladym"
               role="button"
               data="all_novels">Nancy Steele speaking as Lady Middleton</a>
            <a class="btn btn-default"
               href="#aus.004.john_fan"
               role="button"
               data="all_novels">John Dashwood speaking as Fanny Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.mrsp_jenn"
               role="button"
               data="all_novels">Mrs. Palmer speaking as Mrs. Jennings</a>
            <a class="btn btn-default"
               href="#aus.004.bran_mrsp"
               role="button"
               data="all_novels">Colonel Brandon speaking as Mrs. Palmer</a>
            <a class="btn btn-default"
               href="#aus.004.jenn_mrj"
               role="button"
               data="all_novels">Mrs. Jennings speaking as Mr. Jennings</a>
            <a class="btn btn-default"
               href="#aus.004.jenn_fan"
               role="button"
               data="all_novels">Mrs. Jennings speaking as Fanny Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.mrsp_mrp"
               role="button"
               data="all_novels">Mrs. Palmer speaking as Mr. Palmer</a>
            <a class="btn btn-default"
               href="#aus.004.nancy_lucy"
               role="button"
               data="all_novels">Nancy Steele speaking as Lucy Steele</a>
            <a class="btn btn-default"
               href="#aus.004.will_smith"
               role="button"
               data="all_novels">Willoughby speaking as Mrs. Smith</a>
            <a class="btn btn-default"
               href="#aus.004.fan_mrsf"
               role="button"
               data="all_novels">Fannie Dashwood speaking as Mrs. Ferrars</a>
            <a class="btn btn-default"
               href="#aus.004.will_sirj"
               role="button"
               data="all_novels">Willoughby speaking as Sir John Middleton</a>
            <a class="btn btn-default"
               href="#aus.004.thom_lucy"
               role="button"
               data="all_novels">Thomas speaking as Lucy Steele</a>
            <a class="btn btn-default"
               href="#aus.004.mari_eli"
               role="button"
               data="all_novels">Marianne Dashwood speaking as Elinor Dashwood</a>
            <a class="btn btn-default"
               href="#aus.005.george_wood"
               role="button"
               data="all_novels">Mr. Knightley speaking as Mr. Henry Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.frank_emma"
               role="button"
               data="all_novels">Frank Churchill speaking as Emma Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.george_emma"
               role="button"
               data="all_novels">Mr. Knightley speaking as Emma Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.hari_emma"
               role="button"
               data="all_novels">Harriet Smith speaking as Emma Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.mrsp_wood"
               role="button"
               data="all_novels">Mrs. Perry speaking as Mr. Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw_perry"
               role="button"
               data="all_novels">Mrs. Weston speaking as Mr. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.frank_mrsp"
               role="button"
               data="all_novels">Frank Churchill speaking as Mrs. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.msb_george"
               role="button"
               data="all_novels">Miss Bates speaking as Mr. George Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.emma_george"
               role="button"
               data="all_novels">Emma Woodhouse speaking as Mr. George Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.elt_george"
               role="button"
               data="all_novels">Mr. Elton speaking as George Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.emma_hari"
               role="button"
               data="all_novels">Emma Woodhouse speaking as Harriet Smith</a>
            <a class="btn btn-default"
               href="#aus.005.wood_perry"
               role="button"
               data="all_novels">Mr. Woodhouse speaking as Mr. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.msb_mrsw"
               role="button"
               data="all_novels">Miss Bates speaking as Mrs. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.frank_mrsw"
               role="button"
               data="all_novels">Frank Churchill speaking as Mrs. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.george_elt"
               role="button"
               data="all_novels">Mr. Knightley speaking as Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.mrse_elt"
               role="button"
               data="all_novels">Mrs. Elton speaking as Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.emma_elt"
               role="button"
               data="all_novels">Emma Woodhouse speaking as Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.msb_mrse"
               role="button"
               data="all_novels">Miss Bates speaking as Mrs. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.frank_mrse"
               role="button"
               data="all_novels">Frank Churchill speaking as Mrs Elton</a>
            <a class="btn btn-default"
               href="#aus.005.hari_rob"
               role="button"
               data="all_novels">Harriet Smith speaking as Robert Martin</a>
            <a class="btn btn-default"
               href="#aus.005.george_rob"
               role="button"
               data="all_novels">Mr. Knightley speaking as Robert Martin</a>
            <a class="btn btn-default"
               href="#aus.005.emma_isa"
               role="button"
               data="all_novels">Emma Woodhouse speaking as Isabella Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw_george"
               role="button"
               data="all_novels">Mrs. Weston speaking as Mr. Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.hari_west"
               role="button"
               data="all_novels">Harriet Smith speaking as Mr. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.isa_west"
               role="button"
               data="all_novels">Isabella Knightley speaking as Mr. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.frank_west"
               role="button"
               data="all_novels">Frank Churchill speaking as Mr. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.hari_frank"
               role="button"
               data="all_novels">Harriet Smith speaking as Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw_frank"
               role="button"
               data="all_novels">Mrs. Weston speaking as Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.west_frank"
               role="button"
               data="all_novels">Mr. Weston speaking as Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw_msb"
               role="button"
               data="all_novels">Mrs. Weston speaking as Miss Bates</a>
            <a class="btn btn-default"
               href="#aus.005.emma_msb"
               role="button"
               data="all_novels">Emma Woodhouse speaking as Miss Bates</a>
            <a class="btn btn-default"
               href="#aus.005.george_msb"
               role="button"
               data="all_novels">Mr. Knightley speaking as Miss Bates</a>
            <a class="btn btn-default"
               href="#aus.005.elt_mrsg"
               role="button"
               data="all_novels">Mr. Elton speaking as Mrs. Goddard</a>
            <a class="btn btn-default"
               href="#aus.005.msb_mrsc"
               role="button"
               data="all_novels">Miss Bates speaking as Mrs. Cole</a>
            <a class="btn btn-default"
               href="#aus.005.msb_mrsb"
               role="button"
               data="all_novels">Miss Bates speaking as Mrs. Bates</a>
            <a class="btn btn-default"
               href="#aus.005.george_rob_john"
               role="button"
               data="all_novels">Mr. Knightley speaking as Robert Martin speaking as John Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.frank_jane"
               role="button"
               data="all_novels">Frank Churchill speaking as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.george_jane"
               role="button"
               data="all_novels">Mr. Knightley speaking as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw_jane"
               role="button"
               data="all_novels">Mrs. Weston speaking as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.emma_msb_jane"
               role="button"
               data="all_novels">Emma Woodhouse speaking as Miss Bates speaking as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.msb_jane"
               role="button"
               data="all_novels">Miss Bates speaking as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.006.ed_sirt"
               role="button"
               data="all_novels">Edmund Bertram speaking as Sir Thomas Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.ladyb_sirt"
               role="button"
               data="all_novels">Lady Bertram speaking as Sir Thomas Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.ed_ladyb"
               role="button"
               data="all_novels">Edmund Bertram speaking as Lady Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.ladyb_ed"
               role="button"
               data="all_novels">Lady Bertram speaking as Edmund Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.fanny_ed"
               role="button"
               data="all_novels">Fanny Price speaking as Edmund Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.mrsn_mrsg"
               role="button"
               data="all_novels">Mrs. Norris speaking as Mrs. Grant</a>
            <a class="btn btn-default"
               href="#aus.006.ed_mary"
               role="button"
               data="all_novels">Edmund Bertram speaking as Mary Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.mary_henry"
               role="button"
               data="all_novels">Mary Crawford speaking as Henry Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.mrsp_mary"
               role="button"
               data="all_novels">Mrs. Price speaking as Mary Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.mary_henry_maria"
               role="button"
               data="all_novels">Mary Crawford speaking as Henry Crawford speaking as Maria Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.ed_henry"
               role="button"
               data="all_novels">Edmund Bertram speaking as Henry Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.mrsg_julia"
               role="button"
               data="all_novels">Mrs. Goddard speaking as Julia Bertram</a>
            <a class="btn btn-default"
               href="#aus.001.nar"
               role="button"
               data="all_novels">Narrator</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrb"
               role="button"
               data="all_novels">Narrator as Mr. Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrsb"
               role="button"
               data="all_novels">Narrator as Mrs. Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_jane"
               role="button"
               data="all_novels">Narrator as Jane Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_eliz"
               role="button"
               data="all_novels">Narrator as Elizabeth Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mary"
               role="button"
               data="all_novels">Narrator as Mary Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_lyd"
               role="button"
               data="all_novels">Narrator as Lydia Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_kit"
               role="button"
               data="all_novels">Narrator as Kitty Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_char"
               role="button"
               data="all_novels">Narrator as Charlotte Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.nar_ladyl"
               role="button"
               data="all_novels">Narrator as Lady Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.nar_sirl"
               role="button"
               data="all_novels">Narrator as Sir William Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.nar_marl"
               role="button"
               data="all_novels">Narrator as Maria Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.nar_dar"
               role="button"
               data="all_novels">Narrator as Mr. Darcy</a>
            <a class="btn btn-default"
               href="#aus.001.nar_bing"
               role="button"
               data="all_novels">Narrator as Mr. Bingley</a>
            <a class="btn btn-default"
               href="#aus.001.nar_msb"
               role="button"
               data="all_novels">Narrator as Miss Bingley</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrsh"
               role="button"
               data="all_novels">Narrator as Mrs. Hurst</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrh"
               role="button"
               data="all_novels">Narrator as Mr. Hurst</a>
            <a class="btn btn-default"
               href="#aus.001.nar_coll"
               role="button"
               data="all_novels">Narrator as Mr. Collins</a>
            <a class="btn btn-default"
               href="#aus.001.nar_wick"
               role="button"
               data="all_novels">Narrator as Mr. Wickham</a>
            <a class="btn btn-default"
               href="#aus.001.nar_deb"
               role="button"
               data="all_novels">Narrator as Lady Catherine de Bourgh</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrg"
               role="button"
               data="all_novels">Narrator as Mr. Gardiner</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrsg"
               role="button"
               data="all_novels">Narrator as Mrs. Gardiner</a>
            <a class="btn btn-default"
               href="#aus.001.nar_fitz"
               role="button"
               data="all_novels">Narrator as Colonel Fitzwilliam</a>
            <a class="btn btn-default"
               href="#aus.001.nar_rey"
               role="button"
               data="all_novels">Narrator as Mrs. Reynolds</a>
            <a class="btn btn-default"
               href="#aus.002.nar"
               role="button"
               data="all_novels">narrator</a>
            <a class="btn btn-default"
               href="#aus.002.nar_sirwalt"
               role="button"
               data="all_novels">Narrator as Sir Walter Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_eliz"
               role="button"
               data="all_novels">Narrator as Elizabeth Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mary"
               role="button"
               data="all_novels">Narrator as Mary Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_char"
               role="button"
               data="all_novels">Narrator as Charles Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne"
               role="button"
               data="all_novels">Narrator as Anne Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_lruss"
               role="button"
               data="all_novels">Narrator as Lady Russell</a>
            <a class="btn btn-default"
               href="#aus.002.nar_shep"
               role="button"
               data="all_novels">Narrator as Mr. Shepherd</a>
            <a class="btn btn-default"
               href="#aus.002.nar_clay"
               role="button"
               data="all_novels">Narrator as Mrs. Clay</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrmus"
               role="button"
               data="all_novels">Narrator as Mr. Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_loui"
               role="button"
               data="all_novels">Narrator as Louisa Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_went"
               role="button"
               data="all_novels">Narrator as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.nar_chayt"
               role="button"
               data="all_novels">Narrator as Charles Hayter</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrsharv"
               role="button"
               data="all_novels">Narrator as Mrs. Harville</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrel"
               role="button"
               data="all_novels">Narrator as Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrsmus"
               role="button"
               data="all_novels">Narrator as Mrs. Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_smith"
               role="button"
               data="all_novels">Narrator as Mrs. Smith</a>
            <a class="btn btn-default"
               href="#aus.002.nar_benw"
               role="button"
               data="all_novels">Narrator as Captain Benwick</a>
            <a class="btn btn-default"
               href="#aus.002.nar_henr"
               role="button"
               data="all_novels">Narrator as Henrietta Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne_mary"
               role="button"
               data="all_novels">Narrator as Anne Elliot as Mary Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne_char"
               role="button"
               data="all_novels">Narrator as Anne Elliot as Mr Charles Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrel_anne"
               role="button"
               data="all_novels">Narrator as Mr. Elliot as Miss Anne Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne_clay"
               role="button"
               data="all_novels">Narrator as Anne Elliot as Mrs Clay</a>
            <a class="btn btn-default"
               href="#aus.002.nar_sirwalteliz_colwal"
               role="button"
               data="all_novels">Narrator as Sir Walter Elliot and Elizabeth Elliot as Colonel Wallis</a>
            <a class="btn btn-default"
               href="#aus.002.nar_sirwalt_colwal"
               role="button"
               data="all_novels">Narrator as Sir Walter Elliot as Colonel Wallis</a>
            <a class="btn btn-default"
               href="#aus.002.nar_sirwalteliz_mrel"
               role="button"
               data="all_novels">Narrator as Sir Walter Elliott and Elizabeth Elliott as Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_lruss_mrel"
               role="button"
               data="all_novels">Narrator as Lacy Russell as Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne_mrel"
               role="button"
               data="all_novels">Narrator as Anne Elliot as Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne_went"
               role="button"
               data="all_novels">Narrator as Anne Elliot as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.nar_char_went"
               role="button"
               data="all_novels">Narrator as Charles Wentworth as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrsc_went"
               role="button"
               data="all_novels">Narrator as Mrs. Croft as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.003.nar"
               role="button"
               data="all_novels">Narrator</a>
            <a class="btn btn-default"
               href="#aus.003.nar_cat"
               role="button"
               data="all_novels">Narrator as Miss Catherine Morland</a>
            <a class="btn btn-default"
               href="#aus.003.nar_mrsm"
               role="button"
               data="all_novels">Narrator as Mrs. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.nar_til"
               role="button"
               data="all_novels">Narrator as Henry Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.nar_isa"
               role="button"
               data="all_novels">Narrator as Isabella Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.nar_mrst"
               role="button"
               data="all_novels">Narrator as Mrs. Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.nar_anne"
               role="button"
               data="all_novels">Narrator as Anne Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.nar_cap"
               role="button"
               data="all_novels">Narrator as Frederick Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.nar_mra"
               role="button"
               data="all_novels">Narrator as Mr. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.nar_mrsa"
               role="button"
               data="all_novels">Narrator as Mrs. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.nar_john"
               role="button"
               data="all_novels">Narrator as John Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.nar_jam"
               role="button"
               data="all_novels">Narrator as James Morland</a>
            <a class="btn btn-default"
               href="#aus.003.nar_ele"
               role="button"
               data="all_novels">Narrator as Eleanor Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.nar_mar"
               role="button"
               data="all_novels">Narrator as Maria Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.nar_gen"
               role="button"
               data="all_novels">Narrator as General Tilney</a>
            <a class="btn btn-default"
               href="#aus.004.nar"
               role="button"
               data="all_novels">narrator</a>
            <a class="btn btn-default"
               href="#aus.004.nar_mrsd"
               role="button"
               data="all_novels">Narrator as Mrs. Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.nar_edw"
               role="button"
               data="all_novels">Narrator as Edward Ferrars</a>
            <a class="btn btn-default"
               href="#aus.004.nar_eli"
               role="button"
               data="all_novels">Narrator as Elinor Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.nar_mari"
               role="button"
               data="all_novels">Narrator as Marianne Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.nar_john"
               role="button"
               data="all_novels">Narrator as John Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.nar_nancy"
               role="button"
               data="all_novels">Narrator as Nancy Steele</a>
            <a class="btn btn-default"
               href="#aus.004.nar_lucy"
               role="button"
               data="all_novels">Narrator as Lucy Steele</a>
            <a class="btn btn-default"
               href="#aus.004.nar_will"
               role="button"
               data="all_novels">Narrator as Willoughby</a>
            <a class="btn btn-default"
               href="#aus.004.nar_bran"
               role="button"
               data="all_novels">Narrator as Colonel Brandon</a>
            <a class="btn btn-default"
               href="#aus.004.nar_jenn"
               role="button"
               data="all_novels">Narrator as Mrs. Jennings</a>
            <a class="btn btn-default"
               href="#aus.004.nar_fan"
               role="button"
               data="all_novels">Narrator as Fanny Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.nar_marg"
               role="button"
               data="all_novels">Narrator as Margaret Dashwood</a>
            <a class="btn btn-default"
               href="#aus.004.nar_sirj"
               role="button"
               data="all_novels">Narrator as Sir John Middleton</a>
            <a class="btn btn-default"
               href="#aus.004.nar_ladym"
               role="button"
               data="all_novels">Narrator as Lady Mary Middleton</a>
            <a class="btn btn-default"
               href="#aus.004.nar_mrsp"
               role="button"
               data="all_novels">Narrator as Mrs. Palmer</a>
            <a class="btn btn-default"
               href="#aus.004.nar_mrp"
               role="button"
               data="all_novels">Narrator as Mr. Palmer</a>
            <a class="btn btn-default"
               href="#aus.004.nar_rob"
               role="button"
               data="all_novels">Narrator as Robert Ferrars</a>
            <a class="btn btn-default"
               href="#aus.005.nar"
               role="button"
               data="all_novels">narrator</a>
            <a class="btn btn-default"
               href="#aus.005.nar_wood"
               role="button"
               data="all_novels">Narrator as Mr. Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.nar_emma"
               role="button"
               data="all_novels">Narrator as Emma Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.nar_perry"
               role="button"
               data="all_novels">Narrator as Mr. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.nar_george"
               role="button"
               data="all_novels">Narrator as Mr Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.nar_hari"
               role="button"
               data="all_novels">Narrator as Harriet Smith</a>
            <a class="btn btn-default"
               href="#aus.005.nar_mrsw"
               role="button"
               data="all_novels">Narrator as Mrs. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.nar_elt"
               role="button"
               data="all_novels">Narrator as Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.nar_isa"
               role="button"
               data="all_novels">Narrator as Isabella Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.nar_john"
               role="button"
               data="all_novels">Narrator as John Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.nar_mrse"
               role="button"
               data="all_novels">Narrator as Mrs. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.nar_west"
               role="button"
               data="all_novels">Narrator as Mr. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.nar_frank"
               role="button"
               data="all_novels">Narrator as Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.nar_msb"
               role="button"
               data="all_novels">Narrator as Miss Bates</a>
            <a class="btn btn-default"
               href="#aus.005.nar_jane"
               role="button"
               data="all_novels">Narrator as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.nar_mrsc"
               role="button"
               data="all_novels">Narrator as Mrs. Cole</a>
            <a class="btn btn-default"
               href="#aus.005.nar_mrsg"
               role="button"
               data="all_novels">Narrator as Mrs. Goddard</a>
            <a class="btn btn-default"
               href="#aus.005.nar_emma_wood"
               role="button"
               data="all_novels">Narrator as Emma Woodhouse as Mr Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.nar_hari_nash_perry"
               role="button"
               data="all_novels">Narrator as Harriet Smith as Miss Nash as Mr. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.nar_emma_elt"
               role="button"
               data="all_novels">Narrator as Emma Woodhouse as Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.nar_hari_nash_perry_elt"
               role="button"
               data="all_novels">Narrator as Harriet Smith as Miss Nash as Mr. Perry as Mr Elton</a>
            <a class="btn btn-default"
               href="#aus.005.nar_emma_mrse"
               role="button"
               data="all_novels">Narrator as Emma Woodhouse as Mrs. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.nar_west_frank"
               role="button"
               data="all_novels">Narrator as Mr. Weston as Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.nar_frank_mrsc"
               role="button"
               data="all_novels">Narrator as Frank Churchill as Mrs. Cole</a>
            <a class="btn btn-default"
               href="#aus.005.nar_mrsc_mrsb"
               role="button"
               data="all_novels">Narrator as Mrs. Cole as Mrs. Bates</a>
            <a class="btn btn-default"
               href="#aus.006.nar"
               role="button"
               data="all_novels">Narrator</a>
            <a class="btn btn-default"
               href="#aus.006.nar_sirt"
               role="button"
               data="all_novels">Narrator as Sir Thomas Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mrsn"
               role="button"
               data="all_novels">Narrator as Mrs. Norris</a>
            <a class="btn btn-default"
               href="#aus.006.nar_ladyb"
               role="button"
               data="all_novels">Narrator as Lady Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_fanny"
               role="button"
               data="all_novels">Narrator as Fanny Price</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mrsp"
               role="button"
               data="all_novels">Narrator as Mrs. Price</a>
            <a class="btn btn-default"
               href="#aus.006.nar_henry"
               role="button"
               data="all_novels">Narrator as Henry Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.nar_ed"
               role="button"
               data="all_novels">Narrator as Edmund Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mrsg"
               role="button"
               data="all_novels">Narrator as Mrs. Grant</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mary"
               role="button"
               data="all_novels">Narrator as Mary Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.nar_maria"
               role="button"
               data="all_novels">Narrator as Maria Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_tom"
               role="button"
               data="all_novels">Narrator as Tom Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_rush"
               role="button"
               data="all_novels">Narrator as Mr. Rushworth</a>
            <a class="btn btn-default"
               href="#aus.006.nar_drg"
               role="button"
               data="all_novels">Narrator as Dr. Grant</a>
            <a class="btn btn-default"
               href="#aus.006.nar_julia"
               role="button"
               data="all_novels">Narrator as Miss Julia Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mrsr"
               role="button"
               data="all_novels">Narrator as Mrs Rushworth</a>
            <a class="btn btn-default"
               href="#aus.006.nar_yates"
               role="button"
               data="all_novels">Narrator as Mr John Yates</a>
            <a class="btn btn-default"
               href="#aus.006.nar_will"
               role="button"
               data="all_novels">Narrator as Mr William Price</a>
            <a class="btn btn-default"
               href="#aus.006.nar_susan"
               role="button"
               data="all_novels">Narrator as Miss Susan Price</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mrp"
               role="button"
               data="all_novels">Narrator as Mr Price</a>
         </div>
      </div>
   </div>
</div>
