<?xml version="1.0"?>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="emma_speakerData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#emma_speakerData_body" aria-expanded="true" aria-controls="emma_speakerData_body">Character Direct Speech</a>
      </h4>
    </div>
    <div id="emma_speakerData_body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="emma_speakerData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.005.nar" role="button" data="emma">narrator</a>
        <a class="btn btn-default btn-xs" href="#aus.005.emma" role="button" data="emma">Emma Woodhouse</a>
        <a class="btn btn-default btn-xs" href="#aus.005.george" role="button" data="emma">Mr. Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.005.frank" role="button" data="emma">Frank Churchill</a>
        <a class="btn btn-default btn-xs" href="#aus.005.hari" role="button" data="emma">Harriet Smith</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb" role="button" data="emma">Miss Bates</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrsw" role="button" data="emma">Mrs. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.005.wood" role="button" data="emma">Mr. Woodhouse</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrse" role="button" data="emma">Mrs. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.west" role="button" data="emma">Mr. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.005.jane" role="button" data="emma">Jane Fairfax</a>
        <a class="btn btn-default btn-xs" href="#aus.005.elt" role="button" data="emma">Mr. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.john" role="button" data="emma">John Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.005.isa" role="button" data="emma">Isabella Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrsc" role="button" data="emma">Mrs. Cole</a>
        <a class="btn btn-default btn-xs" href="#aus.005.femalegroup" role="button" data="emma">female group</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrcmrsc" role="button" data="emma">Speaking together Mr. Cole and Mrs. Cole</a>
        <a class="btn btn-default btn-xs" href="#aus.005.perry" role="button" data="emma">Mr. Perry</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="emma_indirectData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#emma_indirectData_body" aria-expanded="true" aria-controls="emma_indirectData_body">Character Indirect Diction</a>
      </h4>
    </div>
    <div id="emma_indirectData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="emma_indirectData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.005.nar_emma" role="button" data="emma">Narrator as Emma Woodhouse</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_frank" role="button" data="emma">Narrator as Frank Churchill</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_george" role="button" data="emma">Narrator as Mr Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_hari" role="button" data="emma">Narrator as Harriet Smith</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_wood" role="button" data="emma">Narrator as Mr. Woodhouse</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_mrsw" role="button" data="emma">Narrator as Mrs. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_elt" role="button" data="emma">Narrator as Mr. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_west" role="button" data="emma">Narrator as Mr. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_jane" role="button" data="emma">Miss Bates speaking as Jane Fairfax</a>
        <a class="btn btn-default btn-xs" href="#aus.005.wood_perry" role="button" data="emma">Mr. Woodhouse speaking as Mr. Perry</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_john" role="button" data="emma">Narrator as John Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_mrse" role="button" data="emma">Narrator as Mrs. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_msb" role="button" data="emma">Narrator as Miss Bates</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrsw_jane" role="button" data="emma">Mrs. Weston speaking as Jane Fairfax</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_mrsb" role="button" data="emma">Miss Bates speaking as Mrs. Bates</a>
        <a class="btn btn-default btn-xs" href="#aus.005.west_frank" role="button" data="emma">Mr. Weston speaking as Frank Churchill</a>
        <a class="btn btn-default btn-xs" href="#aus.005.isa_mrwing" role="button" data="emma">Isabella Knightley speaking as Mr. Wingfield</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_mrse" role="button" data="emma">Miss Bates speaking as Mrs. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.frank_jane" role="button" data="emma">Frank Churchill speaking as Jane Fairfax</a>
        <a class="btn btn-default btn-xs" href="#aus.005.hari_rob" role="button" data="emma">Harriet Smith speaking as Robert Martin</a>
        <a class="btn btn-default btn-xs" href="#aus.005.hari_west" role="button" data="emma">Harriet Smith speaking as Mr. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.005.isa_west" role="button" data="emma">Isabella Knightley speaking as Mr. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrse_elt" role="button" data="emma">Mrs. Elton speaking as Mr. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_patty_lark_mrshodges" role="button" data="emma">Miss Bates speaking as Miss Patty speaking as Mrs. Hodges</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_colcmrsc" role="button" data="emma">Narrator as Colonel Campbell and Mrs. Cole</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_perry" role="button" data="emma">Narrator as Mr. Perry</a>
        <a class="btn btn-default btn-xs" href="#aus.005.emma_msb" role="button" data="emma">Emma Woodhouse speaking as Miss Bates</a>
        <a class="btn btn-default btn-xs" href="#aus.005.frank_mrchurch" role="button" data="emma">Frank Churchill speaking as Mr. Churchill</a>
        <a class="btn btn-default btn-xs" href="#aus.005.george_elt" role="button" data="emma">Mr. Knightley speaking as Mr. Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.mrse_selina" role="button" data="emma">Mrs. Elton speaking as Mrs. Selina</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_mrsw" role="button" data="emma">Miss Bates speaking as Mrs. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_frank_mrsc" role="button" data="emma">Narrator as Frank Churchill as Mrs. Cole</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_mrsc" role="button" data="emma">Narrator as Mrs. Cole</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_patty" role="button" data="emma">Narrator as Miss Patty</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_westmrsw" role="button" data="emma">Narrator as Mr. Weston and Mrs. Weston</a>
        <a class="btn btn-default btn-xs" href="#aus.005.emma_isa" role="button" data="emma">Emma Woodhouse speaking as Isabella Knightley</a>
        <a class="btn btn-default btn-xs" href="#aus.005.george_msb" role="button" data="emma">Mr. Knightley speaking as Miss Bates</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_patty" role="button" data="emma">Miss Bates speaking as Miss Patty</a>
        <a class="btn btn-default btn-xs" href="#aus.005.msb_patty_lark" role="button" data="emma">Miss Bates speaking as Miss Patty speaking as Mr William Larkins</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_emmageorge" role="button" data="emma">Narrator as George Knightley and Emma Woodhouse</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_everybody" role="button" data="emma">Narrator as "Everybody"</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_hari_nash_perry" role="button" data="emma">Narrator as Harriet Smith as Miss Nash as Mr. Perry</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_hari_nash_perry_elt" role="button" data="emma">Narrator as Harriet Smith as Miss Nash as Mr. Perry as Mr Elton</a>
        <a class="btn btn-default btn-xs" href="#aus.005.nar_isa" role="button" data="emma">Narrator as Isabella Knightley</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="emma_traitData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#emma_traitData_body" aria-expanded="true" aria-controls="emma_traitData_body">Trait: Character Type</a>
      </h4>
    </div>
    <div id="emma_traitData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="emma_traitData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#fool" role="button" data="emma">fool</a>
        <a class="btn btn-default btn-xs" href="#heroine" role="button" data="emma">heroine</a>
        <a class="btn btn-default btn-xs" href="#neutral" role="button" data="emma">neutral</a>
        <a class="btn btn-default btn-xs" href="#hero" role="button" data="emma">hero</a>
        <a class="btn btn-default btn-xs" href="#cad" role="button" data="emma">cad</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="emma_genderData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#emma_genderData_body" aria-expanded="true" aria-controls="emma_genderData_body">Trait: Character Sex</a>
      </h4>
    </div>
    <div id="emma_genderData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="emma_genderData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#female" role="button" data="emma">female</a>
        <a class="btn btn-default btn-xs" href="#male" role="button" data="emma">male</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="emma_maritalStateData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#emma_maritalStateData_body" aria-expanded="true" aria-controls="emma_maritalStateData_body">Trait: Character Marriage Status</a>
      </h4>
    </div>
    <div id="emma_maritalStateData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="emma_maritalStateData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#unmarried" role="button" data="emma">unmarried</a>
        <a class="btn btn-default btn-xs" href="#married" role="button" data="emma">married</a>
        <a class="btn btn-default btn-xs" href="#mda" role="button" data="emma">mda</a>
        <a class="btn btn-default btn-xs" href="#widowed" role="button" data="emma">widowed</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="emma_socecStatusData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#emma_socecStatusData_body" aria-expanded="true" aria-controls="emma_socecStatusData_body">Trait: Character Class Status</a>
      </h4>
    </div>
    <div id="emma_socecStatusData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="emma_socecStatusData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#landed_gentry" role="button" data="emma">landed gentry</a>
        <a class="btn btn-default btn-xs" href="#gentry" role="button" data="emma">gentry</a>
        <a class="btn btn-default btn-xs" href="#professional_class" role="button" data="emma">professional class</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="emma_ageData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#emma_ageData_body" aria-expanded="true" aria-controls="emma_ageData_body">Trait: Character Age</a>
      </h4>
    </div>
    <div id="emma_ageData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="emma_ageData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#out" role="button" data="emma">out</a>
        <a class="btn btn-default btn-xs" href="#young_married" role="button" data="emma">young married</a>
        <a class="btn btn-default btn-xs" href="#middle-aged" role="button" data="emma">middle-aged</a>
        <a class="btn btn-default btn-xs" href="#old" role="button" data="emma">old</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="emma_occupationData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#emma_occupationData_body" aria-expanded="true" aria-controls="emma_occupationData_body">Trait: Character Occupation</a>
      </h4>
    </div>
    <div id="emma_occupationData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="emma_occupationData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#soldier" role="button" data="emma">soldier</a>
        <a class="btn btn-default btn-xs" href="#clergyman" role="button" data="emma">clergyman</a>
        <a class="btn btn-default btn-xs" href="#lawyer" role="button" data="emma">lawyer</a>
        <a class="btn btn-default btn-xs" href="#doctor" role="button" data="emma">doctor</a>
      </div>
    </div>
  </div>
</div>
