<div class="panel-group"
     id="accordion"
     role="tablist"
     aria-multiselectable="true">
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="emma_characters_heading">
         <h4 class="panel-title">
            <a class=""
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#emma_characters_body"
               aria-expanded="true"
               aria-controls="emma_characters_body">Characters</a>
         </h4>
      </div>
      <div id="emma_characters_body"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="emma_characters_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.005.wood"
               role="button"
               data="emma">Mr. Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.emma"
               role="button"
               data="emma">Emma Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.perry"
               role="button"
               data="emma">Mr. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.mrsp"
               role="button"
               data="emma">Mrs. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.george"
               role="button"
               data="emma">Mr. Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.hari"
               role="button"
               data="emma">Harriet Smith</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw"
               role="button"
               data="emma">Mrs. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.elt"
               role="button"
               data="emma">Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.rob"
               role="button"
               data="emma">Robert Martin</a>
            <a class="btn btn-default"
               href="#aus.005.isa"
               role="button"
               data="emma">Isabella Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.john"
               role="button"
               data="emma">John Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.west"
               role="button"
               data="emma">Mr. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.frank"
               role="button"
               data="emma">Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.msb"
               role="button"
               data="emma">Miss Bates</a>
            <a class="btn btn-default"
               href="#aus.005.jane"
               role="button"
               data="emma">Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.mrsg"
               role="button"
               data="emma">Mrs. Goddard</a>
            <a class="btn btn-default"
               href="#aus.005.mrsc"
               role="button"
               data="emma">Mrs. Cole</a>
            <a class="btn btn-default"
               href="#aus.005.mrsb"
               role="button"
               data="emma">Mrs. Bates</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="emma_character_type_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#emma_character_type_body"
               aria-expanded="false"
               aria-controls="emma_character_type_body">Character Type</a>
         </h4>
      </div>
      <div id="emma_character_type_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="emma_character_type_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#cad" role="button" data="emma">cad</a>
            <a class="btn btn-default" href="#fool" role="button" data="emma">fool</a>
            <a class="btn btn-default" href="#heir" role="button" data="emma">heir</a>
            <a class="btn btn-default" href="#hero" role="button" data="emma">hero</a>
            <a class="btn btn-default"
               href="#heroine"
               role="button"
               data="emma">heroine</a>
            <a class="btn btn-default"
               href="#neutral"
               role="button"
               data="emma">neutral</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="emma_sex_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#emma_sex_body"
               aria-expanded="false"
               aria-controls="emma_sex_body">Sex</a>
         </h4>
      </div>
      <div id="emma_sex_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="emma_sex_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#female"
               role="button"
               data="emma">female</a>
            <a class="btn btn-default" href="#male" role="button" data="emma">male</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="emma_marriage_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#emma_marriage_status_body"
               aria-expanded="false"
               aria-controls="emma_marriage_status_body">Marriage Status</a>
         </h4>
      </div>
      <div id="emma_marriage_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="emma_marriage_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#married"
               role="button"
               data="emma">married</a>
            <a class="btn btn-default" href="#mda" role="button" data="emma">mda</a>
            <a class="btn btn-default"
               href="#unmarried"
               role="button"
               data="emma">unmarried</a>
            <a class="btn btn-default"
               href="#widowed"
               role="button"
               data="emma">widowed</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="emma_class_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#emma_class_status_body"
               aria-expanded="false"
               aria-controls="emma_class_status_body">Class status</a>
         </h4>
      </div>
      <div id="emma_class_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="emma_class_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#apothecary"
               role="button"
               data="emma">apothecary</a>
            <a class="btn btn-default"
               href="#gentry"
               role="button"
               data="emma">gentry</a>
            <a class="btn btn-default"
               href="#landed_gentry"
               role="button"
               data="emma">landed gentry</a>
            <a class="btn btn-default"
               href="#professional_class"
               role="button"
               data="emma">professional class</a>
            <a class="btn btn-default"
               href="#working_class"
               role="button"
               data="emma">working class</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="emma_age_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#emma_age_body"
               aria-expanded="false"
               aria-controls="emma_age_body">Age</a>
         </h4>
      </div>
      <div id="emma_age_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="emma_age_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#middle-aged"
               role="button"
               data="emma">middle-aged</a>
            <a class="btn btn-default" href="#old" role="button" data="emma">old</a>
            <a class="btn btn-default" href="#out" role="button" data="emma">out</a>
            <a class="btn btn-default"
               href="#young_married"
               role="button"
               data="emma">young married</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="emma_occupation_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#emma_occupation_body"
               aria-expanded="false"
               aria-controls="emma_occupation_body">Occupation</a>
         </h4>
      </div>
      <div id="emma_occupation_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="emma_occupation_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#clergyman"
               role="button"
               data="emma">clergyman</a>
            <a class="btn btn-default"
               href="#doctor"
               role="button"
               data="emma">doctor</a>
            <a class="btn btn-default"
               href="#farmer"
               role="button"
               data="emma">farmer</a>
            <a class="btn btn-default"
               href="#lawyer"
               role="button"
               data="emma">lawyer</a>
            <a class="btn btn-default"
               href="#soldier"
               role="button"
               data="emma">soldier</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="emma_indirect_diction_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#emma_indirect_diction_body"
               aria-expanded="false"
               aria-controls="emma_indirect_diction_body">Indirect Diction</a>
         </h4>
      </div>
      <div id="emma_indirect_diction_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="emma_indirect_diction_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.005.george_wood"
               role="button"
               data="emma">Mr. Knightley speaking as Mr. Henry Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.frank_emma"
               role="button"
               data="emma">Frank Churchill speaking as Emma Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.george_emma"
               role="button"
               data="emma">Mr. Knightley speaking as Emma Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.hari_emma"
               role="button"
               data="emma">Harriet Smith speaking as Emma Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.mrsp_wood"
               role="button"
               data="emma">Mrs. Perry speaking as Mr. Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw_perry"
               role="button"
               data="emma">Mrs. Weston speaking as Mr. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.frank_mrsp"
               role="button"
               data="emma">Frank Churchill speaking as Mrs. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.msb_george"
               role="button"
               data="emma">Miss Bates speaking as Mr. George Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.emma_george"
               role="button"
               data="emma">Emma Woodhouse speaking as Mr. George Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.elt_george"
               role="button"
               data="emma">Mr. Elton speaking as George Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.emma_hari"
               role="button"
               data="emma">Emma Woodhouse speaking as Harriet Smith</a>
            <a class="btn btn-default"
               href="#aus.005.wood_perry"
               role="button"
               data="emma">Mr. Woodhouse speaking as Mr. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.msb_mrsw"
               role="button"
               data="emma">Miss Bates speaking as Mrs. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.frank_mrsw"
               role="button"
               data="emma">Frank Churchill speaking as Mrs. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.george_elt"
               role="button"
               data="emma">Mr. Knightley speaking as Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.mrse_elt"
               role="button"
               data="emma">Mrs. Elton speaking as Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.emma_elt"
               role="button"
               data="emma">Emma Woodhouse speaking as Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.msb_mrse"
               role="button"
               data="emma">Miss Bates speaking as Mrs. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.frank_mrse"
               role="button"
               data="emma">Frank Churchill speaking as Mrs Elton</a>
            <a class="btn btn-default"
               href="#aus.005.hari_rob"
               role="button"
               data="emma">Harriet Smith speaking as Robert Martin</a>
            <a class="btn btn-default"
               href="#aus.005.george_rob"
               role="button"
               data="emma">Mr. Knightley speaking as Robert Martin</a>
            <a class="btn btn-default"
               href="#aus.005.emma_isa"
               role="button"
               data="emma">Emma Woodhouse speaking as Isabella Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw_george"
               role="button"
               data="emma">Mrs. Weston speaking as Mr. Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.hari_west"
               role="button"
               data="emma">Harriet Smith speaking as Mr. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.isa_west"
               role="button"
               data="emma">Isabella Knightley speaking as Mr. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.frank_west"
               role="button"
               data="emma">Frank Churchill speaking as Mr. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.hari_frank"
               role="button"
               data="emma">Harriet Smith speaking as Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw_frank"
               role="button"
               data="emma">Mrs. Weston speaking as Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.west_frank"
               role="button"
               data="emma">Mr. Weston speaking as Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw_msb"
               role="button"
               data="emma">Mrs. Weston speaking as Miss Bates</a>
            <a class="btn btn-default"
               href="#aus.005.emma_msb"
               role="button"
               data="emma">Emma Woodhouse speaking as Miss Bates</a>
            <a class="btn btn-default"
               href="#aus.005.george_msb"
               role="button"
               data="emma">Mr. Knightley speaking as Miss Bates</a>
            <a class="btn btn-default"
               href="#aus.005.elt_mrsg"
               role="button"
               data="emma">Mr. Elton speaking as Mrs. Goddard</a>
            <a class="btn btn-default"
               href="#aus.005.msb_mrsc"
               role="button"
               data="emma">Miss Bates speaking as Mrs. Cole</a>
            <a class="btn btn-default"
               href="#aus.005.msb_mrsb"
               role="button"
               data="emma">Miss Bates speaking as Mrs. Bates</a>
            <a class="btn btn-default"
               href="#aus.005.george_rob_john"
               role="button"
               data="emma">Mr. Knightley speaking as Robert Martin speaking as John Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.frank_jane"
               role="button"
               data="emma">Frank Churchill speaking as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.george_jane"
               role="button"
               data="emma">Mr. Knightley speaking as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.mrsw_jane"
               role="button"
               data="emma">Mrs. Weston speaking as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.emma_msb_jane"
               role="button"
               data="emma">Emma Woodhouse speaking as Miss Bates speaking as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.msb_jane"
               role="button"
               data="emma">Miss Bates speaking as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.nar"
               role="button"
               data="emma">narrator</a>
            <a class="btn btn-default"
               href="#aus.005.nar_wood"
               role="button"
               data="emma">Narrator as Mr. Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.nar_emma"
               role="button"
               data="emma">Narrator as Emma Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.nar_perry"
               role="button"
               data="emma">Narrator as Mr. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.nar_george"
               role="button"
               data="emma">Narrator as Mr Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.nar_hari"
               role="button"
               data="emma">Narrator as Harriet Smith</a>
            <a class="btn btn-default"
               href="#aus.005.nar_mrsw"
               role="button"
               data="emma">Narrator as Mrs. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.nar_elt"
               role="button"
               data="emma">Narrator as Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.nar_isa"
               role="button"
               data="emma">Narrator as Isabella Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.nar_john"
               role="button"
               data="emma">Narrator as John Knightley</a>
            <a class="btn btn-default"
               href="#aus.005.nar_mrse"
               role="button"
               data="emma">Narrator as Mrs. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.nar_west"
               role="button"
               data="emma">Narrator as Mr. Weston</a>
            <a class="btn btn-default"
               href="#aus.005.nar_frank"
               role="button"
               data="emma">Narrator as Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.nar_msb"
               role="button"
               data="emma">Narrator as Miss Bates</a>
            <a class="btn btn-default"
               href="#aus.005.nar_jane"
               role="button"
               data="emma">Narrator as Jane Fairfax</a>
            <a class="btn btn-default"
               href="#aus.005.nar_mrsc"
               role="button"
               data="emma">Narrator as Mrs. Cole</a>
            <a class="btn btn-default"
               href="#aus.005.nar_mrsg"
               role="button"
               data="emma">Narrator as Mrs. Goddard</a>
            <a class="btn btn-default"
               href="#aus.005.nar_emma_wood"
               role="button"
               data="emma">Narrator as Emma Woodhouse as Mr Woodhouse</a>
            <a class="btn btn-default"
               href="#aus.005.nar_hari_nash_perry"
               role="button"
               data="emma">Narrator as Harriet Smith as Miss Nash as Mr. Perry</a>
            <a class="btn btn-default"
               href="#aus.005.nar_emma_elt"
               role="button"
               data="emma">Narrator as Emma Woodhouse as Mr. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.nar_hari_nash_perry_elt"
               role="button"
               data="emma">Narrator as Harriet Smith as Miss Nash as Mr. Perry as Mr Elton</a>
            <a class="btn btn-default"
               href="#aus.005.nar_emma_mrse"
               role="button"
               data="emma">Narrator as Emma Woodhouse as Mrs. Elton</a>
            <a class="btn btn-default"
               href="#aus.005.nar_west_frank"
               role="button"
               data="emma">Narrator as Mr. Weston as Frank Churchill</a>
            <a class="btn btn-default"
               href="#aus.005.nar_frank_mrsc"
               role="button"
               data="emma">Narrator as Frank Churchill as Mrs. Cole</a>
            <a class="btn btn-default"
               href="#aus.005.nar_mrsc_mrsb"
               role="button"
               data="emma">Narrator as Mrs. Cole as Mrs. Bates</a>
         </div>
      </div>
   </div>
</div>
