<div class="panel-group"
     id="accordion"
     role="tablist"
     aria-multiselectable="true">
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_characters_heading">
         <h4 class="panel-title">
            <a class=""
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_characters_body"
               aria-expanded="true"
               aria-controls="mansfield_park_characters_body">Characters</a>
         </h4>
      </div>
      <div id="mansfield_park_characters_body"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="mansfield_park_characters_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#aus.006.sirt" role="button">Sir Thomas Bertram</a>
            <a class="btn btn-default" href="#aus.006.mrsn" role="button">Mrs. Norris</a>
            <a class="btn btn-default" href="#aus.006.ladyb" role="button">Lady Bertram</a>
            <a class="btn btn-default" href="#aus.006.mrsp" role="button">Mrs. Price</a>
            <a class="btn btn-default" href="#aus.006.ed" role="button">Edmund Bertram</a>
            <a class="btn btn-default" href="#aus.006.fanny" role="button">Fanny Price</a>
            <a class="btn btn-default" href="#aus.006.mrsg" role="button">Mrs. Grant</a>
            <a class="btn btn-default" href="#aus.006.mary" role="button">Mary Crawford</a>
            <a class="btn btn-default" href="#aus.006.henry" role="button">Henry Crawford</a>
            <a class="btn btn-default" href="#aus.006.maria" role="button">Maria Bertram</a>
            <a class="btn btn-default" href="#aus.006.tom" role="button">Tom Bertram</a>
            <a class="btn btn-default" href="#aus.006.rush" role="button">Mr. Rushworth</a>
            <a class="btn btn-default" href="#aus.006.drg" role="button">Dr. Grant</a>
            <a class="btn btn-default" href="#aus.006.julia" role="button">Julia Bertram</a>
            <a class="btn btn-default" href="#aus.006.mrsr" role="button">Mrs. Rushworth</a>
            <a class="btn btn-default" href="#aus.006.yates" role="button">Mr. Yates</a>
            <a class="btn btn-default" href="#aus.006.will" role="button">William Price</a>
            <a class="btn btn-default" href="#aus.006.susan" role="button">Susan Price</a>
            <a class="btn btn-default" href="#aus.006.mrp" role="button">Mr. Price</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_character_type_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_character_type_body"
               aria-expanded="false"
               aria-controls="mansfield_park_character_type_body">Character Type</a>
         </h4>
      </div>
      <div id="mansfield_park_character_type_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_character_type_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#cad" role="button">cad</a>
            <a class="btn btn-default" href="#fool" role="button">fool</a>
            <a class="btn btn-default" href="#heir" role="button">heir</a>
            <a class="btn btn-default" href="#hero" role="button">hero</a>
            <a class="btn btn-default" href="#heroine" role="button">heroine</a>
            <a class="btn btn-default" href="#neutral" role="button">neutral</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="mansfield_park_sex_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_sex_body"
               aria-expanded="false"
               aria-controls="mansfield_park_sex_body">Sex</a>
         </h4>
      </div>
      <div id="mansfield_park_sex_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_sex_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#female" role="button">female</a>
            <a class="btn btn-default" href="#male" role="button">male</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_marriage_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_marriage_status_body"
               aria-expanded="false"
               aria-controls="mansfield_park_marriage_status_body">Marriage Status</a>
         </h4>
      </div>
      <div id="mansfield_park_marriage_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_marriage_status_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#married" role="button">married</a>
            <a class="btn btn-default" href="#mda" role="button">mda</a>
            <a class="btn btn-default" href="#unmarried" role="button">unmarried</a>
            <a class="btn btn-default" href="#widowed" role="button">widowed</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_class_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_class_status_body"
               aria-expanded="false"
               aria-controls="mansfield_park_class_status_body">Class status</a>
         </h4>
      </div>
      <div id="mansfield_park_class_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_class_status_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#aristocrat" role="button">aristocrat</a>
            <a class="btn btn-default" href="#gentry" role="button">gentry</a>
            <a class="btn btn-default" href="#landed_gentry" role="button">landed gentry</a>
            <a class="btn btn-default" href="#professional_class" role="button">professional class</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="mansfield_park_age_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_age_body"
               aria-expanded="false"
               aria-controls="mansfield_park_age_body">Age</a>
         </h4>
      </div>
      <div id="mansfield_park_age_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_age_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#middle-aged" role="button">middle-aged</a>
            <a class="btn btn-default" href="#old" role="button">old</a>
            <a class="btn btn-default" href="#out" role="button">out</a>
            <a class="btn btn-default" href="#young_married" role="button">young married</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_occupation_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_occupation_body"
               aria-expanded="false"
               aria-controls="mansfield_park_occupation_body">Occupation</a>
         </h4>
      </div>
      <div id="mansfield_park_occupation_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_occupation_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#clergyman" role="button">clergyman</a>
            <a class="btn btn-default" href="#naval_officer" role="button">naval officer</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_indirect_diction_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_indirect_diction_body"
               aria-expanded="false"
               aria-controls="mansfield_park_indirect_diction_body">Indirect Diction</a>
         </h4>
      </div>
      <div id="mansfield_park_indirect_diction_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_indirect_diction_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#aus.006.ed_sirt" role="button">Edmund Bertram speaking as Sir Thomas Bertram</a>
            <a class="btn btn-default" href="#aus.006.ladyb_sirt" role="button">Lady Bertram speaking as Sir Thomas Bertram</a>
            <a class="btn btn-default" href="#aus.006.ed_ladyb" role="button">Edmund Bertram speaking as Lady Bertram</a>
            <a class="btn btn-default" href="#aus.006.ladyb_ed" role="button">Lady Bertram speaking as Edmund Bertram</a>
            <a class="btn btn-default" href="#aus.006.fanny_ed" role="button">Fanny Price speaking as Edmund Bertram</a>
            <a class="btn btn-default" href="#aus.006.mrsn_mrsg" role="button">Mrs. Norris speaking as Mrs. Grant</a>
            <a class="btn btn-default" href="#aus.006.ed_mary" role="button">Edmund Bertram speaking as Mary Crawford</a>
            <a class="btn btn-default" href="#aus.006.mary_henry" role="button">Mary Crawford speaking as Henry Crawford</a>
            <a class="btn btn-default" href="#aus.006.mrsp_mary" role="button">Mrs. Price speaking as Mary Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.mary_henry_maria"
               role="button">Mary Crawford speaking as Henry Crawford speaking as Maria Bertram</a>
            <a class="btn btn-default" href="#aus.006.ed_henry" role="button">Edmund Bertram speaking as Henry Crawford</a>
            <a class="btn btn-default" href="#aus.006.mrsg_julia" role="button">Mrs. Goddard speaking as Julia Bertram</a>
            <a class="btn btn-default" href="#aus.006.nar" role="button">Narrator</a>
            <a class="btn btn-default" href="#aus.006.nar_sirt" role="button">Narrator as Sir Thomas Bertram</a>
            <a class="btn btn-default" href="#aus.006.nar_mrsn" role="button">Narrator as Mrs. Norris</a>
            <a class="btn btn-default" href="#aus.006.nar_ladyb" role="button">Narrator as Lady Bertram</a>
            <a class="btn btn-default" href="#aus.006.nar_fanny" role="button">Narrator as Fanny Price</a>
            <a class="btn btn-default" href="#aus.006.nar_mrsp" role="button">Narrator as Mrs. Price</a>
            <a class="btn btn-default" href="#aus.006.nar_henry" role="button">Narrator as Henry Crawford</a>
            <a class="btn btn-default" href="#aus.006.nar_ed" role="button">Narrator as Edmund Bertram</a>
            <a class="btn btn-default" href="#aus.006.nar_mrsg" role="button">Narrator as Mrs. Grant</a>
            <a class="btn btn-default" href="#aus.006.nar_mary" role="button">Narrator as Mary Crawford</a>
            <a class="btn btn-default" href="#aus.006.nar_maria" role="button">Narrator as Maria Bertram</a>
            <a class="btn btn-default" href="#aus.006.nar_tom" role="button">Narrator as Tom Bertram</a>
            <a class="btn btn-default" href="#aus.006.nar_rush" role="button">Narrator as Mr. Rushworth</a>
            <a class="btn btn-default" href="#aus.006.nar_drg" role="button">Narrator as Dr. Grant</a>
            <a class="btn btn-default" href="#aus.006.nar_julia" role="button">Narrator as Miss Julia Bertram</a>
            <a class="btn btn-default" href="#aus.006.nar_mrsr" role="button">Narrator as Mrs Rushworth</a>
            <a class="btn btn-default" href="#aus.006.nar_yates" role="button">Narrator as Mr John Yates</a>
            <a class="btn btn-default" href="#aus.006.nar_will" role="button">Narrator as Mr William Price</a>
            <a class="btn btn-default" href="#aus.006.nar_susan" role="button">Narrator as Miss Susan Price</a>
            <a class="btn btn-default" href="#aus.006.nar_mrp" role="button">Narrator as Mr Price</a>
         </div>
      </div>
   </div>
</div>
