<div class="panel-group"
     id="accordion"
     role="tablist"
     aria-multiselectable="true">
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_characters_heading">
         <h4 class="panel-title">
            <a class=""
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_characters_body"
               aria-expanded="true"
               aria-controls="mansfield_park_characters_body">Characters</a>
         </h4>
      </div>
      <div id="mansfield_park_characters_body"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="mansfield_park_characters_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.006.sirt"
               role="button"
               data="mansfield_park">Sir Thomas Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.mrsn"
               role="button"
               data="mansfield_park">Mrs. Norris</a>
            <a class="btn btn-default"
               href="#aus.006.ladyb"
               role="button"
               data="mansfield_park">Lady Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.mrsp"
               role="button"
               data="mansfield_park">Mrs. Price</a>
            <a class="btn btn-default"
               href="#aus.006.ed"
               role="button"
               data="mansfield_park">Edmund Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.fanny"
               role="button"
               data="mansfield_park">Fanny Price</a>
            <a class="btn btn-default"
               href="#aus.006.mrsg"
               role="button"
               data="mansfield_park">Mrs. Grant</a>
            <a class="btn btn-default"
               href="#aus.006.mary"
               role="button"
               data="mansfield_park">Mary Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.henry"
               role="button"
               data="mansfield_park">Henry Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.maria"
               role="button"
               data="mansfield_park">Maria Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.tom"
               role="button"
               data="mansfield_park">Tom Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.rush"
               role="button"
               data="mansfield_park">Mr. Rushworth</a>
            <a class="btn btn-default"
               href="#aus.006.drg"
               role="button"
               data="mansfield_park">Dr. Grant</a>
            <a class="btn btn-default"
               href="#aus.006.julia"
               role="button"
               data="mansfield_park">Julia Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.mrsr"
               role="button"
               data="mansfield_park">Mrs. Rushworth</a>
            <a class="btn btn-default"
               href="#aus.006.yates"
               role="button"
               data="mansfield_park">Mr. Yates</a>
            <a class="btn btn-default"
               href="#aus.006.will"
               role="button"
               data="mansfield_park">William Price</a>
            <a class="btn btn-default"
               href="#aus.006.susan"
               role="button"
               data="mansfield_park">Susan Price</a>
            <a class="btn btn-default"
               href="#aus.006.mrp"
               role="button"
               data="mansfield_park">Mr. Price</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_character_type_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_character_type_body"
               aria-expanded="false"
               aria-controls="mansfield_park_character_type_body">Character Type</a>
         </h4>
      </div>
      <div id="mansfield_park_character_type_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_character_type_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#cad"
               role="button"
               data="mansfield_park">cad</a>
            <a class="btn btn-default"
               href="#fool"
               role="button"
               data="mansfield_park">fool</a>
            <a class="btn btn-default"
               href="#heir"
               role="button"
               data="mansfield_park">heir</a>
            <a class="btn btn-default"
               href="#hero"
               role="button"
               data="mansfield_park">hero</a>
            <a class="btn btn-default"
               href="#heroine"
               role="button"
               data="mansfield_park">heroine</a>
            <a class="btn btn-default"
               href="#neutral"
               role="button"
               data="mansfield_park">neutral</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="mansfield_park_sex_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_sex_body"
               aria-expanded="false"
               aria-controls="mansfield_park_sex_body">Sex</a>
         </h4>
      </div>
      <div id="mansfield_park_sex_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_sex_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#female"
               role="button"
               data="mansfield_park">female</a>
            <a class="btn btn-default"
               href="#male"
               role="button"
               data="mansfield_park">male</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_marriage_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_marriage_status_body"
               aria-expanded="false"
               aria-controls="mansfield_park_marriage_status_body">Marriage Status</a>
         </h4>
      </div>
      <div id="mansfield_park_marriage_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_marriage_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#married"
               role="button"
               data="mansfield_park">married</a>
            <a class="btn btn-default"
               href="#mda"
               role="button"
               data="mansfield_park">mda</a>
            <a class="btn btn-default"
               href="#unmarried"
               role="button"
               data="mansfield_park">unmarried</a>
            <a class="btn btn-default"
               href="#widowed"
               role="button"
               data="mansfield_park">widowed</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_class_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_class_status_body"
               aria-expanded="false"
               aria-controls="mansfield_park_class_status_body">Class status</a>
         </h4>
      </div>
      <div id="mansfield_park_class_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_class_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aristocrat"
               role="button"
               data="mansfield_park">aristocrat</a>
            <a class="btn btn-default"
               href="#gentry"
               role="button"
               data="mansfield_park">gentry</a>
            <a class="btn btn-default"
               href="#landed_gentry"
               role="button"
               data="mansfield_park">landed gentry</a>
            <a class="btn btn-default"
               href="#professional_class"
               role="button"
               data="mansfield_park">professional class</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="mansfield_park_age_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_age_body"
               aria-expanded="false"
               aria-controls="mansfield_park_age_body">Age</a>
         </h4>
      </div>
      <div id="mansfield_park_age_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_age_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#middle-aged"
               role="button"
               data="mansfield_park">middle-aged</a>
            <a class="btn btn-default"
               href="#old"
               role="button"
               data="mansfield_park">old</a>
            <a class="btn btn-default"
               href="#out"
               role="button"
               data="mansfield_park">out</a>
            <a class="btn btn-default"
               href="#young_married"
               role="button"
               data="mansfield_park">young married</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_occupation_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_occupation_body"
               aria-expanded="false"
               aria-controls="mansfield_park_occupation_body">Occupation</a>
         </h4>
      </div>
      <div id="mansfield_park_occupation_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_occupation_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#clergyman"
               role="button"
               data="mansfield_park">clergyman</a>
            <a class="btn btn-default"
               href="#naval_officer"
               role="button"
               data="mansfield_park">naval officer</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="mansfield_park_indirect_diction_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#mansfield_park_indirect_diction_body"
               aria-expanded="false"
               aria-controls="mansfield_park_indirect_diction_body">Indirect Diction</a>
         </h4>
      </div>
      <div id="mansfield_park_indirect_diction_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="mansfield_park_indirect_diction_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.006.ed_sirt"
               role="button"
               data="mansfield_park">Edmund Bertram speaking as Sir Thomas Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.ladyb_sirt"
               role="button"
               data="mansfield_park">Lady Bertram speaking as Sir Thomas Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.ed_ladyb"
               role="button"
               data="mansfield_park">Edmund Bertram speaking as Lady Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.ladyb_ed"
               role="button"
               data="mansfield_park">Lady Bertram speaking as Edmund Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.fanny_ed"
               role="button"
               data="mansfield_park">Fanny Price speaking as Edmund Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.mrsn_mrsg"
               role="button"
               data="mansfield_park">Mrs. Norris speaking as Mrs. Grant</a>
            <a class="btn btn-default"
               href="#aus.006.ed_mary"
               role="button"
               data="mansfield_park">Edmund Bertram speaking as Mary Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.mary_henry"
               role="button"
               data="mansfield_park">Mary Crawford speaking as Henry Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.mrsp_mary"
               role="button"
               data="mansfield_park">Mrs. Price speaking as Mary Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.mary_henry_maria"
               role="button"
               data="mansfield_park">Mary Crawford speaking as Henry Crawford speaking as Maria Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.ed_henry"
               role="button"
               data="mansfield_park">Edmund Bertram speaking as Henry Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.mrsg_julia"
               role="button"
               data="mansfield_park">Mrs. Goddard speaking as Julia Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar"
               role="button"
               data="mansfield_park">Narrator</a>
            <a class="btn btn-default"
               href="#aus.006.nar_sirt"
               role="button"
               data="mansfield_park">Narrator as Sir Thomas Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mrsn"
               role="button"
               data="mansfield_park">Narrator as Mrs. Norris</a>
            <a class="btn btn-default"
               href="#aus.006.nar_ladyb"
               role="button"
               data="mansfield_park">Narrator as Lady Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_fanny"
               role="button"
               data="mansfield_park">Narrator as Fanny Price</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mrsp"
               role="button"
               data="mansfield_park">Narrator as Mrs. Price</a>
            <a class="btn btn-default"
               href="#aus.006.nar_henry"
               role="button"
               data="mansfield_park">Narrator as Henry Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.nar_ed"
               role="button"
               data="mansfield_park">Narrator as Edmund Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mrsg"
               role="button"
               data="mansfield_park">Narrator as Mrs. Grant</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mary"
               role="button"
               data="mansfield_park">Narrator as Mary Crawford</a>
            <a class="btn btn-default"
               href="#aus.006.nar_maria"
               role="button"
               data="mansfield_park">Narrator as Maria Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_tom"
               role="button"
               data="mansfield_park">Narrator as Tom Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_rush"
               role="button"
               data="mansfield_park">Narrator as Mr. Rushworth</a>
            <a class="btn btn-default"
               href="#aus.006.nar_drg"
               role="button"
               data="mansfield_park">Narrator as Dr. Grant</a>
            <a class="btn btn-default"
               href="#aus.006.nar_julia"
               role="button"
               data="mansfield_park">Narrator as Miss Julia Bertram</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mrsr"
               role="button"
               data="mansfield_park">Narrator as Mrs Rushworth</a>
            <a class="btn btn-default"
               href="#aus.006.nar_yates"
               role="button"
               data="mansfield_park">Narrator as Mr John Yates</a>
            <a class="btn btn-default"
               href="#aus.006.nar_will"
               role="button"
               data="mansfield_park">Narrator as Mr William Price</a>
            <a class="btn btn-default"
               href="#aus.006.nar_susan"
               role="button"
               data="mansfield_park">Narrator as Miss Susan Price</a>
            <a class="btn btn-default"
               href="#aus.006.nar_mrp"
               role="button"
               data="mansfield_park">Narrator as Mr Price</a>
         </div>
      </div>
   </div>
</div>
