<?xml version="1.0"?>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mansfield_park_speakerData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#mansfield_park_speakerData_body" aria-expanded="true" aria-controls="mansfield_park_speakerData_body">Character Direct Speech</a>
      </h4>
    </div>
    <div id="mansfield_park_speakerData_body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mansfield_park_speakerData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.006.drg" role="button" data="mansfield_park">Dr. Grant</a>
        <a class="btn btn-default btn-xs" href="#aus.006.ed" role="button" data="mansfield_park">Edmund Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.fanny" role="button" data="mansfield_park">Fanny Price</a>
        <a class="btn btn-default btn-xs" href="#aus.006.henry" role="button" data="mansfield_park">Henry Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.julia" role="button" data="mansfield_park">Julia Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.ladyb" role="button" data="mansfield_park">Lady Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mpsoc" role="button" data="mansfield_park">Mansfield Park society</a>
        <a class="btn btn-default btn-xs" href="#aus.006.maria" role="button" data="mansfield_park">Maria Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mary" role="button" data="mansfield_park">Mary Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrp" role="button" data="mansfield_park">Mr. Price</a>
        <a class="btn btn-default btn-xs" href="#aus.006.rush" role="button" data="mansfield_park">Mr. Rushworth</a>
        <a class="btn btn-default btn-xs" href="#aus.006.yates" role="button" data="mansfield_park">Mr. Yates</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrsg" role="button" data="mansfield_park">Mrs. Grant</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrsn" role="button" data="mansfield_park">Mrs. Norris</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrsp" role="button" data="mansfield_park">Mrs. Price</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrsr" role="button" data="mansfield_park">Mrs. Rushworth</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar" role="button" data="mansfield_park">Narrator (Mansfield Park)</a>
        <a class="btn btn-default btn-xs" href="#aus.006.news" role="button" data="mansfield_park">Newspaper</a>
        <a class="btn btn-default btn-xs" href="#aus.006.sirt" role="button" data="mansfield_park">Sir Thomas Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.henrymary" role="button" data="mansfield_park">Speaking together Henry Crawford and Mary Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.maju" role="button" data="mansfield_park">Speaking together Maria Bertram and Julia Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.susan" role="button" data="mansfield_park">Susan Price</a>
        <a class="btn btn-default btn-xs" href="#aus.006.tom" role="button" data="mansfield_park">Tom Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.will" role="button" data="mansfield_park">William Price</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mansfield_park_indirectData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#mansfield_park_indirectData_body" aria-expanded="true" aria-controls="mansfield_park_indirectData_body">Character Indirect Diction</a>
      </h4>
    </div>
    <div id="mansfield_park_indirectData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="mansfield_park_indirectData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.006.nar_fanny" role="button" data="mansfield_park">Narrator as Fanny Price</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_ed" role="button" data="mansfield_park">Narrator as Edmund Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_sirt" role="button" data="mansfield_park">Narrator as Sir Thomas Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_henry" role="button" data="mansfield_park">Narrator as Henry Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_maria" role="button" data="mansfield_park">Narrator as Maria Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_mrsr" role="button" data="mansfield_park">Narrator as Mrs Rushworth</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_yates" role="button" data="mansfield_park">Narrator as Mr John Yates</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_susan" role="button" data="mansfield_park">Narrator as Miss Susan Price</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_mrh" role="button" data="mansfield_park">Narrator as Mr Harding</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_edfanny" role="button" data="mansfield_park">Narrator as Edmund Bertram and Fanny Price</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_maju" role="button" data="mansfield_park">Narrator as Maria Bertram and Julia Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_fanny_mrsn" role="button" data="mansfield_park">Narrator as Fanny Price as Mrs. Norris</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_sirc" role="button" data="mansfield_park">Narrator as Sir Charles</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_tom" role="button" data="mansfield_park">Narrator as Tom Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_mary" role="button" data="mansfield_park">Narrator as Mary Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_tommaria" role="button" data="mansfield_park">Narrator as Maria Bertram and Tom Bertram</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_mrsn" role="button" data="mansfield_park">Narrator as Mrs. Norris</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_mrsp" role="button" data="mansfield_park">Narrator as Mrs. Price</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_edhenry" role="button" data="mansfield_park">Narrator as Edmund Bertram and Henry Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.nar_will" role="button" data="mansfield_park">Narrator as Mr William Price</a>
        <a class="btn btn-default btn-xs" href="#aus.006.ed_mary" role="button" data="mansfield_park">Edmund Bertram speaking as Mary Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mary_henry" role="button" data="mansfield_park">Mary Crawford speaking as Henry Crawford</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrp_captw" role="button" data="mansfield_park">Mr. Price speaking as Captain Walsh</a>
        <a class="btn btn-default btn-xs" href="#aus.006.mrp_scholey" role="button" data="mansfield_park">Mr. Price speaking as Mr. Scholey</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mansfield_park_traitData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#mansfield_park_traitData_body" aria-expanded="true" aria-controls="mansfield_park_traitData_body">Trait: Character Type</a>
      </h4>
    </div>
    <div id="mansfield_park_traitData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="mansfield_park_traitData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#cad" role="button" data="mansfield_park">cad</a>
        <a class="btn btn-default btn-xs" href="#fool" role="button" data="mansfield_park">fool</a>
        <a class="btn btn-default btn-xs" href="#heir" role="button" data="mansfield_park">heir</a>
        <a class="btn btn-default btn-xs" href="#hero" role="button" data="mansfield_park">hero</a>
        <a class="btn btn-default btn-xs" href="#heroine" role="button" data="mansfield_park">heroine</a>
        <a class="btn btn-default btn-xs" href="#neutral" role="button" data="mansfield_park">neutral</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mansfield_park_genderData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#mansfield_park_genderData_body" aria-expanded="true" aria-controls="mansfield_park_genderData_body">Trait: Character Sex</a>
      </h4>
    </div>
    <div id="mansfield_park_genderData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="mansfield_park_genderData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#female" role="button" data="mansfield_park">female</a>
        <a class="btn btn-default btn-xs" href="#male" role="button" data="mansfield_park">male</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mansfield_park_maritalStateData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#mansfield_park_maritalStateData_body" aria-expanded="true" aria-controls="mansfield_park_maritalStateData_body">Trait: Character Marriage Status</a>
      </h4>
    </div>
    <div id="mansfield_park_maritalStateData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="mansfield_park_maritalStateData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#married" role="button" data="mansfield_park">married</a>
        <a class="btn btn-default btn-xs" href="#mda" role="button" data="mansfield_park">mda</a>
        <a class="btn btn-default btn-xs" href="#unmarried" role="button" data="mansfield_park">unmarried</a>
        <a class="btn btn-default btn-xs" href="#widowed" role="button" data="mansfield_park">widowed</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mansfield_park_socecStatusData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#mansfield_park_socecStatusData_body" aria-expanded="true" aria-controls="mansfield_park_socecStatusData_body">Trait: Character Class Status</a>
      </h4>
    </div>
    <div id="mansfield_park_socecStatusData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="mansfield_park_socecStatusData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aristocrat" role="button" data="mansfield_park">aristocrat</a>
        <a class="btn btn-default btn-xs" href="#gentry" role="button" data="mansfield_park">gentry</a>
        <a class="btn btn-default btn-xs" href="#landed_gentry" role="button" data="mansfield_park">landed gentry</a>
        <a class="btn btn-default btn-xs" href="#professional_class" role="button" data="mansfield_park">professional class</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mansfield_park_ageData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#mansfield_park_ageData_body" aria-expanded="true" aria-controls="mansfield_park_ageData_body">Trait: Character Age</a>
      </h4>
    </div>
    <div id="mansfield_park_ageData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="mansfield_park_ageData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#middle-aged" role="button" data="mansfield_park">middle-aged</a>
        <a class="btn btn-default btn-xs" href="#out" role="button" data="mansfield_park">out</a>
        <a class="btn btn-default btn-xs" href="#young_married" role="button" data="mansfield_park">young married</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mansfield_park_occupationData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#mansfield_park_occupationData_body" aria-expanded="true" aria-controls="mansfield_park_occupationData_body">Trait: Character Occupation</a>
      </h4>
    </div>
    <div id="mansfield_park_occupationData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="mansfield_park_occupationData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#clergyman" role="button" data="mansfield_park">clergyman</a>
        <a class="btn btn-default btn-xs" href="#naval_officer" role="button" data="mansfield_park">naval officer</a>
      </div>
    </div>
  </div>
</div>
