<?xml version="1.0"?>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="northanger_abbey_speakerData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#northanger_abbey_speakerData_body" aria-expanded="true" aria-controls="northanger_abbey_speakerData_body">Character Direct Speech</a>
      </h4>
    </div>
    <div id="northanger_abbey_speakerData_body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="northanger_abbey_speakerData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.003.nar" role="button" data="northanger_abbey">Narrator (Northanger Abbey)</a>
        <a class="btn btn-default btn-xs" href="#aus.003.anne" role="button" data="northanger_abbey">Anne Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.cat" role="button" data="northanger_abbey">Catherine Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.003.ele" role="button" data="northanger_abbey">Eleanor Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.cap" role="button" data="northanger_abbey">Frederick Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.gen" role="button" data="northanger_abbey">General Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.til" role="button" data="northanger_abbey">Henry Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.isa" role="button" data="northanger_abbey">Isabella Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.jam" role="button" data="northanger_abbey">James Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.003.john" role="button" data="northanger_abbey">John Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mar" role="button" data="northanger_abbey">Maria Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mra" role="button" data="northanger_abbey">Mr. Allen</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsa" role="button" data="northanger_abbey">Mrs. Allen</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsh" role="button" data="northanger_abbey">Mrs. Hughes</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsm" role="button" data="northanger_abbey">Mrs. Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrst" role="button" data="northanger_abbey">Mrs. Thorpe</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="northanger_abbey_indirectData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#northanger_abbey_indirectData_body" aria-expanded="true" aria-controls="northanger_abbey_indirectData_body">Character Indirect Diction</a>
      </h4>
    </div>
    <div id="northanger_abbey_indirectData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="northanger_abbey_indirectData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.003.nar_cat" role="button" data="northanger_abbey">Narrator as Miss Catherine Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_gen" role="button" data="northanger_abbey">Narrator as General Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_john" role="button" data="northanger_abbey">Narrator as John Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_til" role="button" data="northanger_abbey">Narrator as Henry Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_mrsm" role="button" data="northanger_abbey">Narrator as Mrs. Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_isa" role="button" data="northanger_abbey">Narrator as Isabella Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_jam" role="button" data="northanger_abbey">Narrator as James Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_ele" role="button" data="northanger_abbey">Narrator as Eleanor Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_mrsa" role="button" data="northanger_abbey">Narrator as Mrs. Allen</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_mar" role="button" data="northanger_abbey">Narrator as Maria Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_catele" role="button" data="northanger_abbey">Narrator as Catherine Morland and Eleanor Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_mrsmmrm" role="button" data="northanger_abbey">Narrator as Mr. Morland and Mrs. Morland</a>
        <a class="btn btn-default btn-xs" href="#aus.003.nar_mrst" role="button" data="northanger_abbey">Narrator as Mrs. Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.isa_cap" role="button" data="northanger_abbey">Isabella Thorpe speaking as Frederick Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.john_til" role="button" data="northanger_abbey">John Thorpe speaking as Henry Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mar_john" role="button" data="northanger_abbey">Maria Thorpe speaking as John Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsa_til" role="button" data="northanger_abbey">Mrs. Allen speaking as Henry Tilney</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsa_mra" role="button" data="northanger_abbey">Mrs. Allen speaking as Mr. Allen</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsa_mrsh" role="button" data="northanger_abbey">Mrs. Allen speaking as Mrs. Hughes</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsa_mrst" role="button" data="northanger_abbey">Mrs. Allen speaking as Mrs. Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsh_isa" role="button" data="northanger_abbey">Mrs. Hughes speaking as Isabella Thorpe</a>
        <a class="btn btn-default btn-xs" href="#aus.003.mrsm_mrm" role="button" data="northanger_abbey">Mrs. Morland speaking as Mr. Morland</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="northanger_abbey_traitData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#northanger_abbey_traitData_body" aria-expanded="true" aria-controls="northanger_abbey_traitData_body">Trait: Character Type</a>
      </h4>
    </div>
    <div id="northanger_abbey_traitData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="northanger_abbey_traitData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#narrator" role="button" data="northanger_abbey">Narrator</a>
        <a class="btn btn-default btn-xs" href="#cad" role="button" data="northanger_abbey">Cad</a>
        <a class="btn btn-default btn-xs" href="#fool" role="button" data="northanger_abbey">Fool</a>
        <a class="btn btn-default btn-xs" href="#hero" role="button" data="northanger_abbey">Hero</a>
        <a class="btn btn-default btn-xs" href="#heroine" role="button" data="northanger_abbey">Heroine</a>
        <a class="btn btn-default btn-xs" href="#neutral" role="button" data="northanger_abbey">Neutral</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="northanger_abbey_genderData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#northanger_abbey_genderData_body" aria-expanded="true" aria-controls="northanger_abbey_genderData_body">Trait: Character Sex</a>
      </h4>
    </div>
    <div id="northanger_abbey_genderData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="northanger_abbey_genderData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#female" role="button" data="northanger_abbey">Female</a>
        <a class="btn btn-default btn-xs" href="#male" role="button" data="northanger_abbey">Male</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="northanger_abbey_maritalStateData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#northanger_abbey_maritalStateData_body" aria-expanded="true" aria-controls="northanger_abbey_maritalStateData_body">Trait: Character Marriage Status</a>
      </h4>
    </div>
    <div id="northanger_abbey_maritalStateData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="northanger_abbey_maritalStateData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#married" role="button" data="northanger_abbey">Married</a>
        <a class="btn btn-default btn-xs" href="#unmarried" role="button" data="northanger_abbey">Unmarried</a>
        <a class="btn btn-default btn-xs" href="#widowed" role="button" data="northanger_abbey">Widowed</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="northanger_abbey_socecStatusData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#northanger_abbey_socecStatusData_body" aria-expanded="true" aria-controls="northanger_abbey_socecStatusData_body">Trait: Character Class Status</a>
      </h4>
    </div>
    <div id="northanger_abbey_socecStatusData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="northanger_abbey_socecStatusData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#gentry" role="button" data="northanger_abbey">Gentry</a>
        <a class="btn btn-default btn-xs" href="#landed_gentry" role="button" data="northanger_abbey">Landed gentry</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="northanger_abbey_ageData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#northanger_abbey_ageData_body" aria-expanded="true" aria-controls="northanger_abbey_ageData_body">Trait: Character Age</a>
      </h4>
    </div>
    <div id="northanger_abbey_ageData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="northanger_abbey_ageData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#middle-aged" role="button" data="northanger_abbey">Middle-aged</a>
        <a class="btn btn-default btn-xs" href="#out" role="button" data="northanger_abbey">Out</a>
        <a class="btn btn-default btn-xs" href="#young" role="button" data="northanger_abbey">Young</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="northanger_abbey_occupationData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#northanger_abbey_occupationData_body" aria-expanded="true" aria-controls="northanger_abbey_occupationData_body">Trait: Character Occupation</a>
      </h4>
    </div>
    <div id="northanger_abbey_occupationData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="northanger_abbey_occupationData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#clergyman" role="button" data="northanger_abbey">Clergyman</a>
        <a class="btn btn-default btn-xs" href="#soldier" role="button" data="northanger_abbey">Soldier</a>
      </div>
    </div>
  </div>
</div>
