<div class="panel-group"
     id="accordion"
     role="tablist"
     aria-multiselectable="true">
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="northanger_abbey_characters_heading">
         <h4 class="panel-title">
            <a class=""
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#northanger_abbey_characters_body"
               aria-expanded="true"
               aria-controls="northanger_abbey_characters_body">Characters</a>
         </h4>
      </div>
      <div id="northanger_abbey_characters_body"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="northanger_abbey_characters_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.003.cat"
               role="button"
               data="northanger_abbey">Catherine Morland</a>
            <a class="btn btn-default"
               href="#aus.003.mrsm"
               role="button"
               data="northanger_abbey">Mrs. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.mrm"
               role="button"
               data="northanger_abbey">Mr. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.mrsa"
               role="button"
               data="northanger_abbey">Mrs. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.mra"
               role="button"
               data="northanger_abbey">Mr. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.til"
               role="button"
               data="northanger_abbey">Henry Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.isa"
               role="button"
               data="northanger_abbey">Isabella Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mrst"
               role="button"
               data="northanger_abbey">Mrs. Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.john"
               role="button"
               data="northanger_abbey">John Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.jam"
               role="button"
               data="northanger_abbey">James Morland</a>
            <a class="btn btn-default"
               href="#aus.003.ele"
               role="button"
               data="northanger_abbey">Eleanor Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.gen"
               role="button"
               data="northanger_abbey">General Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.anne"
               role="button"
               data="northanger_abbey">Anne Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mar"
               role="button"
               data="northanger_abbey">Maria Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.cap"
               role="button"
               data="northanger_abbey">Frederick Tilney</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="northanger_abbey_character_type_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#northanger_abbey_character_type_body"
               aria-expanded="false"
               aria-controls="northanger_abbey_character_type_body">Character Type</a>
         </h4>
      </div>
      <div id="northanger_abbey_character_type_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="northanger_abbey_character_type_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#cad"
               role="button"
               data="northanger_abbey">cad</a>
            <a class="btn btn-default"
               href="#fool"
               role="button"
               data="northanger_abbey">fool</a>
            <a class="btn btn-default"
               href="#heir"
               role="button"
               data="northanger_abbey">heir</a>
            <a class="btn btn-default"
               href="#hero"
               role="button"
               data="northanger_abbey">hero</a>
            <a class="btn btn-default"
               href="#heroine"
               role="button"
               data="northanger_abbey">heroine</a>
            <a class="btn btn-default"
               href="#narrator"
               role="button"
               data="northanger_abbey">narrator</a>
            <a class="btn btn-default"
               href="#neutral"
               role="button"
               data="northanger_abbey">neutral</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="northanger_abbey_sex_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#northanger_abbey_sex_body"
               aria-expanded="false"
               aria-controls="northanger_abbey_sex_body">Sex</a>
         </h4>
      </div>
      <div id="northanger_abbey_sex_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="northanger_abbey_sex_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#female"
               role="button"
               data="northanger_abbey">female</a>
            <a class="btn btn-default"
               href="#male"
               role="button"
               data="northanger_abbey">male</a>
         </div>
      </div>
   </div>
<!--
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="northanger_abbey_marriage_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#northanger_abbey_marriage_status_body"
               aria-expanded="false"
               aria-controls="northanger_abbey_marriage_status_body">Marriage Status</a>
         </h4>
      </div>
      <div id="northanger_abbey_marriage_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="northanger_abbey_marriage_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#married"
               role="button"
               data="northanger_abbey">married</a>
            <a class="btn btn-default"
               href="#unmarried"
               role="button"
               data="northanger_abbey">unmarried</a>
            <a class="btn btn-default"
               href="#widowed"
               role="button"
               data="northanger_abbey">widowed</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="northanger_abbey_class_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#northanger_abbey_class_status_body"
               aria-expanded="false"
               aria-controls="northanger_abbey_class_status_body">Class status</a>
         </h4>
      </div>
      <div id="northanger_abbey_class_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="northanger_abbey_class_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#gentry"
               role="button"
               data="northanger_abbey">gentry</a>
            <a class="btn btn-default"
               href="#landed_gentry"
               role="button"
               data="northanger_abbey">landed gentry</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="northanger_abbey_age_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#northanger_abbey_age_body"
               aria-expanded="false"
               aria-controls="northanger_abbey_age_body">Age</a>
         </h4>
      </div>
      <div id="northanger_abbey_age_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="northanger_abbey_age_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#middle-aged"
               role="button"
               data="northanger_abbey">middle-aged</a>
            <a class="btn btn-default"
               href="#out"
               role="button"
               data="northanger_abbey">out</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="northanger_abbey_occupation_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#northanger_abbey_occupation_body"
               aria-expanded="false"
               aria-controls="northanger_abbey_occupation_body">Occupation</a>
         </h4>
      </div>
      <div id="northanger_abbey_occupation_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="northanger_abbey_occupation_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#clergyman"
               role="button"
               data="northanger_abbey">clergyman</a>
            <a class="btn btn-default"
               href="#soldier"
               role="button"
               data="northanger_abbey">soldier</a>
         </div>
      </div>
   </div>
-->
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="northanger_abbey_indirect_diction_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#northanger_abbey_indirect_diction_body"
               aria-expanded="false"
               aria-controls="northanger_abbey_indirect_diction_body">Indirect Diction</a>
         </h4>
      </div>
      <div id="northanger_abbey_indirect_diction_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="northanger_abbey_indirect_diction_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.003.isa_jam"
               role="button"
               data="northanger_abbey">Isabella Thorpe speaking as Mr James Morland</a>
            <a class="btn btn-default"
               href="#aus.003.isa_john"
               role="button"
               data="northanger_abbey">Isabella Thorpe speaking as Mr. John Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.isa_mrst"
               role="button"
               data="northanger_abbey">Isabella Thorpe speaking as Mrs. Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mrsa_mrst"
               role="button"
               data="northanger_abbey">Mrs. Allen speaking as Mrs. Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mrsa_til"
               role="button"
               data="northanger_abbey">Mrs. Allen speaking as Henry Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.john_til"
               role="button"
               data="northanger_abbey">John Thorpe speaking as Henry Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.mrsa_mra"
               role="button"
               data="northanger_abbey">Mrs. Allen speaking as Mr. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.jam_isa"
               role="button"
               data="northanger_abbey">James Morland speaking as Isabella Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mrsh_isa"
               role="button"
               data="northanger_abbey">Mrs. Hughes speaking as Isabella Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.mrsm_mrm"
               role="button"
               data="northanger_abbey">Mrs. Morland speaking as Mr. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.isa_cat"
               role="button"
               data="northanger_abbey">Isabella Thorpe speaking as Catherine Morland</a>
            <a class="btn btn-default"
               href="#aus.003.cat_mrsa"
               role="button"
               data="northanger_abbey">Catherine Morland speaking as Mrs. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.mrsm_mrsa"
               role="button"
               data="northanger_abbey">Mrs. Morland speaking as Mrs. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.cat_mrsm"
               role="button"
               data="northanger_abbey">Catherine Morland speaking as Mrs. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.mrsa_mrsm"
               role="button"
               data="northanger_abbey">Mrs. Allen speaking as Mrs. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.mar_john"
               role="button"
               data="northanger_abbey">Maria Thorpe speaking as John Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.john_gen"
               role="button"
               data="northanger_abbey">John Thorpe speaking as General Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.john_ele"
               role="button"
               data="northanger_abbey">John Morland speaking as Eleanor Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.isa_cap"
               role="button"
               data="northanger_abbey">Isabella Thorpe speaking as Frederick Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.nar"
               role="button"
               data="northanger_abbey">Narrator</a>
            <a class="btn btn-default"
               href="#aus.003.nar_cat"
               role="button"
               data="northanger_abbey">Narrator as Miss Catherine Morland</a>
            <a class="btn btn-default"
               href="#aus.003.nar_mrsm"
               role="button"
               data="northanger_abbey">Narrator as Mrs. Morland</a>
            <a class="btn btn-default"
               href="#aus.003.nar_til"
               role="button"
               data="northanger_abbey">Narrator as Henry Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.nar_isa"
               role="button"
               data="northanger_abbey">Narrator as Isabella Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.nar_mrst"
               role="button"
               data="northanger_abbey">Narrator as Mrs. Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.nar_anne"
               role="button"
               data="northanger_abbey">Narrator as Anne Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.nar_cap"
               role="button"
               data="northanger_abbey">Narrator as Frederick Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.nar_mra"
               role="button"
               data="northanger_abbey">Narrator as Mr. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.nar_mrsa"
               role="button"
               data="northanger_abbey">Narrator as Mrs. Allen</a>
            <a class="btn btn-default"
               href="#aus.003.nar_john"
               role="button"
               data="northanger_abbey">Narrator as John Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.nar_jam"
               role="button"
               data="northanger_abbey">Narrator as James Morland</a>
            <a class="btn btn-default"
               href="#aus.003.nar_ele"
               role="button"
               data="northanger_abbey">Narrator as Eleanor Tilney</a>
            <a class="btn btn-default"
               href="#aus.003.nar_mar"
               role="button"
               data="northanger_abbey">Narrator as Maria Thorpe</a>
            <a class="btn btn-default"
               href="#aus.003.nar_gen"
               role="button"
               data="northanger_abbey">Narrator as General Tilney</a>
         </div>
      </div>
   </div>
</div>
