<?xml version="1.0"?>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="persuasion_speakerData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#persuasion_speakerData_body" aria-expanded="true" aria-controls="persuasion_speakerData_body">Character Direct Speech</a>
      </h4>
    </div>
    <div id="persuasion_speakerData_body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="persuasion_speakerData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.002.nar" role="button" data="persuasion">narrator</a>
        <a class="btn btn-default btn-xs" href="#aus.002.anne" role="button" data="persuasion">Anne Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.went" role="button" data="persuasion">Captain Wentworth</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mary" role="button" data="persuasion">Mary Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.smith" role="button" data="persuasion">Mrs. Smith</a>
        <a class="btn btn-default btn-xs" href="#aus.002.sirwalt" role="button" data="persuasion">Sir Walter Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.char" role="button" data="persuasion">Charles Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.admr" role="button" data="persuasion">Admiral Croft</a>
        <a class="btn btn-default btn-xs" href="#aus.002.harv" role="button" data="persuasion">Captain Harville</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mrsc" role="button" data="persuasion">Mrs. Croft</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mrsmus" role="button" data="persuasion">Mrs. Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mrel" role="button" data="persuasion">Mr. Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.eliz" role="button" data="persuasion">Elizabeth Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.lruss" role="button" data="persuasion">Lady Russell</a>
        <a class="btn btn-default btn-xs" href="#aus.002.loui" role="button" data="persuasion">Louisa Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.shep" role="button" data="persuasion">Mr. Shepherd</a>
        <a class="btn btn-default btn-xs" href="#aus.002.clay" role="button" data="persuasion">Mrs. Clay</a>
        <a class="btn btn-default btn-xs" href="#aus.002.henr" role="button" data="persuasion">Henrietta Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.unknownlady" role="button" data="persuasion">Lady</a>
        <a class="btn btn-default btn-xs" href="#aus.002.waiter" role="button" data="persuasion">waiter</a>
        <a class="btn btn-default btn-xs" href="#aus.002.chayt" role="button" data="persuasion">Charles Hayter</a>
        <a class="btn btn-default btn-xs" href="#aus.002.innskeep" role="button" data="persuasion">innskeeper</a>
        <a class="btn btn-default btn-xs" href="#aus.002.marychar" role="button" data="persuasion">Speaking together Mary Musgrove and Charles Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.charhenrwent" role="button" data="persuasion">Speaking together Mr. Charles Musgrove , Miss Henrietta Musgrove and Captain Frederick Wentworth</a>
        <a class="btn btn-default btn-xs" href="#aus.002.dick" role="button" data="persuasion">Mr. Richard Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.harvmrsharv" role="button" data="persuasion">Speaking together Captain Harville and Mrs. Harville</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mrsmusmrmushenr" role="button" data="persuasion">Speaking together Mrs. Musgrove , Mr. Musgrove and Henrietta Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.non-anne" role="button" data="persuasion">Not Miss Anne Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.sirwaltelizclay" role="button" data="persuasion">Speaking together Sir Walter Elliot , Miss Elizabeth Elliot and Mrs Penelope Clay</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="persuasion_indirectData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#persuasion_indirectData_body" aria-expanded="true" aria-controls="persuasion_indirectData_body">Character Indirect Diction</a>
      </h4>
    </div>
    <div id="persuasion_indirectData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="persuasion_indirectData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.002.nar_anne" role="button" data="persuasion">Narrator as Anne Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_lruss" role="button" data="persuasion">Narrator as Lady Russell</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_sirwalt" role="button" data="persuasion">Narrator as Sir Walter Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_went" role="button" data="persuasion">Narrator as Captain Wentworth</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_char" role="button" data="persuasion">Narrator as Charles Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_eliz" role="button" data="persuasion">Narrator as Elizabeth Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mary" role="button" data="persuasion">Narrator as Mary Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mrel" role="button" data="persuasion">Narrator as Mr. Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_shep" role="button" data="persuasion">Narrator as Mr. Shepherd</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_sirwalteliz" role="button" data="persuasion">Narrator as Sir Walter Elliot and Elizabeth Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mrsmus" role="button" data="persuasion">Narrator as Mrs. Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_chayt" role="button" data="persuasion">Narrator as Charles Hayter</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_louihenr" role="button" data="persuasion">Narrator as Louisa Musgrove and Henrietta Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_marychar" role="button" data="persuasion">Narrator as Charles Musgrove and Mary Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_harvmrsharv" role="button" data="persuasion">Narrator as Captain Harville and Mrs. Harville</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mrsmusmrmus" role="button" data="persuasion">Narrator as Mr. Musgrove and Mrs. Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.char_gunsmith" role="button" data="persuasion">Charles Musgrove speaking as gunsmith</a>
        <a class="btn btn-default btn-xs" href="#aus.002.henr_drshir" role="button" data="persuasion">Henrietta Musgrove speaking as Dr. Shirley</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mary_benw" role="button" data="persuasion">Mary Musgrove speaking as Captain Benwick</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mary_mrsmus" role="button" data="persuasion">Mary Musgrove speaking as Mrs. Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_annelruss" role="button" data="persuasion">Narrator as Miss Anne Elliot and Lady Russell</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_gov" role="button" data="persuasion">Narrator as governess</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_sirwalteliz_mrel" role="button" data="persuasion">Narrator as Sir Walter Elliott and Elizabeth Elliott as Mr. Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_smith" role="button" data="persuasion">Narrator as Mrs. Smith</a>
        <a class="btn btn-default btn-xs" href="#aus.002.loui_mrsmusmrmus" role="button" data="persuasion">Lousia Musgrove speaking as Mr. Musgrove and Mrs. Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mary_jemi" role="button" data="persuasion">Mary Musgrove speaking as Jemima</a>
        <a class="btn btn-default btn-xs" href="#aus.002.mary_mrsharv" role="button" data="persuasion">Mary Musgrove speaking as Mrs. Harville</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_anne_char" role="button" data="persuasion">Narrator as Anne Elliot as Mr Charles Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_anne_went" role="button" data="persuasion">Narrator as Anne Elliot as Captain Wentworth</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mrrob" role="button" data="persuasion">Narrator as Mr Robinson</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mrsclruss" role="button" data="persuasion">Narrator as Mrs. Croft and Lady Russell</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_mrsmusmrmushenr" role="button" data="persuasion">Narrator as Mr. Musgrove , Mrs. Musgrove and Henrietta Musgrove</a>
        <a class="btn btn-default btn-xs" href="#aus.002.nar_surg" role="button" data="persuasion">Narrator as surgeon</a>
        <a class="btn btn-default btn-xs" href="#aus.002.smith_mrel" role="button" data="persuasion">Mrs. Smith speaking as Mr. Elliot</a>
        <a class="btn btn-default btn-xs" href="#aus.002.waiter_servant" role="button" data="persuasion">Waiter speaking as servant</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="persuasion_traitData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#persuasion_traitData_body" aria-expanded="true" aria-controls="persuasion_traitData_body">Trait: Character Type</a>
      </h4>
    </div>
    <div id="persuasion_traitData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="persuasion_traitData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#narrator" role="button" data="persuasion">narrator</a>
        <a class="btn btn-default btn-xs" href="#neutral" role="button" data="persuasion">neutral</a>
        <a class="btn btn-default btn-xs" href="#fool" role="button" data="persuasion">fool</a>
        <a class="btn btn-default btn-xs" href="#heroine" role="button" data="persuasion">heroine</a>
        <a class="btn btn-default btn-xs" href="#hero" role="button" data="persuasion">hero</a>
        <a class="btn btn-default btn-xs" href="#heir" role="button" data="persuasion">heir</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="persuasion_genderData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#persuasion_genderData_body" aria-expanded="true" aria-controls="persuasion_genderData_body">Trait: Character Sex</a>
      </h4>
    </div>
    <div id="persuasion_genderData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="persuasion_genderData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#female" role="button" data="persuasion">female</a>
        <a class="btn btn-default btn-xs" href="#male" role="button" data="persuasion">male</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="persuasion_maritalStateData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#persuasion_maritalStateData_body" aria-expanded="true" aria-controls="persuasion_maritalStateData_body">Trait: Character Marriage Status</a>
      </h4>
    </div>
    <div id="persuasion_maritalStateData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="persuasion_maritalStateData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#unmarried" role="button" data="persuasion">unmarried</a>
        <a class="btn btn-default btn-xs" href="#married" role="button" data="persuasion">married</a>
        <a class="btn btn-default btn-xs" href="#widowed" role="button" data="persuasion">widowed</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="persuasion_socecStatusData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#persuasion_socecStatusData_body" aria-expanded="true" aria-controls="persuasion_socecStatusData_body">Trait: Character Class Status</a>
      </h4>
    </div>
    <div id="persuasion_socecStatusData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="persuasion_socecStatusData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#gentry" role="button" data="persuasion">gentry</a>
        <a class="btn btn-default btn-xs" href="#aristocrat" role="button" data="persuasion">aristocrat</a>
        <a class="btn btn-default btn-xs" href="#landed_gentry" role="button" data="persuasion">landed gentry</a>
        <a class="btn btn-default btn-xs" href="#professional_class" role="button" data="persuasion">professional class</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="persuasion_ageData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#persuasion_ageData_body" aria-expanded="true" aria-controls="persuasion_ageData_body">Trait: Character Age</a>
      </h4>
    </div>
    <div id="persuasion_ageData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="persuasion_ageData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#out" role="button" data="persuasion">out</a>
        <a class="btn btn-default btn-xs" href="#middle-aged" role="button" data="persuasion">middle-aged</a>
        <a class="btn btn-default btn-xs" href="#young_married" role="button" data="persuasion">young married</a>
        <a class="btn btn-default btn-xs" href="#old" role="button" data="persuasion">old</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="persuasion_occupationData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#persuasion_occupationData_body" aria-expanded="true" aria-controls="persuasion_occupationData_body">Trait: Character Occupation</a>
      </h4>
    </div>
    <div id="persuasion_occupationData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="persuasion_occupationData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#naval_officer" role="button" data="persuasion">naval officer</a>
        <a class="btn btn-default btn-xs" href="#baronet" role="button" data="persuasion">baronet</a>
        <a class="btn btn-default btn-xs" href="#lawyer" role="button" data="persuasion">lawyer</a>
        <a class="btn btn-default btn-xs" href="#waiter" role="button" data="persuasion">waiter</a>
        <a class="btn btn-default btn-xs" href="#innskeeper" role="button" data="persuasion">innskeeper</a>
      </div>
    </div>
  </div>
</div>
