<div class="panel-group"
     id="accordion"
     role="tablist"
     aria-multiselectable="true">
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="persuasion_characters_heading">
         <h4 class="panel-title">
            <a class=""
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#persuasion_characters_body"
               aria-expanded="true"
               aria-controls="persuasion_characters_body">Characters</a>
         </h4>
      </div>
      <div id="persuasion_characters_body"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="persuasion_characters_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.002.sirwalt"
               role="button"
               data="persuasion">Sir Walter Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.eliz"
               role="button"
               data="persuasion">Elizabeth Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.mary"
               role="button"
               data="persuasion">Mary Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.char"
               role="button"
               data="persuasion">Charles Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.anne"
               role="button"
               data="persuasion">Anne Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.lruss"
               role="button"
               data="persuasion">Lady Russell</a>
            <a class="btn btn-default"
               href="#aus.002.shep"
               role="button"
               data="persuasion">Mr. Shepherd</a>
            <a class="btn btn-default"
               href="#aus.002.clay"
               role="button"
               data="persuasion">Mrs. Clay</a>
            <a class="btn btn-default"
               href="#aus.002.mrmus"
               role="button"
               data="persuasion">Mr. Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.mrsc"
               role="button"
               data="persuasion">Mrs. Croft</a>
            <a class="btn btn-default"
               href="#aus.002.admr"
               role="button"
               data="persuasion">Admiral Croft</a>
            <a class="btn btn-default"
               href="#aus.002.loui"
               role="button"
               data="persuasion">Louisa Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.went"
               role="button"
               data="persuasion">Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.henr"
               role="button"
               data="persuasion">Henrietta Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.chayt"
               role="button"
               data="persuasion">Charles Hayter</a>
            <a class="btn btn-default"
               href="#aus.002.harv"
               role="button"
               data="persuasion">Captain Harville</a>
            <a class="btn btn-default"
               href="#aus.002.mrsharv"
               role="button"
               data="persuasion">Mrs. Harville</a>
            <a class="btn btn-default"
               href="#aus.002.mrel"
               role="button"
               data="persuasion">Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.smith"
               role="button"
               data="persuasion">Mrs. Smith</a>
            <a class="btn btn-default"
               href="#aus.002.rooke"
               role="button"
               data="persuasion">Nurse Rooke</a>
            <a class="btn btn-default"
               href="#aus.002.mrsmus"
               role="button"
               data="persuasion">Mrs. Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.benw"
               role="button"
               data="persuasion">Captain Benwick</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="persuasion_character_type_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#persuasion_character_type_body"
               aria-expanded="false"
               aria-controls="persuasion_character_type_body">Character Type</a>
         </h4>
      </div>
      <div id="persuasion_character_type_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="persuasion_character_type_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#cad"
               role="button"
               data="persuasion">cad</a>
            <a class="btn btn-default"
               href="#fool"
               role="button"
               data="persuasion">fool</a>
            <a class="btn btn-default"
               href="#heir"
               role="button"
               data="persuasion">heir</a>
            <a class="btn btn-default"
               href="#hero"
               role="button"
               data="persuasion">hero</a>
            <a class="btn btn-default"
               href="#heroine"
               role="button"
               data="persuasion">heroine</a>
            <a class="btn btn-default"
               href="#narrator"
               role="button"
               data="persuasion">narrator</a>
            <a class="btn btn-default"
               href="#neutral"
               role="button"
               data="persuasion">neutral</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="persuasion_sex_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#persuasion_sex_body"
               aria-expanded="false"
               aria-controls="persuasion_sex_body">Sex</a>
         </h4>
      </div>
      <div id="persuasion_sex_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="persuasion_sex_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#female"
               role="button"
               data="persuasion">female</a>
            <a class="btn btn-default"
               href="#male"
               role="button"
               data="persuasion">male</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="persuasion_marriage_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#persuasion_marriage_status_body"
               aria-expanded="false"
               aria-controls="persuasion_marriage_status_body">Marriage Status</a>
         </h4>
      </div>
      <div id="persuasion_marriage_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="persuasion_marriage_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#married"
               role="button"
               data="persuasion">married</a>
            <a class="btn btn-default"
               href="#unmarried"
               role="button"
               data="persuasion">unmarried</a>
            <a class="btn btn-default"
               href="#widowed"
               role="button"
               data="persuasion">widowed</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="persuasion_class_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#persuasion_class_status_body"
               aria-expanded="false"
               aria-controls="persuasion_class_status_body">Class status</a>
         </h4>
      </div>
      <div id="persuasion_class_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="persuasion_class_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aristocrat"
               role="button"
               data="persuasion">aristocrat</a>
            <a class="btn btn-default"
               href="#gentry"
               role="button"
               data="persuasion">gentry</a>
            <a class="btn btn-default"
               href="#landed_gentry"
               role="button"
               data="persuasion">landed gentry</a>
            <a class="btn btn-default"
               href="#professional_class"
               role="button"
               data="persuasion">professional class</a>
            <a class="btn btn-default"
               href="#working_class"
               role="button"
               data="persuasion">working class</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="persuasion_age_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#persuasion_age_body"
               aria-expanded="false"
               aria-controls="persuasion_age_body">Age</a>
         </h4>
      </div>
      <div id="persuasion_age_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="persuasion_age_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#middle-aged"
               role="button"
               data="persuasion">middle-aged</a>
            <a class="btn btn-default"
               href="#old"
               role="button"
               data="persuasion">old</a>
            <a class="btn btn-default"
               href="#out"
               role="button"
               data="persuasion">out</a>
            <a class="btn btn-default"
               href="#young_married"
               role="button"
               data="persuasion">young married</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="persuasion_occupation_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#persuasion_occupation_body"
               aria-expanded="false"
               aria-controls="persuasion_occupation_body">Occupation</a>
         </h4>
      </div>
      <div id="persuasion_occupation_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="persuasion_occupation_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#baronet"
               role="button"
               data="persuasion">baronet</a>
            <a class="btn btn-default"
               href="#lawyer"
               role="button"
               data="persuasion">lawyer</a>
            <a class="btn btn-default"
               href="#naval_officer"
               role="button"
               data="persuasion">naval officer</a>
            <a class="btn btn-default"
               href="#nurse"
               role="button"
               data="persuasion">nurse</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="persuasion_indirect_diction_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#persuasion_indirect_diction_body"
               aria-expanded="false"
               aria-controls="persuasion_indirect_diction_body">Indirect Diction</a>
         </h4>
      </div>
      <div id="persuasion_indirect_diction_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="persuasion_indirect_diction_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.002.admr_shep"
               role="button"
               data="persuasion">Admiral Croft speaking as Mr. Shepherd</a>
            <a class="btn btn-default"
               href="#aus.002.mary_char"
               role="button"
               data="persuasion">Mary Musgrove speaking as Charles Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.mary_mrsmus"
               role="button"
               data="persuasion">Mary Musgrove speaking as Mrs. Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.mary_mrsc"
               role="button"
               data="persuasion">Mary Musgrove speaking as Mrs. Croft</a>
            <a class="btn btn-default"
               href="#aus.002.anne_went"
               role="button"
               data="persuasion">Anne Elliot speaking as Captain Frederick Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.mary_went"
               role="button"
               data="persuasion">Mary Musgrove speaking as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.admr_went"
               role="button"
               data="persuasion">Admiral Croft speaking as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.mary_mrsharv"
               role="button"
               data="persuasion">Mary Musgrove speaking as Mrs. Harville</a>
            <a class="btn btn-default"
               href="#aus.002.smith_mrel"
               role="button"
               data="persuasion">Mrs. Smith speaking as Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.smith_rooke"
               role="button"
               data="persuasion">Mrs. Smith speaking as Nurse Rooke</a>
            <a class="btn btn-default"
               href="#aus.002.mary_benw"
               role="button"
               data="persuasion">Mary Musgrove speaking as Captain Benwick</a>
            <a class="btn btn-default"
               href="#aus.002.char_benw"
               role="button"
               data="persuasion">Charles Musgrove speaking as Captain Benwick</a>
            <a class="btn btn-default"
               href="#aus.002.nar"
               role="button"
               data="persuasion">narrator</a>
            <a class="btn btn-default"
               href="#aus.002.nar_sirwalt"
               role="button"
               data="persuasion">Narrator as Sir Walter Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_eliz"
               role="button"
               data="persuasion">Narrator as Elizabeth Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mary"
               role="button"
               data="persuasion">Narrator as Mary Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_char"
               role="button"
               data="persuasion">Narrator as Charles Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne"
               role="button"
               data="persuasion">Narrator as Anne Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_lruss"
               role="button"
               data="persuasion">Narrator as Lady Russell</a>
            <a class="btn btn-default"
               href="#aus.002.nar_shep"
               role="button"
               data="persuasion">Narrator as Mr. Shepherd</a>
            <a class="btn btn-default"
               href="#aus.002.nar_clay"
               role="button"
               data="persuasion">Narrator as Mrs. Clay</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrmus"
               role="button"
               data="persuasion">Narrator as Mr. Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_loui"
               role="button"
               data="persuasion">Narrator as Louisa Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_went"
               role="button"
               data="persuasion">Narrator as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.nar_chayt"
               role="button"
               data="persuasion">Narrator as Charles Hayter</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrsharv"
               role="button"
               data="persuasion">Narrator as Mrs. Harville</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrel"
               role="button"
               data="persuasion">Narrator as Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrsmus"
               role="button"
               data="persuasion">Narrator as Mrs. Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_smith"
               role="button"
               data="persuasion">Narrator as Mrs. Smith</a>
            <a class="btn btn-default"
               href="#aus.002.nar_benw"
               role="button"
               data="persuasion">Narrator as Captain Benwick</a>
            <a class="btn btn-default"
               href="#aus.002.nar_henr"
               role="button"
               data="persuasion">Narrator as Henrietta Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne_mary"
               role="button"
               data="persuasion">Narrator as Anne Elliot as Mary Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne_char"
               role="button"
               data="persuasion">Narrator as Anne Elliot as Mr Charles Musgrove</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrel_anne"
               role="button"
               data="persuasion">Narrator as Mr. Elliot as Miss Anne Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne_clay"
               role="button"
               data="persuasion">Narrator as Anne Elliot as Mrs Clay</a>
            <a class="btn btn-default"
               href="#aus.002.nar_sirwalteliz_colwal"
               role="button"
               data="persuasion">Narrator as Sir Walter Elliot and Elizabeth Elliot as Colonel Wallis</a>
            <a class="btn btn-default"
               href="#aus.002.nar_sirwalt_colwal"
               role="button"
               data="persuasion">Narrator as Sir Walter Elliot as Colonel Wallis</a>
            <a class="btn btn-default"
               href="#aus.002.nar_sirwalteliz_mrel"
               role="button"
               data="persuasion">Narrator as Sir Walter Elliott and Elizabeth Elliott as Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_lruss_mrel"
               role="button"
               data="persuasion">Narrator as Lacy Russell as Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne_mrel"
               role="button"
               data="persuasion">Narrator as Anne Elliot as Mr. Elliot</a>
            <a class="btn btn-default"
               href="#aus.002.nar_anne_went"
               role="button"
               data="persuasion">Narrator as Anne Elliot as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.nar_char_went"
               role="button"
               data="persuasion">Narrator as Charles Wentworth as Captain Wentworth</a>
            <a class="btn btn-default"
               href="#aus.002.nar_mrsc_went"
               role="button"
               data="persuasion">Narrator as Mrs. Croft as Captain Wentworth</a>
         </div>
      </div>
   </div>
</div>
