<div class="panel-group"
     id="accordion"
     role="tablist"
     aria-multiselectable="true">
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_characters_heading">
         <h4 class="panel-title">
            <a class=""
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_characters_body"
               aria-expanded="true"
               aria-controls="pride_and_prejudice_characters_body">Characters</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_characters_body"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_characters_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#aus.001.mrb" role="button">Mr. Bennet</a>
            <a class="btn btn-default" href="#aus.001.mrsb" role="button">Mrs. Bennet</a>
            <a class="btn btn-default" href="#aus.001.jane" role="button">Jane Bennet</a>
            <a class="btn btn-default" href="#aus.001.eliz" role="button">Elizabeth Bennet</a>
            <a class="btn btn-default" href="#aus.001.mary" role="button">Mary Bennet</a>
            <a class="btn btn-default" href="#aus.001.lyd" role="button">Lydia Bennet</a>
            <a class="btn btn-default" href="#aus.001.kit" role="button">Kitty Bennet</a>
            <a class="btn btn-default" href="#aus.001.char" role="button">Charlotte Lucas</a>
            <a class="btn btn-default" href="#aus.001.ladyl" role="button">Lady Lucas</a>
            <a class="btn btn-default" href="#aus.001.sirl" role="button">Sir William Lucas</a>
            <a class="btn btn-default" href="#aus.001.marl" role="button">Maria Lucas</a>
            <a class="btn btn-default" href="#aus.001.dar" role="button">Mr. Darcy</a>
            <a class="btn btn-default" href="#aus.001.bing" role="button">Mr. Bingley</a>
            <a class="btn btn-default" href="#aus.001.msb" role="button">Miss Bingley</a>
            <a class="btn btn-default" href="#aus.001.mrsh" role="button">Mrs. Hurst</a>
            <a class="btn btn-default" href="#aus.001.mrh" role="button">Mr. Hurst</a>
            <a class="btn btn-default" href="#aus.001.coll" role="button">Mr. Collins</a>
            <a class="btn btn-default" href="#aus.001.wick" role="button">Mr. Wickham</a>
            <a class="btn btn-default" href="#aus.001.mrg" role="button">Mr. Gardiner</a>
            <a class="btn btn-default" href="#aus.001.mrsg" role="button">Mrs. Gardiner</a>
            <a class="btn btn-default" href="#aus.001.fitz" role="button">Colonel Fitzwilliam</a>
            <a class="btn btn-default" href="#aus.001.rey" role="button">Mrs. Reynolds</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_character_type_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_character_type_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_character_type_body">Character Type</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_character_type_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_character_type_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#cad" role="button">cad</a>
            <a class="btn btn-default" href="#fool" role="button">fool</a>
            <a class="btn btn-default" href="#heir" role="button">heir</a>
            <a class="btn btn-default" href="#hero" role="button">hero</a>
            <a class="btn btn-default" href="#heroine" role="button">heroine</a>
            <a class="btn btn-default" href="#neutral" role="button">neutral</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_sex_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_sex_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_sex_body">Sex</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_sex_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_sex_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#female" role="button">female</a>
            <a class="btn btn-default" href="#male" role="button">male</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_marriage_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_marriage_status_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_marriage_status_body">Marriage Status</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_marriage_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_marriage_status_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#married" role="button">married</a>
            <a class="btn btn-default" href="#mda" role="button">mda</a>
            <a class="btn btn-default" href="#unmarried" role="button">unmarried</a>
            <a class="btn btn-default" href="#widowed" role="button">widowed</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_class_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_class_status_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_class_status_body">Class status</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_class_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_class_status_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#aristocrat" role="button">aristocrat</a>
            <a class="btn btn-default" href="#gentry" role="button">gentry</a>
            <a class="btn btn-default" href="#landed_gentry" role="button">landed gentry</a>
            <a class="btn btn-default" href="#professional_class" role="button">professional class</a>
            <a class="btn btn-default" href="#working_class" role="button">working class</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_age_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_age_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_age_body">Age</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_age_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_age_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#middle-aged" role="button">middle-aged</a>
            <a class="btn btn-default" href="#old" role="button">old</a>
            <a class="btn btn-default" href="#out" role="button">out</a>
            <a class="btn btn-default" href="#young_married" role="button">young married</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_occupation_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_occupation_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_occupation_body">Occupation</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_occupation_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_occupation_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#clergyman" role="button">clergyman</a>
            <a class="btn btn-default" href="#lawyer" role="button">lawyer</a>
            <a class="btn btn-default" href="#servant" role="button">servant</a>
            <a class="btn btn-default" href="#soldier" role="button">soldier</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_indirect_diction_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_indirect_diction_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_indirect_diction_body">Indirect Diction</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_indirect_diction_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_indirect_diction_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#aus.001.nar" role="button">Narrator</a>
            <a class="btn btn-default" href="#aus.001.nar_mrb" role="button">Narrator as Mr. Bennet</a>
            <a class="btn btn-default" href="#aus.001.nar_mrsb" role="button">Narrator as Mrs. Bennet</a>
            <a class="btn btn-default" href="#aus.001.nar_jane" role="button">Narrator as Jane Bennet</a>
            <a class="btn btn-default" href="#aus.001.nar_eliz" role="button">Narrator as Elizabeth Bennet</a>
            <a class="btn btn-default" href="#aus.001.nar_mary" role="button">Narrator as Mary Bennet</a>
            <a class="btn btn-default" href="#aus.001.nar_lyd" role="button">Narrator as Lydia Bennet</a>
            <a class="btn btn-default" href="#aus.001.nar_kit" role="button">Narrator as Kitty Bennet</a>
            <a class="btn btn-default" href="#aus.001.nar_char" role="button">Narrator as Charlotte Lucas</a>
            <a class="btn btn-default" href="#aus.001.nar_ladyl" role="button">Narrator as Lady Lucas</a>
            <a class="btn btn-default" href="#aus.001.nar_sirl" role="button">Narrator as Sir William Lucas</a>
            <a class="btn btn-default" href="#aus.001.nar_marl" role="button">Narrator as Maria Lucas</a>
            <a class="btn btn-default" href="#aus.001.nar_dar" role="button">Narrator as Mr. Darcy</a>
            <a class="btn btn-default" href="#aus.001.nar_bing" role="button">Narrator as Mr. Bingley</a>
            <a class="btn btn-default" href="#aus.001.nar_msb" role="button">Narrator as Miss Bingley</a>
            <a class="btn btn-default" href="#aus.001.nar_mrsh" role="button">Narrator as Mrs. Hurst</a>
            <a class="btn btn-default" href="#aus.001.nar_mrh" role="button">Narrator as Mr. Hurst</a>
            <a class="btn btn-default" href="#aus.001.nar_coll" role="button">Narrator as Mr. Collins</a>
            <a class="btn btn-default" href="#aus.001.nar_wick" role="button">Narrator as Mr. Wickham</a>
            <a class="btn btn-default" href="#aus.001.nar_deb" role="button">Narrator as Lady Catherine de Bourgh</a>
            <a class="btn btn-default" href="#aus.001.nar_mrg" role="button">Narrator as Mr. Gardiner</a>
            <a class="btn btn-default" href="#aus.001.nar_mrsg" role="button">Narrator as Mrs. Gardiner</a>
            <a class="btn btn-default" href="#aus.001.nar_fitz" role="button">Narrator as Colonel Fitzwilliam</a>
            <a class="btn btn-default" href="#aus.001.nar_rey" role="button">Narrator as Mrs. Reynolds</a>
         </div>
      </div>
   </div>
</div>
