<div class="panel-group"
     id="accordion"
     role="tablist"
     aria-multiselectable="true">
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_characters_heading">
         <h4 class="panel-title">
            <a class=""
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_characters_body"
               aria-expanded="true"
               aria-controls="pride_and_prejudice_characters_body">Characters</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_characters_body"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_characters_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.001.mrb"
               role="button"
               data="pride_and_prejudice">Mr. Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.mrsb"
               role="button"
               data="pride_and_prejudice">Mrs. Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.jane"
               role="button"
               data="pride_and_prejudice">Jane Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.eliz"
               role="button"
               data="pride_and_prejudice">Elizabeth Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.mary"
               role="button"
               data="pride_and_prejudice">Mary Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.lyd"
               role="button"
               data="pride_and_prejudice">Lydia Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.kit"
               role="button"
               data="pride_and_prejudice">Kitty Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.char"
               role="button"
               data="pride_and_prejudice">Charlotte Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.ladyl"
               role="button"
               data="pride_and_prejudice">Lady Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.sirl"
               role="button"
               data="pride_and_prejudice">Sir William Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.marl"
               role="button"
               data="pride_and_prejudice">Maria Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.dar"
               role="button"
               data="pride_and_prejudice">Mr. Darcy</a>
            <a class="btn btn-default"
               href="#aus.001.bing"
               role="button"
               data="pride_and_prejudice">Mr. Bingley</a>
            <a class="btn btn-default"
               href="#aus.001.msb"
               role="button"
               data="pride_and_prejudice">Miss Bingley</a>
            <a class="btn btn-default"
               href="#aus.001.mrsh"
               role="button"
               data="pride_and_prejudice">Mrs. Hurst</a>
            <a class="btn btn-default"
               href="#aus.001.mrh"
               role="button"
               data="pride_and_prejudice">Mr. Hurst</a>
            <a class="btn btn-default"
               href="#aus.001.coll"
               role="button"
               data="pride_and_prejudice">Mr. Collins</a>
            <a class="btn btn-default"
               href="#aus.001.wick"
               role="button"
               data="pride_and_prejudice">Mr. Wickham</a>
            <a class="btn btn-default"
               href="#aus.001.mrg"
               role="button"
               data="pride_and_prejudice">Mr. Gardiner</a>
            <a class="btn btn-default"
               href="#aus.001.mrsg"
               role="button"
               data="pride_and_prejudice">Mrs. Gardiner</a>
            <a class="btn btn-default"
               href="#aus.001.fitz"
               role="button"
               data="pride_and_prejudice">Colonel Fitzwilliam</a>
            <a class="btn btn-default"
               href="#aus.001.rey"
               role="button"
               data="pride_and_prejudice">Mrs. Reynolds</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_character_type_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_character_type_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_character_type_body">Character Type</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_character_type_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_character_type_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#cad"
               role="button"
               data="pride_and_prejudice">cad</a>
            <a class="btn btn-default"
               href="#fool"
               role="button"
               data="pride_and_prejudice">fool</a>
            <a class="btn btn-default"
               href="#heir"
               role="button"
               data="pride_and_prejudice">heir</a>
            <a class="btn btn-default"
               href="#hero"
               role="button"
               data="pride_and_prejudice">hero</a>
            <a class="btn btn-default"
               href="#heroine"
               role="button"
               data="pride_and_prejudice">heroine</a>
            <a class="btn btn-default"
               href="#neutral"
               role="button"
               data="pride_and_prejudice">neutral</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_sex_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_sex_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_sex_body">Sex</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_sex_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_sex_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#female"
               role="button"
               data="pride_and_prejudice">female</a>
            <a class="btn btn-default"
               href="#male"
               role="button"
               data="pride_and_prejudice">male</a>
         </div>
      </div>
   </div>
<!--
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_marriage_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_marriage_status_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_marriage_status_body">Marriage Status</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_marriage_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_marriage_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#married"
               role="button"
               data="pride_and_prejudice">married</a>
            <a class="btn btn-default"
               href="#mda"
               role="button"
               data="pride_and_prejudice">mda</a>
            <a class="btn btn-default"
               href="#unmarried"
               role="button"
               data="pride_and_prejudice">unmarried</a>
            <a class="btn btn-default"
               href="#widowed"
               role="button"
               data="pride_and_prejudice">widowed</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_class_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_class_status_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_class_status_body">Class status</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_class_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_class_status_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aristocrat"
               role="button"
               data="pride_and_prejudice">aristocrat</a>
            <a class="btn btn-default"
               href="#gentry"
               role="button"
               data="pride_and_prejudice">gentry</a>
            <a class="btn btn-default"
               href="#landed_gentry"
               role="button"
               data="pride_and_prejudice">landed gentry</a>
            <a class="btn btn-default"
               href="#professional_class"
               role="button"
               data="pride_and_prejudice">professional class</a>
            <a class="btn btn-default"
               href="#working_class"
               role="button"
               data="pride_and_prejudice">working class</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_age_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_age_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_age_body">Age</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_age_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_age_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#middle-aged"
               role="button"
               data="pride_and_prejudice">middle-aged</a>
            <a class="btn btn-default"
               href="#old"
               role="button"
               data="pride_and_prejudice">old</a>
            <a class="btn btn-default"
               href="#out"
               role="button"
               data="pride_and_prejudice">out</a>
            <a class="btn btn-default"
               href="#young_married"
               role="button"
               data="pride_and_prejudice">young married</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_occupation_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_occupation_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_occupation_body">Occupation</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_occupation_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_occupation_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#clergyman"
               role="button"
               data="pride_and_prejudice">clergyman</a>
            <a class="btn btn-default"
               href="#lawyer"
               role="button"
               data="pride_and_prejudice">lawyer</a>
            <a class="btn btn-default"
               href="#servant"
               role="button"
               data="pride_and_prejudice">servant</a>
            <a class="btn btn-default"
               href="#soldier"
               role="button"
               data="pride_and_prejudice">soldier</a>
         </div>
      </div>
   </div>
-->
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="pride_and_prejudice_indirect_diction_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#pride_and_prejudice_indirect_diction_body"
               aria-expanded="false"
               aria-controls="pride_and_prejudice_indirect_diction_body">Indirect Diction</a>
         </h4>
      </div>
      <div id="pride_and_prejudice_indirect_diction_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="pride_and_prejudice_indirect_diction_heading">
         <div class="panel-body">
            <a class="btn btn-default"
               href="#aus.001.nar"
               role="button"
               data="pride_and_prejudice">Narrator</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrb"
               role="button"
               data="pride_and_prejudice">Narrator as Mr. Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrsb"
               role="button"
               data="pride_and_prejudice">Narrator as Mrs. Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_jane"
               role="button"
               data="pride_and_prejudice">Narrator as Jane Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_eliz"
               role="button"
               data="pride_and_prejudice">Narrator as Elizabeth Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mary"
               role="button"
               data="pride_and_prejudice">Narrator as Mary Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_lyd"
               role="button"
               data="pride_and_prejudice">Narrator as Lydia Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_kit"
               role="button"
               data="pride_and_prejudice">Narrator as Kitty Bennet</a>
            <a class="btn btn-default"
               href="#aus.001.nar_char"
               role="button"
               data="pride_and_prejudice">Narrator as Charlotte Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.nar_ladyl"
               role="button"
               data="pride_and_prejudice">Narrator as Lady Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.nar_sirl"
               role="button"
               data="pride_and_prejudice">Narrator as Sir William Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.nar_marl"
               role="button"
               data="pride_and_prejudice">Narrator as Maria Lucas</a>
            <a class="btn btn-default"
               href="#aus.001.nar_dar"
               role="button"
               data="pride_and_prejudice">Narrator as Mr. Darcy</a>
            <a class="btn btn-default"
               href="#aus.001.nar_bing"
               role="button"
               data="pride_and_prejudice">Narrator as Mr. Bingley</a>
            <a class="btn btn-default"
               href="#aus.001.nar_msb"
               role="button"
               data="pride_and_prejudice">Narrator as Miss Bingley</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrsh"
               role="button"
               data="pride_and_prejudice">Narrator as Mrs. Hurst</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrh"
               role="button"
               data="pride_and_prejudice">Narrator as Mr. Hurst</a>
            <a class="btn btn-default"
               href="#aus.001.nar_coll"
               role="button"
               data="pride_and_prejudice">Narrator as Mr. Collins</a>
            <a class="btn btn-default"
               href="#aus.001.nar_wick"
               role="button"
               data="pride_and_prejudice">Narrator as Mr. Wickham</a>
            <a class="btn btn-default"
               href="#aus.001.nar_deb"
               role="button"
               data="pride_and_prejudice">Narrator as Lady Catherine de Bourgh</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrg"
               role="button"
               data="pride_and_prejudice">Narrator as Mr. Gardiner</a>
            <a class="btn btn-default"
               href="#aus.001.nar_mrsg"
               role="button"
               data="pride_and_prejudice">Narrator as Mrs. Gardiner</a>
            <a class="btn btn-default"
               href="#aus.001.nar_fitz"
               role="button"
               data="pride_and_prejudice">Narrator as Colonel Fitzwilliam</a>
            <a class="btn btn-default"
               href="#aus.001.nar_rey"
               role="button"
               data="pride_and_prejudice">Narrator as Mrs. Reynolds</a>
         </div>
      </div>
   </div>
</div>
