<?xml version="1.0"?>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="pride_and_prejudice_speakerData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#pride_and_prejudice_speakerData_body" aria-expanded="true" aria-controls="pride_and_prejudice_speakerData_body">Character Direct Speech</a>
      </h4>
    </div>
    <div id="pride_and_prejudice_speakerData_body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="pride_and_prejudice_speakerData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.001.nar" role="button" data="pride_and_prejudice">Narrator (Pride And Prejudice)</a>
        <a class="btn btn-default btn-xs" href="#aus.001.boyl" role="button" data="pride_and_prejudice">A young Lucas boy</a>
        <a class="btn btn-default btn-xs" href="#aus.001.char" role="button" data="pride_and_prejudice">Charlotte Lucas</a>
        <a class="btn btn-default btn-xs" href="#aus.001.fitz" role="button" data="pride_and_prejudice">Colonel Fitzwilliam</a>
        <a class="btn btn-default btn-xs" href="#aus.001.eliz" role="button" data="pride_and_prejudice">Elizabeth Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.jane" role="button" data="pride_and_prejudice">Jane Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.kit" role="button" data="pride_and_prejudice">Kitty Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.deb" role="button" data="pride_and_prejudice">Lady Catherine de Bourgh</a>
        <a class="btn btn-default btn-xs" href="#aus.001.lyd" role="button" data="pride_and_prejudice">Lydia Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mary" role="button" data="pride_and_prejudice">Mary Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.msb" role="button" data="pride_and_prejudice">Miss Bingley</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrb" role="button" data="pride_and_prejudice">Mr. Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.bing" role="button" data="pride_and_prejudice">Mr. Bingley</a>
        <a class="btn btn-default btn-xs" href="#aus.001.coll" role="button" data="pride_and_prejudice">Mr. Collins</a>
        <a class="btn btn-default btn-xs" href="#aus.001.dar" role="button" data="pride_and_prejudice">Mr. Darcy</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrg" role="button" data="pride_and_prejudice">Mr. Gardiner</a>
        <a class="btn btn-default btn-xs" href="#aus.001.wick" role="button" data="pride_and_prejudice">Mr. Wickham</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrsb" role="button" data="pride_and_prejudice">Mrs. Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrsg" role="button" data="pride_and_prejudice">Mrs. Gardiner</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrsh" role="button" data="pride_and_prejudice">Mrs. Hurst</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrsp" role="button" data="pride_and_prejudice">Mrs. Phillips</a>
        <a class="btn btn-default btn-xs" href="#aus.001.rey" role="button" data="pride_and_prejudice">Mrs. Reynolds</a>
        <a class="btn btn-default btn-xs" href="#aus.001.sirl" role="button" data="pride_and_prejudice">Sir William Lucas</a>
        <a class="btn btn-default btn-xs" href="#aus.001.dar_sirl" role="button" data="pride_and_prejudice">Sir William Lucas</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="pride_and_prejudice_indirectData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#pride_and_prejudice_indirectData_body" aria-expanded="true" aria-controls="pride_and_prejudice_indirectData_body">Character Indirect Diction</a>
      </h4>
    </div>
    <div id="pride_and_prejudice_indirectData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="pride_and_prejudice_indirectData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.001.nar_eliz" role="button" data="pride_and_prejudice">Narrator as Elizabeth Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_mrsb" role="button" data="pride_and_prejudice">Narrator as Mrs. Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_dar" role="button" data="pride_and_prejudice">Narrator as Mr. Darcy</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_coll" role="button" data="pride_and_prejudice">Narrator as Mr. Collins</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_bing" role="button" data="pride_and_prejudice">Narrator as Mr. Bingley</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_jane" role="button" data="pride_and_prejudice">Narrator as Jane Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_mrb" role="button" data="pride_and_prejudice">Narrator as Mr. Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_mrg" role="button" data="pride_and_prejudice">Narrator as Mr. Gardiner</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_char" role="button" data="pride_and_prejudice">Narrator as Charlotte Lucas</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_deb" role="button" data="pride_and_prejudice">Narrator as Lady Catherine de Bourgh</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_lyd" role="button" data="pride_and_prejudice">Narrator as Lydia Bennet</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_msb" role="button" data="pride_and_prejudice">Narrator as Miss Bingley</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_mrsg" role="button" data="pride_and_prejudice">Narrator as Mrs. Gardiner</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_mrsp" role="button" data="pride_and_prejudice">Narrator as Mrs. Phillips</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_wick" role="button" data="pride_and_prejudice">Narrator as Mr. Wickham</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_rey" role="button" data="pride_and_prejudice">Narrator as Mrs. Reynolds</a>
        <a class="btn btn-default btn-xs" href="#aus.001.nar_ladyl" role="button" data="pride_and_prejudice">Narrator as Lady Lucas</a>
        <a class="btn btn-default btn-xs" href="#aus.001.coll_dar" role="button" data="pride_and_prejudice">Collins as Mr. Darcy</a>
        <a class="btn btn-default btn-xs" href="#aus.001.dar_darsr" role="button" data="pride_and_prejudice">Darcy as Mr. Darcy</a>
        <a class="btn btn-default btn-xs" href="#aus.001.dar_wick" role="button" data="pride_and_prejudice">Darcy as Mr. Wickham</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrsg_dar_wick" role="button" data="pride_and_prejudice">Darcy as Mr. Wickham</a>
        <a class="btn btn-default btn-xs" href="#aus.001.eliz_dar" role="button" data="pride_and_prejudice">Elizabeth as Mr. Darcy</a>
        <a class="btn btn-default btn-xs" href="#aus.001.eliz_mrr" role="button" data="pride_and_prejudice">Elizabeth as Mr. Robinson</a>
        <a class="btn btn-default btn-xs" href="#aus.001.jane_bing" role="button" data="pride_and_prejudice">Jane as Mr. Bingley</a>
        <a class="btn btn-default btn-xs" href="#aus.001.lyd_mrsp" role="button" data="pride_and_prejudice">Lydia as Mrs. Phillips</a>
        <a class="btn btn-default btn-xs" href="#aus.001.coll_deb" role="button" data="pride_and_prejudice">Mr. Collins as Lady Catherine de Bourgh</a>
        <a class="btn btn-default btn-xs" href="#aus.001.coll_jenk" role="button" data="pride_and_prejudice">Mr. Collins as Mrs. Jenkinson</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrsb_dar" role="button" data="pride_and_prejudice">Mrs. Bennet as Mr. Darcy</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrsb_mrsl" role="button" data="pride_and_prejudice">Mrs. Bennet as Mrs. Long</a>
        <a class="btn btn-default btn-xs" href="#aus.001.mrsg_dar" role="button" data="pride_and_prejudice">Mrs. Gardiner as Mr. Darcy</a>
        <a class="btn btn-default btn-xs" href="#aus.001.wick_dar" role="button" data="pride_and_prejudice">Wickham as Mr. Darcy</a>
        <a class="btn btn-default btn-xs" href="#aus.001.wick_darsr" role="button" data="pride_and_prejudice">Wickham as Mr. Darcy</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="pride_and_prejudice_traitData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#pride_and_prejudice_traitData_body" aria-expanded="true" aria-controls="pride_and_prejudice_traitData_body">Trait: Character Type</a>
      </h4>
    </div>
    <div id="pride_and_prejudice_traitData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="pride_and_prejudice_traitData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#cad" role="button" data="pride_and_prejudice">Cad</a>
        <a class="btn btn-default btn-xs" href="#fool" role="button" data="pride_and_prejudice">Fool</a>
        <a class="btn btn-default btn-xs" href="#hero" role="button" data="pride_and_prejudice">Hero</a>
        <a class="btn btn-default btn-xs" href="#heroine" role="button" data="pride_and_prejudice">Heroine</a>
        <a class="btn btn-default btn-xs" href="#neutral" role="button" data="pride_and_prejudice">Neutral</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="pride_and_prejudice_genderData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#pride_and_prejudice_genderData_body" aria-expanded="true" aria-controls="pride_and_prejudice_genderData_body">Trait: Character Sex</a>
      </h4>
    </div>
    <div id="pride_and_prejudice_genderData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="pride_and_prejudice_genderData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#female" role="button" data="pride_and_prejudice">Female</a>
        <a class="btn btn-default btn-xs" href="#male" role="button" data="pride_and_prejudice">Male</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="pride_and_prejudice_maritalStateData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#pride_and_prejudice_maritalStateData_body" aria-expanded="true" aria-controls="pride_and_prejudice_maritalStateData_body">Trait: Character Marriage Status</a>
      </h4>
    </div>
    <div id="pride_and_prejudice_maritalStateData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="pride_and_prejudice_maritalStateData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#married" role="button" data="pride_and_prejudice">Married</a>
        <a class="btn btn-default btn-xs" href="#mda" role="button" data="pride_and_prejudice">Mda</a>
        <a class="btn btn-default btn-xs" href="#unmarried" role="button" data="pride_and_prejudice">Unmarried</a>
        <a class="btn btn-default btn-xs" href="#widowed" role="button" data="pride_and_prejudice">Widowed</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="pride_and_prejudice_socecStatusData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#pride_and_prejudice_socecStatusData_body" aria-expanded="true" aria-controls="pride_and_prejudice_socecStatusData_body">Trait: Character Class Status</a>
      </h4>
    </div>
    <div id="pride_and_prejudice_socecStatusData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="pride_and_prejudice_socecStatusData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aristocrat" role="button" data="pride_and_prejudice">Aristocrat</a>
        <a class="btn btn-default btn-xs" href="#gentry" role="button" data="pride_and_prejudice">Gentry</a>
        <a class="btn btn-default btn-xs" href="#landed_gentry" role="button" data="pride_and_prejudice">Landed gentry</a>
        <a class="btn btn-default btn-xs" href="#professional_class" role="button" data="pride_and_prejudice">Professional class</a>
        <a class="btn btn-default btn-xs" href="#working_class" role="button" data="pride_and_prejudice">Working class</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="pride_and_prejudice_ageData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#pride_and_prejudice_ageData_body" aria-expanded="true" aria-controls="pride_and_prejudice_ageData_body">Trait: Character Age</a>
      </h4>
    </div>
    <div id="pride_and_prejudice_ageData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="pride_and_prejudice_ageData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#child" role="button" data="pride_and_prejudice">Child</a>
        <a class="btn btn-default btn-xs" href="#middle-aged" role="button" data="pride_and_prejudice">Middle-aged</a>
        <a class="btn btn-default btn-xs" href="#old" role="button" data="pride_and_prejudice">Old</a>
        <a class="btn btn-default btn-xs" href="#out" role="button" data="pride_and_prejudice">Out</a>
        <a class="btn btn-default btn-xs" href="#young_married" role="button" data="pride_and_prejudice">Young married</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="pride_and_prejudice_occupationData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#pride_and_prejudice_occupationData_body" aria-expanded="true" aria-controls="pride_and_prejudice_occupationData_body">Trait: Character Occupation</a>
      </h4>
    </div>
    <div id="pride_and_prejudice_occupationData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="pride_and_prejudice_occupationData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#clergyman" role="button" data="pride_and_prejudice">Clergyman</a>
        <a class="btn btn-default btn-xs" href="#lawyer" role="button" data="pride_and_prejudice">Lawyer</a>
        <a class="btn btn-default btn-xs" href="#servant" role="button" data="pride_and_prejudice">Servant</a>
        <a class="btn btn-default btn-xs" href="#soldier" role="button" data="pride_and_prejudice">Soldier</a>
      </div>
    </div>
  </div>
</div>
