<div class="panel-group"
     id="accordion"
     role="tablist"
     aria-multiselectable="true">
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="sense_and_sensibility_characters_heading">
         <h4 class="panel-title">
            <a class=""
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#sense_and_sensibility_characters_body"
               aria-expanded="true"
               aria-controls="sense_and_sensibility_characters_body">Characters</a>
         </h4>
      </div>
      <div id="sense_and_sensibility_characters_body"
           class="panel-collapse collapse in"
           role="tabpanel"
           aria-labelledby="sense_and_sensibility_characters_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#aus.004.mrsd" role="button">Mrs. Dashwood</a>
            <a class="btn btn-default" href="#aus.004.eli" role="button">Elinor Dashwood</a>
            <a class="btn btn-default" href="#aus.004.mari" role="button">Marianne Dashwood</a>
            <a class="btn btn-default" href="#aus.004.john" role="button">John Dashwood</a>
            <a class="btn btn-default" href="#aus.004.edw" role="button">Edward Ferrars</a>
            <a class="btn btn-default" href="#aus.004.nancy" role="button">Nancy Steele</a>
            <a class="btn btn-default" href="#aus.004.lucy" role="button">Lucy Steele</a>
            <a class="btn btn-default" href="#aus.004.will" role="button">Willoughby</a>
            <a class="btn btn-default" href="#aus.004.bran" role="button">Colonel Brandon</a>
            <a class="btn btn-default" href="#aus.004.jenn" role="button">Mrs Jennings</a>
            <a class="btn btn-default" href="#aus.004.fan" role="button">Fanny Dashwood</a>
            <a class="btn btn-default" href="#aus.004.marg" role="button">Margaret Dashwood</a>
            <a class="btn btn-default" href="#aus.004.mrsf" role="button">Mrs. Ferrars</a>
            <a class="btn btn-default" href="#aus.004.sirj" role="button">Sir John Middleton</a>
            <a class="btn btn-default" href="#aus.004.ladym" role="button">Lady Middleton</a>
            <a class="btn btn-default" href="#aus.004.smith" role="button">Mrs Smith</a>
            <a class="btn btn-default" href="#aus.004.mrsp" role="button">Mrs. Palmer</a>
            <a class="btn btn-default" href="#aus.004.mrp" role="button">Mr. Palmer</a>
            <a class="btn btn-default" href="#aus.004.rob" role="button">Mr Robert Ferrars</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="sense_and_sensibility_character_type_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#sense_and_sensibility_character_type_body"
               aria-expanded="false"
               aria-controls="sense_and_sensibility_character_type_body">Character Type</a>
         </h4>
      </div>
      <div id="sense_and_sensibility_character_type_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="sense_and_sensibility_character_type_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#cad" role="button">cad</a>
            <a class="btn btn-default" href="#fool" role="button">fool</a>
            <a class="btn btn-default" href="#heir" role="button">heir</a>
            <a class="btn btn-default" href="#hero" role="button">hero</a>
            <a class="btn btn-default" href="#heroine" role="button">heroine</a>
            <a class="btn btn-default" href="#neutral" role="button">neutral</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="sense_and_sensibility_sex_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#sense_and_sensibility_sex_body"
               aria-expanded="false"
               aria-controls="sense_and_sensibility_sex_body">Sex</a>
         </h4>
      </div>
      <div id="sense_and_sensibility_sex_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="sense_and_sensibility_sex_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#female" role="button">female</a>
            <a class="btn btn-default" href="#male" role="button">male</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="sense_and_sensibility_marriage_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#sense_and_sensibility_marriage_status_body"
               aria-expanded="false"
               aria-controls="sense_and_sensibility_marriage_status_body">Marriage Status</a>
         </h4>
      </div>
      <div id="sense_and_sensibility_marriage_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="sense_and_sensibility_marriage_status_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#married" role="button">married</a>
            <a class="btn btn-default" href="#unmarried" role="button">unmarried</a>
            <a class="btn btn-default" href="#widowed" role="button">widowed</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="sense_and_sensibility_class_status_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#sense_and_sensibility_class_status_body"
               aria-expanded="false"
               aria-controls="sense_and_sensibility_class_status_body">Class status</a>
         </h4>
      </div>
      <div id="sense_and_sensibility_class_status_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="sense_and_sensibility_class_status_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#gentry" role="button">gentry</a>
            <a class="btn btn-default" href="#landed_gentry" role="button">landed gentry</a>
            <a class="btn btn-default" href="#professional_class" role="button">professional class</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="sense_and_sensibility_age_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#sense_and_sensibility_age_body"
               aria-expanded="false"
               aria-controls="sense_and_sensibility_age_body">Age</a>
         </h4>
      </div>
      <div id="sense_and_sensibility_age_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="sense_and_sensibility_age_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#child" role="button">child</a>
            <a class="btn btn-default" href="#deceased" role="button">deceased</a>
            <a class="btn btn-default" href="#middle-aged" role="button">middle-aged</a>
            <a class="btn btn-default" href="#old" role="button">old</a>
            <a class="btn btn-default" href="#out" role="button">out</a>
            <a class="btn btn-default" href="#young_married" role="button">young married</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="sense_and_sensibility_occupation_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#sense_and_sensibility_occupation_body"
               aria-expanded="false"
               aria-controls="sense_and_sensibility_occupation_body">Occupation</a>
         </h4>
      </div>
      <div id="sense_and_sensibility_occupation_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="sense_and_sensibility_occupation_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#clergyman" role="button">clergyman</a>
            <a class="btn btn-default" href="#soldier" role="button">soldier</a>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading"
           role="tab"
           id="sense_and_sensibility_indirect_diction_heading">
         <h4 class="panel-title">
            <a class="collapsed"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#sense_and_sensibility_indirect_diction_body"
               aria-expanded="false"
               aria-controls="sense_and_sensibility_indirect_diction_body">Indirect Diction</a>
         </h4>
      </div>
      <div id="sense_and_sensibility_indirect_diction_body"
           class="panel-collapse collapse"
           role="tabpanel"
           aria-labelledby="sense_and_sensibility_indirect_diction_heading">
         <div class="panel-body">
            <a class="btn btn-default" href="#aus.004.jenn_eli" role="button">Mrs. Jennings speaking as Elinor Dashwood</a>
            <a class="btn btn-default" href="#aus.004.edw_mari" role="button">Edward Ferrars speaking as Marianne Dashwood</a>
            <a class="btn btn-default" href="#aus.004.mrsd_eli" role="button">Mrs. Dashwood speaking as Elinor Dashwood</a>
            <a class="btn btn-default" href="#aus.004.john_edw" role="button">John Dashwood speaking as Edward Ferrars</a>
            <a class="btn btn-default" href="#aus.004.nancy_edw" role="button">Nancy Steele speaking as Edward Ferrars</a>
            <a class="btn btn-default" href="#aus.004.lucy_edw" role="button">Lucy Steele speaking as Edward Ferrars</a>
            <a class="btn btn-default" href="#aus.004.mari_nancy" role="button">Marianne Dashwood speaking as Nancy Steele</a>
            <a class="btn btn-default" href="#aus.004.eli_marg" role="button">Elinor Dashwood speaking as Margaret Dashwood</a>
            <a class="btn btn-default" href="#aus.004.mari_will" role="button">Marianne Dashwood speaking as Willoughby</a>
            <a class="btn btn-default" href="#aus.004.eli_will" role="button">Elinor Dashwood speaking as Willoughby</a>
            <a class="btn btn-default" href="#aus.004.jenn_nancy" role="button">Mrs. Jennings speaking as Nancy Steele</a>
            <a class="btn btn-default" href="#aus.004.eli_edw" role="button">Elinor Dashwood speaking as Edward Ferrars</a>
            <a class="btn btn-default" href="#aus.004.jenn_john" role="button">Mrs. Jennings speaking as John Dashwood</a>
            <a class="btn btn-default" href="#aus.004.eli_bran" role="button">Elinor Dashwood speaking as Colonel Brandon</a>
            <a class="btn btn-default" href="#aus.004.john_mrsf" role="button">John Dashwood speaking as Mrs. Ferrars</a>
            <a class="btn btn-default" href="#aus.004.nancy_ladym" role="button">Nancy Steele speaking as Lady Middleton</a>
            <a class="btn btn-default" href="#aus.004.john_fan" role="button">John Dashwood speaking as Fanny Dashwood</a>
            <a class="btn btn-default" href="#aus.004.mrsp_jenn" role="button">Mrs. Palmer speaking as Mrs. Jennings</a>
            <a class="btn btn-default" href="#aus.004.bran_mrsp" role="button">Colonel Brandon speaking as Mrs. Palmer</a>
            <a class="btn btn-default" href="#aus.004.jenn_mrj" role="button">Mrs. Jennings speaking as Mr. Jennings</a>
            <a class="btn btn-default" href="#aus.004.jenn_fan" role="button">Mrs. Jennings speaking as Fanny Dashwood</a>
            <a class="btn btn-default" href="#aus.004.mrsp_mrp" role="button">Mrs. Palmer speaking as Mr. Palmer</a>
            <a class="btn btn-default" href="#aus.004.nancy_lucy" role="button">Nancy Steele speaking as Lucy Steele</a>
            <a class="btn btn-default" href="#aus.004.will_smith" role="button">Willoughby speaking as Mrs. Smith</a>
            <a class="btn btn-default" href="#aus.004.fan_mrsf" role="button">Fannie Dashwood speaking as Mrs. Ferrars</a>
            <a class="btn btn-default" href="#aus.004.will_sirj" role="button">Willoughby speaking as Sir John Middleton</a>
            <a class="btn btn-default" href="#aus.004.thom_lucy" role="button">Thomas speaking as Lucy Steele</a>
            <a class="btn btn-default" href="#aus.004.mari_eli" role="button">Marianne Dashwood speaking as Elinor Dashwood</a>
            <a class="btn btn-default" href="#aus.004.nar" role="button">narrator</a>
            <a class="btn btn-default" href="#aus.004.nar_mrsd" role="button">Narrator as Mrs. Dashwood</a>
            <a class="btn btn-default" href="#aus.004.nar_edw" role="button">Narrator as Edward Ferrars</a>
            <a class="btn btn-default" href="#aus.004.nar_eli" role="button">Narrator as Elinor Dashwood</a>
            <a class="btn btn-default" href="#aus.004.nar_mari" role="button">Narrator as Marianne Dashwood</a>
            <a class="btn btn-default" href="#aus.004.nar_john" role="button">Narrator as John Dashwood</a>
            <a class="btn btn-default" href="#aus.004.nar_nancy" role="button">Narrator as Nancy Steele</a>
            <a class="btn btn-default" href="#aus.004.nar_lucy" role="button">Narrator as Lucy Steele</a>
            <a class="btn btn-default" href="#aus.004.nar_will" role="button">Narrator as Willoughby</a>
            <a class="btn btn-default" href="#aus.004.nar_bran" role="button">Narrator as Colonel Brandon</a>
            <a class="btn btn-default" href="#aus.004.nar_jenn" role="button">Narrator as Mrs. Jennings</a>
            <a class="btn btn-default" href="#aus.004.nar_fan" role="button">Narrator as Fanny Dashwood</a>
            <a class="btn btn-default" href="#aus.004.nar_marg" role="button">Narrator as Margaret Dashwood</a>
            <a class="btn btn-default" href="#aus.004.nar_sirj" role="button">Narrator as Sir John Middleton</a>
            <a class="btn btn-default" href="#aus.004.nar_ladym" role="button">Narrator as Lady Mary Middleton</a>
            <a class="btn btn-default" href="#aus.004.nar_mrsp" role="button">Narrator as Mrs. Palmer</a>
            <a class="btn btn-default" href="#aus.004.nar_mrp" role="button">Narrator as Mr. Palmer</a>
            <a class="btn btn-default" href="#aus.004.nar_rob" role="button">Narrator as Robert Ferrars</a>
         </div>
      </div>
   </div>
</div>
