<?xml version="1.0"?>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sense_and_sensibility_speakerData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#sense_and_sensibility_speakerData_body" aria-expanded="true" aria-controls="sense_and_sensibility_speakerData_body">Character Direct Speech</a>
      </h4>
    </div>
    <div id="sense_and_sensibility_speakerData_body" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sense_and_sensibility_speakerData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.004.nar" role="button" data="sense_and_sensibility">Narrator (Sense And Sensibility)</a>
        <a class="btn btn-default btn-xs" href="#aus.004.bran" role="button" data="sense_and_sensibility">Colonel Brandon</a>
        <a class="btn btn-default btn-xs" href="#aus.004.edw" role="button" data="sense_and_sensibility">Edward Ferrars</a>
        <a class="btn btn-default btn-xs" href="#aus.004.eli" role="button" data="sense_and_sensibility">Elinor Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.fan" role="button" data="sense_and_sensibility">Fanny Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.john" role="button" data="sense_and_sensibility">John Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.ladym" role="button" data="sense_and_sensibility">Lady Middleton</a>
        <a class="btn btn-default btn-xs" href="#aus.004.lucy" role="button" data="sense_and_sensibility">Lucy Steele</a>
        <a class="btn btn-default btn-xs" href="#aus.004.marg" role="button" data="sense_and_sensibility">Margaret Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.mari" role="button" data="sense_and_sensibility">Marianne Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.rob" role="button" data="sense_and_sensibility">Mr Robert Ferrars</a>
        <a class="btn btn-default btn-xs" href="#aus.004.mrp" role="button" data="sense_and_sensibility">Mr. Palmer</a>
        <a class="btn btn-default btn-xs" href="#aus.004.jenn" role="button" data="sense_and_sensibility">Mrs Jennings</a>
        <a class="btn btn-default btn-xs" href="#aus.004.mrsd" role="button" data="sense_and_sensibility">Mrs. Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.mrsp" role="button" data="sense_and_sensibility">Mrs. Palmer</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nancy" role="button" data="sense_and_sensibility">Nancy Steele</a>
        <a class="btn btn-default btn-xs" href="#aus.004.sirj" role="button" data="sense_and_sensibility">Sir John Middleton</a>
        <a class="btn btn-default btn-xs" href="#aus.004.thom" role="button" data="sense_and_sensibility">Thomas</a>
        <a class="btn btn-default btn-xs" href="#aus.004.will" role="button" data="sense_and_sensibility">Willoughby</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sense_and_sensibility_indirectData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#sense_and_sensibility_indirectData_body" aria-expanded="true" aria-controls="sense_and_sensibility_indirectData_body">Character Indirect Diction</a>
      </h4>
    </div>
    <div id="sense_and_sensibility_indirectData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="sense_and_sensibility_indirectData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#aus.004.nar_eli" role="button" data="sense_and_sensibility">Narrator as Elinor Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_jenn" role="button" data="sense_and_sensibility">Narrator as Mrs. Jennings</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_mari" role="button" data="sense_and_sensibility">Narrator as Marianne Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_mrsd" role="button" data="sense_and_sensibility">Narrator as Mrs. Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_fan" role="button" data="sense_and_sensibility">Narrator as Fanny Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_john" role="button" data="sense_and_sensibility">Narrator as John Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_sirj" role="button" data="sense_and_sensibility">Narrator as Sir John Middleton</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_lucy" role="button" data="sense_and_sensibility">Narrator as Lucy Steele</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_edw" role="button" data="sense_and_sensibility">Narrator as Edward Ferrars</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_ladym" role="button" data="sense_and_sensibility">Narrator as Lady Mary Middleton</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_rob" role="button" data="sense_and_sensibility">Narrator as Robert Ferrars</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_will" role="button" data="sense_and_sensibility">Narrator as Willoughby</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_marg" role="button" data="sense_and_sensibility">Narrator as Margaret Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_mrp" role="button" data="sense_and_sensibility">Narrator as Mr. Palmer</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nar_news" role="button" data="sense_and_sensibility">Narrator as newspaper</a>
        <a class="btn btn-default btn-xs" href="#aus.004.bran_mrse" role="button" data="sense_and_sensibility">Colonel Brandon speaking as Mrs. Ellison</a>
        <a class="btn btn-default btn-xs" href="#aus.004.bran_ff" role="button" data="sense_and_sensibility">Colonetl Brandon speaking as Friend's father</a>
        <a class="btn btn-default btn-xs" href="#aus.004.eli_bran" role="button" data="sense_and_sensibility">Elinor Dashwood speaking as Colonel Brandon</a>
        <a class="btn btn-default btn-xs" href="#aus.004.john_fan" role="button" data="sense_and_sensibility">John Dashwood speaking as Fanny Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.john_don" role="button" data="sense_and_sensibility">John Dashwood speaking as Mr. Donovan</a>
        <a class="btn btn-default btn-xs" href="#aus.004.john_mrsf" role="button" data="sense_and_sensibility">John Dashwood speaking as Mrs. Ferrars</a>
        <a class="btn btn-default btn-xs" href="#aus.004.jenn_john" role="button" data="sense_and_sensibility">Mrs. Jennings speaking as John Dashwood</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nancy_edw" role="button" data="sense_and_sensibility">Nancy Steele speaking as Edward Ferrars</a>
        <a class="btn btn-default btn-xs" href="#aus.004.nancy_lucy" role="button" data="sense_and_sensibility">Nancy Steele speaking as Lucy Steele</a>
        <a class="btn btn-default btn-xs" href="#aus.004.thom_lucy" role="button" data="sense_and_sensibility">Thomas speaking as Lucy Steele</a>
        <a class="btn btn-default btn-xs" href="#aus.004.will_sirj" role="button" data="sense_and_sensibility">Willoughby speaking as Sir John Middleton</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sense_and_sensibility_traitData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#sense_and_sensibility_traitData_body" aria-expanded="true" aria-controls="sense_and_sensibility_traitData_body">Trait: Character Type</a>
      </h4>
    </div>
    <div id="sense_and_sensibility_traitData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="sense_and_sensibility_traitData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#cad" role="button" data="sense_and_sensibility">Cad</a>
        <a class="btn btn-default btn-xs" href="#fool" role="button" data="sense_and_sensibility">Fool</a>
        <a class="btn btn-default btn-xs" href="#hero" role="button" data="sense_and_sensibility">Hero</a>
        <a class="btn btn-default btn-xs" href="#heroine" role="button" data="sense_and_sensibility">Heroine</a>
        <a class="btn btn-default btn-xs" href="#neutral" role="button" data="sense_and_sensibility">Neutral</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sense_and_sensibility_genderData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#sense_and_sensibility_genderData_body" aria-expanded="true" aria-controls="sense_and_sensibility_genderData_body">Trait: Character Sex</a>
      </h4>
    </div>
    <div id="sense_and_sensibility_genderData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="sense_and_sensibility_genderData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#female" role="button" data="sense_and_sensibility">Female</a>
        <a class="btn btn-default btn-xs" href="#male" role="button" data="sense_and_sensibility">Male</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sense_and_sensibility_maritalStateData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#sense_and_sensibility_maritalStateData_body" aria-expanded="true" aria-controls="sense_and_sensibility_maritalStateData_body">Trait: Character Marriage Status</a>
      </h4>
    </div>
    <div id="sense_and_sensibility_maritalStateData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="sense_and_sensibility_maritalStateData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#married" role="button" data="sense_and_sensibility">Married</a>
        <a class="btn btn-default btn-xs" href="#unmarried" role="button" data="sense_and_sensibility">Unmarried</a>
        <a class="btn btn-default btn-xs" href="#widowed" role="button" data="sense_and_sensibility">Widowed</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sense_and_sensibility_socecStatusData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#sense_and_sensibility_socecStatusData_body" aria-expanded="true" aria-controls="sense_and_sensibility_socecStatusData_body">Trait: Character Class Status</a>
      </h4>
    </div>
    <div id="sense_and_sensibility_socecStatusData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="sense_and_sensibility_socecStatusData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#gentry" role="button" data="sense_and_sensibility">Gentry</a>
        <a class="btn btn-default btn-xs" href="#landed_gentry" role="button" data="sense_and_sensibility">Landed gentry</a>
        <a class="btn btn-default btn-xs" href="#professional_class" role="button" data="sense_and_sensibility">Professional class</a>
        <a class="btn btn-default btn-xs" href="#servant" role="button" data="sense_and_sensibility">Servant</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sense_and_sensibility_ageData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#sense_and_sensibility_ageData_body" aria-expanded="true" aria-controls="sense_and_sensibility_ageData_body">Trait: Character Age</a>
      </h4>
    </div>
    <div id="sense_and_sensibility_ageData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="sense_and_sensibility_ageData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#child" role="button" data="sense_and_sensibility">Child</a>
        <a class="btn btn-default btn-xs" href="#middle-aged" role="button" data="sense_and_sensibility">Middle-aged</a>
        <a class="btn btn-default btn-xs" href="#out" role="button" data="sense_and_sensibility">Out</a>
        <a class="btn btn-default btn-xs" href="#young_married" role="button" data="sense_and_sensibility">Young married</a>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="sense_and_sensibility_occupationData_heading">
      <h4 class="panel-title">
        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#sense_and_sensibility_occupationData_body" aria-expanded="true" aria-controls="sense_and_sensibility_occupationData_body">Trait: Character Occupation</a>
      </h4>
    </div>
    <div id="sense_and_sensibility_occupationData_body" class="panel-collapse collapse " role="tabpanel" aria-labelledby="sense_and_sensibility_occupationData_heading">
      <div class="panel-body">
        <a class="btn btn-default btn-xs" href="#clergyman" role="button" data="sense_and_sensibility">Clergyman</a>
        <a class="btn btn-default btn-xs" href="#soldier" role="button" data="sense_and_sensibility">Soldier</a>
      </div>
    </div>
  </div>
</div>
