
     

    
        

                <h3>Chapter 12</h3>

                <p>
                    <span id="said_no_01143" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne and Henrietta, finding themselves the earliest of the party the next morning,
                        agreed to stroll down to the sea before breakfast. They went to the sands, to watch the flowing of the tide, which a fine south-easterly
                        breeze was bringing in with all the grandeur which so flat a shore admitted. They praised the morning; gloried in the sea; sympathized
                        in the delight of the fresh-feeling breeze -- and were silent; till Henrietta suddenly began again with --</span>
                </p>

                <p>
                    
                        <span id="said_no_01144" class="said" data-toggle="tooltip" title="Henrietta Musgrove" data-placement="auto top">"Oh! yes -- I am quite convinced that, with very few exceptions, the sea-air always
                            does good. There can be no doubt of its having been of the greatest service to Dr Shirley, after his illness, last spring
                            twelve-month.</span>
                        <span id="said_no_01145" class="said" data-toggle="tooltip" title="Henrietta Musgrove" data-placement="auto top">He declares himself, that</span>
                        <span id="said_no_01146" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.002.henr_drshir" data-placement="auto top">coming to
                            Lyme for a month, did him more good than all the medicine he took;</span>
                        <span id="said_no_01147" class="said" data-toggle="tooltip" title="Henrietta Musgrove" data-placement="auto top">and,</span>
                        <span id="said_no_01148" class="said" data-toggle="tooltip" title="Henrietta Musgrove" data-placement="auto top">that</span>
                        <span id="said_no_01149" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.002.henr_drshir" data-placement="auto top">being by
                            the sea, always makes him feel young again.</span>
                        <span id="said_no_01150" class="said" data-toggle="tooltip" title="Henrietta Musgrove" data-placement="auto top">Now, I cannot help thinking it a pity that he does not live entirely by the sea. I
                            do think he had better leave Uppercross entirely, and fix at Lyme. Do not you, Anne? Do not you agree with me, that it is the best
                            thing he could do, both for himself and Mrs Shirley? She has cousins here, you know, and many acquaintance, which would make it
                            cheerful for her, and I am sure she would be glad to get to a place where she could have medical attendance at hand, in case of his
                            having another seizure. Indeed I think it quite melancholy to have such excellent people as Dr and Mrs Shirley, who have been doing
                            good all their lives, wearing out their last days in a place like Uppercross, where, excepting our family, they seem shut out from
                            all the world. I wish his friends would propose it to him. I really think they ought. And, as to procuring a dispensation, there
                            could be no difficulty at his time of life, and with his character. My only doubt is, whether anything could persuade him to leave
                            his parish. He is so very strict and scrupulous in his notions; over-scrupulous I must say. Do not you think, Anne, it is being
                            over-scrupulous? Do not you think it is quite a mistaken point of conscience, when a clergyman sacrifices his health for the sake of
                            duties, which may be just as well performed by another person? And at Lyme too, only seventeen miles off, he would be near enough to
                            hear, if people thought there was anything to complain of."</span>
                    
                </p>

                <p>
                    <span id="said_no_01151" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne smiled more than once to herself during this speech, and entered into the subject,
                        as ready to do good by entering into the feelings of a young lady as of a young man, though here it was good of a lower standard, for
                        what could be offered but general acquiescence? She said all that was reasonable and proper on the business; felt the claims of Dr
                        Shirley to repose as she ought;</span>
                    <span id="said_no_01152" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">saw how very
                        desirable it was that he should have some active, respectable young man, as a resident curate,</span>
                    <span id="said_no_01153" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and was even courteous enough</span>
                    <span id="said_no_01154" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">to hint</span>
                    <span id="said_no_01155" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">at the advantage of
                        such resident curate's being married.</span>
                </p>

                <p>
                    
                        <span id="said_no_01156" class="said" data-toggle="tooltip" title="Henrietta Musgrove" data-placement="auto top">"I wish,"</span>
                        <span id="said_no_01157" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Henrietta, very well pleased with her companion,</span>
                        <span id="said_no_01158" class="said" data-toggle="tooltip" title="Henrietta Musgrove" data-placement="auto top">"I wish Lady Russell lived at Uppercross, and were intimate with Dr Shirley. I have
                            always heard of Lady Russell as a woman of the greatest influence with everybody! I always look upon her as able to persuade a
                            person to anything! I am afraid of her, as I have told you before, quite afraid of her, because she is so very clever; but I respect
                            her amazingly, and wish we had such a neighbour at Uppercross."</span>
                    
                </p>

                <p>
                    <span id="said_no_01159" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne</span>
                    <span id="said_no_01160" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">was amused by Henrietta's manner of being grateful, and</span>
                    <span id="said_no_01161" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">amused also that</span>
                    <span id="said_no_01162" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">the course of
                        events and the new interests of Henrietta's views should have placed her friend at all in favour with any of the Musgrove family;</span>
                    <span id="said_no_01163" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she had only time, however, for a general answer, and</span>
                    <span id="said_no_01164" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">a wish that</span>
                    <span id="said_no_01165" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">such another woman
                        were at Uppercross,</span>
                    <span id="said_no_01166" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">before all subjects suddenly ceased, on seeing Louisa and Captain Wentworth coming
                        towards them. They came also for a stroll till breakfast was likely to be ready; but Louisa recollecting, immediately afterwards that
                        she had something to procure at a shop, invited them all to go back with her into the town. They were all at her disposal.</span>
                </p>

                <p>
                    <span id="said_no_01167" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">When they came to the steps, leading upwards from the beach, a gentleman, at the same
                        moment preparing to come down, politely drew back, and stopped to give them way. They ascended and passed him; and as they passed,
                        Anne's face caught his eye, and he looked at her with a degree of earnest admiration, which she could not be insensible of. She was
                        looking remarkably well; her very regular, very pretty features, having the bloom and freshness of youth restored by the fine wind which
                        had been blowing on her complexion, and by the animation of eye which it had also produced. It was evident that the gentleman,
                        (completely a gentleman in manner) admired her exceedingly. Captain Wentworth looked round at her instantly in a way which shewed his
                        noticing of it. He gave her a momentary glance, a glance of brightness, which seemed to say,</span>
                    <span id="said_no_01168" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"That man is struck with you, and even I, at this moment, see something like Anne
                        Elliot again."</span>
                </p>

                <p>
                    <span id="said_no_01169" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">After attending Louisa through her business, and loitering about a little longer, they
                        returned to the inn; and Anne, in passing afterwards quickly from her own chamber to their dining-room, had nearly run against the very
                        same gentleman, as he came out of an adjoining apartment. She had before conjectured him to be a stranger like themselves, and
                        determined that a well-looking groom, who was strolling about near the two inns as they came back, should be his servant. Both master
                        and man being in mourning assisted the idea. It was now proved that he belonged to the same inn as themselves; and this second meeting,
                        short as it was, also proved again by the gentleman's looks, that he thought hers very lovely, and by the readiness and propriety of his
                        apologies, that he was a man of exceedingly good manners. He seemed about thirty, and though not handsome, had an agreeable
                        person.</span>
                    <span id="said_no_01170" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne felt that</span>
                    <span id="said_no_01171" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">she should like to
                        know who he was.</span>
                </p>

                <p>
                    <span id="said_no_01172" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">They had nearly done breakfast, when the sound of a carriage, (almost the first they had
                        heard since entering Lyme) drew half the party to the window. It was a gentleman's carriage, a curricle, but only coming round from the
                        stable-yard to the front door; somebody must be going away. It was driven by a servant in mourning.</span>
                    
                </p>

                <p>
                    <span id="said_no_01173" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The word curricle made Charles Musgrove jump up that he might compare it with his own;
                        the servant in mourning roused Anne's curiosity, and the whole six were collected to look, by the time the owner of the curricle was to
                        be seen issuing from the door amidst the bows and civilities of the household, and taking his seat, to drive off.</span>
                </p>

                <p>
                    
                        <span id="said_no_01174" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Ah!"</span>
                        <span id="said_no_01175" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">cried Captain Wentworth, instantly, and with half a glance at Anne,</span>
                        <span id="said_no_01176" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"it is the very man we passed."</span>
                    
                </p>

                <p>
                    <span id="said_no_01177" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The Miss Musgroves agreed to it; and having all kindly watched him as far up the hill as
                        they could, they returned to the breakfast table. The waiter came into the room soon afterwards.</span>
                </p>

                <p>
                    
                        <span id="said_no_01178" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Pray,"</span>
                        <span id="said_no_01179" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Captain Wentworth, immediately,</span>
                        <span id="said_no_01180" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"can you tell us the name of the gentleman who is just gone away?"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01181" class="said" data-toggle="tooltip" title="waiter" data-placement="auto top">"Yes, Sir, a Mr Elliot, a gentleman of large fortune, came in last night from Sidmouth.
                            Dare say you heard the carriage, sir, while you were at dinner; and going on now for Crewkherne, in his way to Bath and
                            London."</span>
                    
                </p>

                <p>
                    <span id="said_no_01182" class="said" data-toggle="tooltip" title="waiter" data-placement="auto top">"Elliot!"</span>
                    <span id="said_no_01183" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Many had looked on each other, and many had repeated the name, before all this had been
                        got through, even by the smart rapidity of a waiter.</span>
                </p>

                <p>
                    
                        <span id="said_no_01184" class="said" data-toggle="tooltip" title="Mary Musgrove" data-placement="auto top">"Bless me!"</span>
                        <span id="said_no_01185" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">cried Mary;</span>
                        <span id="said_no_01186" class="said" data-toggle="tooltip" title="Mary Musgrove" data-placement="auto top">"it must be our cousin; it must be our Mr Elliot, it must, indeed! Charles, Anne,
                            must not it? In mourning, you see, just as our Mr Elliot must be. How very extraordinary! In the very same inn with us! Anne, must
                            not it be our Mr Elliot? my father's next heir? Pray sir,"</span>
                        <span id="said_no_01187" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">turning to the waiter,</span>
                        <span id="said_no_01188" class="said" data-toggle="tooltip" title="Mary Musgrove" data-placement="auto top">"did not you hear, did not his servant say whether he belonged to the Kellynch
                            family?"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01189" class="said" data-toggle="tooltip" title="waiter" data-placement="auto top">"No, ma'am, he did not mention no particular family; but</span>
                        <span id="said_no_01190" class="said" data-toggle="tooltip" title="waiter" data-placement="auto top">he said</span>
                        <span id="said_no_01191" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="waiter_servant" data-placement="auto top">his master
                            was a very rich gentleman, and would be a baronight some day."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01192" class="said" data-toggle="tooltip" title="Mary Musgrove" data-placement="auto top">"There! you see!"</span>
                        <span id="said_no_01193" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">cried Mary in an ecstasy,</span>
                        <span id="said_no_01194" class="said" data-toggle="tooltip" title="Mary Musgrove" data-placement="auto top">"just as I said! Heir to Sir Walter Elliot! I was sure that would come out, if it
                            was so. Depend upon it, that is a circumstance which his servants take care to publish, wherever he goes. But, Anne, only conceive
                            how extraordinary! I wish I had looked at him more. I wish we had been aware in time, who it was, that he might have been introduced
                            to us. What a pity that we should not have been introduced to each other! Do you think he had the Elliot countenance? I hardly
                            looked at him, I was looking at the horses; but I think he had something of the Elliot countenance, I wonder the arms did not strike
                            me! Oh! the great-coat was hanging over the panel, and hid the arms, so it did; otherwise, I am sure, I should have observed them,
                            and the livery too; if the servant had not been in mourning, one should have known him by the livery."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01195" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Putting all these very extraordinary circumstances together,"</span>
                        <span id="said_no_01196" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Captain Wentworth,</span>
                        <span id="said_no_01197" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"we must consider it to be the arrangement of Providence, that you should not be
                            introduced to your cousin."</span>
                    
                </p>

                <p>
                    <span id="said_no_01198" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">When she could command Mary's attention,</span>
                    <span id="said_no_01199" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne quietly tried to convince her that</span>
                    <span id="said_no_01200" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">their father and Mr
                        Elliot had not, for many years, been on such terms as to make the power of attempting an introduction at all desirable.</span>
                </p>

                <p>
                    <span id="said_no_01201" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">At the same time, however, it was a secret gratification to herself to have seen her
                        cousin, and to know that the future owner of Kellynch was undoubtedly a gentleman, and had an air of good sense.</span>
                    <span id="said_no_01202" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">She would not, upon
                        any account, mention her having met with him the second time; luckily Mary did not much attend to their having passed close by him in
                        their earlier walk, but she would have felt quite ill-used by Anne's having actually run against him in the passage, and received his
                        very polite excuses, while she had never been near him at all;</span>
                    <span id="said_no_01203" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">no, that cousinly
                        little interview must remain a perfect secret.</span>
                </p>

                <p>
                    
                        <span id="said_no_01204" class="said" data-toggle="tooltip" title="Mary Musgrove" data-placement="auto top">"Of course,"</span>
                        <span id="said_no_01205" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Mary,</span>
                        <span id="said_no_01206" class="said" data-toggle="tooltip" title="Mary Musgrove" data-placement="auto top">"you will mention our seeing Mr Elliot, the next time you write to Bath. I think my
                            father certainly ought to hear of it; do mention all about him."</span>
                    
                </p>

                <p>
                    <span id="said_no_01207" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne avoided a direct reply, but it was just the circumstance which she considered as
                        not merely unnecessary to be communicated, but as what ought to be suppressed. The offence which had been given her father, many years
                        back, she knew; Elizabeth's particular share in it she suspected; and that Mr Elliot's idea always produced irritation in both was
                        beyond a doubt. Mary never wrote to Bath herself; all the toil of keeping up a slow and unsatisfactory correspondence with Elizabeth
                        fell on Anne.</span>
                </p>

                <p>
                    <span id="said_no_01208" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Breakfast had not been long over, when they were joined by Captain and Mrs Harville and
                        Captain Benwick; with whom they had appointed to take their last walk about Lyme. They ought to be setting off for Uppercross by one,
                        and in the mean while were to be all together, and out of doors as long as they could.</span>
                </p>

                <p>
                    <span id="said_no_01209" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne found Captain Benwick getting near her, as soon as they were all fairly in the
                        street. Their conversation the preceding evening did not disincline him to seek her again; and they walked together some time, talking
                        as before of Mr Scott and Lord Byron, and still as unable as before, and as unable as any other two readers, to think exactly alike of
                        the merits of either, till something occasioned an almost general change amongst their party, and instead of Captain Benwick, she had
                        Captain Harville by her side.</span>
                </p>

                <p>
                    
                        <span id="said_no_01210" class="said" data-toggle="tooltip" title="Captain Harville" data-placement="auto top">"Miss Elliot,"</span>
                        <span id="said_no_01211" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said he, speaking rather low,</span>
                        <span id="said_no_01212" class="said" data-toggle="tooltip" title="Captain Harville" data-placement="auto top">"you have done a good deed in making that poor fellow talk so much. I wish he could
                            have such company oftener. It is bad for him, I know, to be shut up as he is; but what can we do? We cannot part."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01213" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"No,"</span>
                        <span id="said_no_01214" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Anne,</span>
                        <span id="said_no_01215" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"that I can easily believe to be impossible; but in time, perhaps -- we know what
                            time does in every case of affliction, and you must remember, Captain Harville, that your friend may yet be called a young mourner
                            -- only last summer, I understand."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01216" class="said" data-toggle="tooltip" title="Captain Harville" data-placement="auto top">"Ay, true enough,"</span>
                        <span id="said_no_01217" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">(with a deep sigh)</span>
                        <span id="said_no_01218" class="said" data-toggle="tooltip" title="Captain Harville" data-placement="auto top">"only June."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01219" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"And not known to him, perhaps, so soon."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01220" class="said" data-toggle="tooltip" title="Captain Harville" data-placement="auto top">"Not till the first week of August, when he came home from the Cape, just made into
                            the Grappler. I was at Plymouth dreading to hear of him; he sent in letters, but the Grappler was under orders for Portsmouth. There
                            the news must follow him, but who was to tell it? not I. I would as soon have been run up to the yard-arm. Nobody could do it, but
                            that good fellow"</span>
                        <span id="said_no_01221" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">(pointing to Captain Wentworth.)</span>
                        <span id="said_no_01222" class="said" data-toggle="tooltip" title="Captain Harville" data-placement="auto top">"The Laconia had come into Plymouth the week before; no danger of her being sent to
                            sea again. He stood his chance for the rest; wrote up for leave of absence, but without waiting the return, travelled night and day
                            till he got to Portsmouth, rowed off to the Grappler that instant, and never left the poor fellow for a week. That's what he did,
                            and nobody else could have saved poor James. You may think, Miss Elliot, whether he is dear to us!"</span>
                    
                </p>

                <p>
                    <span id="said_no_01223" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne did think on the question with perfect decision, and said as much in reply as her
                        own feeling could accomplish, or as his seemed able to bear, for he was too much affected to renew the subject, and when he spoke again,
                        it was of something totally different.</span>
                </p>

                <p>
                    <span id="said_no_01224" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Mrs Harville's giving it as her opinion that</span>
                    <span id="said_no_01225" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_mrsharv" data-placement="auto top">her husband
                        would have quite walking enough by the time he reached home,</span>
                    <span id="said_no_01226" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">determined the direction of all the party in what was to be their last walk; they would
                        accompany them to their door, and then return and set off themselves. By all their calculations there was just time for this; but as
                        they drew near the Cobb, there was such a general wish to walk along it once more, all were so inclined, and Louisa soon grew so
                        determined, that the difference of a quarter of an hour, it was found, would be no difference at all; so with all the kind leave-taking,
                        and all the kind interchange of invitations and promises which may be imagined, they parted from Captain and Mrs Harville at their own
                        door, and still accompanied by Captain Benwick, who seemed to cling to them to the last, proceeded to make the proper adieus to the
                        Cobb.</span>
                </p>

                <p>
                    <span id="said_no_01227" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne found Captain Benwick again drawing near her.</span>
                    <span id="said_no_01228" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_benw" data-placement="auto top">Lord Byron's "dark
                        blue seas"</span>
                    <span id="said_no_01229" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">could not fail of being brought forward</span>
                    <span id="said_no_01230" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">by their present view, and she gladly gave him all her attention as long as attention
                        was possible. It was soon drawn, perforce another way.</span>
                </p>

                <p>
                    <span id="said_no_01231" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">There was too much wind to make the high part of the new Cobb pleasant for the ladies,
                        and they agreed to get down the steps to the lower, and all were contented to pass quietly and carefully down the steep flight,
                        excepting Louisa; she must be jumped down them by Captain Wentworth. In all their walks, he had had to jump her from the stiles; the
                        sensation was delightful to her. The hardness of the pavement for her feet, made him less willing upon the present occasion; he did it,
                        however. She was safely down, and instantly, to show her enjoyment, ran up the steps to be jumped down again. He advised her against
                        it,</span>
                    <span id="said_no_01232" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top"> thought</span>
                    <span id="said_no_01233" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_went" data-placement="auto top">the jar too
                        great;</span>
                    <span id="said_no_01234" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top"> but no, he reasoned and talked in vain, she smiled and said,</span>
                    <span id="said_no_01235" class="said" data-toggle="tooltip" title="Louisa Musgrove" data-placement="auto top">"I am determined I will:"</span>
                    <span id="said_no_01236" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top"> he put out his hands; she was too precipitate by half a second, she fell on the
                        pavement on the Lower Cobb, and was taken up lifeless! There was no wound, no blood, no visible bruise; but her eyes were closed, she
                        breathed not, her face was like death. The horror of the moment to all who stood around!</span>
                </p>

                <p>
                    <span id="said_no_01237" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Captain Wentworth, who had caught her up, knelt with her in his arms, looking on her
                        with a face as pallid as her own, in an agony of silence.</span>
                    
                        <span id="said_no_01238" class="said" data-toggle="tooltip" title="Mary Musgrove" data-placement="auto top">"She is dead! she is dead!"</span>
                        <span id="said_no_01239" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">screamed Mary, catching hold of her husband, and contributing with his own horror to
                            make him immoveable; and in another moment, Henrietta, sinking under the conviction, lost her senses too, and would have fallen on
                            the steps, but for Captain Benwick and Anne, who caught and supported her between them.</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01240" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Is there no one to help me?"</span>
                        <span id="said_no_01241" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">were the first words which burst from Captain Wentworth, in a tone of despair, and
                            as if all his own strength were gone.</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01242" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"Go to him, go to him,"</span>
                        <span id="said_no_01243" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">cried Anne,</span>
                        <span id="said_no_01244" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"for heaven's sake go to him. I can support her myself. Leave me, and go to him. Rub
                            her hands, rub her temples; here are salts; take them, take them."</span>
                    
                </p>

                <p>
                    <span id="said_no_01245" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Captain Benwick obeyed, and Charles at the same moment, disengaging himself from his
                        wife, they were both with him; and Louisa was raised up and supported more firmly between them, and everything was done that Anne had
                        prompted, but in vain; while Captain Wentworth, staggering against the wall for his support, exclaimed in the bitterest agony --</span>
                </p>

                <p>
                    
                        <span id="said_no_01246" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Oh God! her father and mother!"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01247" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">A surgeon!"</span>
                        <span id="said_no_01248" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Anne.</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01249" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">He caught the word; it seemed to rouse him at once, and saying only --</span>
                        <span id="said_no_01250" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top"> "True, true, a surgeon this instant,"</span>
                        <span id="said_no_01251" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">was darting away, when Anne eagerly suggested --</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01252" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"Captain Benwick, would not it be better for Captain Benwick? He knows where a
                            surgeon is to be found."</span>
                    
                </p>

                <p>
                    <span id="said_no_01253" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Every one capable of thinking felt the advantage of the idea, and in a moment (it was
                        all done in rapid moments) Captain Benwick had resigned the poor corpse-like figure entirely to the brother's care, and was off for the
                        town with the utmost rapidity.</span>
                </p>

                <p>
                    <span id="said_no_01254" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">As to the wretched party left behind, it could scarcely be said which of the three, who
                        were completely rational, was suffering most: Captain Wentworth, Anne, or Charles, who, really a very affectionate brother, hung over
                        Louisa with sobs of grief, and could only turn his eyes from one sister, to see the other in a state as insensible, or to witness the
                        hysterical agitations of his wife, calling on him for help which he could not give.</span>
                </p>

                <p>
                    <span id="said_no_01255" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne, attending with all the strength and zeal, and thought, which instinct supplied, to
                        Henrietta, still tried, at intervals, to suggest comfort to the others, tried to quiet Mary, to animate Charles, to assuage the feelings
                        of Captain Wentworth. Both seemed to look to her for directions.</span>
                </p>

                <p>
                    
                        <span id="said_no_01256" class="said" data-toggle="tooltip" title="Charles Musgrove" data-placement="auto top">"Anne, Anne,"</span>
                        <span id="said_no_01257" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">cried Charles,</span>
                        <span id="said_no_01258" class="said" data-toggle="tooltip" title="Charles Musgrove" data-placement="auto top">"What is to be done next? What, in heaven's name, is to be done next?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01259" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Captain Wentworth's eyes were also turned towards her.</span>
                </p>

                <p>
                    
                        <span id="said_no_01260" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"Had not she better be carried to the inn? Yes, I am sure: carry her gently to the
                            inn."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01261" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Yes, yes, to the inn,"</span>
                        <span id="said_no_01262" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">repeated Captain Wentworth, comparatively collected, and eager to be doing
                            something.</span>
                        <span id="said_no_01263" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"I will carry her myself. Musgrove, take care of the others."</span>
                    
                </p>

                <p>
                    <span id="said_no_01264" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">By this time the report of the accident had spread among the workmen and boatmen about
                        the Cobb, and many were collected near them, to be useful if wanted, at any rate, to enjoy the sight of a dead young lady, nay, two dead
                        young ladies, for it proved twice as fine as the first report. To some of the best-looking of these good people Henrietta was consigned,
                        for, though partially revived, she was quite helpless; and in this manner, Anne walking by her side, and Charles attending to his wife,
                        they set forward, treading back with feelings unutterable, the ground, which so lately, so very lately, and so light of heart, they had
                        passed along.</span>
                </p>

                <p>
                    <span id="said_no_01265" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">They were not off the Cobb, before the Harvilles met them.</span>
                    <span id="said_no_01266" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_harmrsharv" data-placement="auto top">Captain
                        Benwick had been seen flying by their house, with a countenance which showed something to be wrong; and they had set off immediately,
                        informed and directed as they passed, towards the spot.</span>
                    <span id="said_no_01267" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Shocked as Captain Harville was, he brought senses and nerves that could be instantly
                        useful; and a look between him and his wife decided what was to be done.</span>
                    <span id="said_no_01268" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_harmrsharv" data-placement="auto top">She must
                        be taken to their house; all must go to their house; and await the surgeon's arrival there.</span>
                    <span id="said_no_01269" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">They would not listen to scruples: he was obeyed; they were all beneath his roof; and
                        while Louisa, under Mrs Harville's direction, was conveyed up stairs, and given possession of her own bed, assistance, cordials,
                        restoratives were supplied by her husband to all who needed them.</span>
                </p>

                <p>
                    <span id="said_no_01270" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Louisa had once opened her eyes, but soon closed them again, without apparent
                        consciousness. This had been a proof of life, however, of service to her sister; and Henrietta, though perfectly incapable of being in
                        the same room with Louisa, was kept, by the agitation of hope and fear, from a return of her own insensibility. Mary, too, was growing
                        calmer.</span>
                </p>

                <p>
                    <span id="said_no_01271" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The surgeon was with them almost before it had seemed possible. They were sick with
                        horror, while he examined; but he was not hopeless.</span>
                    <span id="said_no_01272" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_surg" data-placement="auto top">The head had received
                        a severe contusion, but he had seen greater injuries recovered from: he was by no means hopeless;</span>
                    <span id="said_no_01273" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">he spoke cheerfully.</span>
                </p>

                <p>
                    <span id="said_no_01274" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">That he did not regard it as a desperate case, that he did not say a few hours must end
                        it, was at first felt, beyond the hope of most; and the ecstasy of such a reprieve, the rejoicing, deep and silent, after a few fervent
                        ejaculations of gratitude to Heaven had been offered, may be conceived.</span>
                </p>

                <p>
                    <span id="said_no_01275" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The tone, the look, with which</span>
                    <span id="said_no_01276" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Thank God!"</span>
                    <span id="said_no_01277" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">was uttered by Captain Wentworth, Anne was sure could never be forgotten by her; nor the
                        sight of him afterwards, as he sat near a table, leaning over it with folded arms and face concealed, as if overpowered by the various
                        feelings of his soul, and trying by prayer and reflection to calm them.</span>
                </p>

                <p>
                    <span id="said_no_01278" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Louisa's limbs had escaped. There was no injury but to the head.</span>
                </p>

                <p>
                    <span id="said_no_01279" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">It now became necessary for the party to consider what was best to be done, as to their
                        general situation. They were now able to speak to each other and consult. That Louisa must remain where she was, however distressing to
                        her friends to be involving the Harvilles in such trouble, did not admit a doubt. Her removal was impossible. The Harvilles silenced all
                        scruples; and, as much as they could, all gratitude. They had looked forward and arranged everything before the others began to
                        reflect.</span>
                    <span id="said_no_01280" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_harvmrsharv" data-placement="auto top">
                        Captain Benwick must give up his room to them, and get another bed elsewhere; and the whole was settled. They were only concerned that
                        the house could accommodate no more;</span>
                    <span id="said_no_01281" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and yet perhaps, by</span>
                    <span id="said_no_01282" class="said" data-toggle="tooltip" title="aus.002.harvmrsharv" data-placement="auto top">"putting the children away in the maid's room, or swinging a cot
                        somewhere,"</span>
                    <span id="said_no_01283" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_harvmrsharv" data-placement="auto top"> they
                        could hardly bear to think of not finding room for two or three besides, supposing they might wish to stay; though, with regard to any
                        attendance on Miss Musgrove, there need not be the least uneasiness in leaving her to Mrs Harville's care entirely. Mrs Harville was a
                        very experienced nurse, and her nursery-maid, who had lived with her long, and gone about with her everywhere, was just such another.
                        Between these two, she could want no possible attendance by day or night.</span>
                    <span id="said_no_01284" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">And all this was said with a truth and sincerity of feeling irresistible.</span>
                </p>

                <p>
                    <span id="said_no_01285" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Charles, Henrietta, and Captain Wentworth were the three in consultation, and for a
                        little while it was only an interchange of perplexity and terror.</span>
                    <span id="said_no_01286" class="said" data-toggle="tooltip" title="aus.002.charhenrwent" data-placement="auto top">"Uppercross, the necessity of some one's going to Uppercross; the news to be
                        conveyed; how it could be broken to Mr and Mrs Musgrove; the lateness of the morning; an hour already gone since they ought to have been
                        off; the impossibility of being in tolerable time."</span>
                    <span id="said_no_01287" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">At first, they were capable of nothing more to the purpose than such exclamations; but,
                        after a while, Captain Wentworth, exerting himself, said --</span>
                </p>

                <p>
                    
                        <span id="said_no_01288" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"We must be decided, and without the loss of another minute. Every minute is
                            valuable. Some one must resolve on being off for Uppercross instantly. Musgrove, either you or I must go."</span>
                    
                </p>

                <p>
                    <span id="said_no_01289" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Charles agreed, but declared his resolution of not going away.</span>
                    <span id="said_no_01290" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_char" data-placement="auto top">He would be as little
                        incumbrance as possible to Captain and Mrs Harville; but as to leaving his sister in such a state, he neither ought, nor would.</span>
                    <span id="said_no_01291" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">So far it was decided; and Henrietta at first declared the same. She, however, was soon
                        persuaded to think differently.</span>
                    <span id="said_no_01292" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_charwent" data-placement="auto top">The
                        usefulness of her staying! She who had not been able to remain in Louisa's room, or to look at her, without sufferings which made her
                        worse than helpless!</span>
                    <span id="said_no_01293" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She was forced to acknowledge that she could do no good, yet was still unwilling to be
                        away, till, touched by the thought of her father and mother, she gave it up; she consented, she was anxious to be at home.</span>
                </p>

                <p>
                    <span id="said_no_01294" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The plan had reached this point, when Anne, coming quietly down from Louisa's room,
                        could not but hear what followed, for the parlour door was open.</span>
                </p>

                <p>
                    
                        <span id="said_no_01295" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Then it is settled, Musgrove,"</span>
                        <span id="said_no_01296" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">cried Captain Wentworth,</span>
                        <span id="said_no_01297" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"that you stay, and that I take care of your sister home. But as to the rest, as to
                            the others, if one stays to assist Mrs Harville, I think it need be only one. Mrs Charles Musgrove will, of course, wish to get back
                            to her children; but if Anne will stay, no one so proper, so capable as Anne."</span>
                    
                </p>

                <p>
                    <span id="said_no_01298" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She paused a moment to recover from the emotion of hearing herself so spoken of. The
                        other two warmly agreed with what he said, and she then appeared.</span>
                </p>

                <p>
                    
                        <span id="said_no_01299" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"You will stay, I am sure; you will stay and nurse her;"</span>
                        <span id="said_no_01300" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">cried he, turning to her and speaking with a glow, and yet a gentleness, which
                            seemed almost restoring the past. She coloured deeply, and he recollected himself and moved away.</span>
                        <span id="said_no_01301" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She expressed herself</span>
                        <span id="said_no_01302" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">most willing,
                            ready, happy to remain.</span>
                        <span id="said_no_01303" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"It was what she had been thinking of, and wishing to be allowed to do. A bed on the
                            floor in Louisa's room would be sufficient for her, if Mrs Harville would but think so."</span>
                    
                </p>

                <p>
                    <span id="said_no_01304" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">One thing more, and all seemed arranged. Though it was rather desirable that Mr and Mrs
                        Musgrove should be previously alarmed by some share of delay; yet the time required by the Uppercross horses to take them back, would be
                        a dreadful extension of suspense; and</span>
                    <span id="said_no_01305" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Captain Wentworth proposed, and Charles Musgrove agreed, that</span>
                    <span id="said_no_01306" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_went" data-placement="auto top">it would be much
                        better for him to take a chaise from the inn, and leave Mr Musgrove's carriage and horses to be sent home the next morning early, when
                        there would be the farther advantage of sending an account of Louisa's night.</span>
                </p>

                <p>
                    <span id="said_no_01307" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Captain Wentworth now hurried off to get everything ready on his part, and to be soon
                        followed by the two ladies. When the plan was made known to Mary, however, there was an end of all peace in it. She was so wretched and
                        so vehement, complained so much of injustice in being expected to go away instead of Anne;</span>
                    <span id="said_no_01308" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_mary" data-placement="auto top">Anne, who was nothing
                        to Louisa, while she was her sister, and had the best right to stay in Henrietta's stead! Why was not she to be as useful as Anne? And
                        to go home without Charles, too, without her husband! No, it was too unkind.</span>
                    <span id="said_no_01309" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">And in short, she said more than her husband could long withstand, and as none of the
                        others could oppose when he gave way, there was no help for it; the change of Mary for Anne was inevitable.</span>
                </p>

                <p>
                    <span id="said_no_01310" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne had never submitted more reluctantly to the jealous and ill-judging claims of Mary;
                        but so it must be, and they set off for the town, Charles taking care of his sister, and Captain Benwick attending to her. She gave a
                        moment's recollection, as they hurried along, to the little circumstances which the same spots had witnessed earlier in the morning.
                        There she had listened to Henrietta's schemes for Dr Shirley's leaving Uppercross; farther on, she had first seen Mr Elliot; a moment
                        seemed all that could now be given to any one but Louisa, or those who were wrapt up in her welfare.</span>
                </p>

                <p><span id="said_no_01311" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Captain Benwick was most considerately attentive to her; and, united as they all seemed
                        by the distress of the day,</span>
                    <span id="said_no_01312" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she felt</span>
                    <span id="said_no_01313" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">an increasing degree of good-will towards him, and a pleasure even in thinking</span>
                    <span id="said_no_01314" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">that</span>
                    <span id="said_no_01315" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">it might, perhaps,
                        be the occasion of continuing their acquaintance</span>.</p>

                <p>
                    <span id="said_no_01316" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Captain Wentworth was on the watch for them, and a chaise and four in waiting, stationed
                        for their convenience in the lowest part of the street; but his evident surprise and vexation at the substitution of one sister for the
                        other, the change in his countenance, the astonishment, the expressions begun and suppressed, with which Charles was listened to, made
                        but a mortifying reception of Anne; or must at least</span>
                    <span id="said_no_01317" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">convince her that</span>
                    <span id="said_no_01318" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">she was valued only
                        as she could be useful to Louisa.</span>
                </p>

                <p>
                    <span id="said_no_01319" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She endeavoured to be composed, and to be just. Without emulating the feelings of an
                        Emma towards her Henry, she would have attended on Louisa with a zeal above the common claims of regard, for his sake; and</span>
                    <span id="said_no_01320" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she hoped</span>
                    <span id="said_no_01321" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">he would not long
                        be so unjust as to suppose she would shrink unnecessarily from the office of a friend.</span>
                </p>

                <p>
                    <span id="said_no_01322" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">In the mean while she was in the carriage. He had handed them both in, and placed
                        himself between them; and in this manner, under these circumstances, full of astonishment and emotion to Anne, she quitted Lyme. How the
                        long stage would pass; how it was to affect their manners; what was to be their sort of intercourse, she could not foresee. It was all
                        quite natural, however. He was devoted to Henrietta; always turning towards her; and when he spoke at all, always with the view of
                        supporting her hopes and raising her spirits. In general, his voice and manner were studiously calm. To spare Henrietta from agitation
                        seemed the governing principle. Once only, when she had been grieving over the last ill-judged, ill-fated walk to the Cobb, bitterly
                        lamenting that it ever had been thought of, he burst forth, as if wholly overcome --</span>
                </p>

                <p>
                    
                        <span id="said_no_01323" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Don't talk of it, don't talk of it,"</span>
                        <span id="said_no_01324" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">he cried.</span>
                        <span id="said_no_01325" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Oh God! that I had not given way to her at the fatal moment! Had I done as I ought!
                            But so eager and so resolute! Dear, sweet Louisa!"</span>
                    
                </p>

                <p>
                    <span id="said_no_01326" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne wondered</span>
                    <span id="said_no_01327" class="said fid said_tooltip certainty_6" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">whether it ever
                        occurred to him now, to question the justness of his own previous opinion as to the universal felicity and advantage of firmness of
                        character; and whether it might not strike him that, like all other qualities of the mind, it should have its proportions and
                        limits.</span>
                    <span id="said_no_01328" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top"> She thought</span>
                    <span id="said_no_01329" class="said fid said_tooltip certainty_6" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">it could scarcely
                        escape him to feel that a persuadable temper might sometimes be as much in favour of happiness as a very resolute character.</span>
                </p>

                <p>
                    <span id="said_no_01330" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">They got on fast. Anne was astonished to recognise the same hills and the same objects
                        so soon. Their actual speed, heightened by some dread of the conclusion, made the road appear but half as long as on the day before. It
                        was growing quite dusk, however, before they were in the neighbourhood of Uppercross, and there had been total silence among them for
                        some time, Henrietta leaning back in the corner, with a shawl over her face, giving the hope of her having cried herself to sleep; when,
                        as they were going up their last hill, Anne found herself all at once addressed by Captain Wentworth. In a low, cautious voice, he
                        said:--</span>
                </p>

                <p>
                    
                        <span id="said_no_01331" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"I have been considering what we had best do. She must not appear at first. She
                            could not stand it. I have been thinking whether you had not better remain in the carriage with her, while I go in and break it to
                            Mr and Mrs Musgrove. Do you think this is a good plan?"</span>
                    
                </p>

                <p>
                    <span id="said_no_01332" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">She did:</span>
                    <span id="said_no_01333" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">he was satisfied, and said no more. But the remembrance of the appeal remained a
                        pleasure to her, as a proof of friendship, and of deference for her judgement, a great pleasure; and when it became a sort of parting
                        proof, its value did not lessen.</span>
                </p>

                <p>
                    <span id="said_no_01334" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">When the distressing communication at Uppercross was over, and he had seen the father
                        and mother quite as composed as could be hoped, and the daughter all the better for being with them,</span>
                    <span id="said_no_01335" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">he announced</span>
                    <span id="said_no_01336" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_went" data-placement="auto top">his intention of
                        returning in the same carriage to Lyme;</span>
                    <span id="said_no_01337" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and when the horses were baited, he was off.</span>
                </p>

                <p>(End of volume one.)</p>
            


    <div class="footnotes"> </div>
