
     

    
        

                <h3>Chapter 4</h3>

                <p>
                    <span id="said_no_00279" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">He was not Mr Wentworth, the former curate of Monkford, however suspicious appearances
                        may be, but a Captain Frederick Wentworth, his brother, who being made commander in consequence of the action off St Domingo, and not
                        immediately employed, had come into Somersetshire, in the summer of 1806; and having no parent living, found a home for half a year at
                        Monkford. He was, at that time, a remarkably fine young man, with a great deal of intelligence, spirit, and brilliancy; and Anne an
                        extremely pretty girl, with gentleness, modesty, taste, and feeling. Half the sum of attraction, on either side, might have been enough,
                        for he had nothing to do, and she had hardly anybody to love; but the encounter of such lavish recommendations could not fail. They were
                        gradually acquainted, and when acquainted, rapidly and deeply in love. It would be difficult to say which had seen highest perfection in
                        the other, or which had been the happiest: she, in receiving his declarations and proposals, or he in having them accepted.</span>
                </p>

                <p>
                    <span id="said_no_00280" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">A short period of exquisite felicity followed, and but a short one. Troubles soon arose.
                        Sir Walter, on being applied to, without actually withholding his consent, or saying it should never be, gave it all the negative of
                        great astonishment, great coldness, great silence, and a professed resolution of doing nothing for his daughter.</span>
                    <span id="said_no_00281" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">He thought it</span>
                    <span id="said_no_00282" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_sirwalt" data-placement="auto top">a very
                        degrading alliance;</span>
                    <span id="said_no_00283" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and</span>
                    <span id="said_no_00284" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell,</span>
                    <span id="said_no_00285" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">though with more tempered and pardonable pride,</span>
                    <span id="said_no_00286" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">received it</span>
                    <span id="said_no_00287" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">as a most
                        unfortunate one.</span>
                </p>

                <p>
                    <span id="said_no_00288" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">Anne Elliot, with
                        all her claims of birth, beauty, and mind, to throw herself away at nineteen; involve herself at nineteen in an engagement with a young
                        man, who had nothing but himself to recommend him, and no hopes of attaining affluence, but in the chances of a most uncertain
                        profession, and no connexions to secure even his farther rise in the profession, would be, indeed, a throwing away, which she grieved to
                        think of! Anne Elliot, so young; known to so few, to be snatched off by a stranger without alliance or fortune; or rather sunk by him
                        into a state of most wearing, anxious, youth-killing dependence! It must not be, if by any fair interference of friendship, any
                        representations from one who had almost a mother's love, and mother's rights, it would be prevented.</span>
                </p>

                <p>
                    <span id="said_no_00289" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">&gt;Captain Wentworth had no fortune. He had been lucky in his profession; but spending
                        freely, what had come freely, had realized nothing. But he was confident that he should soon be rich: full of life and ardour,</span>
                    <span id="said_no_00290" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">he knew that</span>
                    <span id="said_no_00291" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_went" data-placement="auto top">he should soon have
                        a ship, and soon be on a station that would lead to everything he wanted. He had always been lucky; he knew he should be so
                        still.</span>
                    <span id="said_no_00292" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Such confidence, powerful in its own warmth, and bewitching in the wit which often
                        expressed it, must have been enough for Anne; but Lady Russell saw it very differently. His sanguine temper, and fearlessness of mind,
                        operated very differently on her. She saw in it but an aggravation of the evil. It only added a dangerous character to himself. He was
                        brilliant, he was headstrong. Lady Russell had little taste for wit, and of anything approaching to imprudence a horror. She deprecated
                        the connexion in every light.</span>
                </p>

                <p>
                    <span id="said_no_00293" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Such opposition, as these feelings produced, was more than Anne could combat. Young and
                        gentle as she was, it might yet have been possible to withstand her father's ill-will, though unsoftened by one kind word or look on the
                        part of her sister; but Lady Russell, whom she had always loved and relied on, could not, with such steadiness of opinion, and such
                        tenderness of manner, be continually advising her in vain.</span>
                    <span id="said_no_00294" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She was persuaded to believe</span>
                    <span id="said_no_00295" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">the engagement a
                        wrong thing: indiscreet, improper, hardly capable of success, and not deserving it.</span>
                    <span id="said_no_00296" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">But it was not a merely selfish caution, under which she acted, in putting an end to it.
                        Had she not imagined herself consulting his good, even more than her own, she could hardly have given him up. The belief of being
                        prudent, and self-denying, principally for his advantage, was her chief consolation, under the misery of a parting, a final parting; and
                        every consolation was required, for she had to encounter all the additional pain of opinions, on his side, totally unconvinced and
                        unbending, and of his feeling himself ill used by so forced a relinquishment. He had left the country in consequence.</span>
                </p>

                <p>
                    <span id="said_no_00297" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">A few months had seen the beginning and the end of their acquaintance; but not with a
                        few months ended Anne's share of suffering from it. Her attachment and regrets had, for a long time, clouded every enjoyment of youth,
                        and an early loss of bloom and spirits had been their lasting effect.</span>
                </p>

                <p>
                    <span id="said_no_00298" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">More than seven years were gone since this little history of sorrowful interest had
                        reached its close; and time had softened down much, perhaps nearly all of peculiar attachment to him, but she had been too dependent on
                        time alone; no aid had been given in change of place (except in one visit to Bath soon after the rupture), or in any novelty or
                        enlargement of society. No one had ever come within the Kellynch circle, who could bear a comparison with Frederick Wentworth, as he
                        stood in her memory. No second attachment, the only thoroughly natural, happy, and sufficient cure, at her time of life, had been
                        possible to the nice tone of her mind, the fastidiousness of her taste, in the small limits of the society around them. She had been
                        solicited, when about two-and-twenty, to change her name, by the young man, who not long afterwards found a more willing mind in her
                        younger sister; and Lady Russell had lamented her refusal; for Charles Musgrove was the eldest son of a man, whose landed property and
                        general importance were second in that country, only to Sir Walter's, and of good character and appearance; and however Lady Russell
                        might have asked yet for something more, while Anne was nineteen,</span>
                    <span id="said_no_00299" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she would have rejoiced</span>
                    <span id="said_no_00300" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">to see her at
                        twenty-two so respectably removed from the partialities and injustice of her father's house, and settled so permanently near
                        herself.</span>
                    <span id="said_no_00301" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">But in this case, Anne had left nothing for advice to do; and though Lady Russell, as
                        satisfied as ever with her own discretion, never wished the past undone, she began now to have the anxiety which borders on hopelessness
                        for Anne's being tempted, by some man of talents and independence, to enter a state for which she held her to be peculiarly fitted by
                        her warm affections and domestic habits.</span>
                </p>

                <p>
                    <span id="said_no_00302" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">They knew not each other's opinion, either its constancy or its change, on the one
                        leading point of Anne's conduct, for the subject was never alluded to; but Anne, at seven-and-twenty, thought very differently from what
                        she had been made to think at nineteen.</span>
                    <span id="said_no_00303" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">She did not blame
                        Lady Russell, she did not blame herself for having been guided by her;</span>
                    <span id="said_no_00304" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">but</span>
                    <span id="said_no_00305" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she felt that</span>
                    <span id="said_no_00306" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">were any young
                        person, in similar circumstances, to apply to her for counsel, they would never receive any of such certain immediate wretchedness, such
                        uncertain future good.</span>
                    <span id="said_no_00307" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She was persuaded that</span>
                    <span id="said_no_00308" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">under every
                        disadvantage of disapprobation at home, and every anxiety attending his profession, all their probable fears, delays, and
                        disappointments, she should yet have been a happier woman in maintaining the engagement, than she had been in the sacrifice of
                        it;</span>
                    <span id="said_no_00309" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and</span>
                    <span id="said_no_00310" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">this,</span>
                    <span id="said_no_00311" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she fully believed,</span>
                    <span id="said_no_00312" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">had the usual
                        share, had even more than the usual share of all such solicitudes and suspense been theirs,</span>
                    <span id="said_no_00313" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">without reference to the actual results of their case, which, as it happened, would have
                        bestowed earlier prosperity than could be reasonably calculated on. All his sanguine expectations, all his confidence had been
                        justified. His genius and ardour had seemed to foresee and to command his prosperous path. He had, very soon after their engagement
                        ceased, got employ: and all that he had told her would follow, had taken place. He had distinguished himself, and early gained the other
                        step in rank, and must now, by successive captures, have made a handsome fortune. She had only navy lists and newspapers for her
                        authority, but she could not doubt his being rich; and, in favour of his constancy, she had no reason to believe him married.</span>
                </p>

                <p>
                    <span id="said_no_00314" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">How eloquent could Anne Elliot have been! how eloquent, at least, were her wishes on the
                        side of early warm attachment, and a cheerful confidence in futurity, against that over-anxious caution which seems to insult exertion
                        and distrust Providence! She had been forced into prudence in her youth, she learned romance as she grew older: the natural sequel of an
                        unnatural beginning.</span>
                </p>

                <p>
                    <span id="said_no_00315" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">With all these circumstances, recollections and feelings, she could not hear that
                        Captain Wentworth's sister was likely to live at Kellynch without a revival of former pain; and many a stroll, and many a sigh, were
                        necessary to dispel the agitation of the idea.</span>
                    <span id="said_no_00316" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She often told herself</span>
                    <span id="said_no_00317" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">it was
                        folly,</span>
                    <span id="said_no_00318" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">before she could harden her nerves sufficiently to feel the continual discussion of the
                        Crofts and their business no evil. She was assisted, however, by that perfect indifference and apparent unconsciousness, among the only
                        three of her own friends in the secret of the past, which seemed almost to deny any recollection of it. She could do justice to the
                        superiority of Lady Russell's motives in this, over those of her father and Elizabeth; she could honour all the better feelings of her
                        calmness; but the general air of oblivion among them was highly important from whatever it sprung; and in the event of Admiral Croft's
                        really taking Kellynch Hall,</span>
                    <span id="said_no_00319" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she rejoiced anew</span>
                    <span id="said_no_00320" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">over the conviction which had always been most grateful to her,</span>
                    <span id="said_no_00321" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">of the past being
                        known to those three only among her connexions, by whom no syllable,</span>
                    <span id="said_no_00322" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she believed,</span>
                    <span id="said_no_00323" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">would ever be
                        whispered, and in the trust that among his, the brother only with whom he had been residing, had received any information of their
                        short-lived engagement.</span>
                    <span id="said_no_00324" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">That brother had been long removed from the country and being a sensible man, and,
                        moreover, a single man at the time, she had a fond dependence on no human creature's having heard of it from him.</span>
                </p>

                <p>
                    <span id="said_no_00325" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The sister, Mrs Croft, had then been out of England, accompanying her husband on a
                        foreign station, and her own sister, Mary, had been at school while it all occurred; and never admitted by the pride of some, and the
                        delicacy of others, to the smallest knowledge of it afterwards.</span>
                </p>

                <p>
                    <span id="said_no_00326" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">With these supports,</span>
                    <span id="said_no_00327" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">she hoped that the
                        acquaintance between herself and the Crofts,</span>
                    <span id="said_no_00328" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">which, with Lady Russell, still resident in Kellynch, and Mary fixed only three miles
                        off, must be anticipated,</span>
                    <span id="said_no_00329" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">need not involve
                        any particular awkwardness.</span>
                </p>
            


    <div class="footnotes"> </div>
