
     

    
        

                <h3>Chapter 17</h3>

                <p>
                    <span id="said_no_01792" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">While Sir Walter and Elizabeth were assiduously pushing their good fortune in Laura
                        Place, Anne was renewing an acquaintance of a very different description.</span>
                </p>

                <p>
                    <span id="said_no_01793" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She had called on her former governess, and had heard from her of there being an old
                        school-fellow in Bath, who had the two strong claims on her attention of past kindness and present suffering. Miss Hamilton, now Mrs
                        Smith, had shewn her kindness in one of those periods of her life when it had been most valuable. Anne had gone unhappy to school,
                        grieving for the loss of a mother whom she had dearly loved, feeling her separation from home, and suffering as a girl of fourteen, of
                        strong sensibility and not high spirits, must suffer at such a time; and Miss Hamilton, three years older than herself, but still from
                        the want of near relations and a settled home, remaining another year at school, had been useful and good to her in a way which had
                        considerably lessened her misery, and could never be remembered with indifference.</span>
                </p>

                <p>
                    <span id="said_no_01794" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Miss Hamilton had left school, had married not long afterwards, was said to have married
                        a man of fortune, and this was all that Anne had known of her, till now that their governess's account brought her situation forward in
                        a more decided but very different form.</span>
                </p>

                <p>
                    <span id="said_no_01795" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_gov" data-placement="auto top">She was a widow and
                        poor. Her husband had been extravagant; and at his death, about two years before, had left his affairs dreadfully involved. She had had
                        difficulties of every sort to contend with, and in addition to these distresses had been afflicted with a severe rheumatic fever, which,
                        finally settling in her legs, had made her for the present a cripple. She had come to Bath on that account, and was now in lodgings near
                        the hot baths, living in a very humble way, unable even to afford herself the comfort of a servant, and of course almost excluded from
                        society.</span>
                </p>

                <p>
                    <span id="said_no_01796" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Their mutual friend answered for</span>
                    <span id="said_no_01797" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_gov" data-placement="auto top">the satisfaction which
                        a visit from Miss Elliot would give Mrs Smith,</span>
                    <span id="said_no_01798" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and Anne therefore lost no time in going. She mentioned nothing of what she had heard,
                        or what she intended, at home.</span>
                    <span id="said_no_01799" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">It would excite no
                        proper interest there.</span>
                    <span id="said_no_01800" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She only consulted Lady Russell, who entered thoroughly into her sentiments, and</span>
                    <span id="said_no_01801" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">was most happy to
                        convey her as near to Mrs Smith's lodgings in Westgate Buildings, as Anne chose to be taken.</span>
                </p>

                <p>
                    <span id="said_no_01802" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The visit was paid, their acquaintance re-established, their interest in each other more
                        than re-kindled. The first ten minutes had its awkwardness and its emotion. Twelve years were gone since they had parted, and each
                        presented a somewhat different person from what the other had imagined. Twelve years had changed Anne from the blooming, silent,
                        unformed girl of fifteen, to the elegant little woman of seven-and-twenty, with every beauty except bloom, and with manners as
                        consciously right as they were invariably gentle; and twelve years had transformed the fine-looking, well-grown Miss Hamilton, in all
                        the glow of health and confidence of superiority, into a poor, infirm, helpless widow, receiving the visit of her former protegee as a
                        favour; but all that was uncomfortable in the meeting had soon passed away, and left only the interesting charm of remembering former
                        partialities and talking over old times.</span>
                </p>

                <p>
                    <span id="said_no_01803" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne found in Mrs Smith the good sense and agreeable manners which she had almost
                        ventured to depend on, and a disposition to converse and be cheerful beyond her expectation.</span>
                    <span id="said_no_01804" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Neither the
                        dissipations of the past -- and she had lived very much in the world -- nor the restrictions of the present, neither sickness nor sorrow
                        seemed to have closed her heart or ruined her spirits.</span>
                </p>

                <p>
                    <span id="said_no_01805" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">In the course of a second visit she talked with great openness, and Anne's astonishment
                        increased.</span>
                    <span id="said_no_01806" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">She could scarcely
                        imagine a more cheerless situation in itself than Mrs Smith's.</span>
                    <span id="said_no_01807" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">She had been very
                        fond of her husband: she had buried him. She had been used to affluence: it was gone. She had no child to connect her with life and
                        happiness again, no relations to assist in the arrangement of perplexed affairs, no health to make all the rest supportable. Her
                        accommodations were limited to a noisy parlour, and a dark bedroom behind, with no possibility of moving from one to the other without
                        assistance, which there was only one servant in the house to afford, and she never quitted the house but to be conveyed into the warm
                        bath.</span>
                    <span id="said_no_01808" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Yet, in spite of all this,</span>
                    <span id="said_no_01809" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne had reason to believe that</span>
                    <span id="said_no_01810" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">she had moments
                        only of languor and depression, to hours of occupation and enjoyment. How could it be?</span>
                    <span id="said_no_01811" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She watched, observed, reflected, and</span>
                    <span id="said_no_01812" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">finally determined that</span>
                    <span id="said_no_01813" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">this was not a case
                        of fortitude or of resignation only.</span>
                    <span id="said_no_01814" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">A submissive spirit
                        might be patient, a strong understanding would supply resolution, but here was something more; here was that elasticity of mind, that
                        disposition to be comforted, that power of turning readily from evil to good, and of finding employment which carried her out of
                        herself, which was from nature alone. It was the choicest gift of Heaven;</span>
                    <span id="said_no_01815" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and</span>
                    <span id="said_no_01816" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne viewed her friend</span>
                    <span id="said_no_01817" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">as one of those
                        instances in which, by a merciful appointment, it seems designed to counterbalance almost every other want.</span>
                </p>

                <p>
                    <span id="said_no_01818" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_smith" data-placement="auto top">There had been a
                        time,</span>
                    <span id="said_no_01819" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Mrs Smith told her,</span>
                    <span id="said_no_01820" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_smith" data-placement="auto top">when her spirits
                        had nearly failed. She could not call herself an invalid now, compared with her state on first reaching Bath. Then she had, indeed, been
                        a pitiable object; for she had caught cold on the journey, and had hardly taken possession of her lodgings before she was again confined
                        to her bed and suffering under severe and constant pain; and all this among strangers, with the absolute necessity of having a regular
                        nurse, and finances at that moment particularly unfit to meet any extraordinary expense. She had weathered it, however, and could truly
                        say that it had done her good. It had increased her comforts by making her feel herself to be in good hands. She had seen too much of
                        the world, to expect sudden or disinterested attachment anywhere, but her illness had proved to her that her landlady had a character to
                        preserve, and would not use her ill; and she had been particularly fortunate in her nurse, as a sister of her landlady, a nurse by
                        profession, and who had always a home in that house when unemployed, chanced to be at liberty just in time to attend her.</span>
                    
                        <span id="said_no_01821" class="said" data-toggle="tooltip" title="Mrs Smith" data-placement="auto top">"And she,"</span>
                        <span id="said_no_01822" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Mrs Smith,</span>
                        <span id="said_no_01823" class="said" data-toggle="tooltip" title="Mrs Smith" data-placement="auto top">"besides nursing me most admirably, has really proved an invaluable acquaintance.
                            As soon as I could use my hands she taught me to knit, which has been a great amusement; and she put me in the way of making these
                            little thread-cases, pin-cushions and card-racks, which you always find me so busy about, and which supply me with the means of
                            doing a little good to one or two very poor families in this neighbourhood. She had a large acquaintance, of course professionally,
                            among those who can afford to buy, and she disposes of my merchandise. She always takes the right time for applying. Everybody's
                            heart is open, you know, when they have recently escaped from severe pain, or are recovering the blessing of health, and Nurse Rooke
                            thoroughly understands when to speak. She is a shrewd, intelligent, sensible woman. Hers is a line for seeing human nature; and she
                            has a fund of good sense and observation, which, as a companion, make her infinitely superior to thousands of those who having only
                            received 'the best education in the world,' know nothing worth
                            attending to. Call it gossip, if you will, but when Nurse Rooke has half an hour's leisure to bestow on me, she is sure to have
                            something to relate that is entertaining and profitable: something that makes one know one's species better. One likes to hear what
                            is going on, to be au fait as to the newest modes of being trifling and silly. To me, who live so much alone, her conversation, I
                            assure you, is a treat."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01824" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne, far from wishing to cavil at the pleasure, replied,</span>
                        <span id="said_no_01825" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"I can easily believe it. Women of that class have great opportunities, and if they
                            are intelligent may be well worth listening to. Such varieties of human nature as they are in the habit of witnessing! And it is not
                            merely in its follies, that they are well read; for they see it occasionally under every circumstance that can be most interesting
                            or affecting. What instances must pass before them of ardent, disinterested, self-denying attachment, of heroism, fortitude,
                            patience, resignation: of all the conflicts and all the sacrifices that ennoble us most. A sick chamber may often furnish the worth
                            of volumes."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01826" class="said" data-toggle="tooltip" title="Mrs Smith" data-placement="auto top">"Yes,"</span>
                        <span id="said_no_01827" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Mrs Smith more doubtingly,</span>
                        <span id="said_no_01828" class="said" data-toggle="tooltip" title="Mrs Smith" data-placement="auto top">"sometimes it may, though I fear its lessons are not often in the elevated style
                            you describe. Here and there, human nature may be great in times of trial; but generally speaking, it is its weakness and not its
                            strength that appears in a sick chamber: it is selfishness and impatience rather than generosity and fortitude, that one hears of.
                            There is so little real friendship in the world! and unfortunately"</span>
                        <span id="said_no_01829" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">(speaking low and tremulously)</span>
                        <span id="said_no_01830" class="said" data-toggle="tooltip" title="Mrs Smith" data-placement="auto top">"there are so many who forget to think seriously till it is almost too
                            late."</span>
                    
                </p>

                <p>
                    <span id="said_no_01831" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne saw the misery of such feelings.</span>
                    <span id="said_no_01832" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">The husband had not
                        been what he ought, and the wife had been led among that part of mankind which made her think worse of the world than she hoped it
                        deserved.</span>
                    <span id="said_no_01833" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">It was but a passing emotion however with Mrs Smith; she shook it off, and soon added in
                        a different tone --</span>
                </p>

                <p>
                    
                        <span id="said_no_01834" class="said" data-toggle="tooltip" title="Mrs Smith" data-placement="auto top">"I do not suppose the situation my friend Mrs Rooke is in at present, will furnish
                            much either to interest or edify me. She is only nursing Mrs Wallis of Marlborough Buildings; a mere pretty, silly, expensive,
                            fashionable woman, I believe; and of course will have nothing to report but of lace and finery. I mean to make my profit of Mrs
                            Wallis, however. She has plenty of money, and I intend she shall buy all the high-priced things I have in hand now."</span>
                    
                </p>

                <p>
                    <span id="said_no_01835" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne had called several times on her friend, before the existence of such a person was
                        known in Camden Place. At last, it became necessary to speak of her. Sir Walter, Elizabeth and Mrs Clay, returned one morning from Laura
                        Place, with a sudden invitation from Lady Dalrymple for the same evening, and Anne was already engaged, to spend that evening in
                        Westgate Buildings. She was not sorry for the excuse.</span>
                    <span id="said_no_01836" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">They were only
                        asked,</span>
                    <span id="said_no_01837" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she was sure,</span>
                    <span id="said_no_01838" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">because Lady
                        Dalrymple being kept at home by a bad cold, was glad to make use of the relationship which had been so pressed on her;</span>
                    <span id="said_no_01839" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and she declined on her own account with great alacrity --</span>
                    <span id="said_no_01840" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"She was engaged to spend the evening with an old schoolfellow."</span>
                    <span id="said_no_01841" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">They were not much interested in anything relative to Anne; but still there were
                        questions enough asked, to make it understood what this old schoolfellow was; and Elizabeth was disdainful, and Sir Walter
                        severe.</span>
                </p>

                <p>
                    
                        <span id="said_no_01842" class="said" data-toggle="tooltip" title="Sir Walter Elliot" data-placement="auto top">"Westgate Buildings!"</span>
                        <span id="said_no_01843" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said he,</span>
                        <span id="said_no_01844" class="said" data-toggle="tooltip" title="Sir Walter Elliot" data-placement="auto top">"and who is Miss Anne Elliot to be visiting in Westgate Buildings? A Mrs Smith. A
                            widow Mrs Smith; and who was her husband? One of five thousand Mr Smiths whose names are to be met with everywhere. And what is her
                            attraction? That she is old and sickly. Upon my word, Miss Anne Elliot, you have the most extraordinary taste! Everything that
                            revolts other people, low company, paltry rooms, foul air, disgusting associations are inviting to you. But surely you may put off
                            this old lady till to-morrow: she is not so near her end, I presume, but that she may hope to see another day. What is her age?
                            Forty?"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01845" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"No, sir, she is not one-and-thirty; but I do not think I can put off my engagement,
                            because it is the only evening for some time which will at once suit her and myself. She goes into the warm bath to-morrow, and for
                            the rest of the week, you know, we are engaged."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01846" class="said" data-toggle="tooltip" title="Elizabeth Elliot" data-placement="auto top">"But what does Lady Russell think of this acquaintance?"</span>
                        <span id="said_no_01847" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">asked Elizabeth.</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01848" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"She sees nothing to blame in it,"</span>
                        <span id="said_no_01849" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">replied Anne;</span>
                        <span id="said_no_01850" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"on the contrary, she approves it, and has generally taken me when I have called on
                            Mrs Smith.</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01851" class="said" data-toggle="tooltip" title="Sir Walter Elliot" data-placement="auto top">"Westgate Buildings must have been rather surprised by the appearance of a
                            carriage drawn up near its pavement,"</span>
                        <span id="said_no_01852" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">observed Sir Walter.</span>
                        <span id="said_no_01853" class="said" data-toggle="tooltip" title="Sir Walter Elliot" data-placement="auto top">"Sir Henry Russell's widow, indeed, has no honours to distinguish her arms, but
                            still it is a handsome equipage, and no doubt is well known to convey a Miss Elliot. A widow Mrs Smith lodging in Westgate
                            Buildings! A poor widow barely able to live, between thirty and forty; a mere Mrs Smith, an every-day Mrs Smith, of all people and
                            all names in the world, to be the chosen friend of Miss Anne Elliot, and to be preferred by her to her own family connections among
                            the nobility of England and Ireland! Mrs Smith! Such a name!"</span>
                    
                </p>

                <p>
                    <span id="said_no_01854" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Mrs Clay, who had been present while all this passed, now thought it advisable to leave
                        the room, and</span>
                    <span id="said_no_01855" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne could have said much, and did long to say a little</span>
                    <span id="said_no_01856" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">in defence of her
                        friend's not very dissimilar claims to theirs,</span>
                    <span id="said_no_01857" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">but her sense of personal respect to her father prevented her. She made no reply.
                        She</span>
                    <span id="said_no_01858" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top"> left it to himself
                        to recollect, that Mrs Smith was not the only widow in Bath between thirty and forty, with little to live on, and no surname of
                        dignity.</span>
                </p>

                <p>
                    <span id="said_no_01859" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne kept her appointment; the others kept theirs, and of course</span>
                    <span id="said_no_01860" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she heard</span>
                    <span id="said_no_01861" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">the next morning</span>
                    <span id="said_no_01862" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">that</span>
                    <span id="said_no_01863" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_sirwalteliz" data-placement="auto top">they
                        had had a delightful evening.</span>
                    <span id="said_no_01864" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">She had been the
                        only one of the set absent, for Sir Walter and Elizabeth had not only been quite at her ladyship's service themselves, but had actually
                        been happy to be employed by her in collecting others, and had been at the trouble of inviting both Lady Russell and Mr Elliot; and Mr
                        Elliot had made a point of leaving Colonel Wallis early, and Lady Russell had fresh arranged all her evening engagements in order to
                        wait on her.</span>
                    <span id="said_no_01865" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne had the whole history of all that such an evening could supply from Lady Russell.
                        To her, its greatest interest must be, in having been very much talked of between her friend and Mr Elliot;</span>
                    <span id="said_no_01866" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_lruss_mrel" data-placement="auto top">in
                        having been wished for, regretted, and at the same time honoured for staying away in such a cause.</span>
                    <span id="said_no_01867" class="said fid said_tooltip certainty_6" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">Her kind,
                        compassionate visits to this old schoolfellow, sick and reduced, seemed to have quite delighted Mr Elliot.</span>
                    <span id="said_no_01868" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">He thought</span>
                    <span id="said_no_01869" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_lruss_mrel" data-placement="auto top">her a
                        most extraordinary young woman; in her temper, manners, mind, a model of female excellence.</span>
                    <span id="said_no_01870" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">He could meet even Lady Russell in a discussion of her merits; and Anne could not be
                        given to understand so much by her friend, could not know herself to be so highly rated by a sensible man, without many of those
                        agreeable sensations which her friend meant to create.</span>
                </p>

                <p>
                    <span id="said_no_01871" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell was now perfectly decided in her opinion of Mr Elliot.</span>
                    <span id="said_no_01872" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">She was as much
                        convinced of his meaning to gain Anne in time as of his deserving her,</span>
                    <span id="said_no_01873" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and</span>
                    <span id="said_no_01874" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">was beginning to calculate</span>
                    <span id="said_no_01875" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">the number of
                        weeks which would free him from all the remaining restraints of widowhood, and leave him at liberty to exert his most open powers of
                        pleasing.</span>
                    <span id="said_no_01876" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She would not speak to Anne with half the certainty she felt on the subject, she would
                        venture on little more than hints of what might be hereafter,</span>
                    <span id="said_no_01877" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">of a possible
                        attachment on his side, of the desirableness of the alliance, supposing such attachment to be real and returned.</span>
                    <span id="said_no_01878" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne heard her, and made no violent exclamations; she only smiled, blushed, and gently
                        shook her head.</span>
                </p>

                <p>
                    
                        <span id="said_no_01879" class="said" data-toggle="tooltip" title="Lady Russell" data-placement="auto top">"I am no match-maker, as you well know,"</span>
                        <span id="said_no_01880" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Lady Russell,</span>
                        <span id="said_no_01881" class="said" data-toggle="tooltip" title="Lady Russell" data-placement="auto top">"being much too well aware of the uncertainty of all human events and calculations.
                            I only mean that if Mr Elliot should some time hence pay his addresses to you, and if you should be disposed to accept him, I think
                            there would be every possibility of your being happy together. A most suitable connection everybody must consider it, but I think it
                            might be a very happy one."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01882" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"Mr Elliot is an exceedingly agreeable man, and in many respects I think highly of
                            him,"</span>
                        <span id="said_no_01883" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Anne;</span>
                        <span id="said_no_01884" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"but we should not suit."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01885" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell let this pass, and only said in rejoinder,</span>
                        <span id="said_no_01886" class="said" data-toggle="tooltip" title="Lady Russell" data-placement="auto top">"I own that to be able to regard you as the future mistress of Kellynch, the future
                            Lady Elliot, to look forward and see you occupying your dear mother's place, succeeding to all her rights, and all her popularity,
                            as well as to all her virtues, would be the highest possible gratification to me. You are your mother's self in countenance and
                            disposition; and if I might be allowed to fancy you such as she was, in situation and name, and home, presiding and blessing in the
                            same spot, and only superior to her in being more highly valued! My dearest Anne, it would give me more delight than is often felt
                            at my time of life!"</span>
                    
                </p>

                <p>
                    <span id="said_no_01887" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne was obliged to turn away, to rise, to walk to a distant table, and, leaning there
                        in pretended employment, try to subdue the feelings this picture excited. For a few moments her imagination and her heart were
                        bewitched.</span>
                    <span id="said_no_01888" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top"> The idea of</span>
                    <span id="said_no_01889" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">becoming what her
                        mother had been; of having the precious name of "Lady Elliot" first revived in herself; of being restored to Kellynch, calling it her
                        home again, her home for ever,</span>
                    <span id="said_no_01890" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">was a charm which she could not immediately resist.</span>
                    <span id="said_no_01891" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell</span>
                    <span id="said_no_01892" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said not another word, willing to leave the matter to its own operation; and</span>
                    <span id="said_no_01893" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">believing that,</span>
                    <span id="said_no_01894" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">could Mr Elliot at
                        that moment with propriety have spoken for himself!</span>
                    <span id="said_no_01895" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">-- she believed, in short, what Anne did not believe. The same image of Mr Elliot
                        speaking for himself brought Anne to composure again. The charm of Kellynch and of "Lady Elliot" all faded away.</span>
                    <span id="said_no_01896" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">She never could
                        accept him.</span>
                    <span id="said_no_01897" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">And it was not only that her feelings were still adverse to any man save one; her
                        judgement, on a serious consideration of the possibilities of such a case was against Mr Elliot.</span>
                </p>

                <p>
                    <span id="said_no_01898" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Though they had now been acquainted a month, she could not be satisfied that she really
                        knew his character.</span>
                    <span id="said_no_01899" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">That he was a
                        sensible man, an agreeable man, that he talked well, professed good opinions, seemed to judge properly and as a man of principle, this
                        was all clear enough. He certainly knew what was right, nor could she fix on any one article of moral duty evidently transgressed; but
                        yet she would have been afraid to answer for his conduct. She distrusted the past, if not the present. The names which occasionally
                        dropt of former associates, the allusions to former practices and pursuits, suggested suspicions not favourable of what he had
                        been.</span>
                    <span id="said_no_01900" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She saw that</span>
                    <span id="said_no_01901" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">there had been bad
                        habits;</span>
                    <span id="said_no_01902" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">that</span>
                    <span id="said_no_01903" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Sunday travelling
                        had been a common thing;</span>
                    <span id="said_no_01904" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">that</span>
                    <span id="said_no_01905" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">there had been a
                        period of his life (and probably not a short one) when he had been, at least, careless in all serious matters; and, though he might now
                        think very differently, who could answer for the true sentiments of a clever, cautious man, grown old enough to appreciate a fair
                        character? How could it ever be ascertained that his mind was truly cleansed?</span>
                </p>

                <p>
                    <span id="said_no_01906" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Mr Elliot was
                        rational, discreet, polished, but he was not open. There was never any burst of feeling, any warmth of indignation or delight, at the
                        evil or good of others.</span>
                    <span id="said_no_01907" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">This, to Anne, was a decided imperfection. Her early impressions were incurable. She
                        prized the frank, the open-hearted, the eager character beyond all others. Warmth and enthusiasm did captivate her still.</span>
                    <span id="said_no_01908" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She felt that</span>
                    <span id="said_no_01909" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top"> she could so much
                        more depend upon the sincerity of those who sometimes looked or said a careless or a hasty thing, than of those whose presence of mind
                        never varied, whose tongue never slipped.</span>
                </p>

                <p>
                    <span id="said_no_01910" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Mr Elliot was too
                        generally agreeable. Various as were the tempers in her father's house, he pleased them all. He endured too well, stood too well with
                        every body. He had spoken to her with some degree of openness of Mrs Clay; had appeared completely to see what Mrs Clay was about, and
                        to hold her in contempt; and yet Mrs Clay found him as agreeable as any body.</span>
                </p>

                <p>
                    <span id="said_no_01911" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell saw either less or more than her young friend, for she saw nothing to
                        excite distrust.</span>
                    <span id="said_no_01912" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She could not imagine</span>
                    <span id="said_no_01913" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">a man more
                        exactly what he ought to be than Mr Elliot;</span>
                    <span id="said_no_01914" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">nor did she ever enjoy</span>
                    <span id="said_no_01915" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">a sweeter feeling than</span>
                    <span id="said_no_01916" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">the hope of
                        seeing him receive the hand of her beloved Anne in Kellynch church, in the course of the following autumn.</span>
                </p>
            


    <div class="footnotes"> </div>
