
     

    
        

                <h3>Chapter 8</h3>

                <p>
                    <span id="said_no_00702" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">From this time Captain Wentworth and Anne Elliot were repeatedly in the same circle.
                        They were soon dining in company together at Mr Musgrove's, for the little boy's state could no longer supply his aunt with a pretence
                        for absenting herself; and this was but the beginning of other dinings and other meetings.</span>
                </p>

                <p>
                    <span id="said_no_00703" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Whether former feelings were to be renewed must be brought to the proof; former times
                        must undoubtedly be brought to the recollection of each; they could not but be reverted to; the year of their engagement could not but
                        be named by him, in the little narratives or descriptions which conversation called forth. His profession qualified him, his disposition
                        lead him, to talk; and "That was in the year six;" "That happened before I went to sea in the year six," occurred in the course of the
                        first evening they spent together: and though his voice did not falter, and though she had no reason to suppose his eye wandering
                        towards her while he spoke,</span>
                    <span id="said_no_00704" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne felt</span>
                    <span id="said_no_00705" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">the utter
                        impossibility, from her knowledge of his mind,</span>
                    <span id="said_no_00706" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">that</span>
                    <span id="said_no_00707" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">he could be
                        unvisited by remembrance any more than herself.</span>
                    <span id="said_no_00708" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">There must be the
                        same immediate association of thought, though she was very far from conceiving it to be of equal pain.</span>
                </p>

                <p>
                    <span id="said_no_00709" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">They had no conversation together, no intercourse but what the commonest civility
                        required.</span>
                    <span id="said_no_00710" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Once so much to each
                        other! Now nothing! There had been a time, when of all the large party now filling the drawing-room at Uppercross, they would have found
                        it most difficult to cease to speak to one another.</span>
                    <span id="said_no_00711" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">With the exception,
                        perhaps, of Admiral and Mrs Croft, who seemed particularly attached and happy,</span>
                    <span id="said_no_00712" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">(Anne could allow no other exceptions even among the married couples),</span>
                    <span id="said_no_00713" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">there could have
                        been no two hearts so open, no tastes so similar, no feelings so in unison, no countenances so beloved. Now they were as strangers; nay,
                        worse than strangers, for they could never become acquainted. It was a perpetual estrangement.</span>
                </p>

                <p>
                    <span id="said_no_00714" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">When he talked, she heard the same voice, and discerned the same mind. There was a very
                        general ignorance of all naval matters throughout the party; and he was very much questioned, and especially by the two Miss Musgroves,
                        who seemed hardly to have any eyes but for him, as to the manner of living on board, daily regulations, food, hours, &amp;c., and their
                        surprise at his accounts, at learning the degree of accommodation and arrangement which was practicable, drew from him some pleasant
                        ridicule, which reminded Anne of the early days when she too had been ignorant, and she too had been accused of</span>
                    <span id="said_no_00715" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne_went" data-placement="auto top">supposing
                        sailors to be living on board without anything to eat, or any cook to dress it if there were, or any servant to wait, or any knife and
                        fork to use.</span>
                </p>

                <p>
                    <span id="said_no_00716" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">From thus listening and thinking, she was roused by a whisper of Mrs Musgrove's who,
                        overcome by fond regrets, could not help saying --</span>
                </p>

                <p>
                    
                        <span id="said_no_00717" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"Ah! Miss Anne, if it had pleased Heaven to spare my poor son, I dare say he would
                            have been just such another by this time."</span>
                    
                </p>

                <p>
                    <span id="said_no_00718" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne suppressed a smile, and listened kindly, while Mrs Musgrove relieved her heart a
                        little more; and for a few minutes, therefore, could not keep pace with the conversation of the others.</span>
                </p>

                <p>
                    <span id="said_no_00719" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">When she could let her attention take its natural course again, she found the Miss
                        Musgroves just fetching the Navy List (their own navy list, the first that had ever been at Uppercross), and sitting down together to
                        pore over it,</span>
                    <span id="said_no_00720" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">with the professed view</span>
                    <span id="said_no_00721" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_louihenr" data-placement="auto top">of finding
                        out the ships that Captain Wentworth had commanded.</span>
                </p>

                <p>
                    
                        <span id="said_no_00722" class="said" data-toggle="tooltip" title="Louisa Musgrove" data-placement="auto top">"Your first was the Asp, I remember; we will look for the Asp."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00723" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"You will not find her there. Quite worn out and broken up. I was the last man who
                            commanded her. Hardly fit for service then. Reported fit for home service for a year or two, and so I was sent off to the West
                            Indies."</span>
                    
                </p>

                <p>
                    <span id="said_no_00724" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The girls looked all amazement.</span>
                </p>

                <p>
                    
                        <span id="said_no_00725" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"The Admiralty,"</span>
                        <span id="said_no_00726" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">he continued,</span>
                        <span id="said_no_00727" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"entertain themselves now and then, with sending a few hundred men to sea, in a ship
                            not fit to be employed. But they have a great many to provide for; and among the thousands that may just as well go to the bottom as
                            not, it is impossible for them to distinguish the very set who may be least missed."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00728" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"Phoo! phoo!"</span>
                        <span id="said_no_00729" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">cried the Admiral,</span>
                        <span id="said_no_00730" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"what stuff these young fellows talk! Never was a better sloop than the Asp in her
                            day. For an old built sloop, you would not see her equal. Lucky fellow to get her! He knows there must have been twenty better men
                            than himself applying for her at the same time. Lucky fellow to get anything so soon, with no more interest than his."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00731" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"I felt my luck, Admiral, I assure you;"</span>
                        <span id="said_no_00732" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">replied Captain Wentworth, seriously.</span>
                        <span id="said_no_00733" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"I was as well satisfied with my appointment as you can desire. It was a great
                            object with me at that time to be at sea; a very great object, I wanted to be doing something."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00734" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"To be sure you did. What should a young fellow like you do ashore for half a year
                            together? If a man had not a wife, he soon wants to be afloat again."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00735" class="said" data-toggle="tooltip" title="Louisa Musgrove" data-placement="auto top">"But, Captain Wentworth,"</span>
                        <span id="said_no_00736" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">cried Louisa,</span>
                        <span id="said_no_00737" class="said" data-toggle="tooltip" title="Louisa Musgrove" data-placement="auto top">"how vexed you must have been when you came to the Asp, to see what an old thing
                            they had given you."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00738" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"I knew pretty well what she was before that day;"</span>
                        <span id="said_no_00739" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said he, smiling.</span>
                        <span id="said_no_00740" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"I had no more discoveries to make than you would have as to the fashion and
                            strength of any old pelisse, which you had seen lent about among half your acquaintance ever since you could remember, and which at
                            last, on some very wet day, is lent to yourself. Ah! she was a dear old Asp to me. She did all that I wanted. I knew she would. I
                            knew that we should either go to the bottom together, or that she would be the making of me; and I never had two days of foul
                            weather all the time I was at sea in her; and after taking privateers enough to be very entertaining, I had the good luck in my
                            passage home the next autumn, to fall in with the very French frigate I wanted. I brought her into Plymouth; and here another
                            instance of luck. We had not been six hours in the Sound, when a gale came on, which lasted four days and nights, and which would
                            have done for poor old Asp in half the time; our touch with the Great Nation not having much improved our condition. Four-and-twenty
                            hours later, and I should only have been a gallant Captain Wentworth, in a small paragraph at one corner of the newspapers; and
                            being lost in only a sloop, nobody would have thought about me."</span>
                    
                    <span id="said_no_00741" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne's shudderings were to herself alone; but the Miss Musgroves could be as open as
                        they were sincere, in their exclamations of pity and horror.</span>
                </p>

                <p>
                    
                        <span id="said_no_00742" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"And so then, I suppose,"</span>
                        <span id="said_no_00743" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Mrs Musgrove, in a low voice, as if thinking aloud,</span>
                        <span id="said_no_00744" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"so then he went away to the Laconia, and there he met with our poor boy. Charles,
                            my dear,"</span>
                        <span id="said_no_00745" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">(beckoning him to her),</span>
                        <span id="said_no_00746" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"do ask Captain Wentworth where it was he first met with your poor brother. I
                            always forgot."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00747" class="said" data-toggle="tooltip" title="Charles Musgrove" data-placement="auto top">"It was at Gibraltar, mother, I know. Dick had been left ill at Gibraltar, with a
                            recommendation from his former captain to Captain Wentworth."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00748" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"Oh! but, Charles, tell Captain Wentworth, he need not be afraid of mentioning
                            poor Dick before me, for it would be rather a pleasure to hear him talked of by such a good friend."</span>
                    
                </p>

                <p>
                    <span id="said_no_00749" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Charles, being somewhat more mindful of the probabilities of the case, only nodded in
                        reply, and walked away.</span>
                </p>

                <p>
                    <span id="said_no_00750" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The girls were now hunting for the Laconia; and Captain Wentworth could not deny himself
                        the pleasure of taking the precious volume into his own hands to save them the trouble, and once more read aloud the little statement of
                        her name and rate, and present non-commissioned class,</span>
                    <span id="said_no_00751" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">observing over it that</span>
                    <span id="said_no_00752" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_went" data-placement="auto top">she too had been one
                        of the best friends man ever had.</span>
                </p>

                <p>
                    
                        <span id="said_no_00753" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Ah! those were pleasant days when I had the Laconia! How fast I made money in her.
                            A friend of mine and I had such a lovely cruise together off the Western Islands. Poor Harville, sister! You know how much he wanted
                            money: worse than myself. He had a wife. Excellent fellow. I shall never forget his happiness. He felt it all, so much for her sake.
                            I wished for him again the next summer, when I had still the same luck in the Mediterranean."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00754" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"And I am sure, Sir,"</span>
                        <span id="said_no_00755" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Mrs Musgrove,</span>
                        <span id="said_no_00756" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"it was a lucky day for us, when you were put captain into that ship. We shall
                            never forget what you did."</span>
                    
                </p>

                <p>
                    <span id="said_no_00757" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Her feelings made her speak low; and Captain Wentworth, hearing only in part, and
                        probably not having Dick Musgrove at all near his thoughts, looked rather in suspense, and as if waiting for more.</span>
                </p>

                <p>
                    
                        <span id="said_no_00758" class="said" data-toggle="tooltip" title="Henrietta Musgrove" data-placement="auto top">"My brother,"</span>
                        <span id="said_no_00759" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">whispered one of the girls;</span>
                        <span id="said_no_00760" class="said" data-toggle="tooltip" title="Henrietta Musgrove" data-placement="auto top">"mamma is thinking of poor Richard."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00761" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"Poor dear fellow!"</span>
                        <span id="said_no_00762" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">continued Mrs Musgrove;</span>
                        <span id="said_no_00763" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"he was grown so steady, and such an excellent correspondent, while he was under
                            your care! Ah! it would have been a happy thing, if he had never left you. I assure you, Captain Wentworth, we are very sorry he
                            ever left you."</span>
                    
                </p>

                <p>
                    <span id="said_no_00764" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">There was a momentary expression in Captain Wentworth's face at this speech, a certain
                        glance of his bright eye, and curl of his handsome mouth, </span>
                    <span id="said_no_00765" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">which convinced Anne, that</span>
                    <span id="said_no_00766" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">instead of sharing
                        in Mrs Musgrove's kind wishes, as to her son, he had probably been at some pains to get rid of him;</span>
                    <span id="said_no_00767" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">but it was too transient an indulgence of self-amusement to be detected by any who
                        understood him less than herself; in another moment he was perfectly collected and serious, and almost instantly afterwards coming up to
                        the sofa, on which she and Mrs Musgrove were sitting, took a place by the latter, and entered into conversation with her, in a low
                        voice, about her son, doing it with so much sympathy and natural grace, as shewed the kindest consideration for all that was real and
                        unabsurd in the parent's feelings.</span>
                </p>

                <p>
                    <span id="said_no_00768" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">They were actually
                        on the same sofa, for Mrs Musgrove had most readily made room for him; they were divided only by Mrs Musgrove.</span>
                    <span id="said_no_00769" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">It was no insignificant barrier, indeed. Mrs Musgrove was of a comfortable, substantial
                        size, infinitely more fitted by nature to express good cheer and good humour, than tenderness and sentiment; and while the agitations of
                        Anne's slender form, and pensive face, may be considered as very completely screened, Captain Wentworth should be allowed some credit
                        for the self-command with which he attended to her large fat sighings over the destiny of a son, whom alive nobody had cared for.</span>
                </p>

                <p>
                    <span id="said_no_00770" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Personal size and mental sorrow have certainly no necessary proportions. A large bulky
                        figure has as good a right to be in deep affliction, as the most graceful set of limbs in the world. But, fair or not fair, there are
                        unbecoming conjunctions, which reason will patronize in vain -- which taste cannot tolerate -- which ridicule will seize.</span>
                </p>

                <p>
                    <span id="said_no_00771" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The Admiral, after taking two or three refreshing turns about the room with his hands
                        behind him, being called to order by his wife, now came up to Captain Wentworth, and without any observation of what he might be
                        interrupting, thinking only of his own thoughts, began with --</span>
                </p>

                <p>
                    
                        <span id="said_no_00772" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"If you had been a week later at Lisbon, last spring, Frederick, you would have been
                            asked to give a passage to Lady Mary Grierson and her daughters."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00773" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Should I? I am glad I was not a week later then."</span>
                    
                </p>

                <p>
                    <span id="said_no_00774" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The Admiral abused him for his want of gallantry.</span>
                    <span id="said_no_00775" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">He</span>
                    <span id="said_no_00776" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">defended himself; though</span>
                    <span id="said_no_00777" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">professing that</span>
                    <span id="said_no_00778" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_went" data-placement="auto top">he would never
                        willingly admit any ladies on board a ship of his, excepting for a ball, or a visit, which a few hours might comprehend.</span>
                </p>

                <p>
                    
                        <span id="said_no_00779" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"But, if I know myself,"</span>
                        <span id="said_no_00780" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said he,</span>
                        <span id="said_no_00781" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"this is from no want of gallantry towards them. It is rather from feeling how
                            impossible it is, with all one's efforts, and all one's sacrifices, to make the accommodations on board such as women ought to have.
                            There can be no want of gallantry, Admiral, in rating the claims of women to every personal comfort high, and this is what I do. I
                            hate to hear of women on board, or to see them on board; and no ship under my command shall ever convey a family of ladies anywhere,
                            if I can help it."</span>
                    
                </p>

                <p>
                    <span id="said_no_00782" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">This brought his sister upon him.</span>
                </p>

                <p>
                    
                        <span id="said_no_00783" class="said" data-toggle="tooltip" title="Mrs. Sophia Croft" data-placement="auto top">"Oh! Frederick! But I cannot believe it of you. -- All idle refinement! -- Women may
                            be as comfortable on board, as in the best house in England. I believe I have lived as much on board as most women, and I know
                            nothing superior to the accommodations of a man-of-war. I declare I have not a comfort or an indulgence about me, even at Kellynch
                            Hall,"</span>
                        <span id="said_no_00784" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">(with a kind bow to Anne),</span>
                        <span id="said_no_00785" class="said" data-toggle="tooltip" title="Mrs. Sophia Croft" data-placement="auto top">"beyond what I always had in most of the ships I have lived in; and they have been
                            five altogether."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00786" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Nothing to the purpose,"</span>
                        <span id="said_no_00787" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">replied her brother.</span>
                        <span id="said_no_00788" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"You were living with your husband, and were the only woman on board."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00789" class="said" data-toggle="tooltip" title="Mrs. Sophia Croft" data-placement="auto top">"But you, yourself, brought Mrs Harville, her sister, her cousin, and three
                            children, round from Portsmouth to Plymouth. Where was this superfine, extraordinary sort of gallantry of yours then?"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00790" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"All merged in my friendship, Sophia. I would assist any brother officer's wife that
                            I could, and I would bring anything of Harville's from the world's end, if he wanted it. But do not imagine that I did not feel it
                            an evil in itself."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00791" class="said" data-toggle="tooltip" title="Mrs. Sophia Croft" data-placement="auto top">"Depend upon it, they were all perfectly comfortable."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00792" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"I might not like them the better for that perhaps. Such a number of women and
                            children have no right to be comfortable on board."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00793" class="said" data-toggle="tooltip" title="Mrs. Sophia Croft" data-placement="auto top">"My dear Frederick, you are talking quite idly. Pray, what would become of us poor
                            sailors' wives, who often want to be conveyed to one port or another, after our husbands, if everybody had your feelings?"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00794" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"My feelings, you see, did not prevent my taking Mrs Harville and all her family to
                            Plymouth."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00795" class="said" data-toggle="tooltip" title="Mrs. Sophia Croft" data-placement="auto top">"But I hate to hear you talking so like a fine gentleman, and as if women were all
                            fine ladies, instead of rational creatures. We none of us expect to be in smooth water all our days."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00796" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"Ah! my dear,"</span>
                        <span id="said_no_00797" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said the Admiral,</span>
                        <span id="said_no_00798" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"when he had got a wife, he will sing a different tune. When he is married, if we
                            have the good luck to live to another war, we shall see him do as you and I, and a great many others, have done. We shall have him
                            very thankful to anybody that will bring him his wife."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00799" class="said" data-toggle="tooltip" title="Mrs. Sophia Croft" data-placement="auto top">"Ay, that we shall."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00800" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"Now I have done,"</span>
                        <span id="said_no_00801" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">cried Captain Wentworth.</span>
                        <span id="said_no_00802" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"When once married people begin to attack me with --</span>
                        <span id="said_no_00803" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.002.went_marrppl" data-placement="auto top">'Oh! you
                            will think very differently, when you are married.'</span>
                        <span id="said_no_00804" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">I can only say, 'No, I shall not;' and then they say again,</span>
                        <span id="said_no_00805" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.002.went_marrppl" data-placement="auto top">'Yes, you
                            will,'</span>
                        <span id="said_no_00806" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">and there is an end of it."</span>
                    
                </p>

                <p>
                    <span id="said_no_00807" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">He got up and moved away.</span>
                </p>

                <p>
                    
                        <span id="said_no_00808" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"What a great traveller you must have been, ma'am!"</span>
                        <span id="said_no_00809" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Mrs Musgrove to Mrs Croft.</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00810" class="said" data-toggle="tooltip" title="Mrs. Sophia Croft" data-placement="auto top">"Pretty well, ma'am in the fifteen years of my marriage; though many women have done
                            more. I have crossed the Atlantic four times, and have been once to the East Indies, and back again, and only once; besides being in
                            different places about home: Cork, and Lisbon, and Gibraltar. But I never went beyond the Streights, and never was in the West
                            Indies. We do not call Bermuda or Bahama, you know, the West Indies."</span>
                    
                </p>

                <p>
                    <span id="said_no_00811" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Mrs Musgrove had not a word to say in dissent; she could not accuse herself of having
                        ever called them anything in the whole course of her life.</span>
                </p>

                <p>
                    
                        <span id="said_no_00812" class="said" data-toggle="tooltip" title="Mrs. Sophia Croft" data-placement="auto top">"And I do assure you, ma'am,"</span>
                        <span id="said_no_00813" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">pursued Mrs Croft,</span>
                        <span id="said_no_00814" class="said" data-toggle="tooltip" title="Mrs. Sophia Croft" data-placement="auto top">"that nothing can exceed the accommodations of a man-of-war; I speak, you know, of
                            the higher rates. When you come to a frigate, of course, you are more confined; though any reasonable woman may be perfectly happy
                            in one of them; and I can safely say, that the happiest part of my life has been spent on board a ship. While we were together, you
                            know, there was nothing to be feared. Thank God! I have always been blessed with excellent health, and no climate disagrees with me.
                            A little disordered always the first twenty-four hours of going to sea, but never knew what sickness was afterwards. The only time I
                            ever really suffered in body or mind, the only time that I ever fancied myself unwell, or had any ideas of danger, was the winter
                            that I passed by myself at Deal, when the Admiral (Captain Croft then) was in the North Seas. I lived in perpetual fright at that
                            time, and had all manner of imaginary complaints from not knowing what to do with myself, or when I should hear from him next; but
                            as long as we could be together, nothing ever ailed me, and I never met with the smallest inconvenience."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00815" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"Aye, to be sure. Yes, indeed, oh yes! I am quite of your opinion, Mrs
                            Croft,"</span>
                        <span id="said_no_00816" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">was Mrs Musgrove's hearty answer.</span>
                        <span id="said_no_00817" class="said" data-toggle="tooltip" title="Mrs. Musgrove" data-placement="auto top">"There is nothing so bad as a separation. I am quite of your opinion. I know what
                            it is, for Mr Musgrove always attends the assizes, and I am so glad when they are over, and he is safe back again."</span>
                    
                </p>

                <p>
                    <span id="said_no_00818" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The evening ended with dancing. On its being proposed, Anne offered her services, as
                        usual; and though her eyes would sometimes fill with tears as she sat at the instrument, she was extremely glad to be employed, and
                        desired nothing in return but to be unobserved.</span>
                </p>

                <p>
                    <span id="said_no_00819" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">It was a merry, joyous party, and no one seemed in higher spirits than Captain
                        Wentworth.</span>
                    <span id="said_no_00820" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She felt that</span>
                    <span id="said_no_00821" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">he had every thing
                        to elevate him which general attention and deference, and especially the attention of all the young women, could do. The Miss Hayters,
                        the females of the family of cousins already mentioned, were apparently admitted to the honour of being in love with him; and as for
                        Henrietta and Louisa, they both seemed so entirely occupied by him, that nothing but the continued appearance of the most perfect
                        good-will between themselves could have made it credible that they were not decided rivals.</span>
                    <span id="said_no_00822" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">If he were a little
                        spoilt by such universal, such eager admiration, who could wonder?</span>
                </p>

                <p>
                    <span id="said_no_00823" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">These were some of the thoughts which occupied Anne, while her fingers were mechanically
                        at work, proceeding for half an hour together, equally without error, and without consciousness. Once she felt that he was looking at
                        herself, observing her altered features,</span>
                    <span id="said_no_00824" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">perhaps, trying to
                        trace in them the ruins of the face which had once charmed him;</span>
                    <span id="said_no_00825" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and once she knew that he must have spoken of her; she was hardly aware of it, till she
                        heard the answer; but then she was sure of his having asked his partner whether Miss Elliot never danced? The answer was,</span>
                    <span id="said_no_00826" class="said" data-toggle="tooltip" title="aus.002.louihenr" data-placement="auto top">"Oh, no; never; she has quite given up dancing. She had rather play. She is never
                        tired of playing."</span>
                    <span id="said_no_00827" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Once, too, he spoke to her. She had left the instrument on the dancing being over, and
                        he had sat down to try to make out an air which he wished to give the Miss Musgroves an idea of. Unintentionally she returned to that
                        part of the room; he saw her, and, instantly rising, said, with studied politeness --</span>
                </p>

                <p>
                    
                        <span id="said_no_00828" class="said" data-toggle="tooltip" title="Captain Frederick Wentworth" data-placement="auto top">"I beg your pardon, madam, this is your seat;" </span>
                        <span id="said_no_00829" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and though she immediately drew back with a decided negative, he was not to be
                            induced to sit down again.</span>
                    
                </p>

                <p>
                    <span id="said_no_00830" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne did not wish for more of such looks and speeches.</span>
                    <span id="said_no_00831" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">His cold
                        politeness, his ceremonious grace, were worse than anything.</span>
                </p>
            


    <div class="footnotes"> </div>
