
     

    
        

                <h3>Chapter 2</h3>

                <p>
                    <span id="said_no_00102" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Mr Shepherd,</span>
                    <span id="said_no_00103" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">a civil, cautious lawyer, who, whatever might be his hold or his views on Sir Walter,
                        would rather have the disagreeable prompted by anybody else, excused himself from offering the slightest hint, and only</span>
                    <span id="said_no_00104" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_shep" data-placement="auto top">begged leave to
                        recommend an implicit reference to the excellent judgement of Lady Russell,</span>
                    <span id="said_no_00105" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">from whose known good sense he fully expected to have just such resolute measures
                        advised as he meant to see finally adopted.</span>
                </p>

                <p>
                    <span id="said_no_00106" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell was most anxiously zealous on the subject, and gave it much serious
                        consideration. She was a woman rather of sound than of quick abilities, whose difficulties in coming to any decision in this instance
                        were great, from the opposition of two leading principles. She was of strict integrity herself, with a delicate sense of honour; but she
                        was as desirous of saving Sir Walter's feelings, as solicitous for the credit of the family, as aristocratic in her ideas of what was
                        due to them, as anybody of sense and honesty could well be. She was a benevolent, charitable, good woman, and capable of strong
                        attachments, most correct in her conduct, strict in her notions of decorum, and with manners that were held a standard of good-breeding.
                        She had a cultivated mind, and was, generally speaking, rational and consistent; but she had prejudices on the side of ancestry; she had
                        a value for rank and consequence, which blinded her a little to the faults of those who possessed them. Herself the widow of only a
                        knight, she gave the dignity of a baronet all its due; and</span>
                    <span id="said_no_00107" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Sir Walter,</span>
                    <span id="said_no_00108" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">independent of his
                        claims as an old acquaintance, an attentive neighbour, an obliging landlord, the husband of her very dear friend, the father of Anne and
                        her sisters, was, as being Sir Walter,</span>
                    <span id="said_no_00109" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">in her apprehension,</span>
                    <span id="said_no_00110" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">entitled to a
                        great deal of compassion and consideration under his present difficulties.</span>
                </p>

                <p>
                    <span id="said_no_00111" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">They must retrench;
                        that did not admit of a doubt.</span>
                    <span id="said_no_00112" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">But</span>
                    <span id="said_no_00113" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she was very anxious</span>
                    <span id="said_no_00114" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">to have it done
                        with the least possible pain to him and Elizabeth.</span>
                    <span id="said_no_00115" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She drew up plans of economy, she made exact calculations, and she did what nobody else
                        thought of doing: she consulted Anne, who never seemed considered by the others as having any interest in the question. She consulted,
                        and in a degree was influenced by her in marking out the scheme of retrenchment which was at last submitted to Sir Walter. Every
                        emendation of Anne's had been on the side of honesty against importance. She wanted more vigorous measures, a more complete reformation,
                        a quicker release from debt, a much higher tone of indifference for everything but justice and equity.</span>
                </p>

                <p>
                    
                        <span id="said_no_00116" class="said" data-toggle="tooltip" title="Lady Russell" data-placement="auto top">"If we can persuade your father to all this,"</span>
                        <span id="said_no_00117" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said Lady Russell, looking over her paper,</span>
                        <span id="said_no_00118" class="said" data-toggle="tooltip" title="Lady Russell" data-placement="auto top">"much may be done. If he will adopt these regulations, in seven years he will be
                            clear; and I hope we may be able to convince him and Elizabeth, that Kellynch Hall has a respectability in itself which cannot be
                            affected by these reductions; and that the true dignity of Sir Walter Elliot will be very far from lessened in the eyes of sensible
                            people, by acting like a man of principle. What will he be doing, in fact, but what very many of our first families have done, or
                            ought to do? There will be nothing singular in his case; and it is singularity which often makes the worst part of our suffering, as
                            it always does of our conduct. I have great hope of prevailing. We must be serious and decided; for after all, the person who has
                            contracted debts must pay them; and though a great deal is due to the feelings of the gentleman, and the head of a house, like your
                            father, there is still more due to the character of an honest man."</span>
                    
                </p>

                <p>
                    <span id="said_no_00119" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">This was the principle on which Anne wanted her father to be proceeding, his friends to
                        be urging him.</span>
                    <span id="said_no_00120" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She considered it</span>
                    <span id="said_no_00121" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">as an act of
                        indispensable duty to clear away the claims of creditors with all the expedition which the most comprehensive retrenchments could
                        secure,</span>
                    <span id="said_no_00122" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and</span>
                    <span id="said_no_00123" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">saw no dignity in
                        anything short of it.</span>
                    <span id="said_no_00124" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She wanted</span>
                    <span id="said_no_00125" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">it to be
                        prescribed, and felt as a duty.</span>
                    <span id="said_no_00126" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She rated Lady Russell's influence highly; and as to the severe degree of self-denial
                        which her own conscience prompted,</span>
                    <span id="said_no_00127" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she believed</span>
                    <span id="said_no_00128" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">there might be
                        little more difficulty in persuading them to a complete, than to half a reformation.</span>
                    <span id="said_no_00129" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Her knowledge</span>
                    <span id="said_no_00130" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">of her father and Elizabeth</span>
                    <span id="said_no_00131" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">inclined her to think that</span>
                    <span id="said_no_00132" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">the sacrifice of
                        one pair of horses would be hardly less painful than of both,</span>
                    <span id="said_no_00133" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and so on, through the whole list of Lady Russell's too gentle reductions.</span>
                </p>

                <p>
                    <span id="said_no_00134" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">How Anne's more rigid requisitions might have been taken is of little consequence. Lady
                        Russell's had no success at all:</span>
                    <span id="said_no_00135" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_sirwalt" data-placement="auto top">could not be
                        put up with, were not to be borne.</span>
                    
                        <span id="said_no_00136" class="said" data-toggle="tooltip" title="Sir Walter Elliot" data-placement="auto top">"What! every comfort of life knocked off! Journeys, London, servants, horses,
                            table--contractions and restrictions every where! To live no longer with the decencies even of a private gentleman! No, he would
                            sooner quit Kellynch Hall at once, than remain in it on such disgraceful terms."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_00137" class="said" data-toggle="tooltip" title="Mr. Shepherd" data-placement="auto top">"Quit Kellynch Hall."</span>
                        <span id="said_no_00138" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The hint was immediately taken up by</span>
                        <span id="said_no_00139" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Mr Shepherd,</span>
                        <span id="said_no_00140" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">whose interest was involved in the reality of Sir Walter's retrenching, and</span>
                        <span id="said_no_00141" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">who was perfectly persuaded that</span>
                        <span id="said_no_00142" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_shep" data-placement="auto top">nothing would be
                            done without a change of abode.</span>
                        <span id="said_no_00143" class="said" data-toggle="tooltip" title="Mr. Shepherd" data-placement="auto top">"Since the idea had been started in the very quarter which ought to dictate, he had
                            no scruple,"</span>
                        <span id="said_no_00144" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">he said,</span>
                        <span id="said_no_00145" class="said" data-toggle="tooltip" title="Mr. Shepherd" data-placement="auto top">"in confessing his judgement to be entirely on that side. It did not appear to him
                            that Sir Walter could materially alter his style of living in a house which had such a character of hospitality and ancient dignity
                            to support. In any other place Sir Walter might judge for himself; and would be looked up to, as regulating the modes of life in
                            whatever way he might choose to model his household."</span>
                    
                </p>

                <p>
                    <span id="said_no_00146" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Sir Walter would quit Kellynch Hall; and after a very few days more of doubt and
                        indecision, the great question of whither he should go was settled, and the first outline of this important change made out.</span>
                </p>

                <p>
                    <span id="said_no_00147" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">There had been three alternatives, London, Bath, or another house in the country. All
                        Anne's wishes had been for the latter.</span>
                    <span id="said_no_00148" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">A small house in
                        their own neighbourhood, where they might still have Lady Russell's society, still be near Mary, and still have the pleasure of
                        sometimes seeing the lawns and groves of Kellynch,</span>
                    <span id="said_no_00149" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">was the object of her ambition.</span>
                    <span id="said_no_00150" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">But the usual fate of Anne attended her, in having something very opposite from her
                        inclination fixed on.</span>
                    <span id="said_no_00151" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She</span>
                    <span id="said_no_00152" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">disliked Bath, and</span>
                    <span id="said_no_00153" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">did not think</span>
                    <span id="said_no_00154" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">it agreed with
                        her;</span>
                    <span id="said_no_00155" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and Bath was to be her home.</span>
                </p>

                <p>
                    <span id="said_no_00156" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Sir Walter had at first thought more of London; but</span>
                    <span id="said_no_00157" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Mr Shepherd felt that</span>
                    <span id="said_no_00158" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_shep" data-placement="auto top">he could not be
                        trusted in London,</span>
                    <span id="said_no_00159" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and had been skilful enough to dissuade him from it, and make Bath preferred.</span>
                    <span id="said_no_00160" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_shep" data-placement="auto top">It was a much safer
                        place for a gentleman in his predicament: he might there be important at comparatively little expense.</span>
                    <span id="said_no_00161" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Two material advantages of Bath over London had of course been given all their weight:
                        its more convenient distance from Kellynch, only fifty miles, and Lady Russell's spending some part of every winter there; and to the
                        very great satisfaction of Lady Russell, whose first views on the projected change had been for Bath, Sir Walter and Elizabeth were
                        induced to believe that they should lose neither consequence nor enjoyment by settling there.</span>
                </p>

                <p>
                    <span id="said_no_00162" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell felt obliged</span>
                    <span id="said_no_00163" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">to oppose her
                        dear Anne's known wishes. It would be too much to expect Sir Walter to descend into a small house in his own neighbourhood. Anne herself
                        would have found the mortifications of it more than she foresaw, and to Sir Walter's feelings they must have been dreadful. And with
                        regard to Anne's dislike of Bath,</span>
                    <span id="said_no_00164" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she considered</span>
                    <span id="said_no_00165" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">it as a prejudice
                        and mistake arising, first, from the circumstance of her having been three years at school there, after her mother's death; and
                        secondly, from her happening to be not in perfectly good spirits the only winter which she had afterwards spent there with
                        herself.</span>
                </p>

                <p>
                    <span id="said_no_00166" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell</span>
                    <span id="said_no_00167" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">was fond of Bath, in short, and</span>
                    <span id="said_no_00168" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">disposed to think</span>
                    <span id="said_no_00169" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">it must suit them all; and</span>
                    <span id="said_no_00170" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">as to her young
                        friend's health, by passing all the warm months with her at Kellynch Lodge, every danger would be avoided; and it was in fact, a change
                        which must do both health and spirits good. Anne had been too little from home, too little seen. Her spirits were not high. A larger
                        society would improve them. She wanted her to be more known.</span>
                </p>

                <p>
                    <span id="said_no_00171" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The undesirableness of any other house in the same neighbourhood for Sir Walter was
                        certainly much strengthened by one part, and a very material part of the scheme, which had been happily engrafted on the beginning. He
                        was not only to quit his home, but to see it in the hands of others; a trial of fortitude, which stronger heads than Sir Walter's have
                        found too much. Kellynch Hall was to be let. This, however, was a profound secret, not to be breathed beyond their own circle.</span>
                </p>

                <p>
                    <span id="said_no_00172" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Sir Walter could not have borne the degradation of being known to design letting his
                        house. Mr Shepherd had once mentioned the word</span>
                    <span id="said_no_00173" class="said" data-toggle="tooltip" title="Mr. Shepherd" data-placement="auto top">"advertise,"</span>
                    <span id="said_no_00174" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">but never dared approach it again.</span>
                    <span id="said_no_00175" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Sir Walter</span>
                    <span id="said_no_00176" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_sirwalt" data-placement="auto top">spurned the
                        idea of its being offered in any manner; forbad the slightest hint being dropped of his having such an intention; and it was only on the
                        supposition of his being spontaneously solicited by some most unexceptionable applicant, on his own terms, and as a great favour, that
                        he would let it at all.</span>
                </p>

                <p>
                    <span id="said_no_00177" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">How quick come the reasons for approving what we like! Lady Russell had another
                        excellent one at hand, for being extremely glad that Sir Walter and his family were to remove from the country. Elizabeth had been
                        lately forming an intimacy, which she wished to see interrupted. It was with the daughter of Mr Shepherd, who had returned, after an
                        unprosperous marriage, to her father's house, with the additional burden of two children. She was a clever young woman, who understood
                        the art of pleasing--the art of pleasing, at least, at Kellynch Hall; and who had made herself so acceptable to Miss Elliot, as to have
                        been already staying there more than once, in spite of all that</span>
                    <span id="said_no_00178" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell,</span>
                    <span id="said_no_00179" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">who</span>
                    <span id="said_no_00180" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">thought it</span>
                    <span id="said_no_00181" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">a friendship quite
                        out of place,</span>
                    <span id="said_no_00182" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">could hint of caution and reserve.</span>
                </p>

                <p>
                    <span id="said_no_00183" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell, indeed, had scarcely any influence with Elizabeth, and seemed to love her,
                        rather because she would love her, than because Elizabeth deserved it. She had never received from her more than outward attention,
                        nothing beyond the observances of complaisance; had never succeeded in any point which she wanted to carry, against previous
                        inclination. She had been repeatedly very earnest in trying to get Anne included in the visit to London, sensibly open to all the
                        injustice and all the discredit of the selfish arrangements which shut her out, and on many lesser occasions had endeavoured to give
                        Elizabeth the advantage of her own better judgement and experience; but always in vain: Elizabeth would go her own way; and never had
                        she pursued it in more decided opposition to Lady Russell than in this selection of Mrs Clay;</span>
                    <span id="said_no_00184" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">turning from the
                        society of so deserving a sister, to bestow her affection and confidence on one who ought to have been nothing to her but the object of
                        distant civility.</span>
                </p>

                <p>
                    <span id="said_no_00185" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">From situation,
                        Mrs Clay was,</span>
                    <span id="said_no_00186" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">in Lady Russell's estimate,</span>
                    <span id="said_no_00187" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">a very unequal,
                        and in her character</span>
                    <span id="said_no_00188" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she believed</span>
                    <span id="said_no_00189" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">a very dangerous
                        companion; and a removal that would leave Mrs Clay behind, and bring a choice of more suitable intimates within Miss Elliot's reach, was
                        therefore an object of first-rate importance.</span>
                </p>
            


    <div class="footnotes"> </div>
