
     

    
        

                <h3>Chapter 19</h3>

                <p>
                    <span id="said_no_02049" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">While Admiral Croft was taking this walk with Anne, and expressing his wish of getting
                        Captain Wentworth to Bath, Captain Wentworth was already on his way thither. Before Mrs Croft had written, he was arrived, and the very
                        next time Anne walked out, she saw him.</span>
                </p>

                <p>
                    <span id="said_no_02050" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Mr Elliot was attending his two cousins and Mrs Clay. They were in Milsom Street. It
                        began to rain, not much, but enough to make shelter desirable for women, and quite enough to make it very desirable for Miss Elliot to
                        have the advantage of being conveyed home in Lady Dalrymple's carriage, which was seen waiting at a little distance; she, Anne, and Mrs
                        Clay, therefore, turned into Molland's, while Mr Elliot stepped to Lady Dalrymple, to request her assistance. He soon joined them again,
                        successful, of course;</span>
                    <span id="said_no_02051" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_mrel" data-placement="auto top">Lady Dalrymple would
                        be most happy to take them home, and would call for them in a few minutes.</span>
                </p>

                <p>
                    <span id="said_no_02052" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Her ladyship's carriage was a barouche, and did not hold more than four with any
                        comfort. Miss Carteret was with her mother; consequently it was not reasonable to expect accommodation for all the three Camden Place
                        ladies. There could be no doubt as to Miss Elliot. Whoever suffered inconvenience, she must suffer none, but it occupied a little time
                        to settle the point of civility between the other two.</span>
                    <span id="said_no_02053" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">The rain was a mere
                        trifle, and</span>
                    <span id="said_no_02054" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne was most sincere</span>
                    <span id="said_no_02055" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">in preferring a walk
                        with Mr Elliot.</span>
                    <span id="said_no_02056" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_clay" data-placement="auto top">But the rain was also
                        a mere trifle</span>
                    <span id="said_no_02057" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">to Mrs Clay; she would hardly allow it even to drop at all, and</span>
                    <span id="said_no_02058" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_clay" data-placement="auto top">her boots were so
                        thick! much thicker than Miss Anne's;</span>
                    <span id="said_no_02059" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and, in short, her civility rendered her quite as anxious to be left to walk with Mr
                        Elliot as Anne could be, and it was discussed between them with a generosity so polite and so determined, that the others were obliged
                        to settle it for them;</span>
                    <span id="said_no_02060" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Miss Elliot maintaining that</span>
                    <span id="said_no_02061" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_eliz" data-placement="auto top">Mrs Clay had a
                        little cold already,</span>
                    <span id="said_no_02062" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and</span>
                    <span id="said_no_02063" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Mr Elliot deciding on appeal, that</span>
                    <span id="said_no_02064" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_mrel" data-placement="auto top">his cousin Anne's
                        boots were rather the thickest.</span>
                </p>

                <p>
                    <span id="said_no_02065" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">It was fixed accordingly, that Mrs Clay should be of the party in the carriage; and they
                        had just reached this point, when Anne, as she sat near the window, descried, most decidedly and distinctly, Captain Wentworth walking
                        down the street.</span>
                </p>

                <p>
                    <span id="said_no_02066" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Her start was perceptible only to herself; but</span>
                    <span id="said_no_02067" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she instantly felt that</span>
                    <span id="said_no_02068" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">she was the
                        greatest simpleton in the world, the most unaccountable and absurd!</span>
                    <span id="said_no_02069" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">For a few minutes she saw nothing before her; it was all confusion. She was lost, and
                        when she had scolded back her senses, she found the others still waiting for the carriage, and Mr Elliot (always obliging) just setting
                        off for Union Street on a commission of Mrs Clay's.</span>
                </p>

                <p>
                    <span id="said_no_02070" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She now felt a great inclination to go to the outer door;</span>
                    <span id="said_no_02071" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she wanted</span>
                    <span id="said_no_02072" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">to see if it
                        rained. Why was she to suspect herself of another motive? Captain Wentworth must be out of sight.</span>
                    <span id="said_no_02073" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She left her seat,</span>
                    <span id="said_no_02074" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">she would go; one
                        half of her should not be always so much wiser than the other half, or always suspecting the other of being worse than it was. She would
                        see if it rained.</span>
                    <span id="said_no_02075" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She was sent back, however, in a moment by the entrance of Captain Wentworth himself,
                        among a party of gentlemen and ladies, evidently his acquaintance, and whom he must have joined a little below Milsom Street. He was
                        more obviously struck and confused by the sight of her than she had ever observed before; he looked quite red. For the first time, since
                        their renewed acquaintance, she felt that she was betraying the least sensibility of the two. She had the advantage of him in the
                        preparation of the last few moments. All the overpowering, blinding, bewildering, first effects of strong surprise were over with her.
                        Still, however, she had enough to feel! It was agitation, pain, pleasure, a something between delight and misery.</span>
                </p>

                <p>
                    <span id="said_no_02076" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">He spoke to her, and then turned away. The character of his manner was embarrassment.
                        She could not have called it either cold or friendly, or anything so certainly as embarrassed.</span>
                </p>

                <p>
                    <span id="said_no_02077" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">After a short interval, however, he came towards her, and spoke again. Mutual enquiries
                        on common subjects passed: neither of them, probably, much the wiser for what they heard, and Anne continuing fully sensible of his
                        being less at ease than formerly. They had by dint of being so very much together, got to speak to each other with a considerable
                        portion of apparent indifference and calmness; but he could not do it now. Time had changed him, or Louisa had changed him. There was
                        consciousness of some sort or other. He looked very well, not as if he had been suffering in health or spirits, and he talked of
                        Uppercross, of the Musgroves, nay, even of Louisa, and had even a momentary look of his own arch significance as he named her; but yet
                        it was Captain Wentworth not comfortable, not easy, not able to feign that he was.</span>
                </p>

                <p>
                    <span id="said_no_02078" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">It did not surprise, but it grieved</span>
                    <span id="said_no_02079" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne to observe that</span>
                    <span id="said_no_02080" class="said fid said_tooltip certainty_2" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Elizabeth would not
                        know him.</span>
                    
                    <span id="said_no_02081" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She saw that he saw Elizabeth, that Elizabeth saw him, that there was complete internal
                        recognition on each side; she was convinced that he was ready to be acknowledged as an acquaintance, expecting it, and she had the pain
                        of seeing her sister turn away with unalterable coldness.</span>
                </p>

                <p>
                    <span id="said_no_02082" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Dalrymple's carriage, for which Miss Elliot was growing very impatient, now drew
                        up; the servant came in to announce it. It was beginning to rain again, and altogether there was a delay, and a bustle, and a talking,
                        which must make all the little crowd in the shop understand that Lady Dalrymple was calling to convey Miss Elliot. At last Miss Elliot
                        and her friend, unattended but by the servant, (for there was no cousin returned), were walking off; and Captain Wentworth, watching
                        them, turned again to Anne, and by manner, rather than words, was offering his services to her.</span>
                </p>

                <p>
                    
                        <span id="said_no_02083" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"I am much obliged to you,"</span>
                        <span id="said_no_02084" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">was her answer,</span>
                        <span id="said_no_02085" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"but I am not going with them. The carriage would not accommodate so many. I walk: I
                            prefer walking."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02086" class="said" data-toggle="tooltip" title="Captain Wentworth" data-placement="auto top">"But it rains."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02087" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"Oh! very little, Nothing that I regard."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02088" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">After a moment's pause he said:</span>
                        <span id="said_no_02089" class="said" data-toggle="tooltip" title="Captain Wentworth" data-placement="auto top">"Though I came only yesterday, I have equipped myself properly for Bath already, you
                            see,"</span>
                        <span id="said_no_02090" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">(pointing to a new umbrella);</span>
                        <span id="said_no_02091" class="said" data-toggle="tooltip" title="Captain Wentworth" data-placement="auto top">"I wish you would make use of it, if you are determined to walk; though I think it
                            would be more prudent to let me get you a chair."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02092" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She was</span>
                        <span id="said_no_02093" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">very much
                            obliged to him,</span>
                        <span id="said_no_02094" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">but declined it all,</span>
                        <span id="said_no_02095" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">repeating her conviction, that</span>
                        <span id="said_no_02096" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">the rain would
                            come to nothing at present,</span>
                        <span id="said_no_02097" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and adding,</span>
                        <span id="said_no_02098" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"I am only waiting for Mr Elliot. He will be here in a moment, I am sure."</span>
                    
                </p>

                <p>
                    <span id="said_no_02099" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She had hardly spoken the words when Mr Elliot walked in. Captain Wentworth recollected
                        him perfectly. There was no difference between him and the man who had stood on the steps at Lyme, admiring Anne as she passed, except
                        in the air and look and manner of the privileged relation and friend. He came in with eagerness, appeared to see and think only of her,
                        apologised for his stay,</span>
                    <span id="said_no_02100" class="said fid said_tooltip certainty_6" data-toggle="tooltip" title="aus.002.nar_mrel" data-placement="auto top">was grieved to have
                        kept her waiting, and anxious to get her away without further loss of time and before the rain increased;</span>
                    <span id="said_no_02101" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and in another moment they walked off together, her arm under his, a gentle and
                        embarrassed glance, and a</span>
                    <span id="said_no_02102" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"Good morning to you!"</span>
                    <span id="said_no_02103" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">being all that she had time for, as she passed away.</span>
                </p>

                <p>
                    <span id="said_no_02104" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">As soon as they were out of sight, the ladies of Captain Wentworth's party began talking
                        of them.</span>
                </p>

                <p>
                    
                        <span id="said_no_02105" class="said" data-toggle="tooltip" title="Lady" data-placement="auto top">"Mr Elliot does not dislike his cousin, I fancy?"</span>
                        
                    
                </p>

                <p>
                    
                        <span id="said_no_02106" class="said" data-toggle="tooltip" title="Lady" data-placement="auto top">"Oh! no, that is clear enough. One can guess what will happen there. He is
                            always with them; half lives in the family, I believe. What a very good-looking man!"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02107" class="said" data-toggle="tooltip" title="Lady" data-placement="auto top">"Yes, and</span>
                        <span id="said_no_02108" class="said" data-toggle="tooltip" title="Lady" data-placement="auto top">Miss Atkinson,</span>
                        <span id="said_no_02109" class="said" data-toggle="tooltip" title="Lady" data-placement="auto top">who dined with him once at the Wallises,</span>
                        <span id="said_no_02110" class="said" data-toggle="tooltip" title="Lady" data-placement="auto top">says</span>
                        <span id="said_no_02111" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="Unknown Lady speaking as Miss Atkinson" data-placement="auto top">he is the most agreeable man she ever was in company with."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02112" class="said" data-toggle="tooltip" title="Lady" data-placement="auto top">"She is pretty, I think; Anne Elliot; very pretty, when one comes to look at
                            her. It is not the fashion to say so, but I confess I admire her more than her sister."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02113" class="said" data-toggle="tooltip" title="Lady" data-placement="auto top">"Oh! so do I."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02114" class="said" data-toggle="tooltip" title="Lady" data-placement="auto top">"And so do I. No comparison. But the men are all wild after Miss Elliot.
                            Anne is too delicate for them."</span>
                    
                </p>

                <p>
                    <span id="said_no_02115" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne would have been particularly obliged to her cousin, if he would have walked by her
                        side all the way to Camden Place, without saying a word. She had never found it so difficult to listen to him, though nothing could
                        exceed his solicitude and care, and though his subjects were principally such as were wont to be always interesting: praise, warm, just,
                        and discriminating, of Lady Russell, and insinuations highly rational against Mrs Clay. But just now she could think only of Captain
                        Wentworth. She could not understand his present feelings,</span>
                    <span id="said_no_02116" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">whether he were
                        really suffering much from disappointment or not;</span>
                    <span id="said_no_02117" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and till that point were settled, she could not be quite herself.</span>
                </p>

                <p>
                    <span id="said_no_02118" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">She hoped to be
                        wise and reasonable in time;</span>
                    <span id="said_no_02119" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">but alas! alas! she must confess to herself that</span>
                    <span id="said_no_02120" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">she was not wise
                        yet.</span>
                </p>

                <p>
                    <span id="said_no_02121" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Another circumstance very essential for her to know, was</span>
                    <span id="said_no_02122" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">how long he meant
                        to be in Bath;</span>
                    <span id="said_no_02123" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">he had not mentioned it, or she could not recollect it.</span>
                    <span id="said_no_02124" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">He might be only
                        passing through. But it was more probable that he should be come to stay. In that case, so liable as every body was to meet every body
                        in Bath, Lady Russell would in all likelihood see him somewhere. Would she recollect him? How would it all be?</span>
                </p>

                <p>
                    <span id="said_no_02125" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She had already been obliged to tell Lady Russell that</span>
                    <span id="said_no_02126" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Louisa Musgrove was
                        to marry Captain Benwick.</span>
                    <span id="said_no_02127" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">It had cost her something to encounter Lady Russell's surprise; and</span>
                    <span id="said_no_02128" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">now, if she were by
                        any chance to be thrown into company with Captain Wentworth, her imperfect knowledge of the matter might add another shade of prejudice
                        against him.</span>
                </p>

                <p>
                    <span id="said_no_02129" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The following morning Anne was out with her friend, and for the first hour, in an
                        incessant and fearful sort of watch for him in vain; but at last, in returning down Pulteney Street, she distinguished him on the right
                        hand pavement at such a distance as to have him in view the greater part of the street. There were many other men about him, many groups
                        walking the same way, but there was no mistaking him. She looked instinctively at Lady Russell; but not from any mad idea of her
                        recognising him so soon as she did herself.</span>
                    <span id="said_no_02130" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">No, it was not to be
                        supposed that Lady Russell would perceive him till they were nearly opposite.</span>
                    <span id="said_no_02131" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She looked at her however, from time to time, anxiously; and when the moment approached
                        which must point him out, though not daring to look again (for her own countenance she knew was unfit to be seen), she was yet perfectly
                        conscious of Lady Russell's eyes being turned exactly in the direction for him -- of her being, in short, intently observing him.</span>
                    <span id="said_no_02132" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">She could
                        thoroughly comprehend the sort of fascination he must possess over Lady Russell's mind, the difficulty it must be for her to withdraw
                        her eyes, the astonishment she must be feeling that eight or nine years should have passed over him, and in foreign climes and in active
                        service too, without robbing him of one personal grace!</span>
                </p>

                <p>
                    <span id="said_no_02133" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">At last, Lady Russell drew back her head.</span>
                    <span id="said_no_02134" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"Now, how would she speak of him?"</span>
                </p>

                <p>
                    
                        <span id="said_no_02135" class="said" data-toggle="tooltip" title="Lady Russell" data-placement="auto top">"You will wonder,"</span>
                        <span id="said_no_02136" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_02137" class="said" data-toggle="tooltip" title="Lady Russell" data-placement="auto top">"what has been fixing my eye so long; but I was looking after some window-curtains,
                            which Lady Alicia and Mrs Frankland were telling me of last night. They described the drawing-room window-curtains of one of the
                            houses on this side of the way, and this part of the street, as being the handsomest and best hung of any in Bath, but could not
                            recollect the exact number, and I have been trying to find out which it could be; but I confess I can see no curtains hereabouts
                            that answer their description."</span>
                    
                </p>

                <p>
                    <span id="said_no_02138" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne sighed and blushed and smiled, in pity and disdain, either at her friend or
                        herself.</span>
                    <span id="said_no_02139" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top"> The part which provoked her most, was that</span>
                    <span id="said_no_02140" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">in all this waste
                        of foresight and caution, she should have lost the right moment for seeing whether he saw them.</span>
                </p>

                <p>
                    <span id="said_no_02141" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">A day or two passed without producing anything. The theatre or the rooms, where he was
                        most likely to be, were not fashionable enough for the Elliots, whose evening amusements were solely in the elegant stupidity of private
                        parties, in which they were getting more and more engaged; and Anne, wearied of such a state of stagnation, sick of knowing nothing, and
                        fancying herself stronger because her strength was not tried, was quite impatient for the concert evening. It was a concert for the
                        benefit of a person patronised by Lady Dalrymple.</span>
                    <span id="said_no_02142" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Of course they must
                        attend. It was really expected to be a good one, and Captain Wentworth was very fond of music. If she could only have a few minutes
                        conversation with him again,</span>
                    <span id="said_no_02143" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she fancied</span>
                    <span id="said_no_02144" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">she should be
                        satisfied;</span>
                    <span id="said_no_02145" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and as to the power of addressing him, she felt all over courage if the opportunity
                        occurred.</span>
                    <span id="said_no_02146" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Elizabeth had
                        turned from him, Lady Russell overlooked him;</span>
                    <span id="said_no_02147" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">her nerves were strengthened by these circumstances;</span>
                    <span id="said_no_02148" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she felt that</span>
                    <span id="said_no_02149" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">she owed him
                        attention.</span>
                </p>

                <p>
                    <span id="said_no_02150" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She had once partly promised Mrs Smith to spend the evening with her; but in a short
                        hurried call she excused herself and put it off, with the more decided promise of a longer visit on the morrow. Mrs Smith gave a most
                        good-humoured acquiescence.</span>
                </p>

                <p>
                    
                        <span id="said_no_02151" class="said" data-toggle="tooltip" title="Mrs. Smith" data-placement="auto top">"By all means,"</span>
                        <span id="said_no_02152" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said she;</span>
                        <span id="said_no_02153" class="said" data-toggle="tooltip" title="Mrs. Smith" data-placement="auto top">"only tell me all about it, when you do come. Who is your party?"</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_02154" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne named them all. Mrs Smith made no reply; but when she was leaving her said, and
                            with an expression half serious, half arch,</span>
                        <span id="said_no_02155" class="said" data-toggle="tooltip" title="Mrs. Smith" data-placement="auto top">"Well, I heartily wish your concert may answer; and do not fail me to-morrow if you
                            can come; for I begin to have a foreboding that I may not have many more visits from you."</span>
                    
                </p>

                <p>
                    <span id="said_no_02156" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne was startled and confused; but after standing in a moment's suspense, was obliged,
                        and not sorry to be obliged, to hurry away.</span>
                </p>
            


    <div class="footnotes"> </div>
