
     

    
        

                <h3>Chapter 13</h3>

                <p>
                    <span id="said_no_01338" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The remainder of Anne's time at Uppercross, comprehending only two days, was spent
                        entirely at the Mansion House; and she had the satisfaction of knowing herself extremely useful there, both as an immediate companion,
                        and as assisting in all those arrangements for the future, which, in Mr and Mrs Musgrove's distressed state of spirits, would have been
                        difficulties.</span>
                </p>

                <p>
                    <span id="said_no_01339" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">They had an early account from Lyme the next morning.</span>
                    <span id="said_no_01340" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_char" data-placement="auto top">Louisa was much the
                        same. No symptoms worse than before had appeared.</span>
                    <span id="said_no_01341" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Charles</span>
                    <span id="said_no_01342" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">came a few hours afterwards,</span>
                    <span id="said_no_01343" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">to bring a later and more particular account.</span>
                    <span id="said_no_01344" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">He was tolerably cheerful.</span>
                    <span id="said_no_01345" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_char" data-placement="auto top">A speedy cure must
                        not be hoped, but everything was going on as well as the nature of the case admitted.</span>
                    <span id="said_no_01346" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">In speaking of the Harvilles, he seemed unable to satisfy his own sense of their
                        kindness, especially of Mrs Harville's exertions as a nurse.</span>
                    <span id="said_no_01347" class="said" data-toggle="tooltip" title="Charles Musgrove" data-placement="auto top">"She really left nothing for Mary to do. He and Mary had been persuaded to go early to
                        their inn last night. Mary had been hysterical again this morning. When he came away, she was going to walk out with Captain Benwick,
                        which, he hoped, would do her good. He almost wished she had been prevailed on to come home the day before; but the truth was, that Mrs
                        Harville left nothing for anybody to do."</span>
                </p>

                <p>
                    <span id="said_no_01348" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Charles was to return to Lyme the same afternoon, and his father had at first half a
                        mind to go with him, but the ladies could not consent. It would be going only to multiply trouble to the others, and increase his own
                        distress; and a much better scheme followed and was acted upon. A chaise was sent for from Crewkherne, and Charles conveyed back a far
                        more useful person in the old nursery-maid of the family, one who having brought up all the children, and seen the very last, the
                        lingering and long-petted Master Harry, sent to school after his brothers, was now living in her deserted nursery to mend stockings and
                        dress all the blains and bruises she could get near her, and who, consequently, was only too happy in being allowed to go and</span>
                    <span id="said_no_01349" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_sarah" data-placement="auto top">help nurse dear
                        Miss Louisa.</span>
                    <span id="said_no_01350" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Vague wishes of getting Sarah thither, had occurred before to Mrs Musgrove and
                        Henrietta; but without Anne, it would hardly have been resolved on, and found practicable so soon.</span>
                </p>

                <p>
                    <span id="said_no_01351" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">They were indebted, the next day, to Charles Hayter, for all the minute knowledge of
                        Louisa, which it was so essential to obtain every twenty-four hours. He made it his business to go to Lyme, and his account was still
                        encouraging.</span>
                    <span id="said_no_01352" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_chayt" data-placement="auto top">The intervals of
                        sense and consciousness were believed to be stronger.</span>
                    <span id="said_no_01353" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Every report agreed in Captain Wentworth's appearing fixed in Lyme.</span>
                </p>

                <p>
                    <span id="said_no_01354" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne was to leave them on the morrow, an event which they all dreaded.</span>
                    <span id="said_no_01355" class="said" data-toggle="tooltip" title="Speaking together Mrs. Musgrove, Mr. Musgrove and HenriettaMusgrove" data-placement="auto top">"What should they do without her? They were wretched comforters for one
                        another."</span>
                    <span id="said_no_01356" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">And so much was said in this way, that Anne thought she could not do better than impart
                        among them the general inclination to which she was privy, and persuaded them all to go to Lyme at once. She had little
                        difficulty;</span>
                    <span id="said_no_01357" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">it was soon determined that</span>
                    <span id="said_no_01358" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_mrsmusmrmushenr" data-placement="auto top">they would go; go to-morrow, fix themselves at the inn, or get into lodgings, as it suited, and there remain till dear Louisa could be
                        moved. They must be taking off some trouble from the good people she was with; they might at least relieve Mrs Harville from the care of
                        her own children;</span>
                    <span id="said_no_01359" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and in short, they were so happy in the decision, that Anne was delighted with what she
                        had done, and felt that she could not spend her last morning at Uppercross better than in assisting their preparations, and sending them
                        off at an early hour, though her being left to the solitary range of the house was the consequence.</span>
                </p>

                <p>
                    <span id="said_no_01360" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She was the last, excepting the little boys at the cottage, she was the very last, the
                        only remaining one of all that had filled and animated both houses, of all that had given Uppercross its cheerful character.</span>
                    <span id="said_no_01361" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">A few days had made
                        a change indeed!</span>
                </p>

                <p>
                    <span id="said_no_01362" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">If Louisa recovered,
                        it would all be well again. More than former happiness would be restored. There could not be a doubt,</span>
                    <span id="said_no_01363" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">to her mind</span>
                    <span id="said_no_01364" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">there was none, of
                        what would follow her recovery. A few months hence, and the room now so deserted, occupied but by her silent, pensive self, might be
                        filled again with all that was happy and gay, all that was glowing and bright in prosperous love, all that was most unlike Anne
                        Elliot!</span>
                </p>

                <p>
                    <span id="said_no_01365" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">An hour's complete leisure for such reflections as these, on a dark November day, a
                        small thick rain almost blotting out the very few objects ever to be discerned from the windows, was enough to make the sound of Lady
                        Russell's carriage exceedingly welcome; and yet, though desirous to be gone, she could not quit the Mansion House, or look an adieu to
                        the Cottage, with its black, dripping and comfortless veranda, or even notice through the misty glasses the last humble tenements of the
                        village, without a saddened heart.</span>
                    <span id="said_no_01366" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Scenes had passed
                        in Uppercross which made it precious. It stood the record of many sensations of pain, once severe, but now softened; and of some
                        instances of relenting feeling, some breathings of friendship and reconciliation, which could never be looked for again, and which could
                        never cease to be dear.</span>
                    <span id="said_no_01367" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She left it all behind her, all but the recollection that such things had been.</span>
                </p>

                <p>
                    <span id="said_no_01368" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne had never entered Kellynch since her quitting Lady Russell's house in September. It
                        had not been necessary, and the few occasions of its being possible for her to go to the Hall she had contrived to evade and escape
                        from. Her first return was to resume her place in the modern and elegant apartments of the Lodge, and to gladden the eyes of its
                        mistress.</span>
                </p>

                <p>
                    <span id="said_no_01369" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">There was some anxiety mixed with Lady Russell's joy in meeting her.</span>
                    <span id="said_no_01370" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She knew</span>
                    <span id="said_no_01371" class="said fid said_tooltip certainty_6" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">who had been
                        frequenting Uppercross.</span>
                    <span id="said_no_01372" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">But happily, either Anne was improved in plumpness and looks, or Lady Russell fancied
                        her so; and</span>
                    <span id="said_no_01373" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne,</span>
                    <span id="said_no_01374" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">in receiving her compliments on the occasion,</span>
                    <span id="said_no_01375" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">had the amusement of</span>
                    <span id="said_no_01376" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">connecting them
                        with the silent admiration of her cousin, and</span>
                    <span id="said_no_01377" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">of hoping</span>
                    <span id="said_no_01378" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">that she was to be
                        blessed with a second spring of youth and beauty.</span>
                </p>

                <p>
                    <span id="said_no_01379" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">When they came to converse, she was soon sensible of some mental change. The subjects of
                        which her heart had been full on leaving Kellynch, and which she had felt slighted, and been compelled to smother among the Musgroves,
                        were now become but of secondary interest. She had lately lost sight even of her father and sister and Bath. Their concerns had been
                        sunk under those of Uppercross; and when Lady Russell reverted to their former hopes and fears, and spoke her satisfaction in the house
                        in Camden Place, which had been taken, and her regret that Mrs Clay should still be with them, Anne</span>
                    <span id="said_no_01380" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">would have been
                        ashamed to have it known how much more she was thinking of Lyme and Louisa Musgrove, and all her acquaintance there; how much more
                        interesting to her was the home and the friendship of the Harvilles and Captain Benwick, than her own father's house in Camden Place, or
                        her own sister's intimacy with Mrs Clay.</span>
                    <span id="said_no_01381" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She was actually forced to exert herself to meet Lady Russell with anything like the
                        appearance of equal solicitude, on topics which had by nature the first claim on her.</span>
                </p>

                <p>
                    <span id="said_no_01382" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">There was a little awkwardness at first in their discourse on another subject. They must
                        speak of the accident at Lyme. Lady Russell had not been arrived five minutes the day before, when a full account of the whole had burst
                        on her; but still it must be talked of, she must make enquiries, she must regret the imprudence, lament the result, and Captain
                        Wentworth's name must be mentioned by both. Anne was conscious of not doing it so well as Lady Russell. She could not speak the name,
                        and look straight forward to Lady Russell's eye, till she had adopted the expedient of telling her briefly what she thought of the
                        attachment between him and Louisa. When this was told, his name distressed her no longer.</span>
                </p>

                <p>
                    <span id="said_no_01383" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell had only to listen composedly, and wish them happy, but internally</span>
                    <span id="said_no_01384" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">her heart revelled in angry pleasure, in pleased contempt, that</span>
                    <span id="said_no_01385" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_lruss" data-placement="auto top">the man who at
                        twenty-three had seemed to understand somewhat of the value of an Anne Elliot, should, eight years afterwards, be charmed by a Louisa
                        Musgrove.</span>
                </p>

                <p>
                    <span id="said_no_01386" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The first three or four days passed most quietly, with no circumstance to mark them
                        excepting the receipt of a note or two from Lyme, which found their way to Anne, she could not tell how, and brought a rather improving
                        account of Louisa. At the end of that period, Lady Russell's politeness could repose no longer, and the fainter self-threatenings of the
                        past became in a decided tone,</span>
                    <span id="said_no_01387" class="said" data-toggle="tooltip" title="Lady Russell" data-placement="auto top">"I must call on Mrs Croft; I really must call upon her soon. Anne, have you courage to
                        go with me, and pay a visit in that house? It will be some trial to us both."</span>
                </p>

                <p>
                    <span id="said_no_01388" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne did not shrink from it; on the contrary, she truly felt as she said, in observing
                        --</span>
                </p>

                <p>
                    
                        <span id="said_no_01389" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"I think you are very likely to suffer the most of the two; your feelings are less
                            reconciled to the change than mine. By remaining in the neighbourhood, I am become inured to it."</span>
                    
                </p>

                <p>
                    <span id="said_no_01390" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">She could have said more on the subject; for she had in fact so high an opinion of the
                        Crofts, and</span>
                    <span id="said_no_01391" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">considered her father</span>
                    <span id="said_no_01392" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">so very fortunate
                        in his tenants, felt the parish to be so sure of a good example, and the poor of the best attention and relief,</span>
                    <span id="said_no_01393" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">that however sorry and ashamed for the necessity of the removal,</span>
                    <span id="said_no_01394" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she</span>
                    <span id="said_no_01395" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">could not but in conscience</span>
                    <span id="said_no_01396" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">feel that</span>
                    <span id="said_no_01397" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">they were gone who
                        deserved not to stay, and that Kellynch Hall had passed into better hands than its owners'.</span>
                    <span id="said_no_01398" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">These convictions must unquestionably have their own pain, and severe was its kind; but
                        they precluded that pain which Lady Russell would suffer in entering the house again, and returning through the well-known
                        apartments.</span>
                </p>

                <p>
                    <span id="said_no_01399" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">In such moments Anne had no power of saying to herself,</span>
                    <span id="said_no_01400" class="said" data-toggle="tooltip" title="Not Miss Anne Elliot" data-placement="auto top">"These rooms ought to belong only to us. Oh, how fallen in their destination! How
                        unworthily occupied! An ancient family to be so driven away! Strangers filling their place!"</span>
                    <span id="said_no_01401" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">No, except when she thought of her mother, and remembered where she had been used to sit
                        and preside, she had no sigh of that description to heave.</span>
                </p>

                <p>
                    <span id="said_no_01402" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Mrs Croft always met her with a kindness which gave her the pleasure of fancying herself
                        a favourite, and on the present occasion, receiving her in that house, there was particular attention.</span>
                </p>

                <p>
                    <span id="said_no_01403" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The sad accident at Lyme was soon the prevailing topic, and on comparing their latest
                        accounts of the invalid, it appeared that each lady dated her intelligence from the same hour of yestermorn; that Captain Wentworth had
                        been in Kellynch yesterday (the first time since the accident), had brought Anne the last note, which she had not been able to trace the
                        exact steps of; had staid a few hours and then returned again to Lyme, and without any present intention of quitting it any more.</span>
                    <span id="said_no_01404" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_mrsc_went" data-placement="auto top">He had
                        enquired after her,</span>
                    <span id="said_no_01405" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">she found,</span>
                    <span id="said_no_01406" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_mrsc_went" data-placement="auto top">particularly;</span>
                    <span id="said_no_01407" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">had expressed</span>
                    <span id="said_no_01408" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_mrsc_went" data-placement="auto top">his hope
                        of Miss Elliot's not being the worse for her exertions,</span>
                    <span id="said_no_01409" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and</span>
                    <span id="said_no_01410" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">had spoken of</span>
                    <span id="said_no_01411" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top"> those exertions as</span>
                    <span id="said_no_01412" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_mrsc_went" data-placement="auto top">great.</span>
                    <span id="said_no_01413" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">This was
                        handsome,</span>
                    <span id="said_no_01414" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and gave her more pleasure than almost anything else could have done.</span>
                </p>

                <p>
                    <span id="said_no_01415" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">As to the sad catastrophe itself, it could be canvassed only in one style by a couple of
                        steady, sensible women, whose judgements had to work on ascertained events; and it was perfectly decided that</span>
                    <span id="said_no_01416" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.002.nar_mrsclruss" data-placement="auto top">it had
                        been the consequence of much thoughtlessness and much imprudence; that its effects were most alarming, and that it was frightful to
                        think, how long Miss Musgrove's recovery might yet be doubtful, and how liable she would still remain to suffer from the concussion
                        hereafter!</span>
                    <span id="said_no_01417" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">The Admiral wound it up summarily by exclaiming --</span>
                </p>

                <p>
                    
                        <span id="said_no_01418" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"Ay, a very bad business indeed. A new sort of way this, for a young fellow to be
                            making love, by breaking his mistress's head, is not it, Miss Elliot? This is breaking a head and giving a plaster, truly!"</span>
                    
                </p>

                <p>
                    <span id="said_no_01419" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Admiral Croft's manners were not quite of the tone to suit Lady Russell, but they
                        delighted Anne. His goodness of heart and simplicity of character were irresistible.</span>
                </p>

                <p>
                    
                        <span id="said_no_01420" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"Now, this must be very bad for you,"</span>
                        <span id="said_no_01421" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">said he, suddenly rousing from a little reverie,</span>
                        <span id="said_no_01422" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"to be coming and finding us here. I had not recollected it before, I declare, but
                            it must be very bad. But now, do not stand upon ceremony. Get up and go over all the rooms in the house if you like it."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01423" class="said" data-toggle="tooltip" title="Anne Elliot" data-placement="auto top">"Another time, Sir, I thank you, not now."</span>
                    
                </p>

                <p>
                    
                        <span id="said_no_01424" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"Well, whenever it suits you. You can slip in from the shrubbery at any time; and
                            there you will find we keep our umbrellas hanging up by that door. A good place is not it? But,"</span>
                        <span id="said_no_01425" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">(checking himself),</span>
                        <span id="said_no_01426" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"you will not think it a good place, for yours were always kept in the butler's
                            room. Ay, so it always is, I believe. One man's ways may be as good as another's, but we all like our own best. And so you must
                            judge for yourself, whether it would be better for you to go about the house or not."</span>
                    
                </p>

                <p>
                    <span id="said_no_01427" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne, finding she might decline it, did so, very gratefully.</span>
                </p>

                <p>
                    
                        <span id="said_no_01428" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"We have made very few changes either,"</span>
                        <span id="said_no_01429" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">continued the Admiral, after thinking a moment.</span>
                        <span id="said_no_01430" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"Very few. We told you about the laundry-door, at Uppercross. That has been a very
                            great improvement. The wonder was, how any family upon earth could bear with the inconvenience of its opening as it did, so long!
                            You will tell Sir Walter what we have done, and that</span>
                        <span id="said_no_01431" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">Mr Shepherd thinks</span>
                        <span id="said_no_01432" class="said indirect said_tooltip certainty_6" data-toggle="tooltip" title="Admiral Croft speaking as Mr. Shepherd" data-placement="auto top">it the
                            greatest improvement the house ever had.</span>
                        <span id="said_no_01433" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">Indeed, I must do ourselves the justice to say, that the few alterations we have
                            made have been all very much for the better. My wife should have the credit of them, however. I have done very little besides
                            sending away some of the large looking-glasses from my dressing-room, which was your father's. A very good man, and very much the
                            gentleman I am sure: but I should think, Miss Elliot,"</span>
                        <span id="said_no_01434" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">(looking with serious reflection),</span>
                        <span id="said_no_01435" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"I should think he must be rather a dressy man for his time of life. Such a number
                            of looking-glasses! oh Lord! there was no getting away from one's self. So I got Sophy to lend me a hand, and we soon shifted their
                            quarters; and now I am quite snug, with my little shaving glass in one corner, and another great thing that I never go near."</span>
                    
                </p>

                <p>
                    <span id="said_no_01436" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Anne, amused in spite of herself, was rather distressed for an answer, and the Admiral,
                        fearing he might not have been civil enough, took up the subject again, to say --</span>
                </p>

                <p>
                    
                        <span id="said_no_01437" class="said" data-toggle="tooltip" title="Admiral Croft" data-placement="auto top">"The next time you write to your good father, Miss Elliot, pray give him my
                            compliments and Mrs Croft's, and say that we are settled here quite to our liking, and have no fault at all to find with the place.
                            The breakfast-room chimney smokes a little, I grant you, but it is only when the wind is due north and blows hard, which may not
                            happen three times a winter. And take it altogether, now that we have been into most of the houses hereabouts and can judge, there
                            is not one that we like better than this. Pray say so, with my compliments. He will be glad to hear it."</span>
                    
                </p>

                <p>
                    <span id="said_no_01438" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">Lady Russell and Mrs Croft were very well pleased with each other: but the acquaintance
                        which this visit began was fated not to proceed far at present; for when it was returned,</span>
                    <span id="said_no_01439" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">the Crofts announced</span>
                    <span id="said_no_01440" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_mrscadmr" data-placement="auto top">themselves
                        to be going away for a few weeks, to visit their connexions in the north of the county, and probably might not be at home again before
                        Lady Russell would be removing to Bath.</span>
                </p>

                <p>
                    <span id="said_no_01441" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">So ended all danger to Anne of meeting Captain Wentworth at Kellynch Hall, or of seeing
                        him in company with her friend.</span>
                    <span id="said_no_01442" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.002.nar_anne" data-placement="auto top">Everything was safe
                        enough,</span>
                    <span id="said_no_01443" class="said" data-toggle="tooltip" title="aus.002.nar" data-placement="auto top">and she smiled over the many anxious feelings she had wasted on the subject.</span>
                </p>
            


    <div class="footnotes"> </div>
