<p class="home_intro">This site allows you to explore Austen's patterns of diction. We feature <%= link_to "word frequencies", frequency_path %>, a <%= link_to "search", search_path %>, <%= link_to "novel visualizations", visual_index_path %>, and <%= link_to "background", background_path %> on the project.</p>





<div class="row">
  <div class="col-md-5"><div class="home_text">
<p><span class="initial_word">It</span> is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.</p></div></div>
  <div class="col-md-7">
	  <div class="austen_tei"><pre><code>&lt;<span class="tei_element">p</span>>
  &lt;<span class="tei_element">seg</span>>
    &lt;<span class="tei_element tei_said">said</span> <span class="tei_attribute">who</span>="<span class="tei_attribute_value">aus.001.nar</span>" <span class="tei_attribute">direct</span>="<span class="tei_attribute_value">true</span>" <span class="tei_attribute">aloud</span>="<span class="tei_attribute_value">false</span>">
      &lt;<span class="tei_element">hi</span> <span class="tei_attribute">rend</span>="<span class="tei_attribute_value">sc(1)</span>">It&lt;/<span class="tei_element">hi</span>> is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.&lt;/<span class="tei_element">said</span>>
  &lt;/<span class="tei_element">seg</span>>
&lt;/<span class="tei_element">p</span>></code></pre></div>
	  
  </div>
</div>

<br/>



<div class="row">
  <div class="col-md-5">
    
    
	  
	  <div class="home_text"><p>However little known the feelings or views of such a man may be on his first entering a neighbourhood, this truth is so well fixed in the minds of the surrounding families, that he is considered the rightful property of some one or other of their daughters.</p></div>
	  
  </div>
  <div class="col-md-7">
	  <div class="austen_tei"><pre><code>&lt;<span class="tei_element">p</span>>
  &lt;<span class="tei_element">seg</span>>
    &lt;<span class="tei_element tei_said">said</span> <span class="tei_attribute">who</span>="<span class="tei_attribute_value">aus.001.nar</span>" <span class="tei_attribute">direct</span>="<span class="tei_attribute_value">true</span>" <span class="tei_attribute">aloud</span>="<span class="tei_attribute_value">false</span>">However little known the feelings or views of such a man may be on his first entering a neighbourhood, this truth is so well fixed in the minds of the surrounding families, that he is considered the rightful property of some one or other of their daughters.&lt;/<span class="tei_element">said</span>>
  &lt;/<span class="tei_element">seg</span>>
&lt;/<span class="tei_element">p</span>></code></pre></div>
	  
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-5">
	  
	  <div class="home_text"><p>My dear Mr. Bennet, said his lady to him one day, have you heard that Netherfield Park is let at last?</p></div>
	  
  </div>
  <div class="col-md-7">
	  <div class="austen_tei"><pre><code>&lt;<span class="tei_element">p</span>>
  &lt;<span class="tei_element">seg</span>>
   &lt;<span class="tei_element tei_said">said</span> <span class="tei_attribute">who</span>="<span class="tei_attribute_value">aus.001.mrsb</span>" <span class="tei_attribute">direct</span>="<span class="tei_attribute_value">true</span>" <span class="tei_attribute">aloud</span>="<span class="tei_attribute_value">true</span>>"My dear Mr. Bennet,&lt;/<span class="tei_element">said</span>>
    &lt;<span class="tei_element tei_said">said</span> <span class="tei_attribute">who</span>="<span class="tei_attribute_value">aus.001.nar</span>" <span class="tei_attribute">direct</span>="<span class="tei_attribute_value">true</span>" <span class="tei_attribute">aloud</span>="<span class="tei_attribute_value">false</span>"> said his lady to him one day, &lt;/<span class="tei_element">said</span>>
    &lt;<span class="tei_element tei_said">said</span> <span class="tei_attribute">who</span>="<span class="tei_attribute_value">aus.001.mrsb</span>" <span class="tei_attribute">direct</span>="<span class="tei_attribute_value">true</span>" <span class="tei_attribute">aloud</span>="<span class="tei_attribute_value">true</span>"> </span>have you heard that Netherfield Park is let at last?&lt;/<span class="tei_element">said</span>>
  &lt;/<span class="tei_element">seg</span>>
&lt;/<span class="tei_element">p</span>>
</code></pre></div>

	  
  </div>
</div>
