

     
    
        
                <h3>Chapter XVI</h3>

                <p><span id="said_no_03113" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Every body in and about
                        Highbury who had ever visited Mr. Elton, was disposed to pay him attention
                        on his marriage. Dinner-parties and evening-parties were made for him and
                        his lady; and invitations flowed in so fast that she had soon the pleasure
                        of apprehending they were never to have a disengaged day.</span></p>

                <p><span id="said_no_03114" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"I see how it
                            is,"</span>
                        <span id="said_no_03115" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she.</span>
                        <span id="said_no_03116" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"I see what a life I am
                            to lead among you. Upon my word we shall be absolutely dissipated. We
                            really seem quite the fashion. If this is living in the country, it is
                            nothing very formidable. From Monday next to Saturday, I assure you we
                            have not a disengaged day!—A woman with fewer resources than I
                            have, need not have been at a loss."</span></p>

                <p><span id="said_no_03117" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">No invitation came amiss to
                        her. Her Bath habits made evening-parties perfectly natural to her, and
                        Maple Grove had given her a taste for dinners.</span>
                    <span id="said_no_03118" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_mrse" data-placement="auto top">
                        She was a
                        little shocked at the want of two drawing rooms,</span>
                    <span id="said_no_03119" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">at</span>
                    <span id="said_no_03120" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_mrse" data-placement="auto top">
                        the poor
                        attempt at rout-cakes, and there being no ice in the Highbury card-parties.
                        Mrs. Bates, Mrs. Perry, Mrs. Goddard and others, were a good deal
                        behind-hand in knowledge of the world, but she would soon shew them how
                        every thing ought to be arranged. In the course of the spring she must
                        return their civilities by one very superior party—in which her
                        card-tables should be set out with their separate candles and unbroken packs
                        in the true style—and more waiters engaged for the evening than their
                        own establishment could furnish, to carry round the refreshments at exactly
                        the proper hour, and in the proper order.</span></p>

                <p><span id="said_no_03121" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma, in the meanwhile, could
                        not be satisfied without a dinner at Hartfield for the Eltons. They must not
                        do less than others, or she should be exposed to odious suspicions, and
                        imagined capable of pitiful resentment.</span>
                    <span id="said_no_03122" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        A dinner
                        there must be.</span>
                    <span id="said_no_03123" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">After Emma had talked about
                        it for ten minutes, Mr. Woodhouse felt no unwillingness, and only</span>
                    <span id="said_no_03124" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">made the usual stipulation
                        of</span>
                    <span id="said_no_03125" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_wood" data-placement="auto top">
                        not sitting
                        at the bottom of the table himself,</span>
                    <span id="said_no_03126" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">with the usual regular
                        difficulty of deciding who should do it for him.</span></p>

                <p><span id="said_no_03127" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The persons to be invited,
                        required little thought.</span>
                    <span id="said_no_03128" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Besides the
                        Eltons, it must be the Westons and Mr. Knightley; so far it was all of
                        course—and it was hardly less inevitable that poor little Harriet must
                        be asked to make the eighth:—</span>
                    <span id="said_no_03129" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">but this invitation was not
                        given with equal satisfaction, and on many accounts Emma was particularly
                        pleased by Harriet's begging to be allowed to decline it.</span>
                    <span id="said_no_03130" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"She would rather not be in
                        his company more than she could help. She was not yet quite able to see him
                        and his charming happy wife together, without feeling uncomfortable. If Miss
                        Woodhouse would not be displeased, she would rather stay at home."</span>
                    <span id="said_no_03131" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">It was precisely what Emma
                        would have wished, had she deemed it possible enough for wishing. She was
                        delighted with the fortitude of her little friend —for fortitude she
                        knew it was in her to give up being in company and stay at home; and she
                        could now invite the very person whom she really wanted to make the eighth,
                        Jane Fairfax.— Since her last conversation with Mrs. Weston and Mr.
                        Knightley, she was more conscience-stricken about Jane Fairfax than she had
                        often been.—Mr. Knightley's words dwelt with her.</span>
                    <span id="said_no_03132" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He had said that</span>
                    <span id="said_no_03133" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_george" data-placement="auto top">
                        Jane
                        Fairfax received attentions from Mrs. Elton which nobody else paid
                        her.</span></p>

                <p><span id="said_no_03134" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"This is very
                            true,"</span>
                        <span id="said_no_03135" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_03136" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"at least as far as
                            relates to me, which was all that was meant—and it is very
                            shameful.—Of the same age—and always knowing her— I
                            ought to have been more her friend.—She will never like me now. I
                            have neglected her too long. But I will shew her greater attention than
                            I have done."</span></p>

                <p><span id="said_no_03137" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Every invitation was
                        successful. They were all disengaged and all happy.—The preparatory
                        interest of this dinner, however, was not yet over. A circumstance rather
                        unlucky occurred. The two eldest little Knightleys were engaged to pay their
                        grandpapa and aunt a visit of some weeks in the spring, and their papa now
                        proposed bringing them, and staying one whole day at Hartfield— which
                        one day would be the very day of this party.—His professional
                        engagements did not allow of his being put off, but both father and daughter
                        were disturbed by its happening so.</span>
                    <span id="said_no_03138" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Woodhouse
                        considered</span>
                    <span id="said_no_03139" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_wood" data-placement="auto top">
                        eight persons
                        at dinner together as the utmost that his nerves could bear— and here
                        would be a ninth —</span>
                    <span id="said_no_03140" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and</span>
                    <span id="said_no_03141" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma apprehended
                        that</span>
                    <span id="said_no_03142" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        it would be a
                        ninth very much out of humour at not being able to come even to Hartfield
                        for forty-eight hours without falling in with a dinner-party.</span></p>

                <p><span id="said_no_03143" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She comforted her
                        father</span>
                    <span id="said_no_03144" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">better than she could
                        comfort herself,</span>
                    <span id="said_no_03145" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">by representing that</span>
                    <span id="said_no_03146" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        though he
                        certainly would make them nine, yet he always said so little, that the
                        increase of noise would be very immaterial.</span>
                    <span id="said_no_03147" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She thought it in reality a
                        sad exchange for herself, to have him with his grave looks and reluctant
                        conversation opposed to her instead of his brother.</span></p>

                <p><span id="said_no_03148" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The event was more favourable
                        to Mr. Woodhouse than to Emma. John Knightley came; but</span>
                    <span id="said_no_03149" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Weston</span>
                    <span id="said_no_03150" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_west" data-placement="auto top">
                        was
                        unexpectedly summoned to town and must be absent on the very day. He might
                        be able to join them in the evening, but certainly not to dinner.</span>
                    <span id="said_no_03151" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Woodhouse was quite at
                        ease; and the seeing him so, with the arrival of the little boys and the
                        philosophic composure of her brother on hearing his fate, removed the chief
                        of even Emma's vexation.</span></p>

                <p><span id="said_no_03152" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The day came, the party were
                        punctually assembled, and Mr. John Knightley seemed early to devote himself
                        to the business of being agreeable. Instead of drawing his brother off to a
                        window while they waited for dinner, he was talking to Miss Fairfax.</span>
                    <span id="said_no_03153" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.005.nar_john" data-placement="auto top">
                        Mrs. Elton,
                        as elegant as lace and pearls could make her,</span>
                    <span id="said_no_03154" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he looked at in
                        silence— wanting</span>
                    <span id="said_no_03155" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.005.nar_john" data-placement="auto top">
                        only to
                        observe enough for Isabella's information— but Miss Fairfax was an old
                        acquaintance and a quiet girl, and he could talk to her.</span>
                    <span id="said_no_03156" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He had met her before
                        breakfast as he was returning from a walk with his little boys, when it had
                        been just beginning to rain. It was natural to have some civil hopes on the
                        subject, and he said,</span></p>

                <p><span id="said_no_03157" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"I hope you did not venture
                        far, Miss Fairfax, this morning, or I am sure you must have been
                        wet.—We scarcely got home in time. I hope you turned
                    directly."</span></p>

                <p><span id="said_no_03158" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"I went only to the
                            post-office,"</span>
                        <span id="said_no_03159" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_03160" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"and reached home before
                            the rain was much. It is my daily errand. I always fetch the letters
                            when I am here. It saves trouble, and is a something to get me out. A
                            walk before breakfast does me good."</span></p>

                <p><span id="said_no_03161" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"Not a walk in the rain, I
                        should imagine."</span></p>

                <p><span id="said_no_03162" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"No, but it did not
                        absolutely rain when I set out."</span></p>

                <p><span id="said_no_03163" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. John Knightley smiled,
                        and replied,</span></p>

                <p><span id="said_no_03164" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"That is to say, you chose to
                        have your walk, for you were not six yards from your own door when I had the
                        pleasure of meeting you; and Henry and John had seen more drops than they
                        could count long before. The post-office has a great charm at one period of
                        our lives. When you have lived to my age, you will begin to think letters
                        are never worth going through the rain for."</span></p>

                <p><span id="said_no_03165" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">There was a little blush, and
                        then this answer,</span></p>

                <p><span id="said_no_03166" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"I must not hope to be ever
                        situated as you are, in the midst of every dearest connexion, and therefore
                        I cannot expect that simply growing older should make me indifferent about
                        letters."</span></p>

                <p><span id="said_no_03167" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"Indifferent! Oh! no —I
                        never conceived you could become indifferent. Letters are no matter of
                        indifference; they are generally a very positive curse."</span></p>

                <p><span id="said_no_03168" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"You are speaking of letters
                        of business; mine are letters of friendship."</span></p>

                <p><span id="said_no_03169" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"I have often thought
                            them the worst of the two,"</span>
                        <span id="said_no_03170" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">replied he
                            coolly.</span>
                        <span id="said_no_03171" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"Business, you know, may
                            bring money, but friendship hardly ever does."</span></p>

                <p><span id="said_no_03172" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"Ah! you are not serious now.
                        I know Mr. John Knightley too well —I am very sure he understands the
                        value of friendship as well as any body. I can easily believe that letters
                        are very little to you, much less than to me, but it is not your being ten
                        years older than myself which makes the difference, it is not age, but
                        situation. You have every body dearest to you always at hand, I, probably,
                        never shall again; and therefore till I have outlived all my affections, a
                        post-office, I think, must always have power to draw me out, in worse
                        weather than to-day."</span></p>

                <p><span id="said_no_03173" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"When I talked of your
                            being altered by time, by the progress of years,"</span>
                        <span id="said_no_03174" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said John
                            Knightley,</span>
                        <span id="said_no_03175" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"I meant to imply the
                            change of situation which time usually brings. I consider one as
                            including the other. Time will generally lessen the interest of every
                            attachment not within the daily circle—but that is not the change
                            I had in view for you. As an old friend, you will allow me to hope, Miss
                            Fairfax, that ten years hence you may have as many concentrated objects
                            as I have."</span></p>

                <p><span id="said_no_03176" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">It was kindly said, and very
                        far from giving offence. A pleasant</span>
                    <span id="said_no_03177" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"thank you"</span>
                    <span id="said_no_03178" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">seemed meant to laugh it
                        off, but a blush, a quivering lip, a tear in the eye, shewed that it was
                        felt beyond a laugh. Her attention was now claimed by Mr. Woodhouse, who
                        being, according to his custom on such occasions, making the circle of his
                        guests, and paying his particular compliments to the ladies, was ending with
                        her—and with all his mildest urbanity, said,</span></p>

                <p><span id="said_no_03179" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"I am very sorry to hear,
                        Miss Fairfax, of your being out this morning in the rain. Young ladies
                        should take care of themselves.—Young ladies are delicate plants. They
                        should take care of their health and their complexion. My dear, did you
                        change your stockings?"</span></p>

                <p><span id="said_no_03180" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"Yes, sir, I did indeed; and
                        I am very much obliged by your kind solicitude about me."</span></p>

                <p><span id="said_no_03181" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"My dear Miss Fairfax, young
                        ladies are very sure to be cared for.—I hope your good grand-mama and
                        aunt are well. They are some of my very old friends. I wish my health
                        allowed me to be a better neighbour. You do us a great deal of honour
                        to-day, I am sure. My daughter and I are both highly sensible of your
                        goodness, and have the greatest satisfaction in seeing you at
                        Hartfield."</span></p>

                <p><span id="said_no_03182" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The kind-hearted, polite old
                        man might then sit down and</span>
                    <span id="said_no_03183" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">feel that</span>
                    <span id="said_no_03184" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.005.nar_wood" data-placement="auto top">
                        he had done
                        his duty, and made every fair lady welcome and easy.</span></p>

                <p><span id="said_no_03185" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">By this time, the walk in the
                        rain had reached Mrs. Elton, and her remonstrances now opened upon
                        Jane.</span></p>

                <p><span id="said_no_03186" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"My dear Jane, what is this I
                        hear?—Going to the post-office in the rain!—This must not be, I
                        assure you.—You sad girl, how could you do such a thing?—It is a
                        sign I was not there to take care of you."</span></p>

                <p><span id="said_no_03187" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Jane very patiently assured
                        her that</span>
                    <span id="said_no_03188" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_jane" data-placement="auto top">
                        she had not
                        caught any cold.</span></p>

                <p><span id="said_no_03189" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Oh! do not tell <em>me</em>. You really are a very sad girl, and do not know
                        how to take care of yourself.—To the post-office indeed! Mrs. Weston,
                        did you ever hear the like? You and I must positively exert our
                        authority."</span></p>

                <p><span id="said_no_03190" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"My advice,"</span>
                        <span id="said_no_03191" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mrs. Weston kindly
                            and persuasively,</span>
                        <span id="said_no_03192" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"I certainly do feel
                            tempted to give. Miss Fairfax, you must not run such risks.—Liable
                            as you have been to severe colds, indeed you ought to be particularly
                            careful, especially at this time of year. The spring I always think
                            requires more than common care. Better wait an hour or two, or even half
                            a day for your letters, than run the risk of bringing on your cough
                            again. Now do not you feel that you had? Yes, I am sure you are much too
                            reasonable. You look as if you would not do such a thing
                        again."</span></p>

                <p><span id="said_no_03193" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Oh! she <em>shall</em>
                            <em>not</em> do such a thing again,"</span>
                        <span id="said_no_03194" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">eagerly rejoined Mrs.
                            Elton.</span>
                        <span id="said_no_03195" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"We will not allow her
                            to do such a thing again:"—</span>
                        <span id="said_no_03196" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and nodding
                            significantly—</span>
                        <span id="said_no_03197" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"there must be some
                            arrangement made, there must indeed. I shall speak to Mr. E. The man who
                            fetches our letters every morning (one of our men, I forget his name)
                            shall inquire for yours too and bring them to you. That will obviate all
                            difficulties you know; and from <em>us</em> I really
                            think, my dear Jane, you can have no scruple to accept such an
                            accommodation."</span></p>

                <p><span id="said_no_03198" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"You are extremely
                            kind,"</span>
                        <span id="said_no_03199" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Jane;</span>
                        <span id="said_no_03200" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"but I cannot give up my
                            early walk. I am advised to be out of doors as much as I can, I must
                            walk somewhere, and the post-office is an object; and upon my word, I
                            have scarcely ever had a bad morning before."</span></p>

                <p><span id="said_no_03201" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"My dear Jane, say no
                            more about it. The thing is determined, that is</span>
                        <span id="said_no_03202" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(laughing
                            affectedly)</span>
                        <span id="said_no_03203" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top"> as far as I can presume
                            to determine any thing without the concurrence of my lord and master.
                            You know, Mrs. Weston, you and I must be cautious how we express
                            ourselves. But I do flatter myself, my dear Jane, that my influence is
                            not entirely worn out. If I meet with no insuperable difficulties
                            therefore, consider that point as settled."</span></p>

                <p><span id="said_no_03204" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"Excuse me,"</span>
                        <span id="said_no_03205" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Jane
                            earnestly,</span>
                        <span id="said_no_03206" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"I cannot by any means
                            consent to such an arrangement, so needlessly troublesome to your
                            servant. If the errand were not a pleasure to me, it could be done, as
                            it always is when I am not here, by my grandmama's."</span></p>

                <p><span id="said_no_03207" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Oh! my dear; but so much as
                        Patty has to do!—And it is a kindness to employ our men."</span></p>

                <p><span id="said_no_03208" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Jane looked as if she did not
                        mean to be conquered; but instead of answering, she began speaking again to
                        Mr. John Knightley.</span></p>

                <p><span id="said_no_03209" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"The post-office is a
                            wonderful establishment!"</span>
                        <span id="said_no_03210" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she.—</span>
                        <span id="said_no_03211" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"The regularity and
                            despatch of it! If one thinks of all that it has to do, and all that it
                            does so well, it is really astonishing!"</span></p>

                <p><span id="said_no_03212" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"It is certainly very well
                        regulated."</span></p>

                <p><span id="said_no_03213" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"So seldom that any
                        negligence or blunder appears! So seldom that a letter, among the thousands
                        that are constantly passing about the kingdom, is even carried
                        wrong—and not one in a million, I suppose, actually lost! And when one
                        considers the variety of hands, and of bad hands too, that are to be
                        deciphered, it increases the wonder."</span></p>

                <p><span id="said_no_03214" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"The clerks grow expert
                            from habit.—They must begin with some quickness of sight and hand,
                            and exercise improves them. If you want any farther explanation,"</span>
                        <span id="said_no_03215" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">continued he,
                            smiling,</span>
                        <span id="said_no_03216" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"they are paid for it.
                            That is the key to a great deal of capacity. The public pays and must be
                            served well."</span></p>

                <p><span id="said_no_03217" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_janejohn" data-placement="auto top">
                        The
                        varieties of handwriting</span>
                    <span id="said_no_03218" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">were farther talked
                        of,</span>
                    <span id="said_no_03219" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and the usual observations
                        made.</span></p>

                <p><span id="said_no_03220" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"I have heard it
                            asserted,"</span>
                        <span id="said_no_03221" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said John
                            Knightley,</span>
                        <span id="said_no_03222" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"that the same sort of
                            handwriting often prevails in a family; and where the same master
                            teaches, it is natural enough. But for that reason, I should imagine the
                            likeness must be chiefly confined to the females, for boys have very
                            little teaching after an early age, and scramble into any hand they can
                            get. Isabella and Emma, I think, do write very much alike. I have not
                            always known their writing apart."</span></p>

                <p><span id="said_no_03223" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Yes,"</span>
                        <span id="said_no_03224" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said his brother
                            hesitatingly,</span>
                        <span id="said_no_03225" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"there is a likeness.
                            I know what you mean— but Emma's hand is the
                        strongest."</span></p>

                <p><span id="said_no_03226" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Isabella and Emma both
                            write beautifully,"</span>
                        <span id="said_no_03227" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mr.
                            Woodhouse;</span>
                        <span id="said_no_03228" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"and always did. And so
                            does poor Mrs. Weston"—</span>
                    <span id="said_no_03229" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">with half a sigh and half a
                        smile at her.</span></p>

                <p><span id="said_no_03230" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I never saw any
                            gentleman's handwriting"—</span>
                        <span id="said_no_03231" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma began, looking also
                            at Mrs. Weston; but stopped,</span>
                        <span id="said_no_03232" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">on perceiving
                            that</span>
                        <span id="said_no_03233" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                            Mrs.
                            Weston was attending to some one else—</span>
                        <span id="said_no_03234" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and the pause gave her
                            time to reflect,</span>
                        <span id="said_no_03235" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Now, how am I going to
                            introduce him?—Am I unequal to speaking his name at once before
                            all these people? Is it necessary for me to use any roundabout
                            phrase?—Your Yorkshire friend— your correspondent in
                            Yorkshire;—that would be the way, I suppose, if I were very
                            bad.—No, I can pronounce his name without the smallest distress. I
                            certainly get better and better.—Now for it."</span></p>

                <p><span id="said_no_03236" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Weston was disengaged
                        and Emma began again—</span>
                    <span id="said_no_03237" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Mr. Frank Churchill writes
                        one of the best gentleman's hands I ever saw."</span></p>

                <p><span id="said_no_03238" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"I do not admire
                            it,"</span>
                        <span id="said_no_03239" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mr.
                            Knightley.</span>
                        <span id="said_no_03240" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"It is too small
                            —wants strength. It is like a woman's writing."</span></p>

                <p><span id="said_no_03241" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">This was not submitted to by
                        either lady. They vindicated him against the base aspersion. "No, it by no
                        means wanted strength— it was not a large hand, but very clear and
                        certainly strong. Had not Mrs. Weston any letter about her to produce?" No,
                        she had heard from him very lately, but having answered the letter, had put
                        it away.</span></p>

                <p><span id="said_no_03242" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"If we were in the other
                            room,"</span>
                        <span id="said_no_03243" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma,</span>
                        <span id="said_no_03244" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"if I had my
                            writing-desk, I am sure I could produce a specimen. I have a note of
                            his.—Do not you remember, Mrs. Weston, employing him to write for
                            you one day?"</span></p>

                <p><span id="said_no_03245" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"He chose to say</span>
                    <span id="said_no_03246" class="said indirect said_tooltip certainty_3" data-toggle="tooltip" title="Mrs. Weston speaking as Frank Churchill" data-placement="auto top">
                        he was
                        employed"—</span></p>

                <p><span id="said_no_03247" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Well, well, I have that
                        note; and can shew it after dinner to convince Mr. Knightley."</span></p>

                <p><span id="said_no_03248" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Oh! when a gallant
                            young man, like Mr. Frank Churchill,"</span>
                        <span id="said_no_03249" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mr. Knightley
                            dryly,</span>
                        <span id="said_no_03250" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"writes to a fair lady
                            like Miss Woodhouse, he will, of course, put forth his
                        best."</span></p>

                <p><span id="said_no_03251" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Dinner was on
                        table.—Mrs. Elton, before she could be spoken to, was ready; and
                        before</span>
                    <span id="said_no_03252" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Woodhouse</span>
                    <span id="said_no_03253" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">had reached her with</span>
                    <span id="said_no_03254" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">his request</span>
                    <span id="said_no_03255" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_wood" data-placement="auto top">
                        to be allowed
                        to hand her into the dining-parlour,</span>
                    <span id="said_no_03256" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was saying—</span></p>

                <p><span id="said_no_03257" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Must I go first? I really am
                        ashamed of always leading the way."</span></p>

                <p><span id="said_no_03258" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Jane's solicitude</span>
                    <span id="said_no_03259" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_jane" data-placement="auto top">
                        about
                        fetching her own letters</span>
                    <span id="said_no_03260" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">had not escaped Emma.</span>
                    <span id="said_no_03261" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She</span>
                    <span id="said_no_03262" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">had heard and seen it all;
                        and</span>
                    <span id="said_no_03263" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">felt some curiosity</span>
                    <span id="said_no_03264" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        to know
                        whether the wet walk of this morning had produced any.</span>
                    <span id="said_no_03265" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She suspected that</span>
                    <span id="said_no_03266" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        it <em>had</em>;</span>
                    <span id="said_no_03267" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_03268" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        it would not
                        have been so resolutely encountered but in full expectation of hearing from
                        some one very dear, and</span>
                    <span id="said_no_03269" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_03270" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        it had not
                        been in vain.</span>
                    <span id="said_no_03271" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She thought</span>
                    <span id="said_no_03272" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        there was an
                        air of greater happiness than usual —a glow both of complexion and
                        spirits.</span></p>

                <p><span id="said_no_03273" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        She could
                        have made an inquiry or two, as to the expedition and the expense of the
                        Irish mails;—it was at her tongue's end—</span>
                    <span id="said_no_03274" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">but she abstained.</span>
                    <span id="said_no_03275" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She was quite
                        determined</span>
                    <span id="said_no_03276" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        not to utter
                        a word that should hurt Jane Fairfax's feelings;</span>
                    <span id="said_no_03277" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and they followed the other
                        ladies out of the room, arm in arm, with an appearance of good-will highly
                        becoming to the beauty and grace of each. </span>
                </p>
            
    <div class="footnotes"> </div>
