

     
    
        
                <h3>Chapter XIV</h3>

                <p><span id="said_no_02902" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Elton was first seen at
                        church: but though devotion might be interrupted, curiosity could not be
                        satisfied by a bride in a pew, and it must be left for the visits in form
                        which were then to be paid, to settle whether she were very pretty indeed,
                        or only rather pretty, or not pretty at all.</span></p>

                <p><span id="said_no_02903" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma had feelings, less of
                        curiosity than of pride or propriety, to</span>
                    <span id="said_no_02904" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">make her resolve on</span>
                    <span id="said_no_02905" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        not being the
                        last to pay her respects;</span>
                    <span id="said_no_02906" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and she made a point of
                        Harriet's going with her, that the worst of the business might be gone
                        through as soon as possible.</span></p>

                <p><span id="said_no_02907" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She could not enter the house
                        again, could not be in the same room to which she had with such vain
                        artifice retreated three months ago, to lace up her boot, without <em>recollecting</em>. A thousand vexatious thoughts would
                        recur. Compliments, charades, and horrible blunders; and it was not to be
                        supposed that poor Harriet should not be recollecting too; but she behaved
                        very well, and was only rather pale and silent. The visit was of course
                        short; and there was so much embarrassment and occupation of mind to shorten
                        it, that Emma would not allow herself entirely to form an opinion of the
                        lady, and on no account to give one, beyond the nothing-meaning terms of
                        being</span>
                    <span id="said_no_02908" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"elegantly dressed, and very
                        pleasing."</span></p>

                <p><span id="said_no_02909" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        She did not
                        really like her. She would not be in a hurry to find fault, but she
                        suspected that there was no elegance;—ease, but not
                        elegance.—</span>
                    <span id="said_no_02910" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She was almost sure
                        that</span>
                    <span id="said_no_02911" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        for a young
                        woman, a stranger, a bride, there was too much ease. Her person was rather
                        good; her face not unpretty; but neither feature, nor air, nor voice, nor
                        manner, were elegant. Emma thought at least it would turn out so.</span></p>

                <p><span id="said_no_02912" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        As for Mr.
                        Elton, his manners did not appear —but no, she would not permit a
                        hasty or a witty word from herself about his manners. It was an awkward
                        ceremony at any time to be receiving wedding visits, and a man had need be
                        all grace to acquit himself well through it. The woman was better off; she
                        might have the assistance of fine clothes, and the privilege of bashfulness,
                        but the man had only his own good sense to depend on;</span>
                    <span id="said_no_02913" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and when</span>
                    <span id="said_no_02914" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">she considered</span>
                    <span id="said_no_02915" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        how
                        peculiarly unlucky poor Mr. Elton was in being in the same room at once with
                        the woman he had just married, the woman he had wanted to marry, and the
                        woman whom he had been expected to marry, she must allow him to have the
                        right to look as little wise, and to be as much affectedly, and as little
                        really easy as could be.</span></p>

                <p><span id="said_no_02916" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Well, Miss
                            Woodhouse,"</span>
                        <span id="said_no_02917" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Harriet, when they
                            had quitted the house, and after waiting in vain for her friend to
                            begin;</span>
                        <span id="said_no_02918" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Well, Miss
                            Woodhouse,</span>
                        <span id="said_no_02919" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(with a gentle
                            sigh,)</span>
                        <span id="said_no_02920" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">what do you think of
                            her?—Is not she very charming?"</span></p>

                <p><span id="said_no_02921" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">There was a little hesitation
                        in Emma's answer.</span></p>

                <p><span id="said_no_02922" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Oh! yes —very —a
                        very pleasing young woman."</span></p>

                <p><span id="said_no_02923" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"I think her beautiful, quite
                        beautiful."</span></p>

                <p><span id="said_no_02924" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Very nicely dressed, indeed;
                        a remarkably elegant gown."</span></p>

                <p><span id="said_no_02925" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"I am not at all surprized
                        that he should have fallen in love."</span></p>

                <p><span id="said_no_02926" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Oh! no —there is
                        nothing to surprize one at all.—A pretty fortune; and she came in his
                        way."</span></p>

                <p><span id="said_no_02927" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"I dare say,"</span>
                        <span id="said_no_02928" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">returned Harriet,
                            sighing again,</span>
                        <span id="said_no_02929" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"I dare say she was very
                            much attached to him."</span></p>

                <p><span id="said_no_02930" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Perhaps she might; but it is
                        not every man's fate to marry the woman who loves him best. Miss Hawkins
                        perhaps wanted a home, and thought this the best offer she was likely to
                        have."</span></p>

                <p><span id="said_no_02931" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Yes,"</span>
                        <span id="said_no_02932" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Harriet
                            earnestly,</span>
                        <span id="said_no_02933" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"and well she might,
                            nobody could ever have a better. Well, I wish them happy with all my
                            heart. And now, Miss Woodhouse, I do not think I shall mind seeing them
                            again. He is just as superior as ever;—but being married, you
                            know, it is quite a different thing. No, indeed, Miss Woodhouse, you
                            need not be afraid; I can sit and admire him now without any great
                            misery. To know that he has not thrown himself away, is such a
                            comfort!—She does seem a charming young woman, just what he
                            deserves. Happy creature! He called her 'Augusta.' How
                            delightful!"</span></p>

                <p><span id="said_no_02934" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">When the visit was returned,
                        Emma made up her mind. She could then see more and judge better. From
                        Harriet's happening not to be at Hartfield, and her father's being present
                        to engage Mr. Elton, she had a quarter of an hour of the lady's conversation
                        to herself, and could composedly attend to her; and the quarter of an hour
                        quite convinced her that</span>
                    <span id="said_no_02935" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Mrs. Elton
                        was a vain woman, extremely well satisfied with herself, and thinking much
                        of her own importance;</span>
                    <span id="said_no_02936" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_02937" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        she meant to
                        shine and be very superior, but with manners which had been formed in a bad
                        school, pert and familiar;</span>
                    <span id="said_no_02938" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_02939" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        all her
                        notions were drawn from one set of people, and one style of living;</span>
                    <span id="said_no_02940" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_02941" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        if not
                        foolish she was ignorant, and</span>
                    <span id="said_no_02942" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_02943" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        her society
                        would certainly do Mr. Elton no good.</span></p>

                <p><span id="said_no_02944" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Harriet would
                        have been a better match. If not wise or refined herself, she would have
                        connected him with those who were; but Miss Hawkins, it might be fairly
                        supposed from her easy conceit, had been the best of her own set. The rich
                        brother-in-law near Bristol was the pride of the alliance, and his place and
                        his carriages were the pride of him.</span></p>

                <p><span id="said_no_02945" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The very first subject after
                        being seated was Maple Grove,</span>
                    <span id="said_no_02946" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"My brother Mr.
                            Suckling's seat;"—</span>
                        <span id="said_no_02947" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">a comparison of
                            Hartfield to Maple Grove. The grounds of Hartfield were small, but neat
                            and pretty; and the house was modern and well-built. Mrs. Elton seemed
                            most favourably impressed by the size of the room, the entrance, and all
                            that she could see or imagine.</span>
                        <span id="said_no_02948" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Very like Maple Grove
                            indeed!—She was quite struck by the likeness!—That room was
                            the very shape and size of the morning-room at Maple Grove; her sister's
                            favourite room."—</span>
                        <span id="said_no_02949" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Elton was appealed
                            to.—</span>
                        <span id="said_no_02950" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Was not it
                            astonishingly like?—She could really almost fancy herself at Maple
                            Grove."</span></p>

                <p><span id="said_no_02951" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"And the staircase
                            —You know, as I came in, I observed how very like the staircase
                            was; placed exactly in the same part of the house. I really could not
                            help exclaiming! I assure you, Miss Woodhouse, it is very delightful to
                            me, to be reminded of a place I am so extremely partial to as Maple
                            Grove. I have spent so many happy months there!</span>
                        <span id="said_no_02952" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(with a little sigh of
                            sentiment).</span>
                        <span id="said_no_02953" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">A charming place,
                            undoubtedly. Every body who sees it is struck by its beauty; but to me,
                            it has been quite a home. Whenever you are transplanted, like me, Miss
                            Woodhouse, you will understand how very delightful it is to meet with
                            any thing at all like what one has left behind. I always say this is
                            quite one of the evils of matrimony."</span></p>

                <p><span id="said_no_02954" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma made as slight a reply
                        as she could; but it was fully sufficient for Mrs. Elton, who only wanted to
                        be talking herself.</span></p>

                <p><span id="said_no_02955" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"So extremely like Maple
                        Grove! And it is not merely the house— the grounds, I assure you, as
                        far as I could observe, are strikingly like. The laurels at Maple Grove are
                        in the same profusion as here, and stand very much in the same
                        way—just across the lawn; and I had a glimpse of a fine large tree,
                        with a bench round it, which put me so exactly in mind! My brother and
                        sister will be enchanted with this place. People who have extensive grounds
                        themselves are always pleased with any thing in the same style."</span></p>

                <p><span id="said_no_02956" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma doubted the truth of
                        this sentiment.</span>
                    <span id="said_no_02957" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She had a great idea
                        that</span>
                    <span id="said_no_02958" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        people who
                        had extensive grounds themselves cared very little for the extensive grounds
                        of any body else; but it was not worth while to attack an error so
                        double-dyed,</span>
                    <span id="said_no_02959" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and therefore only said in
                        reply,</span></p>

                <p><span id="said_no_02960" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"When you have seen more of
                        this country, I am afraid you will think you have overrated Hartfield. Surry
                        is full of beauties."</span></p>

                <p><span id="said_no_02961" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Oh! yes, I am quite aware of
                        that. It is the garden of England, you know. Surry is the garden of
                        England."</span></p>

                <p><span id="said_no_02962" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Yes; but we must not rest
                        our claims on that distinction. Many counties, I believe, are called the
                        garden of England, as well as Surry."</span></p>

                <p><span id="said_no_02963" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"No, I fancy
                            not,"</span>
                        <span id="said_no_02964" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">replied Mrs. Elton, with
                            a most satisfied smile.</span>
                        <span id="said_no_02965" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"I never heard any
                            county but Surry called so."</span></p>

                <p><span id="said_no_02966" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma was silenced.</span></p>

                <p><span id="said_no_02967" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"My brother and sister
                            have promised us a visit in the spring, or summer at farthest,"</span>
                        <span id="said_no_02968" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">continued Mrs.
                            Elton;</span>
                        <span id="said_no_02969" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"and that will be our
                            time for exploring. While they are with us, we shall explore a great
                            deal, I dare say. They will have their barouche-landau, of course, which
                            holds four perfectly; and therefore, without saying any thing of <em>our</em> carriage, we should be able to explore the
                            different beauties extremely well. They would hardly come in their
                            chaise, I think, at that season of the year. Indeed, when the time draws
                            on, I shall decidedly recommend their bringing the barouche-landau; it
                            will be so very much preferable. When people come into a beautiful
                            country of this sort, you know, Miss Woodhouse, one naturally wishes
                            them to see as much as possible; and Mr. Suckling is extremely fond of
                            exploring. We explored to King's-Weston twice last summer, in that way,
                            most delightfully, just after their first having the barouche-landau.
                            You have many parties of that kind here, I suppose, Miss Woodhouse,
                            every summer?"</span></p>

                <p><span id="said_no_02970" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"No; not immediately here. We
                        are rather out of distance of the very striking beauties which attract the
                        sort of parties you speak of; and we are a very quiet set of people, I
                        believe; more disposed to stay at home than engage in schemes of
                        pleasure."</span></p>

                <p><span id="said_no_02971" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Ah! there is nothing
                            like staying at home for real comfort. Nobody can be more devoted to
                            home than I am. I was quite a proverb for it at Maple Grove. Many a time
                            has Selina said, when she has been going to Bristol,</span>
                        <span id="said_no_02972" class="said" data-toggle="tooltip" title="Mrs. Elton speaking as Mrs. Selina" data-placement="auto top">'I really cannot
                            get this girl to move from the house. I absolutely must go in by myself,
                            though I hate being stuck up in the barouche-landau without a companion;
                            but Augusta, I believe, with her own good-will, would never stir beyond
                            the park paling.'</span>
                        <span id="said_no_02973" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">Many a time has she said
                            so; and yet I am no advocate for entire seclusion. I think, on the
                            contrary, when people shut themselves up entirely from society, it is a
                            very bad thing; and that it is much more advisable to mix in the world
                            in a proper degree, without living in it either too much or too little.
                            I perfectly understand your situation, however, Miss
                            Woodhouse—</span>
                        <span id="said_no_02974" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(looking towards Mr.
                            Woodhouse)</span>
                        <span id="said_no_02975" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">, Your father's state of
                            health must be a great drawback. Why does not he try Bath?—Indeed
                            he should. Let me recommend Bath to you. I assure you I have no doubt of
                            its doing Mr. Woodhouse good."</span></p>

                <p><span id="said_no_02976" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"My father tried it more than
                        once, formerly; but without receiving any benefit; and Mr. Perry, whose
                        name, I dare say, is not unknown to you, does not conceive it would be at
                        all more likely to be useful now."</span></p>

                <p><span id="said_no_02977" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Ah! that's a great pity; for
                        I assure you, Miss Woodhouse, where the waters do agree, it is quite
                        wonderful the relief they give. In my Bath life, I have seen such instances
                        of it! And it is so cheerful a place, that it could not fail of being of use
                        to Mr. Woodhouse's spirits, which, I understand, are sometimes much
                        depressed. And as to its recommendations to <em>you</em>, I
                        fancy I need not take much pains to dwell on them. The advantages of Bath to
                        the young are pretty generally understood. It would be a charming
                        introduction for you, who have lived so secluded a life; and I could
                        immediately secure you some of the best society in the place. A line from me
                        would bring you a little host of acquaintance; and my particular friend,
                        Mrs. Partridge, the lady I have always resided with when in Bath, would be
                        most happy to shew you any attentions, and would be the very person for you
                        to go into public with."</span></p>

                <p><span id="said_no_02978" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">It was as much as Emma could
                        bear, without being impolite.</span>
                    <span id="said_no_02979" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                         The idea of
                        her being indebted to Mrs. Elton for what was called an <em>introduction</em> —of her going into public under the auspices of
                        a friend of Mrs. Elton's— probably some vulgar, dashing widow, who,
                        with the help of a boarder, just made a shift to live!—The dignity of
                        Miss Woodhouse, of Hartfield, was sunk indeed!</span></p>

                <p><span id="said_no_02980" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She restrained herself,
                        however, from any of the reproofs she could have given, and only thanked
                        Mrs. Elton coolly;</span>
                    <span id="said_no_02981" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top"> "but their going to Bath
                        was quite out of the question; and she was not perfectly convinced that the
                        place might suit her better than her father."</span>
                    <span id="said_no_02982" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">And then, to prevent farther
                        outrage and indignation, changed the subject directly.</span></p>

                <p><span id="said_no_02983" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I do not ask whether you are
                        musical, Mrs. Elton. Upon these occasions, a lady's character generally
                        precedes her; and Highbury has long known that you are a superior
                        performer."</span></p>

                <p><span id="said_no_02984" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Oh! no, indeed; I must
                        protest against any such idea. A superior performer!—very far from it,
                        I assure you. Consider from how partial a quarter your information came. I
                        am doatingly fond of music— passionately fond;—and my friends
                        say I am not entirely devoid of taste; but as to any thing else, upon my
                        honour my performance is <em>mediocre</em> to the last degree.
                        You, Miss Woodhouse, I well know, play delightfully. I assure you it has
                        been the greatest satisfaction, comfort, and delight to me, to hear what a
                        musical society I am got into. I absolutely cannot do without music. It is a
                        necessary of life to me; and having always been used to a very musical
                        society, both at Maple Grove and in Bath, it would have been a most serious
                        sacrifice. I honestly said as much to Mr. E. when he was speaking of my
                        future home, and expressing his fears lest the retirement of it should be
                        disagreeable; and the inferiority of the house too— knowing what I had
                        been accustomed to—of course he was not wholly without apprehension.
                        When he was speaking of it in that way, I honestly said that <em>the</em>
                        <em>world</em> I could give up— parties, balls, plays
                        —for I had no fear of retirement. Blessed with so many resources
                        within myself, the world was not necessary to <em>me</em>. I
                        could do very well without it. To those who had no resources it was a
                        different thing; but my resources made me quite independent. And as to
                        smaller-sized rooms than I had been used to, I really could not give it a
                        thought. I hoped I was perfectly equal to any sacrifice of that description.
                        Certainly I had been accustomed to every luxury at Maple Grove; but I did
                        assure him that two carriages were not necessary to my happiness, nor were
                        spacious apartments. 'But,' said I, 'to be quite honest, I do not think I
                        can live without something of a musical society. I condition for nothing
                        else; but without music, life would be a blank to me.'"</span></p>

                <p><span id="said_no_02985" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"We cannot
                            suppose,"</span>
                        <span id="said_no_02986" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma,
                            smiling,</span>
                        <span id="said_no_02987" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"that Mr. Elton would
                            hesitate to assure you of there being a <em>very</em>
                            musical society in Highbury; and I hope you will not find he has
                            outstepped the truth more than may be pardoned, in consideration of the
                            motive."</span></p>

                <p><span id="said_no_02988" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"No, indeed, I have no doubts
                        at all on that head. I am delighted to find myself in such a circle. I hope
                        we shall have many sweet little concerts together. I think, Miss Woodhouse,
                        you and I must establish a musical club, and have regular weekly meetings at
                        your house, or ours. Will not it be a good plan? If <em>we</em> exert ourselves, I think we shall not be long in want of
                        allies. Something of that nature would be particularly desirable for <em>me</em>, as an inducement to keep me in practice; for
                        married women, you know— there is a sad story against them, in
                        general. They are but too apt to give up music."</span></p>

                <p><span id="said_no_02989" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"But you, who are so
                        extremely fond of it —there can be no danger, surely?"</span></p>

                <p><span id="said_no_02990" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"I should hope not; but
                        really when I look around among my acquaintance, I tremble. Selina has
                        entirely given up music— never touches the instrument—though she
                        played sweetly. And the same may be said of Mrs. Jeffereys— Clara
                        Partridge, that was —and of the two Milmans, now Mrs. Bird and Mrs.
                        James Cooper; and of more than I can enumerate. Upon my word it is enough to
                        put one in a fright. I used to be quite angry with Selina; but really I
                        begin now to comprehend that a married woman has many things to call her
                        attention. I believe I was half an hour this morning shut up with my
                        housekeeper."</span></p>

                <p><span id="said_no_02991" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"But every thing of that
                            kind,"</span>
                        <span id="said_no_02992" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma,</span>
                        <span id="said_no_02993" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"will soon be in so
                            regular a train—"</span></p>

                <p><span id="said_no_02994" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Well,"</span>
                        <span id="said_no_02995" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mrs. Elton,
                            laughing,</span>
                        <span id="said_no_02996" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"we shall
                        see."</span></p>

                <p><span id="said_no_02997" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma, finding her so
                        determined upon neglecting her music, had nothing more to say; and, after a
                        moment's pause, Mrs. Elton chose another subject.</span></p>

                <p><span id="said_no_02998" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"We have been calling at
                            Randalls,"</span>
                        <span id="said_no_02999" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_03000" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"and found them both at
                            home; and very pleasant people they seem to be. I like them extremely.
                            Mr. Weston seems an excellent creature— quite a first-rate
                            favourite with me already, I assure you. And <em>she</em>
                            appears so truly good— there is something so motherly and
                            kind-hearted about her, that it wins upon one directly. She was your
                            governess, I think?"</span></p>

                <p><span id="said_no_03001" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma was almost too much
                        astonished to answer; but Mrs. Elton hardly waited for the affirmative
                        before she went on.</span></p>

                <p><span id="said_no_03002" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Having understood as much, I
                        was rather astonished to find her so very lady-like! But she is really quite
                        the gentlewoman."</span></p>

                <p><span id="said_no_03003" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Mrs. Weston's
                            manners,"</span>
                        <span id="said_no_03004" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma,</span>
                        <span id="said_no_03005" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"were always
                            particularly good. Their propriety, simplicity, and elegance, would make
                            them the safest model for any young woman."</span></p>

                <p><span id="said_no_03006" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"And who do you think came in
                        while we were there?"</span></p>

                <p><span id="said_no_03007" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma was quite at a loss. The
                        tone implied some old acquaintance—and how could she possibly
                        guess?</span></p>

                <p><span id="said_no_03008" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Knightley!"</span>
                        <span id="said_no_03009" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">continued Mrs.
                            Elton;</span>
                        <span id="said_no_03010" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Knightley
                            himself!—Was not it lucky?—for, not being within when he
                            called the other day, I had never seen him before; and of course, as so
                            particular a friend of Mr. E.'s, I had a great curiosity. 'My friend
                            Knightley' had been so often mentioned, that I was really impatient to
                            see him; and I must do my caro sposo the justice to say that he need not
                            be ashamed of his friend. Knightley is quite the gentleman. I like him
                            very much. Decidedly, I think, a very gentleman-like
                    man."</span></p>

                <p><span id="said_no_03011" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Happily, it was now time to
                        be gone. They were off; and Emma could breathe.</span></p>

                <p><span id="said_no_03012" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Insufferable
                            woman!"</span>
                        <span id="said_no_03013" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was her immediate
                            exclamation.</span>
                        <span id="said_no_03014" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Worse than I had
                            supposed. Absolutely insufferable! Knightley!—I could not have
                            believed it. Knightley!—never seen him in her life before, and
                            call him Knightley!—and discover that he is a gentleman! A little
                            upstart, vulgar being, with her Mr. E., and her <em>caro</em>
                            <em>sposo</em>, and her resources, and all her airs of
                            pert pretension and underbred finery. Actually to discover that Mr.
                            Knightley is a gentleman! I doubt whether he will return the compliment,
                            and discover her to be a lady. I could not have believed it! And to
                            propose that she and I should unite to form a musical club! One would
                            fancy we were bosom friends! And Mrs. Weston!—Astonished that the
                            person who had brought me up should be a gentlewoman! Worse and worse. I
                            never met with her equal. Much beyond my hopes. Harriet is disgraced by
                            any comparison. Oh! what would Frank Churchill say to her, if he were
                            here? How angry and how diverted he would be! Ah! there I am—
                            thinking of him directly. Always the first person to be thought of! How
                            I catch myself out! Frank Churchill comes as regularly into my
                            mind!"—</span></p>

                <p><span id="said_no_03015" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">All this ran so glibly
                        through her thoughts, that by the time her father had arranged himself,
                        after the bustle of the Eltons' departure, and was ready to speak, she was
                        very tolerably capable of attending.</span></p>

                <p><span id="said_no_03016" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Well, my dear,"</span>
                        <span id="said_no_03017" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he deliberately
                            began,</span>
                        <span id="said_no_03018" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"considering we never
                            saw her before, she seems a very pretty sort of young lady; and I dare
                            say she was very much pleased with you. She speaks a little too quick. A
                            little quickness of voice there is which rather hurts the ear. But I
                            believe I am nice; I do not like strange voices; and nobody speaks like
                            you and poor Miss Taylor. However, she seems a very obliging,
                            pretty-behaved young lady, and no doubt will make him a very good wife.
                            Though I think he had better not have married. I made the best excuses I
                            could for not having been able to wait on him and Mrs. Elton on this
                            happy occasion; I said that I hoped I <em>should</em> in
                            the course of the summer. But I ought to have gone before. Not to wait
                            upon a bride is very remiss. Ah! it shews what a sad invalid I am! But I
                            do not like the corner into Vicarage Lane."</span></p>

                <p><span id="said_no_03019" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I dare say your apologies
                        were accepted, sir. Mr. Elton knows you."</span></p>

                <p><span id="said_no_03020" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Yes: but a young lady—
                        a bride —I ought to have paid my respects to her if possible. It was
                        being very deficient."</span></p>

                <p><span id="said_no_03021" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"But, my dear papa, you are
                        no friend to matrimony; and therefore why should you be so anxious to pay
                        your respects to a <em>bride</em>? It ought to be no
                        recommendation to <em>you</em>. It is encouraging people to
                        marry if you make so much of them."</span></p>

                <p><span id="said_no_03022" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"No, my dear, I never
                        encouraged any body to marry, but I would always wish to pay every proper
                        attention to a lady—and a bride, especially, is never to be neglected.
                        More is avowedly due to <em>her</em>. A bride, you know, my
                        dear, is always the first in company, let the others be who they
                        may."</span></p>

                <p><span id="said_no_03023" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Well, papa, if this is not
                        encouragement to marry, I do not know what is. And I should never have
                        expected you to be lending your sanction to such vanity-baits for poor young
                        ladies."</span></p>

                <p><span id="said_no_03024" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"My dear, you do not
                        understand me. This is a matter of mere common politeness and good-breeding,
                        and has nothing to do with any encouragement to people to marry."</span></p>

                <p><span id="said_no_03025" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma had done. Her father was
                        growing nervous, and could not understand <em>her</em>. Her
                        mind returned to Mrs. Elton's offences, and long, very long, did they occupy
                        her.</span></p>
            
    <div class="footnotes"> </div>
