

     
    
        
                <h3>Chapter XII</h3>

                <p><span id="said_no_00960" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Knightley was to dine
                        with them—rather against the inclination of Mr. Woodhouse, who did not
                        like that any one should share with him in Isabella's first day. Emma's
                        sense of right however had decided it; and besides the consideration of what
                        was due to each brother, she had particular pleasure, from the circumstance
                        of the late disagreement between Mr. Knightley and herself, in procuring him
                        the proper invitation.</span></p>

                <p><span id="said_no_00961" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She hoped</span>
                    <span id="said_no_00962" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        they might
                        now become friends again.</span>
                    <span id="said_no_00963" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She thought</span>
                    <span id="said_no_00964" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        it was time
                        to make up. Making-up indeed would not do. <em>She</em>
                        certainly had not been in the wrong, and <em>he</em> would
                        never own that he had. Concession must be out of the question; but it was
                        time to appear to forget that they had ever quarrelled;</span>
                    <span id="said_no_00965" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and she hoped it might
                        rather assist the restoration of friendship, that when he came into the room
                        she had one of the children with her— the youngest, a nice little girl
                        about eight months old, who was now making her first visit to Hartfield, and
                        very happy to be danced about in her aunt's arms. It did assist; for though
                        he began with grave looks and short questions, he was soon led on to talk of
                        them all in the usual way, and to take the child out of her arms with all
                        the unceremoniousness of perfect amity.</span>
                    <span id="said_no_00966" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma felt</span>
                    <span id="said_no_00967" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        they were
                        friends again;</span>
                    <span id="said_no_00968" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and the conviction giving
                        her at first great satisfaction, and then a little sauciness, she could not
                        help saying, as he was admiring the baby,</span></p>

                <p><span id="said_no_00969" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"What a comfort it is, that
                        we think alike about our nephews and nieces. As to men and women, our
                        opinions are sometimes very different; but with regard to these children, I
                        observe we never disagree."</span></p>

                <p><span id="said_no_00970" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"If you were as much guided
                        by nature in your estimate of men and women, and as little under the power
                        of fancy and whim in your dealings with them, as you are where these
                        children are concerned, we might always think alike."</span></p>

                <p><span id="said_no_00971" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"To be sure— our
                        discordancies must always arise from my being in the wrong."</span></p>

                <p><span id="said_no_00972" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Yes,"</span>
                        <span id="said_no_00973" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he,
                            smiling—</span>
                        <span id="said_no_00974" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"and reason good. I
                            was sixteen years old when you were born."</span></p>

                <p><span id="said_no_00975" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"A material difference
                            then,"</span>
                        <span id="said_no_00976" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">she
                            replied—</span>
                        <span id="said_no_00977" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"and no doubt you were
                            much my superior in judgment at that period of our lives; but does not
                            the lapse of one-and-twenty years bring our understandings a good deal
                            nearer?"</span></p>

                <p><span id="said_no_00978" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Yes— a good deal <em>nearer</em>."</span></p>

                <p><span id="said_no_00979" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"But still, not near enough
                        to give me a chance of being right, if we think differently."</span></p>

                <p><span id="said_no_00980" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"I have still the advantage
                        of you by sixteen years' experience, and by not being a pretty young woman
                        and a spoiled child. Come, my dear Emma, let us be friends, and say no more
                        about it. Tell your aunt, little Emma, that she ought to set you a better
                        example than to be renewing old grievances, and that if she were not wrong
                        before, she is now."</span></p>

                <p><span id="said_no_00981" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"That's true,"</span>
                        <span id="said_no_00982" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">she cried—</span>
                        <span id="said_no_00983" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"very true. Little Emma,
                            grow up a better woman than your aunt. Be infinitely cleverer and not
                            half so conceited. Now, Mr. Knightley, a word or two more, and I have
                            done. As far as good intentions went, we were <em>both</em> right, and I must say that no effects on my side of the
                            argument have yet proved wrong. I only want to know that Mr. Martin is
                            not very, very bitterly disappointed."</span></p>

                <p><span id="said_no_00984" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"A man cannot be more
                        so,"</span>
                    <span id="said_no_00985" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was his short, full
                        answer.</span></p>

                <p><span id="said_no_00986" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Ah!—Indeed I am very
                        sorry.—Come, shake hands with me."</span></p>

                <p><span id="said_no_00987" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">This had just taken place and
                        with great cordiality, when John Knightley made his appearance, and</span>
                    <span id="said_no_00988" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"How d'ye do,
                        George?"</span>
                    <span id="said_no_00989" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and</span>
                    <span id="said_no_00990" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"John, how are
                        you?"</span>
                    <span id="said_no_00991" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">succeeded in the true
                        English style, burying under a calmness that seemed all but indifference,
                        the real attachment which would have led either of them, if requisite, to do
                        every thing for the good of the other.</span></p>

                <p><span id="said_no_00992" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The evening was quiet and
                        conversable, as Mr. Woodhouse declined cards entirely for the sake of
                        comfortable talk with his dear Isabella, and the little party made two
                        natural divisions; on one side he and his daughter; on the other the two Mr.
                        Knightleys; their subjects totally distinct, or very rarely mixing—and
                        Emma only occasionally joining in one or the other.</span></p>

                <p><span id="said_no_00993" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The brothers talked of their
                        own concerns and pursuits, but principally of those of the elder, whose
                        temper was by much the most communicative, and who was always the greater
                        talker. As a magistrate, he had generally some point of law to consult John
                        about, or, at least, some curious anecdote to give; and as a farmer, as
                        keeping in hand the home-farm at Donwell, he had to tell what every field
                        was to bear next year, and to give all such local information as could not
                        fail of being interesting to a brother whose home it had equally been the
                        longest part of his life, and whose attachments were strong. The plan of a
                        drain, the change of a fence, the felling of a tree, and the destination of
                        every acre for wheat, turnips, or spring corn, was entered into with as much
                        equality of interest by John, as his cooler manners rendered possible; and
                        if his willing brother ever left him any thing to inquire about, his
                        inquiries even approached a tone of eagerness.</span></p>

                <p><span id="said_no_00994" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">While they were thus
                        comfortably occupied, Mr. Woodhouse was enjoying a full flow of happy
                        regrets and fearful affection with his daughter.</span></p>

                <p><span id="said_no_00995" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"My poor dear
                            Isabella,"</span>
                        <span id="said_no_00996" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he, fondly taking
                            her hand, and interrupting, for a few moments, her busy labours for some
                            one of her five children—</span>
                        <span id="said_no_00997" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"How long it is, how
                            terribly long since you were here! And how tired you must be after your
                            journey! You must go to bed early, my dear— and I recommend a
                            little gruel to you before you go.—You and I will have a nice
                            basin of gruel together. My dear Emma, suppose we all have a little
                            gruel."</span></p>

                <p><span id="said_no_00998" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma could not suppose any
                        such thing, knowing as she did, that both the Mr. Knightleys were as
                        unpersuadable on that article as herself;—and two basins only were
                        ordered. After a little more discourse in praise of gruel, with some
                        wondering</span>
                    <span id="said_no_00999" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_wood" data-placement="auto top">
                        at its not
                        being taken every evening by every body,</span>
                    <span id="said_no_01000" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he proceeded to say, with an
                        air of grave reflection,</span></p>

                <p><span id="said_no_01001" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"It was an awkward business,
                        my dear, your spending the autumn at South End instead of coming here. I
                        never had much opinion of the sea air."</span></p>

                <p><span id="said_no_01002" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"Mr. Wingfield most
                        strenuously recommended it, sir—or we should not have gone. He
                        recommended it for all the children, but particularly for the weakness in
                        little Bella's throat,—both sea air and bathing."</span></p>

                <p><span id="said_no_01003" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Ah! my dear, but Perry had
                        many doubts about the sea doing her any good; and as to myself, I have been
                        long perfectly convinced, though perhaps I never told you so before, that
                        the sea is very rarely of use to any body. I am sure it almost killed me
                        once."</span></p>

                <p><span id="said_no_01004" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Come, come,"</span>
                        <span id="said_no_01005" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">cried Emma, feeling this
                            to be an unsafe subject,</span>
                        <span id="said_no_01006" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top"> "I must beg you not to
                            talk of the sea. It makes me envious and miserable;—I who have
                            never seen it! South End is prohibited, if you please. My dear Isabella,
                            I have not heard you make one inquiry about Mr. Perry yet; and he never
                            forgets you."</span></p>

                <p><span id="said_no_01007" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"Oh! good Mr. Perry— how
                        is he, sir?"</span></p>

                <p><span id="said_no_01008" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Why, pretty well; but not
                        quite well. Poor Perry is bilious, and he has not time to take care of
                        himself —</span>
                    <span id="said_no_01009" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">he tells me</span>
                    <span id="said_no_01010" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Mr. Woodhouse speaking as Mr. Perry" data-placement="auto top">
                        he has not
                        time to take care of himself—</span>
                    <span id="said_no_01011" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">which is very sad
                        —</span>
                    <span id="said_no_01012" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Mr. Woodhouse speaking as Mr. Perry" data-placement="auto top">
                        but he is
                        always wanted all round the country.</span>
                    <span id="said_no_01013" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">I suppose there is not a man
                        in such practice anywhere. But then there is not so clever a man any
                        where."</span></p>

                <p><span id="said_no_01014" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"And Mrs. Perry and the
                        children, how are they? do the children grow? I have a great regard for Mr.
                        Perry. I hope he will be calling soon. He will be so pleased to see my
                        little ones."</span></p>

                <p><span id="said_no_01015" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"I hope he will be here
                        to-morrow, for I have a question or two to ask him about myself of some
                        consequence. And, my dear, whenever he comes, you had better let him look at
                        little Bella's throat."</span></p>

                <p><span id="said_no_01016" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"Oh! my dear sir, her throat
                        is so much better that I have hardly any uneasiness about it. Either bathing
                        has been of the greatest service to her, or else it is to be attributed to
                        an excellent embrocation of Mr. Wingfield's, which we have been applying at
                        times ever since August."</span></p>

                <p><span id="said_no_01017" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"It is not very likely, my
                        dear, that bathing should have been of use to her—and if I had known
                        you were wanting an embrocation, I would have spoken to —</span></p>

                <p><span id="said_no_01018" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"You seem to me to have
                            forgotten Mrs. and Miss Bates,"</span>
                        <span id="said_no_01019" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma,</span>
                        <span id="said_no_01020" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I have not heard one
                            inquiry after them."</span></p>

                <p><span id="said_no_01021" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"Oh! the good Bateses— I
                        am quite ashamed of myself —but you mention them in most of your
                        letters. I hope they are quite well. Good old Mrs. Bates— I will call
                        upon her to-morrow, and take my children.—They are always so pleased
                        to see my children.—And that excellent Miss Bates!—such thorough
                        worthy people!—How are they, sir?"</span></p>

                <p><span id="said_no_01022" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Why, pretty well, my dear,
                        upon the whole. But poor Mrs. Bates had a bad cold about a month
                        ago."</span></p>

                <p><span id="said_no_01023" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"How sorry I am! But colds
                        were never so prevalent as they have been this autumn.</span>
                    <span id="said_no_01024" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">Mr. Wingfield told me
                        that</span>
                    <span id="said_no_01025" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Isabella Knightley speaking as Mr. Wingfield" data-placement="auto top">
                        he has
                        never known them more general or heavy—except when it has been quite
                        an influenza."</span></p>

                <p><span id="said_no_01026" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"That has been a good deal
                        the case, my dear; but not to the degree you mention.</span>
                    <span id="said_no_01027" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">Perry says that</span>
                    <span id="said_no_01028" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Mr. Woodhouse speaking as Mr. Perry" data-placement="auto top">
                        colds have
                        been very general, but not so heavy as he has very often known them in
                        November. Perry does not call it altogether a sickly season."</span></p>

                <p><span id="said_no_01029" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"No, I do not know that Mr.
                        Wingfield considers it <em>very</em> sickly
                        except—</span></p>

                <p><span id="said_no_01030" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Ah! my poor dear child, the
                        truth is, that in London it is always a sickly season. Nobody is healthy in
                        London, nobody can be. It is a dreadful thing to have you forced to live
                        there! so far off!—and the air so bad!"</span></p>

                <p><span id="said_no_01031" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"No, indeed—<em>we</em> are not at all in a bad air. Our part of London is
                        very superior to most others!—You must not confound us with London in
                        general, my dear sir. The neighbourhood of Brunswick Square is very
                        different from almost all the rest. We are so very airy! I should be
                        unwilling, I own, to live in any other part of the town;—there is
                        hardly any other that I could be satisfied to have my children in: but <em>we</em> are so remarkably airy!—</span>
                    <span id="said_no_01032" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">Mr. Wingfield thinks</span>
                    <span id="said_no_01033" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Isabella Knightley speaking as Mr. Wingfield" data-placement="auto top">
                        the
                        vicinity of Brunswick Square decidedly the most favourable as to
                        air."</span></p>

                <p><span id="said_no_01034" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Ah! my dear, it is not like
                        Hartfield. You make the best of it—but after you have been a week at
                        Hartfield, you are all of you different creatures; you do not look like the
                        same. Now I cannot say, that I think you are any of you looking well at
                        present."</span></p>

                <p><span id="said_no_01035" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"I am sorry to hear you say
                        so, sir; but I assure you, excepting those little nervous head-aches and
                        palpitations which I am never entirely free from anywhere, I am quite well
                        myself; and if the children were rather pale before they went to bed, it was
                        only because they were a little more tired than usual, from their journey
                        and the happiness of coming. I hope you will think better of their looks
                        to-morrow; for I assure you</span>
                    <span id="said_no_01036" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">Mr. Wingfield told me,
                        that</span>
                    <span id="said_no_01037" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Isabella Knightley speaking as Mr. Wingfield" data-placement="auto top">
                        he did not
                        believe he had ever sent us off altogether, in such good case.</span>
                    <span id="said_no_01038" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">I trust, at least, that you
                        do not think Mr. Knightley looking ill,"</span>
                    <span id="said_no_01039" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">turning her eyes with
                        affectionate anxiety towards her husband.</span></p>

                <p><span id="said_no_01040" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Middling, my dear; I cannot
                        compliment you. I think Mr. John Knightley very far from looking
                        well."</span></p>

                <p><span id="said_no_01041" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"What is the matter,
                        sir?—Did you speak to me?"</span>
                    <span id="said_no_01042" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">cried Mr. John Knightley,
                        hearing his own name.</span></p>

                <p><span id="said_no_01043" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"I am sorry to find, my love,
                        that my father does not think you looking well—but I hope it is only
                        from being a little fatigued. I could have wished, however, as you know,
                        that you had seen Mr. Wingfield before you left home."</span></p>

                <p><span id="said_no_01044" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"My dear
                            Isabella,"—</span>
                        <span id="said_no_01045" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">exclaimed he
                            hastily—</span>
                        <span id="said_no_01046" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"pray do not concern
                            yourself about my looks. Be satisfied with doctoring and coddling
                            yourself and the children, and let me look as I chuse."</span></p>

                <p><span id="said_no_01047" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I did not thoroughly
                            understand what you were telling your brother,"</span>
                        <span id="said_no_01048" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">cried Emma,</span>
                        <span id="said_no_01049" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"about your friend Mr.
                            Graham's intending to have a bailiff from Scotland, to look after his
                            new estate. What will it answer? Will not the old prejudice be too
                            strong?"</span></p>

                <p><span id="said_no_01050" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">And she talked in this way so
                        long and successfully that, when forced to give her attention again to her
                        father and sister, she had nothing worse to hear than Isabella's kind
                        inquiry after Jane Fairfax; and Jane Fairfax, though no great favourite with
                        her in general, she was at that moment very happy to assist in
                        praising.</span></p>

                <p><span id="said_no_01051" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"That sweet, amiable Jane
                            Fairfax!"</span>
                        <span id="said_no_01052" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mrs. John
                            Knightley.—</span>
                        <span id="said_no_01053" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"It is so long since I
                            have seen her, except now and then for a moment accidentally in town!
                            What happiness it must be to her good old grandmother and excellent
                            aunt, when she comes to visit them! I always regret excessively on dear
                            Emma's account that she cannot be more at Highbury; but now their
                            daughter is married, I suppose Colonel and Mrs. Campbell will not be
                            able to part with her at all. She would be such a delightful companion
                            for Emma."</span></p>

                <p><span id="said_no_01054" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Woodhouse agreed to it
                        all, but added,</span></p>

                <p><span id="said_no_01055" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Our little friend Harriet
                        Smith, however, is just such another pretty kind of young person. You will
                        like Harriet. Emma could not have a better companion than
                    Harriet."</span></p>

                <p><span id="said_no_01056" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"I am most happy to hear
                        it—but only Jane Fairfax one knows to be so very accomplished and
                        superior!—and exactly Emma's age."</span></p>

                <p><span id="said_no_01057" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">This topic was discussed very
                        happily, and others succeeded of similar moment, and passed away with
                        similar harmony; but the evening did not close without a little return of
                        agitation. The gruel came and supplied a great deal to be said— much
                        praise and many comments— undoubting decision of</span>
                    <span id="said_no_01058" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_wood" data-placement="auto top">
                        its
                        wholesomeness for every constitution,</span>
                    <span id="said_no_01059" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and pretty severe Philippics
                        upon</span>
                    <span id="said_no_01060" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_wood" data-placement="auto top">
                        the many
                        houses where it was never met with tolerable;—</span>
                    <span id="said_no_01061" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">but, unfortunately, among
                        the failures which</span>
                    <span id="said_no_01062" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">the daughter</span>
                    <span id="said_no_01063" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">had to instance, the most
                        recent, and therefore most prominent, was in</span>
                    <span id="said_no_01064" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_isa" data-placement="auto top">
                        her own cook
                        at South End, a young woman hired for the time, who never had been able to
                        understand what she meant by a basin of nice smooth gruel, thin, but not too
                        thin. Often as she had wished for and ordered it, she had never been able to
                        get any thing tolerable.</span>
                    <span id="said_no_01065" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Here was a dangerous
                        opening.</span></p>

                <p><span id="said_no_01066" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Ah!"</span>
                    <span id="said_no_01067" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mr. Woodhouse, shaking
                        his head and fixing his eyes on her with tender concern.—The
                        ejaculation in Emma's ear expressed,</span>
                    <span id="said_no_01068" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.005.nar_emma_wood" data-placement="auto top">
                        "Ah!
                        there is no end of the sad consequences of your going to South End. It does
                        not bear talking of."</span>
                    <span id="said_no_01069" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">And for a little
                        while</span>
                    <span id="said_no_01070" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">she hoped</span>
                    <span id="said_no_01071" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        he would not
                        talk of it,</span>
                    <span id="said_no_01072" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and that a silent rumination
                        might suffice to restore him to the relish of his own smooth gruel. After an
                        interval of some minutes, however, he began with,</span></p>

                <p><span id="said_no_01073" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"I shall always be very sorry
                        that you went to the sea this autumn, instead of coming here."</span></p>

                <p><span id="said_no_01074" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"But why should you be sorry,
                        sir?—I assure you, it did the children a great deal of
                    good."</span></p>

                <p><span id="said_no_01075" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"And, moreover, if you must
                        go to the sea, it had better not have been to South End. South End is an
                        unhealthy place.</span>
                    <span id="said_no_01076" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">Perry</span>
                    <span id="said_no_01077" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Mr. Woodhouse speaking as Mr. Perry" data-placement="auto top">
                        was
                        surprized to hear you had fixed upon South End."</span></p>

                <p><span id="said_no_01078" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"I know there is such an idea
                        with many people, but indeed it is quite a mistake, sir.—We all had
                        our health perfectly well there, never found the least inconvenience from
                        the mud; and</span>
                    <span id="said_no_01079" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">Mr. Wingfield says</span>
                    <span id="said_no_01080" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Isabella Knightley speaking as Mr. Wingfield" data-placement="auto top">
                        it is
                        entirely a mistake to suppose the place unhealthy;</span>
                    <span id="said_no_01081" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">and I am sure he may be
                        depended on, for he thoroughly understands the nature of the air, and his
                        own brother and family have been there repeatedly."</span></p>

                <p><span id="said_no_01082" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"You should have gone to
                        Cromer, my dear, if you went anywhere.—Perry was a week at Cromer
                        once, and</span>
                    <span id="said_no_01083" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">he holds it</span>
                    <span id="said_no_01084" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Mr. Woodhouse speaking as Mr. Perry" data-placement="auto top">
                        to be the
                        best of all the sea-bathing places. A fine open sea,</span>
                    <span id="said_no_01085" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">he says,</span>
                    <span id="said_no_01086" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Mr. Woodhouse speaking as Mr. Perry" data-placement="auto top">
                        and very
                        pure air.</span>
                    <span id="said_no_01087" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">And, by what I understand,
                        you might have had lodgings there quite away from the sea— a quarter
                        of a mile off— very comfortable. You should have consulted
                        Perry."</span></p>

                <p><span id="said_no_01088" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"But, my dear sir, the
                        difference of the journey;—only consider how great it would have
                        been.—An hundred miles, perhaps, instead of forty."</span></p>

                <p><span id="said_no_01089" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Mr. Woodhouse speaking as Mr. Perry" data-placement="auto top">
                        "Ah! my
                        dear,</span>
                    <span id="said_no_01090" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">as Perry says,</span>
                    <span id="said_no_01091" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Mr. Woodhouse speaking as Mr. Perry" data-placement="auto top">
                        where health
                        is at stake, nothing else should be considered; and if one is to travel,
                        there is not much to chuse between forty miles and an hundred.—Better
                        not move at all, better stay in London altogether than travel forty miles to
                        get into a worse air.</span>
                    <span id="said_no_01092" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">This is just what Perry
                        said.</span>
                    <span id="said_no_01093" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Mr. Woodhouse speaking as Mr. Perry" data-placement="auto top">
                        It seemed to
                        him a very ill-judged measure."</span></p>

                <p><span id="said_no_01094" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma's attempts to stop her
                        father had been vain; and when he had reached such a point as this, she
                        could not wonder at her brother-in-law's breaking out.</span></p>

                <p><span id="said_no_01095" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"Mr. Perry,"</span>
                        <span id="said_no_01096" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he, in a voice of
                            very strong displeasure,</span>
                        <span id="said_no_01097" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top"> "would do as well to
                            keep his opinion till it is asked for. Why does he make it any business
                            of his, to wonder at what I do?—at my taking my family to one part
                            of the coast or another?—I may be allowed, I hope, the use of my
                            judgment as well as Mr. Perry.—I want his directions no more than
                            his drugs."</span>
                        <span id="said_no_01098" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He paused—and
                            growing cooler in a moment, added, with only sarcastic dryness,</span>
                        <span id="said_no_01099" class="said" data-toggle="tooltip" title="John Knightley" data-placement="auto top">"If Mr. Perry can tell
                            me how to convey a wife and five children a distance of an hundred and
                            thirty miles with no greater expense or inconvenience than a distance of
                            forty, I should be as willing to prefer Cromer to South End as he could
                            himself."</span></p>

                <p><span id="said_no_01100" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"True, true,"</span>
                        <span id="said_no_01101" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">cried Mr. Knightley,
                            with most ready interposition—</span>
                        <span id="said_no_01102" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"very true. That's a
                            consideration indeed.—But John, as to what I was telling you of my
                            idea of moving the path to Langham, of turning it more to the right that
                            it may not cut through the home meadows, I cannot conceive any
                            difficulty. I should not attempt it, if it were to be the means of
                            inconvenience to the Highbury people, but if you call to mind exactly
                            the present line of the path.... The only way of proving it, however,
                            will be to turn to our maps. I shall see you at the Abbey to-morrow
                            morning I hope, and then we will look them over, and you shall give me
                            your opinion."</span></p>

                <p><span id="said_no_01103" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Woodhouse was rather
                        agitated by such harsh reflections on his friend Perry, to whom he had, in
                        fact, though unconsciously, been attributing many of his own feelings and
                        expressions;—but the soothing attentions of his daughters gradually
                        removed the present evil, and the immediate alertness of one brother, and
                        better recollections of the other, prevented any renewal of it.</span></p>
            
    <div class="footnotes"> </div>
