

     
    
        
                <h3>Chapter XIV</h3>

                <p>Some change of countenance was necessary for each gentleman as they walked into
                    Mrs. Weston's drawing-room;—Mr. Elton must compose his joyous looks, and
                    Mr. John Knightley disperse his ill-humour. Mr. Elton must smile less, and Mr.
                    John Knightley more, to fit them for the place.—Emma only might be as
                    nature prompted, and shew herself just as happy as she was. To her it was real
                    enjoyment to be with the Westons. Mr. Weston was a great favourite, and there
                    was not a creature in the world to whom she spoke with such unreserve, as to his
                    wife; not any one, to whom she related with such conviction of being listened to
                    and understood, of being always interesting and always intelligible, the little
                    affairs, arrangements, perplexities, and pleasures of her father and herself.
                    She could tell nothing of Hartfield, in which Mrs. Weston had not a lively
                    concern; and half an hour's uninterrupted communication of all those little
                    matters on which the daily happiness of private life depends, was one of the
                    first gratifications of each.</p>

                <p><span id="said_no_01216" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">This was a pleasure which
                        perhaps the whole day's visit might not afford, which certainly did not
                        belong to the present half-hour; but the very sight of Mrs. Weston, her
                        smile, her touch, her voice was grateful to Emma, and</span>
                    <span id="said_no_01217" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">she determined</span>
                    <span id="said_no_01218" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        to think as
                        little as possible of Mr. Elton's oddities, or of any thing else unpleasant,
                        and enjoy all that was enjoyable to the utmost.</span></p>

                <p><span id="said_no_01219" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The misfortune of Harriet's
                        cold had been pretty well gone through before her arrival. Mr. Woodhouse had
                        been safely seated long enough to give the history of it, besides all the
                        history of his own and Isabella's coming, and of Emma's being to follow, and
                        had indeed just got to the end of his satisfaction that James should come
                        and see his daughter, when the others appeared, and Mrs. Weston, who had
                        been almost wholly engrossed by her attentions to him, was able to turn away
                        and welcome her dear Emma.</span></p>

                <p><span id="said_no_01220" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma's project of forgetting
                        Mr. Elton for a while made her rather sorry to find, when they had all taken
                        their places, that he was close to her. The difficulty was great of driving
                        his strange insensibility towards Harriet, from her mind, while he not only
                        sat at her elbow, but was continually obtruding his happy countenance on her
                        notice, and solicitously addressing her upon every occasion. Instead of
                        forgetting him, his behaviour was such that she could not avoid the internal
                        suggestion of</span>
                    <span id="said_no_01221" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Can it really be as my
                        brother imagined? can it be possible for this man to be beginning to
                        transfer his affections from Harriet to me?—Absurd and
                        insufferable!"—</span>
                    <span id="said_no_01222" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Yet he would be so anxious
                        for her being perfectly warm, would be so interested about her father, and
                        so delighted with Mrs. Weston; and at last would begin admiring her drawings
                        with so much zeal and so little knowledge as seemed terribly like a would-be
                        lover, and made it some effort with her to preserve her good manners. For
                        her own sake she could not be rude; and for Harriet's, in the hope that all
                        would yet turn out right, she was even positively civil; but it was an
                        effort; especially as something was going on amongst the others, in the most
                        overpowering period of Mr. Elton's nonsense, which she particularly wished
                        to listen to. She heard enough to know that Mr. Weston was giving some
                        information about his son; she heard the words</span>
                    <span id="said_no_01223" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"my son,"</span>
                        <span id="said_no_01224" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and</span>
                        <span id="said_no_01225" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"Frank,"</span>
                        <span id="said_no_01226" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and</span>
                        <span id="said_no_01227" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"my son,"</span>
                    <span id="said_no_01228" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">repeated several times over;
                        and, from a few other half-syllables very much suspected that he was
                        announcing an early visit from his son; but before she could quiet Mr.
                        Elton, the subject was so completely past that any reviving question from
                        her would have been awkward.</span></p>

                <p><span id="said_no_01229" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Now, it so happened that in
                        spite of Emma's resolution of never marrying, there was something in the
                        name, in the idea of Mr. Frank Churchill, which always interested
                        her.</span>
                    <span id="said_no_01230" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She had frequently
                        thought—</span>
                    <span id="said_no_01231" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">especially since his
                        father's marriage with Miss Taylor —</span>
                    <span id="said_no_01232" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_01233" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        if she <em>were</em> to marry, he was the very person to suit her in
                        age, character and condition. He seemed by this connexion between the
                        families, quite to belong to her. She could not but suppose it to be a match
                        that every body who knew them must think of.</span>
                    <span id="said_no_01234" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">That Mr. and Mrs. Weston did
                        think of it, she was very strongly persuaded; and though not meaning to be
                        induced by him, or by any body else, to give up a situation which she
                        believed more replete with good than any she could change it for, she had a
                        great curiosity to see him, a decided intention of finding him pleasant, of
                        being liked by him to a certain degree, and a sort of pleasure in the idea
                        of their being coupled in their friends' imaginations.</span></p>

                <p><span id="said_no_01235" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">With such sensations, Mr.
                        Elton's civilities were dreadfully ill-timed; but she had the comfort of
                        appearing very polite, while feeling very cross—and of</span>
                    <span id="said_no_01236" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">thinking that</span>
                    <span id="said_no_01237" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        the rest of
                        the visit could not possibly pass without bringing forward the same
                        information again, or the substance of it, from the open-hearted Mr.
                        Weston.—</span>
                    <span id="said_no_01238" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">So it proved;—for when
                        happily released from Mr. Elton, and seated by Mr. Weston, at dinner, he
                        made use of the very first interval in the cares of hospitality, the very
                        first leisure from the saddle of mutton, to say to her,</span></p>

                <p><span id="said_no_01239" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"We want only two more to be
                        just the right number. I should like to see two more here,—your pretty
                        little friend, Miss Smith, and my son—and then I should say we were
                        quite complete. I believe you did not hear me telling the others in the
                        drawing-room that we are expecting Frank. I had a letter from him this
                        morning, and he will be with us within a fortnight."</span></p>

                <p><span id="said_no_01240" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma spoke with a very proper
                        degree of pleasure; and fully assented to his proposition of Mr. Frank
                        Churchill and Miss Smith making their party quite complete.</span></p>

                <p><span id="said_no_01241" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"He has been wanting to
                            come to us,"</span>
                        <span id="said_no_01242" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">continued Mr.
                            Weston,</span>
                        <span id="said_no_01243" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"ever since September:
                            every letter has been full of it; but he cannot command his own time. He
                            has those to please who must be pleased, and who (between ourselves) are
                            sometimes to be pleased only by a good many sacrifices. But now I have
                            no doubt of seeing him here about the second week in
                        January."</span></p>

                <p><span id="said_no_01244" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"What a very great pleasure
                        it will be to you! and Mrs. Weston is so anxious to be acquainted with him,
                        that she must be almost as happy as yourself."</span></p>

                <p><span id="said_no_01245" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"Yes, she would be, but
                            that she thinks there will be another put-off. She does not depend upon
                            his coming so much as I do: but she does not know the parties so well as
                            I do. The case, you see, is—(but this is quite between ourselves:
                            I did not mention a syllable of it in the other room. There are secrets
                            in all families, you know)—The case is, that a party of friends
                            are invited to pay a visit at Enscombe in January; and that Frank's
                            coming depends upon their being put off. If they are not put off, he
                            cannot stir. But I know they will, because it is a family that a certain
                            lady, of some consequence, at Enscombe, has a particular dislike to: and
                            though it is thought necessary to invite them once in two or three
                            years, they always are put off when it comes to the point. I have not
                            the smallest doubt of the issue. I am as confident of seeing Frank here
                            before the middle of January, as I am of being here myself: but your
                            good friend there</span>
                        <span id="said_no_01246" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(nodding towards the
                            upper end of the table)</span>
                        <span id="said_no_01247" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">has so few vagaries
                            herself, and has been so little used to them at Hartfield, that she
                            cannot calculate on their effects, as I have been long in the practice
                            of doing."</span></p>

                <p><span id="said_no_01248" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I am sorry there should
                            be any thing like doubt in the case,"</span>
                        <span id="said_no_01249" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">replied Emma;</span>
                        <span id="said_no_01250" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"but am disposed to side
                            with you, Mr. Weston. If you think he will come, I shall think so too;
                            for you know Enscombe."</span></p>

                <p><span id="said_no_01251" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"Yes —I have some right
                        to that knowledge; though I have never been at the place in my
                        life.—She is an odd woman!—But I never allow myself to speak ill
                        of her, on Frank's account; for I do believe her to be very fond of him. I
                        used to think she was not capable of being fond of any body, except herself:
                        but she has always been kind to him (in her way — —allowing for little
                        whims and caprices, and expecting every thing to be as she likes). And it is
                        no small credit, in my opinion, to him, that he should excite such an
                        affection; for, though I would not say it to any body else, she has no more
                        heart than a stone to people in general; and the devil of a
                    temper."</span></p>

                <p><span id="said_no_01252" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma liked the subject so
                        well, that she began upon it, to Mrs. Weston, very soon after their moving
                        into the drawing-room: wishing her joy—yet</span>
                    <span id="said_no_01253" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">observing, that</span>
                    <span id="said_no_01254" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        she knew the
                        first meeting must be rather alarming.</span>— <span id="said_no_01255" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Weston</span>
                    <span id="said_no_01256" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">agreed to it; but</span>
                    <span id="said_no_01257" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">added, that</span>
                    <span id="said_no_01258" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_mrsw" data-placement="auto top">
                        she should be
                        very glad to be secure of undergoing the anxiety of a first meeting at the
                        time talked of:</span>
                    <span id="said_no_01259" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"for I cannot depend upon
                        his coming. I cannot be so sanguine as Mr. Weston. I am very much afraid
                        that it will all end in nothing. Mr. Weston, I dare say, has been telling
                        you exactly how the matter stands?"</span></p>

                <p><span id="said_no_01260" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Yes — —it seems to
                        depend upon nothing but the ill-humour of Mrs. Churchill, which I imagine to
                        be the most certain thing in the world."</span></p>

                <p><span id="said_no_01261" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"My Emma!"</span>
                        <span id="said_no_01262" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">replied Mrs. Weston,
                            smiling,</span>
                        <span id="said_no_01263" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"what is the certainty
                            of caprice?"</span>
                        <span id="said_no_01264" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Then turning to
                            Isabella, who had not been attending before—</span>
                        <span id="said_no_01265" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"You must know, my dear
                            Mrs. Knightley, that we are by no means so sure of seeing Mr. Frank
                            Churchill, in my opinion, as his father thinks. It depends entirely upon
                            his aunt's spirits and pleasure; in short, upon her temper. To
                            you— to my two daughters —I may venture on the truth. Mrs.
                            Churchill rules at Enscombe, and is a very odd-tempered woman; and his
                            coming now, depends upon her being willing to spare
                    him."</span></p>

                <p><span id="said_no_01266" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"Oh, Mrs. Churchill;
                            every body knows Mrs. Churchill,"</span>
                        <span id="said_no_01267" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">replied Isabella:</span>
                        <span id="said_no_01268" class="said" data-toggle="tooltip" title="Isabella Knightley" data-placement="auto top">"and I am sure I never
                            think of that poor young man without the greatest compassion. To be
                            constantly living with an ill-tempered person, must be dreadful. It is
                            what we happily have never known any thing of; but it must be a life of
                            misery. What a blessing, that she never had any children! Poor little
                            creatures, how unhappy she would have made them!"</span></p>

                <p><span id="said_no_01269" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma wished that</span>
                    <span id="said_no_01270" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        she had been
                        alone with Mrs. Weston.</span>
                    <span id="said_no_01271" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She should then have heard
                        more: Mrs. Weston would speak to her, with a degree of unreserve which she
                        would not hazard with Isabella; and, she really believed, would scarcely try
                        to conceal any thing relative to the Churchills from her, excepting those
                        views on the young man, of which her own imagination had already given her
                        such instinctive knowledge. But at present there was nothing more to be
                        said. Mr. Woodhouse very soon followed them into the drawing-room. To be
                        sitting long after dinner, was a confinement that he could not endure.
                        Neither wine nor conversation was any thing to him; and gladly did he move
                        to those with whom he was always comfortable.</span></p>

                <p><span id="said_no_01272" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">While he talked to Isabella,
                        however, Emma found an opportunity of saying,</span></p>

                <p><span id="said_no_01273" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"And so you do not consider
                        this visit from your son as by any means certain. I am sorry for it. The
                        introduction must be unpleasant, whenever it takes place; and the sooner it
                        could be over, the better."</span></p>

                <p><span id="said_no_01274" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"Yes; and every delay makes
                        one more apprehensive of other delays. Even if this family, the
                        Braithwaites, are put off, I am still afraid that some excuse may be found
                        for disappointing us. I cannot bear to imagine any reluctance on his side;
                        but I am sure there is a great wish on the Churchills' to keep him to
                        themselves. There is jealousy. They are jealous even of his regard for his
                        father. In short, I can feel no dependence on his coming, and I wish Mr.
                        Weston were less sanguine."</span></p>

                <p><span id="said_no_01275" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"He ought to
                            come,"</span>
                        <span id="said_no_01276" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma.</span>
                        <span id="said_no_01277" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"If he could stay only a
                            couple of days, he ought to come; and one can hardly conceive a young
                            man's not having it in his power to do as much as that. A young <em>woman</em>, if she fall into bad hands, may be teased,
                            and kept at a distance from those she wants to be with; but one cannot
                            comprehend a young <em>man</em>'s being under such
                            restraint, as not to be able to spend a week with his father, if he
                            likes it."</span></p>

                <p><span id="said_no_01278" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"One ought to be at
                            Enscombe, and know the ways of the family, before one decides upon what
                            he can do,"</span> r<span id="said_no_01279" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">eplied Mrs. Weston.</span>
                        <span id="said_no_01280" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"One ought to use the
                            same caution, perhaps, in judging of the conduct of any one individual
                            of any one family; but Enscombe, I believe, certainly must not be judged
                            by general rules: <em>she</em> is so very unreasonable;
                            and every thing gives way to her."</span></p>

                <p><span id="said_no_01281" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"But she is so fond of the
                        nephew: he is so very great a favourite. Now, according to my idea of Mrs.
                        Churchill, it would be most natural, that while she makes no sacrifice for
                        the comfort of the husband, to whom she owes every thing, while she
                        exercises incessant caprice towards <em>him</em>, she should
                        frequently be governed by the nephew, to whom she owes nothing at
                        all."</span></p>

                <p><span id="said_no_01282" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"My dearest Emma, do not
                        pretend, with your sweet temper, to understand a bad one, or to lay down
                        rules for it: you must let it go its own way. I have no doubt of his having,
                        at times, considerable influence; but it may be perfectly impossible for him
                        to know beforehand <em>when</em> it will be."</span></p>

                <p><span id="said_no_01283" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma listened, and then
                        coolly said,</span>
                    <span id="said_no_01284" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I shall not be satisfied,
                        unless he comes."</span></p>

                <p><span id="said_no_01285" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"He may have a great
                            deal of influence on some points,"</span>
                        <span id="said_no_01286" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">continued Mrs.
                            Weston,</span>
                        <span id="said_no_01287" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"and on others, very
                            little: and among those, on which she is beyond his reach, it is but too
                            likely, may be this very circumstance of his coming away from them to
                            visit us."</span></p>
            
    <div class="footnotes"> </div>
