

     
    
        
                <h3>Chapter III</h3>

                <p><span id="said_no_03630" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">This little explanation with
                        Mr. Knightley gave Emma considerable pleasure. It was one of the agreeable
                        recollections of the ball, which she walked about the lawn the next morning
                        to enjoy.—</span>
                    <span id="said_no_03631" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She was extremely glad
                        that</span>
                    <span id="said_no_03632" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        they had come
                        to so good an understanding respecting the Eltons, and</span>
                    <span id="said_no_03633" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_03634" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        their
                        opinions of both husband and wife were so much alike;</span>
                    <span id="said_no_03635" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">&gt;and his praise of Harriet,
                        his concession in her favour, was peculiarly gratifying. The impertinence of
                        the Eltons, which for a few minutes had threatened to ruin the rest of her
                        evening, had been the occasion of some of its highest satisfactions; and she
                        looked forward to another happy result— the cure of Harriet's
                        infatuation.—From Harriet's manner of speaking of the circumstance
                        before they quitted the ballroom, she had strong hopes. It seemed as if her
                        eyes were suddenly opened, and she were enabled to see that Mr. Elton was
                        not the superior creature she had believed him. The fever was over, and Emma
                        could harbour little fear of the pulse being quickened again by injurious
                        courtesy. She depended on the evil feelings of the Eltons for supplying all
                        the discipline of pointed neglect that could be farther
                        requisite.—</span>
                    <span id="said_no_03636" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Harriet
                        rational, Frank Churchill not too much in love, and Mr. Knightley not
                        wanting to quarrel with her, how very happy a summer must be before
                        her!</span></p>

                <p><span id="said_no_03637" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She was not to see Frank
                        Churchill this morning.</span>
                    <span id="said_no_03638" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He had told her that</span>
                    <span id="said_no_03639" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        he could not
                        allow himself the pleasure of stopping at Hartfield, as he was to be at home
                        by the middle of the day.</span>
                    <span id="said_no_03640" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She did not regret
                        it.</span></p>

                <p><span id="said_no_03641" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Having arranged all these
                        matters, looked them through, and put them all to rights, she was just
                        turning to the house with spirits freshened up for the demands of the two
                        little boys, as well as of their grandpapa, when the great iron sweep-gate
                        opened, and two persons entered whom she had never less expected to see
                        together—</span>
                    <span id="said_no_03642" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Frank
                        Churchill, with Harriet leaning on his arm —actually
                        Harriet!—</span>
                    <span id="said_no_03643" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">A moment sufficed to
                        convince her that something extraordinary had happened. Harriet looked white
                        and frightened, and he was trying to cheer her.—The iron gates and the
                        front-door were not twenty yards asunder;—they were all three soon in
                        the hall, and Harriet immediately sinking into a chair fainted
                    away.</span></p>

                <p><span id="said_no_03644" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">A young lady who faints, must
                        be recovered; questions must be answered, and surprizes be explained. Such
                        events are very interesting, but the suspense of them cannot last long. A
                        few minutes made Emma acquainted with the whole.</span></p>

                <p><span id="said_no_03645" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Miss Smith, and Miss
                        Bickerton, another parlour boarder at Mrs. Goddard's, who had been also at
                        the ball, had walked out together, and taken a road, the Richmond road,
                        which, though apparently public enough for safety, had led them into
                        alarm.—About half a mile beyond Highbury, making a sudden turn, and
                        deeply shaded by elms on each side, it became for a considerable stretch
                        very retired; and when the young ladies had advanced some way into it, they
                        had suddenly perceived at a small distance before them, on a broader patch
                        of greensward by the side, a party of gipsies. A child on the watch, came
                        towards them to beg; and Miss Bickerton, excessively frightened, gave a
                        great scream, and calling on Harriet to follow her, ran up a steep bank,
                        cleared a slight hedge at the top, and made the best of her way by a short
                        cut back to Highbury. But poor Harriet could not follow. She had suffered
                        very much from cramp after dancing, and her first attempt to mount the bank
                        brought on such a return of it as made her absolutely powerless— and
                        in this state, and exceedingly terrified, she had been obliged to
                        remain.</span></p>

                <p><span id="said_no_03646" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">How the trampers might have
                        behaved, had the young ladies been more courageous, must be doubtful; but
                        such an invitation for attack could not be resisted; and Harriet was soon
                        assailed by half a dozen children, headed by a stout woman and a great boy,
                        all clamorous, and impertinent in look, though not absolutely in
                        word.—More and more frightened, she immediately promised them money,
                        and taking out her purse, gave them a shilling, and begged them not to want
                        more, or to use her ill.—She was then able to walk, though but slowly,
                        and was moving away—but her terror and her purse were too tempting,
                        and she was followed, or rather surrounded, by the whole gang, demanding
                        more.</span></p>

                <p><span id="said_no_03647" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">In this state Frank Churchill
                        had found her, she trembling and conditioning, they loud and
                        insolent.</span>
                    <span id="said_no_03648" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        By a most
                        fortunate chance his leaving Highbury had been delayed so as to bring him to
                        her assistance at this critical moment. The pleasantness of the morning had
                        induced him to walk forward, and leave his horses to meet him by another
                        road, a mile or two beyond Highbury— and happening to have borrowed a
                        pair of scissors the night before of Miss Bates, and to have forgotten to
                        restore them, he had been obliged to stop at her door, and go in for a few
                        minutes: he was therefore later than he had intended; and being on foot, was
                        unseen by the whole party till almost close to them. The terror which the
                        woman and boy had been creating in Harriet was then their own
                        portion.</span>
                    <span id="said_no_03649" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        He had left
                        them completely frightened; and Harriet eagerly clinging to him, and hardly
                        able to speak, had just strength enough to reach Hartfield, before her
                        spirits were quite overcome. It was his idea to bring her to Hartfield: he
                        had thought of no other place.</span></p>

                <p><span id="said_no_03650" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">This was the amount of the
                        whole story,—of his communication and of Harriet's as soon as she had
                        recovered her senses and speech.—</span>
                    <span id="said_no_03651" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        He dared not
                        stay longer than to see her well; these several delays left him not another
                        minute to lose;</span>
                    <span id="said_no_03652" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and</span>
                    <span id="said_no_03653" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma engaging to
                        give</span>
                    <span id="said_no_03654" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">assurance of her safety to
                        Mrs. Goddard, and</span>
                    <span id="said_no_03655" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">notice of</span>
                    <span id="said_no_03656" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        there being
                        such a set of people in the neighbourhood to Mr. Knightley,</span>
                    <span id="said_no_03657" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he set off, with all the
                        grateful blessings that she could utter for her friend and
                    herself.</span></p>

                <p><span id="said_no_03658" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Such an
                        adventure as this,—a fine young man and a lovely young woman thrown
                        together in such a way, could hardly fail of suggesting certain ideas to the
                        coldest heart and the steadiest brain.</span>
                    <span id="said_no_03659" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">So Emma thought,</span>
                    <span id="said_no_03660" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">at least.</span>
                    <span id="said_no_03661" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Could a
                        linguist, could a grammarian, could even a mathematician have seen what she
                        did, have witnessed their appearance together, and heard their history of
                        it, without feeling that circumstances had been at work to make them
                        peculiarly interesting to each other?—How much more must an imaginist,
                        like herself, be on fire with speculation and foresight!—</span>
                    <span id="said_no_03662" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">especially with such a
                        groundwork of anticipation as her mind had already made.</span></p>

                <p><span id="said_no_03663" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        It was a very
                        extraordinary thing! Nothing of the sort had ever occurred before to any
                        young ladies in the place, within her memory; no rencontre, no alarm of the
                        kind;—and now it had happened to the very person, and at the very
                        hour, when the other very person was chancing to pass by to rescue
                        her!—It certainly was very extraordinary!—</span>
                    <span id="said_no_03664" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">And knowing, as she did, the
                        favourable state of mind of each at this period, it struck her the
                        more.</span>
                    <span id="said_no_03665" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        He was
                        wishing to get the better of his attachment to herself, she just recovering
                        from her mania for Mr. Elton. It seemed as if every thing united to promise
                        the most interesting consequences. It was not possible that the occurrence
                        should not be strongly recommending each to the other.</span></p>

                <p><span id="said_no_03666" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">In the few minutes'
                        conversation which she had yet had with him, while Harriet had been
                        partially insensible, he had spoken of her terror, her naivete, her fervour
                        as she seized and clung to his arm, with a sensibility amused and delighted;
                        and just at last, after Harriet's own account had been given, he had
                        expressed his indignation at the abominable folly of Miss Bickerton in the
                        warmest terms.</span>
                    <span id="said_no_03667" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Every thing
                        was to take its natural course, however, neither impelled nor assisted. She
                        would not stir a step, nor drop a hint. No, she had had enough of
                        interference. There could be no harm in a scheme, a mere passive scheme. It
                        was no more than a wish. Beyond it she would on no account
                    proceed.</span></p>

                <p><span id="said_no_03668" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma's first resolution was
                        to keep her father from the knowledge of what had passed,—aware of the
                        anxiety and alarm it would occasion: but she soon felt that concealment must
                        be impossible. Within half an hour it was known all over Highbury. It was
                        the very event to engage those who talk most, the young and the low; and all
                        the youth and servants in the place were soon in the happiness of frightful
                        news. The last night's ball seemed lost in the gipsies. Poor</span>
                    <span id="said_no_03669" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Woodhouse</span>
                    <span id="said_no_03670" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">trembled as he sat, and, as
                        Emma had foreseen,</span>
                    <span id="said_no_03671" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">would scarcely be satisfied
                        without</span>
                    <span id="said_no_03672" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_wood" data-placement="auto top">
                        their
                        promising never to go beyond the shrubbery again.</span>
                    <span id="said_no_03673" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">It was some comfort to him
                        that many inquiries after himself and Miss Woodhouse (for his neighbours
                        knew that he loved to be inquired after), as well as Miss Smith, were coming
                        in during the rest of the day; and</span>
                    <span id="said_no_03674" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he had the pleasure of
                        returning for answer, that</span>
                    <span id="said_no_03675" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_wood" data-placement="auto top">
                        they were all
                        very indifferent—</span>
                    <span id="said_no_03676" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">which, though not exactly
                        true, for she was perfectly well, and Harriet not much otherwise, Emma would
                        not interfere with. She had an unhappy state of health in general for the
                        child of such a man, for she hardly knew what indisposition was; and if he
                        did not invent illnesses for her, she could make no figure in a
                        message.</span></p>

                <p><span id="said_no_03677" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The gipsies did not wait for
                        the operations of justice; they took themselves off in a hurry. The young
                        ladies of Highbury might have walked again in safety before their panic
                        began, and the whole history dwindled soon into a matter of little
                        importance but to Emma and her nephews:—in her imagination it
                        maintained its ground, and</span>
                    <span id="said_no_03678" class="said" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">Henry and John were
                        still asking every day for</span>
                    <span id="said_no_03679" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_henryjohnjr" data-placement="auto top">
                        the
                        story of Harriet and the gipsies,</span>
                    <span id="said_no_03680" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and still tenaciously
                        setting her right if she varied in the slightest particular from the
                        original recital.</span></p>
            
    <div class="footnotes"> </div>
