

     
    
        
                <h3>Chapter II</h3>

                <p><span id="said_no_03483" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">No misfortune occurred, again
                        to prevent the ball. The day approached, the day arrived; and after a
                        morning of some anxious watching, Frank Churchill, in all the certainty of
                        his own self, reached Randalls before dinner, and every thing was
                        safe.</span></p>

                <p><span id="said_no_03484" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">No second meeting had there
                        yet been between him and Emma. The room at the Crown was to witness
                        it;—but it would be better than a common meeting in a crowd. Mr.
                        Weston had been so very earnest in his entreaties for her arriving there as
                        soon as possible after themselves, for the purpose of taking her opinion as
                        to the propriety and comfort of the rooms before any other persons came,
                        that she could not refuse him, and must therefore spend some quiet interval
                        in the young man's company. She was to convey Harriet, and they drove to the
                        Crown in good time, the Randalls party just sufficiently before
                    them.</span></p>

                <p><span id="said_no_03485" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Frank Churchill seemed to
                        have been on the watch; and though he did not say much, his eyes declared
                        that he meant to have a delightful evening. They all walked about together,
                        to see that every thing was as it should be; and within a few minutes were
                        joined by the contents of another carriage, which Emma could not hear the
                        sound of at first, without great surprize.</span>
                    <span id="said_no_03486" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"So unreasonably
                        early!"</span>
                    <span id="said_no_03487" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">she was going to exclaim;
                        but she presently found that it was a family of old friends, who were
                        coming, like herself, by particular desire, to help Mr. Weston's judgment;
                        and they were so very closely followed by another carriage of cousins, who
                        had been entreated to come early with the same distinguishing earnestness,
                        on the same errand, that it seemed as if half the company might soon be
                        collected together for the purpose of preparatory inspection.</span></p>

                <p><span id="said_no_03488" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma perceived that her taste
                        was not the only taste on which Mr. Weston depended, and felt, that to be
                        the favourite and intimate of a man who had so many intimates and
                        confidantes, was not the very first distinction in the scale of
                        vanity.</span>
                    <span id="said_no_03489" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        She liked his
                        open manners, but a little less of open-heartedness would have made him a
                        higher character.—General benevolence, but not general friendship,
                        made a man what he ought to be.—She could fancy such a man.</span>
                </p>

                <p>
                    <span id="said_no_03490" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The whole party walked
                        about, and looked, and praised again; and then, having nothing else to do,
                        formed a sort of half-circle round the fire, to observe in their various
                        modes, till other subjects were started, that, though <em>May</em>, a fire in the evening was still very pleasant.</span></p>

                <p><span id="said_no_03491" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma found that it was not
                        Mr. Weston's fault that the number of privy councillors was not yet larger.
                        They had stopped at Mrs. Bates's door to offer the use of their carriage,
                        but the aunt and niece were to be brought by the Eltons.</span></p>

                <p><span id="said_no_03492" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Frank was standing by her,
                        but not steadily; there was a restlessness, which shewed a mind not at ease.
                        He was looking about, he was going to the door, he was watching for the
                        sound of other carriages,—impatient to begin, or afraid of being
                        always near her.</span></p>

                <p><span id="said_no_03493" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Elton was spoken
                        of.</span>
                    <span id="said_no_03494" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"I think she must be
                            here soon,"</span>
                        <span id="said_no_03495" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he.</span>
                        <span id="said_no_03496" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"I have a great
                            curiosity to see Mrs. Elton, I have heard so much of her. It cannot be
                            long, I think, before she comes."</span></p>

                <p><span id="said_no_03497" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">A carriage was heard. He was
                        on the move immediately; but coming back, said,</span></p>

                <p><span id="said_no_03498" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"I am forgetting that I am
                        not acquainted with her. I have never seen either Mr. or Mrs. Elton. I have
                        no business to put myself forward."</span></p>

                <p><span id="said_no_03499" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. and Mrs. Elton appeared;
                        and all the smiles and the proprieties passed.</span></p>

                <p><span id="said_no_03500" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"But Miss Bates and Miss
                            Fairfax!"</span>
                        <span id="said_no_03501" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mr. Weston, looking
                            about.</span>
                        <span id="said_no_03502" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"We thought you were to
                            bring them."</span></p>

                <p><span id="said_no_03503" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The mistake had been slight.
                        The carriage was sent for them now.</span>
                    <span id="said_no_03504" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma longed to know</span>
                    <span id="said_no_03505" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        what Frank's
                        first opinion of Mrs. Elton might be; how he was affected by the studied
                        elegance of her dress, and her smiles of graciousness.</span>
                    <span id="said_no_03506" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He was immediately
                        qualifying himself to form an opinion, by giving her very proper attention,
                        after the introduction had passed.</span></p>

                <p><span id="said_no_03507" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">In a few minutes the carriage
                        returned.—Somebody talked of rain.—</span>
                    <span id="said_no_03508" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"I will see that there
                            are umbrellas, sir,"</span>
                        <span id="said_no_03509" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Frank to his
                            father:</span>
                        <span id="said_no_03510" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Miss Bates must not be
                            forgotten:"</span>
                    <span id="said_no_03511" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and away he went. Mr. Weston
                        was following; but Mrs. Elton detained him, to gratify him by her opinion of
                        his son; and so briskly did she begin, that the young man himself, though by
                        no means moving slowly, could hardly be out of hearing.</span></p>

                <p><span id="said_no_03512" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"A very fine young man
                        indeed, Mr. Weston. You know I candidly told you I should form my own
                        opinion; and I am happy to say that I am extremely pleased with
                        him.—You may believe me. I never compliment. I think him a very
                        handsome young man, and his manners are precisely what I like and
                        approve— so truly the gentleman, without the least conceit or
                        puppyism. You must know I have a vast dislike to puppies— quite a
                        horror of them. They were never tolerated at Maple Grove. Neither Mr.
                        Suckling nor me had ever any patience with them; and we used sometimes to
                        say very cutting things! Selina, who is mild almost to a fault, bore with
                        them much better."</span></p>

                <p><span id="said_no_03513" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">While she talked of his son,
                        Mr. Weston's attention was chained; but when she got to Maple Grove, he
                        could recollect that there were ladies just arriving to be attended to, and
                        with happy smiles must hurry away.</span></p>

                <p><span id="said_no_03514" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Elton turned to Mrs.
                        Weston.</span>
                    <span id="said_no_03515" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"I have no doubt of its
                        being our carriage with Miss Bates and Jane. Our coachman and horses are so
                        extremely expeditious!—I believe we drive faster than any
                        body.—What a pleasure it is to send one's carriage for a
                        friend!—I understand you were so kind as to offer, but another time it
                        will be quite unnecessary. You may be very sure I shall always take care of
                            <em>them</em>."</span></p>

                <p><span id="said_no_03516" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Miss Bates and Miss Fairfax,
                        escorted by the two gentlemen, walked into the room; and Mrs. Elton seemed
                        to think it as much her duty as Mrs. Weston's to receive them. Her gestures
                        and movements might be understood by any one who looked on like Emma; but
                        her words, every body's words, were soon lost under the incessant flow of
                        Miss Bates, who came in talking, and had not finished her speech under many
                        minutes after her being admitted into the circle at the fire. As the door
                        opened she was heard,</span></p>

                <p><span id="said_no_03517" class="said" data-toggle="tooltip" title="Miss Bates" data-placement="auto top">"So very obliging of
                            you!—No rain at all. Nothing to signify. I do not care for myself.
                            Quite thick shoes. And Jane declares —Well!—</span>
                        <span id="said_no_03518" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(as soon as she was
                            within the door)</span>
                        <span id="said_no_03519" class="said" data-toggle="tooltip" title="Miss Bates" data-placement="auto top"> Well! This is brilliant
                            indeed!—This is admirable!—Excellently contrived, upon my
                            word. Nothing wanting. Could not have imagined it.—So well lighted
                            up!—Jane, Jane, look!—did you ever see any thing? Oh! Mr.
                            Weston, you must really have had Aladdin's lamp. Good Mrs. Stokes would
                            not know her own room again. I saw her as I came in; she was standing in
                            the entrance. 'Oh! Mrs. Stokes,' said I—but I had not time for
                            more."</span>
                        <span id="said_no_03520" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She was now met by Mrs.
                            Weston.—</span>
                        <span id="said_no_03521" class="said" data-toggle="tooltip" title="Miss Bates" data-placement="auto top">"Very well, I thank you,
                            ma'am. I hope you are quite well. Very happy to hear it. So afraid you
                            might have a headache!—seeing you pass by so often, and knowing
                            how much trouble you must have. Delighted to hear it indeed. Ah! dear
                            Mrs. Elton, so obliged to you for the carriage!—excellent time.
                            Jane and I quite ready. Did not keep the horses a moment. Most
                            comfortable carriage.—Oh! and I am sure our thanks are due to you,
                            Mrs. Weston, on that score. Mrs. Elton had most kindly sent Jane a note,
                            or we should have been.—But two such offers in one
                            day!—Never were such neighbours. I said to my mother, 'Upon my
                            word, ma'am—.' Thank you, my mother is remarkably well. Gone to
                            Mr. Woodhouse's. I made her take her shawl—for the evenings are
                            not warm — —her large new shawl — Mrs. Dixon's
                            wedding-present.—So kind of her to think of my mother! Bought at
                            Weymouth, you know— Mr. Dixon's choice.</span>
                        <span id="said_no_03522" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Miss Bates speaking as Jane Fairfax" data-placement="auto top">
                            There
                            were three others,</span>
                        <span id="said_no_03523" class="said" data-toggle="tooltip" title="Miss Bates" data-placement="auto top">Jane says,</span>
                        <span id="said_no_03524" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Miss Bates speaking as Jane Fairfax" data-placement="auto top">
                            which
                            they hesitated about some time. Colonel Campbell rather preferred an
                            olive.</span>
                        <span id="said_no_03525" class="said" data-toggle="tooltip" title="Miss Bates" data-placement="auto top">My dear Jane, are you
                            sure you did not wet your feet?—It was but a drop or two, but I am
                            so afraid:—but Mr. Frank Churchill was so extremely —and
                            there was a mat to step upon— —I shall never forget his extreme
                            politeness.—Oh! Mr. Frank Churchill, I must tell you my mother's
                            spectacles have never been in fault since; the rivet never came out
                            again. My mother often talks of your good-nature. Does not she,
                            Jane?—Do not we often talk of Mr. Frank Churchill?—Ah!
                            here's Miss Woodhouse.—Dear Miss Woodhouse, how do you
                            do?—Very well I thank you, quite well. This is meeting quite in
                            fairy-land!—Such a transformation!—Must not compliment, I
                            know</span>
                        <span id="said_no_03526" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(eyeing Emma most
                            complacently)—</span>
                        <span id="said_no_03527" class="said" data-toggle="tooltip" title="Miss Bates" data-placement="auto top">that would be
                            rude—but upon my word, Miss Woodhouse, you do look— how do
                            you like Jane's hair?—You are a judge.—She did it all
                            herself. Quite wonderful how she does her hair!—No hairdresser
                            from London I think could.—Ah! Dr. Hughes I declare— and
                            Mrs. Hughes. Must go and speak to Dr. and Mrs. Hughes for a
                            moment.—How do you do? How do you do?—Very well, I thank
                            you. This is delightful, is not it?—Where's dear Mr.
                            Richard?—Oh! there he is. Don't disturb him. Much better employed
                            talking to the young ladies. How do you do, Mr. Richard?—I saw you
                            the other day as you rode through the town— Mrs. Otway, I
                            protest!—and good Mr. Otway, and Miss Otway and Miss
                            Caroline.—Such a host of friends!—and Mr. George and Mr.
                            Arthur!—How do you do? How do you all do?—Quite well, I am
                            much obliged to you. Never better.—Don't I hear another
                            carriage?—Who can this be?—very likely the worthy
                            Coles.—Upon my word, this is charming to be standing about among
                            such friends! And such a noble fire!—I am quite roasted. No
                            coffee, I thank you, for me— never take coffee.—A little tea
                            if you please, sir, by and bye,—no hurry— Oh! here it comes.
                            Every thing so good!"</span></p>

                <p><span id="said_no_03528" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Frank Churchill returned to
                        his station by Emma; and as soon as Miss Bates was quiet, she found herself
                        necessarily overhearing the discourse of Mrs. Elton and Miss Fairfax, who
                        were standing a little way behind her.—He was thoughtful. Whether he
                        were overhearing too, she could not determine. After a good many compliments
                        to Jane on her dress and look, compliments very quietly and properly taken,
                        Mrs. Elton was evidently wanting to be complimented herself—and it
                        was,</span>
                    <span id="said_no_03529" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"How do you like my
                            gown?—How do you like my trimming?—How has Wright done my
                            hair?"—</span>
                        <span id="said_no_03530" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">with many other relative
                            questions, all answered with patient politeness. Mrs. Elton then
                            said,</span>
                        <span id="said_no_03531" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Nobody can think less
                            of dress in general than I do—but upon such an occasion as this,
                            when every body's eyes are so much upon me, and in compliment to the
                            Westons— who I have no doubt are giving this ball chiefly to do me
                            honour —I would not wish to be inferior to others. And I see very
                            few pearls in the room except mine.—So Frank Churchill is a
                            capital dancer, I understand.—We shall see if our styles
                            suit.—A fine young man certainly is Frank Churchill. I like him
                            very well."</span></p>

                <p><span id="said_no_03532" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">At this moment Frank began
                        talking so vigorously, that Emma could not but imagine he had overheard his
                        own praises, and did not want to hear more;—and the voices of the
                        ladies were drowned for a while, till another suspension brought Mrs.
                        Elton's tones again distinctly forward.—Mr. Elton had just joined
                        them, and his wife was exclaiming,</span></p>

                <p><span id="said_no_03533" class="said" data-toggle="tooltip" title="Mrs. Elton" data-placement="auto top">"Oh! you have found us out at
                        last, have you, in our seclusion?—I was this moment telling Jane, I
                        thought you would begin to be impatient for tidings of us."</span></p>

                <p><span id="said_no_03534" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Jane!"—</span>
                        <span id="said_no_03535" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">repeated Frank
                            Churchill, with a look of surprize and displeasure.—</span>
                        <span id="said_no_03536" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"That is easy—but
                            Miss Fairfax does not disapprove it, I suppose."</span></p>

                <p><span id="said_no_03537" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"How do you like Mrs.
                        Elton?"</span>
                    <span id="said_no_03538" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma in a
                        whisper.</span></p>

                <p><span id="said_no_03539" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Not at all."</span></p>

                <p><span id="said_no_03540" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"You are
                    ungrateful."</span></p>

                <p><span id="said_no_03541" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Ungrateful!—What
                            do you mean?"</span>
                        <span id="said_no_03542" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Then changing from a
                            frown to a smile—</span>
                        <span id="said_no_03543" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"No, do not tell
                            me— I do not want to know what you mean.—Where is my
                            father?—When are we to begin dancing?"</span></p>

                <p><span id="said_no_03544" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma could hardly understand
                        him; he seemed in an odd humour. He walked off to find his father, but was
                        quickly back again with both Mr. and Mrs. Weston. He had met with them in a
                        little perplexity, which must be laid before Emma.</span>
                    <span id="said_no_03545" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">It had just occurred to
                        Mrs. Weston that</span>
                    <span id="said_no_03546" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_mrsw" data-placement="auto top">
                        Mrs. Elton
                        must be asked to begin the ball; that she would expect it; which interfered
                        with all their wishes of giving Emma that distinction.—</span>
                    <span id="said_no_03547" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma heard the sad truth
                        with fortitude.</span></p>

                <p><span id="said_no_03548" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"And what are we to do
                            for a proper partner for her?"</span>
                        <span id="said_no_03549" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mr. Weston.</span>
                        <span id="said_no_03550" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"She will think Frank
                            ought to ask her."</span></p>

                <p><span id="said_no_03551" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Frank turned instantly to
                        Emma, to claim her former promise; and</span>
                    <span id="said_no_03552" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">boasted himself</span>
                    <span id="said_no_03553" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        an engaged
                        man,</span>
                    <span id="said_no_03554" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">which his father looked his
                        most perfect approbation of—and it then appeared that Mrs. Weston was
                        wanting <em>him</em> to dance with Mrs. Elton himself, and
                        that their business was to help to persuade him into it, which was done
                        pretty soon.—Mr. Weston and Mrs. Elton led the way, Mr. Frank
                        Churchill and Miss Woodhouse followed. Emma must submit to stand second to
                        Mrs. Elton, though she had always considered the ball as peculiarly for
                        her.</span>
                    <span id="said_no_03555" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        It was almost
                        enough to make her think of marrying.</span>
                </p>

                <p><span id="said_no_03556" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs.Elton had undoubtedly the
                        advantage, at this time, in vanity completely gratified; for though she had
                        intended to begin with Frank Churchill, she could not lose by the change.
                        Mr. Weston might be his son's superior.—In spite of this little rub,
                        however, Emma was smiling with enjoyment, delighted to see the respectable
                        length of the set as it was forming, and to feel that she had so many hours
                        of unusual festivity before her.—She was more disturbed by Mr.
                        Knightley's not dancing than by any thing else.—</span>
                    <span id="said_no_03557" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        There he was,
                        among the standers-by, where he ought not to be; he ought to be
                        dancing,—not classing himself with the husbands, and fathers, and
                        whist-players, who were pretending to feel an interest in the dance till
                        their rubbers were made up —so young as he looked!—He could not
                        have appeared to greater advantage perhaps anywhere, than where he had
                        placed himself.</span>
                    <span id="said_no_03558" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        His tall,
                        firm, upright figure, among the bulky forms and stooping shoulders of the
                        elderly men, was such as Emma felt must draw every body's eyes;</span>
                    <span id="said_no_03559" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and,</span>
                    <span id="said_no_03560" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        excepting her
                        own partner, there was not one among the whole row of young men who could be
                        compared with him.—</span>
                    <span id="said_no_03561" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        He moved a
                        few steps nearer, and those few steps were enough to prove in how
                        gentlemanlike a manner, with what natural grace, he must have danced, would
                        he but take the trouble.—</span>
                    <span id="said_no_03562" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Whenever she caught his eye,
                        she forced him to smile; but in general he was looking grave.</span>
                    <span id="said_no_03563" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She wished</span>
                    <span id="said_no_03564" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        he could love
                        a ballroom better, and could like Frank Churchill better.—</span>
                    <span id="said_no_03565" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He seemed often observing
                        her.</span>
                    <span id="said_no_03566" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        She must not
                        flatter herself that he thought of her dancing, but if he were criticising
                        her behaviour, she did not feel afraid. There was nothing like flirtation
                        between her and her partner. They seemed more like cheerful, easy friends,
                        than lovers. That Frank Churchill thought less of her than he had done, was
                        indubitable.</span></p>

                <p><span id="said_no_03567" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The ball proceeded
                        pleasantly. The anxious cares, the incessant attentions of Mrs. Weston, were
                        not thrown away. Every body seemed happy; and the praise of being a
                        delightful ball, which is seldom bestowed till after a ball has ceased to
                        be, was repeatedly given in the very beginning of the existence of this. Of
                        very important, very recordable events, it was not more productive than such
                        meetings usually are. There was one, however, which Emma thought something
                        of.—The two last dances before supper were begun, and Harriet had no
                        partner;—</span>
                    <span id="said_no_03568" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        the only
                        young lady sitting down;—</span>
                    <span id="said_no_03569" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and so equal had been
                        hitherto the number of dancers, that</span>
                    <span id="said_no_03570" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        how there
                        could be any one disengaged</span>
                    <span id="said_no_03571" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was the wonder!—But
                        Emma's wonder lessened soon afterwards, on seeing Mr. Elton sauntering
                        about.</span>
                    <span id="said_no_03572" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        He would not
                        ask Harriet to dance if it were possible to be avoided: she was sure he
                        would not—</span>
                    <span id="said_no_03573" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and she was expecting him
                        every moment to escape into the card-room.</span></p>

                <p><span id="said_no_03574" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Escape, however, was not his
                        plan. He came to the part of the room where the sitters-by were collected,
                        spoke to some, and walked about in front of them, as if to shew his liberty,
                        and his resolution of maintaining it. He did not omit being sometimes
                        directly before Miss Smith, or speaking to those who were close to
                        her.—Emma saw it. She was not yet dancing; she was working her way up
                        from the bottom, and had therefore leisure to look around, and by only
                        turning her head a little she saw it all. When she was half-way up the set,
                        the whole group were exactly behind her, and she would no longer allow her
                        eyes to watch; but Mr. Elton was so near, that she heard every syllable of a
                        dialogue which just then took place between him and Mrs. Weston; and she
                        perceived that his wife, who was standing immediately above her, was not
                        only listening also, but even encouraging him by significant
                        glances.—The kind-hearted, gentle Mrs. Weston had left her seat to
                        join him and say,</span>
                    <span id="said_no_03575" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"Do not you dance, Mr.
                        Elton?"</span>
                    <span id="said_no_03576" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">to which his prompt reply
                        was,</span>
                    <span id="said_no_03577" class="said" data-toggle="tooltip" title="Mr. Elton" data-placement="auto top">"Most readily, Mrs. Weston,
                        if you will dance with me."</span></p>

                <p><span id="said_no_03578" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"Me!—oh! no —I
                        would get you a better partner than myself. I am no dancer."</span></p>

                <p><span id="said_no_03579" class="said" data-toggle="tooltip" title="Mr. Elton" data-placement="auto top">"If Mrs. Gilbert wishes
                            to dance,"</span>
                        <span id="said_no_03580" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he,</span>
                        <span id="said_no_03581" class="said" data-toggle="tooltip" title="Mr. Elton" data-placement="auto top">"I shall have great
                            pleasure, I am sure —for, though beginning to feel myself rather
                            an old married man, and that my dancing days are over, it would give me
                            very great pleasure at any time to stand up with an old friend like Mrs.
                            Gilbert."</span></p>

                <p><span id="said_no_03582" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"Mrs. Gilbert does not mean
                        to dance, but there is a young lady disengaged whom I should be very glad to
                        see dancing— — Miss Smith."</span>
                    <span id="said_no_03583" class="said" data-toggle="tooltip" title="Mr. Elton" data-placement="auto top">"Miss
                        Smith!—oh!—I had not observed.—You are extremely
                        obliging—and if I were not an old married man.— But my dancing
                        days are over, Mrs. Weston. You will excuse me. Any thing else I should be
                        most happy to do, at your command— but my dancing days are
                        over."</span></p>

                <p><span id="said_no_03584" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Weston said no more; and
                        Emma could imagine with what surprize and mortification she must be
                        returning to her seat.</span>
                    <span id="said_no_03585" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        This was Mr.
                        Elton! the amiable, obliging, gentle Mr. Elton.—</span>
                    <span id="said_no_03586" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She looked round for a
                        moment; he had joined Mr. Knightley at a little distance, and was arranging
                        himself for settled conversation, while smiles of high glee passed between
                        him and his wife.</span></p>

                <p><span id="said_no_03587" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She would not look again. Her
                        heart was in a glow, and she feared her face might be as hot.</span></p>

                <p><span id="said_no_03588" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">In another moment a happier
                        sight caught her;—Mr. Knightley leading Harriet to the
                        set!—Never had she been more surprized, seldom more delighted, than at
                        that instant. She was all pleasure and gratitude, both for Harriet and
                        herself, and longed to be thanking him; and though too distant for speech,
                        her countenance said much, as soon as she could catch his eye
                    again.</span></p>

                <p><span id="said_no_03589" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">His dancing proved to be just
                        what she had believed it, extremely good; and Harriet would have seemed
                        almost too lucky, if it had not been for the cruel state of things before,
                        and for the very complete enjoyment and very high sense of the distinction
                        which her happy features announced. It was not thrown away on her, she
                        bounded higher than ever, flew farther down the middle, and was in a
                        continual course of smiles.</span></p>

                <p><span id="said_no_03590" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Elton had retreated into
                        the card-room, looking (Emma trusted) very foolish.</span>
                    <span id="said_no_03591" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        She did not
                        think he was quite so hardened as his wife, though growing very like
                        her;—</span>
                    <span id="said_no_03592" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top"><em>she</em>
                        spoke some of her feelings, by observing audibly to her partner,</span></p>

                <p><span id="said_no_03593" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Knightley has taken pity on
                        poor little Miss Smith!—Very good-natured, I declare."</span></p>

                <p><span id="said_no_03594" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Supper was announced. The
                        move began; and Miss Bates might be heard from that moment, without
                        interruption, till her being seated at table and taking up her
                    spoon.</span></p>

                <p><span id="said_no_03595" class="said" data-toggle="tooltip" title="Miss Bates" data-placement="auto top">"Jane, Jane, my dear Jane,
                        where are you?—Here is your tippet.</span>
                    <span id="said_no_03596" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Miss Bates speaking as Mrs. Weston" data-placement="auto top">
                        Mrs. Weston
                        begs you to put on your tippet.</span>
                    <span id="said_no_03597" class="said" data-toggle="tooltip" title="Miss Bates" data-placement="auto top">She says</span>
                    <span id="said_no_03598" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Miss Bates speaking as Mrs. Weston" data-placement="auto top">
                        she is afraid
                        there will be draughts in the passage, though every thing has been done —
                        —One door nailed up —Quantities of matting —</span>
                    <span id="said_no_03599" class="said" data-toggle="tooltip" title="Miss Bates" data-placement="auto top">My Dear Jane, indeed you
                        must. Mr. Churchill, oh! you are too obliging! How well you put it
                        on!—so gratified! Excellent dancing indeed!—Yes, my dear, I ran
                        home, as I said I should, to help grandmama to bed, and got back again, and
                        nobody missed me.—I set off without saying a word, just as I told you.
                        Grandmama was quite well, had a charming evening with Mr. Woodhouse, a vast
                        deal of chat, and backgammon.—Tea was made downstairs, biscuits and
                        baked apples and wine before she came away: amazing luck in some of her
                        throws: and she inquired a great deal about you, how you were amused, and
                        who were your partners. 'Oh!' said I, 'I shall not forestall Jane; I left
                        her dancing with Mr. George Otway; she will love to tell you all about it
                        herself to-morrow: her first partner was Mr. Elton, I do not know who will
                        ask her next, perhaps Mr. William Cox.' My dear sir, you are too
                        obliging.—Is there nobody you would not rather?—I am not
                        helpless. Sir, you are most kind. Upon my word, Jane on one arm, and me on
                        the other!—Stop, stop, let us stand a little back, Mrs. Elton is
                        going; dear Mrs. Elton, how elegant she looks!—Beautiful
                        lace!—Now we all follow in her train. Quite the queen of the
                        evening!—Well, here we are at the passage. Two steps, Jane, take care
                        of the two steps. Oh! no, there is but one. Well, I was persuaded there were
                        two. How very odd! I was convinced there were two, and there is but one. I
                        never saw any thing equal to the comfort and style— Candles
                        everywhere.—I was telling you of your grandmama, Jane —There was
                        a little disappointment.—The baked apples and biscuits, excellent in
                        their way, you know; but there was a delicate fricassee of sweetbread and
                        some asparagus brought in at first, and good Mr. Woodhouse, not thinking the
                        asparagus quite boiled enough, sent it all out again. Now there is nothing
                        grandmama loves better than sweetbread and asparagus—so she was rather
                        disappointed, but we agreed we would not speak of it to any body, for fear
                        of its getting round to dear Miss Woodhouse, who would be so very much
                        concerned!—Well, this is brilliant! I am all amazement! could not have
                        supposed any thing!—Such elegance and profusion!—I have seen
                        nothing like it since— Well, where shall we sit? where shall we sit?
                        Anywhere, so that Jane is not in a draught. Where <em>I</em>
                        sit is of no consequence. Oh! do you recommend this side?—Well, I am
                        sure, Mr. Churchill— only it seems too good —but just as you
                        please. What you direct in this house cannot be wrong. Dear Jane, how shall
                        we ever recollect half the dishes for grandmama? Soup too! Bless me! I
                        should not be helped so soon, but it smells most excellent, and I cannot
                        help beginning."</span></p>

                <p><span id="said_no_03600" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma had no opportunity of
                        speaking to Mr. Knightley till after supper; but, when they were all in the
                        ballroom again, her eyes invited him irresistibly to come to her and be
                        thanked. He was warm in his reprobation of Mr. Elton's conduct;</span>
                    <span id="said_no_03601" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_george" data-placement="auto top">
                        it had been
                        unpardonable rudeness;</span>
                    <span id="said_no_03602" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and Mrs. Elton's looks also
                        received the due share of censure.</span></p>

                <p><span id="said_no_03603" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"They aimed at
                            wounding more than Harriet,"</span>
                        <span id="said_no_03604" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he.</span>
                        <span id="said_no_03605" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Emma, why is it that
                            they are your enemies?"</span></p>

                <p><span id="said_no_03606" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He looked with smiling
                        penetration; and, on receiving no answer, added,</span>
                    <span id="said_no_03607" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"<em>She</em> ought not to be angry with you, I suspect, whatever he may
                        be.—To that surmise, you say nothing, of course; but confess, Emma,
                        that you did want him to marry Harriet."</span></p>

                <p><span id="said_no_03608" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I did,"</span>
                        <span id="said_no_03609" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">replied Emma,</span>
                        <span id="said_no_03610" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"and they cannot forgive
                            me."</span></p>

                <p><span id="said_no_03611" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He shook his head; but there
                        was a smile of indulgence with it, and he only said,</span></p>

                <p><span id="said_no_03612" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"I shall not scold you. I
                        leave you to your own reflections."</span></p>

                <p><span id="said_no_03613" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Can you trust me with such
                        flatterers?—Does my vain spirit ever tell me I am wrong?"</span></p>

                <p><span id="said_no_03614" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Not your vain spirit, but
                        your serious spirit.—If one leads you wrong, I am sure the other tells
                        you of it."</span></p>

                <p><span id="said_no_03615" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I do own myself to have been
                        completely mistaken in Mr. Elton. There is a littleness about him which you
                        discovered, and which I did not: and I was fully convinced of his being in
                        love with Harriet. It was through a series of strange blunders!"</span></p>

                <p><span id="said_no_03616" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"And, in return for your
                        acknowledging so much, I will do you the justice to say, that you would have
                        chosen for him better than he has chosen for himself.—Harriet Smith
                        has some first-rate qualities, which Mrs. Elton is totally without. An
                        unpretending, single-minded, artless girl— infinitely to be preferred
                        by any man of sense and taste to such a woman as Mrs. Elton. I found Harriet
                        more conversable than I expected."</span></p>

                <p><span id="said_no_03617" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma was extremely
                        gratified.—They were interrupted by the bustle of Mr. Weston calling
                        on every body to begin dancing again.</span></p>

                <p><span id="said_no_03618" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"Come Miss Woodhouse, Miss
                        Otway, Miss Fairfax, what are you all doing?—Come Emma, set your
                        companions the example. Every body is lazy! Every body is
                    asleep!"</span></p>

                <p><span id="said_no_03619" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I am ready,"</span>
                        <span id="said_no_03620" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma,</span>
                        <span id="said_no_03621" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"whenever I am
                            wanted."</span></p>

                <p><span id="said_no_03622" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Whom are you going to
                        dance with?"</span>
                    <span id="said_no_03623" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">asked Mr.
                    Knightley.</span></p>

                <p><span id="said_no_03624" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She hesitated a moment, and
                        then replied,</span>
                    <span id="said_no_03625" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"With you, if you will ask
                        me."</span></p>

                <p><span id="said_no_03626" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Will you?"</span>
                    <span id="said_no_03627" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he, offering his
                        hand.</span></p>

                <p><span id="said_no_03628" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Indeed I will. You have
                        shewn that you can dance, and you know we are not really so much brother and
                        sister as to make it at all improper."</span></p>

                <p><span id="said_no_03629" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Brother and sister! no,
                        indeed."</span></p>
            
    <div class="footnotes"> </div>
