

     
    
        
                <h3>Chapter VII</h3>

                <p><span id="said_no_00419" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The very day of Mr. Elton's
                        going to London produced a fresh occasion for Emma's services towards her
                        friend. Harriet had been at Hartfield, as usual, soon after breakfast; and,
                        after a time, had gone home to return again to dinner: she returned, and
                        sooner than had been talked of, and with an agitated, hurried look,
                        announcing something extraordinary to have happened which she was longing to
                        tell. Half a minute brought it all out.</span>
                    <span id="said_no_00420" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She had heard,</span>
                    <span id="said_no_00421" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">as soon as she got back to
                        Mrs. Goddard's,</span>
                    <span id="said_no_00422" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_00423" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">Mr. Martin had been there an hour
                        before, and finding she was not at home, nor particularly expected, had left
                        a little parcel for her from one of his sisters, and gone away; and on
                        opening this parcel, she had actually found, besides the two songs which she
                        had lent Elizabeth to copy, a letter to herself; and this letter was from
                        him, from Mr. Martin, and contained a direct proposal of marriage.</span>
                    <span id="said_no_00424" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">"Who could have thought it? She
                        was so surprized she did not know what to do. Yes, quite a proposal of
                        marriage; and a very good letter, at least she thought so. And he wrote as
                        if he really loved her very much— but she did not know —and so,
                        she was come as fast as she could to ask Miss Woodhouse what she should
                        do.—"</span>
                    <span id="said_no_00425" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma was half-ashamed of her
                        friend for seeming so pleased and so doubtful.</span></p>

                <p><span id="said_no_00426" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Upon my word,"</span>
                        <span id="said_no_00427" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">she cried,</span>
                        <span id="said_no_00428" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top"> "the young man is
                            determined not to lose any thing for want of asking. He will connect
                            himself well if he can."</span></p>

                <p><span id="said_no_00429" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Will you read the
                            letter?"</span>
                        <span id="said_no_00430" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">cried Harriet.</span>
                        <span id="said_no_00431" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Pray do. I'd rather you
                            would."</span></p>

                <p><span id="said_no_00432" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma was not sorry to be
                        pressed.</span>
                    <span id="said_no_00433" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She</span>
                    <span id="said_no_00434" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">read, and</span>
                    <span id="said_no_00435" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was surprized.</span>
                    <span id="said_no_00436" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">The style of the
                        letter was much above her expectation. There were not merely no grammatical
                        errors, but as a composition it would not have disgraced a gentleman; the
                        language, though plain, was strong and unaffected, and the sentiments it
                        conveyed very much to the credit of the writer. It was short, but expressed
                        good sense, warm attachment, liberality, propriety, even delicacy of
                        feeling.</span>
                    <span id="said_no_00437" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She paused over it, while
                        Harriet stood anxiously watching for her opinion, with a</span>
                    <span id="said_no_00438" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Well, well,"</span>
                        <span id="said_no_00439" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and was at last forced
                            to add,</span>
                        <span id="said_no_00440" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Is it a good letter? or
                            is it too short?"</span></p>

                <p><span id="said_no_00441" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Yes, indeed, a very
                            good letter,"</span>
                        <span id="said_no_00442" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">replied Emma rather
                            slowly—</span><span id="said_no_00443" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"so good a letter, Harriet, that every thing considered, I think one of
                            his sisters must have helped him. I can hardly imagine the young man
                            whom I saw talking with you the other day could express himself so well,
                            if left quite to his own powers, and yet it is not the style of a woman;
                            no, certainly, it is too strong and concise; not diffuse enough for a
                            woman. No doubt he is a sensible man, and I suppose may have a natural
                            talent for— thinks strongly and clearly— and when he takes a
                            pen in hand, his thoughts naturally find proper words. It is so with
                            some men. Yes, I understand the sort of mind. Vigorous, decided, with
                            sentiments to a certain point, not coarse. A better written letter,
                            Harriet </span>
                        <span id="said_no_00444" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(returning it,)</span>
                        <span id="said_no_00445" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top"> than I had
                            expected."</span></p>

                <p><span id="said_no_00446" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Well,"</span>
                        <span id="said_no_00447" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said the still waiting
                            Harriet;—</span>
                        <span id="said_no_00448" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"well— —
                            and— — and what shall I do?"</span></p>

                <p><span id="said_no_00449" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"What shall you do! In what
                        respect? Do you mean with regard to this letter?"</span></p>

                <p><span id="said_no_00450" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Yes."</span></p>

                <p><span id="said_no_00451" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"But what are you in doubt
                        of? You must answer it of course —and speedily."</span></p>

                <p><span id="said_no_00452" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Yes. But what shall I say?
                        Dear Miss Woodhouse, do advise me."</span></p>

                <p><span id="said_no_00453" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Oh no, no! the letter had
                        much better be all your own. You will express yourself very properly, I am
                        sure. There is no danger of your not being intelligible, which is the first
                        thing. Your meaning must be unequivocal; no doubts or demurs: and such
                        expressions of gratitude and concern for the pain you are inflicting as
                        propriety requires, will present themselves unbidden to <em>your</em> mind, I am persuaded. You need not be prompted to write with
                        the appearance of sorrow for his disappointment."</span></p>

                <p><span id="said_no_00454" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"You think I ought to refuse
                        him then,"</span>
                    <span id="said_no_00455" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Harriet, looking
                        down.</span></p>

                <p><span id="said_no_00456" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Ought to refuse him! My dear
                        Harriet, what do you mean? Are you in any doubt as to that? I thought—
                        but I beg your pardon, perhaps I have been under a mistake. I certainly have
                        been misunderstanding you, if you feel in doubt as to the <em>purport</em> of your answer. I had imagined you were consulting me only
                        as to the wording of it."</span></p>

                <p><span id="said_no_00457" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Harriet was silent. With a
                        little reserve of manner, Emma continued:</span></p>

                <p><span id="said_no_00458" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"You mean to return a
                        favourable answer, I collect."</span></p>

                <p><span id="said_no_00459" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"No, I do not; that is, I do
                        not mean —What shall I do? What would you advise me to do? Pray, dear
                        Miss Woodhouse, tell me what I ought to do."</span></p>

                <p><span id="said_no_00460" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I shall not give you any
                        advice, Harriet. I will have nothing to do with it. This is a point which
                        you must settle with your feelings."</span></p>

                <p><span id="said_no_00461" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"I had no notion that he
                        liked me so very much,"</span>
                    <span id="said_no_00462" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Harriet, contemplating
                        the letter. For a little while Emma persevered in her silence; but</span>
                    <span id="said_no_00463" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">beginning to
                        apprehend</span>
                    <span id="said_no_00464" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">the bewitching
                        flattery of that letter might be too powerful, she thought it best to
                        say,</span></p>

                <p><span id="said_no_00465" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I lay it down as a general
                        rule, Harriet, that if a woman <em>doubts</em> as to whether
                        she should accept a man or not, she certainly ought to refuse him. If she
                        can hesitate as to 'Yes,' she ought to say 'No' directly. It is not a state
                        to be safely entered into with doubtful feelings, with half a heart. I
                        thought it my duty as a friend, and older than yourself, to say thus much to
                        you. But do not imagine that I want to influence you."</span></p>

                <p><span id="said_no_00466" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Oh! no, I am sure you are a
                        great deal too kind to —but if you would just advise me what I had
                        best do— No, no, I do not mean that—— As you say, one's mind
                        ought to be quite made up— One should not be hesitating— It is a
                        very serious thing.—It will be safer to say 'No,' perhaps.—Do
                        you think I had better say 'No?'"</span></p>

                <p><span id="said_no_00467" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Not for the
                            world,"</span>
                        <span id="said_no_00468" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma, smiling
                            graciously,</span>
                        <span id="said_no_00469" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"would I advise you
                            either way. You must be the best judge of your own happiness. If you
                            prefer Mr. Martin to every other person; if you think him the most
                            agreeable man you have ever been in company with, why should you
                            hesitate? You blush, Harriet.—Does any body else occur to you at
                            this moment under such a definition? Harriet, Harriet, do not deceive
                            yourself; do not be run away with by gratitude and compassion. At this
                            moment whom are you thinking of?"</span></p>

                <p><span id="said_no_00470" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The symptoms were
                        favourable.—Instead of answering, Harriet turned away confused, and
                        stood thoughtfully by the fire; and though the letter was still in her hand,
                        it was now mechanically twisted about without regard. Emma waited the result
                        with impatience, but not without strong hopes. At last, with some
                        hesitation, Harriet said—</span></p>

                <p><span id="said_no_00471" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Miss Woodhouse, as you will
                        not give me your opinion, I must do as well as I can by myself; and I have
                        now quite determined, and really almost made up my mind—to refuse Mr.
                        Martin. Do you think I am right?"</span></p>

                <p><span id="said_no_00472" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Perfectly, perfectly right,
                        my dearest Harriet; you are doing just what you ought. While you were at all
                        in suspense I kept my feelings to myself, but now that you are so completely
                        decided I have no hesitation in approving. Dear Harriet, I give myself joy
                        of this. It would have grieved me to lose your acquaintance, which must have
                        been the consequence of your marrying Mr. Martin. While you were in the
                        smallest degree wavering, I said nothing about it, because I would not
                        influence; but it would have been the loss of a friend to me. I could not
                        have visited Mrs. Robert Martin, of Abbey-Mill Farm. Now I am secure of you
                        for ever."</span></p>

                <p><span id="said_no_00473" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Harriet had not surmised her
                        own danger, but the idea of it struck her forcibly.</span></p>

                <p><span id="said_no_00474" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"You could not have
                            visited me!"</span>
                        <span id="said_no_00475" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">she cried, looking
                            aghast.</span>
                        <span id="said_no_00476" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"No, to be sure you
                            could not; but I never thought of that before. That would have been too
                            dreadful!—What an escape!—Dear Miss Woodhouse, I would not
                            give up the pleasure and honour of being intimate with you for any thing
                            in the world."</span></p>

                <p><span id="said_no_00477" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Indeed, Harriet, it would
                        have been a severe pang to lose you; but it must have been. You would have
                        thrown yourself out of all good society. I must have given you
                    up."</span></p>

                <p><span id="said_no_00478" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Dear me!—How should I
                        ever have borne it! It would have killed me never to come to Hartfield any
                        more!"</span></p>

                <p><span id="said_no_00479" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Dear affectionate
                            creature!—<em>You</em> banished to Abbey-Mill
                            Farm!—<em>You</em> confined to the society of the
                        illiterate and vulgar all your life! I wonder how the young man could have
                        the assurance to ask it. He must have a pretty good opinion of
                        himself."</span></p>

                <p><span id="said_no_00480" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"I do not think he is
                            conceited either, in general,"</span>
                        <span id="said_no_00481" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Harriet, her
                            conscience opposing such censure;</span>
                        <span id="said_no_00482" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"at least, he is very
                            good natured, and I shall always feel much obliged to him, and have a
                            great regard for—but that is quite a different thing from
                            —and you know, though he may like me, it does not follow that I
                            should—and certainly I must confess that since my visiting here I
                            have seen people —and if one comes to compare them, person and
                            manners, there is no comparison at all, <em>one</em> is so
                            very handsome and agreeable. However, I do really think Mr. Martin a
                            very amiable young man, and have a great opinion of him; and his being
                            so much attached to me—and his writing such a letter—but as
                            to leaving you, it is what I would not do upon any
                            consideration."</span></p>

                <p><span id="said_no_00483" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Thank you, thank you, my own
                        sweet little friend. We will not be parted. A woman is not to marry a man
                        merely because she is asked, or because he is attached to her, and can write
                        a tolerable letter."</span></p>

                <p><span id="said_no_00484" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Oh no;—and it is but a
                        short letter too."</span></p>

                <p>Emma felt the bad taste of her friend, but let it pass with a <span id="said_no_00485" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">"very true; and it would be a
                        small consolation to her, for the clownish manner which might be offending
                        her every hour of the day, to know that her husband could write a good
                        letter."</span></p>

                <p><span id="said_no_00486" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Oh! yes, very. Nobody cares
                        for a letter; the thing is, to be always happy with pleasant companions. I
                        am quite determined to refuse him. But how shall I do? What shall I
                        say?"</span></p>

                <p><span id="said_no_00487" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma assured her</span>
                    <span id="said_no_00488" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">there would be no difficulty in
                        the answer,</span>
                    <span id="said_no_00489" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and</span>
                    <span id="said_no_00490" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">advised</span>
                    <span id="said_no_00491" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">its being written
                        directly,</span>
                    <span id="said_no_00492" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top"> which was agreed to, in the
                        hope of her assistance; and though Emma continued to protest against any
                        assistance being wanted, it was in fact given in the formation of every
                        sentence. The looking over his letter again, in replying to it, had such a
                        softening tendency, that it was particularly necessary to brace her up with
                        a few decisive expressions; and</span>
                    <span id="said_no_00493" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">she was so very much
                        concerned at</span>
                    <span id="said_no_00494" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">the idea of making him
                        unhappy,</span>
                    <span id="said_no_00495" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top"> and</span>
                    <span id="said_no_00496" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">thought so much of</span>
                    <span id="said_no_00497" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">what his mother and sisters would
                        think and say,</span>
                    <span id="said_no_00498" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and</span>
                    <span id="said_no_00499" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top"> was so anxious that</span>
                    <span id="said_no_00500" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">they should not fancy her
                        ungrateful,</span>
                    <span id="said_no_00501" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that Emma believed</span>
                    <span id="said_no_00502" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top"> if the young man
                        had come in her way at that moment, he would have been accepted after
                        all.</span></p>

                <p><span id="said_no_00503" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">This letter, however, was
                        written, and sealed, and sent.</span>
                    <span id="said_no_00504" class="said fid said_tooltip certainty_6" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">The business was
                        finished, and Harriet safe.</span>
                    <span id="said_no_00505" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She was rather low all the
                        evening, but Emma could allow for her amiable regrets, and sometimes
                        relieved them by speaking of her own affection, sometimes by bringing
                        forward the idea of Mr. Elton.</span></p>

                <p><span id="said_no_00506" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"I shall never be invited to
                        Abbey-Mill again,"</span>
                    <span id="said_no_00507" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was said in rather a
                        sorrowful tone.</span></p>

                <p><span id="said_no_00508" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Nor, if you were, could I
                        ever bear to part with you, my Harriet. You are a great deal too necessary
                        at Hartfield to be spared to Abbey-Mill."</span></p>

                <p><span id="said_no_00509" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"And I am sure I should never
                        want to go there; for I am never happy but at Hartfield."</span></p>

                <p><span id="said_no_00510" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Some time afterwards it
                        was,</span>
                    <span id="said_no_00511" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top"> "I think Mrs. Goddard would
                        be very much surprized if she knew what had happened. I am sure Miss Nash
                        would —for Miss Nash thinks her own sister very well married, and it
                        is only a linen-draper."</span></p>

                <p><span id="said_no_00512" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"One should be sorry to see
                        greater pride or refinement in the teacher of a school, Harriet. I dare say
                        Miss Nash would envy you such an opportunity as this of being married. Even
                        this conquest would appear valuable in her eyes. As to any thing superior
                        for you, I suppose she is quite in the dark. The attentions of a certain
                        person can hardly be among the tittle-tattle of Highbury yet. Hitherto I
                        fancy you and I are the only people to whom his looks and manners have
                        explained themselves."</span></p>

                <p><span id="said_no_00513" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Harriet blushed and smiled,
                        and</span>
                    <span id="said_no_00514" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said something about</span>
                    <span id="said_no_00515" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">wondering that people should like
                        her so much.</span>
                    <span id="said_no_00516" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The idea of Mr. Elton was
                        certainly cheering; but still, after a time, she was tender-hearted again
                        towards the rejected Mr. Martin.</span></p>

                <p><span id="said_no_00517" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"Now he has got my
                            letter,"</span>
                        <span id="said_no_00518" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she softly.</span>
                        <span id="said_no_00519" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"I wonder what they are
                            all doing— whether his sisters know— if he is unhappy, they
                            will be unhappy too. I hope he will not mind it so very
                        much."</span></p>

                <p><span id="said_no_00520" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Let us think of those
                            among our absent friends who are more cheerfully employed,"</span>
                        <span id="said_no_00521" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">cried Emma.</span>
                        <span id="said_no_00522" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top"> "At this moment,
                            perhaps, Mr. Elton is shewing your picture to his mother and sisters,
                            telling how much more beautiful is the original, and after being asked
                            for it five or six times, allowing them to hear your name, your own dear
                            name."</span></p>

                <p><span id="said_no_00523" class="said" data-toggle="tooltip" title="Harriet Smith" data-placement="auto top">"My picture!—But he has
                        left my picture in Bond-street."</span></p>

                <p><span id="said_no_00524" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Has he so!—Then I know
                        nothing of Mr. Elton. No, my dear little modest Harriet, depend upon it the
                        picture will not be in Bond-street till just before he mounts his horse
                        to-morrow. It is his companion all this evening, his solace, his delight. It
                        opens his designs to his family, it introduces you among them, it diffuses
                        through the party those pleasantest feelings of our nature, eager curiosity
                        and warm prepossession. How cheerful, how animated, how suspicious, how busy
                        their imaginations all are!"</span></p>

                <p><span id="said_no_00525" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Harriet smiled again, and her
                        smiles grew stronger.</span></p>
            
    <div class="footnotes"> </div>
