

     
    
        
                <h3>Chapter V</h3>

                <p><span id="said_no_01846" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Small heart had Harriet for
                        visiting. Only half an hour before her friend called for her at Mrs.
                        Goddard's, her evil stars had led her to the very spot where, at that
                        moment, a trunk, directed to <em>The Rev. Philip Elton,
                            White-Hart, Bath</em>, was to be seen under the operation of being
                        lifted into the butcher's cart, which was to convey it to where the coaches
                        past; and every thing in this world, excepting that trunk and the direction,
                        was consequently a blank.</span></p>

                <p><span id="said_no_01847" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She went, however; and when
                        they reached the farm, and she was to be put down, at the end of the broad,
                        neat gravel walk, which led between espalier apple-trees to the front door,
                        the sight of every thing which had given her so much pleasure the autumn
                        before, was beginning to revive a little local agitation; and when they
                        parted, Emma observed her to be looking around with a sort of fearful
                        curiosity, which determined her not to allow the visit to exceed the
                        proposed quarter of an hour. She went on herself, to give that portion of
                        time to an old servant who was married, and settled in Donwell.</span></p>

                <p><span id="said_no_01848" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The quarter of an hour
                        brought her punctually to the white gate again; and Miss Smith receiving her
                        summons, was with her without delay, and unattended by any alarming young
                        man. She came solitarily down the gravel walk —a Miss Martin just
                        appearing at the door, and parting with her seemingly with ceremonious
                        civility.</span></p>

                <p><span id="said_no_01849" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Harriet could not very soon
                        give an intelligible account. She was feeling too much; but at last Emma
                        collected from her enough to understand the sort of meeting, and the sort of
                        pain it was creating. She had seen only Mrs. Martin and the two girls. They
                        had received her doubtingly, if not coolly; and nothing beyond the merest
                        commonplace had been talked almost all the time—till just at last,
                        when</span>
                    <span id="said_no_01850" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Martin's
                        saying,</span>
                    <span id="said_no_01851" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">all of a sudden,</span>
                    <span id="said_no_01852" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_01853" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">
                        she thought
                        Miss Smith was grown,</span>
                    <span id="said_no_01854" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">had brought on a more
                        interesting subject, and a warmer manner.</span>
                    <span id="said_no_01855" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">
                        In that very
                        room she had been measured last September, with her two friends. There were
                        the pencilled marks and memorandums on the wainscot by the window. <em>He</em> had done it.</span>
                    <span id="said_no_01856" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">
                        They all
                        seemed to remember the day, the hour, the party, the occasion —</span>
                    <span id="said_no_01857" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">to feel the same
                        consciousness, the same regrets —</span>
                    <span id="said_no_01858" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">
                        to be ready
                        to return to the same good understanding; and they were just growing again
                        like themselves,</span>
                    <span id="said_no_01859" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(Harriet, as Emma must
                        suspect, as ready as the best of them to be cordial and happy,)</span>
                    <span id="said_no_01860" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">
                        when the
                        carriage reappeared, and all was over.</span>
                    <span id="said_no_01861" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The style of the visit, and
                        the shortness of it, were then felt to be decisive.</span>
                    <span id="said_no_01862" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_hari" data-placement="auto top">
                        Fourteen
                        minutes to be given to those with whom she had thankfully passed six weeks
                        not six months ago!—</span>
                    <span id="said_no_01863" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma</span>
                    <span id="said_no_01864" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">could not but picture it
                        all, and</span>
                    <span id="said_no_01865" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">feel</span>
                    <span id="said_no_01866" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        how justly
                        they might resent, how naturally Harriet must suffer. It was a bad business.
                        She would have given a great deal, or endured a great deal, to have had the
                        Martins in a higher rank of life.</span>
                    <span id="said_no_01867" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        They were so
                        deserving, that a <em>little</em> higher should have been
                        enough: but as it was, how could she have done
                        otherwise?—Impossible!—She could not repent.</span>
                    <span id="said_no_01868" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        They must be
                        separated; but there was a great deal of pain in the process—</span>
                    <span id="said_no_01869" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">so much to herself at this
                        time, that she soon felt the necessity of a little consolation, and resolved
                        on going home by way of Randalls to procure it. Her mind was quite sick of
                        Mr. Elton and the Martins. The refreshment of Randalls was absolutely
                        necessary.</span></p>

                <p><span id="said_no_01870" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">It was a good scheme; but on
                        driving to the door they heard that neither</span>
                    <span id="said_no_01871" class="said" data-toggle="tooltip" title="Randall's servant Tom" data-placement="auto top">"master nor mistress was
                        at home;"</span>
                    <span id="said_no_01872" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_randserv" data-placement="auto top">
                        they had
                        both been out some time;</span>
                    <span id="said_no_01873" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">the man believed</span>
                    <span id="said_no_01874" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_randserv" data-placement="auto top">
                        they were
                        gone to Hartfield.</span></p>

                <p><span id="said_no_01875" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"This is too
                            bad,"</span>
                        <span id="said_no_01876" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">cried Emma, as they
                            turned away.</span>
                        <span id="said_no_01877" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"And now we shall just
                            miss them; too provoking!—I do not know when I have been so
                            disappointed."</span>
                    <span id="said_no_01878" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">And she leaned back in the
                        corner, to indulge her murmurs, or to reason them away; probably a little of
                        both —such being the commonest process of a not ill-disposed mind.
                        Presently the carriage stopt; she looked up; it was stopt by Mr. and Mrs.
                        Weston, who were standing to speak to her. There was instant pleasure in the
                        sight of them, and still greater pleasure was conveyed in sound—for
                        Mr. Weston immediately accosted her with,</span></p>

                <p><span id="said_no_01879" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"How d'ye do?—how d'ye
                        do?—We have been sitting with your father— glad to see him so
                        well. Frank comes to-morrow— I had a letter this morning —we see
                        him to-morrow by dinner-time to a certainty— he is at Oxford to-day,
                        and he comes for a whole fortnight; I knew it would be so. If he had come at
                        Christmas he could not have staid three days; I was always glad he did not
                        come at Christmas; now we are going to have just the right weather for him,
                        fine, dry, settled weather. We shall enjoy him completely; every thing has
                        turned out exactly as we could wish."</span></p>

                <p><span id="said_no_01880" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">There was no resisting such
                        news, no possibility of avoiding the influence of such a happy face as Mr.
                        Weston's, confirmed as it all was by the words and the countenance of his
                        wife, fewer and quieter, but not less to the purpose. To know that <em>she</em> thought his coming certain was enough to make
                        Emma consider it so, and sincerely did she rejoice in their joy. It was a
                        most delightful reanimation of exhausted spirits. The worn-out past was sunk
                        in the freshness of what was coming; and in the rapidity of half a moment's
                        thought, she hoped Mr. Elton would now be talked of no more.</span></p>

                <p><span id="said_no_01881" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Weston gave her the
                        history of the engagements at Enscombe, which allowed his son to answer for
                        having an entire fortnight at his command, as well as the route and the
                        method of his journey; and she listened, and smiled, and
                        congratulated.</span></p>

                <p><span id="said_no_01882" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"I shall soon bring him over
                        to Hartfield,"</span>
                    <span id="said_no_01883" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he, at the
                        conclusion.</span></p>

                <p><span id="said_no_01884" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma could imagine she saw a
                        touch of the arm at this speech, from his wife.</span></p>

                <p><span id="said_no_01885" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"We had better move on,
                            Mr. Weston,"</span>
                        <span id="said_no_01886" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_01887" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"we are detaining the
                            girls."</span></p>

                <p><span id="said_no_01888" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"Well, well, I am
                            ready;"—</span>
                        <span id="said_no_01889" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and turning again to
                            Emma,</span>
                        <span id="said_no_01890" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"but you must not be
                            expecting such a <em>very</em> fine young man; you have
                            only had <em>my</em> account you know; I dare say he is
                            really nothing extraordinary:"—</span>
                    <span id="said_no_01891" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">though his own sparkling
                        eyes at the moment were speaking a very different conviction.</span></p>

                <p><span id="said_no_01892" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma could look perfectly
                        unconscious and innocent, and answer in a manner that appropriated
                        nothing.</span></p>

                <p><span id="said_no_01893" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"Think of me to-morrow, my
                        dear Emma, about four o'clock,"</span>
                    <span id="said_no_01894" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was Mrs. Weston's parting
                        injunction; spoken with some anxiety, and meant only for her.</span></p>

                <p><span id="said_no_01895" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"Four o'clock!—depend
                        upon it he will be here by three,"</span>
                    <span id="said_no_01896" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was Mr. Weston's quick
                        amendment; and so ended a most satisfactory meeting. Emma's spirits were
                        mounted quite up to happiness; every thing wore a different air; James and
                        his horses seemed not half so sluggish as before. When she looked at the
                        hedges, she thought the elder at least must soon be coming out; and when she
                        turned round to Harriet, she saw something like a look of spring, a tender
                        smile even there.</span></p>

                <p>"Will Mr. Frank Churchill pass through Bath as well as Oxford?"—was a
                    question, however, which did not augur much.</p>

                <p><span id="said_no_01897" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">But neither geography nor
                        tranquillity could come all at once, and Emma was now in a humour to resolve
                        that they should both come in time.</span></p>

                <p><span id="said_no_01898" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The morning of the
                        interesting day arrived, and Mrs. Weston's faithful pupil did not forget
                        either at ten, or eleven, or twelve o'clock, that she was to think of her at
                        four.</span></p>

                <p><span id="said_no_01899" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"My dear, dear anxious
                            friend,"—</span>
                        <span id="said_no_01900" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she, in mental
                            soliloquy, while walking downstairs from her own room,</span>
                        <span id="said_no_01901" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"always overcareful for
                            every body's comfort but your own; I see you now in all your little
                            fidgets, going again and again into his room, to be sure that all is
                            right."</span>
                        <span id="said_no_01902" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The clock struck twelve
                            as she passed through the hall.</span>
                        <span id="said_no_01903" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"'Tis twelve; I shall
                            not forget to think of you four hours hence; and by this time to-morrow,
                            perhaps, or a little later, I may be thinking of the possibility of
                            their all calling here. I am sure they will bring him
                        soon."</span></p>

                <p><span id="said_no_01904" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She opened the parlour door,
                        and saw two gentlemen sitting with her father —Mr. Weston and his son.
                        They had been arrived only a few minutes, and Mr. Weston had scarcely
                        finished his explanation of Frank's being a day before his time, and her
                        father was yet in the midst of his very civil welcome and congratulations,
                        when she appeared, to have her share of surprize, introduction, and
                        pleasure.</span></p>

                <p><span id="said_no_01905" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The Frank Churchill so long
                        talked of, so high in interest, was actually before her —he was
                        presented to her, and she did not think too much had been said in his
                        praise; he was a <em>very</em> good looking young man; height,
                        air, address, all were unexceptionable, and his countenance had a great deal
                        of the spirit and liveliness of his father's; he looked quick and sensible.
                        She felt immediately that she should like him; and there was a well-bred
                        ease of manner, and a readiness to talk, which convinced her that he came
                        intending to be acquainted with her, and that acquainted they soon must
                        be.</span></p>

                <p><span id="said_no_01906" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He had reached Randalls the
                        evening before. She was pleased with the eagerness to arrive which had made
                        him alter his plan, and travel earlier, later, and quicker, that he might
                        gain half a day.</span></p>

                <p><span id="said_no_01907" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"I told you
                            yesterday,"</span> c<span id="said_no_01908" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">ried Mr. Weston with exultation,</span>
                        <span id="said_no_01909" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"I told you all that he
                            would be here before the time named. I remembered what I used to do
                            myself. One cannot creep upon a journey; one cannot help getting on
                            faster than one has planned; and the pleasure of coming in upon one's
                            friends before the look-out begins, is worth a great deal more than any
                            little exertion it needs."</span></p>

                <p><span id="said_no_01910" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"It is a great pleasure
                            where one can indulge in it,"</span>
                        <span id="said_no_01911" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said the young
                            man,</span>
                        <span id="said_no_01912" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"though there are not
                            many houses that I should presume on so far; but in coming <em>home</em> I felt I might do any
                    thing."</span></p>

                <p><span id="said_no_01913" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The word <em>home</em> made his father look on him with fresh complacency.</span>
                    <span id="said_no_01914" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma was directly sure
                        that</span>
                    <span id="said_no_01915" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        he knew how
                        to make himself agreeable;</span>
                    <span id="said_no_01916" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">the conviction was
                        strengthened by what followed.</span>
                    <span id="said_no_01917" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        He was very
                        much pleased with Randalls,</span>
                    <span id="said_no_01918" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">thought it</span>
                    <span id="said_no_01919" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        a most
                        admirably arranged house,</span>
                    <span id="said_no_01920" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">would hardly allow
                        it</span>
                    <span id="said_no_01921" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        even to be
                        very small,</span>
                    <span id="said_no_01922" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">admired</span>
                    <span id="said_no_01923" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        the
                        situation, the walk to Highbury, Highbury itself, Hartfield still more,
                        and</span>
                    <span id="said_no_01924" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">professed himself</span>
                    <span id="said_no_01925" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        to have
                        always felt the sort of interest in the country which none but one's <em>own</em> country gives, and the greatest curiosity to
                        visit it.</span>
                    <span id="said_no_01926" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        That he
                        should never have been able to indulge so amiable a feeling before,</span>
                    <span id="said_no_01927" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">passed suspiciously through
                        Emma's brain;</span>
                    <span id="said_no_01928" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">but still, if it were a
                        falsehood, it was a pleasant one, and pleasantly handled. His manner had no
                        air of study or exaggeration. He did really look and speak as if in a state
                        of no common enjoyment.</span></p>

                <p><span id="said_no_01929" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Their subjects in general
                        were such as belong to an opening acquaintance. On his side were the
                        inquiries,—</span>
                    <span id="said_no_01930" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Was she a
                        horsewoman?—Pleasant rides?—Pleasant walks?—Had they a
                        large neighbourhood?—Highbury, perhaps, afforded society
                        enough?—There were several very pretty houses in and about
                        it.—Balls —had they balls?—Was it a musical
                        society?"</span></p>

                <p><span id="said_no_01931" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">But when satisfied on all
                        these points, and their acquaintance proportionably advanced, he contrived
                        to find an opportunity, while their two fathers were engaged with each
                        other, of introducing his mother-in-law, and speaking of her with so much
                        handsome praise, so much warm admiration, so much gratitude for the
                        happiness she secured to his father, and her very kind reception of himself,
                        as was an additional proof of his knowing how to please—and of his
                        certainly thinking it worth while to try to please her. He did not advance a
                        word of praise beyond what she knew to be thoroughly deserved by Mrs.
                        Weston; but, undoubtedly he could know very little of the matter. He
                        understood what would be welcome; he could be sure of little else.</span>
                    <span id="said_no_01932" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top"> "His father's
                            marriage,"</span>
                        <span id="said_no_01933" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he said,</span>
                        <span id="said_no_01934" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"had been the wisest
                            measure, every friend must rejoice in it; and the family from whom he
                            had received such a blessing must be ever considered as having conferred
                            the highest obligation on him."</span></p>

                <p><span id="said_no_01935" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He got as near as he could to
                        thanking her for Miss Taylor's merits, without seeming quite to forget that
                        in the common course of things it was to be rather supposed that Miss Taylor
                        had formed Miss Woodhouse's character, than Miss Woodhouse Miss Taylor's.
                        And at last, as if resolved to qualify his opinion completely for travelling
                        round to its object, he wound it all up with astonishment at the youth and
                        beauty of her person.</span></p>

                <p><span id="said_no_01936" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Elegant, agreeable
                            manners, I was prepared for,"</span>
                        <span id="said_no_01937" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he;</span>
                        <span id="said_no_01938" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"but I confess that,
                            considering every thing, I had not expected more than a very tolerably
                            well-looking woman of a certain age; I did not know that I was to find a
                            pretty young woman in Mrs. Weston."</span></p>

                <p><span id="said_no_01939" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"You cannot see too much
                            perfection in Mrs. Weston for my feelings,"</span>
                        <span id="said_no_01940" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma;</span>
                        <span id="said_no_01941" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"were you to guess her
                            to be <em>eighteen</em>, I should listen with pleasure;
                            but <em>she</em> would be ready to quarrel with you for
                            using such words. Don't let her imagine that you have spoken of her as a
                            pretty young woman."</span></p>

                <p><span id="said_no_01942" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"I hope I should know
                            better,"</span>
                        <span id="said_no_01943" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he replied;</span>
                        <span id="said_no_01944" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"no, depend upon
                            it,</span>
                        <span id="said_no_01945" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(with a gallant
                            bow,)</span>
                        <span id="said_no_01946" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">that in addressing Mrs.
                            Weston I should understand whom I might praise without any danger of
                            being thought extravagant in my terms."</span></p>

                <p><span id="said_no_01947" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma wondered</span>
                    <span id="said_no_01948" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        whether the
                        same suspicion of what might be expected from their knowing each other,
                        which had taken strong possession of her mind, had ever crossed his;</span>
                    <span id="said_no_01949" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and</span>
                    <span id="said_no_01950" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        whether his
                        compliments were to be considered as marks of acquiescence, or proofs of
                        defiance.</span>
                    <span id="said_no_01951" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She must see more of him to
                        understand his ways; at present she only felt they were
                    agreeable.</span></p>

                <p><span id="said_no_01952" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She had no doubt of what Mr.
                        Weston was often thinking about. His quick eye she detected again and again
                        glancing towards them with a happy expression; and even, when he might have
                        determined not to look, she was confident that he was often
                        listening.</span></p>

                <p><span id="said_no_01953" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Her own father's perfect
                        exemption from any thought of the kind, the entire deficiency in him of all
                        such sort of penetration or suspicion, was a most comfortable circumstance.
                        Happily he was not farther from approving matrimony than from foreseeing
                        it.—Though always objecting to every marriage that was arranged, he
                        never suffered beforehand from the apprehension of any; it seemed as if he
                        could not think so ill of any two persons' understanding as to suppose they
                        meant to marry till it were proved against them. She blessed the favouring
                        blindness. He could now, without the drawback of a single unpleasant
                        surmise, without a glance forward at any possible treachery in his guest,
                        give way to all his natural kind-hearted civility in solicitous inquiries
                        after Mr. Frank Churchill's accommodation on his journey, through the sad
                        evils of sleeping two nights on the road, and express very genuine unmixed
                        anxiety to know that he had certainly escaped catching cold —which,
                        however, he could not allow him to feel quite assured of himself till after
                        another night.</span></p>

                <p><span id="said_no_01954" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">A reasonable visit paid, Mr.
                        Weston began to move.—</span>
                    <span id="said_no_01955" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"He must be going. He had
                        business at the Crown about his hay, and a great many errands for Mrs.
                        Weston at Ford's, but he need not hurry any body else."</span>
                    <span id="said_no_01956" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">His son, too well bred to
                        hear the hint, rose immediately also, saying,</span></p>

                <p><span id="said_no_01957" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"As you are going
                            farther on business, sir, I will take the opportunity of paying a visit,
                            which must be paid some day or other, and therefore may as well be paid
                            now. I have the honour of being acquainted with a neighbour of
                            yours,</span>
                        <span id="said_no_01958" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(turning to
                            Emma,)</span>
                        <span id="said_no_01959" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">a lady residing in or
                            near Highbury; a family of the name of Fairfax. I shall have no
                            difficulty, I suppose, in finding the house; though Fairfax, I believe,
                            is not the proper name —I should rather say Barnes, or Bates. Do
                            you know any family of that name?"</span></p>

                <p><span id="said_no_01960" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"To be sure we
                            do,"</span>
                        <span id="said_no_01961" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">cried his father;</span>
                        <span id="said_no_01962" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"Mrs. Bates — —we
                            passed her house —I saw Miss Bates at the window. True, true, you
                            are acquainted with Miss Fairfax; I remember you knew her at Weymouth,
                            and a fine girl she is. Call upon her, by all means."</span></p>

                <p><span id="said_no_01963" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"There is no necessity
                            for my calling this morning,"</span>
                        <span id="said_no_01964" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said the young
                            man;</span>
                        <span id="said_no_01965" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"another day would do
                            as well; but there was that degree of acquaintance at Weymouth which
                            —"</span></p>

                <p><span id="said_no_01966" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"Oh! go to-day, go to-day. Do
                        not defer it. What is right to be done cannot be done too soon. And,
                        besides, I must give you a hint, Frank; any want of attention to her <em>here</em> should be carefully avoided. You saw her with
                        the Campbells, when she was the equal of every body she mixed with, but here
                        she is with a poor old grandmother, who has barely enough to live on. If you
                        do not call early it will be a slight."</span></p>

                <p><span id="said_no_01967" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The son looked
                        convinced.</span></p>

                <p><span id="said_no_01968" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I have heard her speak
                            of the acquaintance,"</span>
                        <span id="said_no_01969" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma;</span>
                        <span id="said_no_01970" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"she is a very elegant
                            young woman."</span></p>

                <p><span id="said_no_01971" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He agreed to it, but with so
                        quiet a</span>
                    <span id="said_no_01972" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Yes,"</span>
                    <span id="said_no_01973" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">as inclined her almost to
                        doubt his real concurrence; and yet there must be a very distinct sort of
                        elegance for the fashionable world, if Jane Fairfax could be thought only
                        ordinarily gifted with it.</span></p>

                <p><span id="said_no_01974" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"If you were never
                            particularly struck by her manners before,"</span>
                        <span id="said_no_01975" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_01976" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I think you will
                            to-day. You will see her to advantage; see her and hear her —no, I
                            am afraid you will not hear her at all, for she has an aunt who never
                            holds her tongue."</span></p>

                <p><span id="said_no_01977" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"You are acquainted with
                            Miss Jane Fairfax, sir, are you?"</span>
                        <span id="said_no_01978" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mr. Woodhouse,
                            always the last to make his way in conversation;</span>
                        <span id="said_no_01979" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"then give me leave to
                            assure you that you will find her a very agreeable young lady. She is
                            staying here on a visit to her grandmama and aunt, very worthy people; I
                            have known them all my life. They will be extremely glad to see you, I
                            am sure; and one of my servants shall go with you to shew you the
                            way."</span></p>

                <p><span id="said_no_01980" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"My dear sir, upon no
                        account in the world; my father can direct me."</span></p>

                <p><span id="said_no_01981" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"But your father is not going
                        so far; he is only going to the Crown, quite on the other side of the
                        street, and there are a great many houses; you might be very much at a loss,
                        and it is a very dirty walk, unless you keep on the footpath; but my
                        coachman can tell you where you had best cross the street."</span></p>

                <p><span id="said_no_01982" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Frank Churchill still
                        declined it, looking as serious as he could, and his father gave his hearty
                        support by calling out,</span>
                    <span id="said_no_01983" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"My good friend, this is
                        quite unnecessary; Frank knows a puddle of water when he sees it, and as to
                        Mrs. Bates's, he may get there from the Crown in a hop, step, and
                        jump."</span></p>

                <p><span id="said_no_01984" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">They were permitted to go
                        alone; and with a cordial nod from one, and a graceful bow from the other,
                        the two gentlemen took leave. Emma remained very well pleased with this
                        beginning of the acquaintance, and could now engage to think of them all at
                        Randalls any hour of the day, with full confidence in their
                    comfort.</span></p>
            
    <div class="footnotes"> </div>
