

     
    
        
                <h3>Chapter XII</h3>

                <p><span id="said_no_02766" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">One thing only was wanting to
                        make the prospect of the ball completely satisfactory to Emma —its
                        being fixed for a day within the granted term of Frank Churchill's stay in
                        Surry; for, in spite of Mr. Weston's confidence, she could not think it so
                        very impossible that the Churchills might not allow their nephew to remain a
                        day beyond his fortnight. But this was not judged feasible. The preparations
                        must take their time, nothing could be properly ready till the third week
                        were entered on, and</span>
                    <span id="said_no_02767" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        for a few
                        days they must be planning, proceeding and hoping in uncertainty —at
                        the risk —</span>
                    <span id="said_no_02768" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">in her opinion,</span>
                    <span id="said_no_02769" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        the great
                        risk, of its being all in vain.</span></p>

                <p><span id="said_no_02770" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Enscombe however was
                        gracious, gracious in fact, if not in word. His wish of staying longer
                        evidently did not please; but it was not opposed. All was safe and
                        prosperous; and as the removal of one solicitude generally makes way for
                        another, Emma, being now certain of her ball, began to adopt as the next
                        vexation Mr. Knightley's provoking indifference about it.</span>
                    <span id="said_no_02771" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Either
                        because he did not dance himself, or because the plan had been formed
                        without his being consulted, he seemed resolved that it should not interest
                        him, determined against its exciting any present curiosity, or affording him
                        any future amusement.</span>
                    <span id="said_no_02772" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">To her voluntary
                        communications Emma could get no more approving reply, than,</span></p>

                <p><span id="said_no_02773" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Very well. If the Westons
                        think it worth while to be at all this trouble for a few hours of noisy
                        entertainment, I have nothing to say against it, but that they shall not
                        chuse pleasures for me.—Oh! yes, I must be there; I could not refuse;
                        and I will keep as much awake as I can; but I would rather be at home,
                        looking over William Larkins's week's account; much rather, I
                        confess.—Pleasure in seeing dancing!—not I, indeed —I
                        never look at it— I do not know who does.—Fine dancing, I
                        believe, like virtue, must be its own reward. Those who are standing by are
                        usually thinking of something very different."</span></p>

                <p><span id="said_no_02774" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">This Emma felt was aimed at
                        her; and it made her quite angry. It was not in compliment to Jane Fairfax
                        however that he was so indifferent, or so indignant; he was not guided by
                            <em>her</em> feelings in reprobating the ball, for <em>she</em> enjoyed the thought of it to an extraordinary
                        degree. It made her animated— open hearted— she voluntarily
                        said;—</span></p>

                <p><span id="said_no_02775" class="said" data-toggle="tooltip" title="Jane Fairfax" data-placement="auto top">"Oh! Miss Woodhouse, I hope
                        nothing may happen to prevent the ball. What a disappointment it would be! I
                        do look forward to it, I own, with <em>very</em> great
                        pleasure."</span></p>

                <p><span id="said_no_02776" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        It was not to
                        oblige Jane Fairfax therefore that he would have preferred the society of
                        William Larkins. No!—she was more and more convinced that Mrs. Weston
                        was quite mistaken in that surmise. There was a great deal of friendly and
                        of compassionate attachment on his side— but no love.</span></p>

                <p><span id="said_no_02777" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Alas! there was soon no
                        leisure for quarrelling with Mr. Knightley. Two days of joyful security were
                        immediately followed by the over-throw of every thing.</span>
                    <span id="said_no_02778" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">A letter arrived from Mr.
                        Churchill to</span>
                    <span id="said_no_02779" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_mrchurch" data-placement="auto top">
                        urge his
                        nephew's instant return. Mrs. Churchill was unwell —far too unwell to
                        do without him; she had been in a very suffering state</span>
                    <span id="said_no_02780" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(so said her husband)</span>
                    <span id="said_no_02781" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_mrchurch" data-placement="auto top">
                        when
                        writing to her nephew two days before, though from her usual unwillingness
                        to give pain, and constant habit of never thinking of herself, she had not
                        mentioned it; but now she was too ill to trifle, and must entreat him to set
                        off for Enscombe without delay.</span></p>

                <p><span id="said_no_02782" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The substance of this letter
                        was forwarded to Emma, in a note from Mrs. Weston, instantly.</span>
                    <span id="said_no_02783" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_mrsw" data-placement="auto top">
                        As to his
                        going, it was inevitable. He must be gone within a few hours, though without
                        feeling any real alarm for his aunt, to lessen his repugnance. He knew her
                        illnesses; they never occurred but for her own convenience.</span></p>

                <p><span id="said_no_02784" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Weston added,</span>
                    <span id="said_no_02785" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"that he could only allow
                        himself time to hurry to Highbury, after breakfast, and take leave of the
                        few friends there whom he could suppose to feel any interest in him; and
                        that he might be expected at Hartfield very soon."</span></p>

                <p><span id="said_no_02786" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">This wretched note was the
                        finale of Emma's breakfast. When once it had been read, there was no doing
                        any thing, but lament and exclaim.</span>
                    <span id="said_no_02787" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        The loss of
                        the ball —the loss of the young man— and all that the young man
                        might be feeling!—It was too wretched!—Such a delightful evening
                        as it would have been!—Every body so happy! and she and her partner
                        the happiest!—</span>
                    <span id="said_no_02788" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I said it would be
                        so,"</span>
                    <span id="said_no_02789" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was the only
                        consolation.</span></p>

                <p><span id="said_no_02790" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Her father's feelings were
                        quite distinct. He thought principally of Mrs. Churchill's illness, and
                        wanted to know how she was treated; and</span>
                    <span id="said_no_02791" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_wood" data-placement="auto top">
                        as for the
                        ball, it was shocking to have dear Emma disappointed; but they would all be
                        safer at home.</span></p>

                <p><span id="said_no_02792" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma was ready for her
                        visitor some time before he appeared; but if this reflected at all upon his
                        impatience, his sorrowful look and total want of spirits when he did come
                        might redeem him. He felt the going away almost too much to speak of it. His
                        dejection was most evident. He sat really lost in thought for the first few
                        minutes; and when rousing himself, it was only to say,</span></p>

                <p><span id="said_no_02793" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Of all horrid things,
                        leave-taking is the worst."</span></p>

                <p><span id="said_no_02794" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"But you will come
                            again,"</span>
                        <span id="said_no_02795" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma.</span>
                        <span id="said_no_02796" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"This will not be your
                            only visit to Randalls."</span></p>

                <p><span id="said_no_02797" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Ah!—</span>
                        <span id="said_no_02798" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(shaking his
                            head)—</span>
                        <span id="said_no_02799" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">the uncertainty of when
                            I may be able to return!—I shall try for it with a zeal!—It
                            will be the object of all my thoughts and cares!—and if my uncle
                            and aunt go to town this spring— but I am afraid— they did
                            not stir last spring —I am afraid it is a custom gone for
                            ever."</span></p>

                <p><span id="said_no_02800" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Our poor ball must be quite
                        given up."</span></p>

                <p><span id="said_no_02801" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Ah! that ball!—why
                        did we wait for any thing?—why not seize the pleasure at
                        once?—How often is happiness destroyed by preparation, foolish
                        preparation!—You told us it would be so.—Oh! Miss Woodhouse, why
                        are you always so right?"</span></p>

                <p><span id="said_no_02802" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Indeed, I am very sorry to
                        be right in this instance. I would much rather have been merry than
                        wise."</span></p>

                <p><span id="said_no_02803" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"If I can come again, we are
                        still to have our ball. My father depends on it. Do not forget your
                        engagement."</span></p>

                <p><span id="said_no_02804" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma looked
                        graciously.</span></p>

                <p><span id="said_no_02805" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Such a fortnight as it
                            has been!"</span>
                        <span id="said_no_02806" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he continued;</span>
                        <span id="said_no_02807" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"every day more
                            precious and more delightful than the day before!—every day making
                            me less fit to bear any other place. Happy those, who can remain at
                            Highbury!"</span></p>

                <p><span id="said_no_02808" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"As you do us such ample
                            justice now,"</span>
                        <span id="said_no_02809" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma,
                            laughing,</span>
                        <span id="said_no_02810" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I will venture to ask,
                            whether you did not come a little doubtfully at first? Do not we rather
                            surpass your expectations? I am sure we do. I am sure you did not much
                            expect to like us. You would not have been so long in coming, if you had
                            had a pleasant idea of Highbury."</span></p>

                <p><span id="said_no_02811" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He laughed rather
                        consciously; and though denying the sentiment,</span>
                    <span id="said_no_02812" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma was convinced
                        that</span>
                    <span id="said_no_02813" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        it had been
                        so.</span></p>

                <p><span id="said_no_02814" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"And you must be off this
                        very morning?"</span></p>

                <p><span id="said_no_02815" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Yes; my father is to join
                        me here: we shall walk back together, and I must be off immediately. I am
                        almost afraid that every moment will bring him."</span></p>

                <p><span id="said_no_02816" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Not five minutes to spare
                        even for your friends Miss Fairfax and Miss Bates? How unlucky! Miss Bates's
                        powerful, argumentative mind might have strengthened yours."</span></p>

                <p><span id="said_no_02817" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Yes —I <em>have</em> called there; passing the door, I thought it
                        better. It was a right thing to do. I went in for three minutes, and was
                        detained by Miss Bates's being absent. She was out; and I felt it impossible
                        not to wait till she came in. She is a woman that one may, that one <em>must</em> laugh at; but that one would not wish to slight.
                        It was better to pay my visit, then"—</span></p>

                <p><span id="said_no_02818" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He hesitated, got up, walked
                        to a window.</span></p>

                <p><span id="said_no_02819" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"In short,"</span>
                        <span id="said_no_02820" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he,</span>
                        <span id="said_no_02821" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"perhaps, Miss
                            Woodhouse —I think you can hardly be quite without
                            suspicion"—</span></p>

                <p><span id="said_no_02822" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He looked at her, as if
                        wanting to read her thoughts. She hardly knew what to say. It seemed like
                        the forerunner of something absolutely serious, which she did not wish.
                        Forcing herself to speak, therefore, in the hope of putting it by, she
                        calmly said,</span></p>

                <p><span id="said_no_02823" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"You are quite in the right;
                        it was most natural to pay your visit, then"—</span></p>

                <p><span id="said_no_02824" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He was silent. She believed
                        he was looking at her; probably reflecting on what she had said, and trying
                        to understand the manner. She heard him sigh. It was natural for him to feel
                        that he had <em>cause</em> to sigh.</span>
                    <span id="said_no_02825" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        He could not
                        believe her to be encouraging him.</span>
                    <span id="said_no_02826" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">A few awkward moments
                        passed, and he sat down again; and in a more determined manner
                    said,</span></p>

                <p><span id="said_no_02827" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"It was something to feel
                        that all the rest of my time might be given to Hartfield. My regard for
                        Hartfield is most warm"—</span></p>

                <p><span id="said_no_02828" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He stopt again, rose again,
                        and seemed quite embarrassed.—</span>
                    <span id="said_no_02829" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        He was more
                        in love with her than Emma had supposed;</span>
                    <span id="said_no_02830" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and who can say how it might
                        have ended, if his father had not made his appearance? Mr. Woodhouse soon
                        followed; and the necessity of exertion made him composed.</span></p>

                <p><span id="said_no_02831" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">A very few minutes more,
                        however, completed the present trial. Mr. Weston, always alert when business
                        was to be done, and as incapable of procrastinating any evil that was
                        inevitable, as of foreseeing any that was doubtful, said,</span>
                    <span id="said_no_02832" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"It was time to go;"</span>
                    <span id="said_no_02833" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and the young man, though he
                        might and did sigh, could not but agree, to take leave.</span></p>

                <p><span id="said_no_02834" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"I shall hear about you
                            all,"</span>
                        <span id="said_no_02835" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he;</span>
                        <span id="said_no_02836" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"that is my chief
                            consolation. I shall hear of every thing that is going on among you. I
                            have engaged Mrs. Weston to correspond with me. She has been so kind as
                            to promise it. Oh! the blessing of a female correspondent, when one is
                            really interested in the absent!—she will tell me every thing. In
                            her letters I shall be at dear Highbury again."</span></p>

                <p><span id="said_no_02837" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">A very friendly shake of the
                        hand, a very earnest</span>
                    <span id="said_no_02838" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Good-bye,"</span>
                    <span id="said_no_02839" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">closed the speech, and the
                        door had soon shut out Frank Churchill. Short had been the notice—
                        short their meeting; he was gone; and Emma felt so sorry to part, and
                        foresaw so great a loss to their little society from his absence as to begin
                        to be afraid of being too sorry, and feeling it too much.</span></p>

                <p><span id="said_no_02840" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        It was a sad
                        change. They had been meeting almost every day since his arrival. Certainly
                        his being at Randalls had given great spirit to the last two weeks—
                        indescribable spirit; the idea, the expectation of seeing him which every
                        morning had brought, the assurance of his attentions, his liveliness, his
                        manners!</span>
                    <span id="said_no_02841" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        It had been a
                        very happy fortnight, and forlorn must be the sinking from it into the
                        common course of Hartfield days. To complete every other recommendation, he
                        had <em>almost</em> told her that he loved her. What strength,
                        or what constancy of affection he might be subject to, was another point;
                        but at present she could not doubt his having a decidedly warm admiration, a
                        conscious preference of herself;</span>
                    <span id="said_no_02842" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and this persuasion, joined
                        to all the rest,</span>
                    <span id="said_no_02843" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">made her think that</span>
                    <span id="said_no_02844" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        she <em>must</em> be a little in love with him, in spite of every
                        previous determination against it.</span></p>

                <p><span id="said_no_02845" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I certainly
                            must,"</span>
                        <span id="said_no_02846" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she.</span>
                        <span id="said_no_02847" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"This sensation of
                            listlessness, weariness, stupidity, this disinclination to sit down and
                            employ myself, this feeling of every thing's being dull and insipid
                            about the house!— I must be in love; I should be the oddest
                            creature in the world if I were not—for a few weeks at least.
                            Well! evil to some is always good to others. I shall have many
                            fellow-mourners for the ball, if not for Frank Churchill; but Mr.
                            Knightley will be happy. He may spend the evening with his dear William
                            Larkins now if he likes."</span></p>

                <p><span id="said_no_02848" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Knightley, however,
                        shewed no triumphant happiness.</span>
                    <span id="said_no_02849" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_george" data-placement="auto top">
                        He could
                        not say that he was sorry on his own account;</span>
                    <span id="said_no_02850" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">his very cheerful look would
                        have contradicted him if he had; but</span>
                    <span id="said_no_02851" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he said,</span>
                    <span id="said_no_02852" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and very steadily,</span>
                    <span id="said_no_02853" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_02854" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_george" data-placement="auto top">
                        he was
                        sorry for the disappointment of the others,</span>
                    <span id="said_no_02855" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and with considerable
                        kindness added,</span></p>

                <p><span id="said_no_02856" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"You, Emma, who have so few
                        opportunities of dancing, you are really out of luck; you are very much out
                        of luck!"</span></p>

                <p><span id="said_no_02857" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">It was some days before she
                        saw Jane Fairfax, to judge of her honest regret in this woeful change; but
                        when they did meet, her composure was odious. She had been particularly
                        unwell, however, suffering from headache to a degree, which made</span>
                    <span id="said_no_02858" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">her aunt declare,
                        that</span>
                    <span id="said_no_02859" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_msb" data-placement="auto top">
                        had the ball
                        taken place, she did not think Jane could have attended it;</span>
                    <span id="said_no_02860" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and it was charity to impute
                        some of her unbecoming indifference to the languor of ill-health.</span></p>
            
    <div class="footnotes"> </div>
