

     
    
        
                <h3>Chapter XI</h3>

                <p><span id="said_no_02636" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">It may be possible to do
                        without dancing entirely. Instances have been known of young people passing
                        many, many months successively, without being at any ball of any
                        description, and no material injury accrue either to body or mind;—but
                        when a beginning is made —when the felicities of rapid motion have
                        once been, though slightly, felt— it must be a very heavy set that
                        does not ask for more.</span></p>

                <p><span id="said_no_02637" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Frank Churchill had danced
                        once at Highbury, and longed to dance again; and the last half-hour of an
                        evening which Mr. Woodhouse was persuaded to spend with his daughter at
                        Randalls, was passed by the two young people in schemes on the subject.
                        Frank's was the first idea; and his the greatest zeal in pursuing it; for
                        the lady was the best judge of the difficulties, and the most solicitous for
                        accommodation and appearance. But still she had inclination enough for
                        shewing people again how delightfully Mr. Frank Churchill and Miss Woodhouse
                        danced— for doing that in which she need not blush to compare herself
                        with Jane Fairfax— and even for simple dancing itself, without any of
                        the wicked aids of vanity —to assist him first in pacing out the room
                        they were in to see what it could be made to hold—and then in taking
                        the dimensions of the other parlour, in the hope of discovering, in spite of
                        all that Mr. Weston could say of their exactly equal size, that it was a
                        little the largest.</span></p>

                <p><span id="said_no_02638" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">His first proposition and
                        request, that</span>
                    <span id="said_no_02639" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        the dance
                        begun at Mr. Cole's should be finished there —</span>
                    <span id="said_no_02640" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_02641" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        the same
                        party should be collected, and the same musician engaged,</span>
                    <span id="said_no_02642" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">met with the readiest
                        acquiescence. Mr. Weston entered into the idea with thorough enjoyment,
                        and</span>
                    <span id="said_no_02643" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Weston most willingly
                        undertook</span>
                    <span id="said_no_02644" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_mrsw" data-placement="auto top">
                        to play as
                        long as they could wish to dance;</span>
                    <span id="said_no_02645" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and the interesting
                        employment had followed, of reckoning up exactly who there would be, and
                        portioning out the indispensable division of space to every
                    couple.</span></p>

                <p><span id="said_no_02646" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"You and Miss Smith,
                            and Miss Fairfax, will be three, and the two Miss Coxes five,"</span>
                        <span id="said_no_02647" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">had been repeated many
                            times over.</span>
                        <span id="said_no_02648" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"And there will be the
                            two Gilberts, young Cox, my father, and myself, besides Mr. Knightley.
                            Yes, that will be quite enough for pleasure. You and Miss Smith, and
                            Miss Fairfax, will be three, and the two Miss Coxes five; and for five
                            couple there will be plenty of room."</span></p>

                <p><span id="said_no_02649" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">But soon it came to be on one
                        side,</span></p>

                <p>"But will there be good room for five couple?—I really do not think there
                    will."</p>

                <p><span id="said_no_02650" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">On another,</span></p>

                <p>"And after all, five couple are not enough to make it worth while to stand up.
                    Five couple are nothing, when one thinks seriously about it. It will not do to
                        <em>invite</em> five couple. It can be allowable only as the
                    thought of the moment."</p>

                <p><span id="said_no_02651" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Somebody said that</span>
                    <span id="said_no_02652" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_somebody" data-placement="auto top">
                        <em>Miss</em> Gilbert was expected at her brother's, and must
                        be invited with the rest.</span>
                    <span id="said_no_02653" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Somebody else
                        believed</span>
                    <span id="said_no_02654" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_somebody" data-placement="auto top">
                        <em>Mrs</em>. Gilbert would have danced the other evening, if
                        she had been asked.</span>
                    <span id="said_no_02655" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">A word was put in for a
                        second young Cox; and at last, Mr. Weston naming one family of cousins who
                        must be included, and another of very old acquaintance who could not be left
                        out, it became a certainty that the five couple would be at least ten, and a
                        very interesting speculation in what possible manner they could be disposed
                        of.</span></p>

                <p>
                    <span id="said_no_02656" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The doors of the two rooms
                        were just opposite each other.</span>
                    <span id="said_no_02657" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Might not they use both
                        rooms, and dance across the passage?"</span>
                    <span id="said_no_02658" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">It seemed the best scheme;
                        and yet it was not so good but that many of them wanted a better. Emma said
                        it would be awkward; Mrs. Weston was in distress about the supper; and Mr.
                        Woodhouse opposed it earnestly, on the score of health. It made him so very
                        unhappy, indeed, that it could not be persevered in.</span>
                </p>

                <p><span id="said_no_02659" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Oh! no,"</span>
                        <span id="said_no_02660" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he;</span>
                        <span id="said_no_02661" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"it would be the extreme
                            of imprudence. I could not bear it for Emma!—Emma is not strong.
                            She would catch a dreadful cold. So would poor little Harriet. So you
                            would all. Mrs. Weston, you would be quite laid up; do not let them talk
                            of such a wild thing. Pray do not let them talk of it. That young man </span>
                        <span id="said_no_02662" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">(speaking lower)</span>
                        <span id="said_no_02663" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top"> is very thoughtless. Do
                            not tell his father, but that young man is not quite the thing. He has
                            been opening the doors very often this evening, and keeping them open
                            very inconsiderately. He does not think of the draught. I do not mean to
                            set you against him, but indeed he is not quite the
                    thing!"</span></p>

                <p><span id="said_no_02664" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Weston was sorry for
                        such a charge. She knew the importance of it, and said every thing in her
                        power to do it away. Every door was now closed, the passage plan given up,
                        and the first scheme of dancing only in the room they were in resorted to
                        again; and with such good-will on Frank Churchill's part, that the space
                        which a quarter of an hour before had been deemed barely sufficient for five
                        couple, was now endeavoured to be made out quite enough for ten.</span></p>

                <p><span id="said_no_02665" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"We were too
                            magnificent,"</span>
                        <span id="said_no_02666" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he.</span>
                        <span id="said_no_02667" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"We allowed unnecessary
                            room. Ten couple may stand here very well."</span></p>

                <p><span id="said_no_02668" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma demurred.</span>
                    <span id="said_no_02669" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"It would be a crowd
                        —a sad crowd; and what could be worse than dancing without space to
                        turn in?"</span></p>

                <p><span id="said_no_02670" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Very true,"</span>
                        <span id="said_no_02671" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he gravely
                            replied;</span>
                        <span id="said_no_02672" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"it was very
                            bad."</span>
                    <span id="said_no_02673" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">But still he went on
                        measuring, and still he ended with,</span></p>

                <p><span id="said_no_02674" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"I think there will be very
                        tolerable room for ten couple."</span></p>

                <p><span id="said_no_02675" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"No, no,"</span>
                        <span id="said_no_02676" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_02677" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"you are quite
                            unreasonable. It would be dreadful to be standing so close! Nothing can
                            be farther from pleasure than to be dancing in a crowd— and a
                            crowd in a little room!"</span></p>

                <p><span id="said_no_02678" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"There is no denying
                            it,"</span>
                        <span id="said_no_02679" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he replied.</span>
                        <span id="said_no_02680" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"I agree with you
                            exactly. A crowd in a little room— Miss Woodhouse, you have the
                            art of giving pictures in a few words. Exquisite, quite
                            exquisite!—Still, however, having proceeded so far, one is
                            unwilling to give the matter up. It would be a disappointment to my
                            father—and altogether— I do not know that— I am rather
                            of opinion that ten couple might stand here very well."</span></p>

                <p><span id="said_no_02681" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma perceived that the
                        nature of his gallantry was a little self-willed, and that he would rather
                        oppose than lose the pleasure of dancing with her; but she took the
                        compliment, and forgave the rest.</span>
                    <span id="said_no_02682" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Had she
                        intended ever to <em>marry</em> him, it might have been worth
                        while to pause and consider, and try to understand the value of his
                        preference, and the character of his temper; but for all the purposes of
                        their acquaintance, he was quite amiable enough.</span></p>

                <p><span id="said_no_02683" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Before the middle of the next
                        day, he was at Hartfield; and he entered the room with such an agreeable
                        smile as certified the continuance of the scheme. It soon appeared that he
                        came to announce an improvement.</span></p>

                <p><span id="said_no_02684" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Well, Miss
                            Woodhouse,"</span>
                        <span id="said_no_02685" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he almost immediately
                            began,</span>
                        <span id="said_no_02686" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"your inclination for
                            dancing has not been quite frightened away, I hope, by the terrors of my
                            father's little rooms. I bring a new proposal on the subject:—a
                            thought of my father's, which waits only your approbation to be acted
                            upon. May I hope for the honour of your hand for the two first dances of
                            this little projected ball, to be given, not at Randalls, but at the
                            Crown Inn?"</span></p>

                <p><span id="said_no_02687" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"The Crown!"</span></p>

                <p><span id="said_no_02688" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Yes; if you and Mr.
                        Woodhouse see no objection, and I trust you cannot,</span>
                    <span id="said_no_02689" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">my father hopes</span>
                    <span id="said_no_02690" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Frank Churchill speaking as Mr. Weston" data-placement="auto top">
                        his friends
                        will be so kind as to visit him there. Better accommodations, he can promise
                        them, and not a less grateful welcome than at Randalls.</span>
                    <span id="said_no_02691" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">It is his own idea.</span>
                    <span id="said_no_02692" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">Mrs. Weston sees</span>
                    <span id="said_no_02693" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Frank Churchill speaking as Mrs. Weston" data-placement="auto top">
                        no
                        objection to it, provided you are satisfied.</span>
                    <span id="said_no_02694" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">This is what we all feel.
                        Oh! you were perfectly right! Ten couple, in either of the Randalls rooms,
                        would have been insufferable!—Dreadful!—I felt how right you
                        were the whole time, but was too anxious for securing <em>any</em>
                        <em>thing</em> to like to yield. Is not it a good
                        exchange?—You consent— I hope you consent?"</span></p>

                <p><span id="said_no_02695" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"It appears to me a plan that
                        nobody can object to, if Mr. and Mrs. Weston do not. I think it admirable;
                        and, as far as I can answer for myself, shall be most happy— It seems
                        the only improvement that could be. Papa, do you not think it an excellent
                        improvement?"</span></p>

                <p><span id="said_no_02696" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She was obliged to repeat and
                        explain it, before it was fully comprehended; and then, being quite new,
                        farther representations were necessary to make it acceptable.</span></p>

                <p><span id="said_no_02697" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"No; he thought it very far
                        from an improvement— a very bad plan —much worse than the other.
                        A room at an inn was always damp and dangerous; never properly aired, or fit
                        to be inhabited. If they must dance, they had better dance at Randalls. He
                        had never been in the room at the Crown in his life —did not know the
                        people who kept it by sight.—Oh! no —a very bad plan. They would
                        catch worse colds at the Crown than anywhere."</span></p>

                <p><span id="said_no_02698" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"I was going to
                            observe, sir,"</span>
                        <span id="said_no_02699" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Frank
                            Churchill,</span>
                        <span id="said_no_02700" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"that one of the great
                            recommendations of this change would be the very little danger of any
                            body's catching cold —so much less danger at the Crown than at
                            Randalls! Mr. Perry might have reason to regret the alteration, but
                            nobody else could."</span></p>

                <p><span id="said_no_02701" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Sir,"</span>
                        <span id="said_no_02702" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mr. Woodhouse,
                            rather warmly,</span>
                        <span id="said_no_02703" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"you are very much
                            mistaken if you suppose Mr. Perry to be that sort of character. Mr.
                            Perry is extremely concerned when any of us are ill. But I do not
                            understand how the room at the Crown can be safer for you than your
                            father's house."</span></p>

                <p><span id="said_no_02704" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"From the very circumstance
                        of its being larger, sir. We shall have no occasion to open the windows at
                        all —not once the whole evening; and it is that dreadful habit of
                        opening the windows, letting in cold air upon heated bodies, which (as you
                        well know, sir) does the mischief."</span></p>

                <p><span id="said_no_02705" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Open the windows!—but
                        surely, Mr. Churchill, nobody would think of opening the windows at
                        Randalls. Nobody could be so imprudent! I never heard of such a thing.
                        Dancing with open windows!—I am sure, neither your father nor Mrs.
                        Weston (poor Miss Taylor that was) would suffer it."</span></p>

                <p><span id="said_no_02706" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Ah! sir —but a
                        thoughtless young person will sometimes step behind a window-curtain, and
                        throw up a sash, without its being suspected. I have often known it done
                        myself."</span></p>

                <p><span id="said_no_02707" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Have you indeed,
                        sir?—Bless me! I never could have supposed it. But I live out of the
                        world, and am often astonished at what I hear. However, this does make a
                        difference; and, perhaps, when we come to talk it over— but these sort
                        of things require a good deal of consideration. One cannot resolve upon them
                        in a hurry. If Mr. and Mrs. Weston will be so obliging as to call here one
                        morning, we may talk it over, and see what can be done."</span></p>

                <p><span id="said_no_02708" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"But, unfortunately, sir, my
                        time is so limited——"</span></p>

                <p><span id="said_no_02709" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Oh!"</span>
                        <span id="said_no_02710" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">interrupted Emma,</span>
                        <span id="said_no_02711" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"there will be plenty of
                            time for talking every thing over. There is no hurry at all. If it can
                            be contrived to be at the Crown, papa, it will be very convenient for
                            the horses. They will be so near their own stable."</span></p>

                <p><span id="said_no_02712" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"So they will, my dear. That
                        is a great thing. Not that James ever complains; but it is right to spare
                        our horses when we can. If I could be sure of the rooms being thoroughly
                        aired— but is Mrs. Stokes to be trusted? I doubt it. I do not know
                        her, even by sight."</span></p>

                <p><span id="said_no_02713" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"I can answer for every
                        thing of that nature, sir, because it will be under Mrs. Weston's care. Mrs.
                        Weston undertakes to direct the whole."</span></p>

                <p><span id="said_no_02714" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"There, papa!—Now you
                        must be satisfied— Our own dear Mrs. Weston, who is carefulness
                        itself. Do not you remember what Mr. Perry said, so many years ago, when I
                        had the measles?</span>
                    <span id="said_no_02715" class="said" data-toggle="tooltip" title="Mr. Perry" data-placement="auto top">'If <em>Miss</em>
                        <em>Taylor</em> undertakes to wrap Miss Emma up, you need not
                        have any fears, sir.'</span>
                    <span id="said_no_02716" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">How often have I heard you
                        speak of it as such a compliment to her!"</span></p>

                <p><span id="said_no_02717" class="said" data-toggle="tooltip" title="Mr. Woodhouse" data-placement="auto top">"Aye, very true. Mr. Perry
                        did say so. I shall never forget it. Poor little Emma! You were very bad
                        with the measles; that is, you would have been very bad, but for Perry's
                        great attention. He came four times a day for a week. He said, from the
                        first, it was a very good sort— which was our great comfort; but the
                        measles are a dreadful complaint. I hope whenever poor Isabella's little
                        ones have the measles, she will send for Perry."</span></p>

                <p><span id="said_no_02718" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"My father and Mrs.
                            Weston are at the Crown at this moment,"</span>
                        <span id="said_no_02719" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Frank
                            Churchill,</span>
                        <span id="said_no_02720" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"examining the
                            capabilities of the house. I left them there and came on to Hartfield,
                            impatient for your opinion, and hoping you might be persuaded to join
                            them and give your advice on the spot. I was desired to say so from
                            both.</span>
                        <span id="said_no_02721" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Frank Churchill speaking as Mr. Weston and Mrs. Weston" data-placement="auto top">
                            It
                            would be the greatest pleasure to them, if you could allow me to attend
                            you there. They can do nothing satisfactorily without
                    you."</span></p>

                <p><span id="said_no_02722" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma was most happy to be
                        called to such a council; and her father, engaging to think it all over
                        while she was gone, the two young people set off together without delay for
                        the Crown. There were Mr. and Mrs. Weston; delighted to see her and receive
                        her approbation, very busy and very happy in their different way; she, in
                        some little distress; and he, finding every thing perfect.</span></p>

                <p><span id="said_no_02723" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"Emma,"</span>
                        <span id="said_no_02724" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_02725" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"this paper is worse
                            than I expected. Look! in places you see it is dreadfully dirty; and the
                            wainscot is more yellow and forlorn than any thing I could have
                            imagined."</span></p>

                <p><span id="said_no_02726" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"My dear, you are too
                            particular,"</span>
                        <span id="said_no_02727" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said her husband.</span>
                        <span id="said_no_02728" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"What does all that
                            signify? You will see nothing of it by candlelight. It will be as clean
                            as Randalls by candlelight. We never see any thing of it on our
                            club-nights."</span></p>

                <p>The ladies here probably exchanged looks which meant, "Men never know when things
                    are dirty or not;" and the gentlemen perhaps thought each to himself, "Women
                    will have their little nonsenses and needless cares."</p>

                <p><span id="said_no_02729" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">One perplexity, however,
                        arose, which the gentlemen did not disdain. It regarded a supper-room. At
                        the time of the ballroom's being built, suppers had not been in question;
                        and a small card-room adjoining, was the only addition. What was to be done?
                        This card-room would be wanted as a card-room now; or, if cards were
                        conveniently voted unnecessary by their four selves, still was it not too
                        small for any comfortable supper? Another room of much better size might be
                        secured for the purpose; but it was at the other end of the house, and a
                        long awkward passage must be gone through to get at it. This made a
                        difficulty. Mrs. Weston was afraid of draughts for the young people in that
                        passage; and neither Emma nor the gentlemen could tolerate the prospect of
                        being miserably crowded at supper.</span></p>

                <p><span id="said_no_02730" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Weston proposed</span>
                    <span id="said_no_02731" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_mrsw" data-placement="auto top">
                        having no
                        regular supper; merely sandwiches, &amp;c., set out in the little
                        room;</span>
                    <span id="said_no_02732" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">but that was scouted as a
                        wretched suggestion. A private dance, without sitting down to supper, was
                        pronounced an infamous fraud upon the rights of men and women; and Mrs.
                        Weston must not speak of it again. She then took another line of expediency,
                        and looking into the doubtful room, observed,</span></p>

                <p><span id="said_no_02733" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"I do not think it <em>is</em> so very small. We shall not be many, you
                        know."</span></p>

                <p><span id="said_no_02734" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">And Mr. Weston at the same
                        time, walking briskly with long steps through the passage, was calling
                        out,</span></p>

                <p><span id="said_no_02735" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"You talk a great deal of the
                        length of this passage, my dear. It is a mere nothing after all; and not the
                        least draught from the stairs."</span></p>

                <p><span id="said_no_02736" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"I wish,"</span>
                        <span id="said_no_02737" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Mrs. Weston,</span>
                        <span id="said_no_02738" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"one could know which
                            arrangement our guests in general would like best. To do what would be
                            most generally pleasing must be our object— if one could but tell
                            what that would be."</span></p>

                <p><span id="said_no_02739" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Yes, very
                            true,"</span>
                        <span id="said_no_02740" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">cried Frank,</span>
                        <span id="said_no_02741" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"very true. You want
                            your neighbours' opinions. I do not wonder at you. If one could
                            ascertain what the chief of them— the Coles, for instance. They
                            are not far off. Shall I call upon them? Or Miss Bates? She is still
                            nearer.—And I do not know whether Miss Bates is not as likely to
                            understand the inclinations of the rest of the people as any body. I
                            think we do want a larger council. Suppose I go and invite Miss Bates to
                            join us?"</span></p>

                <p><span id="said_no_02742" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"Well —if you
                            please,"</span>
                        <span id="said_no_02743" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">aid Mrs. Weston rather
                            hesitating,</span>
                        <span id="said_no_02744" class="said" data-toggle="tooltip" title="Mrs. Weston" data-placement="auto top">"if you think she will
                            be of any use."</span></p>

                <p><span id="said_no_02745" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"You will get nothing to
                            the purpose from Miss Bates,"</span>
                        <span id="said_no_02746" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma.</span>
                        <span id="said_no_02747" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"She will be all delight
                            and gratitude, but she will tell you nothing. She will not even listen
                            to your questions. I see no advantage in consulting Miss
                        Bates."</span></p>

                <p><span id="said_no_02748" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"But she is so amusing, so
                        extremely amusing! I am very fond of hearing Miss Bates talk. And I need not
                        bring the whole family, you know."</span></p>

                <p><span id="said_no_02749" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Here Mr. Weston joined them,
                        and on hearing what was proposed, gave it his decided
                    approbation.</span></p>

                <p><span id="said_no_02750" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"Aye, do, Frank.—Go and
                        fetch Miss Bates, and let us end the matter at once. She will enjoy the
                        scheme, I am sure; and I do not know a properer person for shewing us how to
                        do away difficulties. Fetch Miss Bates. We are growing a little too nice.
                        She is a standing lesson of how to be happy. But fetch them both. Invite
                        them both."</span></p>

                <p><span id="said_no_02751" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Both sir! Can the old
                        lady?"...</span></p>

                <p><span id="said_no_02752" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"The old lady! No, the young
                        lady, to be sure. I shall think you a great blockhead, Frank, if you bring
                        the aunt without the niece."</span></p>

                <p><span id="said_no_02753" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">"Oh! I beg your pardon, sir.
                        I did not immediately recollect. Undoubtedly if you wish it, I will
                        endeavour to persuade them both."</span>
                    <span id="said_no_02754" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">And away he ran.</span></p>

                <p><span id="said_no_02755" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Long before he reappeared,
                        attending the short, neat, brisk-moving aunt, and her elegant
                        niece,—</span>
                    <span id="said_no_02756" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mrs. Weston,</span>
                    <span id="said_no_02757" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">like a sweet-tempered woman
                        and a good wife, had examined the passage again, and</span>
                    <span id="said_no_02758" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">found</span>
                    <span id="said_no_02759" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_mrsw" data-placement="auto top">
                        the evils of
                        it much less than she had supposed before— indeed very
                        trifling;</span>
                    <span id="said_no_02760" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and here ended the
                        difficulties of decision. All the rest, in speculation at least, was
                        perfectly smooth. All the minor arrangements of table and chair, lights and
                        music, tea and supper, made themselves; or were left as mere trifles to be
                        settled at any time between Mrs. Weston and Mrs. Stokes.—Every body
                        invited, was certainly to come;</span>
                    <span id="said_no_02761" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Frank</span>
                    <span id="said_no_02762" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_frank" data-placement="auto top">
                        had already
                        written to Enscombe to propose staying a few days beyond his fortnight,
                        which could not possibly be refused.</span>
                    <span id="said_no_02763" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">And a delightful dance it
                        was to be.</span></p>

                <p><span id="said_no_02764" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Most cordially, when Miss
                        Bates arrived, did she agree that it must. As a counsellor she was not
                        wanted; but as an approver, (a much safer character,) she was truly welcome.
                        Her approbation, at once general and minute, warm and incessant, could not
                        but please; and for another half-hour they were all walking to and fro,
                        between the different rooms, some suggesting, some attending, and all in
                        happy enjoyment of the future. The party did not break up without Emma's
                        being positively secured for the two first dances by the hero of the
                        evening, nor without her overhearing Mr. Weston whisper to his wife,</span>
                    <span id="said_no_02765" class="said" data-toggle="tooltip" title="Mr. Weston" data-placement="auto top">"He has asked her, my dear.
                        That's right. I knew he would!"</span></p>
            
    <div class="footnotes"> </div>
