

     
    
        
                <h3>Chapter XV</h3>

                <p><span id="said_no_04994" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">This letter must make its way
                        to Emma's feelings. She was obliged, in spite of her previous determination
                        to the contrary, to do it all the justice that Mrs. Weston foretold. As soon
                        as she came to her own name, it was irresistible; every line relating to
                        herself was interesting, and almost every line agreeable; and when this
                        charm ceased, the subject could still maintain itself, by the natural return
                        of her former regard for the writer, and the very strong attraction which
                        any picture of love must have for her at that moment. She never stopt till
                        she had gone through the whole; and though</span>
                    <span id="said_no_04995" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">it was impossible not to
                        feel that</span>
                    <span id="said_no_04996" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        he had been
                        wrong, yet he had been less wrong than she had supposed—and he had
                        suffered, and was very sorry—and he was so grateful to Mrs. Weston,
                        and so much in love with Miss Fairfax, and she was so happy herself, that
                        there was no being severe; and could he have entered the room, she must have
                        shaken hands with him as heartily as ever.</span></p>

                <p><span id="said_no_04997" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She thought so well of the
                        letter, that when Mr. Knightley came again, she desired him to read
                        it.</span>
                    <span id="said_no_04998" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She was sure of</span>
                    <span id="said_no_04999" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Mrs. Weston's
                        wishing it to be communicated; especially to one, who, like Mr. Knightley,
                        had seen so much to blame in his conduct.</span></p>

                <p><span id="said_no_05000" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"I shall be very glad
                            to look it over,"</span>
                        <span id="said_no_05001" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he;</span>
                        <span id="said_no_05002" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"but it seems long. I
                            will take it home with me at night."</span></p>

                <p><span id="said_no_05003" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        But that would
                        not do. Mr. Weston was to call in the evening, and she must return it by
                        him.</span></p>

                <p><span id="said_no_05004" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"I would rather be
                            talking to you,"</span>
                        <span id="said_no_05005" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he replied;</span>
                        <span id="said_no_05006" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"but as it seems a
                            matter of justice, it shall be done."</span></p>

                <p><span id="said_no_05007" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He began— — stopping,
                        however, almost directly to say,</span>
                    <span id="said_no_05008" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Had I been offered the
                        sight of one of this gentleman's letters to his mother-in-law a few months
                        ago, Emma, it would not have been taken with such indifference."</span></p>

                <p><span id="said_no_05009" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He proceeded a little
                        farther, reading to himself; and then, with a smile, observed,</span>
                    <span id="said_no_05010" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Humph! a fine
                        complimentary opening: But it is his way. One man's style must not be the
                        rule of another's. We will not be severe."</span></p>

                <p><span id="said_no_05011" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"It will be natural
                            for me,"</span>
                        <span id="said_no_05012" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he added shortly
                            afterwards,</span>
                        <span id="said_no_05013" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">to speak my opinion
                            aloud as I read. By doing it, I shall feel that I am near you. It will
                            not be so great a loss of time: but if you dislike it
                        —"</span></p>

                <p><span id="said_no_05014" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Not at all. I should wish
                        it."</span></p>

                <p><span id="said_no_05015" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Knightley returned to his
                        reading with greater alacrity.</span></p>

                <p><span id="said_no_05016" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"He trifles
                            here,"</span>
                        <span id="said_no_05017" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said he,</span>
                        <span id="said_no_05018" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"as to the temptation.
                            He knows he is wrong, and has nothing rational to
                            urge.—Bad.—He ought not to have formed the
                            engagement.—'His father's disposition:'—he is unjust,
                            however, to his father. Mr. Weston's sanguine temper was a blessing on
                            all his upright and honourable exertions; but Mr. Weston earned every
                            present comfort before he endeavoured to gain it.—Very true; he
                            did not come till Miss Fairfax was here."</span></p>

                <p><span id="said_no_05019" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"And I have not
                            forgotten,"</span>
                        <span id="said_no_05020" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said Emma,</span>
                        <span id="said_no_05021" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"how sure you were
                            that</span>
                        <span id="said_no_05022" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Emma Woodhouse speaking as Mr. George Knightley" data-placement="auto top">
                             he
                            might have come sooner if he would.</span>
                        <span id="said_no_05023" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">You pass it over very
                            handsomely—but you were perfectly right."</span></p>

                <p><span id="said_no_05024" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"I was not quite impartial
                        in my judgment, Emma:—but yet, I think—had <em>you</em> not been in the case—I should still have distrusted
                        him."</span></p>

                <p><span id="said_no_05025" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">When he came to Miss
                        Woodhouse, he was obliged to read the whole of it aloud— all that
                        related to her, with a smile; a look; a shake of the head; a word or two of
                        assent, or disapprobation; or merely of love, as the subject required;
                        concluding, however, seriously, and, after steady reflection,
                        thus—</span></p>

                <p><span id="said_no_05026" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Very bad— though it
                        might have been worse.—Playing a most dangerous game. Too much
                        indebted to the event for his acquittal.—No judge of his own manners
                        by you.—Always deceived in fact by his own wishes, and regardless of
                        little besides his own convenience.—Fancying you to have fathomed his
                        secret. Natural enough!—his own mind full of intrigue, that he should
                        suspect it in others.—Mystery; Finesse —how they pervert the
                        understanding! My Emma, does not every thing serve to prove more and more
                        the beauty of truth and sincerity in all our dealings with each
                        other?"</span></p>

                <p><span id="said_no_05027" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma agreed to</span>
                    <span id="said_no_05028" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        it,</span>
                    <span id="said_no_05029" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and with a blush of
                        sensibility on Harriet's account, which she could not give any sincere
                        explanation of.</span></p>

                <p><span id="said_no_05030" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"You had better go
                        on,"</span>
                    <span id="said_no_05031" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">said she.</span></p>

                <p><span id="said_no_05032" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">He did so, but very soon
                        stopt again to say,</span>
                    <span id="said_no_05033" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"the pianoforte! Ah! That
                        was the act of a very, very young man, one too young to consider whether the
                        inconvenience of it might not very much exceed the pleasure. A boyish
                        scheme, indeed!—I cannot comprehend a man's wishing to give a woman
                        any proof of affection which he knows she would rather dispense with; and he
                        did know that she would have prevented the instrument's coming if she
                        could."</span></p>

                <p><span id="said_no_05034" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">After this, he made some
                        progress without any pause. Frank Churchill's confession of having behaved
                        shamefully was the first thing to call for more than a word in
                        passing.</span></p>

                <p><span id="said_no_05035" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"I perfectly agree
                            with you, sir,"—</span>
                        <span id="said_no_05036" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was then his
                            remark.</span>
                        <span id="said_no_05037" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"You did behave very
                            shamefully. You never wrote a truer line."</span>
                        <span id="said_no_05038" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">And having gone through
                            what immediately followed of the basis of their disagreement, and his
                            persisting to act in direct opposition to Jane Fairfax's sense of right,
                            he made a fuller pause to say,</span>
                        <span id="said_no_05039" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"This is very
                            bad.—He had induced her to place herself, for his sake, in a
                            situation of extreme difficulty and uneasiness, and it should have been
                            his first object to prevent her from suffering unnecessarily.—She
                            must have had much more to contend with, in carrying on the
                            correspondence, than he could. He should have respected even
                            unreasonable scruples, had there been such; but hers were all
                            reasonable. We must look to her one fault, and remember that she had
                            done a wrong thing in consenting to the engagement, to bear that she
                            should have been in such a state of punishment."</span></p>

                <p><span id="said_no_05040" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma knew that</span>
                    <span id="said_no_05041" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he was now getting to the
                        Box Hill party, and grew uncomfortable.</span>
                    <span id="said_no_05042" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Her own
                        behaviour had been so very improper!</span>
                    <span id="said_no_05043" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She was deeply ashamed, and
                        a little afraid of his next look. It was all read, however, steadily,
                        attentively, and without the smallest remark; and, excepting one momentary
                        glance at her, instantly withdrawn, in the fear of giving pain— no
                        remembrance of Box Hill seemed to exist.</span></p>

                <p><span id="said_no_05044" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"There is no saying
                            much for the delicacy of our good friends, the Eltons,"</span>
                        <span id="said_no_05045" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">was his next
                            observation.—</span>
                        <span id="said_no_05046" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"His feelings are
                            natural.—What! actually resolve to break with him
                            entirely!—</span>
                        <span id="said_no_05047" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">She felt</span>
                        <span id="said_no_05048" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="Mr. Knightley speaking as Jane Fairfax" data-placement="auto top">
                            the
                            engagement to be a source of repentance and misery to each— she
                            dissolved it.—</span>
                        <span id="said_no_05049" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">What view this gives
                            of her sense of his behaviour!—Well, he must be a most
                            extraordinary —"</span></p>

                <p><span id="said_no_05050" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Nay, nay, read on.—You
                        will find how very much he suffers."</span></p>

                <p><span id="said_no_05051" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"I hope he
                            does,"</span>
                        <span id="said_no_05052" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">replied Mr. Knightley
                            coolly, and resuming the letter.</span>
                        <span id="said_no_05053" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"'Smallridge!'—What does this mean? What is all
                        this?"</span></p>

                <p><span id="said_no_05054" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"She had engaged</span>
                    <span id="said_no_05055" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Emma Woodhouse speaking as Miss Bates speaking as Jane Fairfax" data-placement="auto top">
                        to go as
                        governess to Mrs. Smallridge's children —a dear friend of Mrs. Elton's
                        — —a neighbour of Maple Grove;</span>
                    <span id="said_no_05056" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">and, by the bye, I wonder
                        how Mrs. Elton bears the disappointment?"</span></p>

                <p><span id="said_no_05057" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Say nothing, my dear Emma,
                        while you oblige me to read —not even of Mrs. Elton. Only one page
                        more. I shall soon have done. What a letter the man writes!"</span></p>

                <p><span id="said_no_05058" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I wish you would read it
                        with a kinder spirit towards him."</span></p>

                <p><span id="said_no_05059" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Well, there <em>is</em> feeling here.—He does seem to have suffered
                        in finding her ill.—Certainly, I can have no doubt of his being fond
                        of her.</span>
                    <span id="said_no_05060" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">'Dearer, much dearer than
                        ever.'</span>
                    <span id="said_no_05061" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">I hope he may long
                        continue to feel all the value of such a reconciliation.—He is a very
                        liberal thanker, with his thousands and tens of thousands.—</span>
                    <span id="said_no_05062" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">'Happier than I
                        deserve.'</span>
                    <span id="said_no_05063" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">Come, he knows himself
                        there.</span>
                    <span id="said_no_05064" class="said" data-toggle="tooltip" title="Frank Churchill" data-placement="auto top">'Miss Woodhouse calls me
                        the child of good fortune.'—Those were Miss Woodhouse's words, were
                        they?— And a fine ending— and there is the letter.</span>
                    <span id="said_no_05065" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Mr. Knightley speaking as Emma Woodhouse" data-placement="auto top">
                        The child
                        of good fortune!</span>
                    <span id="said_no_05066" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">That was your name for
                        him, was it?"</span></p>

                <p><span id="said_no_05067" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"You do not appear so well
                        satisfied with his letter as I am; but still you must, at least I hope you
                        must, think the better of him for it. I hope it does him some service with
                        you."</span></p>

                <p><span id="said_no_05068" class="said" data-toggle="tooltip" title="Mr. Knightley" data-placement="auto top">"Yes, certainly it does. He
                        has had great faults, faults of inconsideration and thoughtlessness; and I
                        am very much of his opinion in thinking him likely to be happier than he
                        deserves: but still as he is, beyond a doubt, really attached to Miss
                        Fairfax, and will soon, it may be hoped, have the advantage of being
                        constantly with her, I am very ready to believe his character will improve,
                        and acquire from hers the steadiness and delicacy of principle that it
                        wants. And now, let me talk to you of something else. I have another
                        person's interest at present so much at heart, that I cannot think any
                        longer about Frank Churchill. Ever since I left you this morning, Emma, my
                        mind has been hard at work on one subject."</span></p>

                <p><span id="said_no_05069" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">The subject followed; it was
                        in plain, unaffected, gentlemanlike English, such as Mr. Knightley used even
                        to the woman he was in love with,</span>
                    <span id="said_no_05070" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_george" data-placement="auto top">
                        how to be
                        able to ask her to marry him, without attacking the happiness of her
                        father.</span>
                    <span id="said_no_05071" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Emma's answer was ready at
                        the first word.</span>
                    <span id="said_no_05072" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"While her dear father
                        lived, any change of condition must be impossible for her. She could never
                        quit him."</span>
                    <span id="said_no_05073" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Part only of this answer,
                        however, was admitted.</span>
                    <span id="said_no_05074" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.005.nar_george" data-placement="auto top">
                        The
                        impossibility of her quitting her father,</span>
                    <span id="said_no_05075" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Mr. Knightley felt</span>
                    <span id="said_no_05076" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_george" data-placement="auto top">
                        as strongly
                        as herself; but the inadmissibility of any other change, he could not agree
                        to. He had been thinking it over most deeply, most intently; he had at first
                        hoped to induce Mr. Woodhouse to remove with her to Donwell; he had wanted
                        to believe it feasible, but his knowledge of Mr. Woodhouse would not suffer
                        him to deceive himself long; and now he confessed his persuasion, that such
                        a transplantation would be a risk of her father's comfort, perhaps even of
                        his life, which must not be hazarded. Mr. Woodhouse taken from
                        Hartfield!—No, he felt that it ought not to be attempted. But the plan
                        which had arisen on the sacrifice of this, he trusted his dearest Emma would
                        not find in any respect objectionable; it was, that he should be received at
                        Hartfield; that so long as her father's happiness in other words his
                        life—required Hartfield to continue her home, it should be his
                        likewise.</span></p>

                <p><span id="said_no_05077" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">Of their all removing to
                        Donwell, Emma had already had her own passing thoughts. Like him, she had
                        tried the scheme and rejected it; but such an alternative as this had not
                        occurred to her.</span>
                    <span id="said_no_05078" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She was sensible of</span>
                    <span id="said_no_05079" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        all the
                        affection it evinced.</span>
                    <span id="said_no_05080" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She felt that,</span>
                    <span id="said_no_05081" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        in quitting
                        Donwell, he must be sacrificing a great deal of independence of hours and
                        habits;</span>
                    <span id="said_no_05082" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">that</span>
                    <span id="said_no_05083" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        in living
                        constantly with her father, and in no house of his own, there would be much,
                        very much, to be borne with.</span>
                    <span id="said_no_05084" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        She promised
                        to think of it,</span>
                    <span id="said_no_05085" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and</span>
                    <span id="said_no_05086" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">advised</span>
                    <span id="said_no_05087" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        him to think
                        of it more;</span>
                    <span id="said_no_05088" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">but</span>
                    <span id="said_no_05089" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">he was fully convinced,
                        that</span>
                    <span id="said_no_05090" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.005.nar_george" data-placement="auto top">
                        no
                        reflection could alter his wishes or his opinion on the subject. He had
                        given it, he could assure her, very long and calm consideration; he had been
                        walking away from William Larkins the whole morning, to have his thoughts to
                        himself.</span></p>

                <p><span id="said_no_05091" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"Ah! there is one
                            difficulty unprovided for,"</span>
                        <span id="said_no_05092" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">cried Emma.</span>
                        <span id="said_no_05093" class="said" data-toggle="tooltip" title="Emma Woodhouse" data-placement="auto top">"I am sure William
                            Larkins will not like it. You must get his consent before you ask
                            mine."</span></p>

                <p><span id="said_no_05094" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She promised,</span>
                    <span id="said_no_05095" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">however,</span>
                    <span id="said_no_05096" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        to think of
                        it;</span>
                    <span id="said_no_05097" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">and</span>
                    <span id="said_no_05098" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">pretty nearly promised,
                        moreover,</span>
                    <span id="said_no_05099" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        to think of
                        it, with the intention of finding it a very good scheme.</span></p>

                <p><span id="said_no_05100" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">It is remarkable, that Emma,
                        in the many, very many, points of view in which she was now beginning to
                        consider Donwell Abbey, was never struck with any sense of injury to her
                        nephew Henry, whose rights as heir-expectant had formerly been so
                        tenaciously regarded. Think she must of the possible difference to the poor
                        little boy; and yet she only gave herself a saucy conscious smile about it,
                        and found amusement in detecting the real cause of that violent dislike of
                        Mr. Knightley's marrying Jane Fairfax, or any body else, which at the time
                        she had wholly imputed to the amiable solicitude of the sister and the
                        aunt.</span></p>

                <p><span id="said_no_05101" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        This proposal
                        of his, this plan of marrying and continuing at Hartfield— the more
                        she contemplated it, the more pleasing it became.</span>
                    <span id="said_no_05102" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        His evils
                        seemed to lessen, her own advantages to increase, their mutual good to
                        outweigh every drawback.</span>
                    <span id="said_no_05103" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        Such a
                        companion for herself in the periods of anxiety and cheerlessness before
                        her!—Such a partner in all those duties and cares to which time must
                        be giving increase of melancholy!</span></p>

                <p><span id="said_no_05104" class="said" data-toggle="tooltip" title="aus.005.nar" data-placement="auto top">She would have been too happy
                        but for poor Harriet;</span>
                    <span id="said_no_05105" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        but every
                        blessing of her own seemed to involve and advance the sufferings of her
                        friend, who must now be even excluded from Hartfield. The delightful family
                        party which Emma was securing for herself, poor Harriet must, in mere
                        charitable caution, be kept at a distance from. She would be a loser in
                        every way. Emma could not deplore her future absence as any deduction from
                        her own enjoyment. In such a party, Harriet would be rather a dead weight
                        than otherwise; but for the poor girl herself, it seemed a peculiarly cruel
                        necessity that was to be placing her in such a state of unmerited
                        punishment.</span></p>

                <p><span id="said_no_05106" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.005.nar_emma" data-placement="auto top">
                        In time, of
                        course, Mr. Knightley would be forgotten, that is, supplanted; but this
                        could not be expected to happen very early. Mr. Knightley himself would be
                        doing nothing to assist the cure;—not like Mr. Elton. Mr. Knightley,
                        always so kind, so feeling, so truly considerate for every body, would never
                        deserve to be less worshipped than now; and it really was too much to hope
                        even of Harriet, that she could be in love with more than <em>three</em> men in one year.</span></p>
            
    <div class="footnotes"> </div>
