

   
  
    
        <h3>Chapter 41</h3>
        <p>
          
            <span id="said_no_02925" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The first week of their return was soon gone. The second began. It was the
              last of the regiment's stay in Meryton, and all the young ladies in the neighbourhood were drooping apace. The dejection was almost universal. The
              elder Miss Bennets alone were still able to eat, drink, and sleep, and pursue the usual course of their employments. Very frequently were they
              reproached for this insensibility by Kitty and Lydia, whose own misery was extreme, and who could not comprehend such hard-heartedness in any of
              the family.</span>
          
        </p>
        <p>
          
            <span id="said_no_02926" class="said" data-toggle="tooltip" title="aus.001.dk2" data-placement="auto top">“Good Heaven! what is to become of us? What are we to do?”</span>
            <span id="said_no_02927" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> would they often exclaim in the bitterness of woe.</span>
            <span id="said_no_02928" class="said" data-toggle="tooltip" title="aus.001.dk2" data-placement="auto top">“How can you be smiling so, Lizzy?”</span>
          
          <span id="said_no_02929" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> Their affectionate mother shared all their grief;</span>
          <span id="said_no_02930" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she remembered what</span>
          <span id="said_no_02931" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> she had herself endured on a
            similar occasion, five-and-twenty years ago. </span>
        </p>
        <p>
          
            <span id="said_no_02932" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I am sure,”</span>
            <span id="said_no_02933" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_02934" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I cried for two days together when Colonel Miller's regiment went away.
              I thought I should have broken my heart.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02935" class="said" data-toggle="tooltip" title="Lydia Bennet" data-placement="auto top">“I am sure I shall break mine,”</span>
          
          <span id="said_no_02936" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Lydia.</span>
        </p>
        <p>
          
            <span id="said_no_02937" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“If one could but go to Brighton!”</span>
          
          <span id="said_no_02938" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> observed Mrs. Bennet.</span>
        </p>
        <p>
          
            <span id="said_no_02939" class="said" data-toggle="tooltip" title="Lydia Bennet" data-placement="auto top">“Oh, yes! — if one could but go to Brighton! But papa is so disagreeable.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_02940" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“A little sea-bathing would set me up forever.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02941" class="said" data-toggle="tooltip" title="Kitty Bennet" data-placement="auto top">“And my aunt Phillips is sure it would do me a great deal of
              good,”</span>
          
          <span id="said_no_02942" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> added Kitty.</span>
        </p>
        <p>
          
            <span id="said_no_02943" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Such were the kind of lamentations resounding perpetually through Longbourn House. Elizabeth
              tried to be diverted by them; but all sense of pleasure was lost in shame.</span>
            <span id="said_no_02944" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She felt anew </span>
            <span id="said_no_02945" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">the justice of Mr. Darcy's
              objections; and never had she before been so much disposed to pardon his interference in the views of his friend.</span>
          
        </p>
        <p>
          
            <span id="said_no_02946" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But the gloom of Lydia's prospect was shortly cleared away; for she received an invitation from
              Mrs. Forster, the wife of the colonel of the regiment, to accompany her to Brighton. This invaluable friend was a very young woman, and very
              lately married. A resemblance in good humour and good spirits had recommended her and Lydia to each other, and out of their 
                three months' acquaintance they had been intimate two.</span>
          
        </p>
        <p>
          
            <span id="said_no_02947" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The rapture of Lydia on this occasion, her adoration of Mrs. Forster, the delight of Mrs.
              Bennet, and the mortification of Kitty, are scarcely to be described. Wholly inattentive to her sister's feelings, Lydia flew about the house in
              restless ecstasy, calling for everyone's congratulations, and laughing and talking with more violence than ever; whilst the luckless Kitty
              continued in the parlour repining at her fate in terms as unreasonable as her accent was peevish.</span>
          
        </p>
        <p>
          
            <span id="said_no_02948" class="said" data-toggle="tooltip" title="Kitty Bennet" data-placement="auto top">“I cannot see why Mrs. Forster should not ask me as well as
              Lydia,”</span>
            <span id="said_no_02949" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_02950" class="said" data-toggle="tooltip" title="Kitty Bennet" data-placement="auto top">“Though I am not her particular friend. I have just as much
              right to be asked as she has, and more too, for I am two years older.” </span>
          
        </p>
        <p>
          <span id="said_no_02951" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In vain did Elizabeth attempt to make her reasonable, and Jane to make her resigned. As for
            Elizabeth herself, this invitation was so far from exciting in her the same feelings as in her mother and Lydia,</span>
          <span id="said_no_02952" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that she considered it</span>
          <span id="said_no_02953" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> as the death warrant of all
            possibility of common sense for the latter;</span>
          <span id="said_no_02954" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
          <span id="said_no_02955" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> detestable as such a step
            must make her were it known,</span>
          <span id="said_no_02956" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she could not help</span>
          <span id="said_no_02957" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> secretly advising her father
            not to let her go.</span>
          <span id="said_no_02958" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She represented to him</span>
          <span id="said_no_02959" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> all the improprieties of
            Lydia's general behaviour, the little advantage she could derive from the friendship of such a woman as Mrs. Forster, and the probability of her
            being yet more imprudent with such a companion at Brighton, where the temptations must be greater than at home.</span>
          <span id="said_no_02960" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He heard her attentively, and then said: </span>
          <br></br>
          
            <span id="said_no_02961" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Lydia will never be easy until she has exposed herself in some public place or
              other, and we can never expect her to do it with so little expense or inconvenience to her family as under the present circumstances.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02962" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“If you were aware,”</span>
            <span id="said_no_02963" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth, </span>
            <span id="said_no_02964" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“of the very great disadvantage to us all which must arise from the public notice of
              Lydia's unguarded and imprudent manner — nay, which has already arisen from it, I am sure you would judge differently in the affair.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_02965" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Already arisen?”</span>
            <span id="said_no_02966" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> repeated Mr. Bennet.</span>
            <span id="said_no_02967" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“What, has she frightened away some of your lovers? Poor little Lizzy! But do not be
              cast down. Such squeamish youths as cannot bear to be connected with a little absurdity are not worth a regret. Come, let me see the list of the
              pitiful fellows who have been kept aloof by Lydia's folly.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02968" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Indeed you are mistaken. I have no such injuries to resent. It is not of particular,
              but of general evils, which I am now complaining. Our importance, our respectability in the world must be affected by the wild volatility, the
              assurance and disdain of all restraint which mark Lydia's character. Excuse me, for I must speak plainly. If you, my dear father, will not take
              the trouble of checking her exuberant spirits, and of teaching her that her present pursuits are not to be the business of her life, she will soon
              be beyond the reach of amendment. Her character will be fixed, and she will, at sixteen, be the most determined flirt that ever made herself or
              her family ridiculous; a flirt too, in the worst and meanest degree of flirtation; without any attraction beyond youth and a tolerable person;
              and, from the ignorance and emptiness of her mind, wholly unable to ward off any portion of that universal contempt which her rage for admiration
              will excite. In this danger Kitty also is comprehended. She will follow wherever Lydia leads. Vain, ignorant, idle, and absolutely uncontrolled!
              Oh! my dear father, can you suppose it possible that they will not be censured and despised wherever they are known, and that their sisters will
              not be often involved in the disgrace?” </span>
          
        </p>
        <p>
          <span id="said_no_02969" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Bennet saw that</span>
          <span id="said_no_02970" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_mrb" data-placement="auto top"> her whole heart was in the
            subject,</span>
          <span id="said_no_02971" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and affectionately taking her hand said in reply: </span>
          <br></br>
          
            <span id="said_no_02972" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Do not make yourself uneasy, my love. Wherever you and Jane are known you must be
              respected and valued; and you will not appear to less advantage for having a couple of — or I may say, three — very silly sisters. We
              shall have no peace at Longbourn if Lydia does not go to Brighton. Let her go, then. Colonel Forster is a sensible man, and will keep her out of
              any real mischief; and she is luckily too poor to be an object of prey to anybody. At Brighton she will be of less importance even as a common
              flirt than she has been here. The officers will find women better worth their notice. Let us hope, therefore, that her being there may teach her
              her own insignificance. At any rate, she cannot grow many degrees worse, without authorising us to lock her up for the rest of her life.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02973" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">With this answer Elizabeth was forced to be content; but her own opinion continued the same, and
              she left him disappointed and sorry. It was not in her nature, however, to increase her vexations by dwelling on them. She was confident of having
              performed her duty, and to fret over unavoidable evils, or augment them by anxiety, was no part of her disposition.</span>
          
        </p>
        <p>
          
            <span id="said_no_02974" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Had Lydia and her mother known the substance of her conference with her father, their
              indignation would hardly have found expression in their united volubility.</span>
            <span id="said_no_02975" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In Lydia's imagination,</span>
            <span id="said_no_02976" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_lyd" data-placement="auto top"> a visit to Brighton
              comprised every possibility of earthly happiness.</span>
            <span id="said_no_02977" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She saw, with the creative eye of fancy,</span>
            <span id="said_no_02978" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_lyd" data-placement="auto top"> the streets of that gay
              bathing-place covered with officers.</span>
            <span id="said_no_02979" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> She saw</span>
            <span id="said_no_02980" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_lyd" data-placement="auto top"> herself the object of
              attention, to tens and to scores of them at present unknown.</span>
            <span id="said_no_02981" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She saw</span>
            <span id="said_no_02982" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_lyd" data-placement="auto top"> all the glories of the camp
              — its tents stretched forth in beauteous uniformity of lines, crowded with the young and the gay, and dazzling with scarlet; and, to
              complete the view,</span>
            <span id="said_no_02983" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she saw</span>
            <span id="said_no_02984" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_lyd" data-placement="auto top"> herself seated beneath a
              tent, tenderly flirting with at least six officers at once.</span>
          
        </p>
        <p>
          
            <span id="said_no_02985" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Had she known that her sister sought to tear her from such prospects and such realities as
              these, what would have been her sensations? They could have been understood only by her mother, who might have felt nearly the same.</span>
            <span id="said_no_02986" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> Lydia's going to
              Brighton</span>
            <span id="said_no_02987" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was all that consoled her</span>
            <span id="said_no_02988" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">for her melancholy conviction of</span>
            <span id="said_no_02989" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> her husband's never
              intending to go there himself. </span>
          
        </p>
        <p>
          
            <span id="said_no_02990" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But they were entirely ignorant of what had passed; and their raptures continued, with little
              intermission, to the very day of Lydia's leaving home.</span>
          
        </p>
        <p>
          
            <span id="said_no_02991" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth was now to see Mr. Wickham for the last time. Having been frequently in company with
              him since her return, agitation was pretty well over; the agitations of formal partiality entirely so.</span>
            <span id="said_no_02992" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She had even learnt to detect,</span>
            <span id="said_no_02993" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> in the very gentleness
              which had first delighted her, an affectation and a sameness to disgust and weary.</span>
            <span id="said_no_02994" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In his present behaviour to herself, moreover, she had a fresh source of displeasure, for the
              inclination he soon testified of renewing those intentions which had marked the early part of their acquaintance could only serve, after what had
              since passed, to provoke her. She lost all concern for him in finding herself thus selected as the object of such idle and frivolous gallantry;
              and while she steadily repressed it,</span>
            <span id="said_no_02995" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">could not but feel</span>
            <span id="said_no_02996" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> the reproof contained in
              his believing, that however long, and for whatever cause, his attentions had been withdrawn, her vanity would be gratified, and her preference
              secured at any time by their renewal.</span>
          
        </p>
        <p>
          
            <span id="said_no_02997" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">On the very last day of the regiment's remaining at Meryton, he dined, with others of the
              officers, at Longbourn; and so little was Elizabeth disposed to part from him in good humour, that on his making some inquiry as to the manner in
              which her time had passed at Hunsford,</span>
            <span id="said_no_02998" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she mentioned</span>
            <span id="said_no_02999" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Colonel Fitzwilliam's and
              Mr. Darcy's having both spent three weeks at Rosings,</span>
            <span id="said_no_03000" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_03001" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">asked him,</span>
            <span id="said_no_03002" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> if he was acquainted with
              the former. </span>
          
        </p>
        <p>
          <span id="said_no_03003" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He looked surprised, displeased, alarmed; but with a moment's recollection and a returning
            smile,</span>
          <span id="said_no_03004" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">replied, that</span>
          <span id="said_no_03005" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_wick" data-placement="auto top"> he had formerly seen him
            often;</span>
          <span id="said_no_03006" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and,</span>
          <span id="said_no_03007" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">after observing that</span>
          <span id="said_no_03008" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_wick" data-placement="auto top"> he was a very gentlemanlike
            man,</span>
          <span id="said_no_03009" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">asked her</span>
          <span id="said_no_03010" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_wick" data-placement="auto top"> how she had liked him.</span>
          <span id="said_no_03011" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her answer was warmly in his favour. With an air of indifference he soon afterwards added: </span>
          
            <span id="said_no_03012" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“How long did you say he was at Rosings?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03013" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Nearly three weeks.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03014" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“And you saw him frequently?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03015" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes, almost every day.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03016" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“His manners are very different from his cousin's.” </span>
          
        </p>

        <p>
          
            <span id="said_no_03017" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes, very different. But I think Mr. Darcy improves upon acquaintance.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03018" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Indeed!”</span>
            <span id="said_no_03019" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Mr. Wickham with a look which did not escape her.</span>
            <span id="said_no_03020" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">"And pray, may I ask? —”</span>
            <span id="said_no_03021" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> But checking himself, he added, in a gayer tone, </span>
            <span id="said_no_03022" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Is it in address that he improves? Has he deigned to add aught of civility to his
              ordinary style? — for I dare not hope,” he continued in a lower and more serious tone, “that he is improved in essentials.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03023" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Oh, no!”</span>
            <span id="said_no_03024" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth.</span>
            <span id="said_no_03025" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“In essentials, I believe, he is very much what he ever was.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03026" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">While she spoke, Wickham looked as if scarcely knowing whether to rejoice over her words, or to
              distrust their meaning. There was a something in her countenance which made him listen with an apprehensive and anxious attention, while she
              added: </span>
          
        </p>
        <p>
          
            <span id="said_no_03027" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“When I said that he improved on acquaintance, I did not mean that either his mind or
              his manners were in a state of improvement, but that, from knowing him better, his disposition was better understood.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03028" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Wickham's alarm now appeared in a heightened complexion and agitated look; for a few minutes he
              was silent, till, shaking off his embarrassment, he turned to her again, and said in the gentlest of accents: </span>
          
        </p>
        <p>
          
            <span id="said_no_03029" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“You, who so well know my feeling towards Mr. Darcy, will readily comprehend how
              sincerely I must rejoice that he is wise enough to assume even the appearance of what is right. His pride, in that direction,
              may be of service, if not to himself, to many others, for it must only deter him from such foul misconduct as I have suffered by. I only fear that
              the sort of cautiousness to which you, I imagine, have been alluding, is merely adopted on his visits to his aunt, of whose good opinion and
              judgement he stands much in awe. His fear of her has always operated, I know, when they were together; and a good deal is to be imputed to his
              wish of forwarding the match with Miss de Bourgh, which I am certain he has very much at heart.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03030" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth could not repress a smile at this, but she answered only by a slight inclination of
              the head.</span>
            <span id="said_no_03031" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She saw that</span>
            <span id="said_no_03032" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> he wanted to engage her on
              the old subject of his grievances,</span>
            <span id="said_no_03033" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and she was in no humour to indulge him. The rest of the evening passed with the appearance, on his side, of usual cheerfulness, but with no further attempt to distinguish Elizabeth; and they parted at last with mutual
              civility, and possibly a mutual desire of never meeting again.</span>
          
        </p>
        <p>
          
            <span id="said_no_03034" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When the party broke up, Lydia returned with Mrs. Forster to Meryton, from whence they were to
              set out early the next morning. The separation between her and her family was rather noisy than pathetic. Kitty was the only one who shed tears;
              but she did weep from vexation and envy.</span>
            <span id="said_no_03035" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Bennet was diffuse in her good wishes</span>
            <span id="said_no_03036" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> for the felicity of her
              daughter,</span>
            <span id="said_no_03037" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_03038" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">impressive in her injunctions that</span>
            <span id="said_no_03039" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> she should not miss the
              opportunity of enjoying herself as much as possible — </span>
            <span id="said_no_03040" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">advice which there was every reason to believe would be well attended to; and in the clamorous
              happiness of Lydia herself in bidding farewell, the more gentle adieus of her sisters were uttered without being heard.</span>
          
        </p>
      
  <div class="footnotes"> </div>
