

   
  
    
        <h3>Chapter 59</h3>
        <p>
          
            <span id="said_no_04964" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“My dear Lizzy, where can you have been walking to?”</span>
          
          <span id="said_no_04965" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> was a question which Elizabeth received from Jane as soon as she entered their room, and from all
            the others when they sat down to table.</span>
          <span id="said_no_04966" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She had only to say in reply, that</span>
          <span id="said_no_04967" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> they had wandered
            about,</span>
          <span id="said_no_04968" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">till she was beyond her own knowledge. She coloured as she spoke; but neither that, nor anything
            else, awakened a suspicion of the truth.</span>
        </p>
        <p>
          
            <span id="said_no_04969" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The evening passed quietly, unmarked by anything extraordinary. The acknowledged lovers talked
              and laughed, the unacknowledged were silent. Darcy was not of a disposition in which happiness overflows in mirth; and Elizabeth, agitated and
              confused, rather knew that she was happy than felt herself to be so; for, besides the immediate
              embarrassment, there were other evils before her.</span>
            <span id="said_no_04970" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She anticipated what</span>
            <span id="said_no_04971" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> would be felt in the
              family when her situation became known;</span>
            <span id="said_no_04972" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she was aware that</span>
            <span id="said_no_04973" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">no one liked him but
              Jane;</span>
            <span id="said_no_04974" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> and </span>
            <span id="said_no_04975" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">even feared that</span>
            <span id="said_no_04976" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> with the others it was a
                dislike which not all his fortune and consequence might do away.</span>
          
        </p>
        <p>
          
            <span id="said_no_04977" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">At night she opened her heart to Jane. Though suspicion was very far from Miss Bennet's general
              habits, she was absolutely incredulous here.</span>
          
        </p>
        <p>
          
            <span id="said_no_04978" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“You are joking, Lizzy. This cannot be! — engaged to Mr. Darcy! No, no, you
              shall not deceive me. I know it to be impossible.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04979" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“This is a wretched beginning indeed! My sole dependence was on you; and I am sure
              nobody else will believe me, if you do not. Yet, indeed, I am in earnest. I speak nothing but the truth. He still loves me, and we are engaged.”
            </span>
          
        </p>
        <p>
          <span id="said_no_04980" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Jane looked at her doubtingly.</span>
          
            <span id="said_no_04981" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Oh, Lizzy! it cannot be. I know how much you dislike him.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04982" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You know nothing of the matter. That is all to be forgot.
              Perhaps I did not always love him so well as I do now. But in such cases as these, a good memory is unpardonable. This is the last time I shall
              ever remember it myself.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04983" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Miss Bennet still looked all amazement. Elizabeth again, and more seriously assured her of its
              truth.</span>
          
        </p>
        <p>
          
            <span id="said_no_04984" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">Good Heaven! can it be really so! Yet now I must believe you,”</span>
            <span id="said_no_04985" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Jane.</span>
            <span id="said_no_04986" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“My dear, dear Lizzy, I would — I do congratulate you — but are you
              certain? forgive the question — are you quite certain that you can be happy with him?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04987" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“There can be no doubt of that. It is settled between us already, that we are to be
              the happiest couple in the world. But are you pleased, Jane? Shall you like to have such a brother?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04988" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Very, very much. Nothing could give either Bingley or myself more delight. But we
              considered it, we talked of it as impossible. And do you really love him quite well enough? Oh, Lizzy! do anything rather than marry without
              affection. Are you quite sure that you feel what you ought to do?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04989" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Oh, yes! You will only think I feel more than I ought to do,
              when I tell you all.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04990" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“What do you mean?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04991" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Why, I must confess that I love him better than I do Bingley. I am afraid you will
              be angry.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04992" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“My dearest sister, now be be serious. I want to talk very
              seriously. Let me know every thing that I am to know, without delay. Will you tell me how long you have loved him?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04993" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“It has been coming on so gradually, that I hardly know when it began. But I believe
              I must date it from my first seeing his beautiful grounds at Pemberley.” </span>
          
        </p>

        <p>
          
            <span id="said_no_04994" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Another entreaty that </span>
            <span id="said_no_04995" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_jane" data-placement="auto top"> she would be serious,</span>
            <span id="said_no_04996" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">however, produced the desired effect; and she soon satisfied Jane by her solemn assurances of
              attachment. When convinced on that article, Miss Bennet had nothing further to wish.</span>
          
        </p>
        
        <p>
          
            <span id="said_no_04997" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Now I am quite happy,”</span>
            <span id="said_no_04998" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_04999" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“for you will be as happy as myself. I always had a value for him. Were it for
              nothing but his love of you, I must always have esteemed him; but now, as Bingley's friend and your husband, there can be only Bingley and
              yourself more dear to me. But Lizzy, you have been very sly, very reserved with me. How little did you tell me of what passed at Pemberley and
              Lambton! I owe all that I know of it to another, not to you.” </span>
          
        </p>
        <p>
          
            <span id="said_no_05000" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth told her the motives of her secrecy.</span>
            <span id="said_no_05001" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">She had been unwilling to
              mention Bingley; and the unsettled state of her own feelings had made her equally avoid the name of his friend. But now she would no longer
              conceal from her his share in Lydia's marriage.</span>
            <span id="said_no_05002" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">All was acknowledged, and half the night spent in conversation.</span>
          
        </p>
        <div class="milestone typographic"> </div>
        <p>
          
            <span id="said_no_05003" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Good gracious!”</span>
            <span id="said_no_05004" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Mrs. Bennet, as she stood at a window the next morning, </span>
            <span id="said_no_05005" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“if that disagreeable Mr. Darcy is not coming here again with our dear
              Bingley! What can he mean by being so tiresome as to be always coming here? I had no notion but he would go a-shooting, or something or other, and
              not disturb us with his company. What shall we do with him? Lizzy, you must walk out with him again, that he may not be in Bingley's way.” </span>
          
        </p>
        <p>
          
            <span id="said_no_05006" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth could hardly help laughing</span>
            <span id="said_no_05007" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> at so convenient a
              proposal;</span>
            <span id="said_no_05008" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">yet</span>
            <span id="said_no_05009" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was really vexed that</span>
            <span id="said_no_05010" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> her mother should be
              always giving him such an epithet.</span>
          
        </p>

        <p>
          <span id="said_no_05011" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">As soon as they entered, Bingley looked at her so expressively, and shook hands with such warmth,
            as left no doubt of his good information; and he soon afterwards said aloud, </span>
          
            <span id="said_no_05012" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“Mrs. Bennet, have you no more lanes hereabouts in which Lizzy may lose her way
              again to-day?” </span>
          
        </p>
        <p>
          
            <span id="said_no_05013" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I advise Mr. Darcy, and Lizzy, and Kitty,”</span>
            <span id="said_no_05014" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Bennet, </span>
            <span id="said_no_05015" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“to walk to Oakham Mount this morning. It is a nice long walk, and Mr.
              Darcy has never seen the view.” </span>
          
        </p>
        <p>
          
            <span id="said_no_05016" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“It may do very well for the others,”</span>
            <span id="said_no_05017" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Mr. Bingley; </span>
            <span id="said_no_05018" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“but I am sure it will be too much for Kitty. Won't it, Kitty?” </span>
          
          <span id="said_no_05019" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Kitty owned that</span>
          <span id="said_no_05020" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_kit" data-placement="auto top"> she had rather stay at
            home.</span>
          <span id="said_no_05021" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Darcy professed</span>
          <span id="said_no_05022" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top">a great curiosity to see the
            view from the Mount,</span>
          <span id="said_no_05023" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and Elizabeth silently consented. As she went up stairs to get ready, Mrs. Bennet followed her,
            saying:</span>
          
            <span id="said_no_05024" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I am quite sorry, Lizzy, that you should be forced to have that
              disagreeable man all to yourself. But I hope you will not mind it: it is all for Jane's sake, you know; and there is no occasion for talking to
              him, except just now and then. So, do not put yourself to inconvenience.” </span>
          
        </p>
        <p>
          
            <span id="said_no_05025" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">During their walk,</span>
            <span id="said_no_05026" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">it was resolved that</span>
            <span id="said_no_05027" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_elizdar" data-placement="auto top"> Mr. Bennet's consent
              should be asked in the course of the evening.</span>
            <span id="said_no_05028" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth reserved to herself the application for her mother's.</span>
            <span id="said_no_05029" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She could not determine</span>
            <span id="said_no_05030" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> how her mother would take
              it; </span>
            <span id="said_no_05031" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">sometimes doubting</span>
            <span id="said_no_05032" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> whether all his wealth and
              grandeur would be enough to overcome her abhorrence of the man. But whether she were violently set against the match, or violently delighted with
              it, it was certain that her manner would be equally ill adapted to do credit to her sense;</span>
            <span id="said_no_05033" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_05034" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she could no more bear that</span>
            <span id="said_no_05035" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Mr. Darcy should hear the
              first raptures of her joy, than the first vehemence of her disapprobation.</span>
          
        </p>
        <div class="milestone typographic"> </div>
        <p>
          <span id="said_no_05036" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In the evening, soon after Mr. Bennet withdrew to the library, she saw Mr. Darcy rise also and
            follow him, and her agitation on seeing it was extreme. She did not fear her father's opposition,</span>
          <span id="said_no_05037" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> but he was going to be made
            unhappy; and that it should be through her means — that she, his favourite child, should be distressing him by her
            choice, should be filling him with fears and regrets in disposing of her —</span>
          <span id="said_no_05038" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was a wretched reflection,</span>
          <span id="said_no_05039" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and she sat in misery till Mr. Darcy appeared again, when, looking at him, she was a little
            relieved by his smile. In a few minutes he approached the table where she was sitting with Kitty; and, while pretending to admire her work said in a
            whisper,</span>
          
            <span id="said_no_05040" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Go to your father, he wants you in the library.”</span>
          
          <span id="said_no_05041" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> She was gone directly.</span>
        </p>

        <p>
          <span id="said_no_05042" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her father was walking about the room, looking grave and anxious.</span>
          
            <span id="said_no_05043" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Lizzy,”</span>
            <span id="said_no_05044" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_05045" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“what are you doing? Are you out of your senses, to be accepting this man? Have not
              you always hated him?” </span>
          
        </p>
        <p>
          
            <span id="said_no_05046" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">How earnestly did she then wish that</span>
            <span id="said_no_05047" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> her former opinions had
              been more reasonable, her expressions more moderate!</span>
            <span id="said_no_05048" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">It would have spared her from explanations and professions which it was exceedingly awkward to
              give; but they were now necessary, and she assured him, with some confusion, of her attachment to Mr. Darcy.</span>
          
        </p>
        <p>
          
            <span id="said_no_05049" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Or, in other words, you are determined to have him. He is rich, to be sure, and you
              may have more fine clothes and fine carriages than Jane. But will they make you happy?” </span>
          
        </p>
        <p>
          
            <span id="said_no_05050" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Have you any other objection,”</span>
            <span id="said_no_05051" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth, </span>
            <span id="said_no_05052" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“than your belief of my indifference?” </span>
          
        </p>

        <p>
          
            <span id="said_no_05053" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“None at all. We all know him to be a proud, unpleasant sort of man; but this would
              be nothing if you really liked him.” </span>
          
        </p>
        <p>
          
            <span id="said_no_05054" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I do, I do like him,”</span>
            <span id="said_no_05055" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she replied, with tears in her eyes, </span>
            <span id="said_no_05056" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I love him. Indeed he has no improper pride. He is perfectly amiable. You do not
              know what he really is; then pray do not pain me by speaking of him in such terms.” </span>
          
        </p>
        <p>
          
            <span id="said_no_05057" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Lizzy,”</span>
            <span id="said_no_05058" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her father, </span>
            <span id="said_no_05059" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“I have given him my consent. He is the kind of man, indeed, to whom I should never
              dare refuse anything, which he condescended to ask. I now give it to you, if you are resolved on having him. But let me
              advise you to think better of it. I know your disposition, Lizzy. I know that you could be neither happy nor respectable, unless you truly
              esteemed your husband; unless you looked up to him as a superior. Your lively talents would place you in the greatest danger in an unequal
              marriage. You could scarcely escape discredit and misery. My child, let me not have the grief of seeing you unable to respect
              your partner in life. You know not what you are about.” </span>
          
        </p>
        <p>
          
            <span id="said_no_05060" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth,</span>
            <span id="said_no_05061" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">still more affected, was earnest and solemn in her reply; and at length,</span>
            <span id="said_no_05062" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">by repeated assurances that</span>
            <span id="said_no_05063" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Mr. Darcy was really the
              object of her choice,</span>
            <span id="said_no_05064" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">by explaining</span>
            <span id="said_no_05065" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> the gradual change which
              her estimation of him had undergone,</span>
            <span id="said_no_05066" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">relating</span>
            <span id="said_no_05067" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> her absolute certainty that
              his affection was not the work of a day, but had stood the test of many months' suspense,</span>
            <span id="said_no_05068" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and enumerating with energy all his good qualities, she did conquer her father's incredulity,
              and reconcile him to the match.</span>
          
        </p>
        <p>
          
            <span id="said_no_05069" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Well, my dear,”</span>
            <span id="said_no_05070" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, when she ceased speaking, </span>
            <span id="said_no_05071" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“I have no more to say. If this be the case, he deserves you. I could not have parted
              with you, my Lizzy, to anyone less worthy.” </span>
          
        </p>

        <p>
          
            <span id="said_no_05072" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">To complete the favourable impression,</span>
            <span id="said_no_05073" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she then told him </span>
            <span id="said_no_05074" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> what Mr. Darcy had
              voluntarily done for Lydia.</span>
            <span id="said_no_05075" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He heard her with astonishment.</span>
          
        </p>
        <p>
          
            <span id="said_no_05076" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“This is an evening of wonders, indeed! And so, Darcy did every thing; made up the
              match, gave the money, paid the fellow's debts, and got him his commission! So much the better. It will save me a world of trouble and economy.
              Had it been your uncle's doing, I must and would have paid him; but these violent young lovers carry every thing their own
              way. I shall offer to pay him to-morrow; he will rant and storm about his love for you, and there will be an end of the matter.” </span>
          
        </p>
        <p>
          <span id="said_no_05077" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He then recollected her embarrassment a few days before, on his reading Mr. Collins's letter; and
            after laughing at her some time, allowed her at last to go — saying, as she quitted the room, </span>
          
            <span id="said_no_05078" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“If any young men come for Mary or Kitty, send them in, for I am quite at leisure.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_05079" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth's mind was now relieved from a very heavy weight; and, after half an hour's quiet
              reflection in her own room, she was able to join the others with tolerable composure.</span>
            <span id="said_no_05080" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Every thing was too recent
              for gaiety,</span>
            <span id="said_no_05081" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but the evening passed tranquilly away; </span>
            <span id="said_no_05082" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> there was no longer
              anything material to be dreaded, and the comfort of ease and familiarity would come in time.</span>
          
        </p>
        <p>
          
            <span id="said_no_05083" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When her mother went up to her dressing-room at night, she followed her, and made the important
              communication. Its effect was most extraordinary; for on first hearing it, Mrs. Bennet sat quite still, and unable to utter a syllable. Nor was it
              under many, many minutes that she could comprehend what she heard; though not in general backward to credit what was for the advantage of her
              family, or that came in the shape of a lover to any of them. She began at length to recover, to fidget about in her chair, get up, sit down again,
              wonder, and bless herself. </span>
          
        </p>
        <p>
          
            <span id="said_no_05084" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Good gracious! Lord bless me! only think! dear me! Mr. Darcy! Who would
              have thought it! And is it really true? Oh! my sweetest Lizzy! how rich and how great you will be! What pin-money, what jewels, what carriages you
              will have! Jane's is nothing to it — nothing at all. I am so pleased — so happy. Such a charming man! — so handsome! so tall!
              — Oh, my dear Lizzy! pray apologise for my having disliked him so much before. I hope he will overlook it. Dear, dear Lizzy. A house in
              town! Every thing that is charming! Three daughters married! Ten thousand a year! Oh, Lord! What will become of me. I shall go distracted.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_05085" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This was enough to prove that her approbation need not be doubted: and</span>
            <span id="said_no_05086" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth, rejoicing that </span>
            <span id="said_no_05087" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> such an effusion was heard
              only by herself,</span>
            <span id="said_no_05088" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">soon went away. But before she had been three minutes in her own room, her mother followed
              her.</span>
          
        </p>
        <p>
          
            <span id="said_no_05089" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“My dearest child,”</span>
            <span id="said_no_05090" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she cried, </span>
            <span id="said_no_05091" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I can think of nothing else! Ten thousand a year, and very likely more!
              'Tis as good as a Lord! And a special licence. You must and shall be married by a special licence. But my dearest love, tell me what dish Mr.
              Darcy is particularly fond of, that I may have it to-morrow.” </span>
          
        </p>
        <p>
          
            <span id="said_no_05092" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This was a sad omen of what her mother's behaviour to the gentleman himself might be; and</span>
            <span id="said_no_05093" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth found that,</span>
            <span id="said_no_05094" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> though in the certain
              possession of his warmest affection, and secure of her relations' consent, there was still something to be wished for.</span>
            <span id="said_no_05095" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But the morrow passed off much better than she expected; for Mrs. Bennet luckily stood in such
              awe of her intended son-in-law that she ventured not to speak to him, unless it was in her power to offer him any attention, or mark her deference
              for his opinion.</span>
          
        </p>
        <p>
          
            <span id="said_no_05096" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth had the satisfaction of seeing her father taking pains to get acquainted with him;
              and</span>
            <span id="said_no_05097" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> Mr. Bennet soon assured her that</span>
            <span id="said_no_05098" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrb" data-placement="auto top">he was rising every hour in
              his esteem.</span>
          
        </p>
        <p>
          
            <span id="said_no_05099" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“I admire all my three sons-in-law highly,”</span>
            <span id="said_no_05100" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he.</span>
            <span id="said_no_05101" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Wickham, perhaps, is my favourite; but I think I shall like your husband quite as well as Jane's.” </span>
          
        </p>
      
  <div class="footnotes"> </div>
