

   
  
    
        <h3>Chapter 38</h3>
        <p>
          
            <span id="said_no_02750" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">On Saturday morning Elizabeth and Mr. Collins met for breakfast a few
              minutes before the others appeared; and he took the opportunity of paying the parting civilities which he deemed indispensably necessary.</span>
          
        </p>
        <p>
          
            <span id="said_no_02751" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“I know not, Miss Elizabeth,”</span>
            <span id="said_no_02752" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_02753" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“whether Mrs. Collins has yet expressed her sense of your kindness in coming to us;
              but I am very certain you will not leave the house without receiving her thanks for it. The favor of your company has been much felt, I assure
              you. We know how little there is to tempt anyone to our humble abode. Our plain manner of living, our small rooms and few domestics, and the
              little we see of the world, must make Hunsford extremely dull to a young lady like yourself; but I hope you will believe us grateful for the
              condescension, and that we have done everything in our power to prevent your spending your time unpleasantly.” </span>
          
        </p>
        <p>
          <span id="said_no_02754" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth was eager with her thanks and assurances of happiness.</span>
          <span id="said_no_02755" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">She had spent six weeks with
            great enjoyment; and the pleasure of being with Charlotte, and the kind attentions she had received, must make her feel the
            obliged.</span>
          <span id="said_no_02756" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins was gratified, and with a more smiling solemnity replied: </span>
          <br></br>
          
            <span id="said_no_02757" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“It gives me great pleasure to hear that you have passed your time not disagreeably.
              We have certainly done our best; and most fortunately having it in our power to introduce you to very superior society, and, from our connection
              with Rosings, the frequent means of varying the humble home scene, I think we may flatter ourselves that your Hunsford visit cannot have been
              entirely irksome. Our situation with regard to Lady Catherine's family is indeed the sort of extraordinary advantage and blessing which few can
              boast. You see on what a footing we are. You see how continually we are engaged there. In truth I must acknowledge that, with all the
              disadvantages of this humble parsonage, I should not think anyone abiding in it an object of compassion, while they are sharers of our intimacy at
              Rosings.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02758" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Words were insufficient for the elevation of his feelings; and he was obliged to walk about the
              room, while Elizabeth tried to unite civility and truth in a few short sentences.</span>
          
        </p>
        <p>
          
            <span id="said_no_02759" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You may, in fact, carry a very favourable report of us into Hertfordshire, my dear
              cousin. I flatter myself at least that you will be able to do so. Lady Catherine's great attentions to Mrs. Collins you have been a daily witness
              of; and altogether I trust it does not appear that your friend has drawn an unfortunate — but on this point it will be as well to be silent.
              Only let me assure you, my dear Miss Elizabeth, that I can from my heart most cordially wish you equal felicity in marriage. My dear Charlotte and
              I have but one mind and one way of thinking. There is in everything a most remarkable resemblance of character and ideas between us. We seem to
              have been designed for each other.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02760" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth could safely say that</span>
            <span id="said_no_02761" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">it was a great happiness
              where that was the case,</span>
            <span id="said_no_02762" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_02763" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">with equal sincerity could add, that</span>
            <span id="said_no_02764" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">she firmly believed and
              rejoiced in his domestic comforts.</span>
            <span id="said_no_02765" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She was not sorry, however, to have the recital of them interrupted by the entrance of the lady
              from whom they sprang.</span>
            <span id="said_no_02766" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">Poor Charlotte! it was
              melancholy to leave her to such society!</span>
            <span id="said_no_02767" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">But she had chosen it with
              her eyes open; and though evidently regretting that her visitors were to go, she did not seem to ask for compassion. Her home and her
              housekeeping, her parish and her poultry, and all their dependent concerns, had not yet lost their charms. </span>
          
        </p>
        <p>
          
            <span id="said_no_02768" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">At length the chaise arrived, the trunks were fastened on, the parcels placed within, and it was
              pronounced to be ready. After an affectionate parting between the friends, Elizabeth was attended to the carriage by Mr. Collins, and as they
              walked down the garden</span>
            <span id="said_no_02769" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he was commissioning her with</span>
            <span id="said_no_02770" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">his best respects to all her
              family,</span>
            <span id="said_no_02771" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">not forgetting</span>
            <span id="said_no_02772" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">his thanks for the kindness
              he had received at Longbourn in the winter, and his compliments to Mr. and Mrs. Gardiner, though unknown.</span>
            <span id="said_no_02773" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He then handed her in, Maria followed, and the door was on the point of being closed,
              when</span>
            <span id="said_no_02774" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he suddenly reminded them, with some consternation, that</span>
            <span id="said_no_02775" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">they had hitherto forgotten
              to leave any message for the ladies at Rosings. </span>
          
        </p>
        <p>
          
            <span id="said_no_02776" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“But,”</span>
            <span id="said_no_02777" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> he added, </span>
            <span id="said_no_02778" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“you will of course wish to have your humble respects delivered to them, with your
              grateful thanks for their kindness to you while you have been here.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02779" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth made no objection; the door was then allowed to be shut, and the carriage drove
              off.</span>
          
        </p>
        <p>
          
            <span id="said_no_02780" class="said" data-toggle="tooltip" title="Maria Lucas" data-placement="auto top">“Good gracious!”</span>
            <span id="said_no_02781" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Maria, after a few minutes' silence, </span>
            <span id="said_no_02782" class="said" data-toggle="tooltip" title="Maria Lucas" data-placement="auto top">“it seems but a day or two since we first came! and yet how many things have
              happened!” </span>
          
        </p>
        <p>
          
            <span id="said_no_02783" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“A great many indeed,”</span>
            <span id="said_no_02784" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her companion with a sigh.</span>
          
        </p>
        <p>
          
            <span id="said_no_02785" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“We have dined nine times at Rosings, besides drinking tea there twice! How much I
              shall have to tell!”</span>
          
        </p>
        <p>
          <span id="said_no_02786" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth added privately, </span>
          
            <span id="said_no_02787" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">“And how much I shall have
              to conceal.”</span>
          
        </p>
        <p>
          
            <span id="said_no_02788" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Their journey was performed without much conversation, or any alarm; and within four hours of
              their leaving Hunsford they reached Mr. Gardiner's house, where they were to remain a few days.</span>
          
        </p>
        <p>
          
            <span id="said_no_02789" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Jane looked well, and Elizabeth had little opportunity of studying her spirits, amidst the
              various engagements which the kindness of her aunt had reserved for them.</span>
            <span id="said_no_02790" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">But Jane was to go home
              with her, and at Longbourn there would be leisure enough for observation.</span>
          
        </p>
        <p>
          
            <span id="said_no_02791" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">It was not without an effort, meanwhile, that she could wait even for Longbourn, before she told
              her sister of Mr. Darcy's proposals. To know that she had the power of revealing what would so exceedingly astonish Jane, and must, at the same
              time, so highly gratify whatever of her own vanity she had not yet been able to reason away, was such a temptation to openness as nothing could
              have conquered but</span>
            <span id="said_no_02792" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">the state of indecision in which she remained</span>
            <span id="said_no_02793" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">as to the extent of what
              she should communicate; and</span>
            <span id="said_no_02794" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">her fear,</span>
            <span id="said_no_02795" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">if she once entered on the
              subject, of being hurried into repeating something of Bingley which might only grieve her sister further. </span>
          
        </p>
      
  <div class="footnotes"> </div>
