

   
  
    
        <h3>Chapter 49</h3>
        <p>
          <span id="said_no_03866" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Two days after Mr. Bennet's return, as Jane and Elizabeth were walking
            together in the shrubbery behind the house, they saw the housekeeper coming towards them, and, concluding that she came to call them to their
            mother, went forward to meet her; but, instead of the expected summons, when they approached her, she said to Miss Bennet, </span>
          
            <span id="said_no_03867" class="said" data-toggle="tooltip" title="Mrs. Hill" data-placement="auto top">“I beg your pardon, madam, for interrupting you, but I was in hopes you might have
              got some good news from town, so I took the liberty of coming to ask.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03868" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“What do you mean, Hill? We have heard nothing from town.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03869" class="said" data-toggle="tooltip" title="Mrs. Hill" data-placement="auto top">“Dear madam,”</span>
            <span id="said_no_03870" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Mrs. Hill, in great astonishment, </span>
            <span id="said_no_03871" class="said" data-toggle="tooltip" title="Mrs. Hill" data-placement="auto top">“don't you know there is an express come for master from Mr. Gardiner? He has been
              here this half-hour, and master has had a letter.” </span>
          
        </p>

        <p>
          
            <span id="said_no_03872" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Away ran the girls, too eager to get in to have time for speech. They ran through the vestibule
              into the breakfast-room; from thence to the library; their father was in neither; and they were on the point of seeking him upstairs with their
              mother, when they were met by the butler, who said: </span>
          
        </p>
        <p>
          
            <span id="said_no_03873" class="said" data-toggle="tooltip" title="Butler" data-placement="auto top">“If you are looking for my master, ma'am, he is walking towards the little copse.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_03874" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Upon this information, they instantly passed through the hall once more, and ran across the lawn
              after their father, who was deliberately pursuing his way towards a small wood on one side of the paddock.</span>
          
        </p>
        <p>
          
            <span id="said_no_03875" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Jane, who was not so light nor so much in the habit of running as Elizabeth, soon lagged behind,
              while her sister, panting for breath, came up with him, and eagerly cried out: </span>
          
        </p>

        <p>
          
            <span id="said_no_03876" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Oh, papa, what news — what news? Have you heard from my uncle?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03877" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Yes I have had a letter from him by express.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03878" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Well, and what news does it bring — good or bad?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03879" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“What is there of good to be expected?”</span>
            <span id="said_no_03880" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, taking the letter from his pocket. </span>
            <span id="said_no_03881" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“But perhaps you would like to read it.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03882" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth impatiently caught it from his hand. Jane now came up.</span>
          
        </p>
        <p>
          
            <span id="said_no_03883" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Read it aloud,”</span>
            <span id="said_no_03884" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said their father, </span>
            <span id="said_no_03885" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“for I hardly know myself what it is about.” </span>
          
        </p>
        <br></br>
        
          
            <p>
              
                <span id="said_no_03886" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“Gracechurch Street, Monday, August 2.</span>
              
            </p>
            <p>
              
                <span id="said_no_03887" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“My dear Brother,</span>
              
            </p>
            <p>
              
                <span id="said_no_03888" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“At last I am able to send you some tidings of my niece, and such as, upon the
                  whole, I hope it will give you satisfaction. Soon after you left me on Saturday, I was fortunate enough to find out in what part of London
                  they were. The particulars I reserve till we meet; it is enough to know they are discovered. I have seen them both —” </span>
              
            </p>
            <p>
              
                <span id="said_no_03889" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Then it is as I always hoped,”</span>
                <span id="said_no_03890" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Jane; </span>
                <span id="said_no_03891" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“they are married!” </span>
              
            </p>
            <p>
              <span id="said_no_03892" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth read on: </span>
              
                <span id="said_no_03893" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“I have seen them both. They are not married, nor can I find there was any
                  intention of being so; but if you are willing to perform the engagements which I have ventured to make on your side, I hope it will not be
                  long before they are. All that is required of you is, to assure to your daughter, by settlement, her equal share of the five thousand pounds
                  secured among your children after the decease of yourself and my sister; and, moreover, to enter into an engagement of allowing her, during
                  your life, one hundred pounds per annum. These are conditions which, considering everything, I had no hesitation in complying with, as far as
                  I thought myself privileged, for you. I shall send this by express, that no time may be lost in bringing me your answer. You will easily
                  comprehend, from these particulars, that Mr. Wickham's circumstances are not so hopeless as they are generally believed to be. The world has
                  been deceived in that respect; and I am happy to say there will be some little money, even when all his debts are discharged, to settle on my
                  niece, in addition to her own fortune. If, as I conclude will be the case, you send me full powers to act in your name throughout the whole of
                  this business, I will immediately give directions to Haggerston for preparing a proper settlement. There will not be the smallest occasion for
                  your coming to town again; therefore stay quiet at Longbourn, and depend on my diligence and care. Send back your answer as fast as you can,
                  and be careful to write explicitly. We have judged it best that my niece should be married from this house, of which I hope you will approve.
                  She comes to us to-day. I shall write again as soon as anything more is determined on. Yours, etc.,</span>
              
            </p>
            <p>
              
                <span id="said_no_03894" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“Edw. Gardiner.”</span>
              
            </p>
          
        
        <br></br>
        <p>
          
            <span id="said_no_03895" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Is it possible?”</span>
            <span id="said_no_03896" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Elizabeth, when she had finished.</span>
            <span id="said_no_03897" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Can it be possible that he will marry her?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03898" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Wickham is not so undeserving, then, as we have thought him,”</span>
            <span id="said_no_03899" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her sister.</span>
            <span id="said_no_03900" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“My dear father, I congratulate you.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03901" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And have you answered the letter?”</span>
          
          <span id="said_no_03902" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Elizabeth.</span>
        </p>
        <p>
          
            <span id="said_no_03903" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“No; but it must be done soon.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03904" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Most earnestly did she then entreaty him</span>
            <span id="said_no_03905" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> to lose no more time before
              he wrote.</span>
          
        </p>
        <p>
          
            <span id="said_no_03906" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Oh! my dear father,”</span>
            <span id="said_no_03907" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she cried, </span>
            <span id="said_no_03908" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“come back and write immediately. Consider how important every moment is in such a
              case.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03909" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Let me write for you,”</span>
            <span id="said_no_03910" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Jane, </span>
            <span id="said_no_03911" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“if you dislike the trouble yourself.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03912" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“I dislike it very much,”</span>
            <span id="said_no_03913" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> he replied; </span>
            <span id="said_no_03914" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“but it must be done.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03915" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">And so saying, he turned back with them, and walked towards the house.</span>
          
        </p>
        <p>
          
            <span id="said_no_03916" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And may I ask —”</span>
            <span id="said_no_03917" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth; </span>
            <span id="said_no_03918" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“but the terms, I suppose, must be complied with.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03919" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Complied with! I am only ashamed of his asking so little.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03920" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And they must marry! Yet he is such a
              man!” </span>
          
        </p>
        <p>
          
            <span id="said_no_03921" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Yes, yes, they must marry. There is nothing else to be done. But there are two
              things that I want very much to know; one is, how much money your uncle has laid down to bring it about; and the other, how am I ever to pay
              him.”</span>
          
          
            <span id="said_no_03922" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Money! My uncle!”</span>
            <span id="said_no_03923" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Jane, </span>
            <span id="said_no_03924" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“what do you mean, sir?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03925" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“I mean, that no man in his senses would marry Lydia on so slight a temptation as one
              hundred a year during my life, and fifty after I am gone.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03926" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“That is very true,”</span>
            <span id="said_no_03927" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth; </span>
            <span id="said_no_03928" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“though it had not occurred to me before. His debts to be discharged, and something
              still to remain! Oh! it must be my uncle's doings! Generous, good man, I am afraid he has distressed himself. A small sum could not do all this.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_03929" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“No,”</span>
            <span id="said_no_03930" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her father; </span>
            <span id="said_no_03931" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Wickham's a fool if he takes her with a farthing less than ten thousand pounds. I
              should be sorry to think so ill of him, in the very beginning of our relationship.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03932" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Ten thousand pounds! Heaven forbid! How is half such a sum to be repaid?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03933" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Bennet made no answer, and each of them, deep in thought, continued silent till they reached
              the house. Their father then went on to the library to write, and the girls walked into the breakfast-room. </span>
          
        </p>
        <p>
          
            <span id="said_no_03934" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And they are really to be married!”</span>
            <span id="said_no_03935" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Elizabeth, as soon as they were by themselves. </span>
            <span id="said_no_03936" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“How strange this is! And for this we are to be thankful. That
              they should marry, small as is their chance of happiness, and wretched as is his character, we are forced to rejoice. Oh, Lydia!” </span>
          
        </p>
        <p>
          
            <span id="said_no_03937" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“I comfort myself with thinking,”</span>
            <span id="said_no_03938" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Jane, </span>
            <span id="said_no_03939" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“that he certainly would not marry Lydia if he had not a real regard for her. Though
              our kind uncle has done something towards clearing him, I cannot believe that ten thousand pounds, or anything like it, has been advanced. He has
              children of his own, and may have more. How could he spare half ten thousand pounds?”</span>
          
          
            <span id="said_no_03940" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“If he were ever able to learn what Wickham's debts have been,”</span>
            <span id="said_no_03941" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth, </span>
            <span id="said_no_03942" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“and how much is settled on his side on our sister, we shall exactly know what Mr.
              Gardiner has done for them, because Wickham has not sixpence of his own. The kindness of my uncle and aunt can never be requited. Their taking her
              home, and affording her their personal protection and countenance, is such a sacrifice to her advantage as years of gratitude cannot enough
              acknowledge. By this time she is actually with them! If such goodness does not make her miserable now, she will never deserve to be happy! What a
              meeting for her, when she first sees my aunt!” </span>
          
        </p>
        <p>
          
            <span id="said_no_03943" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“We must endeavour to forget all that has passed on either side,”</span>
            <span id="said_no_03944" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Jane: </span>
            <span id="said_no_03945" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“I hope and trust they will yet be happy. His consenting to marry her is a proof, I
              will believe, that he is come to a right way of thinking. Their mutual affection will steady them; and I flatter myself they will settle so
              quietly, and live in so rational a manner, as may in time make their past imprudence forgotten.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03946" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Their conduct has been such,”</span>
            <span id="said_no_03947" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Elizabeth, </span>
            <span id="said_no_03948" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“as neither you, nor I, nor anybody, can ever forget. It is useless to talk of it.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_03949" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">It now occurred to the girls that</span>
            <span id="said_no_03950" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_elizjane" data-placement="auto top"> their mother was
              in all likelihood perfectly ignorant of what had happened.</span>
            <span id="said_no_03951" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They went to the library, therefore, and</span>
            <span id="said_no_03952" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">asked their father</span>
            <span id="said_no_03953" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_elizjane" data-placement="auto top"> whether he would not
              wish them to make it known to her.</span>
            <span id="said_no_03954" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He was writing and, without raising his head, coolly replied: </span>
          
        </p>
        <p>
          
            <span id="said_no_03955" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Just as you please.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03956" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“May we take my uncle's letter to read to her?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03957" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Take whatever you like, and get away.”</span>
          
        </p>

        <p>
          <span id="said_no_03958" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth took the letter from his writing-table, and they went upstairs together. Mary and Kitty
            were both with Mrs. Bennet: one communication would, therefore, do for all. After a slight preparation for good news, the letter was read aloud.
            Mrs. Bennet could hardly contain herself. As soon as Jane had read Mr. Gardiner's hope of Lydia's being soon married, her joy burst forth, and every
            following sentence added to its exuberance. She was now in an irritation as violent from delight, as she had ever been fidgety from alarm and
            vexation.</span>
          <span id="said_no_03959" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">To know that</span>
          <span id="said_no_03960" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> her daughter would be married
            was enough.</span>
          <span id="said_no_03961" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She was disturbed by no fear for her felicity, nor humbled by any remembrance of her
            misconduct.</span>
        </p>
        <p>
          
            <span id="said_no_03962" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“My dear, dear Lydia!”</span>
            <span id="said_no_03963" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she cried. </span>
            <span id="said_no_03964" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“This is delightful indeed! She will be married! I shall see her again!
              She will be married at sixteen! My good, kind brother! I knew how it would be. I knew he would manage everything! How I long to see her! and to
              see dear Wickham too! But the clothes, the wedding clothes! I will write to my sister Gardiner about them directly. Lizzy, my dear, run down to
              your father, and ask him how much he will give her. Stay, stay, I will go myself. Ring the bell, Kitty, for Hill. I will put on my things in a
              moment. My dear, dear Lydia! How merry we shall be together when we meet!” </span>
          
        </p>
        <p>
          
            <span id="said_no_03965" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her eldest daughter endeavoured to give some relief to the violence of these transports, by
              leading</span>
            <span id="said_no_03966" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_jane" data-placement="auto top"> her thoughts to the
              obligations which Mr. Gardiner's behaviour laid them all under.</span>
          
        </p>
        <p>
          
            <span id="said_no_03967" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“For we must attribute this happy conclusion,”</span>
            <span id="said_no_03968" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she added, </span>
            <span id="said_no_03969" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“in a great measure to his kindness. We are persuaded that he has pledged himself to
              assist Mr. Wickham with money.” </span>
          
        </p>

        <p>
          
            <span id="said_no_03970" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Well,”</span>
            <span id="said_no_03971" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried her mother, </span>
            <span id="said_no_03972" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“it is all very right; who should do it but her own uncle? If he had not
              had a family of his own, I and my children must have had all his money you know; and it is the first time we have ever had anything from him,
              except a few presents. Well! I am so happy! In a short time I shall have a daughter married. Mrs. Wickham! How well it sounds! And she was only
              sixteen last June. My dear Jane, I am in such a flutter, that I am sure I can't write; so I will dictate, and you write for me. We will settle
              with your father about the money afterwards; but the things should be ordered immediately.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03973" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She was then proceeding</span>
            <span id="said_no_03974" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> to all the particulars of
              calico, muslin, and cambric,</span>
            <span id="said_no_03975" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and would shortly have dictated</span>
            <span id="said_no_03976" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> some very plentiful
              orders,</span>
            <span id="said_no_03977" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">had not Jane, though with some difficulty, persuaded her</span>
            <span id="said_no_03978" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_jane" data-placement="auto top"> to wait till her father was
              at leisure to be consulted.</span>
            <span id="said_no_03979" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_jane" data-placement="auto top"> One day's delay,</span>
            <span id="said_no_03980" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she observed, </span>
            <span id="said_no_03981" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_jane" data-placement="auto top"> would be of small
              importance;</span>
            <span id="said_no_03982" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and her mother was too happy to be quite so obstinate as usual. Other schemes, too, came into
              her head.</span>
          
        </p>
        <p>
          
            <span id="said_no_03983" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I will go to Meryton,”</span>
            <span id="said_no_03984" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_03985" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“as soon as I am dressed, and tell the good, good news to my sister
              Philips. And as I come back, I can call on Lady Lucas and Mrs. Long. Kitty, run down and order the carriage. An airing would do me a great deal of
              good, I am sure. Girls, can I do anything for you in Meryton? Oh! Here comes Hill! My dear Hill, have you heard the good news? Miss Lydia is going
              to be married; and you shall all have a bowl of punch to make merry at her wedding.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03986" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Hill began instantly to express</span>
            <span id="said_no_03987" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_hill" data-placement="auto top"> her joy.</span>
            <span id="said_no_03988" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth received her congratulations amongst the rest, and then, sick of this folly, took
              refuge in her own room, that</span>
            <span id="said_no_03989" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> she might think with
              freedom.</span>
          
        </p>

        <p>
          
            <span id="said_no_03990" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">Poor Lydia's situation
              must, at best, be bad enough; but that it was no worse, she had need to be thankful.</span>
            <span id="said_no_03991" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She felt it so;</span>
            <span id="said_no_03992" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> and though, in looking
              forward, neither rational happiness nor worldly prosperity could be justly expected for her sister, in looking back to what they had feared, only
              two hours ago, she felt all the advantages of what they had gained. </span>
          
        </p>
      
  <div class="footnotes"> </div>
