

   
  
    
        <h3>Chapter 33</h3>
        <p>
          
            <span id="said_no_02391" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">More than once did Elizabeth, in her ramble within the park, unexpectedly
              meet Mr. Darcy. </span>
            <span id="said_no_02392" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She felt</span>
            <span id="said_no_02393" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> all the perverseness of
              the mischance that should bring him where no one else was brought,</span>
            <span id="said_no_02394" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> and, to prevent its ever happening again, </span>
            <span id="said_no_02395" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">took care to inform him at first that</span>
            <span id="said_no_02396" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> it was a favourite haunt of
              hers. </span>
            <span id="said_no_02397" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> How it could occur a second
              time, therefore, was very odd! Yet it did, and even a third.</span>
            <span id="said_no_02398" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> It seemed like wilful
              ill-nature, or a voluntary penance, for on these occasions it was not merely a few formal inquiries and an awkward pause and then away, but he
              actually thought it necessary to turn back and walk with her.</span>
            <span id="said_no_02399" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He never said a great deal, nor did she give herself the trouble of talking or of listening
              much; but</span>
            <span id="said_no_02400" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">it struck her</span>
            <span id="said_no_02401" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">in the course of their third rencontre</span>
            <span id="said_no_02402" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_02403" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> he was asking some odd
              unconnected questions — about her pleasure in being at Hunsford, her love of solitary walks, and her opinion of Mr. and Mrs. Collins's
              happiness;</span>
            <span id="said_no_02404" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and </span>
            <span id="said_no_02405" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that in speaking </span>
            <span id="said_no_02406" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> of Rosings and her not
              perfectly understanding the house, he seemed to expect that whenever she came into Kent again she would be staying there
              too.</span>
            <span id="said_no_02407" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> His words seemed to imply
              it. Could he have Colonel Fitzwilliam in his thoughts? </span>
            <span id="said_no_02408" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She supposed,</span>
            <span id="said_no_02409" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> if he meant anything, he
              must mean an allusion to what might arise in that quarter.</span>
            <span id="said_no_02410" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">It distressed her a little, and she was quite glad to find herself at the gate in the pales
              opposite the Parsonage.</span>
          
        </p>
        <p>
          
            <span id="said_no_02411" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She was engaged one day as she walked, in perusing Jane's last letter, and dwelling on some
              passages which proved that Jane had not written in spirits, when, instead of being again surprised by Mr. Darcy, she saw on looking up that
              Colonel Fitzwilliam was meeting her. Putting away the letter immediately and forcing a smile, she said: </span>
          
        </p>
        <p>
          
            <span id="said_no_02412" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I did not know before that you ever walked this way.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02413" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“I have been making the tour of the park,”</span>
            <span id="said_no_02414" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> he replied, </span>
            <span id="said_no_02415" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“as I generally do every year, and intend to close it with a call at the Parsonage.
              Are you going much farther?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02416" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“No, I should have turned in a moment.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02417" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">And accordingly she did turn, and they walked towards the Parsonage together.</span>
          
        </p>
        <p>
          
            <span id="said_no_02418" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Do you certainly leave Kent on Saturday?”</span>
          
          <span id="said_no_02419" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she.</span>
        </p>
        <p>
          
            <span id="said_no_02420" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“Yes — if Darcy does not put it off again. But I am at his disposal. He
              arranges the business just as he pleases.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02421" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And if not able to please himself in the arrangement, he has at least pleasure in
              the great power of choice. I do not know anybody who seems more to enjoy the power of doing what he likes than Mr. Darcy.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02422" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“He likes to have his own way very well,”</span>
            <span id="said_no_02423" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Colonel Fitzwilliam.</span>
            <span id="said_no_02424" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“But so we all do. It is only that he has better means of having it than many
              others, because he is rich, and many others are poor. I speak feelingly. A younger son, you know, must be inured to self-denial and dependence.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_02425" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“In my opinion, the younger son of an earl can know very little of either. Now
              seriously, what have you ever known of self-denial and dependence? When have you been prevented by want of money from going wherever you chose, or
              procuring anything you had a fancy for?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02426" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“These are home questions — and perhaps I cannot say that I have experienced
              many hardships of that nature. But in matters of greater weight, I may suffer from the want of money. Younger sons cannot marry where they like.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_02427" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Unless where they like women of fortune, which I think they very often do.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02428" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“Our habits of expense make us too dependent, and there are not many in my rank of
              life who can afford to marry without some attention to money.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02429" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Is this,”</span>
            <span id="said_no_02430" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> thought Elizabeth, </span>
            <span id="said_no_02431" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“meant for me?”</span>
            <span id="said_no_02432" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> and she coloured at the idea; but, recovering herself, said in a lively tone, </span>
            <span id="said_no_02433" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“and pray, what is the usual price of an earl's younger son? Unless the elder brother
              is very sickly, I suppose you would not ask above fifty thousand pounds.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02434" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He answered her in the same style, and the subject dropped.</span>
            <span id="said_no_02435" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">To interrupt a silence
              which might make him fancy her affected with what had passed,</span>
            <span id="said_no_02436" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she soon afterwards said: </span>
          
        </p>
        <p>
          
            <span id="said_no_02437" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I imagine your cousin brought you down with him chiefly for the sake of having
              someone at his disposal. I wonder he does not marry, to secure a lasting convenience of that kind. But, perhaps, his sister does as well for the
              present, and, as she is under his sole care, he may do what he likes with her.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02438" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“No,”</span>
            <span id="said_no_02439" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Colonel Fitzwilliam, </span>
            <span id="said_no_02440" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“that is an advantage which he must divide with me. I am joined with him in the
              guardianship of Miss Darcy.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02441" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Are you indeed? And pray what sort of guardians do you make? Does your charge give
              you much trouble? Young ladies of her age are sometimes a little difficult to manage, and if she has the true Darcy spirit, she may like to have
              her own way.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02442" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">As she spoke she observed him looking at her earnestly; and the manner in which</span>
            <span id="said_no_02443" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he immediately asked her </span>
            <span id="said_no_02444" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_fitz" data-placement="auto top">why she supposed Miss Darcy
              likely to give them any uneasiness,</span>
            <span id="said_no_02445" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">convinced her that </span>
            <span id="said_no_02446" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">she had somehow or other
              got pretty near the truth.</span>
            <span id="said_no_02447" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She directly replied: </span>
          
        </p>
        <p>
          
            <span id="said_no_02448" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You need not be frightened. I never heard any harm of her; and I dare say she is one
              of the most tractable creatures in the world. She is a very great favourite with some ladies of my acquaintance, Mrs. Hurst and Miss Bingley. I
              think I have heard you say that you know them.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02449" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“I know them a little. Their brother is a pleasant gentlemanlike man — he is a
              great friend of Darcy's.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02450" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Oh! yes,”</span>
            <span id="said_no_02451" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth drily; </span>
            <span id="said_no_02452" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Mr. Darcy is uncommonly kind to Mr. Bingley, and takes a prodigious deal of care of
              him.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02453" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“Care of him! Yes, I really believe Darcy does take care of him
              in those points where he most wants care. From something that he told me in our journey hither, I have reason to think Bingley very much indebted
              to him. But I ought to beg his pardon, for I have no right to suppose that Bingley was the person meant. It was all conjecture.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02454" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“What is it you mean?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02455" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“It is a circumstance which Darcy of course could not wish to be generally known,
              because if it were to get round to the lady's family, it would be an unpleasant thing.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02456" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You may depend upon my not mentioning it.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02457" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“And remember that I have not much reason for supposing it to be Bingley. What he
              told me was merely this: that he congratulated himself on having lately saved a friend from the inconveniences of a most imprudent marriage, but
              without mentioning names or any other particulars, and I only suspected it to be Bingley from believing him the kind of young man to get into a
              scrape of that sort, and from knowing them to have been together the whole of last summer.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02458" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Did Mr. Darcy give you reasons for this interference?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02459" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“I understood that there were some very strong objections against the lady.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02460" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And what arts did he use to separate them?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02461" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“He did not talk to me of his own arts,”</span>
            <span id="said_no_02462" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Fitzwilliam, smiling.</span>
            <span id="said_no_02463" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“He only told me what I have now told you.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02464" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth made no answer, and walked on, her heart swelling with indignation. After watching her
              a little, Fitzwilliam asked her why she was so thoughtful.</span>
          
        </p>
        <p>
          
            <span id="said_no_02465" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I am thinking of what you have been telling me,”</span>
            <span id="said_no_02466" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she.</span>
            <span id="said_no_02467" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Your cousin's conduct does not suit my feelings. Why was he to be the judge?”
            </span>
          
        </p>

        <p>
          
            <span id="said_no_02468" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“You are rather disposed to call his interference officious?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02469" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I do not see what right Mr. Darcy had to decide on the propriety of his friend's
              inclination, or why, upon his own judgement alone, he was to determine and direct in what manner his friend was to be happy. But,”</span>
            <span id="said_no_02470" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she continued, recollecting herself, </span>
            <span id="said_no_02471" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“as we know none of the particulars, it is not fair to condemn him. It is not to be
              supposed that there was much affection in the case.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02472" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“That is not an unnatural surmise,”</span>
            <span id="said_no_02473" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Fitzwilliam, </span>
            <span id="said_no_02474" class="said" data-toggle="tooltip" title="Colonel Fitzwilliam" data-placement="auto top">“but it is a lessening of the honour of my cousin's triumph very sadly.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02475" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This was spoken jestingly; </span>
            <span id="said_no_02476" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but it appeared to her </span>
            <span id="said_no_02477" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> so just a picture of Mr.
              Darcy,</span>
            <span id="said_no_02478" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that she would not trust herself with an answer, and therefore, abruptly changing the
              conversation talked on indifferent matters until they reached the Parsonage. There, shut into her own room, as soon as their visitor left them,
              she could think without interruption of all that she had heard.</span>
            <span id="said_no_02479" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> It was not to be supposed
              that any other people could be meant than those with whom she was connected. There could not exist in the world two men over
              whom Mr. Darcy could have such boundless influence.</span>
            <span id="said_no_02480" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> That he had been concerned
              in the measures taken to separate Mr. Bingley and Jane</span>
            <span id="said_no_02481" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she had never doubted;</span>
            <span id="said_no_02482" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> but</span>
            <span id="said_no_02483" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she had always attributed to Miss Bingley</span>
            <span id="said_no_02484" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> the principal design and
              arrangement of them.</span>
            <span id="said_no_02485" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> If his own vanity, however,
              did not mislead him, he was the cause, his pride and caprice were the cause, of all that Jane had suffered, and still
              continued to suffer. He had ruined for a while every hope of happiness for the most affectionate, generous heart in the world; and no one could
              say how lasting an evil he might have inflicted.</span>
          
        </p>

        <p>
          
            <span id="said_no_02486" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz_fitz" data-placement="auto top">“There were some
              very strong objections against the lady,”</span>
          
          <span id="said_no_02487" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> were Colonel Fitzwilliam's
            words; and those strong objections probably were, her having one uncle who was a country attorney, and another who was in business in London.</span>
          
            <span id="said_no_02488" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“To Jane herself,”</span>
            <span id="said_no_02489" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she exclaimed, </span>
            <span id="said_no_02490" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“there could be no possibility of objection; all loveliness and goodness as she is!
              — her understanding excellent, her mind improved, and her manners captivating. Neither could anything be urged against my father, who,
              though with some peculiarities, has abilities which Mr. Darcy himself need not disdain, and respectability which he will probably never reach.” </span>
            <span id="said_no_02491" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When she thought of her mother indeed, her confidence gave way a little; but </span>
            <span id="said_no_02492" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she would not allow that</span>
            <span id="said_no_02493" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> any objections there had material weight with Mr. Darcy, whose pride,</span>
            <span id="said_no_02494" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she was convinced,</span>
            <span id="said_no_02495" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> would receive a deeper
              wound from the want of importance in his friend's connections, than from their want of sense;</span>
            <span id="said_no_02496" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and she was quite decided, at last, that </span>
            <span id="said_no_02497" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> he had been partly
              governed by this worst kind of pride, and partly by the wish of retaining Mr. Bingley for his sister.</span>
          
        </p>
        <p>
          
            <span id="said_no_02498" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The agitation and tears which the subject occasioned, brought on a headache; and it grew so much
              worse towards the evening, that, added to her unwillingness to see Mr. Darcy,</span>
            <span id="said_no_02499" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">it determined her</span>
            <span id="said_no_02500" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> not to attend her cousins
              to Rosings, where they were engaged to drink tea.</span>
            <span id="said_no_02501" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Collins, seeing that she was really unwell, did not press her to go and as much as possible
              prevented her husband from pressing her; but Mr. Collins could not conceal his apprehension of Lady Catherine's being rather displeased by her
              staying at home.</span>
          
        </p>
      
  <div class="footnotes"> </div>
