

   
  
    
        <h3>Chapter 5</h3>
        <p>
          
            <span id="said_no_00189" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">
              Within a short walk of Longbourn lived a family with whom the Bennets were particularly intimate. Sir William Lucas had been
              formerly in trade in Meryton, where he had made a tolerable fortune, and risen to the honour of knighthood by an address to the king during his
              mayoralty. The distinction had perhaps been felt too strongly. It had given him a disgust to his business, and to his residence in a small market
              town; and, in quitting them both, he had removed with his family to a house about a mile from Meryton, denominated from that period Lucas Lodge,
              where he could think with pleasure of his own importance, and, unshackled by business, occupy himself solely in being civil to all the world. For,
              though elated by his rank, it did not render him supercilious; on the contrary, he was all attention to everybody. By nature inoffensive,
              friendly, and obliging, his presentation at St. James's had made him courteous.</span>
          
        </p>
        <p>
          
            <span id="said_no_00190" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lady Lucas was a very good kind of woman, not too clever to be a valuable neighbour to Mrs.
              Bennet. They had several children. The eldest of them, a sensible, intelligent young woman, about twenty-seven, was Elizabeth's intimate
              friend.</span>
          
        </p>
        <p>
          
            <span id="said_no_00191" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">That the Miss Lucases and the Miss Bennets should meet to talk over a ball was absolutely
              necessary; and the morning after the assembly brought the former to Longbourn to hear and to communicate.</span>
          
        </p>

        <p>
          
            <span id="said_no_00192" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“You began the evening well, Charlotte,”</span>
            <span id="said_no_00193" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Bennet with civil self-command to Miss Lucas.</span>
            <span id="said_no_00194" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“You were Mr. Bingley's first choice.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00195" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“Yes; but he seemed to like his second better.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00196" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Oh! you mean Jane, I suppose, because he danced with her twice. To be
              sure that did seem as if he admired her — indeed I rather believe he did — I heard something
              about it — but I hardly know what — something about Mr. Robinson.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00197" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Perhaps you mean what I overheard between him and Mr. Robinson; did not I mention it
              to you?</span>
            <span id="said_no_00198" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">Mr. Robinson's asking him</span>
            <span id="said_no_00199" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.001.#eliz_mrr" data-placement="auto top"> how he liked our Meryton
              assemblies,</span>
            <span id="said_no_00200" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">and</span>
            <span id="said_no_00201" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.001.#eliz_mrr" data-placement="auto top"> whether he did not think
              there were a great many pretty women in the room, and which he thought the prettiest?</span>
            <span id="said_no_00202" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">and his answering immediately to the last question —</span>
            <span id="said_no_00203" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.001.#eliz_bing" data-placement="auto top"> 'Oh! the eldest Miss
              Bennet, beyond a doubt; there cannot be two opinions on that point.'”</span>
          
        </p>
        <p>
          
            <span id="said_no_00204" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Upon my word! Well, that is very decided indeed — that does seem
              as if — but, however, it may all come to nothing, you know.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00205" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“My overhearings were more to the purpose than yours, Eliza,”</span>
            <span id="said_no_00206" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Charlotte.</span>
            <span id="said_no_00207" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“Mr. Darcy is not so well worth listening to as his friend, is he? — Poor
              Eliza! — to be only just tolerable.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00208" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I beg you would not put it into Lizzy's head to be vexed by his
              ill-treatment, for he is such a disagreeable man, that it would be quite a misfortune to be liked by him.</span>
            <span id="said_no_00209" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">Mrs. Long told me last night that</span>
            <span id="said_no_00210" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsb_mrsl" data-placement="auto top"> he sat close to her for
              half-an-hour without once opening his lips.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00211" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Are you quite sure, ma'am? — is not there a little mistake?”</span>
            <span id="said_no_00212" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Jane. — </span>
            <span id="said_no_00213" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“I certainly saw Mr. Darcy speaking to her.”</span>
          
        </p>

        <p>
          
            <span id="said_no_00214" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Aye — because</span>
            <span id="said_no_00215" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">she asked him at last</span>
            <span id="said_no_00216" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.001.#mrsb_mrsl" data-placement="auto top"> how he liked
              Netherfield,</span>
            <span id="said_no_00217" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">and he could not help answering her; but she said he seemed quite angry
              at being spoke to.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00218" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Miss Bingley told me,”</span>
            <span id="said_no_00219" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Jane, </span>
            <span id="said_no_00220" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“that</span>
            <span id="said_no_00221" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.#jane_msb" data-placement="auto top"> he never speaks much,
              unless among his intimate acquaintances. With  them he is remarkably agreeable.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00222" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I do not believe a word of it, my dear. If he had been so very
              agreeable, he would have talked to Mrs. Long. But I can guess how it was; everybody says that he is eat up with pride, and I dare say he had heard
              somehow that Mrs. Long does not keep a carriage, and had come to the ball in a hack chaise.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00223" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“I do not mind his not talking to Mrs. Long,”</span>
            <span id="said_no_00224" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Miss Lucas, </span>
            <span id="said_no_00225" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“but I wish he had danced with Eliza.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00226" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Another time, Lizzy,”</span>
            <span id="said_no_00227" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her </span>
            <span id="said_no_00228" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> mother, </span>
            <span id="said_no_00229" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I would not dance with him, if I were you.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00230" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I believe, ma'am, I may safely promise you never to dance with
              him.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00231" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“His pride,”</span>
            <span id="said_no_00232" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Miss Lucas, </span>
            <span id="said_no_00233" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“does not offend me so much as pride often does, because there
              is an excuse for it. One cannot wonder that so very fine a young man, with family, fortune, everything in his favour, should think highly of
              himself. If I may so express it, he has a right to be proud.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00234" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“That is very true,”</span>
            <span id="said_no_00235" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Elizabeth, </span>
            <span id="said_no_00236" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“and I could easily forgive his pride, if he had not mortified
                mine.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00237" class="said" data-toggle="tooltip" title="Mary Bennet" data-placement="auto top">“Pride,”</span>
            <span id="said_no_00238" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> observed Mary, who piqued herself upon the solidity of her reflections, </span>
            <span id="said_no_00239" class="said" data-toggle="tooltip" title="Mary Bennet" data-placement="auto top">“is a very common failing, I believe. By all that I have ever read, I am convinced
              that it is very common indeed; that human nature is particularly prone to it, and that there are very few of us who do not cherish a feeling of
              self-complacency on the score of some quality or other, real or imaginary. Vanity and pride are different things, though the words are often used
              synonymously. A person may be proud without being vain. Pride relates more to our opinion of ourselves, vanity to what we would have others think
              of us.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00240" class="said" data-toggle="tooltip" title="A young Lucas boy" data-placement="auto top">“If I were as rich as Mr. Darcy,”</span>
            <span id="said_no_00241" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried a young Lucas, who came with his sisters, </span>
            <span id="said_no_00242" class="said" data-toggle="tooltip" title="A young Lucas boy" data-placement="auto top">“I should not care how proud I was. I would keep a pack of foxhounds, and drink a
              bottle of wine a day.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00243" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Then you would drink a great deal more than you ought,”</span>
            <span id="said_no_00244" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Bennet; </span>
            <span id="said_no_00245" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“and if I were to see you at it, I should take away your bottle
              directly.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00246" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The boy protested that</span>
            <span id="said_no_00247" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_boyl" data-placement="auto top"> she should not;</span>
            <span id="said_no_00248" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she continued to declare that</span>
            <span id="said_no_00249" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">she would,</span>
            <span id="said_no_00250" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and the argument ended only with the visit.</span>
          
        </p>
      
  <div class="footnotes"> </div>
