

   
  
    
        <h3>Chapter 58</h3>
        <p>
          
            <span id="said_no_04854" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Instead of receiving any such letter of excuse from his friend, as
              Elizabeth half expected Mr. Bingley to do, he was able to bring Darcy with him to Longbourn before many days had passed after Lady Catherine's
              visit. The gentlemen arrived early; and, before Mrs. Bennet had time to tell him of their having seen his aunt, of which her daughter sat in
              momentary dread, Bingley, who wanted to be alone with Jane, proposed their all walking out. It was agreed to. Mrs. Bennet was not in the habit of
              walking; Mary could never spare time; but the remaining five set off together. Bingley and Jane, however, soon allowed the others to outstrip
              them. They lagged behind, while Elizabeth, Kitty, and Darcy were to entertain each other. Very little was said by either; Kitty was too much
              afraid of him to talk;</span>
            <span id="said_no_04855" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth</span>
            <span id="said_no_04856" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was secretly forming a desperate resolution; and</span>
            <span id="said_no_04857" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">perhaps</span>
            <span id="said_no_04858" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> he might be doing the
              same.</span>
          
        </p>
        <p>
          <span id="said_no_04859" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They walked towards the Lucases, because Kitty wished to call upon Maria; and as Elizabeth saw no
            occasion for making it a general concern, when Kitty left them she went boldly on with him alone.</span>
          <span id="said_no_04860" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Now was the moment for her
            resolution to be executed,</span>
          <span id="said_no_04861" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and, while her courage was high, she immediately said:</span>
          <br></br>
          
            <span id="said_no_04862" class="said" data-toggle="tooltip" title="Kitty Bennet" data-placement="auto top">“Mr. Darcy, I am a very selfish creature; and, for the sake of giving relief to my
              own feelings, care not how much I may be wounding yours. I can no longer help thanking you for your unexampled kindness to my poor sister. Ever
              since I have known it, I have been most anxious to acknowledge to you how gratefully I feel it. Were it known to the rest of my family, I should
              not have merely my own gratitude to express.” </span>
          
        </p>

        <p>
          
            <span id="said_no_04863" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I am sorry, exceedingly sorry,”</span>
            <span id="said_no_04864" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Darcy, in a tone of surprise and emotion, </span>
            <span id="said_no_04865" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“that you have ever been informed of what may, in a mistaken light, have given you
              uneasiness. I did not think Mrs. Gardiner was so little to be trusted.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04866" class="said" data-toggle="tooltip" title="Kitty Bennet" data-placement="auto top">“You must not blame my aunt. Lydia's thoughtlessness first betrayed to me that you
              had been concerned in the matter; and, of course, I could not rest till I knew the particulars. Let me thank you again and again, in the name of
              all my family, for that generous compassion which induced you to take so much trouble, and bear so many mortifications, for the sake of
              discovering them.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04867" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“If you will thank me,”</span>
            <span id="said_no_04868" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> he replied, </span>
            <span id="said_no_04869" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“let it be for yourself alone. That the wish of giving happiness to you might add
              force to the other inducements which led me on, I shall not attempt to deny. But your family owe me nothing. Much as I
              respect them, I believe I thought only of you .” </span>
          
        </p>
        <p>
          <span id="said_no_04870" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth was too much embarrassed to say a word. After a short pause, her companion added, </span>
          
            <span id="said_no_04871" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You are too generous to trifle with me. If your feelings are still what they were
              last April, tell me so at once. My affections and wishes are unchanged, but one word from you will silence me on this subject
              for ever.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04872" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth, feeling all the more than common awkwardness and anxiety of his situation, now forced
              herself to speak; and immediately, though not very fluently,</span>
            <span id="said_no_04873" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">gave him to understand that</span>
            <span id="said_no_04874" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> her sentiments had
              undergone so material a change, since the period to which he alluded, as to make her receive with gratitude and pleasure his present
              assurances.</span>
            <span id="said_no_04875" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> The happiness which this
              reply produced, was such as he had</span>
            <span id="said_no_04876" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">probably </span>
            <span id="said_no_04877" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> never felt before;</span>
            <span id="said_no_04878" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_04879" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he expressed himself</span>
            <span id="said_no_04880" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">on the occasion</span>
            <span id="said_no_04881" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> as sensibly and as warmly as
              a man violently in love can be supposed to do.</span>
            <span id="said_no_04882" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Had Elizabeth been able to encounter his eye, she might have seen how well the expression of
              heartfelt delight, diffused over his face, became him; but, though she could not look, she could listen, and he told her of feelings, which, in
              proving of what importance she was to him, made his affection every moment more valuable.</span>
          
        </p>
        <p>
          
            <span id="said_no_04883" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They walked on, without knowing in what direction. There was too much to be thought, and felt,
              and said, for attention to any other objects.</span>
            <span id="said_no_04884" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She soon learnt that</span>
            <span id="said_no_04885" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> they were indebted for their
              present good understanding to the efforts of his aunt, who did call on him in her return through London, and there relate her
              journey to Longbourn, its motive, and the substance of her conversation with Elizabeth; dwelling emphatically on every expression of the latter
              which, in her ladyship's apprehension, peculiarly denoted her perverseness and assurance; in the belief that such a relation must assist her
              endeavours to obtain that promise from her nephew which she had refused to give.</span>
            <span id="said_no_04886" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But, unluckily for her ladyship, its effect had been exactly contrariwise.</span>
          
        </p>
        <p>
          
            <span id="said_no_04887" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“It taught me to hope,”</span>
            <span id="said_no_04888" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_04889" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“as I had scarcely ever allowed myself to hope before. I knew enough of your
              disposition to be certain that, had you been absolutely, irrevocably decided against me, you would have acknowledged it to Lady Catherine, frankly
              and openly.” </span>
          
        </p>
        <p>
          <span id="said_no_04890" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth coloured and laughed as she replied, </span>
          
            <span id="said_no_04891" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes, you know enough of my frankness to believe me capable of
                that. After abusing you so abominably to your face, I could have no scruple in abusing you to all your relations.” </span>
          
        </p>

        <p>
          
            <span id="said_no_04892" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“What did you say of me, that I did not deserve? For, though your accusations were
              ill-founded, formed on mistaken premises, my behaviour to you at the time had merited the severest reproof. It was unpardonable. I cannot think of
              it without abhorrence.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04893" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“We will not quarrel for the greater share of blame annexed to that evening,”</span>
            <span id="said_no_04894" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth.</span>
            <span id="said_no_04895" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“The conduct of neither, if strictly examined, will be irreproachable; but since
              then, we have both, I hope, improved in civility.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04896" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I cannot be so easily reconciled to myself. The recollection of what I then said, of
              my conduct, my manners, my expressions during the whole of it, is now, and has been many months, inexpressibly painful to me. Your reproof, so
              well applied, I shall never forget:</span>
            <span id="said_no_04897" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.001.#dar_eliz" data-placement="auto top"> ‘had you behaved in a more
              gentlemanlike manner.’</span>
            <span id="said_no_04898" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">Those were your words. You know not, you can scarcely conceive, how they have
              tortured me — though it was some time, I confess, before I was reasonable enough to allow their justice."</span>
          
        </p>
        <p>
          
            <span id="said_no_04899" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I was certainly very far from expecting them to make so strong an impression. I had
              not the smallest idea of their being ever felt in such a way.” </span>
          
        </p>
        
        <p>
          
            <span id="said_no_04900" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I can easily believe it. You thought me then devoid of every proper feeling, I am
              sure you did. The turn of your countenance I shall never forget,</span>
            <span id="said_no_04901" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">as you said that</span>
            <span id="said_no_04902" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.#dar_eliz" data-placement="auto top"> I could not have
              addressed you in any possible way that would induce you to accept me.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04903" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Oh! do not repeat what I then said. These recollections will not do at all. I assure
              you that I have long been most heartily ashamed of it.” </span>
          
        </p>
        <p>
          <span id="said_no_04904" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Darcy mentioned his letter.</span>
          
            <span id="said_no_04905" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Did it,”</span>
            <span id="said_no_04906" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_04907" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“did it soon make you think better of me? Did you, on reading
              it, give any credit to its contents?” </span>
          
        </p>

        <p>
          
            <span id="said_no_04908" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She explained</span>
            <span id="said_no_04909" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> what its effect on her had
              been, and how gradually all her former prejudices had been removed.</span>
          
        </p>
        <p>
          
            <span id="said_no_04910" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I knew,”</span>
            <span id="said_no_04911" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_04912" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“that what I wrote must give you pain, but it was necessary. I hope you have
              destroyed the letter. There was one part especially, the opening of it, which I should dread your having the power of reading again. I can
              remember some expressions which might justly make you hate me.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04913" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“The letter shall certainly be burnt, if you believe it essential to the preservation
              of my regard; but, though we have both reason to think my opinions not entirely unalterable, they are not, I hope, quite so easily changed as that
              implies.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04914" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“When I wrote that letter,”</span>
            <span id="said_no_04915" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Darcy, </span>
            <span id="said_no_04916" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I believed myself perfectly calm and cool, but I am since convinced that it was
              written in a dreadful bitterness of spirit.” </span>
          
        </p>

        <p>
          
            <span id="said_no_04917" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“The letter, perhaps, began in bitterness, but it did not end so. The adieu is
              charity itself. But think no more of the letter. The feelings of the person who wrote, and the person who received it, are now so widely different
              from what they were then, that every unpleasant circumstance attending it ought to be forgotten. You must learn some of my philosophy. Think only
              of the past as its remembrance gives you pleasure.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04918" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I cannot give you credit for any philosophy of the kind. Your
              retrospections must be so totally void of reproach, that the contentment arising from them is not of philosophy, but, what is much better, of
              innocence. But with me, it is not so. Painful recollections will intrude which cannot, which ought not, to be repelled. I
              have been a selfish being all my life, in practice, though not in principle. As a child I was taught what was  right, but I
              was not taught to correct my temper. I was given good principles, but left to follow them in pride and conceit. Unfortunately an only son, (for
              many years an only child) I was spoilt by my parents, who, though good themselves, (my father, particularly, all that was
              benevolent and amiable), allowed, encouraged, almost taught me to be selfish and overbearing; to care for none beyond my own family circle; to
              think meanly of all the rest of the world; to wish at least to think meanly of their sense and worth compared with my own.
              Such I was, from eight to eight and twenty; and such I might still have been but for you, dearest, loveliest Elizabeth! What do I not owe you! You
              taught me a lesson, hard indeed at first, but most advantageous. By you, I was properly humbled. I came to you without a doubt of my reception.
              You showed me how insufficient were all my pretensions to please a woman worthy of being pleased.” </span>
          
        </p>

        <p>
          
            <span id="said_no_04919" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Had you then persuaded yourself that I should?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04920" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Indeed I had. What will you think of my vanity? I believed you to be wishing,
              expecting my addresses.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04921" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“My manners must have been in fault, but not intentionally, I assure you. I never
              meant to deceive you, but my spirits might often lead me wrong. How you must have hated me after that evening?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04922" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Hate you! I was angry perhaps at first, but my anger soon began to take a proper
              direction.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04923" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I am almost afraid of asking what you thought of me, when we met at Pemberley. You
              blamed me for coming?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04924" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“No indeed; I felt nothing but surprise.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04925" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Your surprise could not be greater than mine in being noticed
              by you. My conscience told me that I deserved no extraordinary politeness, and I confess that I did not expect to receive more than my due.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04926" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“My object then,”</span>
            <span id="said_no_04927" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Darcy, </span>
            <span id="said_no_04928" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“was to show you, by every civility in my power, that I was not so mean as to resent
              the past; and I hoped to obtain your forgiveness, to lessen your ill opinion, by letting you see that your reproofs had been attended to. How soon
              any other wishes introduced themselves I can hardly tell, but I believe in about half an hour after I had seen you.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04929" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He then told her</span>
            <span id="said_no_04930" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> of Georgiana's delight in her
              acquaintance, and of her disappointment at its sudden interruption; which naturally leading to the cause of that interruption,</span>
            <span id="said_no_04931" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she soon learnt that</span>
            <span id="said_no_04932" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> his resolution of following
              her from Derbyshire in quest of her sister had been formed before he quitted the inn,</span>
            <span id="said_no_04933" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_04934" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_04935" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> his gravity and
              thoughtfulness there had arisen from no other struggles than what such a purpose must comprehend.</span>
          
        </p>
        <p>
          
            <span id="said_no_04936" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She expressed her gratitude again, but it was too painful a subject to each, to be dwelt on
              farther.</span>
          
        </p>
        <p>
          
            <span id="said_no_04937" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">After walking several miles in a leisurely manner, and too busy to know anything about it, they
              found at last, on examining their watches, that it was time to be at home.</span>
          
        </p>
        <p>
          
            <span id="said_no_04938" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_elizdar" data-placement="auto top"> “What
              could become of Mr. Bingley and Jane!”</span>
            <span id="said_no_04939" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was a wonder which introduced the discussion of their affairs.</span>
            <span id="said_no_04940" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Darcy was delighted</span>
            <span id="said_no_04941" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> with their engagement; his
              friend had given him the earliest information of it.</span>
          
        </p>
        <p>
          
            <span id="said_no_04942" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I must ask whether you were surprised?”</span>
          
          <span id="said_no_04943" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth.</span>
        </p>
        <p>
          
            <span id="said_no_04944" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Not at all. When I went away, I felt that it would soon happen.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04945" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“That is to say, you had given your permission. I guessed as much.”</span>
          
          <span id="said_no_04946" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> And though he exclaimed at the term, she </span>
          <span id="said_no_04947" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> found that it had been pretty much the case.</span>
        </p>
        <p>
          
            <span id="said_no_04948" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“On the evening before my going to London,”</span>
            <span id="said_no_04949" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_04950" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I made a confession to him, which I believe I ought to have made long ago. I told
              him of all that had occurred to make my former interference in his affairs absurd and impertinent. His surprise was great. He had never had the
              slightest suspicion. I told him, moreover, that I believed myself mistaken in supposing, as I had done, that your sister was indifferent to him;
              and as I could easily perceive that his attachment to her was unabated, I felt no doubt of their happiness together.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04951" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth could not help smiling at his easy manner of directing his friend.</span>
          
        </p>
        <p>
          
            <span id="said_no_04952" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Did you speak from your own observation,”</span>
            <span id="said_no_04953" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_04954" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“when you told him that my sister loved him, or merely from my information last
              spring?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04955" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“From the former. I had narrowly observed her during the two visits which I had
              lately made her here; and I was convinced of her affection.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04956" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And your assurance of it, I suppose, carried immediate conviction to him.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04957" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“It did. Bingley is most unaffectedly modest. His diffidence had prevented his
              depending on his own judgment in so anxious a case, but his reliance on mine made every thing easy. I was obliged to confess one thing, which for
              a time, and not unjustly, offended him. I could not allow myself to conceal that your sister had been in town three months last winter, that I had
              known it, and purposely kept it from him. He was angry. But his anger, I am persuaded, lasted no longer than he remained in any doubt of your
              sister's sentiments. He has heartily forgiven me now.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04958" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth longed to observe that</span>
            <span id="said_no_04959" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Mr. Bingley had been a
              most delightful friend; so easily guided that his worth was invaluable;</span>
            <span id="said_no_04960" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but she checked herself.</span>
            <span id="said_no_04961" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She remembered that</span>
            <span id="said_no_04962" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> he had yet to learn to be
              laughed at, and it was rather too early to begin.</span>
            <span id="said_no_04963" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In anticipating the happiness of Bingley, which of course was to be inferior only to his own, he
              continued the conversation till they reached the house. In the hall they parted.</span>
          
        </p>
      
  <div class="footnotes"> </div>
