

   
  
    
        <h3>Chapter 12</h3>
        <p>
          
            <span id="said_no_00873" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In consequence of an agreement between the sisters,</span>
            <span id="said_no_00874" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth wrote</span>
            <span id="said_no_00875" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">the next morning to their mother,</span>
            <span id="said_no_00876" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">to beg that</span>
            <span id="said_no_00877" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">the carriage might be sent
              for them in the course of the day.</span>
            <span id="said_no_00878" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But Mrs. Bennet, who had calculated on her daughters remaining at Netherfield till the following
              Tuesday, which would exactly finish Jane's week, could not bring herself to receive them with pleasure before. Her answer, therefore, was not
              propitious, at least not to Elizabeth's wishes, for she was impatient to get home.</span>
            <span id="said_no_00879" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs.Bennet sent them word that</span>
            <span id="said_no_00880" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">they could not possibly
              have the carriage before Tuesday;</span>
            <span id="said_no_00881" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and in her postscript it was added,</span>
            <span id="said_no_00882" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_00883" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">if Mr. Bingley and his
              sister pressed them to stay longer, she could spare them very well.</span>
            <span id="said_no_00884" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Against staying longer, however, Elizabeth was positively resolved — nor did she much
              expect it would be asked; and fearful, on the contrary, as being considered as intruding themselves needlessly long, she urged Jane to borrow Mr.
              Bingley's carriage immediately, and at length it was settled that their original design of leaving Netherfield that morning should be mentioned,
              and the request made. </span>
          
        </p>
        <p>
          
            <span id="said_no_00885" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The communication excited many professions of concern; and enough was said of wishing them to
              stay at least till the following day to work on Jane; and till the morrow their going was deferred. Miss Bingley was then sorry that she had
              proposed the delay, for her jealousy and dislike of one sister much exceeded her affection for the other.</span>
          
        </p>

        <p>
          
            <span id="said_no_00886" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The master of the house</span>
            <span id="said_no_00887" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">heard with real sorrow that they were to go so soon, and</span>
            <span id="said_no_00888" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">repeatedly tried to persuade Miss Bennet that</span>
            <span id="said_no_00889" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_bing" data-placement="auto top"> it would not be safe for
              her —</span>
            <span id="said_no_00890" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_00891" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_bing" data-placement="auto top">she was not enough
              recovered;</span>
            <span id="said_no_00892" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but Jane was firm where she felt herself to be right.</span>
          
        </p>
        <p>
          
            <span id="said_no_00893" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">To Mr. Darcy it was welcome intelligence — Elizabeth had been at Netherfield long enough.
              She attracted him more than he liked — and Miss Bingley was uncivil to her, and more teasing than usual to
              himself.</span>
            <span id="said_no_00894" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He wisely resolved</span>
            <span id="said_no_00895" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top">to be particularly careful
              that no sign of admiration should now escape him, nothing that could elevate her with the hope of influencing his felicity;
              sensible that if such an idea had been suggested, his behaviour during the last day must have material weight in confirming or crushing it.</span>
            <span id="said_no_00896" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Steady to his purpose, he scarcely spoke ten words to her through the whole of Saturday, and
              though they were at one time left by themselves for half-an-hour, he adhered most conscientiously to his book, and would not even look at her.
            </span>
          
        </p>
        <p>
          
            <span id="said_no_00897" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">On Sunday, after morning service, the separation, so agreeable to almost all, took place. Miss
              Bingley's civility to Elizabeth increased at last very rapidly, as well as her affection for Jane; and when they parted, after assuring the latter
              of the pleasure it would always give her to see her either at Longbourn or Netherfield, and embracing her most tenderly, she even shook hands with
              the former. Elizabeth took leave of the whole party in the liveliest of spirits.</span>
          
        </p>
        <p>
          
            <span id="said_no_00898" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They were not welcomed home very cordially by their mother.</span>
            <span id="said_no_00899" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> Mrs. Bennet wondered</span>
            <span id="said_no_00900" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">at their coming,</span>
            <span id="said_no_00901" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and </span>
            <span id="said_no_00902" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">thought them</span>
            <span id="said_no_00903" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">very wrong to give so much
              trouble,</span>
            <span id="said_no_00904" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_00905" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was sure</span>
            <span id="said_no_00906" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">Jane would have caught cold
              again.</span>
            <span id="said_no_00907" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But their father, though very laconic in his expressions of pleasure, was really glad to see
              them; he had felt their importance in the family circle. The evening conversation, when they were all assembled, had lost much of its animation,
              and almost all its sense by the absence of Jane and Elizabeth.</span>
          
        </p>
        <p>
          
            <span id="said_no_00908" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They found Mary, as usual, deep in the study of thorough-bass and human nature; and had some new
              extracts to admire, and some new observations of threadbare morality to listen to. Catherine and Lydia had information for them of a different
              sort.</span>
            <span id="said_no_00909" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_kitlyd" data-placement="auto top">Much had been done, and
              much had been said in the regiment since the preceding Wednesday; several of the officers had dined lately with their uncle, a private had been
              flogged, and it had actually been hinted that Colonel Forster was going to be married. </span>
          
        </p>
      
  <div class="footnotes"> </div>
