

   
  
    
        <h3>Chapter 1. </h3>
        <p>
          
            <span id="said_no_00001" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">
              It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife.</span>
          
        </p>
        <p>
          
            <span id="said_no_00002" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">However little known the feelings or views of such a man may be on his first entering a
              neighbourhood, this truth is so well fixed in the minds of the surrounding families, that he is considered the rightful property of some one or
              other of their daughters.</span>
          
        </p>
        <p>
          
            <span id="said_no_00003" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“My dear Mr. Bennet,”</span>
            <span id="said_no_00004" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said his lady to him one day, </span>
            <span id="said_no_00005" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“have you heard that Netherfield Park is let at last?”</span>
          
        </p>
        <p>
          
            <span id="said_no_00006" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Bennet replied that he had not.</span>
          
        </p>
        <p>
          
            <span id="said_no_00007" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“But it is,”</span>
            <span id="said_no_00008" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> returned she; </span>
            <span id="said_no_00009" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“for Mrs. Long has just been here, and she told me all about it.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00010" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Bennet made no answer.</span>
          
        </p>
        <p>
          
            <span id="said_no_00011" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Do you not want to know who has taken it?”</span>
            <span id="said_no_00012" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried his wife impatiently.</span>
          
        </p>
        <p>
          
            <span id="said_no_00013" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“You want to tell me, and I have no objection to hearing
              it.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00014" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This was invitation enough.</span>
          
        </p>
        <p>
          
            <span id="said_no_00015" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Why, my dear, you must know,</span>
            <span id="said_no_00016" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top"> Mrs. Long says that</span>
            <span id="said_no_00017" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.mrsb_mrsl" data-placement="auto top"> Netherfield is taken by a
              young man of large fortune from the north of England;</span>
            <span id="said_no_00018" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">that</span>
            <span id="said_no_00019" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.mrsb_mrsl" data-placement="auto top"> he came down on Monday in
              a chaise and four to see the place, and was so much delighted with it, that he agreed with Mr. Morris immediately;</span>
            <span id="said_no_00020" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">that</span>
            <span id="said_no_00021" class="said" data-toggle="tooltip" title="aus.001.mrsb_mrsl" data-placement="auto top">he is to take possession before Michaelmas, and some of his servants are to be in the
              house by the end of next week.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00022" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“What is his name?”</span>
          
        </p>
        <p>
          
            <span id="said_no_00023" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Bingley.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00024" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Is he married or single?”</span>
          
        </p>
        <p>
          
            <span id="said_no_00025" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Oh! Single, my dear, to be sure! A single man of large fortune; four or
              five thousand a year. What a fine thing for our girls!”</span>
          
        </p>
        <p>
          
            <span id="said_no_00026" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“How so? How can it affect them?”</span>
          
        </p>
        <p>
          
            <span id="said_no_00027" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“My dear Mr. Bennet,”</span>
            <span id="said_no_00028" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied his wife, </span>
            <span id="said_no_00029" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“how can you be so tiresome! You must know that I am thinking of his
              marrying one of them.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00030" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Is that his design in settling here?”</span>
          
        </p>
        <p>
          
            <span id="said_no_00031" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Design! Nonsense, how can you talk so! But it is very likely that he
                may fall in love with one of them, and therefore you must visit him as soon as he comes.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00032" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“I see no occasion for that. You and the girls may go, or you may send them by
              themselves, which perhaps will be still better, for as you are as handsome as any of them, Mr. Bingley may like you the best of the party.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00033" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“My dear, you flatter me. I certainly have had my
              share of beauty, but I do not pretend to be anything extraordinary now. When a woman has five grown-up daughters, she ought to give over thinking
              of her own beauty.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00034" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“In such cases, a woman has not often much beauty to think of.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00035" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“But, my dear, you must indeed go and see Mr. Bingley when he comes into
              the neighbourhood.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00036" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“It is more than I engage for, I assure you.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00037" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“But consider your daughters. Only think what an establishment it would
              be for one of them. Sir William and Lady Lucas are determined to go, merely on that account, for in general, you know, they visit no newcomers.
              Indeed you must go, for it will be impossible for us to visit him if you do not.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00038" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“You are over scrupulous surely. I dare say Mr. Bingley will be very glad to see you;
              and I will send a few lines by you to assure him of my hearty consent to his marrying whichever he chooses of the girls; though I must throw in a
              good word for my little Lizzy.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00039" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I desire you will do no such thing. Lizzy is not a bit better than the
              others; and I am sure she is not half so handsome as Jane, nor half so good-humoured as Lydia. But you are always giving her
              the preference.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00040" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“They have none of them much to recommend them,”</span>
            <span id="said_no_00041" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied he; </span>
            <span id="said_no_00042" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“they are all silly and ignorant like other girls; but Lizzy has something more of
              quickness than her sisters.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00043" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Mr. Bennet, how can you abuse your own children in
              such a way? You take delight in vexing me. You have no compassion for my poor nerves.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00044" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“You mistake me, my dear. I have a high respect for your nerves. They are my old
              friends. I have heard you mention them with consideration these twenty years at least.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00045" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Ah, you do not know what I suffer.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00046" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“But I hope you will get over it, and live to see many young men of four thousand a
              year come into the neighbourhood.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00047" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“It will be no use to us, if twenty such should come, since you will not
              visit them.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00048" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Depend upon it, my dear, that when there are twenty, I will visit them all.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00049" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Bennet was so odd a mixture of quick parts, sarcastic humour, reserve, and caprice, that the
              experience of three-and-twenty years had been insufficient to make his wife understand his character. Her mind was less
              difficult to develop. She was a woman of mean understanding, little information, and uncertain temper. When she was discontented, she fancied
              herself nervous. The business of her life was to get her daughters married; its solace was visiting and news.</span>
          
        </p>
      
  <div class="footnotes"> </div>
