

   
  
    
        <h3>Chapter 10</h3>
        <p>
          
            <span id="said_no_00699" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">
              The day passed much as the day before had done. Mrs. Hurst and Miss Bingley had spent some hours of the morning with the
              invalid, who continued, though slowly, to mend; and in the evening Elizabeth joined their party in the drawing-room. The loo table, however, did
              not appear. Mr. Darcy was writing, and Miss Bingley, seated near him, was watching the progress of his letter, and repeatedly calling off his
              attention by messages to his sister. Mr. Hurst and M . Bingley were at piquet, and Mrs. Hurst was observing their game.</span>
          
        </p>
        <p>
          
            <span id="said_no_00700" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth took up some needlework, and was sufficiently amused in attending to what passed
              between Darcy and his companion. The perpetual commendations of the lady, either on his handwriting, or on the evenness of his lines, or on the
              length of his letter, with the perfect unconcern with which her praises were received, formed a curious dialogue, and was exactly in union with
              her opinion of each.</span>
          
        </p>
        <p>
          
            <span id="said_no_00701" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“How delighted Miss Darcy will be to receive such a letter!”</span>
          
        </p>
        <p>
          
            <span id="said_no_00702" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He made no answer.</span>
          
        </p>
        <p>
          
            <span id="said_no_00703" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“You write uncommonly fast.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00704" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“You are mistaken. I write rather slowly.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00705" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“How many letters you must have occasion to write in the course of a year! Letters of
              business, too! How odious I should think them!” </span>
          
        </p>
        <p>
          
            <span id="said_no_00706" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“It is fortunate, then, that they fall to my lot instead of to yours.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00707" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“Pray tell your sister that I long to see her.” </span>
          
        </p>

        <p>
          
            <span id="said_no_00708" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I have already told her so once, by your desire.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00709" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“I am afraid you do not like your pen. Let me mend it for you. I mend pens remarkably
              well.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00710" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Thank you — but I always mend my own.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00711" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“How can you contrive to write so even?” </span>
          
        </p>
        <p>
          
            <span id="said_no_00712" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He was silent.</span>
          
        </p>
        <p>
          
            <span id="said_no_00713" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“Tell your sister I am delighted to hear of her improvement on the harp; and pray let
              her know that I am quite in raptures with her beautiful little design for a table, and I think it infinitely superior to Miss Grantley's.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00714" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Will you give me leave to defer your raptures till I write again? At present I have
              not room to do them justice.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00715" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“Oh! it is of no consequence. I shall see her in January. But do you always write
              such charming long letters to her, Mr. Darcy?” </span>
          
        </p>
        <p>
          
            <span id="said_no_00716" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“They are generally long; but whether always charming it is not for me to determine.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_00717" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“It is a rule with me, that a person who can write a long letter with ease, cannot
              write ill.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00718" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“That will not do for a compliment to Darcy, Caroline,”</span>
            <span id="said_no_00719" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried her brother, </span>
            <span id="said_no_00720" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“because he does not write with ease. He studies too much for
              words of four syllables. Do not you, Darcy?” </span>
          
        </p>
        <p>
          
            <span id="said_no_00721" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“My style of writing is very different from yours.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00722" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“Oh!”</span>
            <span id="said_no_00723" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Miss Bingley, </span>
            <span id="said_no_00724" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“Charles writes in the most careless way imaginable. He leaves out half his words,
              and blots the rest.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00725" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“My ideas flow so rapidly that I have not time to express them — by which
              means my letters sometimes convey no ideas at all to my correspondents.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00726" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Your humility, Mr. Bingley,”</span>
            <span id="said_no_00727" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth, </span>
            <span id="said_no_00728" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“must disarm reproof.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00729" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Nothing is more deceitful,”</span>
            <span id="said_no_00730" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Darcy, </span>
            <span id="said_no_00731" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“than the appearance of humility. It is often only carelessness of opinion, and
              sometimes an indirect boast.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00732" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“And which of the two do you call my little recent piece of
              modesty?” </span>
          
        </p>
        <p>
          
            <span id="said_no_00733" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“The indirect boast; for you are really proud of your defects in writing, because you
              consider them as proceeding from a rapidity of thought and carelessness of execution, which, if not estimable, you think at least highly
              interesting. The power of doing anything with quickness is always prized much by the possessor, and often without any attention to the
              imperfection of the performance.</span>
            <span id="said_no_00734" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">When you told Mrs. Bennet this morning that</span>
            <span id="said_no_00735" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.dar_bing" data-placement="auto top"> if you ever resolved upon
              quitting Netherfield you should be gone in five minutes,</span>
            <span id="said_no_00736" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">you meant it to be a sort of panegyric, of compliment to yourself — and yet what is there
              so very laudable in a precipitance which must leave very necessary business undone, and can be of no real advantage to yourself or anyone
              else?”</span>
          
        </p>
        <p>
          
            <span id="said_no_00737" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“Nay,”</span>
            <span id="said_no_00738" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Bingley, </span>
            <span id="said_no_00739" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“this is too much, to remember at night all the foolish things that were said in the
              morning. And yet, upon my honour, I believe what I said of myself to be true, and I believe it at this moment. At least, therefore, I did not
              assume the character of needless precipitance merely to show off before the ladies.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00740" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I dare say you believed it; but I am by no means convinced that you would be gone
              with such celerity. Your conduct would be quite as dependent on chance as that of any man I know; and if, as you were mounting your horse,</span>
            <span id="said_no_00741" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">a friend were to say,</span>
            <span id="said_no_00742" class="said" data-toggle="tooltip" title="aus.001.dar_fri" data-placement="auto top">‘Bingley, you had better stay till next week,’</span>
            <span id="said_no_00743" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">you would probably do it, you would probably not go — and, at another word,
              might stay a month.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00744" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You have only proved by this,”</span>
            <span id="said_no_00745" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Elizabeth, </span>
            <span id="said_no_00746" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“that Mr. Bingley did not do justice to his own disposition. You have shown him off
              now much more than he did himself.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00747" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“I am exceedingly gratified,”</span>
            <span id="said_no_00748" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Bingley, </span>
            <span id="said_no_00749" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“by your converting what my friend says into a compliment on the sweetness of my
              temper. But I am afraid you are giving it a turn which that gentleman did by no means intend; for he would certainly think the better of me, if
              under such a circumstance I were to give a flat denial, and ride off as fast as I could.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00750" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Would Mr. Darcy then consider the rashness of your original intentions as atoned for
              by your obstinacy in adhering to it?” </span>
          
        </p>
        <p>
          
            <span id="said_no_00751" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“Upon my word, I cannot exactly explain the matter, Darcy must speak for himself.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_00752" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“You expect me to account for opinions which you choose to call mine, but which I
              have never acknowledged. Allowing the case, however, to stand according to your representation, you must remember, Miss Bennet, that the friend
              who is supposed to desire his return to the house, and the delay of his plan, has merely desired it, asked it without offering one argument in
              favour of its propriety.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00753" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“To yield readily — easily — to the persuasion of a
              friend is no merit with you.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00754" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“To yield without conviction is no compliment to the understanding of either.”
            </span>
          
        </p>

        <p>
          
            <span id="said_no_00755" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You appear to me, Mr. Darcy, to allow nothing for the influence of friendship and
              affection. A regard for the requester would often make one readily yield to a request, without waiting for arguments to reason one into it. I am
              not particularly speaking of such a case as you have supposed about Mr. Bingley. We may as well wait, perhaps, till the circumstance occurs before
              we discuss the discretion of his behaviour thereupon. But in general and ordinary cases between friend and friend, where one of them is desired by
              the other to change a resolution of no very great moment, should you think ill of that person for complying with the desire, without waiting to be
              argued into it?” </span>
          
        </p>
        <p>
          
            <span id="said_no_00756" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Will it not be advisable, before we proceed on this subject, to arrange with rather
              more precision the degree of importance which is to appertain to this request, as well as the degree of intimacy subsisting between the parties?”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_00757" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“By all means,”</span>
            <span id="said_no_00758" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Bingley; </span>
            <span id="said_no_00759" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“let us hear all the particulars, not forgetting their comparative height and size;
              for that will have more weight in the argument, Miss Bennet, than you may be aware of. I assure you, that if Darcy were not such a great tall
              fellow, in comparison with myself, I should not pay him half so much deference. I declare I do not know a more awful object than Darcy, on
              particular occasions, and in particular places; at his own house especially, and of a Sunday evening, when he has nothing to do.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00760" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Darcy smiled; but Elizabeth thought she could perceive that he was rather offended, and
              therefore checked her laugh. Miss Bingley warmly resented the indignity he had received, in an expostulation with her brother for talking such
              nonsense.</span>
          
        </p>
        <p>
          
            <span id="said_no_00761" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I see your design, Bingley,”</span>
            <span id="said_no_00762" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said his friend.</span>
            <span id="said_no_00763" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“You dislike an argument, and want to silence this.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00764" class="said" data-toggle="tooltip" title="Mr. Bingley" data-placement="auto top">“Perhaps I do. Arguments are too much like disputes. If you and Miss Bennet will
              defer yours till I am out of the room, I shall be very thankful; and then you may say whatever you like of me.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00765" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“What you ask,”</span>
            <span id="said_no_00766" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth, </span>
            <span id="said_no_00767" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“is no sacrifice on my side; and Mr. Darcy had much better finish his letter.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_00768" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Darcy took her advice, and did finish his letter.</span>
          
        </p>
        <p>
          
            <span id="said_no_00769" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When that business was over, he applied to Miss Bingley and Elizabeth for an indulgence of some
              music. Miss Bingley moved with some alacrity to the pianoforte, and, after a polite request that Elizabeth would lead the way which the other as
              politely and more earnestly negatived, she seated herself.</span>
          
        </p>
        <p>
          
            <span id="said_no_00770" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Hurst sang with her sister, and while they were thus employed, Elizabeth could not help
              observing, as she turned over some music-books that lay on the instrument, how frequently Mr. Darcy's eyes were fixed on her. She hardly knew how
              to suppose that she could be an object of admiration to so great a man; and yet that he should look at her because he disliked her, was still more
              strange. She could only imagine, however, at last that she drew his notice because there was a something about her more wrong and reprehensible,
              according to his ideas of right, than in any other person present. The supposition did not pain her. She liked him too little to care for his
              approbation.</span>
          
        </p>

        <p>
          
            <span id="said_no_00771" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">After playing some Italian songs, Miss Bingley varied the charm by a lively Scotch air; and soon
              afterwards Mr. Darcy, drawing near Elizabeth, said to her:</span>
          
        </p>
        <p>
          
            <span id="said_no_00772" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Do not you feel a great inclination, Miss Bennet, to seize such an opportunity of
              dancing a reel?” </span>
          
        </p>
        <p>
          
            <span id="said_no_00773" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She smiled, but made no answer. He repeated the question, with some surprise at her
              silence.</span>
          
        </p>
        <p>
          
            <span id="said_no_00774" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Oh!”</span>
            <span id="said_no_00775" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_00776" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I heard you before, but I could not immediately determine what to say in reply. You
              wanted me, I know, to say ‘Yes,’ that you might have the pleasure of despising my taste; but I always delight in overthrowing those kind of
              schemes, and cheating a person of their premeditated contempt. I have, therefore, made up my mind to tell you, that I do not want to dance a reel
              at all — and now despise me if you dare.” </span>
          
        </p>

        <p>
          
            <span id="said_no_00777" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Indeed I do not dare.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00778" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth, having rather expected to affront him, was amazed at his gallantry; but there was a
              mixture of sweetness and archness in her manner which made it difficult for her to affront anybody; and Darcy had never been so bewitched by any
              woman as he was by her. He really believed, that were it not for the inferiority of her connections, he should be in some danger.</span>
          
        </p>
        <p>
          
            <span id="said_no_00779" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Miss Bingley saw, or suspected enough to be jealous; and her great anxiety for the recovery of
              her dear friend Jane received some assistance from her desire of getting rid of Elizabeth.</span>
          
        </p>
        <p>
          
            <span id="said_no_00780" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She often tried to provoke Darcy into disliking her guest, by talking of their supposed
              marriage, and planning his happiness in such an alliance.</span>
          
        </p>

        <p>
          
            <span id="said_no_00781" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“I hope,”</span>
            <span id="said_no_00782" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, as they were walking together in the shrubbery the next day, </span>
            <span id="said_no_00783" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“you will give your mother-in-law a few hints, when this desirable event takes place,
              as to the advantage of holding her tongue; and if you can compass it, do cure the younger girls of running after the officers. And, if I may
              mention so delicate a subject, endeavour to check that little something, bordering on conceit and impertinence, which your lady possesses.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_00784" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Have you anything else to propose for my domestic felicity?” </span>
          
        </p>
        <p>
          
            <span id="said_no_00785" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“Oh! yes. Do let the portraits of your uncle and aunt Philips be placed in the
              gallery at Pemberley. Put them next to your great-uncle the judge. They are in the same profession, you know, only in different lines. As for your
              Elizabeth's picture, you must not have it taken, for what painter could do justice to those beautiful eyes?”</span>
          
        </p>
        <p>
          
            <span id="said_no_00786" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“It would not be easy, indeed, to catch their expression, but their colour and shape,
              and the eyelashes, so remarkably fine, might be copied.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00787" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">At that moment they were met from another walk by Mrs. Hurst and Elizabeth herself.</span>
          
        </p>
        <p>
          
            <span id="said_no_00788" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“I did not know that you intended to walk,”</span>
          
          <span id="said_no_00789" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Miss Bingley, in some confusion, lest they had been overheard.</span>
        </p>
        <p>
          
            <span id="said_no_00790" class="said" data-toggle="tooltip" title="Mrs. Hurst" data-placement="auto top">“You used us abominably ill,”</span>
            <span id="said_no_00791" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> answered Mrs. Hurst, </span>
            <span id="said_no_00792" class="said" data-toggle="tooltip" title="Mrs. Hurst" data-placement="auto top">“running away without telling us that you were coming out.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00793" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Then taking the disengaged arm of Mr. Darcy, she left Elizabeth to walk by herself. The path
              just admitted three. Mr. Darcy felt their rudeness, and immediately said:</span>
          
        </p>

        <p>
          
            <span id="said_no_00794" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“This walk is not wide enough for our party. We had better go into the avenue.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_00795" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But Elizabeth, who had not the least inclination to remain with them, laughingly
              answered:</span>
          
        </p>
        <p>
          
            <span id="said_no_00796" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“No, no; stay where you are. You are charmingly grouped, and appear to uncommon
              advantage. The picturesque would be spoilt by admitting a fourth. Good-bye.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00797" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She then ran gaily off, rejoicing as she rambled about, in the hope of being at home again in a
              day or two. Jane was already so much recovered as to intend leaving her room for a couple of hours that evening. </span>
          
        </p>
      
  <div class="footnotes"> </div>
