

   
  
    
        <h3>Chapter 7</h3>
        <p>
          
            <span id="said_no_00360" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">
              Mr. Bennet's property consisted almost entirely in an estate of two thousand a year, which, unfortunately for his daughters,
              was entailed, in default of heirs male, on a distant relation; and their mother's fortune, though ample for her situation in life, could but ill
              supply the deficiency of his. Her father had been an attorney in Meryton, and had left her four thousand pounds.</span>
          
        </p>
        <p>
          
            <span id="said_no_00361" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She had a sister married to a Mr. Phillips, who had been a clerk to their father and succeeded
              him in the business, and a brother settled in London in a respectable line of trade.</span>
          
        </p>
        <p>
          
            <span id="said_no_00362" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The village of Longbourn was only one mile from Meryton; a most convenient distance for the
              young ladies, who were usually tempted thither three or four times a week, to pay their duty to their aunt and to a milliner's shop just over the
              way. The two youngest of the family, Catherine and Lydia, were particularly frequent in these attentions; their minds were more vacant than their
              sisters', and when nothing better offered, a walk to Meryton was necessary to amuse their morning hours and furnish conversation for the evening;
              and however bare of news the country in general might be, they always contrived to learn some from their aunt. At present, indeed, they were well
              supplied both with news and happiness by the recent arrival of a militia regiment in the neighbourhood; it was to remain the whole winter, and
              Meryton was the headquarters.</span>
          
        </p>

        <p>
          
            <span id="said_no_00363" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Their visits to Mrs. Philips were now productive of the most interesting intelligence. Every day
              added something to their knowledge of the officers' names and connections. Their lodgings were not long a secret, and at length they began to know
              the officers themselves. Mr. Philips visited them all, and this opened to his nieces a storee of felicity unknown before. They could talk of
              nothing but officers; and Mr. Bingley's large fortune, the mention of which gave animation to their mother, was worthless in their eyes when
              opposed to the regimentals of an ensign.</span>
          
        </p>
        <p>
          
            <span id="said_no_00364" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">After listening one morning to their effusions on this subject, Mr. Bennet coolly
              observed:</span>
          
        </p>
        <p>
          
            <span id="said_no_00365" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“From all that I can collect by your manner of talking, you must be two of the
              silliest girls in the country. I have suspected it some time, but I am now convinced.” </span>
          
        </p>

        <p>
          
            <span id="said_no_00366" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Catherine was disconcerted, and made no answer; but</span>
            <span id="said_no_00367" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lydia,</span>
            <span id="said_no_00368" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">with perfect indifference,</span>
            <span id="said_no_00369" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">continued to express</span>
            <span id="said_no_00370" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_lyd" data-placement="auto top"> her admiration of Captain
              Carter,</span>
            <span id="said_no_00371" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_00372" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_lyd" data-placement="auto top"> her hope of seeing him in the
              course of the day, as he was going the next morning to London.</span>
          
        </p>
        <p>
          
            <span id="said_no_00373" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I am astonished, my dear,”</span>
            <span id="said_no_00374" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Bennet, </span>
            <span id="said_no_00375" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“that you should be so ready to think your own children silly. If I
              wished to think slightingly of anybody's children, it should not be of my own, however.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00376" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“If my children are silly, I must hope to be always sensible of it.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00377" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Yes — but as it happens, they are all of them very
              clever.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00378" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“This is the only point, I flatter myself, on which we do not agree. I had hoped that
              our sentiments coincided in every particular, but I must so far differ from you as to think our two youngest daughters uncommonly foolish.”
            </span>
          
        </p>

        <p>
          
            <span id="said_no_00379" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“My dear Mr. Bennet, you must not expect such girls to have the sense of
              their father and mother. When they get to our age, I dare say they will not think about officers any more than we do. I remember the time when I
              liked a red coat myself very well — and, indeed, so I do still at my heart; and if a smart young colonel, with five or six thousand a year,
              should want one of my girls I shall not say nay to him; and I thought Colonel Forster looked very becoming the other night at Sir William's in his
              regimentals.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00380" class="said" data-toggle="tooltip" title="Lydia Bennet" data-placement="auto top">“Mamma,”</span>
            <span id="said_no_00381" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Lydia,</span>
            <span id="said_no_00382" class="said" data-toggle="tooltip" title="Lydia Bennet" data-placement="auto top">“my aunt says that Colonel Forster and Captain Carter do not go so often to Miss
              Watson's as they did when they first came; she sees them now very often standing in Clarke's library.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00383" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Bennet was prevented replying by the entrance of the footman </span>
          
        </p>

        <p>
          
            <span id="said_no_00384" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">with a note for Miss Bennet; it came from Netherfield, and the servant waited for an answer.
              Mrs. Bennet's eyes sparkled with pleasure, and she was eagerly calling out, while her daughter read,</span>
          
        </p>
        <p>
          
            <span id="said_no_00385" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Well, Jane, who is it from? What is it about? What does he say? Well,
              Jane, make haste and tell us; make haste, my love.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00386" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“It is from Miss Bingley,”</span>
            <span id="said_no_00387" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Jane,</span>
          
          <span id="said_no_00388" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> and then read it aloud.</span>
        </p>
        
          
            <p>
              
                <span id="said_no_00389" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">
                  “My dear Friend—
                </span>
              
            </p>
            <p>
              
                <span id="said_no_00390" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“If you are not so compassionate as to dine to-day with
                  Louisa and me, we shall be in danger of hating each other for the rest of our lives, for a whole day's tȇte-à-tȇte between two
                  women can never end without a quarrel. Come as soon as you can on the receipt of this. My brother and the gentlemen are to dine with the
                  officers. — Yours ever,</span>
              
            </p>
            <p>
              
                <span id="said_no_00391" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“Caroline Bingley.”</span>
              
            </p>
          
        

        <p>
          
            <span id="said_no_00392" class="said" data-toggle="tooltip" title="Lydia Bennet" data-placement="auto top">“With the officers!”</span>
            <span id="said_no_00393" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Lydia.</span>
            <span id="said_no_00394" class="said" data-toggle="tooltip" title="Lydia Bennet" data-placement="auto top">“I wonder my aunt did not tell us of that.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00395" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Dining out,”</span>
            <span id="said_no_00396" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Bennet, </span>
            <span id="said_no_00397" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“that is very unlucky.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00398" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Can I have the carriage?”</span>
            <span id="said_no_00399" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Jane.</span>
          
        </p>
        <p>
          
            <span id="said_no_00400" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“No, my dear, you had better go on horseback, because it seems likely to
              rain; and then you must stay all night.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00401" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“That would be a good scheme,”</span>
            <span id="said_no_00402" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth, </span>
            <span id="said_no_00403" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“if you were sure that they would not offer to send her home.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00404" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Oh! but the gentlemen will have Mr. Bingley's chaise to go to Meryton,
              and the Hursts have no horses to theirs.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00405" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“I had much rather go in the coach.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00406" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“But, my dear, your father cannot spare the horses, I am sure. They are
              wanted in the farm, Mr. Bennet, are they not?”</span>
          
        </p>
        <p>
          
            <span id="said_no_00407" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“They are wanted in the farm much oftener than I can get them.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00408" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“But if you have got them to-day,”</span>
            <span id="said_no_00409" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth, </span>
            <span id="said_no_00410" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“my mother's purpose will be answered.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00411" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She did at last extort from</span>
            <span id="said_no_00412" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">her father an acknowledgment that</span>
            <span id="said_no_00413" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrb" data-placement="auto top"> the horses were
              engaged.</span>
            <span id="said_no_00414" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Jane was therefore obliged to go on horseback, and her mother attended her to the door with many
              cheerful prognostics of a bad day. Her hopes were answered; Jane had not been gone long before it rained hard. Her sisters were uneasy for her,
              but her mother was delighted. The rain continued the whole evening without intermission; Jane certainly could not come back.</span>
          
        </p>
        <p>
          
            <span id="said_no_00415" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“This was a lucky idea of mine, indeed!”</span>
            <span id="said_no_00416" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Bennet more than once, as if the credit of making it </span>
            <span id="said_no_00417" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> rain were all her own.</span>
          
          <span id="said_no_00418" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> Till the next morning, however, she was not aware of all the felicity of her contrivance.
            Breakfast was scarcely over when a servant from Netherfield brought the following note for Elizabeth:</span>
        </p>
        <br></br>
        
          
            <p>
              
                <span id="said_no_00419" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">
                  “My dearest Lizzy.
                </span>
              
            </p>
            <p>
              
                <span id="said_no_00420" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“I find myself very unwell this morning, which, I suppose,
                  is to be imputed to my getting wet through yesterday.</span>
                <span id="said_no_00421" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">My kind friends will not hear of</span>
                <span id="said_no_00422" class="said indirect said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.jane_msbmrsh" data-placement="auto top"> my returning
                  home till I am better.</span>
                <span id="said_no_00423" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">They insist also on my seeing Mr. Jones — therefore do not be alarmed if you should
                  hear of his having been to me — and, excepting a sore throat and headache there is not much the matter with me. —</span>
              
            </p>
            <p>
              
                <span id="said_no_00424" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Yours, &amp; c.”</span>
              
            </p>
          
        
        <br></br>
        <p>
          
            <span id="said_no_00425" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Well, my dear,”</span>
            <span id="said_no_00426" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mr. Bennet, when Elizabeth had read the note aloud, </span>
            <span id="said_no_00427" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“if your daughter should have a dangerous fit of illness — if she should die,
              it would be a comfort to know that it was all in pursuit of Mr. Bingley, and under your orders.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00428" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Oh! I am not afraid of her dying. People do not die of little trifling
              colds. She will be taken good care of. As long as she stays there, it is all very well. I would go and see her if I could have the carriage.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_00429" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth, feeling really anxious, was determined to go to her, though the carriage was not to
              be had; and as she was no horsewoman, walking was her only alternative. She declared her resolution.</span>
          
        </p>
        <p>
          
            <span id="said_no_00430" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“How can you be so silly,”</span>
            <span id="said_no_00431" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried her mother, </span>
            <span id="said_no_00432" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“as to think of such a thing, in all this dirt! You will not be fit to
              be seen when you get there.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00433" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I shall be very fit to see Jane — which is all I want.” </span>
          
        </p>

        <p>
          
            <span id="said_no_00434" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Is this a hint to me, Lizzy,”</span>
            <span id="said_no_00435" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her father, </span>
            <span id="said_no_00436" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“to send for the horses?” </span>
          
        </p>
        <p>
          
            <span id="said_no_00437" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“No, indeed, I do not wish to avoid the walk. The distance is nothing when one has a
              motive; only three miles. I shall be back by dinner.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00438" class="said" data-toggle="tooltip" title="Mary Bennet" data-placement="auto top">“I admire the activity of your benevolence,”</span>
            <span id="said_no_00439" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> observed Mary, </span>
            <span id="said_no_00440" class="said" data-toggle="tooltip" title="Mary Bennet" data-placement="auto top">“but every impulse of feeling should be guided by reason; and, in my opinion,
              exertion should always be in proportion to what is required.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00441" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“We will go as far as Meryton with you,”</span>
            <span id="said_no_00442" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Catherine and Lydia.</span>
          
          <span id="said_no_00443" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">— Elizabeth accepted their company, and the three young ladies set off together.</span>
        </p>
        <p>
          
            <span id="said_no_00444" class="said" data-toggle="tooltip" title="Lydia Bennet" data-placement="auto top">“If we make haste,”</span>
            <span id="said_no_00445" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Lydia, as they walked along, </span>
            <span id="said_no_00446" class="said" data-toggle="tooltip" title="Lydia Bennet" data-placement="auto top">“perhaps we may see something of Captain Carter before he goes.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00447" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In Meryton they parted; the two youngest repaired to the lodgings of one of the officers' wives,
              and Elizabeth continued her walk alone, crossing field after field at a quick pace, jumping over stiles and springing over puddles with impatient
              activity, and finding herself at last within view of the house, with weary ankles, dirty stockings, and a face glowing with the warmth of
              exercise.</span>
          
        </p>
        <p>
          
            <span id="said_no_00448" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She was shown into the breakfast-parlour, where all but Jane were assembled, and where her
              appearance created a great deal of surprise. That she should have walked three miles so early in the day, in such dirty weather, and by herself,
              was almost incredible to Mrs. Hurst and Miss Bingley; and Elizabeth was convinced that they held her in contempt for it. She was received,
              however, very politely by them; and in their brother's manners there was something better than politeness; there was good humour and kindness. Mr.
              Darcy said very little, and Mr. Hurst nothing at all. The former was divided between admiration of the brilliancy which exercise had given to her
              complexion, and doubt as to the occasion's justifying her coming so far alone. The latter was thinking only of his breakfast.</span>
          
        </p>
        <p>
          
            <span id="said_no_00449" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her inquiries after her sister were not very favourably answered. Miss Bennet had slept ill, and
              though up, was very feverish, and not well enough to leave her room. Elizabeth was glad to be taken to her immediately; and Jane, who had only
              been withheld by the fear of giving alarm or inconvenience from expressing in her note how much she longed for such a visit, was delighted at her
              entrance. She was not equal, however, to much conversation, and when Miss Bingley left them together, could attempt little besides expressions of
              gratitude for the extraordinary kindness she was treated with. Elizabeth silently attended her.</span>
          
        </p>
        <p>
          
            <span id="said_no_00450" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When breakfast was over they were joined by the sisters; and Elizabeth began to like them
              herself, when she saw how much affection and solicitude they showed for Jane.</span>
            <span id="said_no_00451" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The apothecary</span>
            <span id="said_no_00452" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">came, and having examined his patient,</span>
            <span id="said_no_00453" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">said,</span>
            <span id="said_no_00454" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">as might be supposed,</span>
            <span id="said_no_00455" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_00456" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_apo" data-placement="auto top"> she had caught a violent
              cold, and that they must endeavour to get the better of it;</span>
            <span id="said_no_00457" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">advised her</span>
            <span id="said_no_00458" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_apo" data-placement="auto top"> to return to bed,</span>
            <span id="said_no_00459" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_00460" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">promised her</span>
            <span id="said_no_00461" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_apo" data-placement="auto top"> some draughts.</span>
            <span id="said_no_00462" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The advice was followed readily, for the feverish symptoms increased, and her head ached
              acutely. Elizabeth did not quit her room for a moment; nor were the other ladies often absent; the gentlemen being out, they had, in fact, nothing
              to do elsewhere.</span>
          
        </p>

        <p>
          
            <span id="said_no_00463" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When the clock struck three, Elizabeth felt that she must go, and very unwillingly said so. Miss
              Bingley offered her the carriage, and she only wanted a little pressing to accept it, when Jane testified such concern in parting with her,
              that</span>
            <span id="said_no_00464" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Miss Bingley was obliged to convert the offer of the chaise to an invitation</span>
            <span id="said_no_00465" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_msb" data-placement="auto top"> to remain at Netherfield for
              the present.</span>
            <span id="said_no_00466" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth most thankfully consented, and a servant was dispatched to Longbourn to acquaint the
              family with her stay and bring back a supply of clothes.</span>
          
        </p>
      
  <div class="footnotes"> </div>
