

   
  
    
        <h3>Chapter 15</h3>
        <p>
          
            <span id="said_no_01045" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins was not a sensible man, and the deficiency of nature had been
              but little assisted by education or society; the greatest part of his life having been spent under the guidance of an illiterate and miserly
              father; and though he belonged to one of the universities, he had merely kept the necessary terms, without forming at it any useful acquaintance.
              The subjection in which his father had brought him up had given him originally great humility of manner; but it was now a good deal counteracted
              by the self-conceit of a weak head, living in retirement, and the consequential feelings of early and unexpected prosperity. A fortunate chance
              had recommended him to Lady Catherine de Bourgh when the living of Hunsford was vacant; and the respect which he felt for her high rank, and his
              veneration for her as his patroness, mingling with a very good opinion of himself, of his authority as a clergyman, and his right as a rector,
              made him altogether a mixture of pride and obsequiousness, self-importance and humility.</span>
          
        </p>
        <p>
          
            <span id="said_no_01046" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Having now a good house and a very sufficient income, he intended to marry; and in seeking a
              reconciliation with the Longbourn family he had a wife in view, as he meant to choose one of the daughters, if he found them as handsome and
              amiable as they were represented by common report. This was his plan of amends — of atonement — for inheriting their father's estate;
              and he thought it an excellent one, full of eligibility and suitableness, and excessively generous and disinterested on his own part. </span>
          
        </p>
        <p>
          <span id="said_no_01047" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">His plan did not vary on seeing them. Miss Bennet's lovely face confirmed his views, and
            established all his strictest notions of what was due to seniority; and for the first evening </span>
          she
          <span id="said_no_01048" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> was his settled choice. The next morning, however, made an alteration; for in a quarter of an
            hour's tȇte-à-tȇte with Mrs. Bennet before breakfast, a conversation beginning with his parsonage-house, and leading naturally to the
            avowal of his hopes, that a mistress for it might be found for it at Longbourn, produced from her, amid very complaisant smiles and general
            encouragement, a caution against the very Jane he had fixed on.</span>
          
            <span id="said_no_01049" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">“As
              to her younger daughters, she could not take upon her to say — she could not positively answer — but she did not
                know of any prepossession; her eldest daughter, she must just mention — she felt it incumbent on
              her to hint, was likely to be very soon engaged.”</span>
          
        </p>
        <p>
          
            <span id="said_no_01050" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins had only to change from Jane to Elizabeth — and it was soon done — done
              while Mrs. Bennet was stirring the fire. Elizabeth, equally next to Jane in birth and beauty, succeeded her of course.</span>
          
        </p>
        <p>
          
            <span id="said_no_01051" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Bennet treasured up the hint, and trusted that she might soon have two daughters married;
              and the man whom she could not bear to speak of the day before was now high in her good graces.</span>
          
        </p>
        <p>
          
            <span id="said_no_01052" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lydia's intention of walking to Meryton was not forgotten; every sister except Mary agreed to go
              with her; and Mr. Collins was to attend them, at the request of Mr. Bennet, who was most anxious to get rid of him, and have his library to
              himself; for thither Mr. Collins had followed him after breakfast; and there he would continue, nominally engaged with one of the largest folios
              in the collection, but really talking to Mr. Bennet, with little cessation, of his house and garden at Hunsford. Such doings discomposed</span>
            <span id="said_no_01053" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Bennet</span>
            <span id="said_no_01054" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">exceedingly. In his library he had been always sure of leisure and tranquillity; and</span>
            <span id="said_no_01055" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">though prepared,</span>
            <span id="said_no_01056" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">as he told Elizabeth,</span>
            <span id="said_no_01057" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_mrb" data-placement="auto top">to meet with folly and conceit
              in every other room of the house, he was used to be free from them there;</span>
            <span id="said_no_01058" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">his civility, therefore, was most prompt in inviting Mr. Collins to join his daughters in their
              walk; and Mr. Collins, being in fact much better fitted for a walker than a reader, was extremely well pleased to close his large book, and
              go.</span>
          
        </p>
        <p>
          
            <span id="said_no_01059" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In pompous nothings on his side, and civil assents on that of his cousins, their time passed
              till they entered Meryton. The attention of the younger ones was then no longer to be gained by him. Their eyes were
              immediately wandering up in the street in quest of the officers, and nothing less than a very smart bonnet indeed, or a really new muslin in a
              shop window, could recall them.</span>
          
        </p>
        <p>
          
            <span id="said_no_01060" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But the attention of every lady was soon caught by a young man, whom they had never seen before,
              of most gentlemanlike appearance, walking with another officer on the other side of the way. The officer was the very Mr. Denny concerning whose
              return from London Lydia came to inquire, and he bowed as they passed. All were struck with the stranger's air, all wondered who he could be; and
              Kitty and Lydia, determined if possible to find out, led the way across the street, under pretense of wanting something in an opposite shop, and
              fortunately had just gained the pavement when the two gentlemen, turning back, had reached the same spot.</span>
            <span id="said_no_01061" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Denny</span>
            <span id="said_no_01062" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">addressed them directly, and</span>
            <span id="said_no_01063" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrd" data-placement="auto top"> entreated permission to
              introduce his friend, Mr. Wickham, who had returned with him the day before from town, and he was happy to say had accepted a commission in their
              corps.</span>
            <span id="said_no_01064" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This was exactly as it should be; for the young man wanted only regimentals to make him
              completely charming. His appearance was greatly in his favour; he had all the best part of beauty, a fine countenance, a good figure, and very
              pleasing address. The introduction was followed up on his side by a happy readiness of conversation — a readiness at the same time perfectly
              correct and unassuming; and the whole party were still standing and talking together very agreeably, when the sound of horses drew their notice,
              and Darcy and Bingley were seen riding down the street. On distinguishing the ladies of the group, the two gentlemen came directly towards them,
              and began the usual civilities. Bingley was the principal spokesman, and Miss Bennet the principal object.</span>
            <span id="said_no_01065" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He</span>
            <span id="said_no_01066" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was then, he</span>
            <span id="said_no_01067" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">said,</span>
            <span id="said_no_01068" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_bing" data-placement="auto top">on his way to Longbourn on
              purpose to inquire after her.</span>
            <span id="said_no_01069" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Darcy corroborated it with a bow, and was beginning to determine not to fix his eyes on
              Elizabeth, when they were suddenly arrested by the sight of the stranger, and Elizabeth happening to see the countenance of both as they looked at
              each other, was all astonishment at the effect of the meeting. Both changed colour, one looked white, the other red. Mr. Wickham, after a few
              moments, touched his hat — a salutation which Mr. Darcy just deigned to return.</span>
            <span id="said_no_01070" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">What could be the meaning of
              it?</span>
            <span id="said_no_01071" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">It was impossible to imagine; it was impossible not to long to know.</span>
          
        </p>
        <p>
          
            <span id="said_no_01072" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In another minute, Mr. Bingley, but without seeming to have noticed what passed, took leave and
              rode on with his friend.</span>
          
        </p>
        <p>
          
            <span id="said_no_01073" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Denny and Mr. Wickham walked with the young ladies to the door of Mr. Phillips's house, and
              then made their bows, in spite of Miss Lydia's pressing entreaties that they should come in, and even in spite of Mrs. Phillips' throwing up the
              parlour window and loudly seconding the invitation.</span>
          
        </p>
        <p>
          
            <span id="said_no_01074" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Phillips was always glad to see her nieces; and the two eldest, from their recent absence,
              were particularly welcome, and</span>
            <span id="said_no_01075" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she was</span>
            <span id="said_no_01076" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">eagerly</span>
            <span id="said_no_01077" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">expressing her surprise at</span>
            <span id="said_no_01078" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsp" data-placement="auto top">their sudden return home,
              which, as their own carriage had not fetched them, she should have known nothing about, if she had not happened to see Mr. Jones's shop-boy in the
              street, who had told her that</span>
            <span id="said_no_01079" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsp_shopb" data-placement="auto top">they were not to
              send any more draughts to Netherfield because the Miss Bennets were come away,</span>
            <span id="said_no_01080" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">when her civility was claimed towards Mr. Collins by Jane's introduction of him. She received
              him with her very best politeness, which</span>
            <span id="said_no_01081" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he</span>
            <span id="said_no_01082" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">returned with as much more,</span>
            <span id="said_no_01083" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">apologising for</span>
            <span id="said_no_01084" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">his intrusion, without any
              previous acquaintance with her, which he could not help flattering himself, however, might be justified by his relationship to the young ladies
              who introduced him to her notice.</span>
            <span id="said_no_01085" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Phillips was quite awed by such an excess of good breeding; but her contemplation of one
              stranger was soon put to an end by exclamations and inquiries about the other; of whom, however,</span>
            <span id="said_no_01086" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she could only tell</span>
            <span id="said_no_01087" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">her nieces what they already knew,</span>
            <span id="said_no_01088" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01089" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsp" data-placement="auto top">Mr. Denny had brought him
              from London,</span>
            <span id="said_no_01090" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01091" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01092" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsp" data-placement="auto top">he was to have a
              lieutenant's commission in the ——shire.</span>
            <span id="said_no_01093" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_mrsp" data-placement="auto top">She had been watching him
              the last hour,</span>
            <span id="said_no_01094" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she said,</span>
            <span id="said_no_01095" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_mrsp" data-placement="auto top">as he walked up and down the
              street,</span>
            <span id="said_no_01096" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and had Mr. Wickham appeared, Kitty and Lydia would certainly have continued the occupation, but
              unluckily no one passed the windows now except a few of the officers, who, in comparison with the stranger, were become</span>
            <span id="said_no_01097" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_kitlyd" data-placement="auto top">“stupid, disagreeable
              fellows.”</span>
            <span id="said_no_01098" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Some of them were to dine with the Phillipses the next day, and</span>
            <span id="said_no_01099" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">their aunt promised</span>
            <span id="said_no_01100" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsp" data-placement="auto top">to make her husband call on
              Mr. Wickham, and give him an invitation also, if the family from Longbourn would come in the evening.</span>
            <span id="said_no_01101" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This was agreed to, and</span>
            <span id="said_no_01102" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Phillips protested that</span>
            <span id="said_no_01103" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_mrsp" data-placement="auto top">they would have a nice
              comfortable noisy game of lottery tickets, and a little bit of hot supper afterwards.</span>
            <span id="said_no_01104" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The prospect of such delights was very cheering, and they parted in mutual good spirits. Mr.
              Collins repeated his apologies in quitting the room, and was assured with unwearying civility that they were perfectly needless.</span>
          
        </p>
        <p>
          
            <span id="said_no_01105" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">As they walked home, Elizabeth related to Jane what she had seen pass between the two gentlemen;
              but though Jane would have defended either or both, had they appeared to be in the wrong, she could no more explain such behaviour than her
              sister.</span>
          
        </p>
        <p>
          
            <span id="said_no_01106" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins on his return highly gratified Mrs. Bennet by admiring Mrs. Phillips's manners and
              politeness.</span>
            <span id="said_no_01107" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He protested that,</span>
            <span id="said_no_01108" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">except Lady Catherine and
              her daughter, he had never seen a more elegant woman; for she had not only received him with the utmost civility, but had even pointedly included
              him in her invitation for the next evening, although utterly unknown to her before. Something, he supposed, might be attributed to his connection
              with them, but yet he had never met with so much attention in the whole course of his life.</span>
          
        </p>
      
  <div class="footnotes"> </div>
