

   
  
    
        <h3>Chapter 18</h3>
        <p>
          
            <span id="said_no_01308" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Till Elizabeth entered the drawing-room at Netherfield, and looked in vain
              for Mr. Wickham among the cluster of red coats there assembled, a doubt of his being present had never occurred to her. The certainty of meeting
              him had not been checked by any of those recollections that might not unreasonably have alarmed her. She had dressed with more than usual care,
              and prepared in the highest spirits for the conquest of all that remained unsubdued of his heart, trusting that it was not more than might be won
              in the course of the evening. But in an instant</span>
            <span id="said_no_01309" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">arose the dreadful suspicion of</span>
            <span id="said_no_01310" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">his being purposely omitted
              for Mr. Darcy's pleasure in the Bingleys' invitation to the officers;</span>
            <span id="said_no_01311" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and though this was not exactly the case, the absolute fact of his absence was pronounced by his
              friend</span>
            <span id="said_no_01312" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Denny,</span>
            <span id="said_no_01313" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">to whom Lydia eagerly applied, and who</span>
            <span id="said_no_01314" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">told them that</span>
            <span id="said_no_01315" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_mrd" data-placement="auto top">Wickham had been obliged to go
              to town on business the day before, and was not yet returned;</span>
            <span id="said_no_01316" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">adding, with a significant smile, </span>
          
          
            <span id="said_no_01317" class="said" data-toggle="tooltip" title="Mr. Denny" data-placement="auto top">“I do not imagine his business would have called him away just now, if he had not
              wanted to avoid a certain gentleman here.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01318" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This part of his intelligence, though unheard by Lydia, was caught by Elizabeth, and, as it
              assured her that Darcy was not less answerable for Wickham's absence than if her first surmise had been just, every feeling of displeasure against
              the former was so sharpened by immediate disappointment, that she could hardly reply with tolerable civility to the polite inquiries which he
              directly afterwards approached to make. Attendance, forbearance, patience with Darcy, was injury to Wickham. She was resolved against any sort of
              conversation with him, and turned away with a degree of ill-humour which she could not wholly surmount even in speaking to Mr. Bingley, whose
              blind partiality provoked her.</span>
          
        </p>
        <p>
          
            <span id="said_no_01319" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But Elizabeth was not formed for ill-humour; and though every prospect of her own was destroyed
              for the evening, it could not dwell long on her spirits; and having told all her griefs to Charlotte Lucas, whom she had not seen for a week, she
              was soon able to make a voluntary transition to the oddities of her cousin, and to point him out to her particular notice. The first two dances,
              however, brought a return of distress; they were dances of mortification. Mr. Collins, awkward and solemn, apologising instead of attending, and
              often moving wrong without being aware of it, gave her all the shame and misery which a disagreeable partner for a couple of dances can give. The
              moment of her release from him was ecstacy. </span>
          
        </p>
        <p>
          
            <span id="said_no_01320" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She danced next with an officer, and had the refreshment</span>
            <span id="said_no_01321" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">of talking</span>
            <span id="said_no_01322" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">of Wickham, and</span>
            <span id="said_no_01323" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">of hearing that</span>
            <span id="said_no_01324" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_off" data-placement="auto top">he was universally
              liked.</span>
            <span id="said_no_01325" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When those dances were over, she returned to Charlotte Lucas, and was in conversation with her,
              when she found herself suddenly addressed by Mr. Darcy who took her so much by surprise in his application for her hand, that, without knowing
              what she did, she accepted him. He walked away again immediately, and she was left to fret over her own want of presence of mind; Charlotte tried
              to console her:</span>
          
        </p>

        <p>
          
            <span id="said_no_01326" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“I dare say you will find him very agreeable.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01327" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Heaven forbid! That would be the greatest misfortune of
              all!— To find a man agreeable whom one is determined to hate! Do not wish me such an evil.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01328" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When the dancing recommenced, however, and Darcy approached to claim her hand,</span>
            <span id="said_no_01329" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Charlotte could not help cautioning her in a whisper,</span>
            <span id="said_no_01330" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_char" data-placement="auto top">not to be a simpleton, and
              allow her fancy for Wickham to make her appear unpleasant in the eyes of a man of ten times his consequence.</span>
            <span id="said_no_01331" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth made no answer, and took her place in the set, amazed at the dignity to which she was
              arrived in being allowed to stand opposite to Mr. Darcy, and reading in her neighbours' looks, their equal amazement in beholding it. They stood
              for some time without speaking a word; and</span>
            <span id="said_no_01332" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she began to imagine that</span>
            <span id="said_no_01333" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">their silence was to last
              through the two dances,</span>
            <span id="said_no_01334" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and at first was resolved not to break it;</span>
            <span id="said_no_01335" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">till suddenly fancying that</span>
            <span id="said_no_01336" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">it would be the greater
              punishment to her partner to oblige him to talk,</span>
            <span id="said_no_01337" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she made some slight observation on the dance. He replied, and was again silent. After a pause
              of some minutes, she addressed him a second time with:—</span>
          
        </p>
        <p>
          
            <span id="said_no_01338" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“It is your turn to say something now, Mr. Darcy. I talked about the dance, and you ought to make some sort of remark on the size of the room, or the number
              of couples.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01339" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He</span>
            <span id="said_no_01340" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">smiled, and</span>
            <span id="said_no_01341" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">assured her that</span>
            <span id="said_no_01342" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top">whatever she wished him to say
              should be said.</span>
          
        </p>
        <p>
          
            <span id="said_no_01343" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Very well. That reply will do for the present. Perhaps by and by I may observe that
              private balls are much pleasanter than public ones. But now we may be silent.” </span>
          
        </p>

        <p>
          
            <span id="said_no_01344" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Do you talk by rule, then, while you are dancing?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01345" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Sometimes. One must speak a little, you know. It would look odd to be entirely
              silent for half an hour together; and yet for the advantage of some, conversation ought to be so arranged, as that they may
              have the trouble of saying as little as possible.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01346" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Are you consulting your own feelings in the present case, or do you imagine that you
              are gratifying mine?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01347" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Both,”</span>
            <span id="said_no_01348" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Elizabeth archly; </span>
            <span id="said_no_01349" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“for I have always seen a great similarity in the turn of our minds. We are each of
              an unsocial, taciturn disposition, unwilling to speak, unless we expect to say something that will amaze the whole room, and be handed down to
              posterity with all the eclat of a proverb.” </span>
          
        </p>

        <p>
          
            <span id="said_no_01350" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“This is no very striking resemblance of your own character, I am sure,”</span>
            <span id="said_no_01351" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he.</span>
            <span id="said_no_01352" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“How near it may be to mine , I cannot pretend to say .—
                You think it a faithful portrait undoubtedly.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01353" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I must not decide on my own performance.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01354" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He made no answer, and they were again silent till they had gone down the dance, when</span>
            <span id="said_no_01355" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he asked her</span>
            <span id="said_no_01356" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top">if she and her sisters did not
              very often walk to Meryton.</span>
            <span id="said_no_01357" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She answered in the affirmative, and, unable to resist the temptation, added, </span>
            <span id="said_no_01358" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“When you met us there the other day, we had just been forming a new acquaintance.”
            </span>
          
        </p>

        <p>
          
            <span id="said_no_01359" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The effect was immediate. A deeper shade of hauteur overspread his features, but he said not a
              word, and Elizabeth, though blaming herself for her own weakness, could not go on. At length Darcy spoke, and in a constrained manner said,
            </span>
          
        </p>

        <p>
          
            <span id="said_no_01360" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Mr. Wickham is blessed with such happy manners as may ensure his making friends — whether he may be equally capable of retaining them, is less certain.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01361" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“He has been so unlucky as to lose your friendship,”</span>
            <span id="said_no_01362" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Elizabeth with emphasis, </span>
            <span id="said_no_01363" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“and in a manner which he is likely to suffer from all his life.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01364" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Darcy made no answer, and seemed desirous of changing the subject. At that moment, Sir William
              Lucas appeared close to them, meaning to pass through the set to the other side of the room; but on perceiving Mr. Darcy, he stopped with a bow of
              superior courtesy to compliment him on his dancing and his partner.</span>
          
        </p>
        <p>
          
            <span id="said_no_01365" class="said" data-toggle="tooltip" title="Sir William Lucas" data-placement="auto top">“I have been most highly gratified indeed, my dear sir. Such very superior dancing
              is not often seen. It is evident that you belong to the first circles. Allow me to say, however, that your fair partner does not disgrace you, and
              that I must hope to have this pleasure often repeated, especially when a certain desirable event, my dear Miss Eliza (glancing at her sister and
              Bingley) shall take place. What congratulations will then flow in! I appeal to Mr. Darcy:— but let me not interrupt you, sir . You will not
              thank me for detaining you from the bewitching converse of that young lady, whose bright eyes are also upbraiding me.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01366" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The latter part of this address was scarcely heard by Darcy; but Sir William's allusion to his
              friend seemed to strike him forcibly, and his eyes were directed with a very serious expression towards Bingley and Jane, who were dancing
              together. Recovering himself, however, shortly, he turned to his partner, and said, </span>
          
        </p>

        <p>
          
            <span id="said_no_01367" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“Sir William's interruption has made me forget what we were talking of.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01368" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I do not think we were speaking at all. Sir William could not have interrupted any
              two people in the room who had less to say for themselves. We have tried two or three subjects already without success, and what we are to talk of
              next I cannot imagine.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01369" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“What think you of books?”</span>
          
          <span id="said_no_01370" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, smiling.</span>
        </p>
        <p>
          
            <span id="said_no_01371" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Books — oh! no. I am sure we never read the same, or not with the same
              feelings.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01372" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I am sorry you think so; but if that be the case, there can at least be no want of
              subject. We may compare our different opinions.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01373" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“No — I cannot talk of books in a ball-room; my head is always full of
              something else.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01374" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“The present always occupies you in such scenes — does
              it?”</span>
          
          <span id="said_no_01375" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, with a look of doubt.</span>
        </p>
        <p>
          
            <span id="said_no_01376" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes, always,”</span>
            <span id="said_no_01377" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she replied, without knowing what she said, for her thoughts had wandered far from the subject,
              as soon afterwards appeared by her suddenly exclaiming, </span>
            <span id="said_no_01378" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I remember hearing you once say, Mr. Darcy, that</span>
            <span id="said_no_01379" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.eliz_dar" data-placement="auto top">you hardly ever
              forgave,</span>
            <span id="said_no_01380" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">that</span>
            <span id="said_no_01381" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.eliz_dar" data-placement="auto top">your resentment once created
              was unappeasable.</span>
            <span id="said_no_01382" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">You are very cautious, I suppose, as to its being created .”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_01383" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I am,”</span>
          
          <span id="said_no_01384" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, with a firm voice.</span>
        </p>
        <p>
          
            <span id="said_no_01385" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And never allow yourself to be blinded by prejudice?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01386" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I hope not.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01387" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“It is particularly incumbent on those who never change their opinion, to be secure
              of judging properly at first.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01388" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“May I ask to what these questions tend?” </span>
          
        </p>

        <p>
          
            <span id="said_no_01389" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Merely to the illustration of your character,”</span>
            <span id="said_no_01390" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, endeavouring to shake off her gravity.</span>
            <span id="said_no_01391" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I am trying to make it out.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01392" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“And what is your success?” </span>
          
        </p>
        <p>
          <span id="said_no_01393" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She shook her head.</span>
          
            <span id="said_no_01394" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I do not get on at all. I hear such different accounts of you as puzzle me
              exceedingly.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01395" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I can readily believe,”</span>
            <span id="said_no_01396" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> answered he gravely, </span>
            <span id="said_no_01397" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“that reports may vary greatly with respect to me; and I could wish, Miss Bennet,
              that you were not to sketch my character at the present moment, as there is reason to fear that the performance would reflect no credit on
              either.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01398" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“But if I do not take your likeness now, I may never have another opportunity.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_01399" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“I would by no means suspend any pleasure of yours,”</span>
          
          <span id="said_no_01400" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> he coldly replied. She said no more, and they went </span>
          <span id="said_no_01401" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> down the other dance and parted in silence; on each side dissatisfied, though not to an equal
            degree, for in Darcy's breast there was a tolerable powerful feeling towards her, which soon procured her pardon, and directed all his anger against
            another.</span>
        </p>
        <p>
          
            <span id="said_no_01402" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They had not long separated, when Miss Bingley came towards her, and with an expression of civil
              disdain thus accosted her:</span>
          
        </p>
        <p>
          
            <span id="said_no_01403" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“So, Miss Eliza, I hear you are quite delighted with George Wickham! Your sister has
              been talking to me about him, and asking me a thousand questions; and I find that the young man quite forgot to tell you, among his other
              communication, that he was the son of old Wickham, the late Mr. Darcy's steward. Let me recommend you, however, as a friend, not to give implicit
              confidence to all his assertions; for as to Mr. Darcy's using him ill, it is perfectly false; for, on the contrary, he has always been remarkably
              kind to him, though George Wickham has treated Mr. Darcy in a most infamous manner. I do not know the particulars, but I know very well that Mr.
              Darcy is not in the least to blame, that he cannot bear to hear George Wickham mentioned, and that though my brother thought that he could not
              well avoid including him in his invitation to the officers, he was excessively glad to find that he had taken himself out of the way. His coming
              into the country at all is a most insolent thing, indeed, and I wonder how he could presume to do it. I pity you, Miss Eliza, for this discovery
              of your favourite's guilt; but really, considering his descent, one could not expect much better.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01404" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“His guilt and his descent appear by your account to be the same,”</span>
            <span id="said_no_01405" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth angrily; </span>
            <span id="said_no_01406" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“for I have heard you accuse him of nothing worse than of being the son of Mr.
              Darcy's steward, and of that, I can assure you, he informed me himself.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01407" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“I beg your pardon,”</span>
            <span id="said_no_01408" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Miss Bingley, turning away with a sneer.</span>
            <span id="said_no_01409" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Excuse my interference — It was kindly meant.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01410" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Insolent girl!”</span>
            <span id="said_no_01411" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth to herself.</span>
            <span id="said_no_01412" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You are much mistaken if you expect to influence me by such a paltry attack as this.
              I see nothing in it but your own wilful ignorance and the malice of Mr. Darcy.”</span>
          
          <span id="said_no_01413" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> She then sought her eldest sister, who had undertaken to make inquiries on the same subject of
            Bingley. Jane met her with a smile of such sweet complacency, a glow of such happy expression, as sufficiently marked how well she was satisfied </span>
          <span id="said_no_01414" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> with the occurrences of the evening. Elizabeth instantly read her feelings, and at that moment
            solicitude for Wickham, resentment against his enemies, and everything else, gave way before the hope of Jane's being in the fairest way for
            happiness.</span>
        </p>
        <p>
          
            <span id="said_no_01415" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I want to know,”</span>
            <span id="said_no_01416" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, with a countenance no less smiling than her sister's, </span>
            <span id="said_no_01417" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“what you have learnt about Mr. Wickham. But perhaps you have been too pleasantly
              engaged to think of any third person; in which case you may be sure of my pardon.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01418" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“No,”</span>
            <span id="said_no_01419" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Jane, </span>
            <span id="said_no_01420" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“I have not forgotten him; but I have nothing satisfactory to tell you.</span>
            <span id="said_no_01421" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">Mr. Bingley</span>
            <span id="said_no_01422" class="said indirect said_tooltip certainty_6" data-toggle="tooltip" title="aus.001.jane_bing" data-placement="auto top"> does not know the whole
              of his history, and is quite ignorant of the circumstances which have principally offended Mr. Darcy; but he will vouch for the good conduct, the
              probity, and honour of his friend,</span>
            <span id="said_no_01423" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">and</span>
            <span id="said_no_01424" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">is perfectly convinced that</span>
            <span id="said_no_01425" class="said indirect said_tooltip certainty_6" data-toggle="tooltip" title="aus.001.jane_bing" data-placement="auto top">Mr. Wickham has deserved
              much less attention from Mr. Darcy than he has received;</span>
            <span id="said_no_01426" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">and I am sorry to say that by his account as well as his sister's, Mr. Wickham is by
              no means a respectable young man. I am afraid he has been very imprudent, and has deserved to lose Mr. Darcy's regard.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01427" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Mr. Bingley does not know Mr. Wickham himself?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01428" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“No; he never saw him till the other morning at Meryton.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01429" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“This account then is what he has received from Mr. Darcy. I am satisfied. But what
              does he say of the living?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01430" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“He does not exactly recollect the circumstances, though he has heard them from Mr.
              Darcy more than once, but</span>
            <span id="said_no_01431" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">he believes that</span>
            <span id="said_no_01432" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.jane_bing" data-placement="auto top">it was left to him conditionally only.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01433" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I have not a doubt of Mr. Bingley's sincerity,”</span>
            <span id="said_no_01434" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth warmly; </span>
            <span id="said_no_01435" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“but you must excuse my not being convinced by assurances only. Mr. Bingley's defense
              of his friend was a very able one I dare say; but since he is unacquainted with several parts of the story, and has learnt the rest from that
              friend himself, I shall venture to still think of both gentlemen as I did before.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01436" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She then changed the discourse to one more gratifying to each, and on which there could be no
              difference of sentiment. Elizabeth listened with delight to the happy, though modest hopes which Jane entertained of Mr. Bingley's regard, and
              said all in her power to heighten her confidence in it. On their being joined by Mr. Bingley himself, Elizabeth withdrew to Miss Lucas; to whose
              inquiry after the pleasantness of her last partner she had scarcely replied, before</span>
            <span id="said_no_01437" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins</span>
            <span id="said_no_01438" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">came up to them, and</span>
            <span id="said_no_01439" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">told her with great exultation that</span>
            <span id="said_no_01440" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">he had just been so
              fortunate as to make a most important discovery.</span>
          
        </p>
        <p>
          
            <span id="said_no_01441" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“I have found out,”</span>
            <span id="said_no_01442" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_01443" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“by a singular accident, that there is now in the room a near relation of my
              patroness. I happened to overhear the gentleman himself mentioning to the young lady who does the honours of the house the names of his cousin
              Miss de Bourgh, and of her mother Lady Catherine. How wonderfully these sort of things occur! Who would have thought of my meeting with, perhaps,
              a nephew of Lady Catherine de Bourgh in this assembly! I am most thankful that the discovery is made in time for me to pay my respects to him,
              which I am now going to do, and trust he will excuse my not having done it before. My total ignorance of the connection must plead my apology.”
            </span>
          
        </p>

        <p>
          
            <span id="said_no_01444" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You are not going to introduce yourself to Mr. Darcy!” </span>
          
        </p>
        <p>
          
            <span id="said_no_01445" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“Indeed I am. I shall entreat his pardon for not having done it earlier. I believe
              him to be Lady Catherine's  nephew. It will be in my power to assure him that her ladyship was quite well yesterday
              se'nnight.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01446" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth</span>
            <span id="said_no_01447" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">tried hard to dissuade him from such a scheme,</span>
            <span id="said_no_01448" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">assuring him that</span>
            <span id="said_no_01449" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">Mr. Darcy would consider his
              addressing him without introduction as an impertinent freedom, rather than a compliment to his aunt;</span>
            <span id="said_no_01450" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01451" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">it was not in the least
              necessary there should be any notice on either side;</span>
            <span id="said_no_01452" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01453" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01454" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">if it were, it must belong
              to Mr. Darcy, the superior in consequence, to begin the acquaintance.</span>
            <span id="said_no_01455" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins listened to her with the determined air of following his own inclination, and, when
              she ceased speaking, replied thus: </span>
          
        </p>

        <p>
          
            <span id="said_no_01456" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“My dear Miss Elizabeth, I have the highest opinion in the world in your excellent
              judgement in all matters within the scope of your understanding; but permit me to say, that there must be a wide difference between the
              established forms of ceremony amongst the laity, and those which regulate the clergy; for, give me leave to observe that I consider the clerical
              office as equal in point of dignity with the highest rank in the kingdom — provided that a proper humility of behaviour is at the same time
              maintained. You must therefore allow me to follow the dictates of my conscience on this occasion, which leads me to perform what I look on as a
              point of duty. Pardon me for neglecting to profit by your advice, which on every other subject shall be my constant guide, though in the case
              before us I consider myself more fitted by education and habitual study to decide on what is right than a young lady like yourself.”</span>
          
          <span id="said_no_01457" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> And with a low bow he left her to attack Mr. Darcy, whose reception of his advances she eagerly
            watched, and whose astonishment at being so addressed was very evident. Her cousin prefaced his speech with a solemn bow and though she could not
            hear a word of it, she felt as if hearing it all, and saw in the motion of his lips the words “apology,” “Hunsford,” and “Lady Catherine de Bourgh.”
            It vexed her to see him expose himself to such a man. Mr. Darcy was eyeing him with unrestrained wonder, and when at last Mr. Collins allowed him
            time to speak, replied with an air of distant civility. Mr. Collins, however, was not discouraged from speaking again, and Mr. Darcy's contempt
            seemed abundantly increasing with </span>
          <span id="said_no_01458" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> the length of his second speech, and at the end of it he only made him a slight bow, and moved
            another way. Mr. Collins then returned to Elizabeth.</span>
        </p>
        <p>
          
            <span id="said_no_01459" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“I have no reason, I assure you,”</span>
            <span id="said_no_01460" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_01461" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“to be dissatisfied with my reception. Mr. Darcy seemed much pleased with the
              attention.</span>
            <span id="said_no_01462" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">He</span>
            <span id="said_no_01463" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">answered me with the utmost civility, and</span>
            <span id="said_no_01464" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">even paid me the compliment of saying that</span>
            <span id="said_no_01465" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.coll_dar" data-placement="auto top">he was so well convinced of
              Lady Catherine's discernment as to be certain she could never bestow a favour unworthily.</span>
            <span id="said_no_01466" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">It was really a very handsome thought. Upon the whole, I am much pleased with him.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_01467" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">As Elizabeth had no longer any interest of her own to pursue, she turned her attention almost
              entirely on her sister and Mr. Bingley; and the train of agreeable reflections which her observations gave birth to, made her perhaps almost as
              happy as Jane. She saw her in idea settled in that very house, in all the felicity which a marriage of true affection could bestow; and she felt
              capable, under such circumstances, of endeavouring even to like Bingley's two sisters. Her mother's thoughts she plainly saw were bent the same
              way, and she determined not to venture near her, lest she might hear too much. When they sat down to supper, therefore, she considered it a most
              unlucky perverseness which placed them within one of each other; and deeply was she vexed to find that her mother was talking to that one person
              (Lady Lucas) freely, openly, and of nothing else but of her expectation that Jane would soon be married to Mr. Bingley. It was an animating
              subject, and Mrs. Bennet seemed incapable of fatigue while enumerating the advantages of the match.</span>
            <span id="said_no_01468" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">His being such a charming
              young man, and so rich, and living but three miles from them,</span>
            <span id="said_no_01469" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">were the first points of self-gratulation;</span>
            <span id="said_no_01470" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01471" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">then it was such a comfort
              to think how fond the two sisters were of Jane, and to be certain that they must desire the connection as much as she could do. It was, moreover,
              such a promising thing for her younger daughters, as Jane's marrying so greatly must throw them in the way of other rich men; and lastly, it was
              so pleasant at her time of life to be able to consign her single daughters to the care of their sister, that she might not be obliged to go into
              company more than she liked.</span>
            <span id="said_no_01472" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">It was necessary to make this circumstance a matter of pleasure, because on such occasions it is
              the etiquette; but no one was less likely than Mrs. Bennet to find comfort in staying at home at any period of her life.</span>
            <span id="said_no_01473" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She concluded with many good wishes that</span>
            <span id="said_no_01474" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">Lady Lucas might soon be
              equally fortunate,</span>
            <span id="said_no_01475" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">though evidently and triumphantly believing there was no chance of it.</span>
          
        </p>
        <p>
          
            <span id="said_no_01476" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In vain did Elizabeth endeavour to check the rapidity of her mother's words, or persuade her to
              describe her felicity in a less audible whisper; for, to her inexpressible vexation, she could perceive that the chief of it was overheard by Mr.
              Darcy, who sat opposite to them. Her mother only scolded her for being nonsensical.</span>
          
        </p>
        <p>
          
            <span id="said_no_01477" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“What is Mr. Darcy to me, pray, that I should be afraid of him? I am
              sure we owe him no such particular civility as to be obliged to say nothing he may not like to hear.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01478" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“For heaven's sake, madam, speak lower. What advantage can it be for you to offend
              Mr. Darcy? You will never recommend yourself to his friend by so doing!” </span>
          
        </p>
        <p>
          
            <span id="said_no_01479" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Nothing that she could say, however, had any influence. Her mother would talk of her views in
              the same intelligible tone. Elizabeth blushed and blushed again with shame and vexation. She could not help frequently glancing her eye at Mr.
              Darcy, though every glance convinced her of what she dreaded; for though he was not always looking at her mother, she was convinced that his
              attention was invariably fixed by her. The expression of his face changed gradually from indignant contempt to a composed and steady
              gravity.</span>
          
        </p>
        <p>
          
            <span id="said_no_01480" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">At length, however, Mrs. Bennet had no more to say; and Lady Lucas, who had been long yawning at
              the repetition of delights which she saw no likelihood of sharing, was left to the comforts of cold ham and chicken. Elizabeth now began to
              revive. But not long was the interval of tranquillity; for, when supper was over, singing was talked of, and she had the mortification of seeing
              Mary, after very little entreaty, preparing to oblige the company. By many significant looks and silent entreaties, did she endeavour to prevent
              such a proof of complaisance, but in vain; Mary would not understand them; such an opportunity of exhibiting was delightful to her, and she began
              her song. Elizabeth's eyes were fixed on her with most painful sensations, and she watched her progress through the several stanzas with an
              impatience which was very ill rewarded at their close; for Mary, on receiving, amongst the thanks of the table, the hint of a hope that she might
              be prevailed on to favour them again, after the pause of half a minute began another. Mary's powers were by no means fitted for such a display;
              her voice was weak, and her manner affected. Elizabeth was in agonies. She looked at Jane, to see how she bore it; but Jane was very composedly
              talking to Bingley. She looked at his two sisters, and saw them making signs of derision at each other, and at Darcy, who continued, however,
              imperturbably grave. She looked at her father to entreat his interference, lest Mary should be singing all night. He took the hint, and when Mary
              had finished her second song, said aloud, </span>
            <span id="said_no_01481" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“That will do extremely well, child. You have delighted us long enough. Let the other
              young ladies have time to exhibit.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01482" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mary, though pretending not to hear, was somewhat disconcerted; and Elizabeth, sorry for her,
              and sorry for her father's speech, was afraid her anxiety had done no good. Others of the party were now applied to.</span>
          
        </p>
        <p>
          
            <span id="said_no_01483" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“If I,”</span>
            <span id="said_no_01484" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mr. Collins, </span>
            <span id="said_no_01485" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“were so fortunate as to be able to sing, I should have great pleasure, I am sure,
              in obliging the company with an air; for I consider music as a very innocent diversion, and perfectly compatible with the profession of a
              clergyman. I do not mean, however, to assert that we can be justified in devoting too much of our time to music, for there are certainly other
              things to be attended to. The rector of a parish has much to do. In the first place, he must make such an agreement for tithes as may be
              beneficial to himself and not offensive to his patron. He must write his own sermons; and the time that remains will not be too much for his
              parish duties, and the care and improvement of his dwelling, which he cannot be excused from making as comfortable as possible. And I do not think
              it of light importance that he should have attentive and conciliatory manners towards everybody, especially towards those to whom he owes his
              preferment. I cannot acquit him of that duty; nor could I think well of the man who should omit an occasion of testifying his respect towards
              anybody connected with the family.”</span>
          
          <span id="said_no_01486" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> And with a bow to Mr. Darcy, he concluded his speech, which had been spoken so loud as to be
            heard by half the room. Many stared — many smiled; but no one looked more amused than Mr. Bennet himself, while</span>
          <span id="said_no_01487" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">his wife seriously commended Mr. Collins for</span>
          <span id="said_no_01488" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">having spoken so
            sensibly,</span>
          <span id="said_no_01489" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
          <span id="said_no_01490" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">observed</span>
          <span id="said_no_01491" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">in a half-whisper to Lady Lucas,</span>
          <span id="said_no_01492" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
          <span id="said_no_01493" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">he was a remarkably clever,
            good kind of young man.</span>
        </p>
        <p>
          
            <span id="said_no_01494" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">To Elizabeth it appeared that,</span>
            <span id="said_no_01495" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">had her family made an
              agreement to expose themselves as much as they could during the evening, it would have been impossible for them to play their parts with more
              spirit or finer success;</span>
            <span id="said_no_01496" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01497" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">happy did she think it for Bingley and her sister that</span>
            <span id="said_no_01498" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">some of the exhibition had
              escaped his notice,</span>
            <span id="said_no_01499" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01500" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01501" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">his feelings were not of a
              sort to be much distressed by the folly which he must have witnessed.</span>
            <span id="said_no_01502" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">That his two sisters and Mr. Darcy, however, should have such an opportunity of ridiculing her
              relations, was bad enough, and she could not determine whether the silent contempt of the gentleman, or the insolent smiles of the ladies, were
              more intolerable.</span>
          
        </p>
        <p>
          
            <span id="said_no_01503" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The rest of the evening brought her little amusement. She was teased by Mr. Collins, who
              continued most perseveringly by her side, and though he could not prevail on her to dance with him again, put it out of her power to dance with
              others.</span>
            <span id="said_no_01504" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In vain did she entreat him</span>
            <span id="said_no_01505" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">to stand up with somebody
              else,</span>
            <span id="said_no_01506" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01507" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">offer</span>
            <span id="said_no_01508" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">to introduce him to any
              young lady in the room.</span>
            <span id="said_no_01509" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He assured her, that</span>
            <span id="said_no_01510" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">as to dancing, he was
              perfectly indifferent to it;</span>
            <span id="said_no_01511" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01512" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">his chief object was by
              delicate attentions to recommend himself to her</span>
            <span id="said_no_01513" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01514" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01515" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">he should therefore make a
              point of remaining close to her the whole evening.</span>
            <span id="said_no_01516" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">There was no arguing upon such a project. She owed her greatest relief to her friend Miss Lucas,
              who often joined them, and good-naturedly engaged Mr. Collins's conversation to herself.</span>
          
        </p>
        <p>
          
            <span id="said_no_01517" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She was at least free from the offense of Mr. Darcy's further notice; though often standing
              within a very short distance of her, quite disengaged, he never came near enough to speak. She felt it to be the probable consequence of her
              allusions to Mr. Wickham, and rejoiced in it.</span>
          
        </p>
        <p>
          
            <span id="said_no_01518" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The Longbourn party were the last of all the company to depart, and, by a manoeuvre of Mrs.
              Bennet, had to wait for their carriage a quarter of an hour after everybody else was gone, which gave them time to see how heartily they were
              wished away by some of the family. Mrs. Hurst and her sister scarcely opened their mouths, except to complain of fatigue, and were evidently
              impatient to have the house to themselves. They repulsed every attempt of Mrs. Bennet at conversation, and by so doing threw a languor over the
              whole party, which was very little relieved by the long speeches of</span>
            <span id="said_no_01519" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins, who was complimenting Mr. Bingley and his sisters on</span>
            <span id="said_no_01520" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">the elegance of their
              entertainment, and the hospitality and politeness which had marked their behaviour to their guests.</span>
            <span id="said_no_01521" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Darcy said nothing at all. Mr. Bennet, in equal silence, was enjoying the scene. Mr. Bingley and
              Jane were standing together, a little detached from the rest, and talked only to each other. Elizabeth preserved as steady a silence as either
              Mrs. Hurst or Miss Bingley; and even Lydia was too much fatigued to utter more than the occasional exclamation of</span>
            <span id="said_no_01522" class="said" data-toggle="tooltip" title="Lydia Bennet" data-placement="auto top">“Lord, how tired I am!”</span>
            <span id="said_no_01523" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">accompanied by a violent yawn.</span>
          
        </p>
        <p>
          
            <span id="said_no_01524" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When at length they arose to take leave,</span>
            <span id="said_no_01525" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Bennet was most pressingly civil in her hope</span>
            <span id="said_no_01526" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">of seeing the whole family
              soon at Longbourn,</span>
            <span id="said_no_01527" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and addressed herself especially to Mr. Bingley,</span>
            <span id="said_no_01528" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">to assure him</span>
            <span id="said_no_01529" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">how happy he would make them
              by eating a family dinner with them at any time, without the ceremony of a formal invitation.</span>
            <span id="said_no_01530" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Bingley was all grateful pleasure, and</span>
            <span id="said_no_01531" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he readily engaged</span>
            <span id="said_no_01532" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_bing" data-placement="auto top">for taking the earliest
              opportunity of waiting on her, after his return from London, whither he was obliged to go the next day for a short time.</span>
          
        </p>
        <p>
          
            <span id="said_no_01533" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Bennet was perfectly satisfied, and quitted the house under the delightful persuasion that,
              allowing for the necessary preparations of settlements, new carriages, and wedding clothes, she should undoubtedly see her daughter settled at
              Netherfield in the course of three or four months. Of having another daughter married to Mr. Collins, she thought with equal certainty, and with
              considerable, though not equal, pleasure. Elizabeth was the least dear to her of all her children; and though the man and the match were quite
              good enough for her, the worth of each was eclipsed by Mr. Bingley and Netherfield.</span>
          
        </p>
      
  <div class="footnotes"> </div>
