

   
  
    
        <h3>Chapter 22</h3>
        <p>
          
            <span id="said_no_01727" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The Bennets were engaged to dine with the Lucases and again during the
              chief of the day was Miss Lucas so kind as to listen to Mr. Collins. Elizabeth took an opportunity of thanking her. “It keeps him in good humour,”
              said she, “and I am more obliged to you than I can express.”</span>
            <span id="said_no_01728" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Charlotte assured her friend of</span>
            <span id="said_no_01729" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_char" data-placement="auto top">her satisfaction in being
              useful,</span>
            <span id="said_no_01730" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01731" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01732" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_char" data-placement="auto top">it amply repaid her for the
              little sacrifice of her time.</span>
            <span id="said_no_01733" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This was very amiable, but Charlotte's kindness extended farther than Elizabeth had any
              conception of; its object was nothing else than to secure her from any return of Mr. Collins's addresses, by engaging them towards herself. Such
              was Miss Lucas's scheme; and appearances were so favourable, that when they parted at night, she would have felt almost secure of success if he
              had not been to leave Hertfordshire so very soon. But here she did injustice to the fire and independence of his character, for it led him to
              escape out of Longbourn House the next morning with admirable slyness, and hasten to Lucas Lodge to throw himself at her feet. He was anxious to
              avoid the notice of his cousins, from a conviction that if they saw him depart, they could not fail to conjecture his design, and he was not
              willing to have the attempt known till its success might be known likewise; for though feeling almost secure, and with reason, for Charlotte had
              been tolerably encouraging, he was comparatively diffident since the adventure of Wednesday. His reception, however, was of the most flattering
              kind. Miss Lucas perceived him from an upper window as he walked towards the house, and instantly set out to meet him accidentally in the lane.
              But little had she dared to hope that so much love and eloquence awaited her there.</span>
          
        </p>
        <p>
          
            <span id="said_no_01734" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In as short a time as Mr. Collins's long speeches would allow, everything was settled between
              them to the satisfaction of both; and as they entered the house</span>
            <span id="said_no_01735" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he earnestly entreated her</span>
            <span id="said_no_01736" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">to name the day that was to
              make him the happiest of men;</span>
            <span id="said_no_01737" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and though such a solicitation must be waived for the present, the lady felt no inclination to
              trifle with his happiness. The stupidity with which he was favoured by nature must guard his courtship from any charm that could make a woman wish
              for its continuance; and Miss Lucas, who accepted him solely from the pure and disinterested desire of an establishment, cared not how soon that
              establishment were gained.</span>
          
        </p>
        <p>
          
            <span id="said_no_01738" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Sir William and Lady Lucas were speedily applied to for their consent; and it was bestowed with
              a most joyful alacrity. Mr. Collins's present circumstances made it a most eligible match for their daughter, to whom they could give little
              fortune; and his prospects of future wealth were exceedingly fair. Lady Lucas began directly to calculate, with more interest than the matter had
              ever excited before, how many years longer Mr. Bennet was likely to live; and</span>
            <span id="said_no_01739" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Sir William gave it as his decided opinion, that</span>
            <span id="said_no_01740" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_sirl" data-placement="auto top">whenever Mr. Collins should
              be in possession of the Longbourn estate, it would be highly expedient that both he and his wife should make their appearance at St.
              James's.</span>
            <span id="said_no_01741" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The whole family, in short, were properly overjoyed on the occasion. The younger girls formed
              hopes of coming out a year or two sooner than they might otherwise have done; and the boys were relieved from their
              apprehension of Charlotte's dying an old maid. Charlotte herself was tolerably composed. She had gained her point, and had time to consider of
              it.</span>
            <span id="said_no_01742" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her reflections were in general satisfactory.</span>
            <span id="said_no_01743" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_char" data-placement="auto top">Mr. Collins, to be sure,
              was neither sensible nor agreeable; his society was irksome, and his attachment to her must be imaginary. But still he would be her
              husband.</span>
            <span id="said_no_01744" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Without thinking highly either of men or of matrimony, marriage had always been her object; it
              was the only honourable provision for well-educated young women of small fortune, and however uncertain of giving happiness, must be their
              pleasantest preservative from want. This preservative she had now obtained; and at the age of twenty-seven, without having ever been handsome, she
              felt all the good luck of it. The least agreeable circumstance in the business was the surprise it must occasion to Elizabeth Bennet, whose
              friendship she valued beyond that of any other person.</span>
            <span id="said_no_01745" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_char" data-placement="auto top">Elizabeth would wonder, and
              probably would blame her; and though her resolution was not to be shaken, her feelings must be hurt by such a disapprobation.</span>
            <span id="said_no_01746" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She</span>
            <span id="said_no_01747" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">resolved to give her the information herself, and therefore</span>
            <span id="said_no_01748" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">charged Mr. Collins,</span>
            <span id="said_no_01749" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">when he returned to Longbourn to dinner,</span>
            <span id="said_no_01750" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_char" data-placement="auto top">to drop no hint of what had
              passed before any of the family.</span>
            <span id="said_no_01751" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">A promise of secrecy was of course very dutifully given, but it could not be kept without
              difficulty; for the curiosity excited by his long absence burst forth in such very direct questions on his return as required some ingenuity to
              evade, and he was at the same time exercising great self-denial, for he was longing to publish his prosperous love.</span>
          
        </p>
        <p>
          
            <span id="said_no_01752" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">As he was to begin his journey too early on the morrow to see any of the family, the ceremony of
              leave-taking was performed when the ladies moved for the night; and</span>
            <span id="said_no_01753" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Bennet, with great politeness and cordiality, said</span>
            <span id="said_no_01754" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">how happy they should be to
              see him at Longbourn again, whenever his other engagements might allow him to visit them.</span>
          
        </p>
        <p>
          
            <span id="said_no_01755" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“My dear madam,”</span>
            <span id="said_no_01756" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> he replied, </span>
            <span id="said_no_01757" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“this invitation is particularly gratifying, because it is what I have been hoping
              to receive; and you may be very certain that I shall avail myself of it as soon as possible.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01758" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They were all astonished; and Mr. Bennet, who could by no means wish for so speedy a return,
              immediately said: </span>
          
        </p>

        <p>
          
            <span id="said_no_01759" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“But is there not danger of Lady Catherine's disapprobation here, my good sir? You
              had better neglect your relations than run the risk of offending your patroness.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01760" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“My dear sir,”</span>
            <span id="said_no_01761" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Mr. Collins, </span>
            <span id="said_no_01762" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“I am particularly obliged to you for this friendly caution, and you may depend upon
              my not taking so material a step without her ladyship's concurrence.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01763" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“You cannot be too much upon your guard. Risk anything rather than her displeasure;
              and if you find it likely to be raised by your coming to us again, which I should think exceedingly probable, stay quietly at home, and be
              satisfied that we shall take no offence.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01764" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“Believe me, my dear sir, my gratitude is warmly excited by such affectionate
              attention; and depend upon it, you will speedily receive from me a letter of thanks for this, and for every other mark of your regard during my
              stay in Hertfordshire. As for my fair cousins, though my absence may not be long enough to render it necessary, I shall now take the liberty of
              wishing them health and happiness, not excepting my cousin Elizabeth.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01765" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">With proper civilities the ladies then withdrew; all of them equally surprised to find that he
              meditated a quick return. Mrs. Bennet wished to understand by it that he thought of paying his addresses to one of her younger girls, and Mary
              might have been prevailed on to accept him. She rated his abilities much higher than any of the others; there was a solidity in his reflections
              which often struck her, and</span>
            <span id="said_no_01766" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mary" data-placement="auto top">though by no means so
              clever as herself,</span>
            <span id="said_no_01767" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she thought that</span>
            <span id="said_no_01768" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mary" data-placement="auto top">if encouraged to read and
              improve himself by such an example as hers, he might become a very agreeable companion.</span>
            <span id="said_no_01769" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But on the following morning, every hope of this kind was done away. Miss Lucas called soon
              after breakfast, and in a private conference with Elizabeth related the event of the day before.</span>
          
        </p>
        <p>
          
            <span id="said_no_01770" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The possibility of Mr. Collins's fancying himself in love with her friend had once occurred to
              Elizabeth within the last day or two; but that Charlotte could encourage him seemed almost as far from possibility as that she could encourage him
              herself, and her astonishment was consequently so great as to overcome at first the bounds of decorum, and she could not help crying out, </span>
          
        </p>
        <p>
          
            <span id="said_no_01771" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Engaged to Mr. Collins! My dear Charlotte — impossible!” </span>
          
        </p>
        <p>
          
            <span id="said_no_01772" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The steady countenance which Miss Lucas had commanded in telling her story, gave way to a
              momentary confusion here on receiving so direct a reproach; though, as it was no more than she expected, she soon regained her composure, and
              calmly replied: </span>
          
        </p>
        <p>
          
            <span id="said_no_01773" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“Why should you be surprised, my dear Eliza? Do you think it incredible that Mr.
              Collins should be able to procure any woman's good opinion, because he was not so happy as to succeed with you?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01774" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But</span>
            <span id="said_no_01775" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth</span>
            <span id="said_no_01776" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">had now recollected herself, and making a strong effort for it,</span>
            <span id="said_no_01777" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was able to assure her with tolerable firmness that</span>
            <span id="said_no_01778" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">the prospect of their
              relationship was highly grateful to her,</span>
            <span id="said_no_01779" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01780" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01781" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">she wished her all
              imaginable happiness.</span>
          
        </p>
        <p>
          
            <span id="said_no_01782" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“I see what you are feeling,”</span>
            <span id="said_no_01783" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Charlotte. </span>
            <span id="said_no_01784" class="said" data-toggle="tooltip" title="Charlotte Lucas" data-placement="auto top">“You must be surprised, very much surprised — so lately as Mr. Collins was
              wishing to marry you. But when you have had time to think it all over, I hope you will be satisfied with what I have done. I am not romantic, you
              know; I never was. I ask only a comfortable home; and considering Mr. Collins's character, connection, and situation in life, I am convinced that
              my chance of happiness with him is as fair as most people can boast on entering the marriage state.” </span>
          
        </p>
        <p>
          <span id="said_no_01785" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth quietly answered </span>
          
            <span id="said_no_01786" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Undoubtedly;”</span>
          
          <span id="said_no_01787" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">— and after an awkward pause, they returned to the rest of the family. Charlotte did not
            stay much longer, and Elizabeth was then left to reflect on what she had heard. It was a long time before she became at all reconciled to the idea
            of so unsuitable a match.</span>
          <span id="said_no_01788" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">The strangeness of Mr.
            Collins's making two offers of marriage within three days was nothing in comparison of his being now accepted.</span>
          <span id="said_no_01789" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She had always felt that </span>
          <span id="said_no_01790" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Charlotte's opinion of
            matrimony was not exactly like her own, but she had not supposed it to be possible that, when called into action, she would have sacrificed every
            better feeling to worldly advantage.</span>
          <span id="said_no_01791" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">Charlotte the wife of Mr.
            Collins was a most humiliating picture!</span>
          <span id="said_no_01792" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">And to the pang of a friend
            disgracing herself and sunk in her esteem, was added the distressing conviction that it was impossible for that friend to be tolerably happy in the
            lot she had chosen.</span>
        </p>
      
  <div class="footnotes"> </div>
