

   
  
    
        <h3>Chapter 16</h3>
        <p>
          
            <span id="said_no_01109" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">As no objection was made to the young people's engagement with their aunt,
              and all Mr. Collins's scruples of leaving Mr. and Mrs. Bennet for a single evening during his visit were most steadily resisted, the coach
              conveyed him and his five cousins at a suitable hour to Meryton; and</span>
            <span id="said_no_01110" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">the girls had the pleasure of hearing,</span>
            <span id="said_no_01111" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">as they entered the drawing-room,</span>
            <span id="said_no_01112" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01113" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsp" data-placement="auto top">Mr. Wickham had accepted
              their uncle's invitation, and was then in the house.</span>
          
        </p>
        <p>
          
            <span id="said_no_01114" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When this information was given, and they had all taken their seats,</span>
            <span id="said_no_01115" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins</span>
            <span id="said_no_01116" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was at leisure to look around him and admire, and he was so much struck with the size and
              furniture of the apartment, that he</span>
            <span id="said_no_01117" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">declared</span>
            <span id="said_no_01118" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">he might almost have
              supposed himself in the small summer breakfast parlour at Rosings;</span>
            <span id="said_no_01119" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">a comparison that did not at first convey much gratification; but when Mrs. Phillips understood
              from him what Rosings was, and who was its proprietor — when she had listened to the description of only one of Lady Catherine's
              drawing-rooms, and found that the chimney-piece alone had cost eight hundred pounds, she felt all the force of the compliment, and would hardly
              have resented a comparison with the housekeeper's room.</span>
          
        </p>
        <p>
          
            <span id="said_no_01120" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In describing to her all the grandeur of Lady Catherine and her mansion, with occasional
              digressions in praise of his own humble abode, and the improvements it was receiving, he was happily employed until the gentlemen joined them; and
              he found in Mrs. Phillips a very attentive listener, whose opinion of his consequence increased with what she heard, and who was resolving to
              retail it all among her neighbours as soon as she could. To the girls, who could not listen to their cousin, and who had nothing to do but to wish
              for an instrument, and examine their own indifferent imitations of china on the mantelpiece, the interval of waiting appeared very long. It was
              over at last, however. The gentlemen did approach, and when Mr. Wickham walked into the room,</span>
            <span id="said_no_01121" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth felt that</span>
            <span id="said_no_01122" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">she had neither been seeing
              him before, nor thinking of him since, with the smallest degree of unreasonable admiration.</span>
            <span id="said_no_01123" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The officers of the ——shire were in general a very creditable, gentlemanlike set,
              and the best of them were of the present party; but Mr. Wickham was as far beyond them all in person, countenance, air, and walk, as they were superior to the broad-faced, stuffy uncle Phillips, breathing port wine, who followed them into the room.</span>
          
        </p>
        <p>
          
            <span id="said_no_01124" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Wickham was the happy man towards whom almost every female eye was turned, and Elizabeth was
              the happy woman by whom he finally seated himself; and the agreeable manner in which he immediately fell into conversation, though it was only on
              its being a wet night,</span>
            <span id="said_no_01125" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">made her feel that</span>
            <span id="said_no_01126" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">the commonest, dullest,
              most threadbare topic might be rendered interesting by the skill of the speaker.</span>
          
        </p>
        <p>
          
            <span id="said_no_01127" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">With such rivals for the notice of the fair as Mr. Wickham and the officers, Mr. Collins seemed
              likely to sink into insignificance; to the young ladies he certainly was nothing; but he had still at intervals a kind listener in Mrs. Phillips,
              and was by her watchfulness, most abundantly supplied with coffee and muffin. When the card-tables were placed, he had an opportunity of obliging
              her in turn, by sitting down to whist.</span>
          
        </p>
        <p>
          
            <span id="said_no_01128" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“I know little of the game at present,”</span>
            <span id="said_no_01129" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_01130" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“but I shall be glad to improve myself, for in my situation in life — ”</span>
          
          <span id="said_no_01131" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> Mrs . Phillips was very glad for his compliance, but could not wait for his reason.</span>
        </p>
        <p>
          
            <span id="said_no_01132" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Wickham did not play at whist, and with ready delight was he received at the other table
              between Elizabeth and Lydia. At first there seemed danger of Lydia's engrossing him entirely, for she was a most determined talker; but being
              likewise extremely fond of lottery tickets, she soon grew too much interested in the game, too eager in making bets and exclaiming after prizes to
              have attention for anyone in particular. Allowing for the common demands of the game, Mr. Wickham was therefore at leisure to talk to Elizabeth,
              and she was very willing to hear him, though what she chiefly wished to hear she could not hope to be told — the history of his acquaintance
              with Mr. Darcy. She dared not even mention that gentleman. Her curiosity, however, was unexpectedly relieved. Mr. Wickham began the subject
              himself.</span>
            <span id="said_no_01133" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He inquired</span>
            <span id="said_no_01134" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_wick" data-placement="auto top">how far Netherfield was from
              Meryton;</span>
            <span id="said_no_01135" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and, after receiving her answer,</span>
            <span id="said_no_01136" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">asked</span>
            <span id="said_no_01137" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">in a hesitating manner</span>
            <span id="said_no_01138" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_wick" data-placement="auto top">how long Mr. Darcy had been
              staying there.</span>
          
        </p>
        <p>
          
            <span id="said_no_01139" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“About a month,”</span>
            <span id="said_no_01140" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth; and then, unwilling to let the subject drop, added, </span>
            <span id="said_no_01141" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“He is a man of very large property in Derbyshire, I understand.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01142" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Yes,”</span>
            <span id="said_no_01143" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Mr. Wickham;</span>
            <span id="said_no_01144" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“his estate there is a noble one. A clear ten thousand per annum. You could not have
              met with a person more capable of giving you certain information on that head than myself, for I have been connected with his family in a
              particular manner from my infancy.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01145" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth could not but look surprised.</span>
          
        </p>
        <p>
          
            <span id="said_no_01146" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“You may well be surprised, Miss Bennet, at such an assertion, after seeing, as you
              probably might, the very cold manner of our meeting yesterday. Are you much acquainted with Mr. Darcy?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01147" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“As much as I ever wish to be,”</span>
            <span id="said_no_01148" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Elizabeth very warmly.</span>
            <span id="said_no_01149" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I have spent four days in the same house with him, and I think him very
              disagreeable.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01150" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I have no right to give my opinion,”</span>
            <span id="said_no_01151" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Wickham, </span>
            <span id="said_no_01152" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“as to his being agreeable or otherwise. I am not qualified to form one.
              I have known him too long and too well to be a fair judge. It is impossible for me to be impartial. But I believe your
              opinion of him would in general astonish — and perhaps you would not express it quite so strongly anywhere else. Here you are in your own
              family.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01153" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Upon my word I say no more here than I might say in any house
              in the neighbourhood, except Netherfield. He is not at all liked in Hertfordshire. Everybody is disgusted with his pride. You will not find him
              more favourably spoken of by anyone.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01154" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I cannot pretend to be sorry,”</span>
            <span id="said_no_01155" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Wickham, after a short interruption, </span>
            <span id="said_no_01156" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“that he or that any man should not be estimated beyond their deserts; but with him I believe it does not often happen. The world is blinded by his fortune and consequence, or frightened by his high and
              imposing manners, and sees him only as he chooses to be seen.”</span>
          
        </p>
        <p>
          
            <span id="said_no_01157" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I should take him, even on my slight acquaintance, to be an
              ill-tempered man.”</span>
          
          <span id="said_no_01158" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> Wickham only shook his head.</span>
        </p>
        <p>
          
            <span id="said_no_01159" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I wonder,”</span>
            <span id="said_no_01160" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, at the next opportunity of speaking, </span>
            <span id="said_no_01161" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“whether he is likely to be in this country much longer.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01162" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I do not at all know; but I heard nothing of his going away
              when I was at Netherfield. I hope your plans in favour of the ——shire will not be affected by his being in the neighbourhood.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01163" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Oh! no — it is not for me to be driven away by Mr. Darcy.
              If he wishes to avoid seeing me, he must go. We are not on friendly terms, and it always gives me pain
              to meet him, but I have no reason for avoiding him but what I might proclaim before all the world, a sense of very great
              ill-usage, and most painful regrets at his being what he is. His father, Miss Bennet, the late Mr. Darcy, was one of the best men that ever
              breathed, and the truest friend I ever had; and I can never be in company with this Mr. Darcy without being grieved to the soul by a thousand
              tender recollections. His behaviour to myself has been scandalous; but I verily believe I could forgive him anything and everything, rather than
              his disappointing the hopes and disgracing the memory of his father.”</span>
          
        </p>
        <p>
          
            <span id="said_no_01164" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth found the interest of the subject increase, and listened with all her heart; but the
              delicacy of it prevented further inquiry.</span>
          
        </p>
        <p>
          
            <span id="said_no_01165" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Wickham began to speak on more general topics, Meryton, the neighbourhood, the society,
              appearing highly pleased with all that he had yet seen, and speaking of the latter especially, with gentle but very intelligible gallantry.</span>
          
        </p>
        <p>
          
            <span id="said_no_01166" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“It was the prospect of constant society, and good society,”</span>
            <span id="said_no_01167" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> he added, </span>
            <span id="said_no_01168" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“which was my chief inducement to enter the ——shire. I knew it to be a
              most respectable, agreeable corps, and my friend Denny tempted me further by his account of their present quarters, and the very great attentions
              and excellent acquaintances Meryton had procured them. Society, I own, is necessary to me. I have been a disappointed man, and my spirits will not
              bear solitude. I must have employment and society. A military life is not what I was intended for, but circumstances have now
              made it eligible. The church ought to have been my profession — I was brought up for the church, and I should at this
              time have been in possession of a most valuable living, had it pleased the gentleman we were speaking of just now.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01169" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Indeed!”</span>
          
        </p>
        <p>
          
            <span id="said_no_01170" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Yes — the late Mr. Darcy bequeathed me the next presentation of the best
              living in his gift. He was my godfather, and excessively attached to me. I cannot do justice to his kindness. He meant to provide for me amply,
              and thought he had done it; but when the living fell, it was given elsewhere.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01171" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Good heavens!”</span>
            <span id="said_no_01172" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Elizabeth; </span>
            <span id="said_no_01173" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“but how could that be? How could his will be disregarded? Why
              did you not seek legal redress?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01174" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“There was just such an informality in the terms of the bequest as to give me no hope
              from law. A man of honour could not have doubted the intention,</span>
            <span id="said_no_01175" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">but Mr. Darcy</span>
            <span id="said_no_01176" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">chose to doubt it — or to treat it as a merely conditional recommendation, and</span>
            <span id="said_no_01177" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">to assert that</span>
            <span id="said_no_01178" class="said indirect said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.wick_dar" data-placement="auto top">I had forfeited all claim to
              it by extravagance, imprudence</span>
            <span id="said_no_01179" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">— in short anything or nothing. Certain it is, that the living became vacant two years
              ago, exactly as I was of an age to hold it, and that it was given to another man; and no less certain is it, that I cannot accuse myself of having
              really done anything to deserve to lose it. I have a warm, unguarded temper, and I may perhaps have sometimes spoken my opinion of him, and to him, too freely. I can recall nothing worse. But the fact is, that we are very different sort of men,
              and that he hates me.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01180" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“This is quite shocking! He deserves to be publicly disgraced.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01181" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Some time or other he will be — but it shall not be by
                me. Till I can forget his father, I can never defy or expose him.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01182" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth honoured him for such feelings, and thought him handsomer than ever as he expressed
              them.</span>
          
        </p>
        <p>
          
            <span id="said_no_01183" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“But what,”</span>
            <span id="said_no_01184" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, after a pause, </span>
            <span id="said_no_01185" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“can have been his motive? What can have induced him to behave so cruelly?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01186" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“A thorough, determined dislike of me — a dislike which I cannot but attribute
              in some measure to jealousy. Had the late Mr. Darcy liked me less, his son might have borne with me better; but his father's uncommon attachment
              to me irritated him, I believe, very early in life. He had not a temper to bear the sort of competition in which we stood — the sort of
              preference which was often given me.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01187" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I had not thought Mr. Darcy so bad as this — though I have never liked him. I
              had not thought so very ill of him. I had supposed him to be despising his fellow-creatures in general, but did not suspect him of descending to
              such malicious revenge, such injustice, such inhumanity as this.” </span>
          
        </p>
        <p>
          <span id="said_no_01188" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">After a few minutes' reflection, however, she continued, </span>
          
            <span id="said_no_01189" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I do remember his boasting one day, at Netherfield, of the
              implacability of his resentments, of his having an unforgiving temper. His disposition must be dreadful.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01190" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I will not trust myself on the subject,”</span>
            <span id="said_no_01191" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Wickham; </span>
            <span id="said_no_01192" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I can hardly be just to him.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01193" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth was again deep in thought, and after a time exclaimed, </span>
            <span id="said_no_01194" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“To treat in such a manner the godson, the friend, the favourite of his
              father!”</span>
            <span id="said_no_01195" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">— She could have added, </span>
            <span id="said_no_01196" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">“A young man, too, like you, whose very countenance may vouch for your being amiable”</span>
            <span id="said_no_01197" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">— </span>
            <span id="said_no_01198" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> but she contented herself with, </span>
            <span id="said_no_01199" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“and one, too, who had probably been his own companion from childhood, connected
              together, as I think you said, in the closest manner!” </span>
          
        </p>
        <p>
          
            <span id="said_no_01200" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“We were born in the same parish, within the same park; the greatest part of our
              youth was passed together; inmates of the same house, sharing the same amusements, objects of the same parental care. My
              father began life in the profession which your uncle, Mr. Phillips, appears to do so much credit to — but he gave up everything to be of use
              to the late Mr. Darcy and devoted all his time to the care of the Pemberley property. He was most highly esteemed by Mr. Darcy, a most intimate,
              confidential friend.</span>
            <span id="said_no_01201" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">Mr. Darcy often acknowledged himself to be</span>
            <span id="said_no_01202" class="said indirect said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.wick_darsr" data-placement="auto top">under the greatest
              obligations to my father's active superintendence,</span>
            <span id="said_no_01203" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">and when, immediately before my father's death, Mr. Darcy gave him a voluntary promise of
              providing for me, I am convinced that he felt it to be as much a debt of gratitude to him, as of affection to myself.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_01204" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“How strange!”</span>
            <span id="said_no_01205" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried Elizabeth.</span>
            <span id="said_no_01206" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“How abominable! I wonder that the very pride of this Mr. Darcy has not made him just
              to you! If from no better motive, that he should not have been too proud to be dishonest — for dishonesty I must call it.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01207" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“It is wonderful,”</span>
            <span id="said_no_01208" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Wickham,</span>
            <span id="said_no_01209" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“for almost all his actions may be traced to pride; and pride had often been his best
              friend. It has connected him nearer with virtue than with any other feeling. But we are none of us consistent, and in his behaviour to me there
              were stronger impulses even than pride.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01210" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Can such abominable pride as his have ever done him good?” </span>
          
        </p>

        <p>
          
            <span id="said_no_01211" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Yes. It has often led him to be liberal and generous, to give his money freely, to
              display hospitality, to assist his tenants, and relieve the poor. Family pride, and filial pride — for he is very proud
              of what his father was — have done this. Not to appear to disgrace his family, to degenerate from the popular qualities, or lose the
              influence of the Pemberley House, is a powerful motive. He has also brotherly pride, which, with some
              brotherly affection, makes him a very kind and careful guardian of his sister, and</span>
            <span id="said_no_01212" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">you will hear him generally cried up as</span>
            <span id="said_no_01213" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.wick_soc" data-placement="auto top">the most attentive and best
              of brothers.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01214" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“What sort of girl is Miss Darcy?” </span>
          
        </p>
        <p>
          <span id="said_no_01215" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He shook his head.</span>
          
            <span id="said_no_01216" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I wish I could call her amiable. It gives me pain to speak ill of a Darcy. But she
              is too much like her brother — very, very proud. As a child, she was affectionate and pleasing, and extremely fond of me; and I have devoted
              hours and hours to her amusement. But she is nothing to me now. She is a handsome girl, about fifteen or sixteen, and, I understand, highly
              accomplished. Since her father's death, her home has been London, where a lady lives with her, and superintends her education.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01217" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">After many pauses and many trials of other subjects, Elizabeth could not help reverting once
              more to the first, and saying:</span>
          
        </p>
        <p>
          
            <span id="said_no_01218" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I am astonished at his intimacy with Mr. Bingley! How can Mr. Bingley, who seems
              good humour itself, and is, I really believe, truly amiable, be in friendship with such a man? How can they suit each other? Do you know Mr.
              Bingley?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01219" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Not at all.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01220" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“He is a sweet-tempered, amiable, charming man. He cannot know what Mr. Darcy is.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_01221" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Probably not; but Mr. Darcy can please where he chooses. He does not want abilities.
              He can be a conversible companion if he thinks it worth his while. Among those who are at all his equals in consequence, he is a very different
              man from what he is to the less prosperous. His pride never deserts him; but with the rich he is liberal-minded, just, sincere, rational,
              honourable, and perhaps agreeable — allowing something for fortune and figure.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01222" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The whist party soon afterwards breaking up, the players gathered round the other table and Mr.
              Collins took his station between his cousin Elizabeth and Mrs. Phillips .— The usual inquiries as to his success was made by the latter. It
              had not been very great; he had lost every point; but when Mrs Phillips began to express her concern thereupon,</span>
            <span id="said_no_01223" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he assured her</span>
            <span id="said_no_01224" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">with much earnest gravity</span>
            <span id="said_no_01225" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01226" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">it was not of the least
              importance,</span>
            <span id="said_no_01227" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_01228" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">he considered the money as a
              mere trifle,</span>
            <span id="said_no_01229" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01230" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">begged that</span>
            <span id="said_no_01231" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">she would not make herself
              uneasy.</span>
          
        </p>
        <p>
          
            <span id="said_no_01232" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“I know very well, madam,”</span>
            <span id="said_no_01233" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_01234" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“that when persons sit down to a card-table, they must take their chances of these
              things, and happily I am not in such circumstances as to make five shillings any object. There are undoubtedly many who could not say the same,
              but thanks to Lady Catherine de Bourgh, I am removed far beyond the necessity of regarding little matters.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01235" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Wickham's attention was caught; and after observing Mr. Collins for a few moments,</span>
            <span id="said_no_01236" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he asked Elizabeth</span>
            <span id="said_no_01237" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">in a low voice</span>
            <span id="said_no_01238" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">whether</span>
            <span id="said_no_01239" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_wick" data-placement="auto top">her relation was very
              intimately acquainted with the family of de Bourgh. </span>
          
        </p>

        <p>
          
            <span id="said_no_01240" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Lady Catherine de Bourgh,”</span>
            <span id="said_no_01241" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she replied, </span>
            <span id="said_no_01242" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“has very lately given him a living. I hardly know how Mr. Collins was first
              introduced to her notice, but he certainly has not known her long.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01243" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“You know of course that Lady Catherine de Bourgh and Lady Anne Darcy were sisters;
              consequently that she is aunt to the present Mr. Darcy.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01244" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“No, indeed, I did not. I knew nothing at all of Lady Catherine's connections. I
              never heard of her existence till the day before yesterday.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01245" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Her daughter, Miss de Bourgh, will have a very large fortune, and it is believed
              that she and her cousin will unite the two estates.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01246" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This information made Elizabeth smile, as she thought of poor Miss Bingley. Vain indeed must be
              all her attentions, vain and useless her affection for his sister and her praise of himself, if he were already self-destined for another.</span>
          
        </p>
        <p>
          
            <span id="said_no_01247" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Mr. Collins,”</span>
            <span id="said_no_01248" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_01249" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“speaks highly both of Lady Catherine and her daughter; but from some particulars
              that he has related of her ladyship, I suspect his gratitude misleads him, and that in spite of her being his patroness, she is an arrogant,
              conceited woman.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01250" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I believe her to be both in a great degree,”</span>
            <span id="said_no_01251" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Wickham; </span>
            <span id="said_no_01252" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I have not seen her for many years, but I very well remember that I never liked her,
              and that her manners were dictatorial and insolent. She has the reputation of being remarkably sensible and clever; but I rather believe she
              derives part of her abilities from her rank and fortune, part from her authoritative manner, and the rest from the pride for her nephew, who
              chooses that everyone connected with him should have an understanding of the first class.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01253" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth allowed that</span>
            <span id="said_no_01254" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">he had given a very rational
              account of it,</span>
            <span id="said_no_01255" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and they continued talking together, with mutual satisfaction till supper put an end to cards,
              and gave the rest of the ladies their share of Mr. Wickham's attentions. There could be no conversation in the noise of Mrs. Phillips's supper
              party, but his manners recommended him to everybody. Whatever he said, was said well; and whatever he did, done gracefully. Elizabeth went away
              with her head full of him. She could think of nothing but of Mr. Wickham, and of what he had told her, all the way home; but there was not time
              for her even to mention his name as they went, for neither Lydia nor Mr. Collins were once silent. Lydia talked incessantly of lottery tickets, of
              the fish she had lost and the fish she had won; and</span>
            <span id="said_no_01256" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins</span>
            <span id="said_no_01257" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">in</span>
            <span id="said_no_01258" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">describing the civility of
              Mr. and Mrs . Phillips,</span>
            <span id="said_no_01259" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">protesting that</span>
            <span id="said_no_01260" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">he did not in the least
              regard his losses at whist,</span>
            <span id="said_no_01261" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">enumerating all the dishes at supper, and</span>
            <span id="said_no_01262" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">repeatedly fearing that</span>
            <span id="said_no_01263" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">he crowded his
              cousins,</span>
            <span id="said_no_01264" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">had more to say than he could well manage before the carriage stopped at Longbourn House.</span>
          
        </p>
      
  <div class="footnotes"> </div>
