

   
  
    
        <h3>Chapter 52</h3>
        <p>
          
            <span id="said_no_04130" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth had the satisfaction of receiving an answer to her letter as
              soon as she possibly could. She was no sooner in possession of it than, hurrying into the little copse, where she was least likely to be
              interrupted, she sat down on one of the benches and prepared to be happy; for the length of the letter convinced her that it did not contain a
              denial.</span>
          
        </p>
        <br></br>
        
          
            <p>
              
                <span id="said_no_04131" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“Gracechurch street, Sept. 6.</span>
              
            </p>
            <p>
              
                <span id="said_no_04132" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“My dear niece,</span>
              
            </p>
            <p>
              
                <span id="said_no_04133" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“I have just received your letter, and shall devote this whole morning to
                  answering it, as I foresee that alittle writing will not comprise what I have to tell you. I must confess myself
                  surprised by your application; I did not expect it from you. Don't think me angry, however, for I only mean to let you
                  know that I had not imagined such inquiries to be necessary on your side. If you do not choose to understand me, forgive
                  my impertinence. Your uncle is as much surprised as I am — and nothing but the belief of your being a party concerned would have allowed
                  him to act as he has done. But if you are really innocent and ignorant, I must be more explicit. "On the very day of my coming home from
                  Longbourn, your uncle had a most unexpected visitor. Mr. Darcy called, and was shut up with him several hours. It was all over before I
                  arrived; so my curiosity was not so dreadfully racked as yours seems to have been.</span>
                <span id="said_no_04134" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top"> He came to tell Mr. Gardiner that</span>
                <span id="said_no_04135" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> he had found out
                  where your sister and Mr. Wickham were,</span>
                <span id="said_no_04136" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">and that</span>
                <span id="said_no_04137" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> he had seen and
                  talked with them both; Wickham repeatedly, Lydia once.</span>
                <span id="said_no_04138" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">From what I can collect,</span>
                <span id="said_no_04139" class="said indirect said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> he left Derbyshire
                  only one day after ourselves, and came to town with the resolution of hunting for them.</span>
                <span id="said_no_04140" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">The motive professed was his conviction of</span>
                <span id="said_no_04141" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> its being owing to
                  himself that Wickham's worthlessness had not been so well known as to make it impossible for any young woman of character to love or confide
                  in him.</span>
                <span id="said_no_04142" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">He generously imputed</span>
                <span id="said_no_04143" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> the whole to his
                  mistaken pride,</span>
                <span id="said_no_04144" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">and confessed that</span>
                <span id="said_no_04145" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> he had before thought
                  it beneath him to lay his private actions open to the world.</span>
                <span id="said_no_04146" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> His character was to
                  speak for itself.</span>
                <span id="said_no_04147" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">He called it, therefore,</span>
                <span id="said_no_04148" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> his duty to step
                  forward, and endeavour to remedy an evil which had been brought on by himself.</span>
                <span id="said_no_04149" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">If he had another motive, I am sure it would never
                  disgrace him.</span>
                <span id="said_no_04150" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> He had been some days
                  in town, before he was able to discover them; but he had something to direct his search, which was more than we had; and
                  the consciousness of this was another reason for his resolving to follow us. "There is a lady,</span>
                <span id="said_no_04151" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">it seems,</span>
                <span id="said_no_04152" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> a Mrs. Younge, who
                  was some time ago governess to Miss Darcy, and was dismissed from her charge on some cause of disapprobation,</span>
                <span id="said_no_04153" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">though he did not say what.</span>
                <span id="said_no_04154" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> She then took a large
                  house in Edward-street, and has since maintained herself by letting lodgings. This Mrs. Younge was,</span>
                <span id="said_no_04155" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">he knew,</span>
                <span id="said_no_04156" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> intimately acquainted
                  with Wickham; and he went to her for intelligence of him as soon as he got to town. But it was two or three days before he could get from her
                  what he wanted. She would not betray her trust,</span>
                <span id="said_no_04157" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">I suppose,</span>
                <span id="said_no_04158" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> without bribery and
                  corruption, for she really did know where her friend was to to be found. Wickham indeed had gone to her on their first arrival in London, and
                  had she been able to receive them into her house, they would have taken up their abode with her.</span>
                <span id="said_no_04159" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">At length, however, our kind friend procured the wished-for direction.</span>
                <span id="said_no_04160" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> They were in
                  ——street. He saw Wickham, and afterwards insisted on seeing Lydia. His first object with her,</span>
                <span id="said_no_04161" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">he acknowledged,</span>
                <span id="said_no_04162" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> had been to persuade
                  her to quit her present disgraceful situation, and return to her friends as soon as they could be prevailed on to receive her, offering his
                  assistance, as far as it would go. But he found Lydia absolutely resolved on remaining where she was.</span>
                <span id="said_no_04163" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.#mrsg_dar_lyd" data-placement="auto top"> She cared for
                  none of her friends; she wanted no help of his; she would not hear of leaving Wickham. She was sure they should be married some time or other,
                  and it did not much signify when.</span>
                <span id="said_no_04164" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">Since such were her feelings, it only remained,</span>
                <span id="said_no_04165" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">he thought,</span>
                <span id="said_no_04166" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">to secure and expedite a marriage, which, in his very first conversation with
                  Wickham,</span>
                <span id="said_no_04167" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">he easily learnt</span>
                <span id="said_no_04168" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">had never beenhis design.</span>
                <span id="said_no_04169" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">He confessed</span>
                <span id="said_no_04170" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.#mrsg_dar_wick" data-placement="auto top"> himself
                  obliged to leave the regiment, on account of some debts of honour, which were very pressing;</span>
                <span id="said_no_04171" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">and scrupled not to lay all the ill-consequences of Lydia's flight on her own
                  folly alone.</span>
                <span id="said_no_04172" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.#mrsg_dar_wick" data-placement="auto top"> He meant to
                  resign his commission immediately; and as to his future situation, he could conjecture very little about it. He must go somewhere, but he did
                  not know where, and he knew he should have nothing to live on.</span>
                <span id="said_no_04173" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">"Mr. Darcy asked him</span>
                <span id="said_no_04174" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> why he had not
                  married your sister at once. Though Mr. Bennet was not imagined to be very rich, he would have been able to do something for him, and his
                  situation must have been benefited by marriage.</span>
                <span id="said_no_04175" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">But</span>
                <span id="said_no_04176" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">he found,</span>
                <span id="said_no_04177" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">in reply to this question,</span>
                <span id="said_no_04178" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">that</span>
                <span id="said_no_04179" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> Wickham still
                  cherished the hope of more effectually making his fortune by marriage in some other country. Under such circumstances, however, he was not
                  likely to be proof against the temptation of immediate relief. "They met several times, for there was much to be discussed. Wickham of course
                  wanted more than he could get; but at length was reduced to be reasonable. "Every thing being settled between them, Mr.
                  Darcy's next step was to make your uncle acquainted with it, and he first called in Gracechurch street the evening before I came home. But Mr.
                  Gardiner could not be seen,</span>
                <span id="said_no_04180" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">and</span>
                <span id="said_no_04181" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">Mr. Darcy found,</span>
                <span id="said_no_04182" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">on further inquiry,</span>
                <span id="said_no_04183" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">that</span>
                <span id="said_no_04184" class="said indirect said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> your father was still
                  with him, but would quit town the next morning. He did not judge your father to be a person whom he could so properly consult as your uncle,
                  and therefore readily postponed seeing him till after the departure of the former.</span>
                <span id="said_no_04185" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top"> He did not leave his name, and till the next day it was only known that a
                  gentleman had called on business. "On Saturday he came again. Your father was gone, your uncle at home, and, as I said before, they had a
                  great deal of talk together. "They met again on Sunday, and then I saw him too. It was not all settled before Monday: as
                  soon as it was, the express was sent off to Longbourn. But our visitor was very obstinate. I fancy, Lizzy, that obstinacy is the real defect
                  of his character, after all. He has been accused of many faults at different times, but this is the true one. Nothing was
                  to be done that he did not do himself; though I am sure (and I do not speak it to be thanked, therefore say nothing about it), your uncle
                  would most readily have settled the whole. "They battled it together for a long time, which was more than either the gentleman or lady
                  concerned in it deserved. But at last your uncle was forced to yield, and instead of being allowed to be of use to his niece, was forced to
                  put up with only having the probable credit of it, which went sorely against the grain; and I really believe your letter this morning gave him
                  great pleasure, because it required an explanation that would rob him of his borrowed feathers, and give the praise where it was due. But,
                  Lizzy, this must go no farther than yourself, or Jane at most. "You know pretty well, I suppose, what has been done for the young people. His
                  debts are to be paid, amounting, I believe, to considerably more than a thousand pounds, another thousand in addition to her own settled upon
                    her, and his commission purchased. The reason why all this was to be done by him alone, was such as I have given
                  above.</span>
                <span id="said_no_04186" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#mrsg_dar" data-placement="auto top"> It was owing to him,
                  to his reserve and want of proper consideration, that Wickham's character had been so misunderstood, and consequently that he had been
                  received and noticed as he was.</span>
                <span id="said_no_04187" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">Perhaps there was some truth in this; though I doubt
                  whether his reserve, or anybody's  reserve, can be answerable for the event. But in spite of all
                  this fine talking, my dear Lizzy, you may rest perfectly assured that your uncle would never have yielded, if we had not given him credit for
                    another interest in the affair. "When all this was resolved on, he returned again to his friends, who were still
                  staying at Pemberley; but it was agreed that he should be in London once more when the wedding took place, and all money matters were then to
                  receive the last finish. "I believe I have now told you every thing. It is a relation which you tell me is to give you great surprise; I hope
                  at least it will not afford you any displeasure. Lydia came to us; and Wickham had constant admission to the house. He
                  was exactly what he had been, when I knew him in Hertfordshire; but I would not tell you how little I was satisfied with her behaviour while she staid with us, if I had not perceived, by Jane's letter last Wednesday, that her conduct on coming home was
                  exactly of a piece with it, and therefore what I now tell you can give you no fresh pain. I talked to her repeatedly in the most serious
                  manner, representing to her all the wickedness of what she had done, and all the unhappiness she had brought on her family. If she heard me,
                  it was by good luck, for I am sure she did not listen. I was sometimes quite provoked, but then I recollected my dear Elizabeth and Jane, and
                  for their sakes had patience with her. "Mr. Darcy was punctual in his return, and as Lydia informed you, attended the wedding. He dined with
                  us the next day, and was to leave town again on Wednesday or Thursday. Will you be very angry with me, my dear Lizzy, if I take this
                  opportunity of saying (what I was never bold enough to say before) how much I like him. His behaviour to us has, in every respect, been as
                  pleasing as when we were in Derbyshire. His understanding and opinions all please me; he wants nothing but a little more liveliness, and that, if he marry prudently, his wife may teach him. I thought him very sly — he hardly ever
                  mentioned your name. But slyness seems the fashion. "Pray forgive me if I have been very presuming, or at least do not punish me so far as to
                  exclude me from P. I shall never be quite happy till I have been all round the park. A low phaeton, with a nice little pair of ponies, would
                  be the very thing. "But I must write no more. The children have been wanting me this half hour. Yours, very sincerely,</span>
              
            </p>
            <p>
              
                <span id="said_no_04188" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“M. Gardiner.”</span>
              
            </p>
          
        
        <br></br>
        <p>
          
            <span id="said_no_04189" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The contents of this letter threw Elizabeth into a flutter of spirits, in which it was difficult
              to determine whether pleasure or pain bore the greatest share.</span>
            <span id="said_no_04190" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The vague and unsettled suspicions which uncertainty had produced of</span>
            <span id="said_no_04191" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> what Mr. Darcy might have
              been doing to forward her sister's match,</span>
            <span id="said_no_04192" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">which she had feared to encourage</span>
            <span id="said_no_04193" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> as an exertion of goodness
              too great to be probable,</span>
            <span id="said_no_04194" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and at the same time</span>
            <span id="said_no_04195" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">dreaded to be just,</span>
            <span id="said_no_04196" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> from the pain of
              obligation, were proved beyond their greatest extent to be true! He had followed them purposely to town, he had taken on himself all the trouble
              and mortification attendant on such a research; in which supplication had been necessary to a woman whom he must abominate and despise, and where
              he was reduced to meet, frequently meet, reason with, persuade, and finally bribe, the man whom he always most wished to avoid, and whose very
              name it was punishment to him to pronounce. He had done all this for a girl whom he could neither regard nor esteem.</span>
            <span id="said_no_04197" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her heart did whisper that</span>
            <span id="said_no_04198" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> he had done it for
              her.</span>
            <span id="said_no_04199" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But it was a hope shortly checked by other considerations, and</span>
            <span id="said_no_04200" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she soon felt that</span>
            <span id="said_no_04201" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> even her vanity was
              insufficient, when required to depend on his affection for her — for a woman who had already refused him — as able to overcome a
              sentiment so natural as abhorrence against relationship with Wickham.</span>
            <span id="said_no_04202" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Brother-in-law of Wickham!
              Every kind of pride must revolt from the connection.</span>
            <span id="said_no_04203" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> He had, to be sure, done
              much. She was ashamed to think how much. But he had given a reason for his interference, which asked no extraordinary stretch of belief. It was
              reasonable that he should feel he had been wrong; he had liberality, and he had the means of exercising it; and though she would not place herself
              as his principal inducement,</span>
            <span id="said_no_04204" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she could,</span>
            <span id="said_no_04205" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">perhaps,</span>
            <span id="said_no_04206" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">believe that</span>
            <span id="said_no_04207" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> remaining partiality for
              her, might assist his endeavours in a cause where her peace of mind must be materially concerned. It was painful, exceedingly painful, to know
              that they were under obligations to a person who could never receive a return. They owed the restoration of Lydia, her character, every thing, to
              him.</span>
            <span id="said_no_04208" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Oh! how heartily did she
              grieve over every ungracious sensation she had ever encouraged, every saucy speech she had ever directed towards him.</span>
            <span id="said_no_04209" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">For herself she was humbled; but she was proud of him.</span>
            <span id="said_no_04210" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Proud that</span>
            <span id="said_no_04211" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> in a cause of compassion
              and honour, he had been able to get the better of himself.</span>
            <span id="said_no_04212" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She read over her aunt's commendation of him again and again. It was hardly enough; but it
              pleased her. She was even sensible of some pleasure, though mixed with regret, on finding how steadfastly both she and her uncle had been
              persuaded that affection and confidence subsisted between Mr. Darcy and herself.</span>
          
        </p>
        <p>
          
            <span id="said_no_04213" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She was roused from her seat, and her reflections, by some one's approach; and before she could
              strike into another path, she was overtaken by Wickham.</span>
          
        </p>

        <p>
          
            <span id="said_no_04214" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I am afraid I interrupt your solitary ramble, my dear sister?”</span>
          
          <span id="said_no_04215" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, as he joined her.</span>
        </p>
        <p>
          
            <span id="said_no_04216" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You certainly do,”</span>
            <span id="said_no_04217" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she replied with a smile; </span>
            <span id="said_no_04218" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“but it does not follow that the interruption must be unwelcome.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04219" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I should be sorry indeed, if it were. We were always good
              friends; and now we are better.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04220" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“True. Are the others coming out?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04221" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I do not know. Mrs. Bennet and Lydia are going in the carriage to Meryton. And so,
              my dear sister,</span>
            <span id="said_no_04222" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">I find,</span>
            <span id="said_no_04223" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">from our uncle and aunt,</span>
            <span id="said_no_04224" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">that</span>
            <span id="said_no_04225" class="said indirect said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.#wick_mrgmrsg" data-placement="auto top"> you have actually
              seen Pemberley.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04226" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She replied in the affirmative.</span>
          
        </p>
        <p>
          
            <span id="said_no_04227" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I almost envy you the pleasure, and yet I believe it would be too much for me, or
              else I could take it in my way to Newcastle. And you saw the old housekeeper, I suppose? Poor Reynolds, she was always very fond of me. But of
              course she did not mention my name to you.” </span>
          
        </p>

        <p>
          
            <span id="said_no_04228" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes, she did.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04229" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“And what did she say?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04230" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“That</span>
            <span id="said_no_04231" class="said indirect said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.#eliz_rey" data-placement="auto top"> you were gone into the
              army,</span>
            <span id="said_no_04232" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">and</span>
            <span id="said_no_04233" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">she was afraid</span>
            <span id="said_no_04234" class="said indirect said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.#eliz_rey" data-placement="auto top"> had — not turned
              out well.</span>
            <span id="said_no_04235" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">At such a distance as that, you know, things are strangely
              misrepresented.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04236" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Certainly,”</span>
            <span id="said_no_04237" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> he replied, biting his lips. Elizabeth hoped she had silenced him; but he soon afterwards said: </span>
            <br></br>
            <span id="said_no_04238" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I was surprised to see Darcy in town last month. We passed each other several times.
              I wonder what he can be doing there.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04239" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Perhaps preparing for his marriage with Miss de Bourgh,”</span>
            <span id="said_no_04240" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth.</span>
            <span id="said_no_04241" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“It must be something particular, to take him there at this time of year.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04242" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Undoubtedly. Did you see him while you were at Lambton? I thought I understood from
              the Gardiners that you had.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04243" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes; he introduced us to his sister.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04244" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“And do you like her?” </span>
          
        </p>

        <p>
          
            <span id="said_no_04245" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Very much.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04246" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I have heard,</span>
            <span id="said_no_04247" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">indeed,</span>
            <span id="said_no_04248" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">that</span>
            <span id="said_no_04249" class="said indirect said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.#wick_soc" data-placement="auto top"> she is uncommonly
              improved within this year or two.</span>
            <span id="said_no_04250" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">When I last saw her, she was not very promising. I am very glad you liked her. I hope
              she will turn out well.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04251" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I dare say she will; she has got over the most trying age.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04252" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Did you go by the village of Kympton?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04253" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I do not recollect that we did.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04254" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I mention it, because it is the living which I ought to have had. A most delightful
              place! — Excellent Parsonage House! It would have suited me in every respect.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04255" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“How should you have liked making sermons?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04256" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“Exceedingly well. I should have considered it as part of my duty, and the exertion
              would soon have been nothing. One ought not to repine — but, to be sure, it would have been such a thing for me! The quiet, the retirement
              of such a life would have answered all my ideas of happiness! But it was not to be. Did you ever hear Darcy mention the circumstance, when you
              were in Kent?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04257" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I have heard</span>
            <span id="said_no_04258" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">from authority, which I thought as good,</span>
            <span id="said_no_04259" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">that</span>
            <span id="said_no_04260" class="said indirect said_tooltip certainty_2" data-toggle="tooltip" title="aus.001.#eliz_dar" data-placement="auto top"> it was left you
              conditionally only, and at the will of the present patron.”</span>
          
        </p>
        <p>
          
            <span id="said_no_04261" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“You have. Yes, there was something in that; I told you so from
              the first, you may remember.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04262" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I did hear,</span>
            <span id="said_no_04263" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">too,</span>
            <span id="said_no_04264" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">that</span>
            <span id="said_no_04265" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#eliz_dar" data-placement="auto top"> there was a time, when
              sermon-making was not so palatable to you as it seems to be at present;</span>
            <span id="said_no_04266" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">that</span>
            <span id="said_no_04267" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#eliz_dar" data-placement="auto top"> you actually declared
              your resolution of never taking orders,</span>
            <span id="said_no_04268" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">and</span>
            <span id="said_no_04269" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">that</span>
            <span id="said_no_04270" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.#eliz_dar" data-placement="auto top"> the business had been
              compromised accordingly.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04271" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“You did! and it was not wholly without foundation. You may remember what I told you
              on that point, when first we talked of it.” </span>
          
        </p>

        <p>
          <span id="said_no_04272" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They were now almost at the door of the house, for she had walked fast to get rid of him; and
            unwilling, for her sister's sake, to provoke him, she only said in reply, with a good-humoured smile: </span>
          <br></br>
          
            <span id="said_no_04273" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Come, Mr. Wickham, we are brother and sister, you know. Do not let us quarrel about
              the past. In future, I hope we shall be always of one mind.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04274" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She held out her hand; he kissed it with affectionate gallantry, though he hardly knew how to
              look, and they entered the house. </span>
          
        </p>
      
  <div class="footnotes"> </div>
