

   
  
    
        <h3>Chapter 30</h3>
        <p>
          
            <span id="said_no_02232" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Sir William stayed only a week at Hunsford, but his visit was long enough
              to convince him of his daughter's being most comfortably settled, and of her possessing such a husband and such a neighbour as were not often met
              with. While Sir William was with them, Mr. Collins devoted his morning to driving him out in his gig, and showing him the country; but when he
              went away, the whole family returned to their usual employments, and Elizabeth was thankful to find that they did not see more of her cousin by
              the alteration, for the chief of the time between breakfast and dinner was now passed by him either at work in the garden or in reading and
              writing, and looking out of the window in his own book-room, which fronted the road. The room in which the ladies sat was backwards.</span>
            <span id="said_no_02233" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth had at first rather wondered that</span>
            <span id="said_no_02234" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">Charlotte should not prefer
              the dining-parlour for common use; it was a better sized room, and had a more pleasant aspect;</span>
            <span id="said_no_02235" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but she soon saw that</span>
            <span id="said_no_02236" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">her friend had an excellent
              reason for what she did, for Mr. Collins would undoubtedly have been much less in his own apartment, had they sat in one equally lively;</span>
            <span id="said_no_02237" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and she gave Charlotte credit for the arrangement.</span>
          
        </p>
        <p>
          
            <span id="said_no_02238" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">From the drawing-room they could distinguish nothing in the lane, and were indebted to Mr.
              Collins for the knowledge of what carriages went along, and how often especially Miss de Bourgh drove by in her phaeton, which he never failed
              coming to inform them of, though it happened almost every day. She not unfrequently stopped at the Parsonage, and had a few minutes' conversation
              with Charlotte, but was scarcely ever prevailed upon to get out.</span>
          
        </p>

        <p>
          
            <span id="said_no_02239" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Very few days passed in which Mr. Collins did not walk to Rosings, and not many in which his
              wife did not think it necessary to go likewise; and till</span>
            <span id="said_no_02240" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth recollected that</span>
            <span id="said_no_02241" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">there might be other family
              livings to be disposed of,</span>
            <span id="said_no_02242" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she could not understand the sacrifice of so many hours. Now and then they were honoured with a
              call from her ladyship, and nothing escaped her observation that was passing in the room during these visits.</span>
            <span id="said_no_02243" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She</span>
            <span id="said_no_02244" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">examined into their employments, looked at their work, and advised them to do it differently;
              found fault with the arrangement of the furniture; or detected the housemaid in negligence; and if she accepted any refreshment,</span>
            <span id="said_no_02245" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">seemed to do it only for the sake of finding out that</span>
            <span id="said_no_02246" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top">Mrs. Collins's joints of meat
              were too large for her family.</span>
          
        </p>
        <p>
          
            <span id="said_no_02247" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth soon perceived, that</span>
            <span id="said_no_02248" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">though this great lady was
              not in the commission of the peace of the county, she was a most active magistrate in her own parish, the minutest concerns of which were carried
              to her by Mr. Collins; and whenever any of the cottagers were disposed to be quarrelsome, discontented, or too poor, she sallied forth into the
              village to settle their differences, silence their complaints, and scold them into harmony and plenty.</span>
          
        </p>
        <p>
          
            <span id="said_no_02249" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The entertainment of dining at Rosings was repeated about twice a week; and, allowing for the
              loss of Sir William, and there being only one card-table in the evening, every such entertainment was the counterpart of the first. Their other
              engagements were few, as the style of living in the neighbourhood in general was beyond Mr. Collins's reach. This, however, was no evil to
              Elizabeth, and upon the whole she spent her time comfortably enough; there were half-hours of pleasant conversation with Charlotte, and the
              weather was so fine for the time of year that she had often great enjoyment out of doors. Her favourite walk, and where she frequently went while
              the others were calling on Lady Catherine, was along the open grove which edged that side of the park, where there was a nice sheltered path,
              which no one seemed to value but herself, and where she felt beyond the reach of Lady Catherine's curiosity.</span>
          
        </p>
        <p>
          
            <span id="said_no_02250" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In this quiet way, the first fortnight of her visit soon passed away. Easter was approaching,
              and the week preceding it was to bring an addition to the family at Rosings, which in so small a circle must be important. Elizabeth had heard
              soon after her arrival that Mr. Darcy was expected there in the course of a few weeks, and</span>
            <span id="said_no_02251" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">though there were not many
              of her acquaintances whom she did not prefer, his coming would furnish one comparatively new to look at in their Rosings parties, and she might be
              amused in seeing how hopeless Miss Bingley's designs on him were, by his behaviour to his cousin, for whom he was evidently destined by Lady
              Catherine,</span>
            <span id="said_no_02252" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">who talked of his coming with the greatest satisfaction, spoke of him in terms of the highest
              admiration, and seemed almost angry to find that he had already been frequently seen by Miss Lucas and herself.</span>
          
        </p>
        <p>
          
            <span id="said_no_02253" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">His arrival was soon known at the Parsonage; for Mr. Collins was walking the whole morning
              within view of the lodges opening into Hunsford Lane, in order to have the earliest assurance of it, and after making his bow as the carriage
              turned into the Park, hurried home with the great intelligence. On the following morning he hastened to Rosings to pay his respects. There were
              two nephews of Lady Catherine to require them, for Mr. Darcy had brought with him a Colonel Fitzwilliam, the younger son of his uncle Lord
              —— and, to the great surprise of all the party, when Mr. Collins returned, the gentlemen accompanied him.</span>
            <span id="said_no_02254" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Charlotte</span>
            <span id="said_no_02255" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">had seen them from her husband's room, crossing the road, and immediately running into the
              other,</span>
            <span id="said_no_02256" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">told the girls</span>
            <span id="said_no_02257" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_char" data-placement="auto top">what an honour they might
              expect,</span>
            <span id="said_no_02258" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">adding: </span>
          
        </p>
        <p>
          
            <span id="said_no_02259" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“I may thank you, Eliza, for this piece of civility. Mr. Darcy would never have come
              so soon to wait upon me.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02260" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth had scarcely time to disclaim all right to the compliment, before their approach was
              announced by the door-bell, and shortly afterwards the three gentlemen entered the room. Colonel Fitzwilliam, who led the way, was about thirty,
              not handsome, but in person and address most truly the gentleman. Mr. Darcy looked just as he had been used to look in Hertfordshire — paid
              his compliments, with his usual reserve, to Mrs. Collins, and whatever might be his feelings toward her friend, met her with every appearance of
              composure. Elizabeth merely curtseyed to him without saying a word.</span>
          
        </p>
        <p>
          <span id="said_no_02261" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Colonel Fitzwilliam entered into conversation directly with the readiness and ease of a well-bred
            man, and talked very pleasantly; but his cousin, after having addressed a slight observation on the house and garden to Mrs. Collins, sat for some
            time without speaking to anybody. At length, however,</span>
          <span id="said_no_02262" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">his civility was so far awakened as</span>
          <span id="said_no_02263" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top">to inquire</span>
          <span id="said_no_02264" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">of Elizabeth</span>
          <span id="said_no_02265" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top">after the health of her
            family.</span>
          <span id="said_no_02266" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She answered him in the usual way, and after a moment's pause, added: </span>
          <br></br>
          
            <span id="said_no_02267" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“My eldest sister has been in town these three months. Have you never happened to see
              her there?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02268" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She was perfectly sensible that he never had; but she wished to see whether he would betray any
              consciousness of what had passed between the Bingleys and Jane, and</span>
            <span id="said_no_02269" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she thought</span>
            <span id="said_no_02270" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">he looked a little
              confused</span>
            <span id="said_no_02271" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">as he answered that</span>
            <span id="said_no_02272" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top">he had never been so fortunate
              as to meet Miss Bennet.</span>
            <span id="said_no_02273" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The subject was pursued no farther, and the gentlemen soon afterwards went away.</span>
          
        </p>
      
  <div class="footnotes"> </div>
