

   
  
    
        <h3>Chapter 13</h3>
        <p>
          
            <span id="said_no_00910" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“I hope, my dear,”</span>
            <span id="said_no_00911" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mr. Bennet to his wife, as they were at breakfast the next morning, </span>
            <span id="said_no_00912" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“that you have ordered a good dinner to-day, because I have reason to expect an
              addition to our family party.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00913" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Who do you mean, my dear? I know of nobody that is coming, I am sure,
              unless Charlotte Lucas should happen to call in — and I hope my dinners are good enough for her. I do not believe she
              often sees such at home.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00914" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“The person of whom I speak is a gentleman and a stranger.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00915" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> Mrs. Bennet's eyes sparkled.</span>
            <span id="said_no_00916" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top"> “A gentleman and a stranger! It is Mr. Bingley, I am sure. Why Jane
              — you never dropt a word of this; you sly thing! Well, I am sure I shall be extremely glad to see Mr. Bingley. But — good Lord! how
              unlucky! There is not a bit of fish to be got to-day. Lydia, my love, ring the bell — I must speak to Hill this moment.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00917" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“It is not Mr. Bingley,”</span>
            <span id="said_no_00918" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her husband; </span>
            <span id="said_no_00919" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“it is a person whom I never saw in the whole course of my life.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00920" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This roused a general astonishment; and he had the pleasure of being eagerly questioned by his
              wife and his five daughters at once.</span>
          
        </p>
        <p>
          <span id="said_no_00921" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">After amusing himself some time with their curiosity, he thus explained:</span>
          
            <span id="said_no_00922" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“About a month ago I received this letter; and about a fortnight ago I answered it,
              for I thought it a case of some delicacy, and requiring early attention. It is from my cousin, Mr. Collins, who, when I am dead, may turn you all
              out of this house as soon as he pleases.” </span>
          
        </p>

        <p>
          
            <span id="said_no_00923" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Oh! my dear,”</span>
            <span id="said_no_00924" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried his wife, </span>
            <span id="said_no_00925" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“I cannot bear to hear that mentioned. Pray do not talk of that odious
              man. I do think it is the hardest thing in the world, that your estate should be entailed away from your own children; and I am sure, if I had
              been you, I should have tried long ago to do something or other about it.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00926" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Jane and Elizabeth tried to explain to her the nature of an entail. They had often attempted to
              do it before, but it was a subject on which Mrs. Bennet was beyond the reach of reason, and</span>
            <span id="said_no_00927" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she continued to rail bitterly</span>
            <span id="said_no_00928" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">against the cruelty of
              settling an estate away from a family of five daughters, in favour of a man whom nobody cared anything about.</span>
          
        </p>
        <p>
          
            <span id="said_no_00929" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“It certainly is a most iniquitous affair,”</span>
            <span id="said_no_00930" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mr. Bennet, </span>
            <span id="said_no_00931" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“and nothing can clear Mr. Collins from the guilt of inheriting Longbourn. But if you
              will listen to his letter, you may perhaps be a little softened by his manner of expressing himself.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00932" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“No, that I am sure I shall not; and I think it is very impertinent of
              him to write to you at all, and very hypocritical. I hate such false friends. Why could he not keep on quarreling with you, as his father did
              before him?”</span>
          
        </p>
        <p>
          
            <span id="said_no_00933" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“Why, indeed; he does seem to have had some filial scruples on that head, as you will
              hear.”</span>
          
        </p>
        
          

            <p>
              
                <span id="said_no_00934" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">
                  Hunsford, near Westerham, Kent, </span>
              
            </p>
            <p>
              
                <span id="said_no_00935" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">15th October.
                </span>
              
            </p>
            <p>
              
                <span id="said_no_00936" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">
                  Dear Sir,—</span>
              
            </p>
            <p>
              
                <span id="said_no_00937" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">
                  "The disagreement subsisting between yourself and my late honoured father, always gave me much uneasiness, and since I
                  have had the misfortune to lose him, I have frequently wished to heal the breach but for some time I was kept back by my own doubts, fearing
                  lest it might seem disrespectful to his memory for me to be on good terms with any one, with whom it had always pleased him to be at variance.
                  —'There, Mrs. Bennet.'— My mind however is now made up on the subject, for having received ordination at Easter, I have been so
                  fortunate as to be distinguished by the patronage of the Right Honourable Lady Catherine de Bourgh, widow of Sir Lewis de Bourgh, whose bounty
                  and beneficence has preferred me to the valuable rectory of this parish, where it shall be my earnest endeavour to demean myself with grateful
                  respect towards her Ladyship, and be ever ready to perform those rites and ceremonies which are instituted by the Church of England. As a
                  clergyman, moreover, I feel it my duty to promote and establish the blessing of peace in all families within the reach of my influence; and on
                  these grounds I flatter myself that my present overtures of good-will are highly commendable, and that the circumstance of my being next in
                  the entail of Longbourn estate, will be kindly overlooked on your side , and not lead you to reject the offered olive branch. I cannot be
                  otherwise than concerned at being the means of injuring your amiable daughters, and beg leave to apologise for it, as well as to assure you of
                  my readiness to make them every possible amends,— but of this hereafter. If you should have no objection to receive me into your house,
                  I propose myself the satisfaction of waiting on you and your family, Monday, November 18th, by four o'clock, and shall probably trespass on
                  your hospitality till the Saturday se'ennight following, which I can do without any inconvenience, as Lady Catherine is far from objecting to
                  my occasional absence on a Sunday, provided that some other clergyman is engaged to do the duty of the day. I remain, dear sir, with
                  respectful compliments to your lady and daughters, your well-wisher and friend, </span>
              
            </p>
            <p>
              
                <span id="said_no_00938" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">
                  William Collins.”</span>
              
            </p>
          

        
        <p>
          
            <span id="said_no_00939" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“At four o'clock, therefore, we may expect this peace-making gentleman,”</span>
            <span id="said_no_00940" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mr. Bennet, as he folded up the letter.</span>
            <span id="said_no_00941" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“He seems to be a most conscientious and polite young man, upon my word; and I doubt
              not will prove a valuable acquaintance, especially if Lady Catherine should be so indulgent as to let him come to us again.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00942" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“There is some sense in what he says about the girls however, and if he
              is disposed to make them any amends, I shall not be the person to discourage him.”</span>
          
        </p>

        <p>
          
            <span id="said_no_00943" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Though it is difficult,”</span>
            <span id="said_no_00944" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Jane, </span>
            <span id="said_no_00945" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“to guess in what way he can mean to make us the atonement he thinks our due, the
              wish is certainly to his credit.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00946" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth was chiefly struck by his extraordinary deference for Lady Catherine, and his kind
              intention of christening, marrying, and burying his parishioners whenever it were required.</span>
          
        </p>
        <p>
          
            <span id="said_no_00947" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“He must be an oddity, I think,”</span>
            <span id="said_no_00948" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she.</span>
            <span id="said_no_00949" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I cannot make him out. — There is something very pompous in his style. —
              And what can he mean by apologising for being next in the entail? — We cannot suppose he would help it if he could. — Could he be a
              sensible man, sir?” </span>
          
        </p>
        <p>
          
            <span id="said_no_00950" class="said" data-toggle="tooltip" title="Mr. Bennet" data-placement="auto top">“No, my dear, I think not. I have great hopes of finding him quite the reverse. There
              is a mixture of servility and self-importance in his letter, which promises well. I am impatient to see him.”</span>
          
        </p>
        <p>
          
            <span id="said_no_00951" class="said" data-toggle="tooltip" title="Mary Bennet" data-placement="auto top">“In point of composition,”</span>
            <span id="said_no_00952" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mary, </span>
            <span id="said_no_00953" class="said" data-toggle="tooltip" title="Mary Bennet" data-placement="auto top">“the letter does not seem defective. The idea of the olive-branch perhaps is not
              wholly new, yet I think it is well expressed.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00954" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">To Catherine and Lydia, neither the letter nor its writer were in any degree interesting. It was
              next to impossible that their cousin should come in a scarlet coat, and it was now some weeks since they had received pleasure from the society of
              a man in any other colour. As for their mother, Mr. Collins's letter had done away much of her ill-will, and she was preparing to see him with a
              degree of composure which astonished her husband and daughters.</span>
          
        </p>
        <p>
          
            <span id="said_no_00955" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins was punctual to his time, and was received with great politeness by the whole
              family. Mr. Bennet indeed said little; but the ladies were ready enough to talk, and Mr. Collins seemed neither in need of encouragement, nor
              inclined to be silent himself. He was a tall, heavy-looking young man of five-and-twenty. His air was grave and stately, and his manners were very
              formal. He had not been long seated before</span>
            <span id="said_no_00956" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he complimented Mrs. Bennet on</span>
            <span id="said_no_00957" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">having so fine a family of
              daughters;</span>
            <span id="said_no_00958" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">said</span>
            <span id="said_no_00959" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">he had heard much of their
              beauty, but that in this instance fame had fallen short of the truth;</span>
            <span id="said_no_00960" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_00961" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">added, that</span>
            <span id="said_no_00962" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">he did not doubt her seeing
              them all in due time well disposed of in marriage.</span>
            <span id="said_no_00963" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This gallantry was not much to the taste of some of his hearers; but Mrs. Bennet, who quarreled
              with no compliments, answered most readily.</span>
          
        </p>
        <p>
          
            <span id="said_no_00964" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“You are very kind, I am sure; and I wish with all my heart it may prove
              so, for else they will be destitute enough. Things are settled so oddly.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00965" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“You allude, perhaps, to the entail of this estate.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00966" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Ah! sir, I do indeed. It is a grievous affair to my poor girls, you
              must confess. Not that I mean to find fault with you, for such things I know are all chance in this world. There is no
              knowing how estates will go when once they come to be entailed.” </span>
          
        </p>
        <p>
          
            <span id="said_no_00967" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“I am very sensible, madam, of the hardship to my fair cousins, and could say much
              on the subject, but that I am cautious of appearing forward and precipitate. But I can assure the young ladies that I come prepared to admire
              them. At present I will not say more; but, perhaps, when we are better acquainted —” </span>
          
        </p>
        <p>
          
            <span id="said_no_00968" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He was interrupted by a summons to dinner; and the girls smiled on each other. They were not the
              only objects of Mr. Collins's admiration. The hall, the dining-room, and all its furniture, were examined and praised; and his commendation of
              everything would have touched Mrs. Bennet's heart, but for the mortifying supposition of his viewing it all as his own future property. The dinner
              too in its turn was highly admired; and</span>
            <span id="said_no_00969" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he begged to know</span>
            <span id="said_no_00970" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">to which of his fair cousins
              the excellency of its cooking was owing.</span>
            <span id="said_no_00971" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But he was set right there by</span>
            <span id="said_no_00972" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Bennet, who assured him with some asperity that</span>
            <span id="said_no_00973" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">they were very well able to
              keep a good cook,</span>
            <span id="said_no_00974" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_00975" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_00976" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">her daughters had nothing to
              do in the kitchen.</span>
            <span id="said_no_00977" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He</span>
            <span id="said_no_00978" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">begged pardon for having
              displeased her.</span>
            <span id="said_no_00979" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In a softened tone</span>
            <span id="said_no_00980" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she declared</span>
            <span id="said_no_00981" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">herself not at all
              offended;</span>
            <span id="said_no_00982" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but he continued to apologise for about a quarter of an hour.</span>
          
        </p>
      
  <div class="footnotes"> </div>
