

   
  
    
        <h3>Chapter 29</h3>
        <p>
          
            <span id="said_no_02138" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins's triumph, in consequence of this invitation, was complete.
              The power of displaying the grandeur of his patroness to his wondering visitors, and of letting them see her civility towards himself and his
              wife, was exactly what he had wished for; and that an opportunity of doing it should be given so soon, was such an instance of Lady Catherine's
              condescension, as he knew not how to admire enough.</span>
          
        </p>
        <p>
          
            <span id="said_no_02139" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“I confess,”</span>
            <span id="said_no_02140" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_02141" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“that I should not have been at all surprised by her ladyship's asking us on Sunday
              to drink tea and spend the evening at Rosings. I rather expected, from my knowledge of her affability, that it would happen. But who could have
              foreseen such an attention as this? Who could have imagined that we should receive an invitation to dine there (an invitation, moreover, including
              the whole party) so immediately after your arrival!”</span>
          
          
            <span id="said_no_02142" class="said" data-toggle="tooltip" title="Sir William Lucas" data-placement="auto top">“I am the less surprised at what has happened,”</span>
            <span id="said_no_02143" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Sir William, </span>
            <span id="said_no_02144" class="said" data-toggle="tooltip" title="Sir William Lucas" data-placement="auto top">“from that knowledge of what the manners of the great really are, which my situation
              in life has allowed me to acquire. About the court, such instances of elegant breeding are not uncommon.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02145" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Scarcely anything was talked of the whole day or next morning but their visit to Rosings. Mr.
              Collins was carefully instructing them in what they were to expect, that the sight of such rooms, so many servants, and so splendid a dinner,
              might not wholly overpower them.</span>
          
        </p>
        <p>
          
            <span id="said_no_02146" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When the ladies were separating for the toilette, he said to Elizabeth— </span>
          
        </p>
        <p>
          
            <span id="said_no_02147" class="said" data-toggle="tooltip" title="Mr. Collins" data-placement="auto top">“Do not make yourself uneasy, my dear cousin, about your apparel. Lady Catherine is
              far from requiring that elegance of dress in us which becomes herself and her daughter. I would advise you merely to put on whatever of your
              clothes is superior to the rest — there is no occasion for anything more. Lady Catherine will not think the worse of you for being simply
              dressed. She likes to have the distinction of rank preserved.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02148" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">While they were dressing,</span>
            <span id="said_no_02149" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he came</span>
            <span id="said_no_02150" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">two or three times to their different doors,</span>
            <span id="said_no_02151" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">to</span>
            <span id="said_no_02152" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">recommend their being quick,
              as Lady Catherine very much objected to be kept waiting for her dinner.</span>
            <span id="said_no_02153" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Such formidable accounts of her ladyship, and her manner of living, quite frightened Maria Lucas
              who had been little used to company, and she looked forward to her introduction at Rosings with as much apprehension as her father had done to his
              presentation at St. James's.</span>
          
        </p>

        <p>
          
            <span id="said_no_02154" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">As the weather was fine, they had a pleasant walk of about half a mile across the park. Every
              park has its beauty and its prospects; and Elizabeth saw much to be pleased with, though she could not be in such raptures as Mr. Collins expected
              the scene to inspire, and was but slightly affected by his enumeration of the windows in front of the house, and his relation of what the glazing
              altogether had originally cost Sir Lewis de Bourgh.</span>
          
        </p>
        <p>
          
            <span id="said_no_02155" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When they ascended the steps to the hall, Maria's alarm was every moment increasing, and even
              Sir William did not look perfectly calm. Elizabeth's courage did not fail her. She had heard nothing of Lady Catherine that spoke her awful from
              any extraordinary talents or miraculous virtue, and</span>
            <span id="said_no_02156" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">the mere stateliness of
              money or rank</span>
            <span id="said_no_02157" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she thought</span>
            <span id="said_no_02158" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">she could witness without
              trepidation.</span>
          
        </p>

        <p>
          
            <span id="said_no_02159" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">From the entrance-hall, of which Mr. Collins pointed out, with a rapturous air, the fine
              proportion and the finished ornaments, they followed the servants through an ante-chamber, to the room where Lady Catherine, her daughter, and
              Mrs. Jenkinson were sitting. Her ladyship, with great condescension, arose to receive them; and as Mrs. Collins had settled it with her husband
              that the office of introduction should be hers, it was performed in a proper manner, without any of those apologies and thanks which he would have
              thought necessary.</span>
          
        </p>
        <p>
          
            <span id="said_no_02160" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In spite of having been at St. James's Sir William was so completely awed by the grandeur
              surrounding him, that he had but just courage enough to make a very low bow, and take his seat without saying a word; and his daughter, frightened
              almost out of her senses, sat on the edge of her chair, not knowing which way to look. Elizabeth found herself quite equal to the scene, and could
              observe the three ladies before her composedly. Lady Catherine was a tall, large woman, with strongly-marked features, which might once have been
              handsome. Her air was not conciliating, nor was her manner of receiving them such as to make her visitors forget their inferior rank. She was not
              rendered formidable by silence; but whatever she said was spoken in so authoritative a tone, as marked her self-importance, and brought Mr.
              Wickham immediately to Elizabeth's mind; and from the observation of the day altogether,</span>
            <span id="said_no_02161" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she believed</span>
            <span id="said_no_02162" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">Lady Catherine to be
              exactly what he had represented.</span>
          
        </p>
        <p>
          
            <span id="said_no_02163" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When, after examining the mother, in whose countenance and deportment she soon found some
              resemblance of Mr. Darcy, she turned her eyes on the daughter, she could almost have joined in Maria's astonishment at her being so thin, and so
              small. There was neither in figure nor face any likeness between the ladies. Miss de Bourgh was pale and sickly; her features, though not plain,
              were insignificant; and she spoke very little, except in a low voice, to Mrs. Jenkinson, in whose appearance there was nothing remarkable, and who
              was entirely engaged in listening to what she said, and placing a screen in the proper direction before her eyes.</span>
          
        </p>
        <p>
          
            <span id="said_no_02164" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">After sitting a few minutes, they were all sent to one of the windows to admire the view, Mr.
              Collins attending them to point out its beauties, and</span>
            <span id="said_no_02165" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lady Catherine kindly informing them that</span>
            <span id="said_no_02166" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top">it was much better worth
              looking at in the summer.</span>
          
        </p>
        <p>
          
            <span id="said_no_02167" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The dinner was exceedingly handsome, and there were all the servants and all the articles of
              plate which Mr. Collins had promised; and, as he had likewise foretold, he took his seat at the bottom of the table, by her ladyship's desire, and
              looked as if he felt that life could furnish nothing greater. He carved, and ate, and praised with delighted alacrity; and every dish was
              commended, first by him and then by Sir William, who was now enough recovered to echo whatever his son-in-law said, in a manner which Elizabeth
              wondered Lady Catherine could bear. But Lady Catherine seemed gratified by their excessive admiration, and gave most gracious smiles, especially
              when any dish on the table proved a novelty to them. The party did not supply much conversation. Elizabeth was ready to speak whenever there was
              an opening, but she was seated between Charlotte and Miss de Bourgh — the former of whom was engaged in listening to Lady Catherine, and the
              latter said not a word to her all dinner-time.</span>
            <span id="said_no_02168" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Jenkinson</span>
            <span id="said_no_02169" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was chiefly employed in watching how little Miss de Bourgh ate,</span>
            <span id="said_no_02170" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">pressing her</span>
            <span id="said_no_02171" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_jenk" data-placement="auto top">to try some other
              dish,</span>
            <span id="said_no_02172" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_02173" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">fearing</span>
            <span id="said_no_02174" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_jenk" data-placement="auto top">she was indisposed.</span>
            <span id="said_no_02175" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Maria thought speaking out of the question, and the gentlemen did nothing but eat and
              admire.</span>
          
        </p>
        <p>
          
            <span id="said_no_02176" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When the ladies returned to the drawing-room, there was little to be done but to hear Lady
              Catherine talk, which she did without any intermission till coffee came in, delivering her opinion on every subject in so decisive a manner, as
              proved that she was not used to have her judgement controverted. She inquired into Charlotte's domestic concerns familiarly and minutely, and gave
              her a great deal of advice as to the management of them all; told her how everything ought to be regulated in so small a family as hers, and
              instructed her as to the care of her cows and her poultry.</span>
            <span id="said_no_02177" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth found that</span>
            <span id="said_no_02178" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">nothing was beneath this
              great lady's attention, which could furnish her with an occasion of dictating to others.</span>
            <span id="said_no_02179" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In the intervals of her discourse with Mrs. Collins, she addressed a variety of questions to
              Maria and Elizabeth, but especially to the latter, of whose connections she knew the least, and</span>
            <span id="said_no_02180" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">who she observed to Mrs. Collins</span>
            <span id="said_no_02181" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top">was a very genteel, pretty kind
              of girl.</span>
            <span id="said_no_02182" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She asked her, at different times,</span>
            <span id="said_no_02183" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top">how many sisters she had,
              whether they were older or younger than herself, whether any of them were likely to be married, whether they were handsome, where they had been
              educated, what carriage her father kept, and what had been her mother's maiden name?</span>
            <span id="said_no_02184" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth felt all the impertinence of her questions but answered them very composedly. Lady
              Catherine then observed, </span>
          
        </p>
        <p>
          
            <span id="said_no_02185" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Your father's estate is entailed on Mr. Collins, I think. For your sake,”</span>
            <span id="said_no_02186" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> turning to Charlotte, </span>
            <span id="said_no_02187" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“I am glad of it; but otherwise I see no occasion for entailing estates from the
              female line. It was not thought necessary in Sir Lewis de Bourgh's family. Do you play and sing, Miss Bennet?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02188" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“A little.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02189" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Oh! then — some time or other we shall be happy to hear you. Our instrument is
              a capital one, probably superior to —— You shall try it some day. Do your sisters play and sing?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02190" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“One of them does.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02191" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Why did not you all learn? You ought all to have learned. The Miss Webbs all play,
              and their father has not so good an income as yours. Do you draw?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02192" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“No, not at all.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02193" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“What, none of you?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02194" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Not one.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02195" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“That is very strange. But I suppose you had no opportunity. Your mother should have
              taken you to town every spring for the benefit of masters.” </span>
          
        </p>

        <p>
          
            <span id="said_no_02196" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“My mother would have had no objection, but my father hates London.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02197" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Has your governess left you?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02198" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“We never had any governess.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02199" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“No governess! How was that possible? Five daughters brought up at home without a
              governess! I never heard of such a thing. Your mother must have been quite a slave to your education.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02200" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth could hardly help smiling as</span>
            <span id="said_no_02201" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she assured her that</span>
            <span id="said_no_02202" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">had not been the
              case.</span>
          
        </p>
        <p>
          
            <span id="said_no_02203" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Then, who taught you? who attended to you? Without a governess you must have been
              neglected.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02204" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Compared with some families, I believe we were; but such of us as wished to learn
              never wanted the means. We were always encouraged to read, and had all the masters that were necessary. Those who chose to be idle, certainly
              might.” </span>
          
        </p>

        <p>
          
            <span id="said_no_02205" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Aye, no doubt; but that is what a governess will prevent, and if I had known your
              mother, I should have advised her most strenuously to engage one. I always say that nothing is to be done in education without steady and regular
              instruction, and nobody but a governess can give it. It is wonderful how many families I have been the means of supplying in that way. I am always
              glad to get a young person well placed out. Four nieces of Mrs. Jenkinson are most delightfully situated through my means; and it was but the
              other day that I recommended another young person, who was merely accidentally mentioned to me, and the family are quite delighted with her. Mrs.
              Collins, did I tell you of Lady Metcalf's calling yesterday to thank me? She finds Miss Pope a treasure.</span>
            <span id="said_no_02206" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.001.deb_lmet" data-placement="auto top">'Lady Catherine,'</span>
            <span id="said_no_02207" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">said she,</span>
            <span id="said_no_02208" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="aus.001.deb_lmet" data-placement="auto top">'you have given me a
              treasure.'</span>
            <span id="said_no_02209" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">Are any of your younger sisters out, Miss Bennet?” </span>
          
        </p>

        <p>
          
            <span id="said_no_02210" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes, ma'am, all.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02211" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“All! What, all five out at once? Very odd! And you only the second. The younger ones
              out before the elder ones are married! Your younger sisters must be very young?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02212" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes, my youngest is not sixteen. Perhaps she is full young to
              be much in company. But really, ma'am, I think it would be very hard upon younger sisters, that they should not have their share of society and
              amusement, because the elder may not have the means or inclination to marry early. The last-born has as good a right to the pleasures of youth, as
              the first. And to be kept back on such a motive! I think it would not be very likely to promote sisterly affection or
              delicacy of mind.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02213" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Upon my word,”</span>
            <span id="said_no_02214" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her ladyship, </span>
            <span id="said_no_02215" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“you give your opinion very decidedly for so young a person. Pray, what is your age?”
            </span>
          
        </p>

        <p>
          
            <span id="said_no_02216" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“With three younger sisters grown up,”</span>
            <span id="said_no_02217" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Elizabeth, smiling, </span>
            <span id="said_no_02218" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“your ladyship can hardly expect me to own it.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02219" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lady Catherine seemed quite astonished at not receiving a direct answer; and</span>
            <span id="said_no_02220" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth suspected herself to be</span>
            <span id="said_no_02221" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">the first creature who had
              ever dared to trifle with so much dignified impertinence. </span>
          
        </p>
        <p>
          
            <span id="said_no_02222" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“You cannot be more than twenty, I am sure, therefore you need not conceal your age.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_02223" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I am not one-and-twenty.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02224" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When the gentlemen had joined them, and tea was over, the card-tables were placed. Lady
              Catherine, Sir William, and Mr. and Mrs. Collins sat down to quadrille; and as Miss de Bourgh chose to play at cassino, the two girls had the
              honour of assisting Mrs. Jenkinson to make up her party. Their table was superlatively stupid. Scarcely a syllable was uttered that did not relate
              to the game, except when</span>
            <span id="said_no_02225" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Jenkinson expressed her fears of</span>
            <span id="said_no_02226" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_jenk" data-placement="auto top">Miss de Bourgh's being too
              hot or too cold, or having too much or too little light.</span>
            <span id="said_no_02227" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">A great deal more passed at the other table. Lady Catherine was generally speaking —
              stating the mistakes of the three others, or relating some anecdote of herself. Mr. Collins was employed in agreeing to everything her ladyship
              said, thanking her for every fish he won, and apologising if he thought he won too many. Sir William did not say much. He was storing his memory
              with anecdotes and noble names.</span>
          
        </p>
        <p>
          
            <span id="said_no_02228" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When Lady Catherine and her daughter had played as long as they chose, the tables were broken
              up, the carriage was offered to Mrs. Collins, gratefully accepted and immediately ordered. The party then gathered round the fire to hear Lady
              Catherine determine what weather they were to have on the morrow. From these instructions they were summoned by the arrival of the coach; and with
              many speeches of thankfulness on Mr. Collins's side and as many bows on Sir William's they departed. As soon as they had driven from the
              door,</span>
            <span id="said_no_02229" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth was called on by her cousin</span>
            <span id="said_no_02230" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_coll" data-placement="auto top">to give her opinion of all
              that she had seen at Rosings,</span>
            <span id="said_no_02231" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">which, for Charlotte's sake, she made more favourable than it really was. But her commendation,
              though costing her some trouble, could by no means satisfy Mr. Collins, and he was very soon obliged to take her ladyship's praise into his own
              hands. </span>
          
        </p>
      
  <div class="footnotes"> </div>
