

   
  
    
        <h3>Chapter 21</h3>
        <p>
          
            <span id="said_no_01654" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The discussion of Mr. Collins's offer was now nearly at an end, and
              Elizabeth had only to suffer from the uncomfortable feelings necessarily attending it, and occasionally from some peevish allusions of her mother.
              As for the gentleman himself, his feelings were chiefly expressed, not by embarrassment or dejection, or by trying to avoid
              her, but by stiffness of manner and resentful silence. He scarcely ever spoke to her, and the assiduous attentions which he had been so sensible
              of himself were transferred for the rest of the day to Miss Lucas, whose civility in listening to him was a seasonable relief to them all, and
              especially to her friend.</span>
          
        </p>

        <p>
          
            <span id="said_no_01655" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The morrow produced no abatement of Mrs. Bennet's ill-humour or ill health. Mr. Collins was also
              in the same state of angry pride. Elizabeth had hoped that his resentment might shorten his visit, but his plan did not appear in the least
              affected by it. He was always to have gone on Saturday, and to Saturday he stil meant to stay.</span>
          
        </p>
        <p>
          
            <span id="said_no_01656" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">After breakfast, the girls walked to Meryton to inquire if Mr. Wickham were returned, and to
              lament over his absence from the Netherfield ball. He joined them on their entering the town, and attended them to their aunt's where his regret
              and vexation, and the concern of everybody was well talked over. To Elizabeth, however,</span>
            <span id="said_no_01657" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he voluntarily acknowledged that</span>
            <span id="said_no_01658" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_wick" data-placement="auto top">the necessity of his absence
                had been self-imposed. </span>
          
        </p>
        <p>
          
            <span id="said_no_01659" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“I found,”</span>
            <span id="said_no_01660" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said he, </span>
            <span id="said_no_01661" class="said" data-toggle="tooltip" title="Mr. Wickham" data-placement="auto top">“as the time drew near that I had better not meet Mr. Darcy; that to be in the same
              room, the same party with him for so many hours together, might be more than I could bear, and that scenes might arise unpleasant to more than
              myself.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01662" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She highly approved his forbearance, and they had leisure for a full discussion of it, and for
              all the commendation which they civilly bestowed on each other, as Wickham and another officer walked back with them to Longbourn, and during the
              walk he particularly attended to her. His accompanying them was a double advantage; she felt all the compliment it offered to herself, and it was
              most acceptable as an occasion of introducing him to her father and mother.</span>
          
        </p>
        <p>
          
            <span id="said_no_01663" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Soon after their return, a letter was delivered to Miss Bennet; it came from Netherfield. The
              envelope contained a sheet of elegant, little, hot-pressed paper, well covered with a lady's fair, flowing hand; and Elizabeth saw her sister's
              countenance change as she read it, and saw her dwelling intently on some particular passages. Jane recollected herself soon, and putting the
              letter away, tried to join with her usual cheerfulness in the general conversation; but Elizabeth felt an anxiety on the subject which drew off
              her attention even from Wickham; and no sooner had he and his companion taken leave, than a glance from Jane invited her to follow her upstairs.
              When they had gained their own room, Jane, taking out the letter, said:</span>
          
        </p>
        <p>
          
            <span id="said_no_01664" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“This is from Caroline Bingley; what it contains has surprised me a good deal. The
              whole party have left Netherfield by this time, and are on their way to town — and without any intention of coming back again. You shall
              hear what she says.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01665" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She then read the first sentence aloud, which</span>
            <span id="said_no_01666" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">comprised the information</span>
            <span id="said_no_01667" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_msb" data-placement="auto top">of their having just resolved
              to follow their brother to town directly,</span>
            <span id="said_no_01668" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01669" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_msb" data-placement="auto top">of their meaning to dine that
              day in Grosvenor Street, where Mr. Hurst had a house.</span>
            <span id="said_no_01670" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The next was in these words:</span>
            <span id="said_no_01671" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“I do not pretend to regret anything I shall leave in Hertfordshire, except your society, my
              dearest friend; but we will hope, at some future period, to enjoy many returns of that delightful intercourse we have known, and in the meanwhile
              may lessen the pain of separation by a very frequent and most unreserved correspondence. I depend on you for that.”</span>
            <span id="said_no_01672" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">To these highflown expressions Elizabeth listened with all the insensibility of distrust; and
              though the suddenness of their removal surprised her, she saw nothing in it really to lament;</span>
            <span id="said_no_01673" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">it was not to be supposed
              that their absence from Netherfield would prevent Mr. Bingley's being there;</span>
            <span id="said_no_01674" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and as to the loss of their society,</span>
            <span id="said_no_01675" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she was persuaded that</span>
            <span id="said_no_01676" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">Jane must soon cease to
              regard it, in the enjoyment of his.</span>
          
        </p>
        <p>
          
            <span id="said_no_01677" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“It is unlucky,”</span>
            <span id="said_no_01678" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, after a short pause, </span>
            <span id="said_no_01679" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“that you should not be able to see your friends before they leave the country. But
              may we not hope that the period of future happiness to which Miss Bingley looks forward may arrive earlier than she is aware, and that the
              delightful intercourse you have known as friends will be renewed with yet greater satisfaction as sisters? Mr. Bingley will not be detained in
              London by them.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01680" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Caroline decidedly says that</span>
            <span id="said_no_01681" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.jane_msb" data-placement="auto top">none of the party will
              return into Hertfordshire this winter.</span>
            <span id="said_no_01682" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">I will read it to you.</span>
          
        </p>
        <p>
          
            <span id="said_no_01683" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“When my brother left us yesterday, he imagined that the business which took him to
              London might be concluded in three or four days; but as we are certain it cannot be so, and at the same time convinced that when Charles gets to
              town he will be in no hurry to leave it again, we have determined on following him thither, that he may not be obliged to spend his vacant hours
              in a comfortless hotel. Many of my acquaintances are already there for the winter; I wish that I could hear that you, my dearest friend, had any
              intention of making one of the crowd — but of that I despair. I sincerely hope your Christmas in Hertfordshire may abound in the gaieties
              which that season generally brings, and that your beaux will be so numerous as to prevent your feeling the loss of the three of whom we shall
              deprive you.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01684" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“It is evident by this,”</span>
            <span id="said_no_01685" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> added Jane, </span>
            <span id="said_no_01686" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“that he comes back no more this winter.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01687" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“It is only evident that Miss Bingley does not mean that he should.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01688" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Why will you think so? It must be his own doing. He is his own master. But you do
              not know all. I will read you the passage which particularly hurts me. I will have no reserves from you.”</span>
          
          
            <span id="said_no_01689" class="said" data-toggle="tooltip" title="Miss Bingley" data-placement="auto top">“Mr. Darcy is impatient to see his sister; and, to confess the truth, we are scarcely less eager to meet her again. I really do not think Georgiana Darcy has her equal for beauty, elegance, and
              accomplishments; and the affection she inspires in Louisa and myself is heightened into something still more interesting, from the hope we dare to
              entertain of her being hereafter our sister. I do not know whether I ever before mentioned to you my feelings on this subject; but I will not
              leave the country without confiding them, and I trust you will not esteem them unreasonable. My brother admires her greatly already; he will have
              frequent opportunity now of seeing her on the most intimate footing; her relations all wish the connection as much as his own; and a sister's
              partiality is not misleading me, I think, when I call Charles most capable of engaging any woman's heart. With all these circumstances to favour
              an attachment, and nothing to prevent it, am I wrong, my dearest Jane, in indulging the hope of an event which will secure the happiness of so
              many?”</span>
          
          
            <span id="said_no_01690" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“What do you think of this sentence, my dear Lizzy?”</span>
            <span id="said_no_01691" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">— said Jane as she finished it.</span>
            <span id="said_no_01692" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Is it not clear enough? Does it not expressly declare that Caroline neither expects
              nor wishes me to be her sister; that she is perfectly convinced of her brother's indifference; and that if she suspects the nature of my feelings
              for him, she means (most kindly!) to put me on my guard? Can there be any other opinion on the subject?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01693" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes, there can; for mine is totally different. Will you hear it?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01694" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Most willingly.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01695" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You shall have it in a few words. Miss Bingley sees that her brother is in love with
              you, and wants him to marry Miss Darcy. She follows him to town in the hope of keeping him there, and tries to persuade you that he does not care
              about you.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01696" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Jane shook her head.</span>
          
        </p>
        <p>
          
            <span id="said_no_01697" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Indeed, Jane, you ought to believe me. No one who has ever seen you together can
              doubt his affection. Miss Bingley, I am sure, cannot. She is not such a simpleton. Could she have seen half as much love in Mr. Darcy for herself,
              she would have ordered her wedding clothes. But the case is this: We are not rich enough, or grand enough for them; and she is the more anxious to
              get Miss Darcy for her brother, from the notion that when there has been one intermarriage, she may have less trouble in
              achieving a second; in which there is certainly some ingenuity, and I dare say it would succeed, if Miss de Bourgh were out of the way. But, my
              dearest Jane, you cannot seriously imagine that because Miss Bingley tells you her brother greatly admires Miss Darcy, he is in the smallest
              degree less sensible of your merit than when he took leave of you on Tuesday, or that it will be in her power to persuade him
              that, instead of being in love with you, he is very much in love with her friend.” </span>
          
        </p>

        <p>
          
            <span id="said_no_01698" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“If we thought alike of Miss Bingley,”</span>
            <span id="said_no_01699" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Jane, </span>
            <span id="said_no_01700" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“your representation of all this might make me quite easy. But I know the foundation
              is unjust. Caroline is incapable of wilfully deceiving anyone; and all that I can hope in this case is that she is deceiving herself.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01701" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“That is right. You could not have started a more happy idea, since you will not take
              comfort in mine. Believe her to be deceived, by all means. You have now done your duty by her, and must fret no longer.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01702" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“But, my dear sister, can I be happy, even supposing the best, in accepting a man
              whose sisters and friends are all wishing him to marry elsewhere?” </span>
          
        </p>
        <p>
          
            <span id="said_no_01703" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You must decide for yourself,”</span>
            <span id="said_no_01704" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth; </span>
            <span id="said_no_01705" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“and if, upon mature deliberation, you find that the misery of disobliging his two
              sisters is more than equivalent to the happiness of being his wife, I advise you by all means to refuse him.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01706" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“How can you talk so?”</span>
            <span id="said_no_01707" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">— said Jane, faintly smiling. </span>
            <span id="said_no_01708" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“You must know that though I should be exceedingly grieved at their disapprobation, I
              could not hesitate.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01709" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I did not think you would; and that being the case, I cannot consider your situation
              with much compassion.” </span>
          
        </p>
        <p>
          
            <span id="said_no_01710" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“But if he returns no more this winter, my choice will never be required. A thousand
              things may arise in six months!” </span>
          
        </p>
        <p>
          
            <span id="said_no_01711" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The idea of his returning no more Elizabeth treated with the utmost contempt.</span>
            <span id="said_no_01712" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">It appeared to her</span>
            <span id="said_no_01713" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">merely the suggestion of
              Caroline's interested wishes,</span>
            <span id="said_no_01714" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_01715" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she could not for a moment suppose that</span>
            <span id="said_no_01716" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">those wishes, however
              openly or artfully spoken, could influence a young man so totally independent of everyone.</span>
          
        </p>

        <p>
          
            <span id="said_no_01717" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She represented to her sister as forcibly as possible what she felt on the subject, and had soon
              the pleasure of seeing its happy effect. Jane's temper was not desponding, and she was gradually led to hope, though the diffidence of affection
              sometimes overcame the hope, that Bingley would return to Netherfield and answer every wish of her heart.</span>
          
        </p>
        <p>
          
            <span id="said_no_01718" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They agreed that Mrs. Bennet should only hear of the departure of the family, without being
              alarmed on the score of the gentleman's conduct; but even this partial communication gave her a great deal of concern, and</span>
            <span id="said_no_01719" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she bewailed it as exceedingly unlucky that</span>
            <span id="said_no_01720" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">the ladies should happen to
              go away just as they were all getting so intimate together.</span>
            <span id="said_no_01721" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">After lamenting it, however, at some length,</span>
            <span id="said_no_01722" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she had the consolation of thinking that</span>
            <span id="said_no_01723" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">Mr. Bingley would be soon
              down again and soon dining at Longbourn,</span>
            <span id="said_no_01724" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and the conclusion of all was</span>
            <span id="said_no_01725" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">the comfortable declaration, that</span>
            <span id="said_no_01726" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top">though he had been invited
              only to a family dinner, she would take care to have two full courses.</span>
          
        </p>
      
  <div class="footnotes"> </div>
