

   
  
    
        <h3>Chapter 43</h3>
        <p>
          
            <span id="said_no_03113" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth, as they drove along, watched for the first appearance of
              Pemberley Woods with some perturbation; and when at length they turned in at the lodge, her spirits were in a high flutter.</span>
          
        </p>
        <p>
          
            <span id="said_no_03114" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The park was very large, and contained great variety of ground. They entered it in one of its
              lowest points, and drove for some time through a beautiful wood stretching over a wide extent.</span>
          
        </p>
        <p>
          
            <span id="said_no_03115" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth's mind was too full for conversation, but she saw and admired every remarkable spot
              and point of view. They gradually ascended for half-a-mile, and then found themselves at the top of a considerable eminence, where the wood
              ceased, and the eye was instantly caught by Pemberley House, situated on the opposite side of a valley, into which the road with some abruptness
              wound. It was a large, handsome stone building, standing well on rising ground, and backed by a ridge of high woody hills; and in front, a stream
              of some natural importance was swelled into greater, but without any artificial appearance. Its banks were neither formal nor falsely adorned.
              Elizabeth was delighted.</span>
            <span id="said_no_03116" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She had never seen</span>
            <span id="said_no_03117" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> a place for which nature
              had done more, or where natural beauty had been so little counteracted by an awkward taste.</span>
            <span id="said_no_03118" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They were all of them warm in their admiration;</span>
            <span id="said_no_03119" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and at that moment she felt that</span>
            <span id="said_no_03120" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> to be mistress of Pemberley
              might be something!</span>
          
        </p>

        <p>
          
            <span id="said_no_03121" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They descended the hill, crossed the bridge, and drove to the door; and, while examining the
              nearer aspect of the house, all her apprehension of meeting its owner returned.</span>
            <span id="said_no_03122" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She dreaded</span>
            <span id="said_no_03123" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> lest the chambermaid had
              been mistaken.</span>
            <span id="said_no_03124" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">On applying to see the place, they were admitted into the hall; and </span>
            <span id="said_no_03125" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth, as they waited for the housekeeper, had leisure to wonder at</span>
            <span id="said_no_03126" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> her being where she
              was.</span>
          
        </p>
        <p>
          
            <span id="said_no_03127" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The housekeeper came;</span>
            <span id="said_no_03128" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> a respectable-looking
              elderly woman, much less fine, and more civil,</span>
            <span id="said_no_03129" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">than she had any notion of finding her.</span>
            <span id="said_no_03130" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They followed her into the dining-parlour. It was a large, well proportioned room, handsomely
              fitted up. Elizabeth, after slightly surveying it, went to a window to enjoy its prospect. The hill, crowned with wood, from which they had
              descended, receiving increased abruptness from the distance, was a beautiful object. Every disposition of the ground was good; and she looked on
              the whole scene, the river, the trees scattered on its banks and the winding of the valley, as far as she could trace it, with delight. As they
              passed into other rooms these objects were taking different positions; but from every window there were beauties to be seen. The rooms were lofty
              and handsome, and their furniture suitable to the fortune of its proprietor;</span>
            <span id="said_no_03131" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but Elizabeth saw,</span>
            <span id="said_no_03132" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">with admiration of his taste,</span>
            <span id="said_no_03133" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that</span>
            <span id="said_no_03134" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> it was neither gaudy nor
              uselessly fine; with less of splendour, and more real elegance, than the furniture of Rosings.</span>
          
        </p>
        <p>
          
            <span id="said_no_03135" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And of this place,”</span>
            <span id="said_no_03136" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> thought she, </span>
            <span id="said_no_03137" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I might have been mistress! With these rooms I might now have been familiarly
              acquainted! Instead of viewing them as a stranger, I might have rejoiced in them as my own, and welcomed to them as visitors my uncle and aunt.
              But no,”</span>
            <span id="said_no_03138" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">— recollecting herself — </span>
            <span id="said_no_03139" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">that could never be; my uncle and aunt would have been lost to me; I should not have
              been allowed to invite them.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03140" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This was a lucky recollection — it saved her from something very like regret.</span>
          
        </p>
        <p>
          <span id="said_no_03141" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She longed to inquire of the housekeeper</span>
          <span id="said_no_03142" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> whether her master was
            really absent,</span>
          <span id="said_no_03143" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but had not the courage for it. At length however, the question was asked by her uncle; and she
            turned away with alarm, while</span>
          <span id="said_no_03144" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Reynolds replied that</span>
          <span id="said_no_03145" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_rey" data-placement="auto top"> he was,</span>
          <span id="said_no_03146" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">adding,</span>
          
            <span id="said_no_03147" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“But we expect him to-morrow, with a large party of friends.”</span>
          
          <span id="said_no_03148" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> How rejoiced was Elizabeth that</span>
          <span id="said_no_03149" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> their own journey had not by
            any circumstance been delayed a day! </span>
        </p>
        <p>
          <span id="said_no_03150" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her aunt now called her to look at a picture. She approached and saw the likeness of Mr. Wickham,
            suspended, amongst several other miniatures, over the mantlepiece.</span>
          <span id="said_no_03151" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her aunt asked her, smilingly,</span>
          <span id="said_no_03152" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_mrsg" data-placement="auto top"> how she liked it.</span>
          <span id="said_no_03153" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The housekeeper came forward, and</span>
          <span id="said_no_03154" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">told them</span>
          <span id="said_no_03155" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_rey" data-placement="auto top"> it was a picture of a young
            gentleman, the son of her late master's steward, who had been brought up by him at his own expense.</span>
          
            <span id="said_no_03156" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“He is now gone into the army,”</span>
            <span id="said_no_03157" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she added; </span>
            <span id="said_no_03158" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“but I am afraid he has turned out very wild.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03159" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Gardiner looked at her niece with a smile, but Elizabeth could not return it.</span>
          
        </p>
        <p>
          
            <span id="said_no_03160" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“And that,”</span>
            <span id="said_no_03161" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Reynolds, pointing to another of the miniatures, </span>
            <span id="said_no_03162" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“is my master — and very like him. It was drawn at the same time as the other
              — about eight years ago.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03163" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“I have heard much of your master's fine person,”</span>
            <span id="said_no_03164" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Gardiner, looking at the picture; </span>
            <span id="said_no_03165" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“it is a handsome face. But, Lizzy, you can tell us whether it is like or not.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_03166" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Reynolds respect for Elizabeth seemed to increase on this intimation of her knowing her
              master.</span>
          
        </p>

        <p>
          
            <span id="said_no_03167" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“Does that young lady know Mr. Darcy?” </span>
          
        </p>
        <p>
          <span id="said_no_03168" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth coloured, and said:</span>
          
            <span id="said_no_03169" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“A little.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03170" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“And do not you think him a very handsome gentleman, ma'am?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03171" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes, very handsome.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03172" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“I am sure I know none so handsome; but in the gallery upstairs
              you will see a finer, larger picture of him than this. This room was my late master's favourite room, and these miniatures are just as they used
              to be then. He was very fond of them.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03173" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This accounted to Elizabeth</span>
            <span id="said_no_03174" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> for Mr. Wickham's being
              among them. </span>
          
        </p>
        <p>
          
            <span id="said_no_03175" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Reynolds then directed their attention to one of Miss Darcy, drawn when she was only eight
              years old.</span>
          
        </p>
        <p>
          
            <span id="said_no_03176" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“And is Miss Darcy as handsome as her brother?”</span>
          
          <span id="said_no_03177" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Gardiner.</span>
        </p>
        <p>
          
            <span id="said_no_03178" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“Oh! yes — the handsomest young lady that ever was seen; and so accomplished!
              — She plays and sings all day long. In the next room is a new instrument just come down for her — a present from my master; she comes
              here to-morrow with him.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03179" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Gardiner, whose manners were very easy and pleasant, encouraged her communicativeness by his
              questions and remarks; Mrs. Reynolds, either by pride or attachment, had evidently great pleasure in talking of her master and his sister.</span>
          
        </p>
        <p>
          
            <span id="said_no_03180" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“Is your master much at Pemberley in the course of the year?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03181" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“Not so much as I could wish, sir; but I dare say he may spend half his time here;
              and Miss Darcy is always down for the summer months.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03182" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Except,</span>
            <span id="said_no_03183" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> thought Elizabeth, </span>
            <span id="said_no_03184" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">"when she goes to Ramsgate.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03185" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“If your master would marry, you might see more of him.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03186" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“Yes, sir; but I do not know when that will be. I do not know
              who is good enough for him.” </span>
          
        </p>
        <p>
          <span id="said_no_03187" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. and Mrs. Gardiner smiled. Elizabeth could not help saying, </span>
          
            <span id="said_no_03188" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“It is very much to his credit, I am sure, that you should think so.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03189" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“I say no more than the truth, and everybody will say that knows him,”</span>
            <span id="said_no_03190" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied the other. Elizabeth thought this was going pretty far; and she listened with
              increasing astonishment as the housekeeper added, </span>
            <span id="said_no_03191" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“I have never known a cross word from him in my life, and I have known him ever since
              he was four years old.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03192" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">This was praise, of all
              others most extraordinary, most opposite to her ideas.</span>
            <span id="said_no_03193" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> That he was not a
              good-tempered man</span>
            <span id="said_no_03194" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">had been her firmest opinion.</span>
            <span id="said_no_03195" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her keenest attention was awakened; she longed to hear more, and was grateful to her uncle for
              saying:</span>
          
        </p>
        <p>
          
            <span id="said_no_03196" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“There are very few people of whom so much can be said. You are lucky in having such
              a master.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03197" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“Yes, sir, I know I am. If I were to go through the world, I could not meet with a
              better. But I have always observed, that they who are good-natured when children, are good-natured when they grow up; and he was always the
              sweetest-tempered, most generous-hearted boy in the world.” </span>
          
        </p>
        <p>
          <span id="said_no_03198" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth almost stared at her. </span>
          
            <span id="said_no_03199" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Can this be Mr. Darcy?”</span>
          
          <span id="said_no_03200" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> thought she.</span>
        </p>
        <p>
          
            <span id="said_no_03201" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“His father was an excellent man,”</span>
            <span id="said_no_03202" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Gardiner.</span>
          
        </p>
        <p>
          
            <span id="said_no_03203" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">"Yes, ma'am, that he was indeed; and his son will be just like him — just as
              affable to the poor.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03204" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth listened, wondered, doubted, and was impatient for more. Mrs. Reynolds could interest
              her on no other point. She related the subjects of the pictures, the dimensions of the rooms, and the price of the furniture, in vain. Mr.
              Gardiner, highly amused by the kind of family prejudice to which he attributed her excessive commendation of her master, soon led again to the
              subject; and she dwelt with energy on his many merits as they proceeded together up the great staircase.</span>
          
        </p>
        <p>
          
            <span id="said_no_03205" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“He is the best landlord, and the best master,”</span>
            <span id="said_no_03206" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_03207" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“that ever lived; not like the wild young men nowadays, who think of nothing but
              themselves. There is not one of his tenants or servants but what will give him a good name. Some people call him proud; but I am sure I never saw
              anything of it. To my fancy, it is only because he does not rattle away like other young men.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03208" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“In what an amiable light does this place him!”</span>
            <span id="said_no_03209" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> thought Elizabeth.</span>
          
        </p>
        <p>
          
            <span id="said_no_03210" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“This fine account of him,”</span>
            <span id="said_no_03211" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> whispered her aunt as they walked, </span>
            <span id="said_no_03212" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">is not quite consistent with his behaviour to our poor friend.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03213" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Perhaps we might be deceived.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03214" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“That is not very likely; our authority was too good.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03215" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">On reaching the spacious lobby above </span>
            <span id="said_no_03216" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">they</span>
            <span id="said_no_03217" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">were shown into a very pretty sitting-room, lately fitted up with greater elegance and lightness
              than the apartments below; and</span>
            <span id="said_no_03218" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">were informed that</span>
            <span id="said_no_03219" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_rey" data-placement="auto top"> it was but just done to give
              pleasure to Miss Darcy, who had taken a liking to the room when last at Pemberley.</span>
          
        </p>
        <p>
          
            <span id="said_no_03220" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“He is certainly a good brother,”</span>
          
          <span id="said_no_03221" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth, as she walked towards one of the windows.</span>
        </p>
        <p>
          <span id="said_no_03222" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Reynolds anticipated</span>
          <span id="said_no_03223" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_rey" data-placement="auto top"> Miss Darcy's delight, when she
            should enter the room.</span>
          
            <span id="said_no_03224" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“And this is always the way with him,”</span>
            <span id="said_no_03225" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she added.</span>
            <span id="said_no_03226" class="said" data-toggle="tooltip" title="Mrs. Reynolds" data-placement="auto top">“Whatever can give his sister any pleasure is sure to be done in a moment. There is
              nothing he would not do for her.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03227" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The picture-gallery, and two or three of the principal bedrooms, were all that remained to be
              shown. In the former were many good paintings; but Elizabeth knew nothing of the art; and from such as had been already visible below, she had
              willingly turned to look at some drawings of Miss Darcy's, in crayons, whose subjects were usually more interesting, and also more
              intelligible.</span>
          
        </p>
        <p>
          
            <span id="said_no_03228" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In the gallery there were many family portraits, but they could have little to fix the attention
              of a stranger. Elizabeth walked on in quest of the only face whose features would be known to her. At last it arrested her — and she beheld
              a striking resemblance to Mr. Darcy,</span>
            <span id="said_no_03229" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> with such a smile over the
              face as she remembered to have sometimes seen when he looked at her.</span>
            <span id="said_no_03230" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She stood several minutes before the picture, in earnest contemplation, and returned to it again
              before they quitted the gallery.</span>
            <span id="said_no_03231" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> Mrs. Reynolds informed them that</span>
            <span id="said_no_03232" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_rey" data-placement="auto top"> it had been taken in his
              father's lifetime.</span>
          
        </p>
        <p>
          
            <span id="said_no_03233" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">There was certainly at this moment, in Elizabeth's mind, a more gentle sensation towards the
              original than she had ever felt at the height of their acquaintance.</span>
            <span id="said_no_03234" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> The commendation bestowed
              on him by Mrs. Reynolds was of no trifling nature.</span>
            <span id="said_no_03235" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> What praise is more
              valuable than the praise of an intelligent servant? As a brother, a landlord, a master,</span>
            <span id="said_no_03236" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she considered</span>
            <span id="said_no_03237" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> how many people's happiness
              were in his guardianship! — how much of pleasure or pain was it in his power to bestow! — how much of good or evil must be done by
              him!</span>
            <span id="said_no_03238" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Every idea that had been
              brought forward by the housekeeper was favourable to his character,</span>
            <span id="said_no_03239" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and as she stood before the canvas on which he was represented, and fixed his eyes upon herself,
              she thought of his regard with a deeper sentiment of gratitude than it had ever raised before; she remembered its warmth, and softened its
              impropriety of expression.</span>
          
        </p>
        <p>
          
            <span id="said_no_03240" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When all of the house that was open to general inspection had been seen, they returned
              downstairs, and, taking leave of the housekeeper, were consigned over to the gardener, who met them at the hall-door.</span>
          
        </p>
        <p>
          
            <span id="said_no_03241" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">As they walked across the lawn towards the river, Elizabeth turned back to look again; her uncle
              and aunt stopped also, and</span>
            <span id="said_no_03242" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">while the former was conjecturing</span>
            <span id="said_no_03243" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_mrg" data-placement="auto top"> as to the date of the
              building,</span>
            <span id="said_no_03244" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">the owner of it himself suddenly came forward from the road, which led behind it to the
              stables.</span>
          
        </p>
        <p>
          
            <span id="said_no_03245" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They were within twenty yards of each other, and so abrupt was his appearance, that it was
              impossible to avoid his sight. Their eyes instantly met, and the cheeks of both were overspread with the deepest blush. He absolutely started, and
              for a moment seemed immovable from surprise; but shortly recovering himself, advanced towards the party, and spoke to Elizabeth, if not in terms
              of perfect composure, at least of perfect civility.</span>
          
        </p>
        <p>
          
            <span id="said_no_03246" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She had instinctively turned away; but stopping on his approach, received his compliments with
              an embarrassment impossible to be overcome.</span>
            <span id="said_no_03247" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> Had his first appearance, or his resemblance to the picture they had just been examining, been
              insufficient to assure the other two that</span>
            <span id="said_no_03248" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_mrgmrsg" data-placement="auto top"> they now saw Mr.
              Darcy,</span>
            <span id="said_no_03249" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">the gardener's expression of surprise, on beholding his master, must immediately have told
              it.</span>
            <span id="said_no_03250" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They stood a little aloof while he was talking to their niece, who, astonished and confused,
              scarcely dared lift her eyes to his face, and knew not what answer she returned to his civil inquiries after her family. Amazed at the alteration
              of his manner since they last parted, every sentence that he uttered was increasing her embarrassment; and</span>
            <span id="said_no_03251" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> every idea of the
              impropriety of her being found there </span>
            <span id="said_no_03252" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">recurring to her mind,</span>
            <span id="said_no_03253" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">the few minutes in which they continued together, were some of the most uncomfortable in her
              life. Nor did he seem much more at ease; when he spoke, his accent had none of its usual sedateness; and</span>
            <span id="said_no_03254" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he repeated his inquiries</span>
            <span id="said_no_03255" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> as to the time of her having
              left Longbourn, and of her having stayed in Derbyshire,</span>
            <span id="said_no_03256" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">so often, and in so hurried a way,</span>
            <span id="said_no_03257" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">as plainly spoke the distraction of his thoughts.</span>
          
        </p>
        <p>
          
            <span id="said_no_03258" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">At length every idea seemed to fail him; and, after standing a few moments without saying a
              word, he suddenly recollected himself, and took leave.</span>
          
        </p>
        <p>
          
            <span id="said_no_03259" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The others then joined her, and expressed admiration of his figure; but Elizabeth heard not a
              word, and wholly engrossed by her own feelings, followed them in silence. She was overpowered by shame and vexation.</span>
            <span id="said_no_03260" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Her coming there was the
              most unfortunate, the most ill-judged thing in the world! How strange it must appear to him! In what a disgraceful light might it not strike so
              vain a man! It might seem as if she had purposely thrown herself in his way again! Oh! why did she come? Or, why did he thus come a day before he
              was expected? Had they been only ten minutes sooner, they should have been beyond the reach of his discrimination; for it was plain that he was
              that moment arrived — that moment alighted from his horse or his carriage.</span>
            <span id="said_no_03261" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She blushed again and again over the perverseness of the meeting.</span>
            <span id="said_no_03262" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> And his behaviour, so
              strikingly altered — what could it mean? That he should even speak to her was amazing! — but to speak with such civility, to inquire
              after her family! Never in her life had she seen his manners so little dignified, never had he spoken with such gentleness as on this unexpected
              meeting. What a contrast did it offer to his last address in Rosings Park, when he put his letter into her hand!</span>
            <span id="said_no_03263" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She knew not what to think, or how to account for it.</span>
          
        </p>
        <p>
          
            <span id="said_no_03264" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They had now entered a beautiful walk by the side of the water, and every step was bringing
              forward a nobler fall of ground, or a finer reach of the woods to which they were approaching; but it was some time before Elizabeth was sensible
              of any of it; and, though she answered mechanically to the repeated appeals of her uncle and aunt, and seemed to direct her eyes to such objects
              as they pointed out, she distinguished no part of the scene.</span>
            <span id="said_no_03265" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her thoughts were all fixed</span>
            <span id="said_no_03266" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> on that one spot of
              Pemberley House, whichever it might be, where Mr. Darcy then was.</span>
            <span id="said_no_03267" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She longed to know </span>
            <span id="said_no_03268" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> what at the moment was
              passing in his mind — in what manner he thought of her, and whether, in defiance of everything, she was still dear to him.</span>
            <span id="said_no_03269" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Perhaps he had been civil
              only because he felt himself at ease; yet there had been that in his voice which was not like ease.</span>
            <span id="said_no_03270" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Whether he had felt more
              of pain or of pleasure in seeing her </span>
            <span id="said_no_03271" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she could not tell,</span>
            <span id="said_no_03272" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> but he certainly had not
              seen her with composure. </span>
          
        </p>
        <p>
          
            <span id="said_no_03273" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">At length, however, the remarks of her companions on her absence of mind aroused her, and she
              felt the necessity of appearing more like herself.</span>
          
        </p>
        <p>
          
            <span id="said_no_03274" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They entered the woods, and bidding adieu to the river for a while, ascended some of the higher
              grounds; when, in spots where the opening of the trees gave the eye power to wander, were many charming views of the valley, the opposite hills,
              with the long range of woods overspreading many, and occasionally part of the stream.</span>
            <span id="said_no_03275" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Gardiner expressed a wish</span>
            <span id="said_no_03276" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrg" data-placement="auto top"> of going round the whole
              park,</span>
            <span id="said_no_03277" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but feared</span>
            <span id="said_no_03278" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrg" data-placement="auto top"> it might be beyond a
              walk.</span>
            <span id="said_no_03279" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">With a triumphant smile they were told that</span>
            <span id="said_no_03280" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_gar" data-placement="auto top"> it was ten miles
              round.</span>
            <span id="said_no_03281" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">It settled the matter; and they pursued the accustomed circuit; which brought them again, after
              some time, in a descent among hanging woods, to the edge of the water, and one of its narrowest parts. They crossed it by a simple bridge, in
              character with the general air of the scene; it was a spot less adorned than any they had yet visited; and the valley, here contracted into a
              glen, allowed room only for the stream, and a narrow walk amidst the rough coppice-wood which bordered it. Elizabeth longed to explore its
              windings; but when they had crossed the bridge, and perceived their distance from the house, Mrs. Gardiner, who was not a great walker, could go
              no farther, </span>
            <span id="said_no_03282" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and thought </span>
            <span id="said_no_03283" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsg" data-placement="auto top"> only of returning to the
              carriage as quickly as possible.</span>
            <span id="said_no_03284" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her niece was, therefore, obliged to submit, and they took their way towards the house on the
              opposite side of the river, in the nearest direction; but their progress was slow, for Mr. Gardiner, though seldom able to indulge the taste, was
              very fond of fishing, and was so much engaged in watching the occasional appearance of some trout in the water, and talking to the man about them,
              that he advanced but little. Whilst wandering on in this slow manner, they were again surprised, and Elizabeth's astonishment was quite equal to
              what it had been at first, by the sight of Mr. Darcy approaching them, and at no great distance. The walk here being less sheltered than on the
              other side, allowed them to see him before they met. Elizabeth, however astonished, was at least more prepared for an interview than
              before,</span>
            <span id="said_no_03285" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and resolved </span>
            <span id="said_no_03286" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> to appear and to speak
              with calmness, if he really intended to meet them.</span>
            <span id="said_no_03287" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">For a few moments, indeed,</span>
            <span id="said_no_03288" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she felt that</span>
            <span id="said_no_03289" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> he would probably strike
              into some other path.</span>
            <span id="said_no_03290" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The idea lasted while a turning in the walk concealed him from their view; the turning past, he
              was immediately before them.</span>
            <span id="said_no_03291" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">With a glance, she saw that</span>
            <span id="said_no_03292" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> he had lost none of his
              recent civility;</span>
            <span id="said_no_03293" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and, to imitate his politeness,</span>
            <span id="said_no_03294" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she began,</span>
            <span id="said_no_03295" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">as they met,</span>
            <span id="said_no_03296" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> to admire the beauty of the
              place;</span>
            <span id="said_no_03297" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but she had not got beyond the words “delightful,” and “charming,” when some unlucky
              recollections obtruded,</span>
            <span id="said_no_03298" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and she fancied that</span>
            <span id="said_no_03299" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> praise of Pemberley from
              her might be mischievously construed.</span>
            <span id="said_no_03300" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her colour changed, and she said no more.</span>
          
        </p>
        <p>
          <span id="said_no_03301" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Gardiner was standing a little behind; and on her pausing,</span>
          <span id="said_no_03302" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">he asked her </span>
          <span id="said_no_03303" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> if she would do him the honour
            of introducing him to her friends.</span>
          <span id="said_no_03304" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">This was a stroke of civility for which she was quite unprepared;</span>
          <span id="said_no_03305" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and she could hardly suppress a smile </span>
          <span id="said_no_03306" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> at his being now seeking the
            acquaintance of some of those very people against whom his pride had revolted in his offer to herself.</span>
          
            <span id="said_no_03307" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top"> “What will be his surprise,"</span>
            <span id="said_no_03308" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> thought she, </span>
            <span id="said_no_03309" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">"when he knows who they are? He takes them now for people of fashion.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03310" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The introduction, however, was immediately made; and as she named their relationship to
              herself,</span>
            <span id="said_no_03311" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she</span>
            <span id="said_no_03312" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">stole a sly look at him, to see how he bore it, and</span>
            <span id="said_no_03313" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was not without the expectation</span>
            <span id="said_no_03314" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> of his decamping as fast
              as he could from such disgraceful companions. That he was surprised by the connection was evident; he sustained it, however,
              with fortitude,</span>
            <span id="said_no_03315" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and so far from going away, turned back with them, and entered into conversation with Mr.
              Gardiner. Elizabeth could not but be pleased, could not but triumph.</span>
            <span id="said_no_03316" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> It was consoling that he
              should know she had some relations for whom there was no need to blush.</span>
            <span id="said_no_03317" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She</span>
            <span id="said_no_03318" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> listened most attentively to all that passed between them, and </span>
            <span id="said_no_03319" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">gloried</span>
            <span id="said_no_03320" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> in every expression, every
              sentence of her uncle, which marked his intelligence, his taste, or his good manners.</span>
          
        </p>
        <p>
          <span id="said_no_03321" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The conversation soon turned upon fishing; and she heard </span>
          <span id="said_no_03322" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Darcy invite him, with the greatest civility,</span>
          <span id="said_no_03323" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> to fish there as often as he
            chose while he continued in the neighbourhood,</span>
          <span id="said_no_03324" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">offering at the same time</span>
          <span id="said_no_03325" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> to supply him with fishing
            tackle,</span>
          <span id="said_no_03326" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and pointing out</span>
          <span id="said_no_03327" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> those parts of the stream where
            there was usually most sport.</span>
          <span id="said_no_03328" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Gardiner, who was walking arm-in-arm with Elizabeth, gave her a look expressive of her
            wonder. Elizabeth said nothing, but it gratified her exceedingly;</span>
          <span id="said_no_03329" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> the compliment must be all
            for herself.</span>
          <span id="said_no_03330" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her astonishment, however, was extreme, and continually was she repeating, </span>
          
            <span id="said_no_03331" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Why is he so altered? From what can it proceed? It cannot be for me — it cannot be for my sake that his manners are thus softened. My reproofs at Hunsford could not work such a
              change as this. It is impossible that he should still love me.” </span>
          
        </p>
        <p>
          <span id="said_no_03332" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">After walking some time in this way, the two ladies in front, the two gentlemen behind, on
            resuming their places, after descending to the brink of the river for the better inspection of some curious water-plant, there chanced to be a
            little alteration. It originated in Mrs. Gardiner, who, fatigued by the exercise of the morning, found Elizabeth's arm inadequate to her support,
            and consequently preferred her husband's. Mr. Darcy took her place by her niece, and they walked on together. After a short silence, the lady first
            spoke.</span>
          <span id="said_no_03333" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She wished him to know that</span>
          <span id="said_no_03334" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> she had been assured of his
            absence before she came to the place,</span>
          <span id="said_no_03335" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and accordingly began by observing, that</span>
          <span id="said_no_03336" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> his arrival had been very
            unexpected — </span>
          
            <span id="said_no_03337" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“for your housekeeper,”</span>
            <span id="said_no_03338" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she added, </span>
            <span id="said_no_03339" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“informed us that you would certainly not be here till to-morrow; and indeed, before
              we left Bakewell, we understood that you were not immediately expected in the country.”</span>
          
          <span id="said_no_03340" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He</span>
          <span id="said_no_03341" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">acknowledged the truth of it all, and</span>
          <span id="said_no_03342" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said that</span>
          <span id="said_no_03343" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_dar" data-placement="auto top"> business with his steward had
            occasioned his coming forward a few hours before the rest of the party with whom he had been travelling.</span>
          
            <span id="said_no_03344" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“They will join me early to-morrow,”</span>
            <span id="said_no_03345" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> he continued, </span>
            <span id="said_no_03346" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“and among them are some who will claim an acquaintance with you — Mr. Bingley
              and his sisters.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03347" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth answered only by a slight bow. Her thoughts were instantly driven back to the time
              when Mr. Bingley's name had been the last mentioned between them; and, if she might judge by his complexion, his mind was not
              very differently engaged.</span>
          
        </p>
        <p>
          
            <span id="said_no_03348" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“There is also one other person in the party,”</span>
            <span id="said_no_03349" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> he continued after a pause, </span>
            <span id="said_no_03350" class="said" data-toggle="tooltip" title="Mr. Darcy" data-placement="auto top">“who more particularly wishes to be known to you. Will you allow me, or do I ask too
              much, to introduce my sister to your acquaintance during your stay at Lambton?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03351" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The surprise of such an application was great indeed; it was too great for her to know in what
              manner she acceded to it.</span>
            <span id="said_no_03352" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She immediately felt that </span>
            <span id="said_no_03353" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> whatever desire Miss Darcy
              might have of being acquainted with her must be the work of her brother, and, without looking farther, it was satisfactory;</span>
            <span id="said_no_03354" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> it was gratifying to know
              that his resentment had not made him think really ill of her.</span>
          
        </p>
        <p>
          
            <span id="said_no_03355" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They now walked on in silence, each of them deep in thought. Elizabeth was not comfortable; that
              was impossible; but she was flattered and pleased.</span>
            <span id="said_no_03356" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> His wish of introducing
              his sister to her was a compliment of the highest kind.</span>
            <span id="said_no_03357" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They soon outstripped the others, and when they had reached the carriage, Mr. and Mrs. Gardiner
              were half a quarter of a mile behind.</span>
          
        </p>
        <p>
          
            <span id="said_no_03358" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">He then asked her to walk into the house — but she declared herself not tired, and they
              stood together on the lawn. At such a time much might have been said, and silence was very awkward. She wanted to talk, but there seemed to be an
              embargo on every subject. At last she recollected that she had been travelling, and they talked of Matlock and Dove Dale with great perseverance.
              Yet time and her aunt moved slowly — and her patience and her ideas were nearly worn out before the tete-a-tete was over. On Mr. and Mrs.
              Gardiner's coming up they were all pressed to go into the house and take some refreshment; but this was declined, and they parted on each side
              with the utmost politeness. Mr. Darcy handed the ladies into the carriage; and when it drove off, Elizabeth saw him walking slowly towards the
              house.</span>
          
        </p>
        <p>
          <span id="said_no_03359" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The observations of her uncle and aunt now began; and</span>
          <span id="said_no_03360" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">each of them pronounced him</span>
          <span id="said_no_03361" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrgmrsg" data-placement="auto top"> to be infinitely
            superior to anything they had expected.</span>
          
            <span id="said_no_03362" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“He is perfectly well behaved, polite, and unassuming,”</span>
          
          <span id="said_no_03363" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her uncle.</span>
        </p>
        <p>
          
            <span id="said_no_03364" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“There is something a little stately in him, to be
              sure,”</span>
            <span id="said_no_03365" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied her aunt, </span>
            <span id="said_no_03366" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“but it is confined to his air, and is not unbecoming. I can now say with the
              housekeeper, that though some people may call him proud, I have seen nothing of it.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03367" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“I was never more surprised than by his behaviour to us. It was more than civil; it
              was really attentive; and there was no necessity for such attention. His acquaintance with Elizabeth was very trifling.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03368" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“To be sure, Lizzy,”</span>
            <span id="said_no_03369" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her aunt, </span>
            <span id="said_no_03370" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“he is not so handsome as Wickham; or, rather, he has not Wickham's countenance, for
              his features are perfectly good. But how came you to tell me that he was so disagreeable?” </span>
          
        </p>
        <p>
          
            <span id="said_no_03371" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth</span>
            <span id="said_no_03372" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">excused herself as well as she could;</span>
            <span id="said_no_03373" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">said that</span>
            <span id="said_no_03374" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> she had liked him better
              when they met in Kent than before,</span>
            <span id="said_no_03375" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and that</span>
            <span id="said_no_03376" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> she had never seen him so
              pleasant as this morning.</span>
          
        </p>
        <p>
          
            <span id="said_no_03377" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“But perhaps he may be a little whimsical in his civilities,”</span>
            <span id="said_no_03378" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied her uncle.</span>
            <span id="said_no_03379" class="said" data-toggle="tooltip" title="Mr. Gardiner" data-placement="auto top">“Your great men often are; and therefore I shall not take him at his word about
              fishing, as he might change his mind another day, and warn me off his grounds.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03380" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth felt that</span>
            <span id="said_no_03381" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> they had entirely
              misunderstood his character,</span>
            <span id="said_no_03382" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but said nothing.</span>
          
        </p>
        <p>
          
            <span id="said_no_03383" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“From what we have seen of him,”</span>
            <span id="said_no_03384" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> continued Mrs. Gardiner, </span>
            <span id="said_no_03385" class="said" data-toggle="tooltip" title="Mrs. Gardiner" data-placement="auto top">“I really should not have thought that he could have behaved in so cruel a way by
              anybody, as he has done by poor Wickham. He has not an ill-natured look. On the contrary, there is something pleasing about his mouth when he
              speaks. And there is something of dignity in his countenance that would not give one an unfavourable idea of his heart. But, to be sure, the good
              lady who showed us his house did give him a most flaming character! I could hardly help laughing aloud sometimes. But he is a liberal master, I
              suppose, and that  in the eye of a servant comprehends every virtue.” </span>
          
        </p>
        <p>
          
            <span id="said_no_03386" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth</span>
            <span id="said_no_03387" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">here felt herself called on to say something in vindication of his behaviour to Wickham; and
              therefore</span>
            <span id="said_no_03388" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">gave them to understand, in as guarded a manner as she could, that</span>
            <span id="said_no_03389" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> by what she had heard from
              his relations in Kent, his actions were capable of a very different construction; and that his character was by no means so faulty, nor Wickham's
              so amiable, as they had been considered in Hertfordshire.</span>
            <span id="said_no_03390" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In confirmation of this,</span>
            <span id="said_no_03391" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she</span>
            <span id="said_no_03392" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">related the particulars of all the pecuniary transactions in which they had been connected,
              without actually naming her authority, but</span>
            <span id="said_no_03393" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">stating it</span>
            <span id="said_no_03394" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> to be such as might be
              relied on.</span>
          
        </p>
        <p>
          
            <span id="said_no_03395" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Gardiner was surprised and concerned; but as they were now approaching the scene of her
              former pleasures, every idea gave way to the charm of recollection; and she was too much engaged in pointing out to her husband all the
              interesting spots in its environs, to think of anything else. Fatigued as she had been by the morning's walk they had no sooner dined than she set
              off again in quest of her former acquaintance, and the evening was spent in the satisfactions of an intercourse renewed after many years'
              discontinuance.</span>
          
        </p>
        <p>
          
            <span id="said_no_03396" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The occurrences of the day were too full of interest to leave Elizabeth much attention for any
              of these new friends; and</span>
            <span id="said_no_03397" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she</span>
            <span id="said_no_03398" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">could do nothing but think,</span>
            <span id="said_no_03399" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and think with wonder,</span>
            <span id="said_no_03400" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> of Mr. Darcy's
              civility,</span>
            <span id="said_no_03401" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> and, above all, of his
              wishing her to be acquainted with his sister.</span>
          
        </p>
      
  <div class="footnotes"> </div>
