

   
  
    
        <h3>Chapter 40</h3>
        <p>
          
            <span id="said_no_02860" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth's impatience to acquaint Jane with what had happened could no
              longer be overcome; and at length, resolving to suppress every particular in which her sister was concerned, and preparing her to be surprised,
              she related to her the next morning the chief of the scene between Mr. Darcy and herself.</span>
          
        </p>
        <p>
          
            <span id="said_no_02861" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Miss Bennet's astonishment was soon lessened by the strong sisterly partiality which made any
              admiration of Elizabeth appear perfectly natural; and all surprise was shortly lost in other feelings.</span>
            <span id="said_no_02862" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She was sorry that</span>
            <span id="said_no_02863" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_jane" data-placement="auto top">Mr. Darcy should have
              delivered his sentiments in a manner so little suited to recommend them;</span>
            <span id="said_no_02864" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but still more</span>
            <span id="said_no_02865" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">was she grieved for</span>
            <span id="said_no_02866" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_jane" data-placement="auto top">the unhappiness which her
              sister's refusal must have given him.</span>
          
        </p>
        <p>
          
            <span id="said_no_02867" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“His being so sure of succeeding was wrong,”</span>
            <span id="said_no_02868" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_02869" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“and certainly ought not to have appeared; but consider how much it must increase his
              disappointment!” </span>
          
        </p>
        <p>
          
            <span id="said_no_02870" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Indeed,”</span>
            <span id="said_no_02871" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Elizabeth, </span>
            <span id="said_no_02872" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I am heartily sorry for him; but he has other feelings, which will probably soon
              drive away his regard for me. You do not blame me, however, for refusing him?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02873" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Blame you! Oh, no.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02874" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“But you blame me for having spoken so warmly of Wickham?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02875" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“No — I do not know that you were wrong in saying what you did.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02876" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“But you will know it, when I tell you what happened the very
              next day.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02877" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She then spoke of the letter, repeating the whole of its contents as far as they concerned
              George Wickham. What a stroke was this for poor Jane! who would willingly have gone through the world without believing that so much wickedness
              existed in the whole race of mankind, as was here collected in one individual. Nor was Darcy's vindication, though grateful to her feelings,
              capable of consoling her for such discovery. Most earnestly did she labour to prove the probability of error, and seek to clear the one without
              involving the other.</span>
          
        </p>
        <p>
          
            <span id="said_no_02878" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“This will not do,”</span>
            <span id="said_no_02879" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth; </span>
            <span id="said_no_02880" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“you never will be able to make both of them good for anything. Take your choice, but
              you must be satisfied with only one. There is but such a quantity of merit between them; just enough to make one good sort of man; and of late it
              has been shifting about pretty much. For my part, I am inclined to believe it all Mr. Darcy's; but you shall do as you choose.” </span>
          
        </p>

        <p>
          
            <span id="said_no_02881" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">It was some time, however, before a smile could be extorted from Jane.</span>
          
        </p>
        <p>
          
            <span id="said_no_02882" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“I do not know when I have been more shocked,”</span>
            <span id="said_no_02883" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she.</span>
            <span id="said_no_02884" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Wickham so very bad! It is almost past belief. And poor Mr. Darcy! Dear Lizzy, only
              consider what he must have suffered. Such a disappointment! and with the knowledge of your ill opinion, too! and having to relate such a thing of
              his sister! It is really too distressing. I am sure you must feel it so.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02885" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Oh! no, my regret and compassion are all done away by seeing you so full of both. I
              know you will do him such ample justice, that I am growing every moment more unconcerned and indifferent. Your profusion makes me saving; and if
              you lament over him much longer, my heart will be as light as a feather.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02886" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Poor Wickham! there is such an expression of goodness in his countenance! such an
              openness and gentleness in his manner!” </span>
          
        </p>
        <p>
          
            <span id="said_no_02887" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“There certainly was some great mismanagement in the education of those two young
              men. One has got all the goodness, and the other all the appearance of it.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02888" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“I never thought Mr. Darcy so deficient in the appearance of it
              as you used to do.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02889" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And yet I meant to be uncommonly clever in taking so decided a dislike to him,
              without any reason. It is such a spur to one's genius, such an opening for wit, to have a dislike of that kind. One may be continually abusive
              without saying anything just; but one cannot always be laughing at a man without now and then stumbling on something witty.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02890" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Lizzy, when you first read that letter, I am sure you could not treat the matter as
              you do now.” </span>
          
        </p>

        <p>
          
            <span id="said_no_02891" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Indeed, I could not. I was uncomfortable enough. I was very uncomfortable, I may say
              unhappy. And with no one to speak to about what I felt, no Jane to comfort me and say that I had not been so very weak and vain and nonsensical as
              I knew I had! Oh! how I wanted you!” </span>
          
        </p>
        <p>
          
            <span id="said_no_02892" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“How unfortunate that you should have used such very strong expressions in speaking
              of Wickham to Mr. Darcy, for now they do appear wholly undeserved.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02893" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Certainly. But the misfortune of speaking with bitterness is a most natural
              consequence of the prejudices I had been encouraging. There is one point on which I want your advice. I want to be told whether I ought, or ought
              not, to make our acquaintances in general understand Wickham's character.” </span>
          
        </p>
        <p>
          <span id="said_no_02894" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Miss Bennet paused a little, and then replied, </span>
          
            <span id="said_no_02895" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“Surely there can be no occasion for exposing him so dreadfully. What is your own
              opinion?” </span>
          
        </p>
        <p>
          
            <span id="said_no_02896" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“That it ought not to be attempted. Mr. Darcy has not authorised me to make his
              communication public. On the contrary, every particular relative to his sister was meant to be kept as much as possible to myself; and if I
              endeavour to undeceive people as to the rest of his conduct, who will believe me? The general prejudice against Mr. Darcy is so violent, that it
              would be the death of half the good people in Meryton to attempt to place him in an amiable light. I am not equal to it. Wickham will soon be
              gone; and therefore it will not signify to anyone here what he really is. Some time hence it will be all found out, and then we may laugh at their
              stupidity in not knowing it before. At present I will say nothing about it.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02897" class="said" data-toggle="tooltip" title="Jane Bennet" data-placement="auto top">“You are quite right. To have his errors made public might ruin him for ever. He is
              now, perhaps, sorry for what he has done, and anxious to re-establish a character. We must not make him desperate.” </span>
          
        </p>
        <p>
          <span id="said_no_02898" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The tumult of Elizabeth's mind was allayed by this conversation. She had got rid of two of the
            secrets which had weighed on her for a fortnight, and was certain of a willing listener in Jane, whenever she might wish to talk again of either.
            But there was still something lurking behind, of which prudence forbade the disclosure. She dared not relate the other half of Mr. Darcy's letter,
            nor explain to her sister how sincerely she had been valued by his friend.</span>
          <span id="said_no_02899" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">Here was knowledge in which
            no one could partake;</span>
          <span id="said_no_02900" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
          <span id="said_no_02901" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she was sensible that</span>
          <span id="said_no_02902" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">nothing less than a perfect
            understanding between the parties could justify her in throwing off this last encumbrance of mystery.</span>
          
            <span id="said_no_02903" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">“And then,”</span>
            <span id="said_no_02904" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, </span>
            <span id="said_no_02905" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">“if that very improbable
              event should ever take place, I shall merely be able to tell what Bingley may tell in a much more agreeable manner himself. The liberty of
              communication cannot be mine till it has lost all its value!”</span>
          
        </p>
        <p>
          
            <span id="said_no_02906" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She was now, on being settled at home, at leisure to observe the real state of her sister's
              spirits.</span>
            <span id="said_no_02907" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">Jane was not happy.</span>
            <span id="said_no_02908" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She still cherished</span>
            <span id="said_no_02909" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">a very tender affection for
              Bingley.</span>
            <span id="said_no_02910" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Having never even fancied herself in love before, her regard had all the warmth of first
              attachment, and, from her age and disposition, greater steadiness than most first attachments often boast; and so fervently did she value his
              remembrance, and prefer him to every other man, that all her good sense, and all her attention to the feelings of her friends, were requisite to
              check the indulgence of those regrets which must have been injurious to her own health and their tranquillity.</span>
          
        </p>
        <p>
          
            <span id="said_no_02911" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Well, Lizzy,”</span>
            <span id="said_no_02912" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Bennet one </span>
            <span id="said_no_02913" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> day, </span>
            <span id="said_no_02914" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“what is your opinion now of this sad business of
              Jane's? For my part, I am determined never to speak of it again to anybody. I told my sister Phillips so the other day. But I cannot find out that
              Jane saw anything of him in London. Well, he is a very undeserving young man — and I do not suppose there's the least chance in the world of
              her ever getting him now. There is no talk of his coming to Netherfield again in the summer; and I have inquired of everybody too, who is likely
              to know.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02915" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I do not believe he will ever live at Netherfield any more.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02916" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Oh well! it is just as he chooses. Nobody wants him to come. Though I
              shall always say that he used my daughter extremely ill; and if I was her, I would not have put up with it. Well, my comfort is, I am sure Jane
              will die of a broken heart; and then he will be sorry for what he has done.” </span>
          
        </p>

        <p>
          
            <span id="said_no_02917" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">But as Elizabeth could not receive comfort from any such expectation, she made no answer.</span>
          
        </p>
        <p>
          
            <span id="said_no_02918" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Well, Lizzy,”</span>
            <span id="said_no_02919" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> continued her mother, soon afterwards, </span>
            <span id="said_no_02920" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“and so the Collinses live very comfortable, do they? Well, well, I only
              hope it will last. And what sort of table do they keep? Charlotte is an excellent manager, I dare say. If she is half as sharp as her mother, she
              is saving enough. There is nothing extravagant in their housekeeping, I dare say.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02921" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“No, nothing at all.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02922" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“A great deal of good management, depend upon it. Yes, yes. They will take care not to outrun their income. They will never be distressed for money. Well, much good
              may it do them! And so, I suppose, they often talk of having Longbourn when your father is dead. They look upon it as quite their own, I dare say,
              whenever that happens.” </span>
          
        </p>

        <p>
          
            <span id="said_no_02923" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“It was a subject which they could not mention before me.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02924" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“No; It would have been strange if they had; but I make no doubt they
              often talk of it between themselves. Well, if they can be easy with an estate that is not lawfully their own, so much the better. I should be ashamed of having one that was only entailed on me.” </span>
          
        </p>
      
  <div class="footnotes"> </div>
