

   
  
    
        <h3>Chapter 37</h3>
        <p>
          
            <span id="said_no_02682" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">The two gentlemen left Rosings the next morning, and Mr. Collins having
              been in waiting near the lodges, to make them his parting obeisance, was able to bring home the pleasing intelligence, of their appearing in very
              good health, and in as tolerable spirits as could be expected, after the melancholy scene so lately gone through at Rosings. To Rosings he then
              hastened, to console Lady Catherine and her daughter; and on his return brought back, with great satisfaction, a message from </span>
            <span id="said_no_02683" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> her ladyship, importing that</span>
            <span id="said_no_02684" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top"> she felt herself so dull as
              to make her very desirous of having them all to dine with her.</span>
          
        </p>
        <p>
          
            <span id="said_no_02685" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth could not see Lady Catherine without recollecting that, </span>
            <span id="said_no_02686" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> had she chosen it, she
              might by this time have been presented to her as her future niece;</span>
            <span id="said_no_02687" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> nor could she think, without a smile,</span>
            <span id="said_no_02688" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> of what her ladyship's
              indignation would have been.</span>
            <span id="said_no_02689" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> “What would she have said? how would she have behaved?” were questions with which she amused
              herself.</span>
          
        </p>
        <p>
          <span id="said_no_02690" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Their first subject was the diminution of the Rosings party. </span>
          
            <span id="said_no_02691" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“I assure you, I feel it exceedingly,”</span>
            <span id="said_no_02692" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Lady Catherine; </span>
            <span id="said_no_02693" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“I believe no one feels the loss of friends so much as I do. But I am particularly
              attached to these young men, and know them to be so much attached to me! They were excessively sorry to go! But so they always are. The dear
              Colonel rallied his spirits tolerably till just at last; but Darcy seemed to feel it most acutely, more I think, than last year. His attachment to
              Rosings certainly increases.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02694" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Collins had a compliment, and an allusion to throw in here, which were kindly smiled on by
              the mother and daughter. </span>
          
        </p>
        <p>
          <span id="said_no_02695" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lady Catherine observed, after dinner, that Miss Bennet seemed out of spirits, and immediately
            accounting for it by herself,</span>
          <span id="said_no_02696" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> by supposing that</span>
          <span id="said_no_02697" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top"> she did not like to go home
            again so soon,</span>
          <span id="said_no_02698" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she added: </span>
          <br></br>
          
            <span id="said_no_02699" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“But if that is the case, you must write to your mother and beg that you may stay a
              little longer. Mrs. Collins will be very glad of your company, I am sure.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02700" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I am much obliged to your ladyship for your kind invitation,”</span>
            <span id="said_no_02701" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Elizabeth, </span>
            <span id="said_no_02702" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“but it is not in my power to accept it. I must be in town next Saturday.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02703" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Why, at that rate, you will have been here only six weeks. I expected you to stay
              two months. I told Mrs. Collins so before you came. There can be no occasion for your going so soon. Mrs. Bennet could certainly spare you for
              another fortnight.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02704" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“But my father cannot. He wrote last week to hurry my return.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02705" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Oh! your father of course may spare you, if your mother can. Daughters are never of
              so much consequence to a father. And if you will stay another month complete, it will be in my power to take one of you as
              far as London, for I am going there early in June, for a week; and as Dawson does not object to the barouche-box, there will be very good room for
              one of you — and indeed, if the weather should happen to be cool, I should not object to taking you both, as you are neither of you large.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_02706" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You are all kindness, madam; but I believe we must abide by our original plan.”
            </span>
          
        </p>
        <p>
          <span id="said_no_02707" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lady Catherine seemed resigned. </span>
          
            <span id="said_no_02708" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Mrs. Collins, you must send a servant with them. You know I always speak my mind,
              and I cannot bear the idea of two young women travelling post by themselves. It is highly improper. You must contrive to send somebody. I have the
              greatest dislike in the world to that sort of thing. Young women should always be properly guarded and attended, according to their situation in
              life. When my niece Georgiana went to Ramsgate last summer, I made a point of her having two men-servants go with her .— Miss Darcy, the
              daughter of Mr. Darcy, of Pemberley, and Lady Anne, could not have appeared with propriety in a different manner. I am excessively attentive to
              all those things. You must send John with the young ladies, Mrs. Collins. I am glad it occurred to me to mention it; for it would really be
              discreditable to you to let them go alone.” </span>
          
        </p>
        <p>
          
            <span id="said_no_02709" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“My uncle is to send a servant for us.” </span>
          
        </p>

        <p>
          
            <span id="said_no_02710" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Oh! Your uncle! He keeps a man-servant, does he? I am very glad you have somebody
              who thinks of these things. Where shall you change horses? Oh! Bromley, of course. If you mention my name at the Bell, you will be attended to.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_02711" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lady Catherine had many other questions to ask respecting their journey, and as she did not
              answer them all herself, attention was necessary,</span>
            <span id="said_no_02712" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> which Elizabeth believed to be</span>
            <span id="said_no_02713" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> lucky for her; or, with a
              mind so occupied, she might have forgotten where she was. Reflection must be reserved for solitary hours;</span>
            <span id="said_no_02714" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> whenever she was alone, she gave way to it as the greatest relief; and not a day went by
              without a solitary walk, in which she might indulge in all the delight of unpleasant recollections.</span>
          
        </p>
        <p>
          
            <span id="said_no_02715" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mr. Darcy's letter she was in a fair way of soon knowing by heart. She studied every sentence;
              and her feelings towards its writer were at times widely different.</span>
            <span id="said_no_02716" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> When she remembered</span>
            <span id="said_no_02717" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> the style of his
              address,</span>
            <span id="said_no_02718" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">she was still full of indignation;</span>
            <span id="said_no_02719" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but when she considered</span>
            <span id="said_no_02720" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> how unjustly she had
              condemned and upbraided him,</span>
            <span id="said_no_02721" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">her anger was turned against herself; and his disappointed feelings became the object of
              compassion.</span>
            <span id="said_no_02722" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> His attachment excited
              gratitude, his general character respect; but she could not approve him; nor could she for a moment repent her refusal, or feel the slightest
              inclination ever to see him again.</span>
            <span id="said_no_02723" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In her own past behaviour, there was a constant source of vexation and regret; and in the
              unhappy defects of her family, a subject of yet heavier chagrin.</span>
            <span id="said_no_02724" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> They were hopeless of
              remedy. Her father, contented with laughing at them, would never exert himself to restrain the wild giddiness of his youngest daughters; and her
              mother, with manners so far from right herself, was entirely insensible of the evil.</span>
            <span id="said_no_02725" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth had frequently united with Jane in an endeavour to check the imprudence of Catherine
              and Lydia;</span>
            <span id="said_no_02726" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> but while they were
              supported by their mother's indulgence, what chance could there be of improvement? </span>
            <span id="said_no_02727" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> Catherine, weak-spirited,
              irritable, and completely under Lydia's guidance, had been always affronted by their advice; and Lydia, self-willed and careless, would scarcely
              give them a hearing. They were ignorant, idle, and vain. While there was an officer in Meryton, they would flirt with him; and while Meryton was
              within a walk of Longbourn, they would be going there forever.</span>
          
        </p>
        <p>
          
            <span id="said_no_02728" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Anxiety on Jane's behalf was another prevailing concern; and Mr. Darcy's explanation, by
              restoring Bingley to all her former good opinion, heightened the sense of what Jane had lost.</span>
            <span id="said_no_02729" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> His affection was proved
              to have been sincere, and his conduct cleared of all blame, unless any could attach to the implicitness of his confidence in his friend.</span>
            <span id="said_no_02730" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> How grievous then was </span>
            <span id="said_no_02731" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">the thought that, of</span>
            <span id="said_no_02732" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> a situation so desirable in
              every respect, so replete with advantage, so promising for happiness, Jane had been deprived, by the folly and indecorum of her own family!
            </span>
          
        </p>
        <p>
          
            <span id="said_no_02733" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When to these recollections was added the development of Wickham's character, it may be easily
              believed that the happy spirits which had seldom been depressed before, were now so much affected as to make it almost impossible for her to
              appear tolerably cheerful.</span>
          
        </p>
        <p>
          
            <span id="said_no_02734" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Their engagements at Rosings were as frequent during the last week of her stay as they had been
              at first. The very last evening was spent there; and</span>
            <span id="said_no_02735" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">her ladyship again inquired minutely</span>
            <span id="said_no_02736" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top"> into the particulars of their
              journey,</span>
            <span id="said_no_02737" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">gave them directions as to</span>
            <span id="said_no_02738" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top"> the best method of
              packing,</span>
            <span id="said_no_02739" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and</span>
            <span id="said_no_02740" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> was so urgent</span>
            <span id="said_no_02741" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top"> on the necessity of placing
              gowns in the only right way,</span>
            <span id="said_no_02742" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">that Maria thought herself obliged, on her return, to undo all the work of the morning, and pack
              her trunk afresh.</span>
          
        </p>
        <p>
          
            <span id="said_no_02743" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">When they parted,</span>
            <span id="said_no_02744" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lady Catherine, with great condescension, wished them</span>
            <span id="said_no_02745" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top"> a good journey,</span>
            <span id="said_no_02746" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and </span>
            <span id="said_no_02747" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">invited them</span>
            <span id="said_no_02748" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top"> to come to Hunsford again
              next year;</span>
            <span id="said_no_02749" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and Miss de Bourgh exerted herself so far as to curtsey and hold out her hand to both.</span>
          
        </p>
      
  <div class="footnotes"> </div>
