

   
  
    
        <h3>Chapter 56</h3>
        <p>
          
            <span id="said_no_04662" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">One morning, about a week after Bingley's engagement with Jane had been
              formed, as he and the females of the family were sitting together in the dining-room, their attention was suddenly drawn to the window, by the
              sound of a carriage; and they perceived a chaise and four driving up the lawn. It was too early in the morning for visitors, and besides, the
              equipage did not answer to that of any of their neighbours. The horses were post; and neither the carriage, nor the livery of the servant who
              preceded it, were familiar to them. As it was certain, however, that somebody was coming,</span>
            <span id="said_no_04663" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Bingley instantly prevailed on Miss Bennet</span>
            <span id="said_no_04664" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_bing" data-placement="auto top"> to avoid the confinement of
              such an intrusion, and walk away with him into the shrubbery.</span>
            <span id="said_no_04665" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They both set off, and the conjectures of the remaining three continued, though with little
              satisfaction, till the door was thrown open and their visitor entered. It was Lady Catherine de Bourgh.</span>
          
        </p>
        <p>
          
            <span id="said_no_04666" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">They were of course all intending to be surprised; but their astonishment was beyond their
              expectation; and on the part of Mrs. Bennet and Kitty, though she was perfectly unknown to them, even inferior to what Elizabeth felt.</span>
          
        </p>
        <p>
          
            <span id="said_no_04667" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">She entered the room with an air more than usually ungracious, made no other reply to
              Elizabeth's salutation than a slight inclination of the head, and sat down without saying a word. Elizabeth had mentioned her name to her mother
              on her ladyship's entrance, though no request of introduction had been made.</span>
          
        </p>
        <p>
          
            <span id="said_no_04668" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Bennet, all amazement, though flattered by having a guest of such high importance, received
              her with the utmost politeness. After sitting for a moment in silence, she said very stiffly to Elizabeth, </span>
          
        </p>
        <br></br>
        <p>
          
            <span id="said_no_04669" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“I hope you are well, Miss Bennet. That lady I suppose is your mother.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04670" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth replied very concisely that</span>
            <span id="said_no_04671" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top"> she was.</span>
          
        </p>
        <p>
          
            <span id="said_no_04672" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“And that I suppose is one of your sisters.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04673" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Yes, madam,”</span>
            <span id="said_no_04674" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Mrs. Bennet, delighted to speak to Lady Catherine.</span>
            <span id="said_no_04675" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">"She is my youngest girl but one. My youngest of all is lately married,
              and my eldest is somewhere about the grounds, walking with a young man, who, I believe, will soon become a part of the family."</span>
          
        </p>
        <p>
          
            <span id="said_no_04676" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“You have a very small park here,”</span>
          
          <span id="said_no_04677" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> returned Lady Catherine after a short silence.</span>
        </p>
        <p>
          
            <span id="said_no_04678" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“It is nothing in comparison of Rosings, my lady, I dare say; but I
              assure you it is much larger than Sir William Lucas's.” </span>
          
        </p>

        <p>
          
            <span id="said_no_04679" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“This must be a most inconvenient sitting room for the evening, in summer; the
              windows are full west.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04680" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Bennet assured her that</span>
            <span id="said_no_04681" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> they never sat there after
              dinner,</span>
            <span id="said_no_04682" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">and then added:</span>
          
        </p>
        <br></br>
        <p>
          
            <span id="said_no_04683" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“May I take the liberty of asking your ladyship whether you left Mr. and
              Mrs. Collins well.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04684" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Yes, very well. I saw them the night before last.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04685" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth now expected that she would produce a letter for her from Charlotte, as it seemed the
              only probable motive for her calling. But no letter appeared, and she was completely puzzled.</span>
          
        </p>
        <p>
          
            <span id="said_no_04686" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Mrs. Bennet,</span>
            <span id="said_no_04687" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">with great civility,</span>
            <span id="said_no_04688" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">begged her ladyship</span>
            <span id="said_no_04689" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> to take some
              refreshment;</span>
            <span id="said_no_04690" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">but Lady Catherine very resolutely, and not very politely, declined eating anything; and then,
              rising up, said to Elizabeth, </span>
          
        </p>
        <br></br>
        <p>
          
            <span id="said_no_04691" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Miss Bennet, there seemed to be a prettyish kind of a little wilderness on one side
              of your lawn. I should be glad to take a turn in it, if you will favour me with your company.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04692" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“Go, my dear,”</span>
            <span id="said_no_04693" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> cried her mother, </span>
            <span id="said_no_04694" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“and show her ladyship about the different walks. I think she will be
              pleased with the hermitage.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04695" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth obeyed, and running into her own room for her parasol, attended her noble guest
              downstairs. As they passed through the hall, Lady Catherine opened the doors into the dining-parlour and drawing-room, and</span>
            <span id="said_no_04696" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">pronouncing them,</span>
            <span id="said_no_04697" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">after a short survey,</span>
            <span id="said_no_04698" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.001.nar_deb" data-placement="auto top"> to be decent looking rooms,
              walked on.</span>
          
        </p>
        <p>
          
            <span id="said_no_04699" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Her carriage remained at the door, and Elizabeth saw that her waiting-woman was in it. They
              proceeded in silence along the gravel walk that led to the copse; Elizabeth was determined to make no effort for conversation with a woman who was
              now more than usually insolent and disagreeable.</span>
          
        </p>

        <p>
          
            <span id="said_no_04700" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.001.nar_eliz" data-placement="auto top">“How could I ever
              think her like her nephew?”</span>
          
          <span id="said_no_04701" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said she, as she looked in her face.</span>
        </p>
        <p>
          
            <span id="said_no_04702" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">As soon as they entered the copse, Lady Catherine began in the following manner:— </span>
          
        </p>
        <br></br>
        <p>
          
            <span id="said_no_04703" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“You can be at no loss, Miss Bennet, to understand the reason of my journey hither.
              Your own heart, your own conscience, must tell you why I come.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04704" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth looked with unaffected astonishment.</span>
          
        </p>
        <p>
          
            <span id="said_no_04705" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Indeed, you are mistaken, Madam. I have not been at all able to account for the
              honour of seeing you here.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04706" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Miss Bennet,”</span>
            <span id="said_no_04707" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied her ladyship, in an angry tone, </span>
            <span id="said_no_04708" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“you ought to know, that I am not to be trifled with. But however insincere you may choose to be, you shall not find me so. My character has ever been celebrated for its sincerity
              and frankness, and in a cause of such moment as this, I shall certainly not depart from it. A report of a most alarming nature reached me two days
              ago.</span>
            <span id="said_no_04709" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">I was told that</span>
            <span id="said_no_04710" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.#deb_mys" data-placement="auto top"> not only your sister was on
              the point of being most advantageously married, but</span>
            <span id="said_no_04711" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">that</span>
            <span id="said_no_04712" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.#deb_mys" data-placement="auto top">
              you,</span>
            <span id="said_no_04713" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">that</span>
            <span id="said_no_04714" class="said indirect said_tooltip certainty_7" data-toggle="tooltip" title="aus.001.#deb_mys" data-placement="auto top"> Miss Elizabeth Bennet,
              would, in all likelihood, be soon afterwards united to my nephew, my own nephew, Mr. Darcy.</span>
            <span id="said_no_04715" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">Though I know it must be a scandalous falsehood, though I would not injure
              him so much as to suppose the truth of it possible, I instantly resolved on setting off for this place, that I might make my sentiments known to
              you.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04716" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“If you believed it impossible to be true,”</span>
            <span id="said_no_04717" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth, colouring with astonishment and disdain, </span>
            <span id="said_no_04718" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I wonder you took the trouble of coming so far. What could your ladyship propose by
              it?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04719" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“At once to insist upon having such a report universally contradicted.” </span>
          
        </p>

        <p>
          
            <span id="said_no_04720" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Your coming to Longbourn, to see me and my family,”</span>
            <span id="said_no_04721" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth coolly, </span>
            <span id="said_no_04722" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“will be rather a confirmation of it; if, indeed, such a report is in existence.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_04723" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“If! Do you then pretend to be ignorant of it? Has it not been industriously
              circulated by yourselves? Do you not know that such a report is spread abroad?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04724" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I never heard that it was.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04725" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“And can you likewise declare, that there is no foundation for
              it?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04726" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I do not pretend to possess equal frankness with your ladyship. You may ask
              questions which I shall not choose to answer.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04727" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“This is not to be borne. Miss Bennet, I insist on being satisfied. Has he, has my
              nephew, made you an offer of marriage?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04728" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Your ladyship has declared it to be impossible.” </span>
          
        </p>

        <p>
          
            <span id="said_no_04729" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“It ought to be so; it must be so, while he retains the use of his reason. But your arts and allurements may, in a moment of infatuation, have made him forget what he owes to himself and to all his family.
              You may have drawn him in.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04730" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“If I have, I shall be the last person to confess it.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04731" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Miss Bennet, do you know who I am? I have not been accustomed to such language as
              this. I am almost the nearest relation he has in the world, and am entitled to know all his dearest concerns.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04732" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“But you are not entitled to know mine; nor will such behaviour
              as this, ever induce me to be explicit.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04733" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Let me be rightly understood. This match, to which you have the presumption to
              aspire, can never take place. No, never. Mr. Darcy is engaged to my daughter. Now what have you to say?” </span>
          
        </p>

        <p>
          
            <span id="said_no_04734" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Only this; that if he is so, you can have no reason to suppose he will make an offer
              to me.” </span>
          
        </p>
        <p>
          <span id="said_no_04735" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lady Catherine hesitated for a moment, and then replied: </span>
          <br></br>
          
            <span id="said_no_04736" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“The engagement between them is of a peculiar kind. From their infancy, they have
              been intended for each other. It was the favourite wish of his mother, as well as of hers. While in their cradles, we planned
              the union: and now, at the moment when the wishes of both sisters would be accomplished in their marriage, to be prevented by a young woman of
              inferior birth, of no importance in the world, and wholly unallied to the family! Do you pay no regard to the wishes of his friends? To his tacit
              engagement with Miss de Bourgh? Are you lost to every feeling of propriety and delicacy? Have you not heard me say that from his earliest hours he
              was destined for his cousin?” </span>
          
        </p>

        <p>
          
            <span id="said_no_04737" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Yes, and I had heard it before. But what is that to me? If there is no other
              objection to my marrying your nephew, I shall certainly not be kept from it by knowing that his mother and aunt wished him to marry Miss de
              Bourgh. You both did as much as you could in planning the marriage. Its completion depended on others. If Mr. Darcy is neither by honour nor
              inclination confined to his cousin, why is not he to make another choice? And if I am that choice, why may not I accept him?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04738" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Because honour, decorum, prudence, nay, interest, forbid it. Yes, Miss Bennet,
              interest; for do not expect to be noticed by his family or friends, if you wilfully act against the inclinations of all. You will be censured,
              slighted, and despised, by everyone connected with him. Your alliance will be a disgrace; your name will never even be mentioned by any of us.”
            </span>
          
        </p>

        <p>
          
            <span id="said_no_04739" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“These are heavy misfortunes,”</span>
            <span id="said_no_04740" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> replied Elizabeth.</span>
            <span id="said_no_04741" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“But the wife of Mr. Darcy must have such extraordinary sources of happiness
              necessarily attached to her situation, that she could, upon the whole, have no cause to repine.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04742" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Obstinate, headstrong girl! I am ashamed of you! Is this your gratitude for my
              attentions to you last spring? Is nothing due to me on that score? Let us sit down. You are to understand, Miss Bennet, that I came here with the
              determined resolution of carrying my purpose; nor will I be dissuaded from it. I have not been used to submit to any person's whims. I have not
              been in the habit of brooking disappointment.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04743" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“That will make your ladyship's situation at present more
              pitiable; but it will have no effect on me.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04744" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“I will not be interrupted. Hear me in silence. My daughter and my nephew are formed
              for each other. They are descended, on the maternal side, from the same noble line; and, on the father's, from respectable, honourable, and
              ancient — though untitled — families. Their fortune on both sides is splendid. They are destined for each other by the voice of every
              member of their respective houses; and what is to divide them? The upstart pretensions of a young woman without family, connections, or fortune.
              Is this to be endured! But it must not, shall not be. If you were sensible of your own good, you would not wish to quit the sphere in which you
              have been brought up.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04745" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“In marrying your nephew, I should not consider myself as quitting that sphere. He is
              a gentleman; I am a gentleman's daughter; so far we are equal.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04746" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“True. You are a gentleman's daughter. But who was your mother?
              Who are your uncles and aunts? Do not imagine me ignorant of their condition.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04747" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Whatever my connections may be,”</span>
            <span id="said_no_04748" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said Elizabeth, </span>
            <span id="said_no_04749" class="said" data-toggle="tooltip" title="aus.001.eli" data-placement="auto top">“if your nephew does not object to them, they can be nothing to you.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04750" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Tell me once for all, are you engaged to him?” </span>
          
        </p>
        <p>
          <span id="said_no_04751" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Though Elizabeth would not, for the mere purpose of obliging Lady Catherine, have answered this
            question; she could not but say, after a moment's deliberation: </span>
          <br></br>
          
            <span id="said_no_04752" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I am not.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04753" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Lady Catherine seemed pleased.</span>
          
        </p>
        <p>
          
            <span id="said_no_04754" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“And will you promise me, never to enter into such an engagement?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04755" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I will make no promise of the kind.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04756" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Miss Bennet I am shocked and astonished. I expected to find a more reasonable young
              woman. But do not deceive yourself into a belief that I will ever recede. I shall not go away till you have given me the assurance I require.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_04757" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“And I certainly never shall give it. I am not to be intimidated
              into anything so wholly unreasonable. Your ladyship wants Mr. Darcy to marry your daughter; but would my giving you the wished-for promise make
                their marriage at all more probable? Supposing him to be attached to me, would my refusing to accept
              his hand make him wish to bestow it on his cousin? Allow me to say, Lady Catherine, that the arguments with which you have supported this
              extraordinary application have been as frivolous as the application was ill-judged. You have widely mistaken my character, if you think I can be
              worked on by such persuasions as these. How far your nephew might approve of your interference in his affairs, I cannot tell;
              but you have certainly no right to concern yourself in mine. I must beg, therefore, to be importuned no farther on the subject.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04758" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“Not so hasty, if you please. I have by no means done. To all the objections I have
              already urged, I have still another to add. I am no stranger to the particulars of your youngest sister's infamous elopement. I know it all; that
              the young man's marrying her was a patched-up business, at the expence of your father and uncles. And is such a girl to be my
              nephew's sister? Is her husband, is the son of his late father's steward, to be his brother? Heaven and earth! — of
              what are you thinking? Are the shades of Pemberley to be thus polluted?"</span>
          
        </p>
        <p>
          
            <span id="said_no_04759" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You can now have nothing further to say,”</span>
            <span id="said_no_04760" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> she resentfully answered.</span>
            <span id="said_no_04761" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“You have insulted me in every possible method. I must beg to return to the house.”
            </span>
          
        </p>
        <p>
          
            <span id="said_no_04762" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">And she rose as she spoke. Lady Catherine rose also, and they turned back. Her ladyship was
              highly incensed.</span>
          
        </p>
        <p>
          
            <span id="said_no_04763" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“You have no regard, then, for the honour and credit of my nephew! Unfeeling, selfish
              girl! Do you not consider that a connection with you must disgrace him in the eyes of everybody?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04764" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Lady Catherine, I have nothing further to say. You know my sentiments.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04765" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“You are then resolved to have him?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04766" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“I have said no such thing. I am only resolved to act in that manner, which will, in
              my own opinion, constitute my happiness, without reference to you, or to any person so wholly unconnected with me.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04767" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“It is well. You refuse, then, to oblige me. You refuse to obey the claims of duty,
              honour, and gratitude. You are determined to ruin him in the opinion of all his friends, and make him the contempt of the world."</span>
          
        </p>
        <p>
          
            <span id="said_no_04768" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“Neither duty, nor honour, nor gratitude,” replied Elizabeth, “have any possible
              claim on me, in the present instance. No principle of either would be violated by my marriage with Mr. Darcy. And with regard to the resentment of
              his family, or the indignation of the world, if the former were excited by his marrying me, it would not give me one moment's
              concern — and the world in general would have too much sense to join in the scorn.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04769" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“And this is your real opinion! This is your final resolve! Very well. I shall now
              know how to act. Do not imagine, Miss Bennet, that your ambition will ever be gratified. I came to try you. I hoped to find you reasonable; but,
              depend upon it, I will carry my point.” </span>
          
        </p>
        <p>
          <span id="said_no_04770" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">In this manner Lady Catherine </span>
          <span id="said_no_04771" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">talked on, till they were at the door of the carriage, when, turning hastily round, she added, </span>
          <br></br>
          
            <span id="said_no_04772" class="said" data-toggle="tooltip" title="Lady Catherine de Bourgh" data-placement="auto top">“I take no leave of you, Miss Bennet. I send no compliments to your mother. You
              deserve no such attention. I am most seriously displeased.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04773" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth made no answer; and without attempting to persuade her ladyship to return into the
              house, walked quietly into it herself. She heard the carriage drive away as she proceeded up stairs. Her</span>
            <span id="said_no_04774" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">mother</span>
            <span id="said_no_04775" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">impatiently met her at the door of the dressing-room, to</span>
            <span id="said_no_04776" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">ask</span>
            <span id="said_no_04777" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.001.nar_mrsb" data-placement="auto top"> why Lady Catherine would
              not come in again and rest herself.</span>
          
        </p>
        <p>
          
            <span id="said_no_04778" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“She did not choose it,”</span>
            <span id="said_no_04779" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top"> said her daughter, </span>
            <span id="said_no_04780" class="said" data-toggle="tooltip" title="Elizabeth Bennet" data-placement="auto top">“she would go.” </span>
          
        </p>
        <p>
          
            <span id="said_no_04781" class="said" data-toggle="tooltip" title="Mrs. Bennet" data-placement="auto top">“She is a very fine-looking woman! and her calling here was prodigiously
              civil! for she only came, I suppose, to tell us the Collinses were well. She is on her road somewhere, I dare say, and so, passing through
              Meryton, thought she might as well call on you. I suppose she had nothing particular to say to you, Lizzy?” </span>
          
        </p>
        <p>
          
            <span id="said_no_04782" class="said" data-toggle="tooltip" title="aus.001.nar" data-placement="auto top">Elizabeth was forced to give into a little falsehood here; for to acknowledge the substance of
              their conversation was impossible.</span>
          
        </p>
      
  <div class="footnotes"> </div>
