<h3>Project Team</h3>

<p><strong><a href="http://www.unl.edu/english/laura-white">Laura White</a></strong>, Principal Investigator, John E. Weaver
Professor of English</p>

<p><strong>Carmen Smith</strong>, Associate Investigator, Ph.D.
candidate, English</p>

<p><strong><a href="http://cdrh.unl.edu/about/faculty/pytlik_zillig">Brian Pytlik Zillig</a></strong>, Professor, Libraries and
Fellow, CDRH</p>

<p><strong><a href="http://cdrh.unl.edu/about/staff/weakly">Laura Weakly</a></strong>, Metadata Encoding Specialist,
CDRH</p>

<p><strong><a href="http://cdrh.unl.edu/about/staff/dalziel">Karin Dalziel</a></strong>, Digital Design/Development
Specialist, CDRH</p>

<p><strong><a href="http://cdrh.unl.edu/about/faculty/ramsay">Stephen Ramsay</a></strong>, Susan J. Rosowski Associate
University Professor, English, and Fellow, CDRH (on project 2011-13)</p>

<p><strong><a href="http://cdrh.unl.edu/about/faculty/jockers">Matthew Jockers</a></strong>, Assoc. Professor, English, and
Fellow, CDRH (on project 2013-present)</p>

<p><strong><a href="http://cdrh.unl.edu/about/staff/dussault">Jessica Dussault</a></strong>, Programmer, CDRH</p>

<h4>Encoding by</h4> 
<ul>
  <li><strong>Carmen Smith</strong></li>
  <li><strong>Danielle Metcalf</strong>, M.A., English</li>
  <li><strong>David Moberly</strong>, M.A., English</li>
  <li><strong>Stephanie Camerone</strong>, Ph.D. student, English</li>
  <li><strong>Samantha Adrales</strong>, B.A. student, English</li>
  <li><strong>Julie Ward</strong>, B.A. English</li>
</ul>