<h2>About</h2>

<!-- <div class="row">
  <div class="col-md-6">
    <ul class="list-group">
    <%# link_to "Credits and Staff", {:name => "credits", :action => "sub"}, class: "list-group-item" %>
    <%# link_to "Data Download", {:name => "download", :action => "sub"}, class: "list-group-item" %>
    </ul>
  </div>
  <div class="col-md-6">
  </div>
</div> -->

<%# could be moved to _credits.html.erb %>

<ul>
  <li><a href="#team">Project Team</a></li>
  <li><a href="#download">Download the Data</a></li>
  <li><a href="#technical">Technical Information</a></li>
</ul>

<h3 id="team">Project Team</h3>

<p><strong><a href="http://www.unl.edu/english/laura-white">Laura White</a></strong>, Principal Investigator, John E. Weaver
Professor of English</p>

<p><strong>Carmen Smith</strong>, Associate Investigator, Ph.D.
candidate, English</p>

<p><strong><a href="http://cdrh.unl.edu/about/faculty/pytlik_zillig">Brian Pytlik Zillig</a></strong>, Professor, Libraries and
Fellow, CDRH</p>

<p><strong><a href="http://cdrh.unl.edu/about/staff/weakly">Laura Weakly</a></strong>, Metadata Encoding Specialist,
CDRH</p>

<p><strong><a href="http://cdrh.unl.edu/about/staff/dalziel">Karin Dalziel</a></strong>, Digital Design/Development
Specialist, CDRH</p>

<p><strong><a href="http://cdrh.unl.edu/about/faculty/ramsay">Stephen Ramsay</a></strong>, Susan J. Rosowski Associate
University Professor, English, and Fellow, CDRH (on project 2011-13)</p>

<p><strong><a href="http://cdrh.unl.edu/about/faculty/jockers">Matthew Jockers</a></strong>, Assoc. Professor, English, and
Fellow, CDRH (on project 2013-present)</p>

<p><strong><a href="http://cdrh.unl.edu/about/staff/dussault">Jessica Dussault</a></strong>, Programmer, CDRH</p>

<h4>Encoding by</h4> 
<ul>
  <li><strong>Carmen Smith</strong></li>
  <li><strong>Laura Weakly</strong></li>
  <li><strong>Danielle Metcalf</strong>, M.A., English</li>
  <li><strong>David Moberly</strong>, M.A., English</li>
  <li><strong>Stephanie Camerone</strong>, Ph.D. student, English</li>
  <li><strong>Samantha Adrales</strong>, B.A. student, English</li>
  <li><strong>Julie Ward</strong>, B.A. English</li>
</ul>

<%# could be moved to _download.html.erb %>
<h3 id="download">Download the Data</h3>

<h4>Novel TEI-XML</h4>
<p>
  The TEI below contains the markup that was used to power the <%= link_to "visualizations", visual_index_path %>.
</p>
<div class="list-group">
  <% Books.book_list.each do |book, info| %>
    <%= link_to info["title"], xml_path(info["xml"]), :class => "list-group-item" %>
  <% end %>
</div>


<h3 id="technical">Technical Information</h3>
<h4 id="data">Data</h4>

<ul>
<li>Documents follow the <a href="http://www.tei-c.org/Guidelines/P5/">Text Encoding initiative P5 standard</a>.</li>
</ul>

<h4 id="technologies">Technologies</h4>

<ul>
<li>Framework: <a href="http://rubyonrails.org/">Ruby on Rails 4</a></li>
<li>Search and Browse functionality: <a href="http://lucene.apache.org/solr/">Apache Solr</a></li>
<li>Data Querying and Transformation: XSLT Scripts (powered by <a href="http://saxon.sourceforge.net/#F9.6HE">Saxon 9 HE</a>)</li>
<li>Data Indexing: Ruby Scripts</li>
</ul>

<h4 id="process">Process</h4>

<h5 id="datacreation">Data Creation</h5>

<p>First all documents were encoded following a sample encoding developed by Laura Weakly. More on this process can be found in the background section. XSLT was then used to transform the documents into HTML which preserved many of the elements of the TEI, including speaker and FID information. For the visualizations, CSS and Javascript was written to highlight various aspects of the markup. For the document search, an XSLT script was written to convert the TEI XML into the <a href="https://cwiki.apache.org/confluence/display/solr/Uploading+Data+with+Index+Handlers#UploadingDatawithIndexHandlers-XMLFormattedIndexUpdates">Solr XML ingest format</a>, with each &lt;said> tag representing one document in the Solr index. We automatically numbered the &lt;said> so that results can be viewed in document order. </p>

<p>For the word frequencies, XSLT scripts were written to create a unique word list for each character and trait.</p>

<h5 id="websitecreation">Website Creation</h5>

<p>The first proof of concept version of Austen Said was developed in Apache Cocoon, before creating the current iteration in Ruby on Rails. Cocoon allowed for dynamic XSLT transformations, while files in the Ruby on Rails version are preprocessed whenever files change. </p>


