<h2>About</h2>


  <h3>Project Team</h3>

  

  <p><strong>Laura White</strong>, Principal Investigator, John E. Weaver
  Professor of English</p>

  <p><strong>Carmen Smith</strong>, Associate Investigator, Ph.D.
  candidate, English</p>

  <p><strong>Brian Pytlik Zillig</strong>, Professor, Libraries and
  Fellow, CDRH</p>

  <p><strong>Laura Weakly</strong>, Metadata Encoding Specialist,
  CDRH</p>

  <p><strong>Karin Dalziel</strong>, Digital Design/Development
  Specialist, CDRH</p>

  <p><strong>Stephen Ramsay</strong>, Susan J. Rosowski Associate
  University Professor, English, and Fellow, CDRH (on project 2011-13)</p>

  <p><strong>Matthew Jockers</strong>, Assoc. Professor, English, and
  Fellow, CDRH (on project 2013-present)</p>

  <p><strong>Jessica Dussault</strong>, Programmer, CDRH</p>

  <h4>Encoding by</h4> 
  <ul>
  <li><strong>Carmen Smith</strong></li>
  <li><strong>Danielle Metcalf</strong>, M.A., English</li>
  <li><strong>David Moberly</strong>, M.A., English</li>
  <li><strong>Stephanie Camerone</strong>, Ph.D. student, English</li>
  <li><strong>Samantha Adrales</strong>, B.A. student, English</li>
  <li><strong>Julie Ward</strong>, B.A. English</li>
  </ul>