/**************************************/
/* Bootstrap IMPORT */
@import "bootstrap";
/* /Bootstrap IMPORT */
/**************************************/

#wrapper {
  margin-top: 20px; }


.site_title h1 {
  font-family: 'Alice', serif;
  font-size: 4.5em;
  margin: .2em 0 0 0;
  color: #447984; }


.site_title h1 span {
  color: #EE1F20; }


.site_title h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8em;
  color: #3c9d64;
  margin: 0 0 .5em 0; }


.tei_element {
  color: #ee3f42; }


.tei_attribute {
  color: #447984; }


.tei_attribute_value {
  color: #3c9d64; }

.header .navbar {
	font-size: 1.2em;
}





body {
  /*background-image: url(../../assets/images/sample_bg.jpg);*/
  /* 	background-color: #f1e0b4; */ }


.container {
  background-color: RGBA(255, 255, 255, 0.9); }


.navbar {
  margin: 0; }


#wrapper {
  margin: 0 auto;
  padding-top: 2em; }

@media (min-width: 992px) {
  	/*body {
  	background-color: #aaa;
  }*/
  
  .site_title h1 {
    display: inline-block;
    width: 50%;
    line-height: 1em;
    font-size: 6em; }


  .site_title h2 {
    display: inline-block;
    width: 45%;
    font-size: 2.6em;
    padding-left: .2em;
    line-height: 1em; }


  .secondary_title {
    display: inline-block; } }

.navbar {
  border: none;
  border-right: none;
  border-left: none;
  background-image: url(sample_bg.gif); }


.footer .container {
  background-image: url(sample_bg.gif);
  padding: 15px 50px;
}

.footer .container .footer_info {
  background-color: RGBA(255, 255, 255, 0.9);
  padding: 10px;
  overflow: auto;
}

.footer .container .footer_logo {
	float: right;
}

.footer .container .footer_info p {
	width: 60%;
	float: left;
}

.footer {
  margin-bottom: 400px;
}

#wrapper {
  padding-bottom: 4em;
}

/*
@media (max-width: 767px) {

  .go {
    color: #ccc; } }




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.character-list {
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
  column-count:3;
  
}


body { }       


          


.indirect {
  background-color: $brand-info;

}

.fid {
  background-color: $brand-primary;
}

.intro_to_fid {
  background-color: $brand-warning;
}

.certainty_1 {
  background-image: url(certainty.1.png);
}

.certainty_2 {
  background-image: url(certainty.2.png);
}

.certainty_3 {
  background-image: url(certainty.3.png);
}

.certainty_4 {
  background-image: url(certainty.4.png);
}

.certainty_5 {
  background-image: url(certainty.5.png);
}

.certainty_6 {
  background-image: url(certainty.6.png);
}

.certainty_7 {
  background-image: url(certainty.7.png);
}

.certainty_8 {
  background-image: url(certainty.8.png);
}

.certainty_9 {
  background-image: url(certainty.9.png);
}

.certainty_1 {
  /* None, darkest */
}

.mode_key {
  /*padding: .2em .7em;*/
  width:10%;
  display: inline-block;
}

.mode_key_intro {
  width:100%;
  display: inline-block;
}

/* Page jump Navigation */

.pagination_container {
  text-align: right;
  padding:.4em 0 0 0;
  
}

.pagination {
  margin:0 0 0 0;
}

.search_controls {
  margin: .2em 0 1em 0;
}

.main_search_text {
	width: 100% !important;
	margin-right: -2.15em;
	padding-right:2.6em;
	float:left;
	
}
	
	.panel-primary {
  	clear:both;
	}


.clear_main_search_text {

}

.submit_main_search_text {
  	float: right;
	width: 100%;
}



.search_results_text {
//   font-size:1.1em
}

.search_results_info ul {
  margin:0;
  padding:0;
  list-style-type: none;
  font-size: .9em;
}

.search_results_info li {
  padding-left: 1em ;
  text-indent: -1em ;
}


.pagination, .searchSort {
//   padding:  px 0;
}

.paginationJump {
  width: 3em;
  border: 1px solid #aaa;
  margin: 0;
//   padding: .2em;
  border-radius: 0px;
}

.pagination input.submit {
  border: 1px solid #aaa;
  background-color: #faf8ef;
  margin: 0 0 0 -1px;
  padding: .2em;
}

form.jumpForm {
  display: inline;
}

/* Temporary */
.search_results {
  border-bottom: solid #f5efe6 2px;
  
padding-top: 10px;
padding-bottom: 10px;
}

.search_results em {
  background-color: yellow;
}



/* Chapter visualization */


/* Inline block code from http://www.ruzee.com/blog/2007/05/align-list-items-horizontally-with-css */

.chapter-div {
  width: 160px;
  display:-moz-inline-box; 
  -moz-box-orient:vertical;
  display:inline-block; 
  vertical-align:top; 
  word-wrap:break-word;
}

* + html .novel-container .chapter-div { display:inline; }  /* for IE 7 */

.chapter-div-small-text {
  font-size: 3px;
}

.chapter-div p{
  margin: 0;
}

.chapter-div blockquote p, .chapter-div blockquote{
  margin: 0;
  font-size: 3px;
  padding: 0;
}

.novel-panel {
	position: relative;
}
.panel-novel-overview {
  /*position: fixed;*/
  width:250px;
  float:left;
}

.all_chapters {
	margin-left:270px
}

.affix {
  top: 0px;
  /* width: 213px; */

}
/* From individual pages */


/* From search */

.selected {
  background-color: #B8DAE6;
}

/* frequencies */
.text-display-container {
  float: left;
}

.frequency_group {
  float: left;
  position: relative;
}

.select-text-btn {
  width: 100%;
  
}

.frequency_text {
	clear: both;
	display: block;
}


/* Visualizations */

.visualizations_list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
	margin-bottom: 30px;
	display: block;
	overflow: auto;
	
}

.visualizations_list li {
	width: 50%;
	float:left;
	display: block;
}


.visualizations_list li span {
	
	margin-bottom: 1em;
	
	display: block;
	padding: 1px;
	margin: .3em;
	background: url(pattern_002.png);
}

.visualizations_list li a {
	padding: 20px;
	display: block;
	height: 100%;
	margin: 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 2em;
	background-color: RGBA(255,255,255,.8);
	color: #3b3b3b;
	
	
	
}

.visualizations_list li a:hover {
	background-color: RGBA(255, 255, 255,.95);
}

/*.pap {
	background-color: #f3e2b4;
}

.p {
	background-color: #6b9d63;
}
 .na {
	background-color: #ed6362;
}

.sas {
	background-color: #447884;
}

.e {
	background-color: #4c7246;
}

.mp {
	background-color: #c59f3d;
}*/

/*.pap {
	background: url(pattern_001.png);
}

.p {
	background: url(pattern_002.png);	
}
 .na {
	background: url(pattern_009.png);	
}

.sas {
	background: url(pattern_004.png);	
}

.e {
	background: url(pattern_005.png);	
}

.mp {
	background: url(pattern_006.png);	
}*/

.view_chapter {

	padding: 10px;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 1em;
	background-color: #f5eee5;
}

.view_chapter p {
	background-color: RGBA(255,255,255,.8);
	margin: 5px;
	padding: 10px;
}

.view_chapter p span {
	display: block;
}

.table_of_contents {
	padding: 1em;
	}
	
.table_of_contents ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 1.2em;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.panel-novel-overview h4 {
	font-size: 1em;
	font-weight: bold;
}

.certainty_key {
	margin: -.8em 0 0 0;
	padding: 0;
}


.back_to_top {
  font-size: .8em;
}



.home_text {
  font-size: 1.5em;
  line-height: 1.4em; }
  
.home_intro {
    font-size: 1.8em;
    margin-bottom: 1em;
  }


.home_text .initial_word {
  font-family: 'Alice';
  font-size: 1.9em;
  color: #3c9d64; }

.tei_said {
  font-weight: 800; }

div.austen_tei {
  margin: 0;
  padding:0;
/*
  white-space: pre-wrap;
  word-break: normal;
*/
}

div.austen_tei pre {
  font-size: 1em;
  color: #000;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
/*
  word-wrap: normal;
  white-space: pre-wrap;
*/
  word-break: normal;
   }



/*
code.austen_tei {
  font-family: monospace,monospace;
    font-size: 1em;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #c7254e;
    font-size: 90%;
    padding: 2px 4px;
  
}

code.austen_tei pre {
  overflow: auto;
  background-color: whitesmoke;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #506a6e;
    display: block;
    font-size: 15px;
    line-height: 1.42857;
    margin: 0 0 11px;
    padding: 10.5px;
    word-break: break-all;
    word-wrap: break-word;
}

pre code {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap;
}











*/



