/**************************************/
/* Bootstrap IMPORT */
@import "bootstrap";
/* /Bootstrap IMPORT */
/**************************************/

#wrapper {
  margin-top: 20px; }


.site_title h1 {
  font-family: 'Alice', serif;
  font-size: 4.5em;
  margin: .2em 0 0 0;
  color: #447984; }


.site_title h1 span {
  color: #EE1F20; }


.site_title h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8em;
  color: #3c9d64;
  margin: 0 0 .5em 0; }


.tei_element {
  color: #ee3f42; }


.tei_attribute {
  color: #447984; }


.tei_attribute_value {
  color: #3c9d64; }

.header .navbar {
	font-size: 1.2em;
}


pre {
  font-size: 1em;
  color: #000; }


.tei_said {
  font-weight: 800; }


code.austen_tei pre {
  border: none;
  background: transparent; }


.home_text {
  font-size: 1.5em;
  line-height: 1.4em; }


.home_text .initial_word {
  font-family: 'Alice';
  font-size: 1.9em;
  color: #3c9d64; }


code {
  padding: 0;
  margin: 0; }


body {
  /*background-image: url(../../assets/images/sample_bg.jpg);*/
  /* 	background-color: #f1e0b4; */ }


.container {
  background-color: RGBA(255, 255, 255, 0.9); }


.navbar {
  margin: 0; }


#wrapper {
  margin: 0 auto;
  padding-top: 2em; }

@media (min-width: 992px) {
  	/*body {
  	background-color: #aaa;
  }*/
  
  .site_title h1 {
    display: inline-block;
    width: 50%;
    line-height: 1em;
    font-size: 6em; }


  .site_title h2 {
    display: inline-block;
    width: 45%;
    font-size: 2.6em;
    padding-left: .2em;
    line-height: 1em; }


  .secondary_title {
    display: inline-block; } }

.navbar {
  border: none;
  border-right: none;
  border-left: none;
  background-image: url(sample_bg.gif); }


.footer .container {
  background-image: url(sample_bg.gif);
  padding: 15px 50px; }


.footer .container p {
  background-color: RGBA(255, 255, 255, 0.9);
  padding: 10px; }


/*
@media (max-width: 767px) {

  .go {
    color: #ccc; } }




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.character-list {
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari and Chrome */
  column-count:3;
  
}


body {        

          /* padding-bottom: 1000px; */
          /*background-color: red;*/
          }
          


.indirect {
  background-color: blue;

}

.fid {
  background-color: red;
}

.intro_to_fid {
  background-color: yellow;
}

.certainty_1 {
  background-image: url(certainty.1.png);
}

.certainty_2 {
  background-image: url(certainty.2.png);
}

.certainty_3 {
  background-image: url(certainty.3.png);
}

.certainty_4 {
  background-image: url(certainty.4.png);
}

.certainty_5 {
  background-image: url(certainty.5.png);
}

.certainty_6 {
  background-image: url(certainty.6.png);
}

.certainty_7 {
  background-image: url(certainty.7.png);
}

.certainty_8 {
  background-image: url(certainty.8.png);
}

.certainty_9 {
  background-image: url(certainty.9.png);
}

.certainty_1 {
  /* None, darkest */
}

.mode_key {
  /*padding: .2em .7em;*/
  width:10%;
  display: inline-block;
}

.mode_key_intro {
  width:100%;
  display: inline-block;
}

/* Page jump Navigation */

.pagination {
  
}

.pagination, .searchSort {
  padding:  10px 0;
}

.paginationJump {
  width: 3em;
  border: 1px solid #aaa;
  margin: 0;
  padding: .2em;
  border-radius: 0px;
}

.pagination input.submit {
  border: 1px solid #aaa;
  background-color: #faf8ef;
  margin: 0 0 0 -1px;
  padding: .2em;
}

form.jumpForm {
  display: inline;
}

/* Temporary */
.search_results {
  border: solid #aaa 2px;
padding-top: 10px;
padding-bottom: 10px;
}

.search_results em {
  background-color: yellow;
}



/* Chapter visualization */


/* Inline block code from http://www.ruzee.com/blog/2007/05/align-list-items-horizontally-with-css */

.chapter-div {
  width: 160px;
  display:-moz-inline-box; 
  -moz-box-orient:vertical;
  display:inline-block; 
  vertical-align:top; 
  word-wrap:break-word;
}

* + html .novel-container .chapter-div { display:inline; }  /* for IE 7 */

.chapter-div-small-text {
  font-size: 3px;
}

.chapter-div p{
  margin: 0;
}

.chapter-div blockquote p, .chapter-div blockquote{
  margin: 0;
  font-size: 3px;
  padding: 0;
}

.novel-panel {
	position: relative;
}
.panel-novel-overview {
  /*position: fixed;*/
  width:250px;
  float:left;
}

.all_chapters {
	margin-left:270px
}

.affix {
  top: 0px;
  /* width: 213px; */

}
/* From individual pages */


/* From search */
.selected {
    background-color:#B8DAE6;
  }
  
/* frequencies */

.text-display-container {
    float:left;
  }

  .frequency_group {
    float:left;
    position:relative;
  }

  .select-text-btn {
    position:absolute;
  }


