

     
    
        

                <h3>Chapter 7</h3>

                <p><span id="said_no_00286" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Half a minute conducted them
                        through the pump-yard to the archway, opposite Union Passage; but here they
                        were stopped. Everybody acquainted with Bath may remember the difficulties
                        of crossing Cheap Street at this point; it is indeed a street of so
                        impertinent a nature, so unfortunately connected with the great London and
                        Oxford roads, and the principal inn of the city, that a day never passes in
                        which parties of ladies, however important their business, whether in quest
                        of pastry, millinery, or even (as in the present case) of young men, are not
                        detained on one side or other by carriages, horsemen, or carts. This evil
                        had been felt and lamented, at least three times a day, by Isabella since
                        her residence in Bath; and she was now fated to feel and lament it once
                        more, for at the very moment of coming opposite to Union Passage, and within
                        view of the two gentlemen who were proceeding through the crowds, and
                        threading the gutters of that interesting alley, they were prevented
                        crossing by the approach of a gig, driven along on bad pavement by a most
                        knowing-looking coachman with all the vehemence that could most fitly
                        endanger the lives of himself, his companion, and his horse.</span></p>

                <p><span id="said_no_00287" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Oh, these odious
                            gigs!”</span>
                        <span id="said_no_00288" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Isabella, looking
                            up.</span>
                        <span id="said_no_00289" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“How I detest
                            them.”</span>
                        <span id="said_no_00290" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">But this detestation,
                            though so just, was of short duration, for she looked again and
                            exclaimed,</span>
                        <span id="said_no_00291" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Delightful! Mr. Morland
                            and my brother!”</span></p>

                <p><span id="said_no_00292" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Good heaven! 'Tis
                            James!”</span>
                        <span id="said_no_00293" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">was uttered at the same
                            moment by Catherine; and, on catching the young men’s eyes, the horse
                            was immediately checked with a violence which almost threw him on his
                            haunches, and the servant having now scampered up, the gentlemen jumped
                            out, and the equipage was delivered to his care.</span></p>

                <p><span id="said_no_00294" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine, by whom this
                        meeting was wholly unexpected, received her brother with the liveliest
                        pleasure; and he, being of a very amiable disposition, and sincerely
                        attached to her, gave every proof on his side of equal satisfaction, which
                        he could have leisure to do, while the bright eyes of Miss Thorpe were
                        incessantly challenging his notice; and to her his devoirs were speedily
                        paid, with a mixture of joy and embarrassment which might have informed
                        Catherine, had she been more expert in the development of other people’s
                        feelings, and less simply engrossed by her own, that her brother thought her
                        friend quite as pretty as she could do herself.</span></p>

                <p><span id="said_no_00295" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">John Thorpe, who in the
                        meantime had been giving orders about the horses, soon joined them, and from
                        him she directly received the amends which were her due; for while he
                        slightly and carelessly touched the hand of Isabella, on her he bestowed a
                        whole scrape and half a short bow. He was a stout young man of middling
                        height, who, with a plain face and ungraceful form, seemed fearful of being
                        too handsome unless he wore the dress of a groom, and too much like a
                        gentleman unless he were easy where he ought to be civil, and impudent where
                        he might be allowed to be easy.</span>
                    <span id="said_no_00296" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">He took out his
                            watch:</span>
                        <span id="said_no_00297" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“How long do you think
                            we have been running it from Tetbury, Miss Morland?”</span></p>

                <p><span id="said_no_00298" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I do not know the
                        distance.”</span>
                    <span id="said_no_00299" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Her brother told her
                        that</span>
                    <span id="said_no_00300" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="James Morland" data-placement="auto top">it was twenty-three miles.</span></p>

                <p><span id="said_no_00301" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Three and
                            twenty!”</span>
                        <span id="said_no_00302" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">cried Thorpe.</span>
                        <span id="said_no_00303" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Five and twenty if it
                            is an inch.”</span>
                        <span id="said_no_00304" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Morland remonstrated,
                            pleaded the authority of road-books, innkeepers, and milestones; but his
                            friend disregarded them all; he had a surer test of distance.</span>
                        <span id="said_no_00305" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“I know it must be five
                            and twenty,” said he, “by the time we have been doing it. It is now half
                            after one; we drove out of the inn-yard at Tetbury as the town clock
                            struck eleven; and I defy any man in England to make my horse go less
                            than ten miles an hour in harness; that makes it exactly
                            twenty-five.”</span></p>

                <p><span id="said_no_00306" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“You have lost an
                            hour,”</span>
                        <span id="said_no_00307" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Morland;</span>
                        <span id="said_no_00308" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“it was only ten o’clock
                            when we came from Tetbury.”</span></p>

                <p><span id="said_no_00309" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Ten o’clock! It was
                            eleven, upon my soul! I counted every stroke. This brother of yours
                            would persuade me out of my senses, Miss Morland; do but look at my
                            horse; did you ever see an animal so made for speed in your
                            life?”</span>
                        <span id="said_no_00310" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">(The servant had just
                            mounted the carriage and was driving off.)</span>
                        <span id="said_no_00311" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Such true blood! Three
                            hours and and a half indeed coming only three and twenty miles! Look at
                            that creature, and suppose it possible if you can.”</span></p>

                <p><span id="said_no_00312" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“He does look very hot, to be
                        sure.”</span></p>

                <p><span id="said_no_00313" class="said certainty" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Hot! He had not turned a
                        hair till we came to Walcot Church; but look at his forehand; look at his
                        loins; only see how he moves; that horse cannot go less than ten miles an
                        hour: tie his legs and he will get on. What do you think of my gig, Miss
                        Morland? A neat one, is not it? Well hung; town-built; I have not had it a
                        month. It was built for a Christchurch man, a friend of mine, a very good
                        sort of fellow; he ran it a few weeks, till, I believe, it was convenient to
                        have done with it. I happened just then to be looking out for some light
                        thing of the kind, though I had pretty well determined on a curricle too;
                        but I chanced to meet him on Magdalen Bridge, as he was driving into Oxford,
                        last term: <span id="said_no_00314" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="John Thorpe speaking as Christchurch man" data-placement="auto top">‘Ah!
                            Thorpe,’</span>
                        <span id="said_no_00315" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">said he,</span>
                        <span id="said_no_00316" class="said indirect said_tooltip certainty1" data-toggle="tooltip" title="John Thorpe speaking as Christchurch man" data-placement="auto top">‘do you happen to
                            want such a little thing as this? It is a capital one of the kind, but I
                            am cursed tired of it.’</span>
                        <span id="said_no_00317" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">‘Oh! D—,' said I;
                            ‘I am your man; what do you ask?’</span> And how much do you think he
                        did, Miss Morland?”</span></p>

                <p><span id="said_no_00318" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I am sure I cannot guess at
                        all.”</span></p>

                <p><span id="said_no_00319" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Curricle-hung, you see;
                        seat, trunk, sword-case, splashing-board, lamps, silver moulding, all you
                        see complete; the iron-work as good as new, or better.</span>
                    <span id="said_no_00320" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">He asked</span>
                    <span id="said_no_00321" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="John Thorpe speaking as Christchurch man" data-placement="auto top">fifty guineas;</span>
                    <span id="said_no_00322" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">I closed with him directly,
                        threw down the money, and the carriage was mine.”</span></p>

                <p><span id="said_no_00323" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“And I am sure,”</span>
                        <span id="said_no_00324" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Catherine,</span>
                        <span id="said_no_00325" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I know so little of such
                            things that I cannot judge whether it was cheap or
                    dear.”</span></p>

                <p><span id="said_no_00326" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Neither one nor t’other; I
                        might have got it for less, I dare say; but I hate haggling, and poor
                        Freeman wanted cash.”</span></p>

                <p><span id="said_no_00327" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“That was very
                            good-natured of you,”</span> said Catherine, quite pleased.</p>

                <p><span id="said_no_00328" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Oh! D— it, when one
                        has the means of doing a kind thing by a friend, I hate to be
                        pitiful.”</span></p>

                <p><span id="said_no_00329" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">An inquiry now took place
                        into the intended movements of the young ladies; and, on finding whither
                        they were going, it was decided that the gentlemen should accompany them to
                        Edgar’s Buildings, and pay their respects to Mrs. Thorpe. James and Isabella
                        led the way; and so well satisfied was the latter with her lot, so
                        contentedly was she endeavouring to ensure a pleasant walk to him who
                        brought the double recommendation of being her brother’s friend, and her
                        friend’s brother, so pure and uncoquettish were her feelings, that, though
                        they overtook and passed the two offending young men in Milsom Street, she
                        was so far from seeking to attract their notice, that she looked back at
                        them only three times.</span></p>

                <p><span id="said_no_00330" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">John Thorpe kept of
                            course with Catherine, and, after a few minutes’ silence, renewed the
                            conversation about his gig.</span>
                        <span id="said_no_00331" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“You will find, however,
                            Miss Morland, it would be reckoned a cheap thing by some people, for I
                            might have sold it for ten guineas more the next day; Jackson, of Oriel,
                            bid me sixty at once; Morland was with me at the time.”</span></p>

                <p><span id="said_no_00332" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“Yes,”</span>
                        <span id="said_no_00333" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Morland, who
                            overheard this;</span>
                        <span id="said_no_00334" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“but you forget that your
                            horse was included.”</span></p>

                <p><span id="said_no_00335" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“My horse! Oh, d — it!
                        I would not sell my horse for a hundred. Are you fond of an open carriage,
                        Miss Morland?”</span></p>

                <p><span id="said_no_00336" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Yes, very; I have hardly ever
                        an opportunity of being in one; but I am particularly fond of
                    it.”</span></p>

                <p><span id="said_no_00337" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“I am glad of it; I will
                        drive you out in mine every day.”</span></p>

                <p><span id="said_no_00338" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Thank you,”</span>
                        <span id="said_no_00339" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Catherine, in some
                            distress, from a doubt of the propriety of accepting such an
                            offer.</span></p>

                <p><span id="said_no_00340" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“I will drive you up Lansdown
                        Hill tomorrow.”</span></p>

                <p><span id="said_no_00341" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Thank you; but will not your
                        horse want rest?”</span></p>

                <p><span id="said_no_00342" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Rest! He has only come three
                        and twenty miles today; all nonsense; nothing ruins horses so much as rest;
                        nothing knocks them up so soon. No, no; I shall exercise mine at the average
                        of four hours every day while I am here.”</span></p>

                <p><span id="said_no_00343" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Shall you
                            indeed!”</span>
                        <span id="said_no_00344" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Catherine very
                            seriously.</span>
                        <span id="said_no_00345" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“That will be forty miles
                            a day.”</span></p>

                <p><span id="said_no_00346" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Forty! Aye, fifty, for what
                        I care. Well, I will drive you up Lansdown tomorrow; mind, I am
                        engaged.”</span></p>

                <p><span id="said_no_00347" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“How delightful that will
                            be!”</span>
                        <span id="said_no_00348" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">cried Isabella, turning
                            round.</span>
                        <span id="said_no_00349" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“My dearest Catherine, I
                            quite envy you; but I am afraid, brother, you will not have room for a
                            third.”</span></p>

                <p><span id="said_no_00350" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“A third indeed! No, no; I
                        did not come to Bath to drive my sisters about; that would be a good joke,
                        faith! Morland must take care of you.”</span></p>

                <p>This brought on a dialogue of civilities between the other two; but
                        Catherine heard neither the particulars nor the result. Her companion’s
                        discourse now sunk from its hitherto animated pitch to nothing more than a
                        short decisive sentence of praise or condemnation on the face of every woman
                        they met; and Catherine, after listening and agreeing as long as she could,
                        with all the civility and deference of the youthful female mind, fearful of
                        hazarding an opinion of its own in opposition to that of a self-assured man,
                        especially where the beauty of her own sex is concerned, ventured at length
                        to vary the subject by a question which had been long uppermost in her
                        thoughts; it was, <span id="said_no_00351" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Have
                            you ever read Udolpho, Mr. Thorpe?”</span></p>

                <p><span id="said_no_00352" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Udolpho! Oh, Lord! Not I; I
                        never read novels; I have something else to do.”</span></p>

                <p><span id="said_no_00353" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine, humbled and
                            ashamed, was going to apologize for her question, but he prevented her
                            by saying,</span>
                        <span id="said_no_00354" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Novels are all so full
                            of nonsense and stuff; there has not been a tolerably decent one come
                            out since Tom Jones, except The Monk; I read that t’other day; but as
                            for all the others, they are the stupidest things in
                        creation.”</span></p>

                <p><span id="said_no_00355" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I think you must like
                        Udolpho, if you were to read it; it is so very interesting.”</span></p>

                <p><span id="said_no_00356" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Not I, faith! No, if I read
                        any, it shall be Mrs. Radcliffe’s; her novels are amusing enough; they are
                        worth reading; some fun and nature in them.”</span></p>

                <p><span id="said_no_00357" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Udolpho was written by
                            Mrs. Radcliffe,”</span>
                        <span id="said_no_00358" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Catherine, with
                            some hesitation, from the fear of mortifying him.</span></p>

                <p><span id="said_no_00359" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“No sure; was it? Aye, I
                        remember, so it was; I was thinking of that other stupid book, written by
                        that woman they make such a fuss about, she who married the French
                        emigrant.”</span></p>

                <p><span id="said_no_00360" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I suppose you mean
                        Camilla?”</span></p>

                <p><span id="said_no_00361" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Yes, that’s the book; such
                        unnatural stuff! An old man playing at see-saw, I took up the first volume
                        once and looked it over, but I soon found it would not do; indeed I guessed
                        what sort of stuff it must be before I saw it: as soon as I heard she had
                        married an emigrant, I was sure I should never be able to get through
                        it.”</span></p>

                <p><span id="said_no_00362" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I have never read
                    it.”</span></p>

                <p><span id="said_no_00363" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“You had no loss, I assure
                        you; it is the horridest nonsense you can imagine; there is nothing in the
                        world in it but an old man’s playing at see-saw and learning Latin; upon my
                        soul there is not.”</span></p>

                <p><span id="said_no_00364" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">This critique, the justness
                        of which was unfortunately lost on poor Catherine, brought them to the door
                        of Mrs. Thorpe’s lodgings, and the feelings of the discerning and
                        unprejudiced reader of Camilla gave way to the feelings of the dutiful and
                        affectionate son, as they met Mrs. Thorpe, who had descried them from above,
                        in the passage.</span>
                    <span id="said_no_00365" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Ah, Mother! How do you
                            do?”</span>
                        <span id="said_no_00366" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said he, giving her a
                            hearty shake of the hand.</span>
                        <span id="said_no_00367" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Where did you get that
                            quiz of a hat? It makes you look like an old witch. Here is Morland and
                            I come to stay a few days with you, so you must look out for a couple of
                            good beds somewhere near.”</span>
                    <span id="said_no_00368" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">And this address seemed to
                        satisfy all the fondest wishes of the mother’s heart, for she received him
                        with the most delighted and exulting affection. On his two younger sisters
                        he then bestowed an equal portion of his fraternal tenderness, for</span>
                    <span id="said_no_00369" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">he asked each of
                        them</span>
                    <span id="said_no_00370" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.003.nar_john" data-placement="auto top">how they did,</span>
                    <span id="said_no_00371" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and observed that</span>
                    <span id="said_no_00372" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.003.nar_john" data-placement="auto top">they both looked very
                        ugly.</span></p>

                <p><span id="said_no_00373" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">These manners did not please
                        Catherine; but he was James’s friend and Isabella’s brother; and her
                        judgment was further bought off by</span>
                    <span id="said_no_00374" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Isabella’s assuring
                        her,</span>
                    <span id="said_no_00375" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">when they withdrew to see
                        the new hat,</span>
                    <span id="said_no_00376" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_00377" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_isa" data-placement="auto top">John thought her the most charming
                        girl in the world,</span>
                    <span id="said_no_00378" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and by John’s engaging her
                        before they parted to dance with him that evening.</span>
                    <span id="said_no_00379" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Had she been older or
                            vainer, such attacks might have done little; but, where youth and
                            diffidence are united, it requires uncommon steadiness of reason to
                            resist the attraction of being called the most charming girl in the
                            world, and of being so very early engaged as a partner; and the
                            consequence was that, when the two Morlands, after sitting an hour with
                            the Thorpes, set off to walk together to Mr. Allen’s, and James, as the
                            door was closed on them, said,</span>
                        <span id="said_no_00380" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“Well, Catherine, how do
                            you like my friend Thorpe?”</span>
                    <span id="said_no_00381" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">instead of answering,
                            as she probably would have done, had there been no friendship and no
                            flattery in the case,</span>
                        <span id="said_no_00382" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">“I do not like him at
                            all,”</span> she directly replied, <span id="said_no_00383" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I like him very much; he seems very
                            agreeable.”</span></p>

                <p><span id="said_no_00384" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“He is as good-natured a
                        fellow as ever lived; a little of a rattle; but that will recommend him to
                        your sex, I believe: and how do you like the rest of the family?”</span></p>

                <p><span id="said_no_00385" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Very, very much indeed:
                        Isabella particularly.”</span></p>

                <p><span id="said_no_00386" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“I am very glad to hear
                            you say so; she is just the kind of young woman I could wish to see you
                            attached to; she has so much good sense, and is so thoroughly unaffected
                            and amiable; I always wanted you to know her; and she seems very fond of
                            you. She said the highest things in your praise that could possibly be;
                            and the praise of such a girl as Miss Thorpe even you,
                            Catherine,”</span>
                        <span id="said_no_00387" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">taking her hand with
                            affection,</span>
                        <span id="said_no_00388" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“may be proud
                        of.”</span></p>

                <p><span id="said_no_00389" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Indeed I am,”</span>
                        <span id="said_no_00390" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she replied;</span>
                        <span id="said_no_00391" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I love her exceedingly,
                            and am delighted to find that you like her too. You hardly mentioned
                            anything of her when you wrote to me after your visit
                        there.”</span></p>

                <p><span id="said_no_00392" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“Because I thought I should
                        soon see you myself. I hope you will be a great deal together while you are
                        in Bath. She is a most amiable girl; such a superior understanding! How fond
                        all the family are of her; she is evidently the general favourite; and how
                        much she must be admired in such a place as this — is not
                    she?”</span></p>

                <p><span id="said_no_00393" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Yes, very much indeed, I
                        fancy;</span>
                    <span id="said_no_00394" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">Mr. Allen thinks her</span>
                    <span id="said_no_00395" class="said indirect said_tooltip certainty_4" data-toggle="tooltip" title="Catherine Morland speaking as Mrs. Allen" data-placement="auto top">the prettiest girl in
                        Bath.”</span></p>

                <p><span id="said_no_00396" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“I dare say he does; and I do
                        not know any man who is a better judge of beauty than Mr. Allen. I need not
                        ask you whether you are happy here, my dear Catherine; with such a companion
                        and friend as Isabella Thorpe, it would be impossible for you to be
                        otherwise; and the Allens, I am sure, are very kind to you?”</span></p>

                <p><span id="said_no_00397" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Yes, very kind; I never was
                        so happy before; and now you are come it will be more delightful than ever;
                        how good it is of you to come so far on purpose to see me.”</span></p>

                <p><span id="said_no_00398" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">James accepted this
                            tribute of gratitude, and qualified his conscience for accepting it too,
                            by saying with perfect sincerity,</span>
                        <span id="said_no_00399" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“Indeed, Catherine, I
                            love you dearly.”</span></p>

                <p><span id="said_no_00400" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Inquiries and communications
                        concerning brothers and sisters, the situation of some, the growth of the
                        rest, and other family matters now passed between them, and continued, with
                        only one small digression on James’s part, in praise of Miss Thorpe, till
                        they reached Pulteney Street, where</span>
                    <span id="said_no_00401" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">he was</span>
                    <span id="said_no_00402" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_mrsamra" data-placement="auto top">welcomed</span>
                    <span id="said_no_00403" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">with great kindness by Mr.
                        and Mrs. Allen,</span>
                    <span id="said_no_00404" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">invited by the
                        former</span>
                    <span id="said_no_00405" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.003.nar_mra" data-placement="auto top">to dine with them,</span>
                    <span id="said_no_00406" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and</span>
                    <span id="said_no_00407" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">summoned by the latter
                        to</span>
                    <span id="said_no_00408" class="said fid said_tooltip certainty_6" data-toggle="tooltip" title="aus.003.nar_mrsa" data-placement="auto top"> guess the price and weigh the
                        merits of a new muff and tippet.</span>
                    <span id="said_no_00409" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">A pre-engagement in Edgar’s
                        Buildings prevented his accepting the invitation of one friend, and obliged
                        him to hurry away as soon as he had satisfied the demands of the other. The
                        time of the two parties uniting in the Octagon Room being correctly
                        adjusted, Catherine was then left to the luxury of a raised, restless, and
                        frightened imagination over the pages of Udolpho, lost from all worldly
                        concerns of dressing and dinner, incapable of soothing Mrs. Allen’s fears on
                        the delay of an expected dressmaker, and having only one minute in sixty to
                        bestow even on the reflection of her own felicity, in being already engaged
                        for the evening.</span></p>
            
    <div class="footnotes"> </div>
