

     
    
        

                <h3>Chapter 13</h3>


                <p><span id="said_no_00979" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Monday, Tuesday, Wednesday,
                        Thursday, Friday, and Saturday have now passed in review before the reader;
                        the events of each day, its hopes and fears, mortifications and pleasures,
                        have been separately stated, and the pangs of Sunday only now remain to be
                        described, and close the week. The Clifton scheme had been deferred, not
                        relinquished, and on the afternoon’s crescent of this day, it was brought
                        forward again. In a private consultation between Isabella and James, the
                        former of whom had particularly set her heart upon going, and the latter no
                        less anxiously placed his upon pleasing her,</span>
                    <span id="said_no_00980" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">it was agreed that,</span>
                    <span id="said_no_00981" class="said fid said_tooltip certainty_2" data-toggle="tooltip" title="aus.003.nar_jamisa" data-placement="auto top">provided the
                        weather were fair, the party should take place on the following morning; and
                        they were to set off very early, in order to be at home in good time.</span>
                    <span id="said_no_00982" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The affair thus determined,
                        and Thorpe’s approbation secured, Catherine only remained to be apprised of
                        it. She had left them for a few minutes to speak to Miss Tilney. In that
                        interval the plan was completed, and as soon as she came again, her
                        agreement was demanded; but instead of the gay acquiescence expected by
                        Isabella,</span>
                    <span id="said_no_00983" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine</span>
                    <span id="said_no_00984" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">looked grave,</span>
                    <span id="said_no_00985" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">was very sorry, but could not go.
                        The engagement which ought to have kept her from joining in the former
                        attempt would make it impossible for her to accompany them now. She had that
                        moment settled with Miss Tilney to take their proposed walk tomorrow; it was
                        quite determined, and she would not, upon any account, retract.</span>
                    <span id="said_no_00986" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">But</span>
                    <span id="said_no_00987" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_00988" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_thos" data-placement="auto top">she must and should
                        retract</span>
                    <span id="said_no_00989" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">was instantly the eager cry
                        of both the Thorpes;</span>
                    <span id="said_no_00990" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_thos" data-placement="auto top">they must go to Clifton tomorrow,
                        they would not go without her, it would be nothing to put off a mere walk
                        for one day longer, and they would not hear of a refusal.</span>
                    <span id="said_no_00991" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine was distressed,
                        but not subdued.</span>
                    <span id="said_no_00992" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Do not urge me, Isabella. I
                        am engaged to Miss Tilney. I cannot go.”</span>
                    <span id="said_no_00993" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">This availed nothing. The
                        same arguments assailed her again; she must go, she should go, and they
                        would not hear of a refusal.</span>
                    <span id="said_no_00994" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“It would be so easy to tell
                        Miss Tilney that you had just been reminded of a prior engagement, and must
                        only beg to put off the walk till Tuesday.”</span></p>

                <p><span id="said_no_00995" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“No, it would not be easy. I
                        could not do it. There has been no prior engagement.”</span>
                    <span id="said_no_00996" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">But Isabella became only
                        more and more urgent, calling on her in the most affectionate manner,
                        addressing her by the most endearing names.</span>
                    <span id="said_no_00997" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She was sure</span>
                    <span id="said_no_00998" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_isa" data-placement="auto top">her dearest, sweetest Catherine
                        would not seriously refuse such a trifling request to a friend who loved her
                        so dearly. She knew her beloved Catherine to have so feeling a heart, so
                        sweet a temper, to be so easily persuaded by those she loved.</span>
                    <span id="said_no_00999" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">But all in vain; Catherine
                        felt herself to be in the right, and though pained by such tender, such
                        flattering supplication, could not allow it to influence her. Isabella then
                        tried another method.</span>
                    <span id="said_no_01000" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She reproached her
                        with</span>
                    <span id="said_no_01001" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_isa" data-placement="auto top">having more affection for Miss
                        Tilney, though she had known her so little a while, than for her best and
                        oldest friends, with being grown cold and indifferent, in short, towards
                        herself.</span>
                    <span id="said_no_01002" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“I cannot help being jealous,
                        Catherine, when I see myself slighted for strangers, I, who love you so
                        excessively! When once my affections are placed, it is not in the power of
                        anything to change them. But I believe my feelings are stronger than
                        anybody’s; I am sure they are too strong for my own peace; and to see myself
                        supplanted in your friendship by strangers does cut me to the quick, I own.
                        These Tilneys seem to swallow up everything else.”</span></p>

                <p><span id="said_no_01003" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine thought this
                        reproach equally strange and unkind.</span>
                    <span id="said_no_01004" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Was it the part of a friend thus
                        to expose her feelings to the notice of others? Isabella appeared to her
                        ungenerous and selfish, regardless of everything but her own
                        gratification.</span>
                    <span id="said_no_01005" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">These painful ideas crossed
                        her mind, though she said nothing. Isabella, in the meanwhile, had applied
                        her handkerchief to her eyes; and Morland, miserable at such a sight, could
                        not help saying,</span>
                    <span id="said_no_01006" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“Nay, Catherine. I think you
                        cannot stand out any longer now. The sacrifice is not much; and to oblige
                        such a friend — I shall think you quite unkind, if you still
                        refuse.”</span></p>

                <p><span id="said_no_01007" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">This was the first time of
                        her brother’s openly siding against her, and anxious to avoid his
                        displeasure,</span>
                    <span id="said_no_01008" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she proposed a
                        compromise.</span>
                    <span id="said_no_01009" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">If they would only put off their
                        scheme till Tuesday, which they might easily do, as it depended only on
                        themselves, she could go with them, and everybody might then be
                        satisfied.</span>
                    <span id="said_no_01010" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">But</span>
                        <span id="said_no_01011" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“No, no, no!”</span>
                        <span id="said_no_01012" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">was the immediate
                            answer;</span>
                        <span id="said_no_01013" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“that could not be, for
                            Thorpe did not know that he might not go to town on
                        Tuesday.”</span>
                    <span id="said_no_01014" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine was sorry,
                            but could do no more; and a short silence ensued, which was broken by
                            Isabella, who in a voice of cold resentment said,</span>
                        <span id="said_no_01015" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Very well, then there is
                            an end of the party. If Catherine does not go, I cannot. I cannot be the
                            only woman. I would not, upon any account in the world, do so improper a
                            thing.”</span></p>

                <p><span id="said_no_01016" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“Catherine, you must
                            go,”</span>
                        <span id="said_no_01017" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said
                    James.</span></p>

                <p><span id="said_no_01018" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“But why cannot Mr. Thorpe
                        drive one of his other sisters? I dare say either of them would like to
                        go.”</span></p>

                <p><span id="said_no_01019" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Thank ye,”</span>
                        <span id="said_no_01020" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">cried Thorpe,</span>
                        <span id="said_no_01021" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“but I did not come to
                            Bath to drive my sisters about, and look like a fool. No, if you do not
                            go, d — me if I do. I only go for the sake of driving
                        you.”</span></p>

                <p><span id="said_no_01022" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“That is a compliment which
                        gives me no pleasure.”</span>
                    <span id="said_no_01023" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">But her words were lost on
                        Thorpe, who had turned abruptly away.</span></p>

                <p><span id="said_no_01024" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The three others still
                        continued together, walking in a most uncomfortable manner to poor
                        Catherine; sometimes not a word was said, sometimes she was again attacked
                        with supplications or reproaches, and her arm was still linked within
                        Isabella’s, though their hearts were at war. At one moment she was softened,
                        at another irritated; always distressed, but always steady.</span></p>

                <p><span id="said_no_01025" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“I did not think you had
                            been so obstinate, Catherine,”</span>
                        <span id="said_no_01026" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said James;</span>
                        <span id="said_no_01027" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“you were not used to be
                            so hard to persuade; you once were the kindest, best-tempered of my
                            sisters.”</span></p>

                <p><span id="said_no_01028" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I hope I am not less so
                            now,”</span>
                        <span id="said_no_01029" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she replied, very
                            feelingly;</span>
                        <span id="said_no_01030" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“but indeed I cannot go.
                            If I am wrong, I am doing what I believe to be right.”</span></p>

                <p><span id="said_no_01031" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“I suspect,”</span>
                        <span id="said_no_01032" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Isabella, in a low
                            voice,</span>
                        <span id="said_no_01033" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“there is no great
                            struggle.”</span></p>

                <p><span id="said_no_01034" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine’s heart
                            swelled; she drew away her arm, and Isabella made no opposition. Thus
                            passed a long ten minutes, till they were again joined by Thorpe, who,
                            coming to them with a gayer look, said,</span>
                        <span id="said_no_01035" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Well, I have settled
                            the matter, and now we may all go tomorrow with a safe conscience. I
                            have been to Miss Tilney, and made your excuses.”</span></p>

                <p><span id="said_no_01036" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“You have not!”</span>
                        <span id="said_no_01037" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">cried
                        Catherine.</span></p>

                <p><span id="said_no_01038" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“I have, upon my soul. Left
                        her this moment. Told her you had sent me to say that, having just
                        recollected a prior engagement of going to Clifton with us tomorrow, you
                        could not have the pleasure of walking with her till Tuesday.</span>
                    <span id="said_no_01039" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">She said</span>
                    <span id="said_no_01040" class="said" data-toggle="tooltip" title="John Morland speaking as Eleanor Tilney" data-placement="auto top">very well, Tuesday was
                        just as convenient to her;</span>
                    <span id="said_no_01041" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">so there is an end of all
                        our difficulties. A pretty good thought of mine — hey?”</span></p>

                <p><span id="said_no_01042" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Isabella’s countenance was
                        once more all smiles and good humour, and James too looked happy
                        again.</span></p>

                <p><span id="said_no_01043" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“A most heavenly thought
                        indeed! Now, my sweet Catherine, all our distresses are over; you are
                        honourably acquitted, and we shall have a most delightful party.”</span></p>

                <p><span id="said_no_01044" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“This will not
                            do,”</span>
                        <span id="said_no_01045" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Catherine;</span>
                        <span id="said_no_01046" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I cannot submit to this.
                            I must run after Miss Tilney directly and set her
                    right.”</span></p>

                <p><span id="said_no_01047" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Isabella, however, caught
                        hold of one hand, Thorpe of the other, and remonstrances poured in from all
                        three. Even James was quite angry.</span>
                    <span id="said_no_01048" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_jam" data-placement="auto top">When everything was settled, when
                        Miss Tilney herself said that Tuesday would suit her as well, it was quite
                        ridiculous, quite absurd, to make any further objection.</span></p>

                <p><span id="said_no_01049" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I do not care. Mr. Thorpe had
                        no business to invent any such message. If I had thought it right to put it
                        off, I could have spoken to Miss Tilney myself. This is only doing it in a
                        ruder way; and how do I know that Mr. Thorpe has — He may be mistaken
                        again perhaps; he led me into one act of rudeness by his mistake on Friday.
                        Let me go, Mr. Thorpe; Isabella, do not hold me.”</span></p>

                <p><span id="said_no_01050" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Thorpe told her</span>
                    <span id="said_no_01051" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_john" data-placement="auto top">it would be in vain to go after
                        the Tilneys; they were turning the corner into Brock Street, when he had
                        overtaken them, and were at home by this time.</span></p>

                <p><span id="said_no_01052" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Then I will go after
                            them,”</span>
                        <span id="said_no_01053" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Catherine;</span>
                        <span id="said_no_01054" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“wherever they are I will
                            go after them. It does not signify talking. If I could not be persuaded
                            into doing what I thought wrong, I never will be tricked into
                            it.”</span>
                    <span id="said_no_01055" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">And with these words she
                        broke away and hurried off. Thorpe would have darted after her, but Morland
                        withheld him.</span>
                    <span id="said_no_01056" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“Let her go, let her go, if
                        she will go. She is as obstinate as — ”</span></p>

                <p><span id="said_no_01057" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Thorpe never finished the
                        simile, for it could hardly have been a proper one.</span></p>

                <p><span id="said_no_01058" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Away walked Catherine in
                        great agitation, as fast as the crowd would permit her, fearful of being
                        pursued, yet determined to persevere. As she walked, she reflected on what
                        had passed. It was painful to her to disappoint and displease them,
                        particularly to displease her brother; but she could not repent her
                        resistance.</span>
                    <span id="said_no_01059" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Setting her own inclination apart,
                        to have failed a second time in her engagement to Miss Tilney, to have
                        retracted a promise voluntarily made only five minutes before, and on a
                        false pretence too, must have been wrong. She had not been withstanding them
                        on selfish principles alone, she had not consulted merely her own
                        gratification; that might have been ensured in some degree by the excursion
                        itself, by seeing Blaize Castle; no, she had attended to what was due to
                        others, and to her own character in their opinion.</span>
                    <span id="said_no_01060" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Her conviction of being
                        right, however, was not enough to restore her composure; till she had spoken
                        to Miss Tilney she could not be at ease; and quickening her pace when she
                        got clear of the Crescent, she almost ran over the remaining ground till she
                        gained the top of Milsom Street. So rapid had been her movements that in
                        spite of the Tilneys’ advantage in the outset, they were but just turning
                        into their lodgings as she came within view of them; and the servant still
                        remaining at the open door,</span>
                    <span id="said_no_01061" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she</span>
                    <span id="said_no_01062" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">used only the ceremony
                        of</span>
                    <span id="said_no_01063" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">saying that</span>
                    <span id="said_no_01064" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">she must speak with Miss Tilney
                        that moment,</span>
                    <span id="said_no_01065" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and hurrying by him
                        proceeded upstairs. Then, opening the first door before her, which happened
                        to be the right, she immediately found herself in the drawing-room with
                        General Tilney, his son, and daughter. Her explanation, defective only in
                        being — from her irritation of nerves and shortness of breath —
                        no explanation at all, was instantly given.</span>
                    <span id="said_no_01066" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I am come in a great hurry
                        — It was all a mistake — I never promised to go — I told
                        them from the first I could not go. — I ran away in a great hurry to
                        explain it. — I did not care what you thought of me. — I would
                        not stay for the servant.”</span></p>

                <p><span id="said_no_01067" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The business, however, though
                        not perfectly elucidated by this speech, soon ceased to be a puzzle.</span>
                    <span id="said_no_01068" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> Catherine found
                        that</span>
                    <span id="said_no_01069" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_ele" data-placement="auto top">John Thorpe had given the
                        message;</span>
                    <span id="said_no_01070" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and</span>
                    <span id="said_no_01071" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Miss Tilney had no scruple
                        in</span>
                    <span id="said_no_01072" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_ele" data-placement="auto top">owning herself greatly surprised
                        by it.</span>
                    <span id="said_no_01073" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">But whether her brother had
                        still exceeded her in resentment, Catherine, though she instinctively
                        addressed herself as much to one as to the other in her vindication, had no
                        means of knowing. Whatever might have been felt before her arrival, her
                        eager declarations immediately made every look and sentence as friendly as
                        she could desire.</span></p>

                <p><span id="said_no_01074" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The affair thus happily
                        settled, she was introduced by Miss Tilney to her father, and received by
                        him with such ready, such solicitous politeness as recalled Thorpe’s
                        information to her mind, and</span>
                    <span id="said_no_01075" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">made her think</span>
                    <span id="said_no_01076" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">with pleasure</span>
                    <span id="said_no_01077" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_01078" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">he might be sometimes depended
                        on.</span>
                    <span id="said_no_01079" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">To such anxious attention
                        was the general’s civility carried, that not aware of her extraordinary
                        swiftness in entering the house,</span>
                    <span id="said_no_01080" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">he was quite angry</span>
                    <span id="said_no_01081" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">with the servant whose neglect had
                        reduced her to open the door of the apartment herself.</span>
                    <span id="said_no_01082" class="said" data-toggle="tooltip" title="General Tilney" data-placement="auto top">“What did William mean by it?
                        He should make a point of inquiring into the matter.”</span>
                    <span id="said_no_01083" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">And if Catherine had not
                        most warmly asserted his innocence, it seemed likely that William would lose
                        the favour of his master forever, if not his place, by her
                    rapidity.</span></p>

                <p><span id="said_no_01084" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">After sitting with them a
                        quarter of an hour, she rose to take leave, and was then most agreeably
                        surprised by</span>
                    <span id="said_no_01085" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">General Tilney’s asking
                        her</span>
                    <span id="said_no_01086" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">if she would do his daughter the
                        honour of dining and spending the rest of the day with her.</span>
                    <span id="said_no_01087" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Miss Tilney added her own
                        wishes.</span>
                    <span id="said_no_01088" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine</span>
                    <span id="said_no_01089" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">was greatly obliged; but it was
                        quite out of her power. Mr. and Mrs. Allen would expect her back every
                        moment.</span>
                    <span id="said_no_01090" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The general declared</span>
                    <span id="said_no_01091" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">he could say no more; the claims of
                        Mr. and Mrs. Allen were not to be superseded; but on some other day he
                        trusted, when longer notice could be given, they would not refuse to spare
                        her to her friend.</span>
                    <span id="said_no_01092" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">“Oh, no; Catherine was sure they
                        would not have the least objection, and she should have great pleasure in
                        coming.”</span>
                    <span id="said_no_01093" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The general</span>
                    <span id="said_no_01094" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> attended her himself to the
                        street-door, saying everything gallant as they went downstairs,</span>
                    <span id="said_no_01095" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">admiring</span>
                    <span id="said_no_01096" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">the elasticity of her walk, which
                        corresponded exactly with the spirit of her dancing,</span>
                    <span id="said_no_01097" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and making her one of the
                        most graceful bows she had ever beheld, when they parted.</span></p>

                <p><span id="said_no_01098" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine, delighted by all
                        that had passed, proceeded gaily to Pulteney Street,</span>
                    <span id="said_no_01099" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">walking,</span>
                    <span id="said_no_01100" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">as she concluded,</span>
                    <span id="said_no_01101" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">with great elasticity,</span>
                    <span id="said_no_01102" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">though she had never thought
                        of it before. She reached home without seeing anything more of the offended
                        party; and now that she had been triumphant throughout, had carried her
                        point, and was secure of her walk,</span>
                    <span id="said_no_01103" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she began</span>
                    <span id="said_no_01104" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">(as the flutter of her
                        spirits subsided)</span>
                    <span id="said_no_01105" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">to doubt</span>
                    <span id="said_no_01106" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">whether she had been perfectly
                        right. A sacrifice was always noble; and if she had given way to their
                        entreaties, she should have been spared the distressing idea of a friend
                        displeased, a brother angry, and a scheme of great happiness to both
                        destroyed, perhaps through her means.</span>
                    <span id="said_no_01107" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">To ease her mind, and
                        ascertain by the opinion of an unprejudiced person what her own conduct had
                        really been, she took occasion to mention before Mr. Allen the half-settled
                        scheme of her brother and the Thorpes for the following day. Mr. Allen
                        caught at it directly.</span>
                    <span id="said_no_01108" class="said" data-toggle="tooltip" title="Mr. Allen" data-placement="auto top">“Well,”</span>
                        <span id="said_no_01109" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said he,</span>
                        <span id="said_no_01110" class="said" data-toggle="tooltip" title="Mr. Allen" data-placement="auto top">“and do you think of
                            going too?”</span></p>

                <p><span id="said_no_01111" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“No; I had just engaged myself
                        to walk with Miss Tilney before they told me of it; and therefore you know I
                        could not go with them, could I?”</span></p>

                <p><span id="said_no_01112" class="said" data-toggle="tooltip" title="Mr. Allen" data-placement="auto top">“No, certainly not; and I am
                        glad you do not think of it. These schemes are not at all the thing. Young
                        men and women driving about the country in open carriages! Now and then it
                        is very well; but going to inns and public places together! It is not right;
                        and I wonder Mrs. Thorpe should allow it. I am glad you do not think of
                        going; I am sure Mrs. Morland would not be pleased. Mrs. Allen, are not you
                        of my way of thinking? Do not you think these kind of projects
                        objectionable?”</span></p>

                <p><span id="said_no_01113" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“Yes, very much so indeed.
                        Open carriages are nasty things. A clean gown is not five minutes’ wear in
                        them. You are splashed getting in and getting out; and the wind takes your
                        hair and your bonnet in every direction. I hate an open carriage
                        myself.”</span></p>

                <p><span id="said_no_01114" class="said" data-toggle="tooltip" title="Mr. Allen" data-placement="auto top">“I know you do; but that is
                        not the question. Do not you think it has an odd appearance, if young ladies
                        are frequently driven about in them by young men, to whom they are not even
                        related?”</span></p>

                <p><span id="said_no_01115" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“Yes, my dear, a very odd
                        appearance indeed. I cannot bear to see it.”</span></p>

                <p><span id="said_no_01116" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Dear madam,”</span>
                        <span id="said_no_01117" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">cried Catherine,</span>
                        <span id="said_no_01118" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“then why did not you
                            tell me so before? I am sure if I had known it to be improper, I would
                            not have gone with Mr. Thorpe at all; but I always hoped you would tell
                            me, if you thought I was doing wrong.”</span></p>

                <p><span id="said_no_01119" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“And so I should, my dear,
                        you may depend on it; for as I told Mrs. Morland at parting, I would always
                        do the best for you in my power. But one must not be over particular.</span>
                    <span id="said_no_01120" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Mrs. Allen speaking as Mrs. Morland" data-placement="auto top">Young people will
                        be young people,</span>
                    <span id="said_no_01121" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">as your good mother says
                        herself.</span>
                    <span id="said_no_01122" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">You know I wanted you, when
                        we first came, not to buy that sprigged muslin, but you would. Young people
                        do not like to be always thwarted.”</span></p>

                <p><span id="said_no_01123" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“But this was something of
                        real consequence; and I do not think you would have found me hard to
                        persuade.”</span></p>

                <p><span id="said_no_01124" class="said" data-toggle="tooltip" title="Mr. Allen" data-placement="auto top">“As far as it has gone
                            hitherto, there is no harm done,”</span>
                        <span id="said_no_01125" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Mr. Allen;</span>
                        <span id="said_no_01126" class="said" data-toggle="tooltip" title="Mr. Allen" data-placement="auto top">“and I would only advise
                            you, my dear, not to go out with Mr. Thorpe any more.”</span></p>

                <p><span id="said_no_01127" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“That is just what I was going to say,”</span>
                        <span id="said_no_01128" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">added his
                        wife.</span></p>

                <p><span id="said_no_01129" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine,</span>
                    <span id="said_no_01130" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">relieved for herself, felt
                        uneasy for Isabella, and after a moment’s thought,</span>
                    <span id="said_no_01131" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">asked Mr. Allen</span>
                    <span id="said_no_01132" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">whether it would not be both
                        proper and kind in her to write to Miss Thorpe, and explain the indecorum of
                        which she must be as insensible as herself; for she considered that Isabella
                        might otherwise perhaps be going to Clifton the next day, in spite of what
                        had passed.</span>
                    <span id="said_no_01133" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Mr. Allen, however,
                        discouraged her from doing any such thing.</span>
                    <span id="said_no_01134" class="said" data-toggle="tooltip" title="Mr. Allen" data-placement="auto top">“You had better leave her
                        alone, my dear; she is old enough to know what she is about, and if not, has
                        a mother to advise her. Mrs. Thorpe is too indulgent beyond a doubt; but,
                        however, you had better not interfere. She and your brother choose to go,
                        and you will be only getting ill will.”</span></p>

                <p><span id="said_no_01135" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine submitted, and
                        though sorry to think that Isabella should be doing wrong, felt greatly
                        relieved by Mr. Allen’s approbation of her own conduct, and truly rejoiced
                        to be preserved by his advice from the danger of falling into such an error
                        herself. Her escape from being one of the party to Clifton was now an escape
                        indeed; for</span>
                    <span id="said_no_01136" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">what would the Tilneys have thought
                        of her, if she had broken her promise to them in order to do what was wrong
                        in itself, if she had been guilty of one breach of propriety, only to enable
                        her to be guilty of another?</span></p>
            
    <div class="footnotes"> </div>
