

     
    
        

                <h3>Chapter 22</h3>


                <p><span id="said_no_01860" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The housemaid’s folding back
                        her window-shutters at eight o’clock the next day was the sound which first
                        roused Catherine; and</span>
                    <span id="said_no_01861" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she</span>
                    <span id="said_no_01862" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">opened her eyes,</span>
                    <span id="said_no_01863" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">wondering that</span>
                    <span id="said_no_01864" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">they could ever have been closed,
                        on objects of cheerfulness; her fire was already burning, and a bright
                        morning had succeeded the tempest of the night.</span>
                    <span id="said_no_01865" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> Instantaneously, with the
                        consciousness of existence, returned her recollection of the manuscript; and
                        springing from the bed in the very moment of the maid’s going away, she
                        eagerly collected every scattered sheet which had burst from the roll on its
                        falling to the ground, and flew back to enjoy the luxury of their perusal on
                        her pillow. She now plainly saw that she must not expect a manuscript of
                        equal length with the generality of what she had shuddered over in books,
                        for the roll, seeming to consist entirely of small disjointed sheets, was
                        altogether but of trifling size, and much less than she had supposed it to
                        be at first.</span></p>

                <p><span id="said_no_01866" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Her greedy eye glanced
                        rapidly over a page. She started at its import.</span>
                    <span id="said_no_01867" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Could it be possible, or did not
                        her senses play her false? An inventory of linen, in coarse and modern
                        characters, seemed all that was before her!</span>
                    <span id="said_no_01868" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">If the evidence of sight
                        might be trusted, she held a washing-bill in her hand. She seized another
                        sheet, and saw the same articles with little variation; a third, a fourth,
                        and a fifth presented nothing new. Shirts, stockings, cravats, and
                        waistcoats faced her in each. Two others, penned by the same hand, marked an
                        expenditure scarcely more interesting, in letters, hair-powder, shoe-string,
                        and breeches-ball. And the larger sheet, which had enclosed the rest, seemed
                        by its first cramp line, <blockquote><p>“To poultice chestnut mare”</p></blockquote> —</span>
                    <span id="said_no_01869" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">a farrier’s bill!</span>
                    <span id="said_no_01870" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Such was the collection of
                        papers (left perhaps, as she could then suppose, by the negligence of a
                        servant in the place whence she had taken them) which had filled her with
                        expectation and alarm, and robbed her of half her night’s rest! She felt
                        humbled to the dust. Could not the adventure of the chest have taught her
                        wisdom? A corner of it, catching her eye as she lay, seemed to rise up in
                        judgment against her. Nothing could now be clearer than the absurdity of her
                        recent fancies.</span>
                    <span id="said_no_01871" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">To suppose that a manuscript of
                        many generations back could have remained undiscovered in a room such as
                        that, so modern, so habitable! — Or that she should be the first to
                        possess the skill of unlocking a cabinet, the key of which was open to
                        all!</span></p>

                <p><span id="said_no_01872" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">How could she have so imposed on
                        herself? Heaven forbid that Henry Tilney should ever know her folly! And it
                        was in a great measure his own doing, for had not the cabinet appeared so
                        exactly to agree with his description of her adventures, she should never
                        have felt the smallest curiosity about it.</span>
                    <span id="said_no_01873" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">This was the only comfort
                        that occurred. Impatient to get rid of those hateful evidences of her folly,
                        those detestable papers then scattered over the bed, she rose directly, and
                        folding them up as nearly as possible in the same shape as before, returned
                        them to the same spot within the cabinet, with a very hearty wish
                        that</span>
                    <span id="said_no_01874" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">no untoward accident might ever
                        bring them forward again, to disgrace her even with herself.</span></p>

                <p><span id="said_no_01875" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Why the locks should have been so
                        difficult to open, however, was still something remarkable,</span>
                    <span id="said_no_01876" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">for she could now manage
                        them with perfect ease.</span>
                    <span id="said_no_01877" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">In this there was surely something
                        mysterious,</span>
                    <span id="said_no_01878" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and she indulged in the
                        flattering suggestion for half a minute,</span>
                    <span id="said_no_01879" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top"> till the possibility of the
                        door’s having been at first unlocked, and of being herself its
                        fastener,</span>
                    <span id="said_no_01880" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">darted into her
                        head,</span>
                    <span id="said_no_01881" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and cost her another
                        blush.</span></p>

                <p><span id="said_no_01882" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She got away as soon as she
                        could from a room in which her conduct produced such unpleasant reflections,
                        and found her way with all speed to the breakfast-parlour, as it had been
                        pointed out to her by Miss Tilney the evening before. Henry was alone in it;
                        and</span>
                    <span id="said_no_01883" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">his immediate hope
                        of</span>
                    <span id="said_no_01884" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_til" data-placement="auto top">her having been undisturbed by the
                        tempest,</span>
                    <span id="said_no_01885" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">with an arch reference to
                        the character of the building they inhabited, was rather distressing.</span>
                    <span id="said_no_01886" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">For the world would she not have
                        her weakness suspected,</span>
                    <span id="said_no_01887" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and yet, unequal to an
                        absolute falsehood,</span>
                    <span id="said_no_01888" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">was constrained to
                        acknowledge that</span>
                    <span id="said_no_01889" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">the wind had kept her awake a
                        little.</span>
                    <span id="said_no_01890" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“But we have a charming
                            morning after it,”</span>
                        <span id="said_no_01891" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she added, desiring to
                            get rid of the subject;</span>
                        <span id="said_no_01892" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“and storms and
                            sleeplessness are nothing when they are over. What beautiful hyacinths!
                            I have just learnt to love a hyacinth.”</span></p>

                <p><span id="said_no_01893" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“And how might you learn? By
                        accident or argument?”</span></p>

                <p><span id="said_no_01894" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Your sister taught me; I
                        cannot tell how. Mrs. Allen used to take pains, year after year, to make me
                        like them; but I never could, till I saw them the other day in Milsom
                        Street; I am naturally indifferent about flowers.”</span></p>

                <p><span id="said_no_01895" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“But now you love a hyacinth.
                        So much the better. You have gained a new source of enjoyment, and it is
                        well to have as many holds upon happiness as possible. Besides, a taste for
                        flowers is always desirable in your sex, as a means of getting you out of
                        doors, and tempting you to more frequent exercise than you would otherwise
                        take. And though the love of a hyacinth may be rather domestic, who can
                        tell, the sentiment once raised, but you may in time come to love a
                        rose?”</span></p>

                <p><span id="said_no_01896" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“But I do not want any such
                        pursuit to get me out of doors. The pleasure of walking and breathing fresh
                        air is enough for me, and in fine weather I am out more than half my
                        time.</span>
                    <span id="said_no_01897" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top"> Mamma says</span>
                    <span id="said_no_01898" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Catherine Morland speaking as Mrs. Morland" data-placement="auto top">I am never within.”</span></p>

                <p><span id="said_no_01899" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“At any rate, however, I am
                        pleased that you have learnt to love a hyacinth. The mere habit of learning
                        to love is the thing; and a teachableness of disposition in a young lady is
                        a great blessing. Has my sister a pleasant mode of instruction?”</span></p>

                <p><span id="said_no_01900" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine was saved the
                        embarrassment of attempting an answer by the entrance of the general, whose
                        smiling compliments announced a happy state of mind, but whose gentle hint
                        of sympathetic early rising did not advance her composure.</span></p>

                <p><span id="said_no_01901" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The elegance of the breakfast
                        set forced itself on Catherine’s notice when they were seated at table; and,
                        lucidly, it had been the general’s choice. He was enchanted by her
                        approbation of his taste, confessed it to be neat and simple, thought it
                        right to encourage the manufacture of his country; and</span>
                    <span id="said_no_01902" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">for his part, to his uncritical
                        palate, the tea was as well flavoured from the clay of Staffordshire, as
                        from that of Dresden or Save. But this was quite an old set, purchased two
                        years ago. The manufacture was much improved since that time; he had seen
                        some beautiful specimens when last in town, and had he not been perfectly
                        without vanity of that kind, might have been tempted to order a new set. He
                        trusted, however, that an opportunity might ere long occur of selecting one
                        — though not for himself.</span>
                    <span id="said_no_01903" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine was probably the
                        only one of the party who did not understand him.</span></p>

                <p><span id="said_no_01904" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Shortly after breakfast Henry
                        left them for Woodston, where business required and would keep him two or
                        three days. They all attended in the hall to see him mount his horse, and
                        immediately on re-entering the breakfast-room, Catherine walked to a window
                        in the hope of catching another glimpse of his figure.</span>
                    <span id="said_no_01905" class="said" data-toggle="tooltip" title="General Tilney" data-placement="auto top">“This is a somewhat
                            heavy call upon your brother’s fortitude,”</span>
                        <span id="said_no_01906" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">observed the general to
                            Eleanor.</span>
                        <span id="said_no_01907" class="said" data-toggle="tooltip" title="General Tilney" data-placement="auto top">“Woodston will make but a
                            sombre appearance today.”</span></p>

                <p><span id="said_no_01908" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Is it a pretty
                            place?”</span>
                        <span id="said_no_01909" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">asked
                        Catherine.</span></p>

                <p><span id="said_no_01910" class="said" data-toggle="tooltip" title="General Tilney" data-placement="auto top">“What say you, Eleanor? Speak
                        your opinion, for ladies can best tell the taste of ladies in regard to
                        places as well as men. I think it would be acknowledged by the most
                        impartial eye to have many recommendations. The house stands among fine
                        meadows facing the south-east, with an excellent kitchen-garden in the same
                        aspect; the walls surrounding which I built and stocked myself about ten
                        years ago, for the benefit of my son. It is a family living, Miss Morland;
                        and the property in the place being chiefly my own, you may believe I take
                        care that it shall not be a bad one. Did Henry’s income depend solely on
                        this living, he would not be ill-provided for. Perhaps it may seem odd, that
                        with only two younger children, I should think any profession necessary for
                        him; and certainly there are moments when we could all wish him disengaged
                        from every tie of business. But though I may not exactly make converts of
                        you young ladies, I am sure your father, Miss Morland, would agree with me
                        in thinking it expedient to give every young man some employment. The money
                        is nothing, it is not an object, but employment is the thing. Even
                        Frederick, my eldest son, you see, who will perhaps inherit as considerable
                        a landed property as any private man in the county, has his
                        profession.”</span></p>

                <p><span id="said_no_01911" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The imposing effect of this
                        last argument was equal to his wishes. The silence of the lady proved it to
                        be unanswerable.</span></p>

                <p><span id="said_no_01912" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Something had been said the
                        evening before of her being shown over the house, and he now offered himself
                        as her conductor; and though Catherine had hoped to explore it accompanied
                        only by his daughter,</span>
                    <span id="said_no_01913" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">it was a proposal of too much
                        happiness in itself, under any circumstances, not to be gladly accepted; for
                        she had been already eighteen hours in the abbey, and had seen only a few of
                        its rooms.</span>
                    <span id="said_no_01914" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The netting-box, just
                        leisurely drawn forth, was closed with joyful haste, and she was ready to
                        attend him in a moment.</span>
                    <span id="said_no_01915" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">“And when they had gone over the
                        house, he promised himself moreover the pleasure of accompanying her into
                        the shrubberies and garden.”</span>
                    <span id="said_no_01916" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She curtsied her
                        acquiescence.</span>
                    <span id="said_no_01917" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">“But perhaps it might be more
                        agreeable to her to make those her first object. The weather was at present
                        favourable, and at this time of year the uncertainty was very great of its
                        continuing so. Which would she prefer? He was equally at her service. Which
                        did his daughter think would most accord with her fair friend’s wishes? But
                        he thought he could discern. Yes, he certainly read in Miss Morland’s eyes a
                        judicious desire of making use of the present smiling weather. But when did
                        she judge amiss? The abbey would be always safe and dry. He yielded
                        implicitly, and would fetch his hat and attend them in a moment.”</span>
                    <span id="said_no_01918" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">He left the room, and</span>
                    <span id="said_no_01919" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> Catherine,</span>
                    <span id="said_no_01920" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">with a disappointed, anxious
                        face,</span>
                    <span id="said_no_01921" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">began to speak of</span>
                    <span id="said_no_01922" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">her unwillingness that he should
                        be taking them out of doors against his own inclination, under a mistaken
                        idea of pleasing her;</span>
                    <span id="said_no_01923" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">but she was stopped by Miss
                        Tilney’s saying, with a little confusion,</span>
                    <span id="said_no_01924" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“I believe it will be wisest
                        to take the morning while it is so fine; and do not be uneasy on my father’s
                        account; he always walks out at this time of day.”</span></p>

                <p><span id="said_no_01925" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine did not exactly
                        know how this was to be understood.</span>
                    <span id="said_no_01926" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Why was Miss Tilney embarrassed?
                        Could there be any unwillingness on the general’s side to show her over the
                        abbey? The proposal was his own. And was not it odd that he should always
                        take his walk so early? Neither her father nor Mr. Allen did so. It was
                        certainly very provoking.</span>
                    <span id="said_no_01927" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">She was all impatience to see the
                        house, and had scarcely any curiosity about the grounds.</span>
                    <span id="said_no_01928" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">If Henry had been with them indeed!
                        But now she should not know what was picturesque when she saw it.</span>
                    <span id="said_no_01929" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Such were her
                        thoughts,</span>
                    <span id="said_no_01930" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">but she kept them to
                        herself, and put on her bonnet in patient discontent.</span></p>

                <p><span id="said_no_01931" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She was struck, however,
                        beyond her expectation, by the grandeur of the abbey, as she saw it for the
                        first time from the lawn. The whole building enclosed a large court; and two
                        sides of the quadrangle, rich in Gothic ornaments, stood forward for
                        admiration. The remainder was shut off by knolls of old trees, or luxuriant
                        plantations, and the steep woody hills rising behind, to give it shelter,
                        were beautiful even in the leafless month of March. Catherine had seen
                        nothing to compare with it; and her feelings of delight were so strong, that
                        without waiting for any better authority, she boldly burst forth in wonder
                        and praise. The general listened with assenting gratitude; and it seemed as
                        if his own estimation of Northanger had waited unfixed till that
                        hour.</span></p>

                <p><span id="said_no_01932" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The kitchen-garden was to be
                        next admired, and he led the way to it across a small portion of the
                        park.</span></p>

                <p><span id="said_no_01933" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The number of acres contained
                        in this garden was such as Catherine could not listen to without dismay,
                        being more than double the extent of all Mr. Allen’s, as well her father’s,
                        including church-yard and orchard. The walls seemed countless in number,
                        endless in length; a village of hot-houses seemed to arise among them, and a
                        whole parish to be at work within the enclosure. The general was flattered
                        by her looks of surprise, which told him almost as plainly, as he soon
                        forced her to tell him in words, that she had never seen any gardens at all
                        equal to them before; and he then modestly owned that,</span>
                    <span id="said_no_01934" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">“without any ambition of that sort
                        himself — without any solicitude about it — he did believe them
                        to be unrivalled in the kingdom. If he had a hobby-horse, it was that. He
                        loved a garden. Though careless enough in most matters of eating, he loved
                        good fruit — or if he did not, his friends and children did. There
                        were great vexations, however, attending such a garden as his. The utmost
                        care could not always secure the most valuable fruits. The pinery had
                        yielded only one hundred in the last year. Mr. Allen, he supposed, must feel
                        these inconveniences as well as himself.”</span></p>

                <p><span id="said_no_01935" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">“No, not at all. Mr. Allen did not
                        care about the garden, and never went into it.”</span></p>

                <p><span id="said_no_01936" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">With a triumphant smile of
                        self-satisfaction,</span>
                    <span id="said_no_01937" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">the general wished</span>
                    <span id="said_no_01938" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">he could do the same, for he never
                        entered his, without being vexed in some way or other, by its falling short
                        of his plan.</span></p>

                <p><span id="said_no_01939" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">“How were Mr.
                            Allen’s succession-houses worked?”</span>
                        <span id="said_no_01940" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">describing the nature of
                            his own as they entered them.</span></p>

                <p><span id="said_no_01941" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">“Mr. Allen had only one small
                        hot-house, which Mrs. Allen had the use of for her plants in winter, and
                        there was a fire in it now and then.”</span></p>

                <p><span id="said_no_01942" class="said" data-toggle="tooltip" title="General Tilney" data-placement="auto top">“He is a happy
                            man!”</span>
                        <span id="said_no_01943" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said the general, with a
                            look of very happy contempt.</span></p>

                <p><span id="said_no_01944" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Having taken her into every
                        division, and led her under every wall, till she was heartily weary of
                        seeing and wondering, he suffered the girls at last to seize the advantage
                        of an outer door, and then expressing his wish to examine the effect of some
                        recent alterations about the tea-house, proposed it as no unpleasant
                        extension of their walk, if Miss Morland were not tired.</span>
                    <span id="said_no_01945" class="said" data-toggle="tooltip" title="General Tilney" data-placement="auto top">“But where are you going,
                        Eleanor? Why do you choose that cold, damp path to it? Miss Morland will get
                        wet. Our best way is across the park.”</span></p>

                <p><span id="said_no_01946" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“This is so favourite a
                            walk of mine,”</span>
                        <span id="said_no_01947" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Miss Tilney,</span>
                        <span id="said_no_01948" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“that I always think it
                            the best and nearest way. But perhaps it may be damp.”</span></p>

                <p><span id="said_no_01949" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">It was a narrow winding path
                        through a thick grove of old Scotch firs; and Catherine, struck by its
                        gloomy aspect, and eager to enter it, could not, even by the general’s
                        disapprobation, be kept from stepping forward. He perceived her inclination,
                        and having again urged the plea of health in vain, was too polite to make
                        further opposition. He excused himself, however, from attending them:</span>
                    <span id="said_no_01950" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">“The rays of the sun were not too
                        cheerful for him, and he would meet them by another course.”</span>
                    <span id="said_no_01951" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">He turned away; and
                        Catherine was shocked to find how much her spirits were relieved by the
                        separation. The shock, however, being less real than the relief, offered it
                        no injury; and she began to talk with easy gaiety of the delightful
                        melancholy which such a grove inspired.</span></p>

                <p><span id="said_no_01952" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“I am particularly fond
                            of this spot,”</span>
                        <span id="said_no_01953" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said her companion, with
                            a sigh.</span>
                        <span id="said_no_01954" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“It was my mother’s
                            favourite walk.”</span></p>

                <p><span id="said_no_01955" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine had never heard
                        Mrs. Tilney mentioned in the family before, and the interest excited by this
                        tender remembrance showed itself directly in her altered countenance, and in
                        the attentive pause with which she waited for something more.</span></p>

                <p><span id="said_no_01956" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“I used to walk here so
                            often with her!”</span>
                        <span id="said_no_01957" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">added Eleanor;</span>
                        <span id="said_no_01958" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“though I never loved it
                            then, as I have loved it since. At that time indeed I used to wonder at
                            her choice. But her memory endears it now.”</span></p>

                <p><span id="said_no_01959" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“And ought it
                            not,”</span>
                        <span id="said_no_01960" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">reflected
                            Catherine,</span>
                        <span id="said_no_01961" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“to endear it to her
                            husband? Yet the general would not enter it.”</span>
                        <span id="said_no_01962" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Miss Tilney continuing
                            silent, she ventured to say,</span>
                        <span id="said_no_01963" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Her death must have been
                            a great affliction!”</span></p>

                <p><span id="said_no_01964" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“A great and increasing
                            one,”</span>
                        <span id="said_no_01965" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">replied the other, in a
                            low voice.</span>
                        <span id="said_no_01966" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“I was only thirteen when
                            it happened; and though I felt my loss perhaps as strongly as one so
                            young could feel it, I did not, I could not, then know what a loss it
                            was.”</span>
                        <span id="said_no_01967" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She stopped for a
                            moment, and then added, with great firmness,</span>
                        <span id="said_no_01968" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“I have no sister, you
                            know — and though Henry — though my brothers are very
                            affectionate, and Henry is a great deal here, which I am most thankful
                            for, it is impossible for me not to be often solitary.”</span></p>

                <p><span id="said_no_01969" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“To be sure you must miss him
                        very much.”</span></p>

                <p><span id="said_no_01970" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“A mother would have been
                        always present. A mother would have been a constant friend; her influence
                        would have been beyond all other.”</span></p>

                <p><span id="said_no_01971" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">“Was she a very
                            charming woman? Was she handsome? Was there any picture of her in the
                            abbey? And why had she been so partial to that grove? Was it from
                            dejection of spirits?”</span>
                        <span id="said_no_01972" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">— were questions
                            now eagerly poured forth; the first three received a ready affirmative,
                            the two others were passed by; and Catherine’s interest in the deceased
                            Mrs. Tilney augmented with every question, whether answered or
                            not.</span>
                    <span id="said_no_01973" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Of her unhappiness in
                        marriage, she felt persuaded.</span>
                    <span id="said_no_01974" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">The general certainly had been an
                        unkind husband. He did not love her walk: could he therefore have loved her?
                        And besides, handsome as he was, there was a something in the turn of his
                        features which spoke his not having behaved well to her.</span></p>

                <p><span id="said_no_01975" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Her picture, I
                            suppose,”</span>
                        <span id="said_no_01976" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">blushing at the
                            consummate art of her own question,</span>
                        <span id="said_no_01977" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“hangs in your father’s
                            room?”</span></p>

                <p><span id="said_no_01978" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“No; it was intended for the
                        drawing-room; but my father was dissatisfied with the painting, and for some
                        time it had no place. Soon after her death I obtained it for my own, and
                        hung it in my bed-chamber — where I shall be happy to show it you; it
                        is very like."</span>
                    <span id="said_no_01979" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Here was another proof. A portrait
                        — very like — of a departed wife, not valued by the husband! He
                        must have been dreadfully cruel to her!</span></p>

                <p><span id="said_no_01980" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine attempted no
                        longer to hide from herself</span>
                    <span id="said_no_01981" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">the nature of the feelings which,
                        in spite of all his attentions, he had previously excited; and what had been
                        terror and dislike before, was now absolute aversion.</span>
                    <span id="said_no_01982" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Yes, aversion! His cruelty to such
                        a charming woman made him odious</span>
                    <span id="said_no_01983" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">to her.</span>
                    <span id="said_no_01984" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">She had often read of such
                        characters, characters which Mr. Allen had been used to call unnatural and
                        overdrawn; but here was proof positive of the contrary.</span></p>

                <p><span id="said_no_01985" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She had just settled this
                        point when the end of the path brought them directly upon the general; and
                        in spite of all her virtuous indignation, she found herself again obliged to
                        walk with him, listen to him, and even to smile when he smiled. Being no
                        longer able, however, to receive pleasure from the surrounding objects, she
                        soon began to walk with lassitude; the general perceived it, and with a
                        concern for her health, which seemed to reproach her for her opinion of him,
                        was most urgent for returning with his daughter to the house.</span>
                    <span id="said_no_01986" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">He would follow them in a quarter
                        of an hour.</span>
                    <span id="said_no_01987" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Again they parted —
                        but</span>
                    <span id="said_no_01988" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Eleanor was called back in
                        half a minute to receive</span>
                    <span id="said_no_01989" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">a strict charge against taking her
                        friend round the abbey till his return.</span>
                    <span id="said_no_01990" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">This second instance of his
                        anxiety to delay what she so much wished for struck Catherine as very
                        remarkable.</span></p>
            
    <div class="footnotes"> </div>
