

     
    
        

                <h3>Chapter 3</h3>


                <p><span id="said_no_00071" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Every morning now brought its
                        regular duties — shops were to be visited; some new part of the town
                        to be looked at; and the pump-room to be attended, where they paraded up and
                        down for an hour, looking at everybody and speaking to no one. The wish of a
                        numerous acquaintance in Bath was still uppermost with Mrs. Allen, and she
                        repeated it after every fresh proof, which every morning brought, of her
                        knowing nobody at all.</span></p>

                <p><span id="said_no_00072" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">They made their appearance in
                        the Lower Rooms; and here fortune was more favourable to our heroine. The
                        master of the ceremonies introduced to her a very gentlemanlike young man as
                        a partner; his name was Tilney. He seemed to be about four or five and
                        twenty, was rather tall, had a pleasing countenance, a very intelligent and
                        lively eye, and, if not quite handsome, was very near it. His address was
                        good, and Catherine felt herself in high luck. There was little leisure for
                        speaking while they danced; but when they were seated at tea, she found him
                        as agreeable as she had already given him credit for being. He talked with
                        fluency and spirit — and there was an archness and pleasantry in his
                        manner which interested, though it was hardly understood by her.</span>
                    <span id="said_no_00073" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">After chatting some
                            time on such matters as naturally arose from the objects around them, he
                            suddenly addressed her with —</span>
                        <span id="said_no_00074" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“I have hitherto been
                            very remiss, madam, in the proper attentions of a partner here; I have
                            not yet asked you how long you have been in Bath; whether you were ever
                            here before; whether you have been at the Upper Rooms, the theatre, and
                            the concert; and how you like the place altogether. I have been very
                            negligent — but are you now at leisure to satisfy me in these
                            particulars? If you are I will begin directly.”</span></p>

                <p><span id="said_no_00075" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“You need not give yourself
                        that trouble, sir.”</span></p>

                <p><span id="said_no_00076" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“No trouble, I assure
                            you, madam.”</span>
                        <span id="said_no_00077" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Then forming his
                            features into a set smile, and affectedly softening his voice, he added,
                            with a simpering air,</span>
                        <span id="said_no_00078" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Have you been long in
                            Bath, madam?”</span></p>

                <p><span id="said_no_00079" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“About a week,
                            sir,”</span>
                        <span id="said_no_00080" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">replied Catherine,
                            trying not to laugh.</span></p>

                <p><span id="said_no_00081" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Really!”</span>
                        <span id="said_no_00082" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">with affected
                            astonishment.</span></p>

                <p>“<span id="said_no_00083" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">Why should you be surprised,
                        sir?”</span></p>

                <p><span id="said_no_00084" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Why, indeed!”</span>
                        <span id="said_no_00085" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said he, in his natural
                            tone.</span>
                        <span id="said_no_00086" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“But some emotion must
                            appear to be raised by your reply, and surprise is more easily assumed,
                            and not less reasonable than any other. Now let us go on. Were you never
                            here before, madam?”</span></p>

                <p><span id="said_no_00087" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Never, sir.”</span></p>

                <p><span id="said_no_00088" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Indeed! Have you yet honoured
                        the Upper Rooms?”</span></p>

                <p><span id="said_no_00089" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Yes, sir, I was there last
                        Monday.”</span></p>

                <p><span id="said_no_00090" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Have you been to the
                        theatre?”</span></p>

                <p><span id="said_no_00091" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Yes, sir, I was at the play
                        on Tuesday.”</span></p>

                <p><span id="said_no_00092" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“To the concert?”</span></p>

                <p><span id="said_no_00093" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Yes, sir, on
                        Wednesday.”</span></p>

                <p><span id="said_no_00094" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“And are you altogether
                        pleased with Bath?”</span></p>

                <p><span id="said_no_00095" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Yes — I like it very
                        well.”</span></p>

                <p><span id="said_no_00096" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Now I must give one
                            smirk, and then we may be rational again.”</span> Catherine turned away
                        her head, not knowing whether she might venture to laugh. <span id="said_no_00097" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“I see what you think of
                            me,”</span>
                        <span id="said_no_00098" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said he gravely
                            —</span>
                        <span id="said_no_00099" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“I shall make but a poor
                            figure in your journal tomorrow.”</span></p>

                <p><span id="said_no_00100" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“My journal!”</span></p>

                <p><span id="said_no_00101" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Yes, I know exactly what you
                        will say: Friday, went to the Lower Rooms; wore my sprigged muslin robe with
                        blue trimmings — plain black shoes — appeared to much advantage;
                        but was strangely harassed by a queer, half-witted man, who would make me
                        dance with him, and distressed me by his nonsense.”</span></p>

                <p><span id="said_no_00102" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Indeed I shall say no such
                        thing.”</span></p>

                <p><span id="said_no_00103" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Shall I tell you what you
                        ought to say?”</span></p>

                <p><span id="said_no_00104" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“If you please.”</span></p>

                <p><span id="said_no_00105" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“I danced with a very
                        agreeable young man, introduced by Mr. King; had a great deal of
                        conversation with him — seems a most extraordinary genius — hope
                        I may know more of him. That, madam, is what I wish you to say.”</span></p>

                <p><span id="said_no_00106" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“But, perhaps, I keep no
                        journal.”</span></p>

                <p><span id="said_no_00107" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Perhaps you are not sitting
                        in this room, and I am not sitting by you. These are points in which a doubt
                        is equally possible. Not keep a journal! How are your absent cousins to
                        understand the tenour of your life in Bath without one? How are the
                        civilities and compliments of every day to be related as they ought to be,
                        unless noted down every evening in a journal? How are your various dresses
                        to be remembered, and the particular state of your complexion, and curl of
                        your hair to be described in all their diversities, without having constant
                        recourse to a journal? My dear madam, I am not so ignorant of young ladies’
                        ways as you wish to believe me; it is this delightful habit of journaling
                        which largely contributes to form the easy style of writing for which ladies
                        are so generally celebrated. Everybody allows that the talent of writing
                        agreeable letters is peculiarly female. Nature may have done something, but
                        I am sure it must be essentially assisted by the practice of keeping a
                        journal.”</span></p>

                <p><span id="said_no_00108" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I have sometimes
                            thought,”</span>
                        <span id="said_no_00109" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Catherine,
                            doubtingly,</span>
                        <span id="said_no_00110" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“whether ladies do write
                            so much better letters than gentlemen! That is — I should not
                            think the superiority was always on our side.”</span></p>

                <p><span id="said_no_00111" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“As far as I have had
                        opportunity of judging, it appears to me that the usual style of
                        letter-writing among women is faultless, except in three
                        particulars.”</span></p>

                <p><span id="said_no_00112" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“And what are
                    they?”</span></p>

                <p><span id="said_no_00113" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“A general deficiency of
                        subject, a total inattention to stops, and a very frequent ignorance of
                        grammar.”</span></p>

                <p><span id="said_no_00114" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Upon my word! I need not have
                        been afraid of disclaiming the compliment. You do not think too highly of us
                        in that way.”</span></p>

                <p><span id="said_no_00115" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“I should no more lay it down
                        as a general rule that women write better letters than men, than that they
                        sing better duets, or draw better landscapes. In every power, of which taste
                        is the foundation, excellence is pretty fairly divided between the
                        sexes.”</span></p>

                <p><span id="said_no_00116" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">They were interrupted by
                            Mrs. Allen:</span>
                        <span id="said_no_00117" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“My dear
                            Catherine,”</span>
                        <span id="said_no_00118" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_00119" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“do take this pin out of
                            my sleeve; I am afraid it has torn a hole already; I shall be quite
                            sorry if it has, for this is a favourite gown, though it cost but nine
                            shillings a yard.”</span></p>

                <p><span id="said_no_00120" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“That is exactly what I
                            should have guessed it, madam,”</span>
                        <span id="said_no_00121" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Mr. Tilney, looking
                            at the muslin.</span></p>

                <p><span id="said_no_00122" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“Do you understand muslins,
                        sir?”</span></p>

                <p><span id="said_no_00123" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Particularly well; I always
                        buy my own cravats, and am allowed to be an excellent judge; and my sister
                        has often trusted me in the choice of a gown. I bought one for her the other
                        day, and it was pronounced to be a prodigious bargain by every lady who saw
                        it. I gave but five shillings a yard for it, and a true Indian
                        muslin.”</span></p>

                <p><span id="said_no_00124" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Mrs. Allen was quite struck
                        by his genius.</span>
                    <span id="said_no_00125" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“Men commonly take so
                            little notice of those things,”</span>
                        <span id="said_no_00126" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said she;</span>
                        <span id="said_no_00127" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“I can never get Mr.
                            Allen to know one of my gowns from another. You must be a great comfort
                            to your sister, sir.”</span></p>

                <p><span id="said_no_00128" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“I hope I am,
                    madam.”</span></p>

                <p><span id="said_no_00129" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“And pray, sir, what do you
                        think of Miss Morland’s gown?”</span></p>

                <p><span id="said_no_00130" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“It is very pretty,
                            madam,”</span>
                        <span id="said_no_00131" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said he, gravely
                            examining it;</span>
                        <span id="said_no_00132" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“but I do not think it
                            will wash well; I am afraid it will fray.”</span></p>

                <p><span id="said_no_00133" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“How can you,”</span>
                        <span id="said_no_00134" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Catherine,
                            laughing,</span>
                        <span id="said_no_00135" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“be so — "</span>
                        <span id="said_no_00136" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She had almost
                            said</span>
                        <span id="said_no_00137" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">“strange.”</span></p>
                
                <p><span id="said_no_00138" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“I am quite of your
                            opinion, sir,”</span>
                        <span id="said_no_00139" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">replied Mrs.
                            Allen;</span>
                        <span id="said_no_00140" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“and so I told Miss
                            Morland when she bought it.”</span></p>

                <p><span id="said_no_00141" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“But then you know, madam,
                        muslin always turns to some account or other; Miss Morland will get enough
                        out of it for a handkerchief, or a cap, or a cloak. Muslin can never be said
                        to be wasted. I have heard my sister say so forty times, when she has been
                        extravagant in buying more than she wanted, or careless in cutting it to
                        pieces.”</span></p>

                <p><span id="said_no_00142" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">“Bath is a charming place,
                        sir; there are so many good shops here. We are sadly off in the country; not
                        but what we have very good shops in Salisbury, but it is so far to go
                        — eight miles is a long way;</span>
                    <span id="said_no_00143" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">Mr. Allen says</span>
                    <span id="said_no_00144" class="said indirect said_tooltip certainty_6" data-toggle="tooltip" title="Mrs. Allen speaking as Mr. Allen" data-placement="auto top">it is nine, measured nine;</span>
                    <span id="said_no_00145" class="said" data-toggle="tooltip" title="Mrs. Allen" data-placement="auto top">but I am sure it cannot be
                        more than eight; and it is such a fag — I come back tired to death.
                        Now, here one can step out of doors and get a thing in five
                    minutes.”</span></p>

                <p><span id="said_no_00146" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Mr. Tilney was polite enough
                        to seem interested in what she said; and she kept him on the subject of
                        muslins till the dancing recommenced.</span>
                    <span id="said_no_00147" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine feared,</span>
                    <span id="said_no_00148" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">as she listened to their
                        discourse,</span>
                    <span id="said_no_00149" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_00150" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">he indulged himself a little too
                        much with the foibles of others.</span>
                    <span id="said_no_00151" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“What are you thinking
                            of so earnestly?”</span>
                        <span id="said_no_00152" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said he, as they walked
                            back to the ballroom;</span>
                        <span id="said_no_00153" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“not of your partner, I
                            hope, for, by that shake of the head, your meditations are not
                            satisfactory.”</span></p>

                <p><span id="said_no_00154" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine coloured, and
                            said,</span>
                        <span id="said_no_00155" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I was not thinking of
                            anything.”</span></p>

                <p><span id="said_no_00156" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“That is artful and deep, to
                        be sure; but I had rather be told at once that you will not tell
                    me.”</span></p>

                <p><span id="said_no_00157" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Well then, I will
                        not.”</span></p>

                <p><span id="said_no_00158" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Thank you; for now we shall
                        soon be acquainted, as I am authorized to tease you on this subject whenever
                        we meet, and nothing in the world advances intimacy so much.”</span></p>

                <p><span id="said_no_00159" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">They danced again; and, when
                        the assembly closed, parted, on the lady’s side at least, with a strong
                        inclination for continuing the acquaintance. Whether she thought of him so
                        much, while she drank her warm wine and water, and prepared herself for bed,
                        as to dream of him when there, cannot be ascertained; but I hope it was no
                        more than in a slight slumber, or a morning doze at most; for if it be true,
                        as a celebrated writer has maintained, that no young lady can be justified
                        in falling in love before the gentleman’s love is declared, it must be very
                        improper that a young lady should dream of a gentleman before the gentleman
                        is first known to have dreamt of her. How proper Mr. Tilney might be as a
                        dreamer or a lover had not yet perhaps entered Mr. Allen’s head, but that he
                        was not objectionable as a common acquaintance for his young charge he was
                        on inquiry satisfied; for he had early in the evening taken pains to know
                        who her partner was, and</span>
                    <span id="said_no_00160" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">had been assured of</span>
                    <span id="said_no_00161" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.003.nar_lowerroomsoc" data-placement="auto top">Mr. Tilney’s
                        being a clergyman, and of a very respectable family in
                        Gloucestershire.</span></p>

            
    <div class="footnotes"> </div>
