

     
    
        

                <h3>Chapter 15</h3>


                <p><span id="said_no_01250" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Early the next day, a note
                        from Isabella, speaking peace and tenderness in every line, and entreating
                        the immediate presence of her friend on a matter of the utmost importance,
                        hastened Catherine, in the happiest state of confidence and curiosity, to
                        Edgar’s Buildings. The two youngest Miss Thorpes were by themselves in the
                        parlour; and, on Anne’s quitting it to call her sister, Catherine took the
                        opportunity of asking the other for some particulars of their yesterday’s
                        party.</span>
                    <span id="said_no_01251" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Maria</span>
                    <span id="said_no_01252" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> desired no greater pleasure
                        than to speak of it; and Catherine immediately learnt</span>
                    <span id="said_no_01253" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_01254" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_mar" data-placement="auto top">it had been altogether the most
                        delightful scheme in the world,</span>
                    <span id="said_no_01255" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_01256" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_mar" data-placement="auto top">nobody could imagine how charming
                        it had been,</span>
                    <span id="said_no_01257" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and</span>
                    <span id="said_no_01258" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_01259" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_mar" data-placement="auto top">it had been more delightful than
                        anybody could conceive.</span>
                    <span id="said_no_01260" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Such was the information of
                        the first five minutes; the second unfolded thus much in detail
                        —</span>
                    <span id="said_no_01261" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_01262" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_mar" data-placement="auto top">they had driven directly to the
                        York Hotel, ate some soup, and bespoke an early dinner, walked down to the
                        pump-room, tasted the water, and laid out some shillings in purses and
                        spars; thence adjoined to eat ice at a pastry-cook’s, and hurrying back to
                        the hotel, swallowed their dinner in haste, to prevent being in the dark;
                        and then had a delightful drive back, only the moon was not up, and it
                        rained a little, and Mr. Morland’s horse was so tired he could hardly get it
                        along.</span></p>

                <p><span id="said_no_01263" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine listened with
                        heartfelt satisfaction.</span>
                    <span id="said_no_01264" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">It appeared that</span>
                    <span id="said_no_01265" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top"> Blaize Castle had never been
                        thought of; and, as for all the rest, there was nothing to regret for half
                        an instant.</span>
                    <span id="said_no_01266" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Maria’s intelligence
                        concluded with a tender effusion of pity for her sister Anne,</span>
                    <span id="said_no_01267" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">whom she represented
                        as</span>
                    <span id="said_no_01268" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_mar" data-placement="auto top">insupportably cross, from being
                        excluded the party.</span></p>

                <p><span id="said_no_01269" class="said" data-toggle="tooltip" title="Maria Thorpe" data-placement="auto top">“She will never forgive me, I
                        am sure; but, you know, how could I help it? John would have me go,
                        for</span>
                    <span id="said_no_01270" class="said" data-toggle="tooltip" title="Maria Thorpe" data-placement="auto top">he vowed</span>
                    <span id="said_no_01271" class="said indirect said_tooltip certainty_8" data-toggle="tooltip" title="Maria Thorpe speaking as John Thorpe" data-placement="auto top">he would not drive her, because
                        she had such thick ankles.</span>
                    <span id="said_no_01272" class="said" data-toggle="tooltip" title="Maria Thorpe" data-placement="auto top">I dare say she will not be in
                        good humour again this month; but I am determined I will not be cross; it is
                        not a little matter that puts me out of temper.”</span></p>

                <p><span id="said_no_01273" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Isabella now entered the room
                        with so eager a step, and a look of such happy importance, as engaged all
                        her friend’s notice.</span>
                    <span id="said_no_01274" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Maria was without
                            ceremony sent away, and Isabella, embracing Catherine, thus
                            began:</span>
                        <span id="said_no_01275" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Yes, my dear Catherine,
                            it is so indeed; your penetration has not deceived you. Oh! That arch
                            eye of yours! It sees through everything.”</span></p>

                <p><span id="said_no_01276" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine replied only by a
                        look of wondering ignorance.</span></p>

                <p><span id="said_no_01277" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Nay, my beloved,
                            sweetest friend,”</span>
                        <span id="said_no_01278" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">continued the
                            other,</span>
                        <span id="said_no_01279" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“compose yourself. I am
                            amazingly agitated, as you perceive. Let us sit down and talk in
                            comfort. Well, and so you guessed it the moment you had my note? Sly
                            creature! Oh! My dear Catherine, you alone, who know my heart, can judge
                            of my present happiness. Your brother is the most charming of men. I
                            only wish I were more worthy of him. But what will your excellent father
                            and mother say? Oh! Heavens! When I think of them I am so
                            agitated!”</span></p>

                <p><span id="said_no_01280" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine’s
                            understanding began to awake: an idea of the truth suddenly darted into
                            her mind; and, with the natural blush of so new an emotion, she cried
                            out,</span>
                        <span id="said_no_01281" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Good heaven! My dear
                            Isabella, what do you mean? Can you — can you really be in love
                            with James?”</span></p>

                <p><span id="said_no_01282" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">This bold surmise, however,
                        she soon learnt comprehended but half the fact. The anxious affection, which
                        she was accused of having continually watched in Isabella’s every look and
                        action, had, in the course of their yesterday’s party, received the
                        delightful confession of an equal love.</span>
                    <span id="said_no_01283" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_isa" data-placement="auto top">Her heart and faith were alike
                        engaged to James.</span>
                    <span id="said_no_01284" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Never had Catherine listened
                        to anything so full of interest, wonder, and joy.</span>
                    <span id="said_no_01285" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Her brother and her friend
                        engaged!</span>
                    <span id="said_no_01286" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">New to such circumstances,
                        the importance of it appeared unspeakably great, and she contemplated it as
                        one of those grand events, of which the ordinary course of life can hardly
                        afford a return. The strength of her feelings she could not express; the
                        nature of them, however, contented her friend.</span>
                    <span id="said_no_01287" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_catisa" data-placement="auto top">The happiness of
                        having such a sister</span>
                    <span id="said_no_01288" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">was their first
                        effusion,</span>
                    <span id="said_no_01289" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and the fair ladies mingled
                        in embraces and tears of joy.</span></p>

                <p><span id="said_no_01290" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Delighting, however, as
                        Catherine sincerely did in the prospect of the connection, it must be
                        acknowledged that Isabella far surpassed her in tender anticipations.</span>
                    <span id="said_no_01291" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“You will be so infinitely
                        dearer to me, my Catherine, than either Anne or Maria: I feel that I shall
                        be so much more attached to my dear Morland’s family than to my
                    own.”</span></p>

                <p><span id="said_no_01292" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">This was a pitch of
                        friendship beyond Catherine.</span></p>

                <p><span id="said_no_01293" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“You are so like your
                            dear brother,”</span>
                        <span id="said_no_01294" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">continued
                            Isabella,</span>
                        <span id="said_no_01295" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“that I quite doted on
                            you the first moment I saw you. But so it always is with me; the first
                            moment settles everything. The very first day that Morland came to us
                            last Christmas — the very first moment I beheld him — my
                            heart was irrecoverably gone. I remember I wore my yellow gown, with my
                            hair done up in braids; and when I came into the drawing-room, and John
                            introduced him, I thought I never saw anybody so handsome
                            before.”</span></p>

                <p><span id="said_no_01296" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Here</span>
                    <span id="said_no_01297" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine secretly
                        acknowledged</span>
                    <span id="said_no_01298" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">the power of love;</span>
                    <span id="said_no_01299" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">for, though exceedingly fond
                        of her brother, and partial to all his endowments, she had never in her life
                        thought him handsome.</span></p>

                <p><span id="said_no_01300" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“I remember too, Miss Andrews
                        drank tea with us that evening, and wore her puce-coloured sarsenet; and she
                        looked so heavenly that I thought your brother must certainly fall in love
                        with her; I could not sleep a wink all right for thinking of it. Oh!
                        Catherine, the many sleepless nights I have had on your brother’s account! I
                        would not have you suffer half what I have done! I am grown wretchedly thin,
                        I know; but I will not pain you by describing my anxiety; you have seen
                        enough of it. I feel that I have betrayed myself perpetually — so
                        unguarded in speaking of my partiality for the church! But my secret I was
                        always sure would be safe with you.”</span></p>

                <p><span id="said_no_01301" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine felt that</span>
                    <span id="said_no_01302" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">nothing could have been
                        safer;</span>
                    <span id="said_no_01303" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">but ashamed of an ignorance
                        little expected, she dared no longer contest the point, nor refuse to have
                        been as full of arch penetration and affectionate sympathy as Isabella chose
                        to consider her. Her brother, she found, was preparing to set off with all
                        speed to Fullerton, to make known his situation and ask consent; and here
                        was a source of some real agitation to the mind of Isabella.</span>
                    <span id="said_no_01304" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine</span>
                    <span id="said_no_01305" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">endeavoured to persuade her,
                        as she was herself persuaded,</span>
                    <span id="said_no_01306" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_01307" class="said fid said_tooltip certainty" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">her father and mother would never oppose their son’s
                        wishes.</span>
                    <span id="said_no_01308" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“It is
                            impossible,”</span>
                        <span id="said_no_01309" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_01310" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“for parents to be more
                            kind, or more desirous of their children’s happiness; I have no doubt of
                            their consenting immediately.”</span></p>

                <p><span id="said_no_01311" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Morland says exactly the
                            same,”</span>
                        <span id="said_no_01312" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">replied Isabella;</span>
                        <span id="said_no_01313" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“and yet I dare not
                            expect it; my fortune will be so small; they never can consent to it.
                            Your brother, who might marry anybody!”</span></p>

                <p><span id="said_no_01314" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Here Catherine again
                        discerned the force of love.</span></p>

                <p><span id="said_no_01315" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Indeed, Isabella, you are too
                        humble. The difference of fortune can be nothing to signify.”</span></p>

                <p><span id="said_no_01316" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Oh! My sweet Catherine, in
                        your generous heart I know it would signify nothing; but we must not expect
                        such disinterestedness in many. As for myself, I am sure I only wish our
                        situations were reversed. Had I the command of millions, were I mistress of
                        the whole world, your brother would be my only choice.”</span></p>

                <p><span id="said_no_01317" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">This charming sentiment,
                        recommended as much by sense as novelty, gave Catherine a most pleasing
                        remembrance of all the heroines of her acquaintance; and she thought her
                        friend never looked more lovely than in uttering the grand idea.</span>
                    <span id="said_no_01318" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I am sure they will
                            consent,”</span>
                        <span id="said_no_01319" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">was her frequent
                            declaration;</span>
                        <span id="said_no_01320" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I am sure they will be
                            delighted with you.”</span></p>

                <p><span id="said_no_01321" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“For my own part,”</span>
                        <span id="said_no_01322" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Isabella,</span>
                        <span id="said_no_01323" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“my wishes are so
                            moderate that the smallest income in nature would be enough for me.
                            Where people are really attached, poverty itself is wealth; grandeur I
                            detest: I would not settle in London for the universe. A cottage in some
                            retired village would be ecstasy. There are some charming little villas
                            about Richmond.”</span></p>

                <p><span id="said_no_01324" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Richmond!”</span>
                        <span id="said_no_01325" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">cried Catherine.</span>
                        <span id="said_no_01326" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“You must settle near
                            Fullerton. You must be near us.”</span></p>

                <p><span id="said_no_01327" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“I am sure I shall be
                        miserable if we do not. If I can but be near you, I shall be satisfied. But
                        this is idle talking! I will not allow myself to think of such things, till
                        we have your father’s answer.</span>
                    <span id="said_no_01328" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">Morland says that</span>
                    <span id="said_no_01329" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Isabella Thorpe speaking as Mr James Morland" data-placement="auto top">by sending it tonight to
                        Salisbury, we may have it tomorrow.</span>
                    <span id="said_no_01330" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">Tomorrow? I know I shall
                        never have courage to open the letter. I know it will be the death of
                        me.”</span></p>

                <p><span id="said_no_01331" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">A reverie succeeded this
                        conviction — and when Isabella spoke again, it was to resolve on the
                        quality of her wedding-gown.</span></p>

                <p><span id="said_no_01332" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Their conference was put an
                        end to by the anxious young lover himself, who came to breathe his parting
                        sigh before he set off for Wiltshire. Catherine wished to congratulate him,
                        but knew not what to say, and her eloquence was only in her eyes. From them,
                        however, the eight parts of speech shone out most expressively, and James
                        could combine them with ease. Impatient for the realization of all that he
                        hoped at home, his adieus were not long; and they would have been yet
                        shorter, had he not been frequently detained by</span>
                    <span id="said_no_01333" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">the urgent
                        entreaties</span>
                    <span id="said_no_01334" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">of his fair one</span>
                    <span id="said_no_01335" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_01336" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_isa" data-placement="auto top">he would go.</span>
                    <span id="said_no_01337" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Twice was he called almost
                        from the door by her eagerness to have him gone.</span>
                    <span id="said_no_01338" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Indeed, Morland, I must
                        drive you away. Consider how far you have to ride. I cannot bear to see you
                        linger so. For heaven’s sake, waste no more time. There, go, go — I
                        insist on it.”</span></p>

                <p><span id="said_no_01339" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The two friends, with hearts
                        now more united than ever, were inseparable for the day; and in schemes of
                        sisterly happiness the hours flew along.</span>
                    <span id="said_no_01340" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Mrs. Thorpe and her
                        son,</span>
                    <span id="said_no_01341" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">who were acquainted with
                        everything, and who seemed only to want Mr. Morland’s consent,</span>
                    <span id="said_no_01342" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">to consider</span>
                    <span id="said_no_01343" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_mrstjohn" data-placement="auto top">Isabella’s
                        engagement as the most fortunate circumstance imaginable for their
                        family,</span>
                    <span id="said_no_01344" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> were allowed to join their
                        counsels, and add their quota of significant looks and mysterious
                        expressions to fill up the measure of curiosity to be raised in the
                        unprivileged younger sisters. To Catherine’s simple feelings, this odd sort
                        of reserve seemed neither kindly meant, nor consistently supported; and its
                        unkindness she would hardly have forborne pointing out, had its
                        inconsistency been less their friend; but Anne and Maria soon set her heart
                        at ease by the sagacity of their</span>
                    <span id="said_no_01345" class="said" data-toggle="tooltip" title="Speaking together Anne Thorpe and Maria Thorpe" data-placement="auto top">“I know what”;</span>
                    <span id="said_no_01346" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and the evening was spent in
                        a sort of war of wit, a display of family ingenuity, on one side in the
                        mystery of an affected secret, on the other of undefined discovery, all
                        equally acute.</span></p>

                <p><span id="said_no_01347" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine was with her friend
                        again the next day, endeavouring to support her spirits and while away the
                        many tedious hours before the delivery of the letters; a needful exertion,
                        for as the time of reasonable expectation drew near, Isabella became more
                        and more desponding, and before the letter arrived, had worked herself into
                        a state of real distress. But when it did come, where could distress be
                        found?</span>
                    <span id="said_no_01348" class="said" data-toggle="tooltip" title="James Morland" data-placement="auto top">“I have had no
                            difficulty in gaining the consent of my kind parents, and am promised
                            that everything in their power shall be done to forward my
                            happiness,”</span>
                    <span id="said_no_01349" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">were the first three lines,
                        and in one moment all was joyful security.</span>
                    <span id="said_no_01350" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The brightest glow was
                        instantly spread over Isabella’s features, all care and anxiety seemed
                        removed, her spirits became almost too high for control, and she called
                        herself without scruple the happiest of mortals.</span></p>

                <p><span id="said_no_01351" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Mrs. Thorpe, with tears of
                        joy, embraced her daughter, her son, her visitor, and could have embraced
                        half the inhabitants of Bath with satisfaction. Her heart was overflowing
                        with tenderness.</span>
                    <span id="said_no_01352" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">It was</span>
                        <span id="said_no_01353" class="said" data-toggle="tooltip" title="Mrs. Thorpe" data-placement="auto top">“dear John”</span>
                        <span id="said_no_01354" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and</span>
                        <span id="said_no_01355" class="said" data-toggle="tooltip" title="Mrs. Thorpe" data-placement="auto top">“dear Catherine”</span>
                        <span id="said_no_01356" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">at every word;</span>
                        <span id="said_no_01357" class="said" data-toggle="tooltip" title="Mrs. Thorpe" data-placement="auto top">“dear Anne and dear
                            Maria”</span>
                        <span id="said_no_01358" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">must immediately be made
                            sharers in their felicity; and two</span>
                        <span id="said_no_01359" class="said" data-toggle="tooltip" title="Mrs. Thorpe" data-placement="auto top">“dears”</span>
                        <span id="said_no_01360" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">at once before the name
                            of Isabella were not more than that beloved child had now well
                            earned.</span>
                    <span id="said_no_01361" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">John himself was no skulker
                        in joy.</span>
                    <span id="said_no_01362" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">He not only bestowed on Mr.
                        Morland the high commendation of</span>
                    <span id="said_no_01363" class="said fid said_tooltip certainty_6" data-toggle="tooltip" title="aus.003.nar_john" data-placement="auto top">being one of the finest fellows
                        in the world,</span>
                    <span id="said_no_01364" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">but swore off many sentences
                        in his praise.</span></p>
                
                <p><span id="said_no_01365" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The letter, whence sprang all
                        this felicity, was short, containing little more than this assurance of
                        success; and every particular was deferred till James could write again. But
                        for particulars Isabella could well afford to wait. The needful was
                        comprised in Mr. Morland’s promise; his honour was pledged to make
                        everything easy; and by what means their income was to be formed, whether
                        landed property were to be resigned, or funded money made over, was a matter
                        in which her disinterested spirit took no concern. She knew enough to feel
                        secure of an honourable and speedy establishment, and her imagination took a
                        rapid flight over its attendant felicities. She saw herself at the end of a
                        few weeks, the gaze and admiration of every new acquaintance at Fullerton,
                        the envy of every valued old friend in Putney, with a carriage at her
                        command, a new name on her tickets, and a brilliant exhibition of hoop rings
                        on her finger.</span></p>

                <p><span id="said_no_01366" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">When the contents of the
                        letter were ascertained, John Thorpe, who had only waited its arrival to
                        begin his journey to London, prepared to set off.</span>
                    <span id="said_no_01367" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Well, Miss
                            Morland,”</span>
                        <span id="said_no_01368" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said he, on finding her
                            alone in the parlour,</span>
                        <span id="said_no_01369" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“I am come to bid you
                            good-bye.”</span>
                    <span id="said_no_01370" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine wished him</span>
                    <span id="said_no_01371" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">a good journey.</span>
                    <span id="said_no_01372" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Without appearing to hear
                        her, he walked to the window, fidgeted about, hummed a tune, and seemed
                        wholly self-occupied.</span></p>

                <p><span id="said_no_01373" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Shall not you be late at
                            Devizes?”</span>
                        <span id="said_no_01374" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said
                        Catherine.</span>
                    <span id="said_no_01375" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">He made no answer; but
                            after a minute’s silence burst out with,</span>
                        <span id="said_no_01376" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“A famous good thing
                            this marrying scheme, upon my soul! A clever fancy of Morland’s and
                            Belle’s. What do you think of it, Miss Morland? I say it is no bad
                            notion.”</span></p>

                <p><span id="said_no_01377" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I am sure I think it a very
                        good one.”</span></p>

                <p><span id="said_no_01378" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Do you? That’s honest, by
                        heavens! I am glad you are no enemy to matrimony, however. Did you ever hear
                        the old song ‘Going to One Wedding Brings on Another?’ I say, you will come
                        to Belle’s wedding, I hope.”</span></p>

                <p><span id="said_no_01379" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Yes; I have promised your
                        sister to be with her, if possible.”</span></p>

                <p><span id="said_no_01380" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“And then you
                            know”</span>
                        <span id="said_no_01381" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">— twisting himself
                            about and forcing a foolish laugh —</span>
                        <span id="said_no_01382" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“I say, then you know,
                            we may try the truth of this same old song.”</span></p>

                <p><span id="said_no_01383" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“May we? But I never sing.
                        Well, I wish you a good journey. I dine with Miss Tilney today, and must now
                        be going home.”</span></p>

                <p><span id="said_no_01384" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“Nay, but there is no such
                        confounded hurry. Who knows when we may be together again? Not but that I
                        shall be down again by the end of a fortnight, and a devilish long fortnight
                        it will appear to me.”</span></p>

                <p><span id="said_no_01385" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Then why do you stay
                            away so long?”</span>
                        <span id="said_no_01386" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">replied Catherine
                            — finding that he waited for an answer.</span></p>

                <p><span id="said_no_01387" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“That is kind of you, however
                        — kind and good-natured. I shall not forget it in a hurry. But you
                        have more good nature and all that, than anybody living, I believe. A
                        monstrous deal of good nature, and it is not only good nature, but you have
                        so much, so much of everything; and then you have such — upon my soul,
                        I do not know anybody like you.”</span></p>

                <p><span id="said_no_01388" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Oh! dear, there are a great
                        many people like me, I dare say, only a great deal better. Good morning to
                        you.”</span></p>

                <p><span id="said_no_01389" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“But I say, Miss Morland, I
                        shall come and pay my respects at Fullerton before it is long, if not
                        disagreeable.”</span></p>

                <p><span id="said_no_01390" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Pray do. My father and mother
                        will be very glad to see you.”</span></p>

                <p><span id="said_no_01391" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“And I hope — I hope,
                        Miss Morland, you will not be sorry to see me.”</span></p>

                <p><span id="said_no_01392" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Oh! dear, not at all. There
                        are very few people I am sorry to see. Company is always
                    cheerful.”</span></p>

                <p><span id="said_no_01393" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“That is just my way of
                        thinking. Give me but a little cheerful company, let me only have the
                        company of the people I love, let me only be where I like and with whom I
                        like, and the devil take the rest, say I. And I am heartily glad to hear you
                        say the same. But I have a notion, Miss Morland, you and I think pretty much
                        alike upon most matters.”</span></p>

                <p><span id="said_no_01394" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Perhaps we may; but it is
                        more than I ever thought of. And as to most matters, to say the truth, there
                        are not many that I know my own mind about.”</span></p>

                <p><span id="said_no_01395" class="said" data-toggle="tooltip" title="John Thorpe" data-placement="auto top">“By Jove, no more do I. It is
                        not my way to bother my brains with what does not concern me. My notion of
                        things is simple enough. Let me only have the girl I like, say I, with a
                        comfortable house over my head, and what care I for all the rest? Fortune is
                        nothing. I am sure of a good income of my own; and if she had not a penny,
                        why, so much the better.”</span></p>

                <p><span id="said_no_01396" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Very true. I think like you
                        there. If there is a good fortune on one side, there can be no occasion for
                        any on the other. No matter which has it, so that there is enough. I hate
                        the idea of one great fortune looking out for another. And to marry for
                        money I think the wickedest thing in existence. Good day. We shall be very
                        glad to see you at Fullerton, whenever it is convenient.”</span>
                    <span id="said_no_01397" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">And away she went. It was
                        not in the power of all his gallantry to detain her longer. With such news
                        to communicate, and such a visit to prepare for, her departure was not to be
                        delayed by anything in his nature to urge; and she hurried away, leaving him
                        to the undivided consciousness of his own happy address, and her explicit
                        encouragement.</span></p>

                <p><span id="said_no_01398" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The agitation which she had
                        herself experienced on first learning her brother’s engagement made her
                        expect to raise no inconsiderable emotion in Mr. and Mrs. Allen, by the
                        communication of the wonderful event. How great was her disappointment! The
                        important affair, which many words of preparation ushered in, had been
                        foreseen by them both ever since her brother’s arrival; and all that they
                        felt on the occasion was comprehended in</span>
                    <span id="said_no_01399" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">a wish for</span>
                    <span id="said_no_01400" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_mrsamra" data-placement="auto top"> the young
                        people’s happiness,</span>
                    <span id="said_no_01401" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">with a remark,</span>
                    <span id="said_no_01402" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">on the gentleman’s
                        side,</span>
                    <span id="said_no_01403" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">in favour of</span>
                    <span id="said_no_01404" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_mra" data-placement="auto top">Isabella’s beauty,</span>
                    <span id="said_no_01405" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and on the lady’s,</span>
                    <span id="said_no_01406" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">of</span>
                    <span id="said_no_01407" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_mrsa" data-placement="auto top">her great good luck.</span>
                    <span id="said_no_01408" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">It was to Catherine the most
                        surprising insensibility. The disclosure, however, of the great secret of
                        James’s going to Fullerton the day before, did raise some emotion in</span>
                    <span id="said_no_01409" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Mrs. Allen.</span>
                    <span id="said_no_01410" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She could not listen to that
                        with perfect calmness, but repeatedly</span>
                    <span id="said_no_01411" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> regretted</span>
                    <span id="said_no_01412" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_mrsa" data-placement="auto top">the necessity of its
                        concealment,</span>
                    <span id="said_no_01413" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> wished</span>
                    <span id="said_no_01414" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_mrsa" data-placement="auto top">she could have known his
                        intention,</span>
                    <span id="said_no_01415" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">wished</span>
                    <span id="said_no_01416" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_mrsa" data-placement="auto top">she could have seen him before he
                        went, as she should certainly have troubled him with her best regards to his
                        father and mother, and her kind compliments to all the Skinners.</span></p>
            
    <div class="footnotes"> </div>
