

     
    
        

                <h3>Chapter 23</h3>


                <p><span id="said_no_01991" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">An hour passed away before
                        the general came in, spent, on the part of his young guest, in no very
                        favourable consideration of his character.</span>
                    <span id="said_no_01992" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">“This lengthened absence, these
                        solitary rambles, did not speak a mind at ease, or a conscience void of
                        reproach.”</span>
                    <span id="said_no_01993" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">At length he appeared; and,
                        whatever might have been the gloom of his meditations, he could still smile
                        with them. Miss Tilney, understanding in part her friend’s curiosity to see
                        the house, soon revived the subject; and her father being, contrary to
                        Catherine’s expectations, unprovided with any pretence for further delay,
                        beyond that of stopping five minutes to order refreshments to be in the room
                        by their return, was at last ready to escort them.</span></p>

                <p><span id="said_no_01994" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">They set forward; and, with a
                        grandeur of air, a dignified step, which caught the eye, but could not shake
                        the doubts of the well-read Catherine, he led the way across the hall,
                        through the common drawing-room and one useless antechamber, into a room
                        magnificent both in size and furniture —</span>
                    <span id="said_no_01995" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">the real drawing-room, used only
                        with company of consequence.</span>
                    <span id="said_no_01996" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">It was very noble — very
                        grand — very charming! —</span>
                    <span id="said_no_01997" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">was all</span>
                    <span id="said_no_01998" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that Catherine had to
                        say,</span>
                    <span id="said_no_01999" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">for her indiscriminating eye
                        scarcely discerned the colour of the satin; and all minuteness of praise,
                        all praise that had much meaning, was supplied by the general: the
                        costliness or elegance of any room’s fitting-up could be nothing to her; she
                        cared for no furniture of a more modern date than the fifteenth century.
                        When the general had satisfied his own curiosity, in a close examination of
                        every well-known ornament, they proceeded into the library, an apartment, in
                        its way, of equal magnificence, exhibiting a collection of books, on which
                        an humble man might have looked with pride. Catherine heard, admired, and
                        wondered with more genuine feeling than before — gathered all that she
                        could from this storehouse of knowledge, by running over the titles of half
                        a shelf, and was ready to proceed. But suites of apartments did not spring
                        up with her wishes. Large as was the building, she had already visited the
                        greatest part; though, on</span>
                    <span id="said_no_02000" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">being told that,</span>
                    <span id="said_no_02001" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">with the addition of the kitchen,
                        the six or seven rooms she had now seen surrounded three sides of the
                        court,</span>
                    <span id="said_no_02002" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> she could scarcely believe
                        it, or overcome the suspicion of there being many chambers secreted.</span>
                    <span id="said_no_02003" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">It was some relief,
                        however, that</span>
                    <span id="said_no_02004" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">they were to return to the rooms
                        in common use, by passing through a few of less importance, looking into the
                        court, which, with occasional passages, not wholly unintricate, connected
                        the different sides;</span>
                    <span id="said_no_02005" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and</span>
                    <span id="said_no_02006" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she was further
                        soothed</span>
                    <span id="said_no_02007" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">in her progress by</span>
                    <span id="said_no_02008" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">being told that</span>
                    <span id="said_no_02009" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">she was treading what had once
                        been a cloister,</span>
                    <span id="said_no_02010" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">having traces of cells
                        pointed out, and observing several doors that were neither opened nor
                        explained to her — by finding herself successively in a billiard-room,
                        and in the general’s private apartment, without comprehending their
                        connection, or being able to turn aright when she left them; and lastly, by
                        passing through a dark little room, owning Henry’s authority, and strewed
                        with his litter of books, guns, and greatcoats.</span></p>

                <p><span id="said_no_02011" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">From the dining-room, of
                        which, though already seen, and always to be seen at five o’clock, the
                        general could not forgo the pleasure of pacing out the length, for the more
                        certain information of Miss Morland, as to what she neither doubted nor
                        cared for, they proceeded by quick communication to the kitchen — the
                        ancient kitchen of the convent, rich in the massy walls and smoke of former
                        days, and in the stoves and hot closets of the present. The general’s
                        improving hand had not loitered here: every modern invention to facilitate
                        the labour of the cooks had been adopted within this, their spacious
                        theatre; and, when the genius of others had failed, his own had often
                        produced the perfection wanted. His endowments of this spot alone might at
                        any time have placed him high among the benefactors of the
                    convent.</span></p>

                <p><span id="said_no_02012" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">With the walls of the kitchen
                        ended all the antiquity of the abbey; the fourth side of the quadrangle
                        having, on account of its decaying state, been removed by the general’s
                        father, and the present erected in its place. All that was venerable ceased
                        here. The new building was not only new, but declared itself to be so;
                        intended only for offices, and enclosed behind by stable-yards, no
                        uniformity of architecture had been thought necessary. Catherine could have
                        raved at the hand which had swept away what must have been beyond the value
                        of all the rest, for the purposes of mere domestic economy; and would
                        willingly have been spared the mortification of a walk through scenes so
                        fallen, had the general allowed it; but</span>
                    <span id="said_no_02013" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">if he had a vanity, it was in the
                        arrangement of his offices;</span>
                    <span id="said_no_02014" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and</span>
                    <span id="said_no_02015" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">as he was convinced
                        that,</span>
                    <span id="said_no_02016" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">to a mind like Miss Morland’s, a
                        view of the accommodations and comforts, by which the labours of her
                        inferiors were softened, must always be gratifying, he should make no
                        apology for leading her on.</span>
                    <span id="said_no_02017" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">They took a slight survey of
                        all; and Catherine was impressed, beyond her expectation, by their
                        multiplicity and their convenience. The purposes for which a few shapeless
                        pantries and a comfortless scullery were deemed sufficient at Fullerton,
                        were here carried on in appropriate divisions, commodious and roomy. The
                        number of servants continually appearing did not strike her less than the
                        number of their offices. Wherever they went, some pattened girl stopped to
                        curtsy, or some footman in dishabille sneaked off.</span>
                    <span id="said_no_02018" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Yet this was an abbey! How
                        inexpressibly different in these domestic arrangements from such as she had
                        read about — from abbeys and castles, in which, though certainly
                        larger than Northanger, all the dirty work of the house was to be done by
                        two pair of female hands at the utmost. How they could get through it all
                        had often amazed Mrs. Allen;</span>
                    <span id="said_no_02019" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and, when Catherine saw what
                        was necessary here, she began to be amazed herself.</span></p>

                <p><span id="said_no_02020" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">They returned to the hall,
                        that the chief staircase might be ascended, and the beauty of its wood, and
                        ornaments of rich carving might be pointed out: having gained the top, they
                        turned in an opposite direction from the gallery in which her room lay, and
                        shortly entered one on the same plan, but superior in length and breadth.
                        She was here shown successively into three large bed-chambers, with their
                        dressing-rooms, most completely and handsomely fitted up; everything that
                        money and taste could do, to give comfort and elegance to apartments, had
                        been bestowed on these; and, being furnished within the last five years,
                        they were perfect in all that would be generally pleasing, and wanting in
                        all that could give pleasure to Catherine.</span>
                    <span id="said_no_02021" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">As they were surveying
                            the last,</span>
                        <span id="said_no_02022" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">the general,</span>
                        <span id="said_no_02023" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">after slightly naming a
                            few of the distinguished characters by whom they had at times been
                            honoured, turned with a smiling countenance to Catherine, and</span>
                        <span id="said_no_02024" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">ventured to hope
                            that henceforward some of their earliest tenants might be</span>
                        <span id="said_no_02025" class="said" data-toggle="tooltip" title="General Tilney" data-placement="auto top">“our friends from
                            Fullerton.”</span>
                    <span id="said_no_02026" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She felt the unexpected
                        compliment, and deeply regretted the impossibility of thinking well of a man
                        so kindly disposed towards herself, and so full of civility to all her
                        family.</span></p>

                <p><span id="said_no_02027" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The gallery was terminated by
                        folding doors, which Miss Tilney, advancing, had thrown open, and passed
                        through, and seemed on the point of doing the same by the first door to the
                        left, in another long reach of gallery, when the general, coming forwards,
                        called her hastily, and, as Catherine thought, rather angrily back,</span>
                    <span id="said_no_02028" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> demanding</span>
                    <span id="said_no_02029" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">whither she were going? — And
                        what was there more to be seen? — Had not Miss Morland already seen
                        all that could be worth her notice? — And did she not suppose her
                        friend might be glad of some refreshment after so much exercise?</span>
                    <span id="said_no_02030" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Miss Tilney drew back
                        directly, and the heavy doors were closed upon the mortified Catherine, who,
                        having seen, in a momentary glance beyond them, a narrower passage, more
                        numerous openings, and symptoms of a winding staircase, believed herself at
                        last within the reach of something worth her notice; and</span>
                    <span id="said_no_02031" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> felt,</span>
                    <span id="said_no_02032" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">as she unwillingly paced
                        back the gallery,</span>
                    <span id="said_no_02033" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_02034" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">she would rather be allowed to
                        examine that end of the house than see all the finery of all the
                        rest.</span>
                    <span id="said_no_02035" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The general’s evident
                            desire of preventing such an examination was an additional
                            stimulant.</span>
                        <span id="said_no_02036" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top"> Something was
                            certainly to be concealed; her fancy, though it had trespassed lately
                            once or twice, could not mislead her here;</span>
                        <span id="said_no_02037" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and what that something
                            was, a short sentence of Miss Tilney’s, as they followed the general at
                            some distance downstairs, seemed to point out:</span>
                        <span id="said_no_02038" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_ele" data-placement="auto top">“I was going to
                            take you into what was my mother’s room — the room in which she
                            died — “</span>
                        <span id="said_no_02039" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">were all her words; but
                            few as they were, they conveyed pages of intelligence to
                            Catherine.</span>
                    <span id="said_no_02040" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">It was no wonder that the general
                        should shrink from the sight of such objects as that room must contain; a
                        room in all probability never entered by him since the dreadful scene had
                        passed, which released his suffering wife, and left him to the stings of
                        conscience.</span></p>

                <p><span id="said_no_02041" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She ventured,</span>
                        <span id="said_no_02042" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">when next alone with
                            Eleanor,</span>
                        <span id="said_no_02043" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">to express</span>
                        <span id="said_no_02044" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">her wish of being
                            permitted to see it, as well as all the rest of that side of the
                            house;</span>
                        <span id="said_no_02045" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and</span>
                        <span id="said_no_02046" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Eleanor promised</span>
                        <span id="said_no_02047" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_ele" data-placement="auto top">to attend her
                            there, whenever they should have a convenient hour.</span>
                        <span id="said_no_02048" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine understood
                            her:</span>
                        <span id="said_no_02049" class="said fid said_tooltip certainty_7" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">the general must
                            be watched from home, before that room could be entered.</span>
                        <span id="said_no_02050" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“It remains as it was, I
                            suppose?”</span> said she, in a tone of feeling.</p>

                <p><span id="said_no_02051" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“Yes, entirely.”</span></p>

                <p><span id="said_no_02052" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“And how long ago may it be
                        that your mother died?”</span></p>

                <p><span id="said_no_02053" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“She has been dead these nine
                        years.”</span>
                    <span id="said_no_02054" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">And nine years,</span>
                    <span id="said_no_02055" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine knew,</span>
                    <span id="said_no_02056" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">was a trifle of time, compared
                        with what generally elapsed after the death of an injured wife, before her
                        room was put to rights.</span></p>

                <p><span id="said_no_02057" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“You were with her, I suppose,
                        to the last?”</span></p>

                <p><span id="said_no_02058" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“No,”</span>
                        <span id="said_no_02059" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Miss Tilney,
                            sighing;</span>
                        <span id="said_no_02060" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“I was unfortunately from
                            home. Her illness was sudden and short; and, before I arrived it was all
                            over.”</span></p>

                <p><span id="said_no_02061" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine’s blood ran cold
                        with the horrid suggestions which naturally sprang from these words.</span>
                    <span id="said_no_02062" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Could it be possible? Could Henry’s
                        father —? And yet how many were the examples to justify even the
                        blackest suspicions!</span>
                    <span id="said_no_02063" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">And, when she saw him in the
                        evening, while she worked with her friend, slowly pacing the drawing-room
                        for an hour together in silent thoughtfulness, with downcast eyes and
                        contracted brow, she felt secure from all possibility of wronging
                        him.</span>
                    <span id="said_no_02064" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">It was the air and attitude of a
                        Montoni! What could more plainly speak the gloomy workings of a mind not
                        wholly dead to every sense of humanity, in its fearful review of past scenes
                        of guilt? Unhappy man!</span>
                    <span id="said_no_02065" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">And the anxiousness of her
                        spirits directed her eyes towards his figure so repeatedly, as to catch Miss
                        Tilney’s notice.</span>
                    <span id="said_no_02066" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“My father,”</span>
                        <span id="said_no_02067" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she whispered,</span>
                        <span id="said_no_02068" class="said" data-toggle="tooltip" title="Eleanor Tilney" data-placement="auto top">“often walks about the
                            room in this way; it is nothing unusual.”</span></p>

                <p><span id="said_no_02069" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“So much the
                            worse!”</span><span id="said_no_02070" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">
                            thought Catherine;</span>
                        <span id="said_no_02071" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">such ill-timed
                            exercise was of a piece with the strange unseasonableness of his morning
                            walks, and boded nothing good.</span></p>

                <p><span id="said_no_02072" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">After an evening, the little
                        variety and seeming length of which made her peculiarly sensible of Henry’s
                        importance among them, she was heartily glad to be dismissed; though it was
                        a look from the general not designed for her observation which sent his
                        daughter to the bell. When the butler would have lit his master’s candle,
                        however, he was forbidden.</span>
                    <span id="said_no_02073" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_gen" data-placement="auto top">The latter was not going to
                        retire.</span>
                    <span id="said_no_02074" class="said" data-toggle="tooltip" title="General Tilney" data-placement="auto top">“I have many pamphlets
                            to finish,”</span>
                        <span id="said_no_02075" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said he to
                            Catherine,</span>
                        <span id="said_no_02076" class="said" data-toggle="tooltip" title="General Tilney" data-placement="auto top">“before I can close my
                            eyes, and perhaps may be poring over the affairs of the nation for hours
                            after you are asleep. Can either of us be more meetly employed? My eyes
                            will be blinding for the good of others, and yours preparing by rest for
                            future mischief.”</span></p>

                <p><span id="said_no_02077" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">But neither the business
                        alleged, nor the magnificent compliment, could win Catherine from thinking
                        that some very different object must occasion so serious a delay of proper
                        repose.</span>
                    <span id="said_no_02078" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">To be kept up for hours, after the
                        family were in bed, by stupid pamphlets was not very likely. There must be
                        some deeper cause: something was to be done which could be done only while
                        the household slept; and the probability that Mrs. Tilney yet lived, shut up
                        for causes unknown, and receiving from the pitiless hands of her husband a
                        nightly supply of coarse food,</span>
                    <span id="said_no_02079" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">was the conclusion which
                        necessarily followed.</span>
                    <span id="said_no_02080" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Shocking as was the idea, it was
                        at least better than a death unfairly hastened, as, in the natural course of
                        things, she must ere long be released. The suddenness of her reputed
                        illness, the absence of her daughter, and probably of her other children, at
                        the time — all favoured the supposition of her imprisonment. Its
                        origin — jealousy perhaps, or wanton cruelty — was yet to be
                        unravelled.</span></p>

                <p><span id="said_no_02081" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">In revolving these matters,
                        while she undressed,</span>
                    <span id="said_no_02082" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">it suddenly struck her
                        as</span>
                    <span id="said_no_02083" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">not unlikely that she might that
                        morning have passed near the very spot of this unfortunate woman’s
                        confinement — might have been within a few paces of the cell in which
                        she languished out her days; for what part of the abbey could be more fitted
                        for the purpose than that which yet bore the traces of monastic division? In
                        the high-arched passage, paved with stone, which already she had trodden
                        with peculiar awe, she well remembered the doors of which the general had
                        given no account. To what might not those doors lead?</span>
                    <span id="said_no_02084" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">In support of the
                        plausibility of this conjecture,</span>
                    <span id="said_no_02085" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">it further occurred to her
                        that</span>
                    <span id="said_no_02086" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">the forbidden gallery, in which
                        lay the apartments of the unfortunate Mrs. Tilney, must be, as certainly as
                        her memory could guide her, exactly over this suspected range of cells, and
                        the staircase by the side of those apartments of which she had caught a
                        transient glimpse, communicating by some secret means with those cells,
                        might well have favoured the barbarous proceedings of her husband.</span>
                    <span id="said_no_02087" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Down that staircase she had
                        perhaps been conveyed in a state of well-prepared insensibility!</span></p>

                <p><span id="said_no_02088" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine sometimes started
                        at the boldness of her own surmises, and sometimes hoped or feared that she
                        had gone too far; but they were supported by such appearances as made their
                        dismissal impossible.</span></p>

                <p><span id="said_no_02089" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The side of the quadrangle,
                        in which she supposed the guilty scene to be acting, being, according to her
                        belief, just opposite her own,</span>
                    <span id="said_no_02090" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">it struck her that,</span>
                    <span id="said_no_02091" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">if judiciously watched, some rays
                        of light from the general’s lamp might glimmer through the lower windows, as
                        he passed to the prison of his wife;</span>
                    <span id="said_no_02092" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and, twice before she
                        stepped into bed, she stole gently from her room to the corresponding window
                        in the gallery, to see if it appeared; but all abroad was dark, and it must
                        yet be too early. The various ascending noises convinced her that the
                        servants must still be up.</span>
                    <span id="said_no_02093" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Till midnight,</span>
                    <span id="said_no_02094" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she supposed</span>
                    <span id="said_no_02095" class="said fid said_tooltip certainty_9" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">it would be in vain to watch; but
                        then, when the clock had struck twelve, and all was quiet, she would, if not
                        quite appalled by darkness, steal out and look once more.</span>
                    <span id="said_no_02096" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The clock struck twelve
                        — and Catherine had been half an hour asleep.</span></p>
            
    <div class="footnotes"> </div>
