

     
    
        

                <h3>Chapter 16</h3>


                <p><span id="said_no_01417" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine’s expectations of
                        pleasure from her visit in Milsom Street were so very high that
                        disappointment was inevitable; and accordingly, though she was most politely
                        received by General Tilney, and kindly welcomed by his daughter, though
                        Henry was at home, and no one else of the party, she found, on her return,
                        without spending many hours in the examination of her feelings, that she had
                        gone to her appointment preparing for happiness which it had not afforded.
                        Instead of finding herself improved in acquaintance with Miss Tilney, from
                        the intercourse of the day, she seemed hardly so intimate with her as
                        before; instead of seeing Henry Tilney to greater advantage than ever, in
                        the ease of a family party, he had never said so little, nor been so little
                        agreeable; and, in spite of their father’s great civilities to her —
                        in spite of his thanks, invitations, and compliments —</span>
                    <span id="said_no_01418" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">it had been a release to get away
                        from him.</span>
                    <span id="said_no_01419" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">It puzzled her to account
                        for all this.</span>
                    <span id="said_no_01420" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">It could not be General Tilney’s
                        fault. That he was perfectly agreeable and good-natured, and altogether a
                        very charming man, did not admit of a doubt, for he was tall and handsome,
                        and Henry’s father. He could not be accountable for his children’s want of
                        spirits, or for her want of enjoyment in his company.</span>
                    <span id="said_no_01421" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The former she hoped at last
                        might have been accidental, and the latter she could only attribute to her
                        own stupidity.</span>
                    <span id="said_no_01422" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Isabella, on hearing
                            the particulars of the visit, gave a different explanation:</span>
                        <span id="said_no_01423" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_isa" data-placement="auto top">“It was all pride,
                            pride, insufferable haughtiness and pride! She had long suspected the
                            family to be very high, and this made it certain. Such insolence of
                            behaviour as Miss Tilney’s she had never heard of in her life! Not to do
                            the honours of her house with common good breeding! To behave to her
                            guest with such superciliousness! Hardly even to speak to
                        her!”</span></p>

                <p><span id="said_no_01424" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“But it was not so bad as
                        that, Isabella; there was no superciliousness; she was very
                    civil.”</span></p>

                <p><span id="said_no_01425" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Oh! Don’t defend her! And
                        then the brother, he, who had appeared so attached to you! Good heavens!
                        Well, some people’s feelings are incomprehensible. And so he hardly looked
                        once at you the whole day?”</span></p>

                <p><span id="said_no_01426" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I do not say so; but he did
                        not seem in good spirits.”</span></p>

                <p><span id="said_no_01427" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“How contemptible! Of all
                        things in the world inconstancy is my aversion. Let me entreat you never to
                        think of him again, my dear Catherine; indeed he is unworthy of
                    you.”</span></p>

                <p><span id="said_no_01428" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Unworthy! I do not suppose he
                        ever thinks of me.”</span></p>

                <p><span id="said_no_01429" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“That is exactly what I say;
                        he never thinks of you. Such fickleness! Oh! How different to your brother
                        and to mine! I really believe John has the most constant heart.”</span></p>

                <p><span id="said_no_01430" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“But as for General Tilney, I
                        assure you it would be impossible for anybody to behave to me with greater
                        civility and attention; it seemed to be his only care to entertain and make
                        me happy.”</span></p>

                <p><span id="said_no_01431" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Oh! I know no harm of him; I
                        do not suspect him of pride. I believe he is a very gentleman-like man. John
                        thinks very well of him, and John’s judgment — ”</span></p>

                <p><span id="said_no_01432" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Well, I shall see how they
                        behave to me this evening; we shall meet them at the rooms.”</span></p>

                <p><span id="said_no_01433" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“And must I go?”</span></p>

                <p><span id="said_no_01434" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Do not you intend it? I
                        thought it was all settled.”</span></p>

                <p><span id="said_no_01435" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Nay, since you make such a
                        point of it, I can refuse you nothing. But do not insist upon my being very
                        agreeable, for my heart, you know, will be some forty miles off. And as for
                        dancing, do not mention it, I beg; that is quite out of the question.
                        Charles Hodges will plague me to death, I dare say; but I shall cut him very
                        short. Ten to one but he guesses the reason, and that is exactly what I want
                        to avoid, so I shall insist on his keeping his conjecture to
                        himself.”</span></p>

                <p><span id="said_no_01436" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Isabella’s opinion of the
                        Tilneys did not influence her friend;</span>
                    <span id="said_no_01437" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she was sure</span>
                    <span id="said_no_01438" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">there had been no insolence in the
                        manners either of brother or sister;</span>
                    <span id="said_no_01439" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and</span>
                    <span id="said_no_01440" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she did not credit</span>
                    <span id="said_no_01441" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top"> there being any pride in their
                        hearts.</span>
                    <span id="said_no_01442" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The evening rewarded her
                        confidence; she was met by one with the same kindness, and by the other with
                        the same attention, as heretofore: Miss Tilney took pains to be near her,
                        and</span>
                    <span id="said_no_01443" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Henry asked her</span>
                    <span id="said_no_01444" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_til" data-placement="auto top">to dance.</span></p>

                <p><span id="said_no_01445" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Having heard</span>
                    <span id="said_no_01446" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">the day before in Milsom
                        Street</span>
                    <span id="said_no_01447" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_01448" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_tilele" data-placement="auto top">their elder
                        brother, Captain Tilney, was expected almost every hour,</span>
                    <span id="said_no_01449" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she was at no loss for the
                        name of a very fashionable-looking, handsome young man, whom she had never
                        seen before, and who now evidently belonged to their party.</span>
                    <span id="said_no_01450" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She</span><span id="said_no_01451" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">looked at him with great
                        admiration, and even</span>
                    <span id="said_no_01452" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">supposed</span>
                    <span id="said_no_01453" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">it possible</span>
                    <span id="said_no_01454" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">that</span>
                    <span id="said_no_01455" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top"> some people might think him
                        handsomer than his brother,</span>
                    <span id="said_no_01456" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">though, in her eyes, his air
                        was more assuming, and his countenance less prepossessing. His taste and
                        manners were beyond a doubt decidedly inferior; for, within her
                        hearing,</span>
                    <span id="said_no_01457" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> he</span>
                    <span id="said_no_01458" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">not only</span>
                    <span id="said_no_01459" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">protested</span>
                    <span id="said_no_01460" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.003.nar_cap" data-placement="auto top">against every thought of dancing
                        himself,</span>
                    <span id="said_no_01461" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">but even</span>
                    <span id="said_no_01462" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">laughed openly at Henry
                        for</span>
                    <span id="said_no_01463" class="said fid said_tooltip certainty_1" data-toggle="tooltip" title="aus.003.nar_cap" data-placement="auto top">finding it possible.</span>
                    <span id="said_no_01464" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">From the latter circumstance
                        it may be presumed that, whatever might be our heroine’s opinion of him, his
                        admiration of her was not of a very dangerous kind; not likely to produce
                        animosities between the brothers, nor persecutions to the lady. He cannot be
                        the instigator of the three villains in horsemen’s greatcoats, by whom she
                        will hereafter be forced into a traveling-chaise and four, which will drive
                        off with incredible speed. Catherine, meanwhile, undisturbed by
                        presentiments of such an evil, or of any evil at all, except that of having
                        but a short set to dance down, enjoyed her usual happiness with Henry
                        Tilney, listening with sparkling eyes to everything he said; and, in finding
                        him irresistible, becoming so herself.</span></p>

                <p><span id="said_no_01465" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">At the end of the first
                        dance, Captain Tilney came towards them again, and, much to Catherine’s
                        dissatisfaction, pulled his brother away. They retired whispering together;
                        and, though her delicate sensibility did not take immediate alarm, and lay
                        it down as fact, that Captain Tilney must have heard some malevolent
                        misrepresentation of her, which he now hastened to communicate to his
                        brother, in the hope of separating them forever, she could not have her
                        partner conveyed from her sight without very uneasy sensations. Her suspense
                        was of full five minutes’ duration; and</span>
                    <span id="said_no_01466" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she was beginning to
                        think</span>
                    <span id="said_no_01467" class="said fid said_tooltip certainty_8" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">it a very long quarter of an
                        hour,</span>
                    <span id="said_no_01468" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">when they both returned, and
                        an explanation was given, by Henry’s requesting to know if she thought her
                        friend, Miss Thorpe, would have any objection to dancing, as his brother
                        would be most happy to be introduced to her.</span>
                    <span id="said_no_01469" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine,</span>
                    <span id="said_no_01470" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> without hesitation,</span>
                    <span id="said_no_01471" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">replied that</span>
                    <span id="said_no_01472" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">she was very sure Miss Thorpe did
                        not mean to dance at all.</span>
                    <span id="said_no_01473" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The cruel reply was passed
                        on to the other, and he immediately walked away.</span></p>

                <p><span id="said_no_01474" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Your brother will not
                            mind it, I know,”</span>
                        <span id="said_no_01475" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_01476" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“because I heard him say
                            before that he hated dancing; but it was very good-natured in him to
                            think of it. I suppose he saw Isabella sitting down, and fancied she
                            might wish for a partner; but he is quite mistaken, for she would not
                            dance upon any account in the world.”</span></p>

                <p><span id="said_no_01477" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Henry smiled, and
                            said,</span>
                        <span id="said_no_01478" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“How very little trouble
                            it can give you to understand the motive of other people’s
                            actions.”</span></p>

                <p><span id="said_no_01479" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Why? What do you
                        mean?”</span></p>

                <p><span id="said_no_01480" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“With you, it is not, How is
                        such a one likely to be influenced, What is the inducement most likely to
                        act upon such a person’s feelings, age, situation, and probable habits of
                        life considered — but, How should I be influenced, What would be my
                        inducement in acting so and so?”</span></p>

                <p><span id="said_no_01481" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I do not understand
                        you.”</span></p>

                <p><span id="said_no_01482" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Then we are on very unequal
                        terms, for I understand you perfectly well.”</span></p>

                <p><span id="said_no_01483" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Me? Yes; I cannot speak well
                        enough to be unintelligible.”</span></p>

                <p><span id="said_no_01484" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Bravo! An excellent satire on
                        modern language.”</span></p>

                <p><span id="said_no_01485" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“But pray tell me what you
                        mean.”</span></p>

                <p><span id="said_no_01486" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Shall I indeed? Do you really
                        desire it? But you are not aware of the consequences; it will involve you in
                        a very cruel embarrassment, and certainly bring on a disagreement between
                        us.</span></p>

                <p><span id="said_no_01487" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“No, no; it shall not do
                        either; I am not afraid.”</span></p>

                <p><span id="said_no_01488" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“Well, then, I only meant that
                        your attributing my brother’s wish of dancing with Miss Thorpe to good
                        nature alone convinced me of your being superior in good nature yourself to
                        all the rest of the world.”</span></p>

                <p><span id="said_no_01489" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine blushed and
                        disclaimed, and the gentleman’s predictions were verified. There was a
                        something, however, in his words which repaid her for the pain of confusion;
                        and that something occupied her mind so much that she drew back for some
                        time, forgetting to speak or to listen, and almost forgetting where she was;
                        till, roused by the voice of Isabella, she looked up and saw her with
                        Captain Tilney preparing to give them hands across.</span></p>

                <p><span id="said_no_01490" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Isabella shrugged her
                        shoulders and smiled, the only explanation of this extraordinary change
                        which could at that time be given; but as it was not quite enough for
                        Catherine’s comprehension, she spoke her astonishment in very plain terms to
                        her partner.</span></p>

                <p><span id="said_no_01491" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I cannot think how it could
                        happen! Isabella was so determined not to dance.”</span></p>

                <p><span id="said_no_01492" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“And did Isabella never change
                        her mind before?”</span></p>

                <p><span id="said_no_01493" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Oh! But, because — And
                        your brother! After what you told him from me, how could he think of going
                        to ask her?”</span></p>

                <p><span id="said_no_01494" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“I cannot take surprise to
                        myself on that head. You bid me be surprised on your friend’s account, and
                        therefore I am; but as for my brother, his conduct in the business, I must
                        own, has been no more than I believed him perfectly equal to. The fairness
                        of your friend was an open attraction; her firmness, you know, could only be
                        understood by yourself.”</span></p>

                <p><span id="said_no_01495" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“You are laughing; but, I
                        assure you, Isabella is very firm in general.”</span></p>

                <p><span id="said_no_01496" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“It is as much as should be
                        said of anyone. To be always firm must be to be often obstinate. When
                        properly to relax is the trial of judgment; and, without reference to my
                        brother, I really think Miss Thorpe has by no means chosen ill in fixing on
                        the present hour.”</span></p>

                <p><span id="said_no_01497" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The friends were not
                            able to get together for any confidential discourse till all the dancing
                            was over; but then, as they walked about the room arm in arm, Isabella
                            thus explained herself:</span>
                        <span id="said_no_01498" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“I do not wonder at your
                            surprise; and I am really fatigued to death. He is such a rattle!
                            Amusing enough, if my mind had been disengaged; but I would have given
                            the world to sit still.”</span></p>

                <p><span id="said_no_01499" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Then why did not
                    you?”</span></p>

                <p><span id="said_no_01500" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Oh! My dear! It would have
                        looked so particular; and you know how I abhor doing that. I refused him as
                        long as I possibly could, but he would take no denial. You have no idea how
                        he pressed me. I begged him to excuse me, and get some other partner —
                        but no, not</span>
                    <span id="said_no_01501" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">he;</span>
                    <span id="said_no_01502" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">after aspiring to my
                        hand,</span>
                    <span id="said_no_01503" class="said indirect said_tooltip certainty_9" data-toggle="tooltip" title="Isabella Thorpe speaking as Frederick Tilney" data-placement="auto top">there was nobody else in the room
                        he could bear to think of; and it was not that he wanted merely to dance, he
                        wanted to be with me.</span>
                    <span id="said_no_01504" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">Oh! Such nonsense! I told him
                        he had taken a very unlikely way to prevail upon me; for, of all things in
                        the world, I hated fine speeches and compliments; and so — and so then
                        I found there would be no peace if I did not stand up. Besides, I thought
                        Mrs. Hughes, who introduced him, might take it ill if I did not: and your
                        dear brother, I am sure he would have been miserable if I had sat down the
                        whole evening. I am so glad it is over! My spirits are quite jaded with
                        listening to his nonsense: and then, being such a smart young fellow, I saw
                        every eye was upon us.”</span></p>

                <p><span id="said_no_01505" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“He is very handsome
                        indeed.”</span></p>

                <p><span id="said_no_01506" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Handsome! Yes, I suppose he
                        may. I dare say people would admire him in general; but he is not at all in
                        my style of beauty. I hate a florid complexion and dark eyes in a man.
                        However, he is very well. Amazingly conceited, I am sure. I took him down
                        several times, you know, in my way.”</span></p>

                <p><span id="said_no_01507" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">When the young ladies next
                        met, they had a far more interesting subject to discuss. James Morland’s
                        second letter was then received, and the kind intentions of his father fully
                        explained. A living, of which Mr. Morland was himself patron and incumbent,
                        of about four hundred pounds yearly value, was to be resigned to his son as
                        soon as he should be old enough to take it; no trifling deduction from the
                        family income, no niggardly assignment to one of ten children. An estate of
                        at least equal value, moreover, was assured as his future
                        inheritance.</span></p>

                <p><span id="said_no_01508" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">James expressed himself on
                        the occasion with becoming gratitude; and the necessity of waiting between
                        two and three years before they could marry, being, however unwelcome, no
                        more than he had expected, was borne by him without discontent.</span>
                    <span id="said_no_01509" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine,</span>
                    <span id="said_no_01510" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top"> whose expectations had been
                        as unfixed as her ideas of her father’s income, and whose judgment was now
                        entirely led by her brother, felt equally well satisfied, and</span>
                    <span id="said_no_01511" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">heartily congratulated
                        Isabella on</span>
                    <span id="said_no_01512" class="said fid said_tooltip certainty_4" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">having everything so pleasantly
                        settled.</span></p>

                <p><span id="said_no_01513" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“It is very charming
                            indeed,”</span>
                        <span id="said_no_01514" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Isabella, with a
                            grave face.</span>
                    <span id="said_no_01515" class="said" data-toggle="tooltip" title="Mrs. Thorpe" data-placement="auto top">“Mr. Morland has
                            behaved vastly handsome indeed,”</span>
                        <span id="said_no_01516" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said the gentle Mrs.
                            Thorpe, looking anxiously at her daughter.</span>
                        <span id="said_no_01517" class="said" data-toggle="tooltip" title="Mrs. Thorpe" data-placement="auto top">“I only wish I could do
                            as much. One could not expect more from him, you know. If he finds he
                            can do more by and by, I dare say he will, for I am sure he must be an
                            excellent good-hearted man. Four hundred is but a small income to begin
                            on indeed, but your wishes, my dear Isabella, are so moderate, you do
                            not consider how little you ever want, my dear.”</span></p>

                <p><span id="said_no_01518" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“It is not on my own account I
                        wish for more; but I cannot bear to be the means of injuring my dear
                        Morland, making him sit down upon an income hardly enough to find one in the
                        common necessaries of life. For myself, it is nothing; I never think of
                        myself.”</span></p>

                <p><span id="said_no_01519" class="said" data-toggle="tooltip" title="Mrs. Thorpe" data-placement="auto top">“I know you never do, my
                        dear; and you will always find your reward in the affection it makes
                        everybody feel for you. There never was a young woman so beloved as you are
                        by everybody that knows you; and I dare say when Mr. Morland sees you, my
                        dear child — but do not let us distress our dear Catherine by talking
                        of such things. Mr. Morland has behaved so very handsome, you know. I always
                        heard he was a most excellent man; and you know, my dear, we are not to
                        suppose but what, if you had had a suitable fortune, he would have come down
                        with something more, for I am sure he must be a most liberal-minded
                        man.”</span></p>

                <p><span id="said_no_01520" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“Nobody can think better of
                        Mr. Morland than I do, I am sure. But everybody has their failing, you know,
                        and everybody has a right to do what they like with their own money.”</span>
                    <span id="said_no_01521" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine was hurt by these
                        insinuations.</span>
                    <span id="said_no_01522" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“I am very sure,”</span>
                        <span id="said_no_01523" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said she,</span>
                        <span id="said_no_01524" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“that my father has
                            promised to do as much as he can afford.”</span></p>

                <p><span id="said_no_01525" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Isabella recollected
                            herself.</span>
                        <span id="said_no_01526" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">“As to that, my sweet
                            Catherine, there cannot be a doubt, and you know me well enough to be
                            sure that a much smaller income would satisfy me. It is not the want of
                            more money that makes me just at present a little out of spirits; I hate
                            money; and if our union could take place now upon only fifty pounds a
                            year, I should not have a wish unsatisfied. Ah! my Catherine, you have
                            found me out. There’s the sting. The long, long, endless two years and
                            half that are to pass before your brother can hold the
                        living.”</span></p>

                <p><span id="said_no_01527" class="said" data-toggle="tooltip" title="Mrs. Thorpe" data-placement="auto top">“Yes, yes, my darling
                            Isabella,”</span>
                        <span id="said_no_01528" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said Mrs. Thorpe,</span>
                        <span id="said_no_01529" class="said" data-toggle="tooltip" title="Mrs. Thorpe" data-placement="auto top">“we perfectly see into
                            your heart. You have no disguise. We perfectly understand the present
                            vexation; and everybody must love you the better for such a noble honest
                            affection.”</span></p>

                <p><span id="said_no_01530" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine’s uncomfortable
                        feelings began to lessen.</span>
                    <span id="said_no_01531" class="said intro_to_fid said_tooltip" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She endeavoured to believe
                        that</span>
                    <span id="said_no_01532" class="said fid said_tooltip certainty_3" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">the delay of the marriage was the
                        only source of Isabella’s regret;</span>
                    <span id="said_no_01533" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">and when she saw her at
                        their next interview as cheerful and amiable as ever, endeavoured to forget
                        that she had for a minute thought otherwise. James soon followed his letter,
                        and was received with the most gratifying kindness.</span></p>
            
    <div class="footnotes"> </div>
