

     
    
        

                <h3>Chapter 27</h3>
                

                <p><span id="said_no_02383" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">The next morning brought the
                        following very unexpected letter from Isabella:</span></p>

                
                    
                        <p><span id="said_no_02384" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">Bath,
                            April</span></p>
                        <p><span id="said_no_02385" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">My dearest Catherine,
                                I received your two kind letters with the greatest delight, and have
                                a thousand apologies to make for not answering them sooner. I really
                                am quite ashamed of my idleness; but in this horrid place one can
                                find time for nothing. I have had my pen in my hand to begin a
                                letter to you almost every day since you left Bath, but have always
                                been prevented by some silly trifler or other. Pray write to me
                                soon, and direct to my own home. Thank God, we leave this vile place
                                tomorrow. Since you went away, I have had no pleasure in it —
                                the dust is beyond anything; and everybody one cares for is gone. I
                                believe if I could see you I should not mind the rest, for you are
                                dearer to me than anybody can conceive. I am quite uneasy about your
                                dear brother, not having heard from him since he went to Oxford; and
                                am fearful of some misunderstanding. Your kind offices will set all
                                right: he is the only man I ever did or could love, and I trust you
                                will convince him of it. The spring fashions are partly down; and
                                the hats the most frightful you can imagine. I hope you spend your
                                time pleasantly, but am afraid you never think of me. I will not say
                                all that I could of the family you are with, because I would not be
                                ungenerous, or set you against those you esteem; but it is very
                                difficult to know whom to trust, and young men never know their
                                minds two days together. I rejoice to say that the young man whom,
                                of all others, I particularly abhor, has left Bath. You will know,
                                from this description, I must mean Captain Tilney, who, as you may
                                remember, was amazingly disposed to follow and tease me, before you
                                went away. Afterwards he got worse, and became quite my shadow. Many
                                girls might have been taken in, for never were such attentions; but
                                I knew the fickle sex too well. He went away to his regiment two
                                days ago, and I trust I shall never be plagued with him again. He is
                                the greatest coxcomb I ever saw, and amazingly disagreeable. The
                                last two days he was always by the side of Charlotte Davis: I pitied
                                his taste, but took no notice of him. The last time we met was in
                                Bath Street, and I turned directly into a shop that he might not
                                speak to me; I would not even look at him. He went into the
                                pump-room afterwards; but I would not have followed him for all the
                                world. Such a contrast between him and your brother! Pray send me
                                some news of the latter — I am quite unhappy about him; he
                                seemed so uncomfortable when he went away, with a cold, or something
                                that affected his spirits. I would write to him myself, but have
                                mislaid his direction; and, as I hinted above, am afraid he took
                                something in my conduct amiss. Pray explain everything to his
                                satisfaction; or, if he still harbours any doubt, a line from
                                himself to me, or a call at Putney when next in town, might set all
                                to rights. I have not been to the rooms this age, nor to the play,
                                except going in last night with the Hodges, for a frolic, at half
                                price: they teased me into it; and I was determined they should not
                                say I shut myself up because Tilney was gone. We happened to sit by
                                the Mitchells, and they pretended to be quite surprised to see me
                                out. I knew their spite: at one time they could not be civil to me,
                                but now they are all friendship; but I am not such a fool as to be
                                taken in by them. You know I have a pretty good spirit of my own.
                                Anne Mitchell had tried to put on a turban like mine, as I wore it
                                the week before at the concert, but made wretched work of it
                                —</span>
                            <span id="said_no_02386" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Isabella Thorpe speaking as Frederick Tilney" data-placement="auto top"> it happened
                                to become my odd face,</span>
                            <span id="said_no_02387" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">I believe, at
                                least</span>
                            <span id="said_no_02388" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">Tilney told me so
                                at the time, and said</span>
                            <span id="said_no_02389" class="said indirect said_tooltip certainty_5" data-toggle="tooltip" title="Isabella Thorpe speaking as Frederick Tilney" data-placement="auto top">every eye was
                                upon me;</span>
                            <span id="said_no_02390" class="said" data-toggle="tooltip" title="Isabella Thorpe" data-placement="auto top">but he is the last
                                man whose word I would take. I wear nothing but purple now: I know I
                                look hideous in it, but no matter — it is your dear brother’s
                                favourite colour. Lose no time, my dearest, sweetest Catherine, in
                                writing to him and to me, Who ever am, etc.</span></p>
                    
                

                <p><span id="said_no_02391" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Such a strain of shallow
                        artifice could not impose even upon Catherine. Its inconsistencies,
                        contradictions, and falsehood struck her from the very first. She was
                        ashamed of Isabella, and ashamed of having ever loved her. Her professions
                        of attachment were now as disgusting as her excuses were empty, and her
                        demands impudent.</span>
                    <span id="said_no_02392" class="said fid said_tooltip certainty1" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">“Write to James on her behalf! No,
                        James should never hear Isabella’s name mentioned by her again.”</span></p>

                <p><span id="said_no_02393" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">On Henry’s arrival from
                        Woodston, she made known to him and Eleanor their brother’s safety,
                        congratulating them with sincerity on it, and reading aloud the most
                        material passages of her letter with strong indignation. When she had
                        finished it —</span>
                    <span id="said_no_02394" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“So much for
                            Isabella,”</span>
                        <span id="said_no_02395" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">she cried,</span>
                        <span id="said_no_02396" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“and for all our
                            intimacy! She must think me an idiot, or she could not have written so;
                            but perhaps this has served to make her character better known to me
                            than mine is to her. I see what she has been about. She is a vain
                            coquette, and her tricks have not answered. I do not believe she had
                            ever any regard either for James or for me, and I wish I had never known
                            her.”</span></p>

                <p><span id="said_no_02397" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“It will soon be as if
                            you never had,”</span>
                        <span id="said_no_02398" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">said
                    Henry.</span></p>

                <p><span id="said_no_02399" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“There is but one thing that I
                        cannot understand. I see that she has had designs on Captain Tilney, which
                        have not succeeded; but I do not understand what Captain Tilney has been
                        about all this time. Why should he pay her such attentions as to make her
                        quarrel with my brother, and then fly off himself?”</span></p>

                <p><span id="said_no_02400" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“I have very little to say for
                        Frederick’s motives, such as I believe them to have been. He has his
                        vanities as well as Miss Thorpe, and the chief difference is, that, having a
                        stronger head, they have not yet injured himself. If the effect of his
                        behaviour does not justify him with you, we had better not seek after the
                        cause.”</span></p>

                <p><span id="said_no_02401" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Then you do not suppose he
                        ever really cared about her?”</span></p>

                <p><span id="said_no_02402" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“I am persuaded that he never
                        did.”</span></p>

                <p><span id="said_no_02403" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“And only made believe to do
                        so for mischief’s sake?”</span></p>

                <p>Henry bowed his assent.</p>

                <p><span id="said_no_02404" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“Well, then, I must say that I
                        do not like him at all. Though it has turned out so well for us, I do not
                        like him at all. As it happens, there is no great harm done, because I do
                        not think Isabella has any heart to lose. But, suppose he had made her very
                        much in love with him?”</span></p>

                <p><span id="said_no_02405" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“But we must first suppose
                        Isabella to have had a heart to lose — consequently to have been a
                        very different creature; and, in that case, she would have met with very
                        different treatment.”</span></p>

                <p><span id="said_no_02406" class="said" data-toggle="tooltip" title="Catherine Morland" data-placement="auto top">“It is very right that you
                        should stand by your brother.”</span></p>

                <p><span id="said_no_02407" class="said" data-toggle="tooltip" title="Henry Tilney" data-placement="auto top">“And if you would stand by
                        yours, you would not be much distressed by the disappointment of Miss
                        Thorpe. But your mind is warped by an innate principle of general integrity,
                        and therefore not accessible to the cool reasonings of family partiality, or
                        a desire of revenge.”</span></p>

                <p><span id="said_no_02408" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">Catherine was complimented
                        out of further bitterness.</span>
                    <span id="said_no_02409" class="said fid said_tooltip certainty_5" data-toggle="tooltip" title="aus.003.nar_cat" data-placement="auto top">Frederick could not be
                        unpardonably guilty, while Henry made himself so agreeable.</span>
                    <span id="said_no_02410" class="said" data-toggle="tooltip" title="aus.003.nar" data-placement="auto top">She resolved on not
                        answering Isabella’s letter, and tried to think no more of it.</span></p>
            
    <div class="footnotes"> </div>
